/****** Object:  View [dbo].[VW_PSR_DB]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_PSR_DB]'))
EXEC dbo.sp_executesql @statement = N'

-- =============================================
-- Author:		Vidyadhar
-- Create date: 18-11-2021
-- Description:	Create VW_PSR
-- =============================================
CREATE     VIEW [dbo].[VW_PSR_DB]
as
SELECT 
 ''EMPLOYEEID'' as EMPLOYEEID
,''LOGINID'' as LOGINID
,''EMPLOYEENAME'' as EMPLOYEENAME
,''Mobile'' as Mobile
,''State'' as State
,''Nationality'' as Nationality
,''confirmn_Dt'' as confirmn_Dt
,''COUNTRYNAME'' as COUNTRYNAME
,''EMPLOYEEDESIGNATION'' as EMPLOYEEDESIGNATION
,''EMPLOYEEEMAIL'' as EMPLOYEEEMAIL
,''DATEOFJOINING'' as DATEOFJOINING
,''GRADE'' as GRADE
,''LOCATION'' as LOCATION
,''Status'' as Status
,''DATEOFTERMINATION'' as DATEOFTERMINATION
,''ResidentialStatus'' as ResidentialStatus
,''SBU'' as SBU
,''ENTITY'' as ENTITY
,''ACCOUNTNO'' as ACCOUNTNO
,''DEPARTMENT'' as DEPARTMENT
,''PANNUMBER'' as PANNUMBER
,''DEPOSITORYPARTICIPANTNO'' as DEPOSITORYPARTICIPANTNO
,''DEPOSITORYNAME'' as DEPOSITORYNAME
,''DEPOSITORYIDNUMBER'' as DEPOSITORYIDNUMBER
,''CONFSTATUS'' as CONFSTATUS
,''CLIENTIDNUMBER'' as CLIENTIDNUMBER
,''WARDNUMBER'' as WARDNUMBER
,''EMPLOYEEADDRESS'' as EMPLOYEEADDRESS
,''EMPLOYEEPHONE'' as EMPLOYEEPHONE
,''Insider'' as Insider
,''DematAccountType'' as DematAccountType
,''LWD'' as LWD
,''DPRECORD'' as DPRECORD
,''REASONFORTERMINATION'' as REASONFORTERMINATION
,''BROKER_DEP_TRUST_CMP_NAME'' as BROKER_DEP_TRUST_CMP_NAME
,''BROKER_DEP_TRUST_CMP_ID'' as BROKER_DEP_TRUST_CMP_ID
,''BROKER_ELECT_ACC_NUM'' as BROKER_ELECT_ACC_NUM
,''COST_CENTER'' as COST_CENTER
,''PushDate'' as PushDate
UNION ALL
SELECT 
EMPLOYEEID
,LOGINID
,EMPLOYEENAME
,'''' as Mobile
,'''' as State
,'''' as Nationality
,'''' as confirmn_Dt
,'''' as COUNTRYNAME
,EMPLOYEEDESIGNATION
,EMPLOYEEEMAIL
,CONVERT(VARCHAR(500),ISNULL(DATEOFJOINING,'''')) as DATEOFJOINING
,GRADE
,LOCATION
,Status
,CONVERT(VARCHAR(500),ISNULL(DATEOFTERMINATION,'''')) as DATEOFTERMINATION
,ISNULL(ResidentialStatus,'''') as ResidentialStatus
,SBU
,ENTITY
,ACCOUNTNO
,DEPARTMENT
,PANNUMBER
,DEPOSITORYPARTICIPANTNO
,DEPOSITORYNAME
,DEPOSITORYIDNUMBER
,CONFSTATUS
,CLIENTIDNUMBER
,WARDNUMBER
,EMPLOYEEADDRESS
,EMPLOYEEPHONE
,Insider
,DematAccountType
,CONVERT(VARCHAR(500),ISNULL(LWD,'''')) as LWD
,'''' as DPRECORD
,ISNULL(REASONFORTERMINATION,'''') as REASONFORTERMINATION
,BROKER_DEP_TRUST_CMP_NAME
,BROKER_DEP_TRUST_CMP_ID
,BROKER_ELECT_ACC_NUM
,COST_CENTER
,CONVERT(VARCHAR(500),GETDATE()) as PushDate
FROM PersonalStatus_rpt

' 
GO
