/****** Object:  StoredProcedure [dbo].[PROC_GET_FMV_VALUE]    Script Date: 7/8/2022 3:00:41 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_FMV_VALUE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_FMV_VALUE]    Script Date: 7/8/2022 3:00:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[PROC_GET_FMV_VALUE]	
	@EMPLOYEE_DETAILS dbo.TYPE_FMV_VALUE READONLY,
	@INSTRUMENT_IDs	BIGINT = NULL,
	@CalledFrom VARCHAR(50) = NULL
AS
BEGIN
	
	SET NOCOUNT ON;		
  
	DECLARE @EXCEPTFOR_FMV TINYINT, @EXCEPT_FMV VARCHAR(50), @ResidentialID BIGINT, @CountryID BIGINT, @CURRENTDATE DATETIME,
			@EMPLOYEE_STATUS INT, @PRICEPERIODID NVARCHAR(200), @MSEID NVARCHAR(50), @CONCATSTRING VARCHAR(4000), @PRICEDAYS INT,
			@FMVVALUE BIGINT, @CLOSEPRICE DECIMAL(18,4), @STOCKEXCHANGETYPE VARCHAR(200), @ID_M BIGINT, @STOCKPRICE NVARCHAR(1000),
			@SQLTEXT NVARCHAR(MAX), @FINALVESTINGDATE VARCHAR(200), @EVENTDATE VARCHAR(200), @EVENTDATE1 DATETIME, 
			@TRANSACTIONDATE NVARCHAR(1000), @Count INT, @ISTRADINGDAYS TINYINT, @PRICEDAY VARCHAR(50), @INCIDENCEDATEID VARCHAR(50),
			@INCIDENCEDATE VARCHAR(50), @SQLQUERY NVARCHAR(1000), @MINVALUE INT, @MAXVALUE INT, @STARTDATE  VARCHAR(200), 
			@ENDATE  VARCHAR(200), @OPENIGPRICE  DECIMAL(18,4), @CLOSINGPRICE  DECIMAL(18,4), @STOCKEXCHANGE VARCHAR(50), @TRADINGVOLUME VARCHAR(50), 
			@AVGOPENCLOSEPRICE  DECIMAL(18,4), @INSTRUMENT_ID BIGINT, @EMPLOYEE_ID VARCHAR(50), @GRANTOPTIONID VARCHAR(100), @GRANTDATE VARCHAR(200),
			@VESTINGDATE VARCHAR(200), @EXERCISE_DATE  DATETIME, @FMV_PRICE  DECIMAL(18,4), @MN_VALUE INT, @MX_VALUE INT, @EMPLOYEE_COUNTRY_ID INT,
			@TRANSDATEID NVARCHAR(1000),@TRANSDATE NVARCHAR(1000),@MNVAL INT, @MXVAL INT,@VALIDDATE VARCHAR(200),@TAXFLAG CHAR(1),@FORMULATYPE VARCHAR(50),
            @SCHEMEID  NVARCHAR(100),@CALCULATE_TAX NVARCHAR(100),@CALCUALTE_TAX_PRIOR_DAYS INT,  @STOCKEXCHANGECODE CHAR(1),@TEMP_TAXFLAG VARCHAR(50),
            @TAXFLAG_HEADER CHAR(1),@ISLISTED CHAR(1),@IsDataExists AS INTEGER ,@UnlistedCount AS INTEGER , @FMVDATE AS DATE,@Is_FMVExists AS INTEGER 
            , @CHK_TRNONTRDAY INT , @CALCULATE_TAX_PREVESTING NVARCHAR(100), @CALCULATE_PREVESTING_DATE DATETIME, @BEFORE_VESTING_DATE INT,@IS_PAYMENT_MODE_SELECTED TINYINT,@CALCUALTE_TAX_PRIOR_DAYS_PREVESTING INT,
            @IS_PREVESTING INT=0
     -- CREATE TEMP TABLE --
	CREATE TABLE #TEMP_FILTER_FMVDATA
	(
		FFC_ID BIGINT,FORNULA_NAME NVARCHAR(1000),MSE_ID NVARCHAR(50),Residential_ID BIGINT,FORMULA_DESCRIPTION NVARCHAR(MAX),TRANS_DATE_ID NVARCHAR(1000),
		PRICE_DAY_ID NVARCHAR(1000), TRADING_VOL_ID  NVARCHAR(1000),STOCK_PRICE_ID  NVARCHAR(1000), PRICE_PERIOD NVARCHAR(200),PRICE_PERIOD_DAY INT,IS_TRADINGDAYS TINYINT
	) 
	     
	CREATE TABLE #TEMP_AVGPRICE
	(  
		ID INT IDENTITY(1,1) NOT NULL,STOCKPRICE  DECIMAL(18,4),Volume  DECIMAL(18,4),StockExchange VARCHAR(50),
		TransactionDate DATETIME
	)     
	
	CREATE TABLE #TEMP_FILTER_DATA
	(  
		STOCKPRICE  DECIMAL(18,4),Volume  DECIMAL(18,4)
	)   
	 
	CREATE TABLE #TEMP_CALENDERDAYS
	(
		id INT IDENTITY(1,1) NOT NULL, CALENDERDATES VARCHAR(200)	
	)  
	
	CREATE TABLE #TEMP_FILTER_CALENDERDAYS
	(
		CALENDERDATES	DATETIME
	)
	
	CREATE TABLE #TEMP_TRADINGDAYS
	(
		ID INT IDENTITY(1,1 )NOT NULL, TRADINGDATES DATETIME
	)  
	CREATE TABLE #TEMP_COMPARE_DATA
	(  
		STOCKPRICE  DECIMAL(18,4),Volume  DECIMAL(18,4),StockExchange VARCHAR(50)
	) 
	
	CREATE TABLE #TEMP_MULTIPLE_STOCK
	(  
		ID INT IDENTITY(1,1) NOT NULL, STOCKOPEN_HIGHPRICE DECIMAL(18,4), STOCKCLOSE_LOWPRICE  DECIMAL(18,4), Volume  DECIMAL(18,4),
		StockExchange VARCHAR(50), TransactionDate DATETIME
	) 
	 
	CREATE TABLE #TEMP_EMPLOYEE_DETAILS
	(  
		ID INT IDENTITY(1,1) NOT NULL, INSTRUMENT_ID BIGINT, EMPLOYEE_ID  VARCHAR(50),GRANTOPTIONID VARCHAR(100), GRANTDATE VARCHAR(200),
		VESTINGDATE VARCHAR(200), EXERCISE_DATE  DATETIME,TEMP_TAXFLAG VARCHAR(50)
	)   
	  
	CREATE TABLE #TEMP_FMV_DETAILS
	(  
		ID INT IDENTITY(1,1) NOT NULL, INSTRUMENT_ID BIGINT, EMPLOYEE_ID  VARCHAR(50), GRANTOPTIONID VARCHAR(100), GRANTDATE VARCHAR(200),
		VESTINGDATE VARCHAR(200), EXERCISE_DATE DATETIME,FMV_VALUE DECIMAL(18,4) NULL,TAXFLAG CHAR(1) NULL,TAXFLAG_HEADER CHAR(1) NULL
	)  
	
	CREATE TABLE #TEMP_NON_TRADING_DAYS
	( 
		ID INT IDENTITY(1,1 )NOT NULL, NONTRADINGDATES DATETIME
	)

	INSERT INTO #TEMP_EMPLOYEE_DETAILS 
	(
		INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, GRANTDATE, VESTINGDATE, EXERCISE_DATE,TEMP_TAXFLAG
	)
	SELECT  
		INSTRUMENT_ID, (SELECT TOP 1 EmployeeID from EmployeeMaster Where LoginID=EMPLOYEE_ID ORDER BY LastUpdatedOn desc), GRANTOPTIONID, GRANTDATE,VESTINGDATE, EXERCISE_DATE,TEMP_TAXFLAG
	FROM @EMPLOYEE_DETAILS
		 				 

	BEGIN TRY
		-- GET MIN AND MAX VALUE --
		SELECT @MN_VALUE = MIN(ID ),@MX_VALUE = MAX(ID) FROM #TEMP_EMPLOYEE_DETAILS
  	
		WHILE(@MN_VALUE <= @MX_VALUE)
		BEGIN	
		
			
		    SET @FMV_PRICE = 0		
				
			SELECT 
				@INSTRUMENT_ID = INSTRUMENT_ID, @EMPLOYEE_ID = EMPLOYEE_ID, @GRANTOPTIONID = GRANTOPTIONID,@GRANTDATE = GRANTDATE, @VESTINGDATE=VESTINGDATE, 
				@EXERCISE_DATE = EXERCISE_DATE,@TEMP_TAXFLAG = TEMP_TAXFLAG
			FROM 
				#TEMP_EMPLOYEE_DETAILS 
			WHERE 
				ID = @MN_VALUE

			SELECT 
				@EXCEPTFOR_FMV = EXCEPT_FOR_FMV_VAL,@EXCEPT_FMV = EXCEPT_FOR_FMV  
			FROM 
				COMPANY_INSTRUMENT_MAPPING  
			WHERE 
				MIT_ID = @INSTRUMENT_ID
  
            DELETE FROM #TEMP_FILTER_FMVDATA

		    SET @ISLISTED = (SELECT ListedYN FROM CompanyParameters)

			SET @SCHEMEID = (SELECT SchemeId FROM GrantOptions WHERE GrantOptionId = @GRANTOPTIONID)					   
			
			SELECT 
				@CALCULATE_TAX = CALCULATE_TAX, @CALCUALTE_TAX_PRIOR_DAYS = CALCUALTE_TAX_PRIOR_DAYS, @CALCULATE_TAX_PREVESTING=CALCULATE_TAX_PREVESTING,@CALCUALTE_TAX_PRIOR_DAYS_PREVESTING=CALCUALTE_TAX_PRIOR_DAYS_PREVESTING
			FROM 
				Scheme 
			WHERE 
				SchemeId = @SCHEMEID

			
			/* PREVESTING SETTING*/

			IF EXISTS (SELECT * FROM AUTO_EXERCISE_PAYMENT_CONFIG WHERE SCHEME_ID = @SCHEMEID AND ISNULL(IS_APPROVE,0)=1)	
		    BEGIN		
				 
				SELECT @BEFORE_VESTING_DATE=BEFORE_VESTING_DATE,@IS_PAYMENT_MODE_SELECTED=ISNULL(IS_PAYMENT_MODE_SELECTED,0) FROM AUTO_EXERCISE_PAYMENT_CONFIG WHERE SCHEME_ID = @SCHEMEID AND ISNULL(IS_APPROVE,0)=1
				
				SET @CALCULATE_PREVESTING_DATE=(SELECT DATEADD(DAY,@BEFORE_VESTING_DATE,GETDATE()))	
				
				IF(CONVERT(DATE,@CALCULATE_PREVESTING_DATE)=CONVERT(DATE,@VESTINGDATE) AND @IS_PAYMENT_MODE_SELECTED=1)
				BEGIN
					SET @IS_PREVESTING=1
					SET @CALCULATE_TAX=@CALCULATE_TAX_PREVESTING
					SET @CALCUALTE_TAX_PRIOR_DAYS=@CALCUALTE_TAX_PRIOR_DAYS_PREVESTING
					
				END
				
			END
			
			/* END OF PREVESTING SETTING*/

            IF(@ISLISTED = 'Y')
            BEGIN
			-- FOR EXCEPTION (RESIDENT STATUS/COUNTRY)
		     IF(@EXCEPTFOR_FMV = 1) 
			BEGIN 
				IF(@EXCEPT_FMV = 'R')
				BEGIN  
					
					SELECT @EMPLOYEE_STATUS = RT.id 
					FROM EmployeeMaster AS EM
					INNER JOIN ResidentialType AS RT ON EM.ResidentialStatus = RT.ResidentialStatus
					WHERE EM.EmployeeID = @EMPLOYEE_ID


					PRINT 'EXCEPTION FOR R'
					SELECT @INCIDENCEDATEID = dbo.FN_GET_COM_CODE_VALUE(EVENT_OF_INCIDENCE_ID)FROM PERQUISITE_FORMULA_CONFIG WHERE RESIDENTIAL_ID > 0
					
					IF(@INCIDENCEDATEID = 'Grant Date')
					BEGIN
						SET  @INCIDENCEDATE = @GRANTDATE
					END
					ELSE IF(@INCIDENCEDATEID = 'Vesting Date')
					BEGIN
						 SET  @INCIDENCEDATE = @VESTINGDATE
					END
					ELSE IF(@INCIDENCEDATEID = 'Exercise Date')
					BEGIN
						 SET  @INCIDENCEDATE = @EXERCISE_DATE
					END
					       
					SET @TRANSDATEID =
	                (  
	                    SELECT TOP(1) 
								CASE  WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date')THEN 'Grant Date'
									  WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date')THEN 'Vesting Date'	
									  WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date')THEN 'Exercise Date'
							    END AS 'TransactionDate' 
	                    FROM FMV_FORMULA_CONFIG  AS FFC
								INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS AS CIMPD ON FFC.Residential_ID = CIMPD.RESIDENTIAL_ID		  
	                    WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV' AND CIMPD.ACTIVE = 1 		    
								AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
								AND CIMPD.RESIDENTIAL_ID = @EMPLOYEE_STATUS  AND FFC.MIT_ID = @INSTRUMENT_ID
	                    ORDER BY FFC_ID DESC
					 )  
					       
					IF(@TRANSDATEID = 'Grant Date')    
							SET  @TRANSDATE = @GRANTDATE                   
					ELSE IF(@TRANSDATEID = 'Vesting Date')    
							 SET  @TRANSDATE = @VESTINGDATE    
					ELSE IF(@TRANSDATEID = 'Exercise Date')     
							 SET  @TRANSDATE = @EXERCISE_DATE
					       
					IF((SELECT COUNT(*) AS NonTradeDay FROM NonTradingDays WHERE CONVERT(DATE,NonTradDay) = CONVERT(DATE,@TRANSDATE)) > 0)
					BEGIN 					
						 -- FOR NON TRADIND DAY
						INSERT INTO #TEMP_FILTER_FMVDATA		        
						SELECT TOP(1)FFC.FFC_ID,FFC.FORNULA_NAME,FFC.MSE_ID,FFC.Residential_ID,FORMULA_DESCRIPTION,			 
								CASE WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date') THEN 'GrantDate'
									 WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date') THEN 'FinalVestingDate'	
									 WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date')THEN 'ExerciseDate' END AS 'TransactionDate',			 
								dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) as Price ,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) As TradingVolume  ,
								CASE WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price') THEN 'OpenPrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price') THEN 'ClosePrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price') THEN 'HighPrice'
									 WHEN( dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price') THEN 'LowPrice'
									 WHEN( dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing') THEN 'OpenPrice,ClosePrice'
									WHEN( dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low') THEN 'HighPrice,LowPrice' END AS 'StockPrice'			 
								,FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
						FROM  FMV_FORMULA_CONFIG  AS FFC	
							  INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS AS CIMPD ON FFC.Residential_ID = CIMPD.RESIDENTIAL_ID		  
						WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV' AND CIMPD.ACTIVE = 1 		    
							  AND((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
							  AND CIMPD.RESIDENTIAL_ID = @EMPLOYEE_STATUS AND FFC.IS_TRADINGDAYS = 0	AND FFC.MIT_ID = @INSTRUMENT_ID   	  		   
						ORDER BY FFC_ID DESC
					END
					ELSE
					BEGIN
						 -- FOR TRADING DAY --
						 INSERT INTO #TEMP_FILTER_FMVDATA		        
						 SELECT TOP(1)FFC.FFC_ID,FFC.FORNULA_NAME,FFC.MSE_ID ,FFC.Residential_ID,FORMULA_DESCRIPTION,			 
								 CASE WHEN (DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date') THEN 'GrantDate'
									  WHEN (DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date') THEN 'FinalVestingDate'	
									  WHEN (DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date') THEN 'ExerciseDate' END AS 'TransactionDate',			 
								 dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) as Price ,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) As TradingVolume  ,
								 CASE  WHEN (dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price') THEN 'OpenPrice'
									   WHEN (dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price') THEN 'ClosePrice'
									   WHEN (dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price') THEN 'HighPrice'
									   WHEN (dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price') THEN 'LowPrice'
									   WHEN (dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing') THEN 'OpenPrice,ClosePrice'
									   WHEN (dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low') THEN 'HighPrice,LowPrice' 
								 END AS 'StockPrice'			 
								 ,FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
						 FROM FMV_FORMULA_CONFIG  AS FFC		  		  
							   INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS AS CIMPD ON FFC.Residential_ID = CIMPD.RESIDENTIAL_ID		  
						WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV' AND CIMPD.ACTIVE = 1 AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
							  AND CIMPD.RESIDENTIAL_ID = @EMPLOYEE_STATUS  AND FFC.IS_TRADINGDAYS = 1 
					    ORDER BY FFC_ID DESC					 
					END
					
					SELECT @PRICEPERIODID = PRICE_PERIOD,@PRICEDAYS = PRICE_PERIOD_DAY, @STOCKPRICE = STOCK_PRICE_ID,@MSEID = MSE_ID ,@TRANSACTIONDATE = TRANS_DATE_ID,@PRICEDAY = PRICE_DAY_ID,@TRADINGVOLUME = TRADING_VOL_ID,@ISTRADINGDAYS = IS_TRADINGDAYS FROM #TEMP_FILTER_FMVDATA	    	    
				END
				ELSE IF(@EXCEPT_FMV = 'C')
				BEGIN
				
				 -- GET EMPLOYEE COUNTRY --  					 
					SELECT TOP 1 @EMPLOYEE_COUNTRY_ID =  sub.Country
					FROM 
					(
					 SELECT CASE dbo.FN_GET_COM_CODE_VALUE(FFC.TRANS_DATE_ID) 
								WHEN 'Grant Date' THEN CONVERT(DATE,@GRANTDATE)
								WHEN 'Vesting Date' THEN CONVERT(DATE,@VESTINGDATE)
								WHEN  'Exercise Date' THEN CONVERT(DATE,@EXERCISE_DATE)
						    END AS TransDate, 

						    (
								 SELECT TOP 1 CM.ID 
								 FROM AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD AS ATM  
									  INNER JOIN CountryMaster AS CM ON CM.CountryName = ATM.[Moved To] 
					     		 WHERE ATM.EmployeeId= @EMPLOYEE_ID
									   AND UPPER(Field) =UPPER('Tax Identifier Country') AND  
									   CONVERT(DATE,ATM.[From Date of Movement]) <= CONVERT(DATE, CASE dbo.FN_GET_COM_CODE_VALUE(FFC.TRANS_DATE_ID) WHEN 'Grant Date' THEN CONVERT(DATE,@GRANTDATE)
									   WHEN 'Vesting Date' THEN CONVERT(DATE,@VESTINGDATE )
									   WHEN  'Exercise Date' THEN CONVERT(DATE,@EXERCISE_DATE)
					      			   END)
					      			  
					      			   
					      			   )AS Country

								FROM FMV_FORMULA_CONFIG  AS FFC		  		  
									 INNER JOIN  COMPANY_INSTRUMENT_MAP_DETAILS AS CIMPD ON FFC.Country_ID = CIMPD.Country_ID		  
								WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV' AND CIMPD.ACTIVE = 1 AND FFC.MIT_ID = @INSTRUMENT_ID	
									 AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	   
									-- AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,GETDATE())) AND (CONVERT(DATE,ISNULL(FFC.APPLICABLE_TO_DATE, GETDATE())) >=  CONVERT(DATE,GETDATE())))					
									 AND  ISNULL( FFC.Residential_ID,0) = 0   AND FFC.Country_ID > 0
					      ) sub 
					WHERE ISNULL(sub.Country, 0) <> 0
					ORDER BY TransDate ASC

					PRINT 'EXCEPTION FOR COUNTRY'
					SELECT @INCIDENCEDATEID = dbo.FN_GET_COM_CODE_VALUE(EVENT_OF_INCIDENCE_ID) FROM PERQUISITE_FORMULA_CONFIG WHERE RESIDENTIAL_ID > 0
					IF(@INCIDENCEDATEID = 'Grant Date')
					BEGIN
						SET  @INCIDENCEDATE = @GRANTDATE
					END
					ELSE IF(@INCIDENCEDATEID = 'Vesting Date')
					BEGIN
						 SET  @INCIDENCEDATE = @VESTINGDATE
					END
					ELSE IF(@INCIDENCEDATEID = 'Exercise Date')
					BEGIN
						 SET  @INCIDENCEDATE = @EXERCISE_DATE
					END
					   
					SET @TRANSDATEID =
					(
						SELECT TOP(1) 
						CASE WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date') THEN 'Grant Date'
							 WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date') THEN 'Vesting Date'	
							 WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date')THEN 'Exercise Date' END AS 'TransactionDate' 
						FROM FMV_FORMULA_CONFIG  AS FFC	
						INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS AS CIMPD ON FFC.Country_ID = CIMPD.Country_ID		  
						WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV' AND CIMPD.ACTIVE = 1 AND FFC.MIT_ID = @INSTRUMENT_ID AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
						AND CIMPD.Country_ID = @EMPLOYEE_COUNTRY_ID
						ORDER BY FFC_ID DESC
					) 
					       
					IF(@TRANSDATEID = 'Grant Date')    
					   SET  @TRANSDATE = @GRANTDATE                   
					ELSE IF(@TRANSDATEID = 'Vesting Date')    
					  SET  @TRANSDATE = @VESTINGDATE    
					ELSE IF(@TRANSDATEID = 'Exercise Date')     
					  SET  @TRANSDATE = @EXERCISE_DATE
					  
					IF((SELECT COUNT(*) AS NonTradeDay FROM NonTradingDays WHERE CONVERT(DATE,NonTradDay) = CONVERT(DATE,@TRANSDATE)) > 0)
					BEGIN 
						-- FOR NON TRADIND DAY
						INSERT INTO #TEMP_FILTER_FMVDATA		        
						SELECT TOP(1)FFC.FFC_ID,FFC.FORNULA_NAME,FFC.MSE_ID ,FFC.Residential_ID,FORMULA_DESCRIPTION,			 
								CASE WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date')THEN 'GrantDate'
									 WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date')THEN 'FinalVestingDate'	
									 WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date')THEN 'ExerciseDate' END AS 'TransactionDate',			 
								dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) as Price ,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) As TradingVolume ,
								CASE WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price')  THEN 'OpenPrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price') THEN 'ClosePrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price') THEN 'HighPrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price')  THEN 'LowPrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing') THEN 'OpenPrice,ClosePrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low')THEN 'HighPrice,LowPrice' END AS 'StockPrice'			 
								,FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
						FROM FMV_FORMULA_CONFIG  AS FFC	
						INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS AS CIMPD ON FFC.Country_ID = CIMPD.Country_ID		  
						WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV' AND CIMPD.ACTIVE = 1  AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
						AND CIMPD.Country_ID = @EMPLOYEE_COUNTRY_ID AND FFC.IS_TRADINGDAYS = 0 AND FFC.MIT_ID = @INSTRUMENT_ID 
						ORDER BY FFC_ID DESC			
					END
					ELSE
					BEGIN
						-- FOR TRADING DAY
						INSERT INTO #TEMP_FILTER_FMVDATA 
						SELECT TOP(1)FFC.FFC_ID,FFC.FORNULA_NAME,FFC.MSE_ID,FFC.Residential_ID,FORMULA_DESCRIPTION,			 
						CASE  WHEN( DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date')	THEN 'GrantDate'
							  WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date') THEN 'FinalVestingDate'	
							  WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date')THEN 'ExerciseDate'				       		       			       
							END AS 'TransactionDate',			 
						dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) as Price ,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) As TradingVolume  ,
						CASE  
						   WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price')THEN 'OpenPrice'
						   WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price')THEN 'ClosePrice'
						   WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price')THEN 'HighPrice'
						   WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price')THEN 'LowPrice'
						   WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing')THEN 'OpenPrice,ClosePrice'
						   WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low')THEN 'HighPrice,LowPrice' END AS 'StockPrice'			 
						,FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
						FROM FMV_FORMULA_CONFIG  AS FFC		  		  
						INNER JOIN  COMPANY_INSTRUMENT_MAP_DETAILS AS CIMPD ON FFC.Country_ID = CIMPD.Country_ID		  
						WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV' AND CIMPD.ACTIVE = 1 	AND FFC.MIT_ID = @INSTRUMENT_ID	    
						AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
						AND CIMPD.Country_ID = @EMPLOYEE_COUNTRY_ID  AND FFC.IS_TRADINGDAYS = 1
						ORDER BY FFC_ID DESC 
					END
					SELECT @PRICEPERIODID = PRICE_PERIOD,@PRICEDAYS = PRICE_PERIOD_DAY, @STOCKPRICE = STOCK_PRICE_ID,@MSEID = MSE_ID ,@TRANSACTIONDATE = TRANS_DATE_ID,@PRICEDAY = PRICE_DAY_ID,@TRADINGVOLUME = TRADING_VOL_ID,@ISTRADINGDAYS = IS_TRADINGDAYS FROM #TEMP_FILTER_FMVDATA	    
					
					END   
					DECLARE @FMV_DATA_COUNT INT	
					SET @FMV_DATA_COUNT = (SELECT COUNT(*) FROM #TEMP_FILTER_FMVDATA)
									
					--  IF NO DATA FOUND FOR EXCEPTION THEN PICK COMPANY LEVEL FORMULA --
					IF(@FMV_DATA_COUNT = 0)
					BEGIN						
						
						PRINT 'COMPANY LEVEL'						
						SELECT 
							@INCIDENCEDATEID = dbo.FN_GET_COM_CODE_VALUE(EVENT_OF_INCIDENCE_ID) 
						FROM 
							PERQUISITE_FORMULA_CONFIG 
						WHERE 
							RESIDENTIAL_ID IS NULL AND COUNTRY_ID IS NULL 

						IF(@INCIDENCEDATEID = 'Grant Date')     
							SET  @INCIDENCEDATE = @GRANTDATE             
						ELSE IF(@INCIDENCEDATEID = 'Vesting Date')    
							SET  @INCIDENCEDATE = @VESTINGDATE      
						ELSE IF(@INCIDENCEDATEID = 'Exercise Date')     
							SET  @INCIDENCEDATE = @EXERCISE_DATE
						             
						SET @TRANSDATEID =
						(
							SELECT TOP(1) CASE WHEN( DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date') THEN 'Grant Date'
										  WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date')  THEN 'Vesting Date'	
										  WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date') THEN 'Exercise Date' END AS 'TransactionDate' 
							FROM FMV_FORMULA_CONFIG  AS FFC		  
							WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV' AND FFC.MIT_ID = @INSTRUMENT_ID AND
								 ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
								AND ISNULL(Residential_ID,0) = 0 AND ISNULL( Country_ID,0) = 0
							ORDER BY FFC_ID DESC
						 )	   		
						         
						IF(@TRANSDATEID = 'Grant Date')    
							SET  @TRANSDATE = @GRANTDATE                   
						ELSE IF(@TRANSDATEID = 'Vesting Date')    
							SET  @TRANSDATE = @VESTINGDATE    
						ELSE IF(@TRANSDATEID = 'Exercise Date')     
							SET  @TRANSDATE = @EXERCISE_DATE
						
						IF((SELECT COUNT(NonTradDay) AS NonTradeDay FROM NonTradingDays WHERE CONVERT(DATE,NonTradDay) = CONVERT(DATE,@TRANSDATE)) > 0)
							BEGIN 	 
								PRINT 'NONTRD' 
							    -- FOR NON TRADIND DAY
								INSERT INTO #TEMP_FILTER_FMVDATA		        
								SELECT TOP(1)
									FFC.FFC_ID, FFC.FORNULA_NAME, FFC.MSE_ID, FFC.Residential_ID, FORMULA_DESCRIPTION,			 
									CASE WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date')  THEN 'GrantDate'
										WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date') THEN 'FinalVestingDate'	
										WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date') THEN 'ExerciseDate'				       		       			       
									END AS 'TransactionDate',dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) AS Price ,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) AS TradingVolume  ,
									CASE WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price') THEN 'OpenPrice'
										WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price') THEN 'ClosePrice'
										WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price') THEN 'HighPrice'
										WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price') THEN 'LowPrice'
										WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing') THEN 'OpenPrice,ClosePrice'
										WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low') THEN 'HighPrice,LowPrice'			       
									END AS 'StockPrice',FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
								FROM 
									FMV_FORMULA_CONFIG  AS FFC		  
								WHERE 
									FFC.FORMULA_CONFIG_TYPE = 'FMV' AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
									AND FFC.IS_TRADINGDAYS = 0 AND Residential_ID = 0 AND Country_ID = 0	AND FFC.MIT_ID = @INSTRUMENT_ID	   		      		   
								ORDER BY 
									FFC_ID DESC
							END
						ELSE
							BEGIN	
								PRINT 'TRD'   
							    -- FOR TRADING DAY
								INSERT INTO #TEMP_FILTER_FMVDATA		        
								SELECT TOP(1)
									FFC.FFC_ID, FFC.FORNULA_NAME, FFC.MSE_ID, FFC.Residential_ID, FORMULA_DESCRIPTION,			 
									CASE WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date') THEN 'GrantDate'
										WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date')THEN 'FinalVestingDate'	
										WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date') THEN 'ExerciseDate'				       		       			       
									END AS 'TransactionDate',dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) AS Price,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) As TradingVolume  ,
									CASE WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price') THEN 'OpenPrice'
										WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price') THEN 'ClosePrice'
										WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price') THEN 'HighPrice'
										WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price') THEN 'LowPrice'
										WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing')THEN 'OpenPrice,ClosePrice'
										WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low') THEN 'HighPrice,LowPrice'			       
								   END AS 'StockPrice',FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
								FROM 
									FMV_FORMULA_CONFIG AS FFC		  
								WHERE 
									FFC.FORMULA_CONFIG_TYPE = 'FMV' AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
									AND FFC.IS_TRADINGDAYS = 1 AND Residential_ID = 0 AND Country_ID = 0 AND FFC.MIT_ID = @INSTRUMENT_ID		    		      		   
								ORDER BY 
									FFC_ID DESC
							END  
						
						SELECT 
							@PRICEPERIODID = PRICE_PERIOD,@PRICEDAYS = PRICE_PERIOD_DAY, @STOCKPRICE = STOCK_PRICE_ID,@MSEID = MSE_ID ,@TRANSACTIONDATE = TRANS_DATE_ID,@PRICEDAY = PRICE_DAY_ID,@TRADINGVOLUME = TRADING_VOL_ID 
						FROM 
							#TEMP_FILTER_FMVDATA	 
							
						END				
			END  
			-- FOR COMPANY LEVEL
			ELSE IF(@EXCEPTFOR_FMV = 0) 
			BEGIN  
				
				PRINT 'COMPANY LEVEL'				
				SELECT 
					@INCIDENCEDATEID = dbo.FN_GET_COM_CODE_VALUE(EVENT_OF_INCIDENCE_ID) 
				FROM 
					PERQUISITE_FORMULA_CONFIG 
				WHERE 
					RESIDENTIAL_ID IS NULL AND COUNTRY_ID IS NULL 

				IF(@INCIDENCEDATEID = 'Grant Date')     
					SET  @INCIDENCEDATE = @GRANTDATE             
				ELSE IF(@INCIDENCEDATEID = 'Vesting Date')    
					SET  @INCIDENCEDATE = @VESTINGDATE      
				ELSE IF(@INCIDENCEDATEID = 'Exercise Date')     
					SET  @INCIDENCEDATE = @EXERCISE_DATE
				             
				SET @TRANSDATEID =
				(
					SELECT TOP(1)
					 CASE  WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date') THEN 'Grant Date'
						   WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date')  THEN 'Vesting Date'	
						   WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date') THEN 'Exercise Date' END AS 'TransactionDate' 
					FROM FMV_FORMULA_CONFIG  AS FFC		  
					WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV' AND  FFC.MIT_ID = @INSTRUMENT_ID AND
						  ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
						  AND ISNULL(Residential_ID,0) = 0 AND ISNULL( Country_ID,0) = 0 
					ORDER BY FFC_ID DESC	
				)   		
				         
				IF(@TRANSDATEID = 'Grant Date')    
					SET  @TRANSDATE = @GRANTDATE                
				ELSE IF(@TRANSDATEID = 'Vesting Date')    
					SET  @TRANSDATE = @VESTINGDATE    
				ELSE IF(@TRANSDATEID = 'Exercise Date')     
					SET  @TRANSDATE = @EXERCISE_DATE
			
				IF((SELECT COUNT(NonTradDay) AS NonTradeDay FROM NonTradingDays WHERE CONVERT(DATE,NonTradDay) = CONVERT(DATE,@TRANSDATE)) > 0)
					BEGIN 
					 -- FOR NON TRADIND DAY
						INSERT INTO #TEMP_FILTER_FMVDATA		        
						SELECT TOP(1)
							FFC.FFC_ID, FFC.FORNULA_NAME, FFC.MSE_ID, FFC.Residential_ID, FORMULA_DESCRIPTION,			 
							CASE WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date')  THEN 'GrantDate'
								WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date') THEN 'FinalVestingDate'	
								WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date') THEN 'ExerciseDate'				       		       			       
							END AS 'TransactionDate',dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) AS Price ,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) AS TradingVolume  ,
							CASE WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price') THEN 'OpenPrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price') THEN 'ClosePrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price') THEN 'HighPrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price') THEN 'LowPrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing') THEN 'OpenPrice,ClosePrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low') THEN 'HighPrice,LowPrice'			       
							END AS 'StockPrice',FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
						FROM 
							FMV_FORMULA_CONFIG  AS FFC		  
						WHERE 
							FFC.FORMULA_CONFIG_TYPE = 'FMV' AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
							AND FFC.IS_TRADINGDAYS = 0 AND Residential_ID = 0 AND Country_ID = 0 AND FFC.MIT_ID = @INSTRUMENT_ID		   		      		   
						ORDER BY 
							FFC_ID DESC
					END
				ELSE
					BEGIN	
					-- FOR TRADING DAY
						INSERT INTO #TEMP_FILTER_FMVDATA		        
						SELECT TOP(1)
							FFC.FFC_ID, FFC.FORNULA_NAME, FFC.MSE_ID, FFC.Residential_ID, FORMULA_DESCRIPTION,			 
							CASE WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date') THEN 'GrantDate'
								WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date')THEN 'FinalVestingDate'	
								WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date') THEN 'ExerciseDate'				       		       			       
							END AS 'TransactionDate',dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) AS Price,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) As TradingVolume  ,
							CASE WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price') THEN 'OpenPrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price') THEN 'ClosePrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price') THEN 'HighPrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price') THEN 'LowPrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing')THEN 'OpenPrice,ClosePrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low') THEN 'HighPrice,LowPrice'			       
						   END AS 'StockPrice',FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
						FROM 
							FMV_FORMULA_CONFIG AS FFC		  
						WHERE 
							FFC.FORMULA_CONFIG_TYPE = 'FMV' AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
							AND FFC.IS_TRADINGDAYS = 1 AND Residential_ID = 0 AND Country_ID = 0 AND FFC.MIT_ID = @INSTRUMENT_ID		    		      		   
						ORDER BY 
							FFC_ID DESC							
					END 
				
				SELECT 
					@PRICEPERIODID = PRICE_PERIOD,@PRICEDAYS = PRICE_PERIOD_DAY, @STOCKPRICE = STOCK_PRICE_ID,@MSEID = MSE_ID ,@TRANSACTIONDATE = TRANS_DATE_ID,@PRICEDAY = PRICE_DAY_ID,@TRADINGVOLUME = TRADING_VOL_ID ,@ISTRADINGDAYS = IS_TRADINGDAYS
				FROM 
					#TEMP_FILTER_FMVDATA		
			END 
					
			
				--  FIRST CASE --
				IF(UPPER(@PRICEPERIODID) = 'RDOPRICECONSIDERATIONDATE')		    
				BEGIN
				    PRINT '1ST CASE'
					SET @ConcatString = null  
					SET @Count = ((SELECT COUNT( * )FROM dbo.FN_SPLIT_STRING(@MSEID,',')))		       	   		          
					SELECT  @ConcatString = COALESCE(@ConcatString + ',', '') + 
					CASE STOCK_EXCHANGE_SYMBOL WHEN'NSE' THEN 'N' WHEN  'BSE'  THEN 'B' WHEN  'NYSE'  THEN 'N' ELSE '' END
					FROM MST_STOCK_EXCHANGE                
					WHERE CONVERT(VARCHAR(50), MSE_ID) IN(SELECT * FROM dbo.FN_SPLIT_STRING(@MSEID,','))               		   

					
					IF(@TRANSACTIONDATE = 'GrantDate')	   	  				
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @GRANTDATE ELSE DATEADD(D,-1,@GRANTDATE) END ELSE 	@GRANTDATE END		      			 		
					ELSE IF(@TRANSACTIONDATE = 'FinalVestingDate')		     
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax')THEN @VESTINGDATE ELSE DATEADD(D,-1,@VESTINGDATE)END ELSE 	@VESTINGDATE END	  				 				  				
					ELSE IF(@TRANSACTIONDATE = 'ExerciseDate')
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @EXERCISE_DATE ELSE DATEADD(D,-1,@EXERCISE_DATE) END ELSE 	@EXERCISE_DATE END	

                    IF(@IS_PREVESTING = 1)
                    BEGIN
                  
                         SET @CHK_TRNONTRDAY = 0				
							 SET @TAXFLAG = @TEMP_TAXFLAG				
							 IF(@TEMP_TAXFLAG = 'A')
							 BEGIN	
							
							   IF NOT EXISTS(SELECT FMVPriceID FROM FMVSharePrices WHERE CONVERT(DATE,TransactionDate )= CONVERT(DATE,@EVENTDATE))
								 BEGIN								
									SET @CHK_TRNONTRDAY =  CASE WHEN  ((SELECT COUNT(NonTradDay) FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) = CONVERT(DATE, @EVENTDATE))=0) THEN 1 ELSE 0 END
									SET @TAXFLAG =  CASE WHEN(@CHK_TRNONTRDAY = 1) then  'T' else 'A' END
								  
								   IF(@CHK_TRNONTRDAY = 0)						  
								   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))
							      	
								 END					 
							  END
						
							  IF(@TEMP_TAXFLAG = 'T')						  
							   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))	
						
								DELETE FROM #TEMP_NON_TRADING_DAYS
								INSERT INTO #TEMP_NON_TRADING_DAYS
								SELECT TOP 100 NonTradDay FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) <= CONVERT(DATE, @EVENTDATE) GROUP BY NonTradDay
								ORDER BY NonTradDay DESC

								SELECT @MNVAL = MIN(ID ),@MXVAL = MAX(ID) FROM #TEMP_NON_TRADING_DAYS	

								WHILE(@MNVAL <= @MXVAL)
								BEGIN
									IF ((SELECT NONTRADINGDATES FROM #TEMP_NON_TRADING_DAYS WHERE ID = @MNVAL) = @EVENTDATE)
									BEGIN
									   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))			  
									END 
									ELSE IF	((SELECT COUNT(FMVPriceID) FROM FMVSharePrices WHERE CONVERT(DATE, TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0)
									BEGIN							   	 
										SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))	
									END
									ELSE
										BREAK
									SET @MNVAL = @MNVAL + 1					  
								 END	
                    
                    
                    END
                    ELSE
                    BEGIN
	                    
						IF(((SELECT COUNT(NonTradDay) AS NonTradeDay FROM NonTradingDays WHERE CONVERT(DATE,NonTradDay) = CONVERT(DATE,@EVENTDATE)) > 0) AND (@CALCULATE_TAX != 'rdoTentativeTax') )
						BEGIN 
						SET @FORMULATYPE = 'NT'
						IF(@PRICEDAY = 'Prior Day')
						BEGIN
							INSERT INTO #TEMP_NON_TRADING_DAYS
							SELECT TOP 100 NonTradDay FROM NonTradingDays WHERE NonTradDay <= @EVENTDATE GROUP BY NonTradDay ORDER BY NonTradDay DESC
							                 
							SELECT @MNVAL = MIN(ID),@MXVAL = MAX(ID) FROM #TEMP_NON_TRADING_DAYS	

							WHILE(@MNVAL <= @MXVAL)
							BEGIN			
							IF ((SELECT NONTRADINGDATES FROM #TEMP_NON_TRADING_DAYS WHERE ID = @MNVAL) = @EVENTDATE)
								BEGIN
									SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))			  
								END 
								ELSE
									BREAK			 			 
								SET @MNVAL = @MNVAL + 1					  
								END			 			
							END	  
							         
						END
						ELSE
						BEGIN
							SET @FORMULATYPE = 'TR'		   
						END	
					
						
						--- CHANGES DONE FOR TENTATIVE SCHEME ----
						IF(@CALCULATE_TAX = 'rdoTentativeTax')
						BEGIN	
						
							SET @CHK_TRNONTRDAY = 0				
							 SET @TAXFLAG = @TEMP_TAXFLAG				
							 IF(@TEMP_TAXFLAG = 'A')
							 BEGIN	
							
							   IF NOT EXISTS(SELECT FMVPriceID FROM FMVSharePrices WHERE CONVERT(DATE,TransactionDate )= CONVERT(DATE,@EVENTDATE))
								 BEGIN								
									SET @CHK_TRNONTRDAY =  CASE WHEN  ((SELECT COUNT(NonTradDay) FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) = CONVERT(DATE, @EVENTDATE))=0) THEN 1 ELSE 0 END
									SET @TAXFLAG =  CASE WHEN(@CHK_TRNONTRDAY = 1) then  'T' else 'A' END
								  
								   IF(@CHK_TRNONTRDAY = 0)						  
								   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))
							      	
								 END					 
							  END
						
							  IF(@TEMP_TAXFLAG = 'T')						  
							   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))	
						
								DELETE FROM #TEMP_NON_TRADING_DAYS
								INSERT INTO #TEMP_NON_TRADING_DAYS
								SELECT TOP 100 NonTradDay FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) <= CONVERT(DATE, @EVENTDATE) GROUP BY NonTradDay
								ORDER BY NonTradDay DESC

								SELECT @MNVAL = MIN(ID ),@MXVAL = MAX(ID) FROM #TEMP_NON_TRADING_DAYS	

								WHILE(@MNVAL <= @MXVAL)
								BEGIN
									IF ((SELECT NONTRADINGDATES FROM #TEMP_NON_TRADING_DAYS WHERE ID = @MNVAL) = @EVENTDATE)
									BEGIN
									   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))			  
									END 
									ELSE IF	((SELECT COUNT(FMVPriceID) FROM FMVSharePrices WHERE CONVERT(DATE, TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0)
									BEGIN							   	 
										SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))	
									END
									ELSE
										BREAK
									SET @MNVAL = @MNVAL + 1					  
								 END	
							END
						--- CHANGES DONE FOR TENTATIVE SCHEME ----
						 ELSE
						 BEGIN
						   SET @TEMP_TAXFLAG = NULL
						 END
                    END


					IF( @Count > 1)   
					BEGIN
						PRINT 'FOR MULTISELECT'
						SET @STOCKEXCHANGECODE = NULL

						SET @STOCKEXCHANGECODE = (SELECT StockExchange FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',','))AND CONVERT(DATE, TransactionDate) = CONVERT(DATE, ''+ @EVENTDATE +'')
						AND Volume IN (SELECT CASE WHEN UPPER(@TRADINGVOLUME) = 'HIGH' THEN  MAX(Volume) ELSE MIN(Volume) END AS MaxDateTime
						FROM FMVSharePrices WHERE  StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',',')) AND CONVERT(DATE, TransactionDate) = CONVERT(DATE, ''+ @EVENTDATE +'')))											
					END	

					SET @SQLTEXT =  N'SELECT  ' + @STOCKPRICE + ' ,Volume,TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+CASE WHEN @Count = 1 THEN @ConcatString ELSE  @STOCKEXCHANGECODE END+''','',''))AND CONVERT(DATE,TransactionDate) =  CONVERT(DATE,'''+ @EVENTDATE +''')'  
					print @SQLTEXT 
					DELETE FROM #TEMP_AVGPRICE
					IF(@STOCKPRICE = 'OpenPrice,ClosePrice')
					BEGIN					
					    DELETE FROM #TEMP_MULTIPLE_STOCK
						INSERT INTO #TEMP_MULTIPLE_STOCK(STOCKOPEN_HIGHPRICE,STOCKCLOSE_LOWPRICE,Volume,TransactionDate)         
						EXEC (@SQLTEXT)	
						
					    SET @AVGOPENCLOSEPRICE = 0
						SELECT @AVGOPENCLOSEPRICE =(STOCKOPEN_HIGHPRICE + STOCKCLOSE_LOWPRICE)/2 
						FROM #TEMP_MULTIPLE_STOCK
						WHERE Volume IN (SELECT  CASE WHEN UPPER(@TRADINGVOLUME) = 'HIGH' THEN  MAX(Volume) ELSE MIN(Volume) END FROM #TEMP_MULTIPLE_STOCK)
										 			 
						INSERT INTO #TEMP_AVGPRICE(STOCKPRICE)
						VALUES(@AVGOPENCLOSEPRICE)
					END
					ELSE IF(@STOCKPRICE = 'HighPrice,LowPrice')
					BEGIN					
					    DELETE FROM #TEMP_MULTIPLE_STOCK
						INSERT INTO #TEMP_MULTIPLE_STOCK(STOCKOPEN_HIGHPRICE,STOCKCLOSE_LOWPRICE,Volume,TransactionDate)         
						EXEC (@SQLTEXT)	
						SET @AVGOPENCLOSEPRICE = 0	 
						SELECT @AVGOPENCLOSEPRICE =(STOCKOPEN_HIGHPRICE + STOCKCLOSE_LOWPRICE)/2  
						FROM #TEMP_MULTIPLE_STOCK
						WHERE Volume IN (SELECT  CASE WHEN UPPER(@TRADINGVOLUME) = 'HIGH' THEN  MAX(Volume) ELSE MIN(Volume) END FROM #TEMP_MULTIPLE_STOCK)

						INSERT INTO #TEMP_AVGPRICE(STOCKPRICE)
						VALUES(@AVGOPENCLOSEPRICE)		     
					END
					ELSE 
					BEGIN	  					   
						INSERT INTO #TEMP_AVGPRICE(STOCKPRICE,Volume,TransactionDate)
						EXEC (@SQLTEXT)
					END                                        
                    SET @FMV_PRICE = 0
					SELECT @FMV_PRICE  = AVG(STOCKPRICE)  FROM #TEMP_AVGPRICE  
					
			   --In schedular at the time of actual calculation - price is not availble for that incindence date---  
				 SET @FMV_PRICE = CASE WHEN((@TEMP_TAXFLAG= 'A' AND  @TAXFLAG = 'T'))THEN 0 ELSE @FMV_PRICE END
				    DELETE FROM #TEMP_AVGPRICE
					
					 --SET TENTATIVE/ACTUAL FLAG  -- 
					  IF(@IS_PREVESTING = 1)
					  BEGIN
					 
					   SET @TAXFLAG_HEADER  = @TEMP_TAXFLAG
					  END  
					  ELSE
					  BEGIN
						  IF(@FORMULATYPE = 'TR')
							BEGIN
							 /* print @FMV_PRICE*/
								SET @TAXFLAG =  CASE WHEN ((ISNULL(@FMV_PRICE,0)>0) AND (@TEMP_TAXFLAG='A' or  ISNULL(@TEMP_TAXFLAG ,'')= ''))THEN 'A' ELSE 'T' END
								SET @TAXFLAG_HEADER = CASE WHEN ((ISNULL(@FMV_PRICE,0)>0)) THEN 'A' ELSE 'T' END	
							END
							ELSE IF (@FORMULATYPE = 'NT')
							BEGIN
								IF(@PRICEDAY = 'Prior Day' )
								BEGIN
									SET @TAXFLAG_HEADER = 'A'
									SET @TAXFLAG =  CASE WHEN (@TEMP_TAXFLAG='A' or  ISNULL(@TEMP_TAXFLAG ,'')= '') THEN 'A' ELSE 'T' END
								END	
								ELSE IF(@PRICEDAY = 'Same Day' )
								BEGIN
									 SET @TAXFLAG = CASE WHEN ((ISNULL(@FMV_PRICE,0)>0) AND (@TEMP_TAXFLAG='A' or  ISNULL(@TEMP_TAXFLAG ,'')= '')) THEN 'A' ELSE 'T' END	
									SET @TAXFLAG_HEADER = CASE WHEN ((ISNULL(@FMV_PRICE,0)>0)) THEN 'A' ELSE 'T' END								      
								END
							END
						END
                   
					--SET TENTATIVE/ACTUAL FLAG -- 	
					-- IF FMV VALUE IS NULL ----
					IF((@TEMP_TAXFLAG='A' AND  @TAXFLAG = 'T' AND @CHK_TRNONTRDAY = 1))
					BEGIN				
					 SET @FMV_PRICE = 0  					
					END
					ELSE 
					IF(@FMV_PRICE IS  NULL  OR @FMV_PRICE = 0)	
					BEGIN
						print 'FMV IS NULL'
						PRINT @CALCULATE_TAX
						IF(@CALCULATE_TAX = 'rdoActualTax')
						BEGIN
							   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))				
								DELETE FROM #TEMP_NON_TRADING_DAYS
								INSERT INTO #TEMP_NON_TRADING_DAYS
								SELECT TOP 100 NonTradDay FROM NonTradingDays WHERE NonTradDay <= @EVENTDATE GROUP BY NonTradDay
								ORDER BY NonTradDay DESC

								SELECT @MNVAL = MIN(ID ),@MXVAL = MAX(ID) FROM #TEMP_NON_TRADING_DAYS	

								WHILE(@MNVAL <= @MXVAL)
								BEGIN

									IF ((SELECT NONTRADINGDATES FROM #TEMP_NON_TRADING_DAYS WHERE ID = @MNVAL) = @EVENTDATE)
									BEGIN
										SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))			  
									END 
								    ELSE IF	((SELECT COUNT(FMVPriceID) FROM FMVSharePrices WHERE CONVERT(DATE, TransactionDate) =  CONVERT(DATE, @EVENTDATE)) = 0)
							        BEGIN							   	 
								        SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))	
							        END
									ELSE
										BREAK
									
									SET @MNVAL = @MNVAL + 1					  
								END					 								           
					
							
							
						IF( @Count > 1)   
						BEGIN
							/*PRINT 'FOR MULTISELECT'*/
							SET @STOCKEXCHANGECODE = NULL

							SET @STOCKEXCHANGECODE = (SELECT StockExchange FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',','))AND CONVERT(DATE, TransactionDate) = CONVERT(DATE,''+ @EVENTDATE +'')
							AND Volume IN (SELECT CASE WHEN UPPER(@TRADINGVOLUME) = 'HIGH' THEN  MAX(Volume) ELSE MIN(Volume) END AS MaxDateTime
							FROM FMVSharePrices WHERE  StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',',')) AND TransactionDate = ''+ @EVENTDATE +''))											
						END	

							
							SET @SQLTEXT =  N'SELECT  ' + @STOCKPRICE + ' ,Volume,TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+CASE WHEN @Count = 1 THEN @ConcatString ELSE  @STOCKEXCHANGECODE END+''','',''))AND CONVERT(DATE,TransactionDate) = CONVERT(DATE,'''+ @EVENTDATE +''')' 
							/*PRINT @SQLTEXT*/
                          
							DELETE FROM #TEMP_AVGPRICE
							IF(@STOCKPRICE = 'OpenPrice,ClosePrice' OR @STOCKPRICE = 'HighPrice,LowPrice')
							BEGIN	
							    DELETE FROM #TEMP_MULTIPLE_STOCK	
								INSERT INTO #TEMP_MULTIPLE_STOCK(STOCKOPEN_HIGHPRICE,STOCKCLOSE_LOWPRICE,Volume,TransactionDate)         
								EXEC (@SQLTEXT)	
								
								SET @AVGOPENCLOSEPRICE = 0	 
								SELECT @AVGOPENCLOSEPRICE =(STOCKOPEN_HIGHPRICE + STOCKCLOSE_LOWPRICE)/2 
								FROM #TEMP_MULTIPLE_STOCK
								WHERE Volume IN (SELECT  CASE WHEN UPPER(@TRADINGVOLUME) = 'HIGH' THEN  MAX(Volume) ELSE MIN(Volume) END FROM #TEMP_MULTIPLE_STOCK)
												 			 
								INSERT INTO #TEMP_AVGPRICE(STOCKPRICE)
								VALUES(@AVGOPENCLOSEPRICE)
							END				
							ELSE 
							BEGIN	
							    DELETE FROM #TEMP_MULTIPLE_STOCK	       
								INSERT INTO #TEMP_AVGPRICE(STOCKPRICE,Volume,TransactionDate)
								EXEC (@SQLTEXT)
							END
                           
							SELECT @FMV_PRICE  = AVG(STOCKPRICE) FROM #TEMP_AVGPRICE    
								
						END
						ELSE IF(@CALCULATE_TAX = 'rdoTentativeTax')
						BEGIN	
									SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))	
									
										PRINT 'B1'
										DELETE FROM #TEMP_NON_TRADING_DAYS
										INSERT INTO #TEMP_NON_TRADING_DAYS
										SELECT TOP 100 NonTradDay FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) <= CONVERT(DATE, @EVENTDATE) GROUP BY NonTradDay
										ORDER BY NonTradDay DESC

										SELECT @MNVAL = MIN(ID ),@MXVAL = MAX(ID) FROM #TEMP_NON_TRADING_DAYS	

										WHILE(@MNVAL <= @MXVAL)
										BEGIN
											IF ((SELECT NONTRADINGDATES FROM #TEMP_NON_TRADING_DAYS WHERE ID = @MNVAL) = @EVENTDATE)
											BEGIN
											   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))			  
											END 
											ELSE IF	((SELECT COUNT(FMVPriceID) FROM FMVSharePrices WHERE CONVERT(DATE, TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0)
							                BEGIN							   	 
								                SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))	
							                END
											ELSE
												BREAK
											SET @MNVAL = @MNVAL + 1					  
										END
									
								 
							IF( @Count > 1)   
							BEGIN
								PRINT 'FOR MULTISELECT'
								SET @STOCKEXCHANGECODE = NULL

								SET @STOCKEXCHANGECODE = (SELECT StockExchange FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',','))AND CONVERT(DATE,TransactionDate) = CONVERT(DATE,''+ @EVENTDATE +'')
								AND Volume IN (SELECT CASE WHEN UPPER(@TRADINGVOLUME) = 'HIGH' THEN  MAX(Volume) ELSE MIN(Volume) END AS MaxDateTime
								FROM FMVSharePrices WHERE  StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',',')) AND CONVERT(DATE,TransactionDate) = CONVERT(DATE,''+ @EVENTDATE +'')))											
							END		 

							SET @SQLTEXT =  N'SELECT  ' + @STOCKPRICE + ' ,Volume,TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+CASE WHEN @Count = 1 THEN @ConcatString ELSE  @STOCKEXCHANGECODE END+''','',''))AND CONVERT(DATE,TransactionDate) = CONVERT(DATE,'''+ @EVENTDATE +''')' 
							print @SQLTEXT

							DELETE FROM #TEMP_AVGPRICE
							DELETE FROM #TEMP_MULTIPLE_STOCK
							IF(@STOCKPRICE = 'OpenPrice,ClosePrice' OR @STOCKPRICE = 'HighPrice,LowPrice')
							BEGIN	
								INSERT INTO #TEMP_MULTIPLE_STOCK(STOCKOPEN_HIGHPRICE,STOCKCLOSE_LOWPRICE,Volume,TransactionDate)         
								EXEC (@SQLTEXT)	
								
								SET @AVGOPENCLOSEPRICE = 0	 
								SELECT @AVGOPENCLOSEPRICE =(STOCKOPEN_HIGHPRICE + STOCKCLOSE_LOWPRICE)/2 
								FROM #TEMP_MULTIPLE_STOCK
								WHERE Volume IN (SELECT  CASE WHEN UPPER(@TRADINGVOLUME) = 'HIGH' THEN  MAX(Volume) ELSE MIN(Volume) END FROM #TEMP_MULTIPLE_STOCK)
												 			 
								INSERT INTO #TEMP_AVGPRICE(STOCKPRICE)
								VALUES(@AVGOPENCLOSEPRICE)
							END				
							ELSE 
							BEGIN	       
								INSERT INTO #TEMP_AVGPRICE(STOCKPRICE,Volume,TransactionDate)
								EXEC (@SQLTEXT)
							END

							SELECT @FMV_PRICE  = AVG(STOCKPRICE) FROM #TEMP_AVGPRICE    
							
							END		       		      
					END	
				END
					
				-- SECOND CASE --
				ELSE IF(UPPER(@PRICEPERIODID) = 'RDOAVGOFDATEOFEVENT')
				BEGIN
					PRINT '2ND RDO'
					SET @ConcatString = NULL  
					SET @Count = ((SELECT COUNT( * )FROM dbo.FN_SPLIT_STRING(@MSEID,',')))		       	   		          
					SELECT  @ConcatString = COALESCE(@ConcatString + ',', '') + 
							CASE STOCK_EXCHANGE_SYMBOL WHEN  'NSE'  THEN 'N' WHEN  'BSE'  THEN 'B' WHEN  'NYSE'  THEN 'N' ELSE '' END  
					FROM MST_STOCK_EXCHANGE                
					WHERE CONVERT(VARCHAR(50), MSE_ID) IN(SELECT * FROM dbo.FN_SPLIT_STRING(@MSEID,','))               

				    IF(@TRANSACTIONDATE = 'GrantDate')	   	  				
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @GRANTDATE ELSE DATEADD(D,-1,@GRANTDATE) END ELSE 	@GRANTDATE END		      			 		
					ELSE IF(@TRANSACTIONDATE = 'FinalVestingDate')		     
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax')THEN @VESTINGDATE ELSE DATEADD(D,-1,@VESTINGDATE)END ELSE 	@VESTINGDATE END	  				 				  				
					ELSE IF(@TRANSACTIONDATE = 'ExerciseDate')
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @EXERCISE_DATE ELSE DATEADD(D,-1,@EXERCISE_DATE) END ELSE 	@EXERCISE_DATE END	

                    -- SET TENTATIVE/ACTUAL FLAG  -- 	
                    IF(@ISTRADINGDAYS = 0)
					BEGIN	
					    SET @TAXFLAG = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END			       											
						SET @TAXFLAG_HEADER = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END			       						
					END
					ELSE IF (@ISTRADINGDAYS = 1)
					BEGIN					
						IF(@PRICEDAY = 'Prior Day' )
						BEGIN
						    SET @TAXFLAG = 'A'
							SET @TAXFLAG_HEADER = 'A'
						END	
						ELSE IF(@PRICEDAY = 'Same Day' )
						BEGIN									
							 SET @TAXFLAG = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END								      
							SET @TAXFLAG_HEADER = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END								      
						END
					END	
							
      
            	    IF(@CALCULATE_TAX = 'rdoTentativeTax')
						BEGIN
						
						     SET @TAXFLAG = @TEMP_TAXFLAG	
							 IF(@TEMP_TAXFLAG = 'A')
							 BEGIN						   				
							
							 IF NOT EXISTS(SELECT FMVPriceID FROM FMVSharePrices WHERE CONVERT(DATE,TransactionDate )= CONVERT(DATE,@EVENTDATE))
							 BEGIN								
								SET @CHK_TRNONTRDAY =  CASE WHEN  ((SELECT COUNT(NonTradDay) FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) = CONVERT(DATE, @EVENTDATE))=0) THEN 1 ELSE 0 END
							    SET @TAXFLAG =  CASE WHEN(@CHK_TRNONTRDAY = 1) then  'T' else 'A' END
							  
							   IF(@CHK_TRNONTRDAY = 0)						  
						       SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))
						      	
							 END	
							
							 END
							 
							  IF(@TEMP_TAXFLAG = 'T')						  
							   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))

						    DELETE FROM #TEMP_NON_TRADING_DAYS
							INSERT INTO #TEMP_NON_TRADING_DAYS
							SELECT TOP 100 NonTradDay FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) <= CONVERT(DATE, @EVENTDATE )GROUP BY NonTradDay
							ORDER BY NonTradDay DESC
 
							SELECT @MNVAL = MIN(ID ),@MXVAL = MAX(ID) FROM #TEMP_NON_TRADING_DAYS	
                            
							WHILE(@MNVAL <= @MXVAL)
							BEGIN                          
								IF ((SELECT NONTRADINGDATES FROM #TEMP_NON_TRADING_DAYS WHERE ID = @MNVAL) = @EVENTDATE)													
								BEGIN							  
									SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))			  
								END 
								ELSE IF	 ((SELECT COUNT(FMVPriceID) FROM FMVSharePrices WHERE CONVERT(DATE, TransactionDate) = CONVERT(DATE, @EVENTDATE)) = 0)
								BEGIN							   	 
									SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))	
								END
								ELSE
									BREAK
								SET @MNVAL = @MNVAL + 1	
						    END						   			
					    END

					INSERT INTO #TEMP_FILTER_CALENDERDAYS	     
					SELECT * FROM FN_ACC_EXPLODE_DATES(CONVERT(date, dateadd(D,- CONVERT(INT, @PRICEDAYS),@EVENTDATE)), CONVERT(date, @EVENTDATE)) ORDER BY 1 desc;

					SET @SQLQUERY ='SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' * FROM #TEMP_FILTER_CALENDERDAYS'  
					print @SQLQUERY
					INSERT INTO #TEMP_CALENDERDAYS
					EXEC sp_executesql @SQLQUERY
				     					        
					SELECT @MAXVALUE = Max(id),@MINVALUE = MIN(id) FROM #TEMP_CALENDERDAYS             
					SET @STARTDATE = (SELECT CALENDERDATES FROM #TEMP_CALENDERDAYS  WHERE id = @MAXVALUE) 
					SET @ENDATE = (SELECT CALENDERDATES FROM #TEMP_CALENDERDAYS  WHERE id = @MINVALUE) 
																
					IF( @Count > 1)   
					BEGIN
						PRINT 'FOR MULTISELECT'
						SET @STOCKEXCHANGECODE = NULL
						SET @STOCKEXCHANGECODE = (SELECT StockExchange FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',','))AND CONVERT(DATE,TransactionDate) = CONVERT(DATE,''+ @EVENTDATE +'')
						AND Volume IN (SELECT CASE WHEN UPPER(@TRADINGVOLUME) = 'HIGH' THEN  MAX(Volume) ELSE MIN(Volume) END AS MaxDateTime
						FROM FMVSharePrices WHERE  StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',','))AND CONVERT(DATE,TransactionDate) = CONVERT(DATE,''+ @EVENTDATE +'')))																			
						PRINT @STOCKEXCHANGECODE
	                   
	                   DECLARE @TEMP_EVENTDATE VARCHAR(200)
				       IF ( ISNULL(@STOCKEXCHANGECODE, '') = '' ) 
                       BEGIN 	
						--SET @TEMP_EVENTDATE =(SELECT TOP 1 TransactionDate  FROM  FMVSharePrices  ORDER BY TransactionDate DESC)																						             
			          
					   IF EXISTS (SELECT TOP 1 TransactionDate  FROM  FMVSharePrices where TransactionDate <=  CONVERT(DATE,''+ @EVENTDATE +'') ORDER BY TransactionDate DESC)                                       
					   SET @TEMP_EVENTDATE =(SELECT TOP 1 TransactionDate  FROM  FMVSharePrices where TransactionDate <=  CONVERT(DATE,''+ @EVENTDATE +'') ORDER BY TransactionDate DESC)                                                     
					   ELSE    
					   SET @TEMP_EVENTDATE =(SELECT TOP 1 TransactionDate  FROM  FMVSharePrices where TransactionDate >=  CONVERT(DATE,''+ @EVENTDATE +''))                                       
			          
			            SET @STOCKEXCHANGECODE = (SELECT StockExchange FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',','))AND CONVERT(DATE,TransactionDate) = CONVERT(DATE,''+ @TEMP_EVENTDATE +'')
						AND Volume IN (SELECT CASE WHEN UPPER(@TRADINGVOLUME) = 'HIGH' THEN  MAX(Volume) ELSE MIN(Volume) END AS MaxDateTime
						FROM FMVSharePrices WHERE  StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',','))AND CONVERT(DATE,TransactionDate) = CONVERT(DATE,''+ @TEMP_EVENTDATE +'')))																			
			          END
			          
					END
				
					SET @SQLTEXT = N'SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' ' + @STOCKPRICE + ' ,Volume,StockExchange,TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+  CASE WHEN @Count = 1 THEN @ConcatString ELSE  @STOCKEXCHANGECODE END+''','',''))
					AND (CONVERT(DATE,TransactionDate) <= CONVERT(DATE,'''+  @ENDATE+''') AND CONVERT(DATE, TransactionDate) >=  CONVERT(DATE,'''+  @STARTDATE+''')) ORDER BY TransactionDate DESC'						
                   					
					 DELETE FROM #TEMP_AVGPRICE
					 IF(@STOCKPRICE = 'OpenPrice,ClosePrice' OR @STOCKPRICE = 'HighPrice,LowPrice')
					 BEGIN	
					    DELETE FROM #TEMP_MULTIPLE_STOCK	
						INSERT INTO #TEMP_MULTIPLE_STOCK(STOCKOPEN_HIGHPRICE,STOCKCLOSE_LOWPRICE,Volume,StockExchange,TransactionDate)         
						EXEC (@SQLTEXT)	
								 
						INSERT INTO #TEMP_AVGPRICE(STOCKPRICE)
						SELECT (STOCKOPEN_HIGHPRICE + STOCKCLOSE_LOWPRICE)/2  FROM #TEMP_MULTIPLE_STOCK	   
					 END		
					 ELSE 
					 BEGIN	       
						INSERT INTO #TEMP_AVGPRICE(STOCKPRICE,Volume,StockExchange,TransactionDate)
						EXEC (@SQLTEXT)
					 END

					 SELECT @FMV_PRICE  = (SELECT AVG(STOCKPRICE) AS FMVPRICE FROM #TEMP_AVGPRICE)
					 
					 --In schedular at the time of actual calculation - price is not availble for that incindence date---  
					 SET @FMV_PRICE = CASE WHEN((@TEMP_TAXFLAG= 'A' AND  @TAXFLAG = 'T'))THEN 0 ELSE @FMV_PRICE END 													        
				END
				--THIRD CASE --
				ELSE IF(UPPER(@PRICEPERIODID) = 'RDOAVGOFCALENDERDAYSFORALL') 
				BEGIN
					SET @ConcatString = Null  
					PRINT '3RD RDO'
					SET @Count = ((SELECT COUNT( * )FROM dbo.FN_SPLIT_STRING(@MSEID,',')))		       	   		          
					SELECT  @ConcatString = COALESCE(@ConcatString + ',', '') + 
					CASE STOCK_EXCHANGE_SYMBOL   WHEN  'NSE'  THEN 'N' 		WHEN  'BSE'  THEN 'B'    WHEN  'NYSE'  THEN 'N'ELSE '' END 
					FROM MST_STOCK_EXCHANGE                
					WHERE CONVERT(VARCHAR(50), MSE_ID) IN(SELECT * FROM dbo.FN_SPLIT_STRING(@MSEID,','))                    
                    
                    IF(@TRANSACTIONDATE = 'GrantDate')	   	  				
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @GRANTDATE ELSE DATEADD(D,-1,@GRANTDATE) END ELSE 	@GRANTDATE END		      			 		
					ELSE IF(@TRANSACTIONDATE = 'FinalVestingDate')		     
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax')THEN @VESTINGDATE ELSE DATEADD(D,-1,@VESTINGDATE)END ELSE 	@VESTINGDATE END	  				 				  				
					ELSE IF(@TRANSACTIONDATE = 'ExerciseDate')
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @EXERCISE_DATE ELSE DATEADD(D,-1,@EXERCISE_DATE) END ELSE 	@EXERCISE_DATE END	

 					-- SET TENTATIVE/ACTUAL FLAG  -- 						
					IF(@ISTRADINGDAYS = 0)
					BEGIN	
					    SET @TAXFLAG = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END			       						
						SET @TAXFLAG_HEADER = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END			       						
					END
					ELSE IF (@ISTRADINGDAYS = 1)
					BEGIN					
						IF(@PRICEDAY = 'Prior Day' )
						BEGIN
							SET @TAXFLAG_HEADER = 'A'
							SET @TAXFLAG = 'A' 
						END	
						ELSE IF(@PRICEDAY = 'Same Day' )
						BEGIN
						    SET @TAXFLAG = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END								      									
							SET @TAXFLAG_HEADER = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END								      
						END
					END	
										
					   -----IF PRICE IS NOT AVAILABLE -----------                   

					   IF(@CALCULATE_TAX = 'rdoTentativeTax')
						BEGIN						
						     SET @TAXFLAG = @TEMP_TAXFLAG	
							 IF(@TEMP_TAXFLAG = 'A')
							 BEGIN						   				
							 IF NOT EXISTS(SELECT FMVPriceID FROM FMVSharePrices WHERE CONVERT(DATE,TransactionDate )= CONVERT(DATE,@EVENTDATE))
							 BEGIN								
								SET @CHK_TRNONTRDAY =  CASE WHEN  ((SELECT COUNT(NonTradDay) FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) = CONVERT(DATE, @EVENTDATE))=0) THEN 1 ELSE 0 END
							    SET @TAXFLAG =  CASE WHEN(@CHK_TRNONTRDAY = 1) then  'T' else 'A' END
							  
							   IF(@CHK_TRNONTRDAY = 0)						  
						       SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))
						      	
							 END						 
							 END
							 
							  IF(@TEMP_TAXFLAG = 'T')						  
							   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))						 						
						
						    
						    DELETE FROM #TEMP_NON_TRADING_DAYS
							INSERT INTO #TEMP_NON_TRADING_DAYS
							SELECT TOP 100 NonTradDay FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) <= CONVERT(DATE, @EVENTDATE )GROUP BY NonTradDay
							ORDER BY NonTradDay DESC
 
							SELECT @MNVAL = MIN(ID ),@MXVAL = MAX(ID) FROM #TEMP_NON_TRADING_DAYS	
                            
							WHILE(@MNVAL <= @MXVAL)
							BEGIN                          
								IF ((SELECT NONTRADINGDATES FROM #TEMP_NON_TRADING_DAYS WHERE ID = @MNVAL) = @EVENTDATE)													
								BEGIN							  
									SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))			  
								END 
								ELSE IF	 ((SELECT COUNT(FMVPriceID) FROM FMVSharePrices WHERE  CONVERT(DATE,TransactionDate )= CONVERT(DATE, @EVENTDATE)) = 0)
								BEGIN							   	 
									SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))	
								END
								ELSE
									BREAK
								SET @MNVAL = @MNVAL + 1	
						    END							   			
					   END
										 
					INSERT INTO #TEMP_FILTER_CALENDERDAYS	     
					SELECT * FROM FN_ACC_EXPLODE_DATES(CONVERT(date, dateadd(D,- CONVERT(INT, @PRICEDAYS),@EVENTDATE)), CONVERT(date, @EVENTDATE)) ORDER BY 1 desc;

					SET @SQLQUERY ='SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' * FROM #TEMP_FILTER_CALENDERDAYS'  

					INSERT INTO #TEMP_CALENDERDAYS
					EXEC sp_executesql @SQLQUERY

					SELECT @MAXVALUE = Max(id),@MINVALUE = MIN(id) FROM #TEMP_CALENDERDAYS             
					SET @STARTDATE = (SELECT CALENDERDATES FROM #TEMP_CALENDERDAYS  WHERE id = @MAXVALUE) 
					SET @ENDATE = (SELECT CALENDERDATES FROM #TEMP_CALENDERDAYS  WHERE id = @MINVALUE) 

					IF(@Count = 1)
					BEGIN	              
						SET @SQLTEXT = N'SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' ' + @STOCKPRICE + ' ,Volume,StockExchange,TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+ @ConcatString +''','','')) AND (CONVERT(DATE,TransactionDate) <=  CONVERT(DATE, '''+  @ENDATE+''') AND CONVERT(DATE,TransactionDate) >=  CONVERT(DATE,'''+  @STARTDATE+''')) ORDER BY TransactionDate DESC'						     	    	   
					END
					ELSE
					BEGIN				   
						SET @SQLTEXT = N'SELECT   ' + @STOCKPRICE + ' ,Volume,StockExchange,TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+ @ConcatString +''','','')) AND (CONVERT(DATE, TransactionDate) <= CONVERT(DATE, '''+  @ENDATE+''') AND CONVERT(DATE,TransactionDate) >= CONVERT (DATE,'''+  @STARTDATE+''')) 
						AND Volume IN (SELECT CASE WHEN UPPER('''+@TRADINGVOLUME+''') = ''HIGH'' THEN  MAX(Volume) ELSE MIN(Volume)END FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+ @ConcatString +''','','')) AND (  CONVERT(DATE, TransactionDate) <= CONVERT(DATE, '''+  @ENDATE+''') AND CONVERT(DATE, TransactionDate) >=  CONVERT(DATE, '''+  @STARTDATE+''')) GROUP BY TransactionDate) 
						ORDER BY TransactionDate DESC'	
					END


					DELETE FROM #TEMP_AVGPRICE
					IF(@STOCKPRICE = 'OpenPrice,ClosePrice' OR @STOCKPRICE = 'HighPrice,LowPrice')
					BEGIN		
						PRINT 'multiple stock exchange'
						DELETE FROM #TEMP_MULTIPLE_STOCK
						INSERT INTO #TEMP_MULTIPLE_STOCK(STOCKOPEN_HIGHPRICE,STOCKCLOSE_LOWPRICE,Volume,StockExchange,TransactionDate)         
						EXEC (@SQLTEXT)	

						INSERT INTO #TEMP_AVGPRICE(STOCKPRICE)
						SELECT (STOCKOPEN_HIGHPRICE + STOCKCLOSE_LOWPRICE)/2  FROM #TEMP_MULTIPLE_STOCK	   
					END		
					ELSE 
					BEGIN	  				 
						INSERT INTO #TEMP_AVGPRICE(STOCKPRICE,Volume,StockExchange,TransactionDate)
						EXEC (@SQLTEXT)				   
					END

				   SELECT @FMV_PRICE  = (SELECT AVG(STOCKPRICE) AS FMVPRICE FROM #TEMP_AVGPRICE) 
				   
				  --- -In schedular at the time of actual calculation - price is not availble for that incindence date---  
				 SET @FMV_PRICE = CASE WHEN((@TEMP_TAXFLAG= 'A' AND  @TAXFLAG = 'T'))THEN 0 ELSE @FMV_PRICE END
											     
				END
				--FOURTH CASE --   
				ELSE IF(UPPER(@PRICEPERIODID) = 'RDOAVGOFTRADINGDAYDATE')
				BEGIN
					PRINT '4TH CASE'
					SET @ConcatString = Null
					SET @Count = ((SELECT COUNT( * )FROM dbo.FN_SPLIT_STRING(@MSEID,',')))		       	   		          
					SELECT  @ConcatString = COALESCE(@ConcatString + ',', '') + 
					CASE STOCK_EXCHANGE_SYMBOL WHEN  'NSE'  THEN 'N' WHEN  'BSE'  THEN 'B'  WHEN  'NYSE'  THEN 'N' ELSE '' END  
					FROM MST_STOCK_EXCHANGE                
					WHERE CONVERT(VARCHAR(50), MSE_ID) IN(SELECT * FROM dbo.FN_SPLIT_STRING(@MSEID,','))               

					IF(@TRANSACTIONDATE = 'GrantDate')	   	  				
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @GRANTDATE ELSE DATEADD(D,-1,@GRANTDATE) END ELSE 	@GRANTDATE END		      			 		
					ELSE IF(@TRANSACTIONDATE = 'FinalVestingDate')		     
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax')THEN @VESTINGDATE ELSE DATEADD(D,-1,@VESTINGDATE)END ELSE 	@VESTINGDATE END	  				 				  				
					ELSE IF(@TRANSACTIONDATE = 'ExerciseDate')
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @EXERCISE_DATE ELSE DATEADD(D,-1,@EXERCISE_DATE) END ELSE 	@EXERCISE_DATE END	

                  
                    -- SET TENTATIVE/ACTUAL FLAG  -- 	
					IF(@ISTRADINGDAYS = 0)
					BEGIN
					    SET @TAXFLAG = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END			       							
						SET @TAXFLAG_HEADER = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END			       						
					END
					ELSE IF (@ISTRADINGDAYS = 1)
						BEGIN
						IF(@PRICEDAY = 'Prior Day' )
						BEGIN
							SET @TAXFLAG_HEADER = 'A'
							SET @TAXFLAG = 'A'
						END	
						ELSE IF(@PRICEDAY = 'Same Day' )
						BEGIN	
						   SET @TAXFLAG = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END								      					
							SET @TAXFLAG_HEADER = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END								      
						END
					END	

                    
					   IF(@CALCULATE_TAX = 'rdoTentativeTax')
						BEGIN
						    SET @TAXFLAG = @TEMP_TAXFLAG	
							 IF(@TEMP_TAXFLAG = 'A')
							 BEGIN						   				
							 IF NOT EXISTS(SELECT FMVPriceID FROM FMVSharePrices WHERE CONVERT(DATE,TransactionDate )= CONVERT(DATE,@EVENTDATE))
							 BEGIN								
								SET @CHK_TRNONTRDAY =  CASE WHEN  ((SELECT COUNT(NonTradDay) FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) = CONVERT(DATE, @EVENTDATE))=0) THEN 1 ELSE 0 END
							    SET @TAXFLAG =  CASE WHEN(@CHK_TRNONTRDAY = 1) then  'T' else 'A' END
							  
							   IF(@CHK_TRNONTRDAY = 0)						  
						       SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))
						      	
							 END						 
							 END
							 
							  IF(@TEMP_TAXFLAG = 'T')						  
							   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))
						
						    DELETE FROM #TEMP_NON_TRADING_DAYS
							INSERT INTO #TEMP_NON_TRADING_DAYS
							SELECT TOP 100 NonTradDay FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) <= CONVERT(DATE, @EVENTDATE )GROUP BY NonTradDay
							ORDER BY NonTradDay DESC
 
							SELECT @MNVAL = MIN(ID ),@MXVAL = MAX(ID) FROM #TEMP_NON_TRADING_DAYS	
                            
							WHILE(@MNVAL <= @MXVAL)
							BEGIN                          
								IF ((SELECT NONTRADINGDATES FROM #TEMP_NON_TRADING_DAYS WHERE ID = @MNVAL) = @EVENTDATE)													
								BEGIN							  
									SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))			  
								END 
								ELSE IF	 ((SELECT COUNT(FMVPriceID) FROM FMVSharePrices WHERE TransactionDate = @EVENTDATE) = 0)
								BEGIN							   	 
									SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))	
								END
								ELSE
									BREAK
								SET @MNVAL = @MNVAL + 1	
						    END	
						    	
						   			
					END
					IF( @Count > 1)   
					BEGIN
						PRINT 'FOR MULTISELECT'
						SET @STOCKEXCHANGECODE = NULL
						SET @STOCKEXCHANGECODE = (SELECT StockExchange FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',','))AND CONVERT(DATE, TransactionDate) = CONVERT(DATE, ''+ @EVENTDATE +'')
						AND Volume IN (SELECT CASE WHEN UPPER(@TRADINGVOLUME) = 'HIGH' THEN  MAX(Volume) ELSE MIN(Volume) END AS MaxDateTime
						FROM FMVSharePrices WHERE  StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING(''+@ConcatString+'',','))AND CONVERT(DATE, TransactionDate) =CONVERT(DATE, ''+ @EVENTDATE +'')))     
					END

					SET @SQLQUERY = 'SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+CASE WHEN @Count = 1 THEN @ConcatString ELSE  @STOCKEXCHANGECODE END+''','','')) AND CONVERT(DATE, TransactionDate) <= CONVERT(DATE,'''+  @EVENTDATE+''' ) ORDER BY TransactionDate DESC'						
					PRINT @SQLQUERY
					
					INSERT INTO #TEMP_TRADINGDAYS			 
					EXEC (@SQLQUERY)	 

					SELECT @MAXVALUE = Max(id),@MINVALUE = MIN(id) FROM #TEMP_TRADINGDAYS  
					         
					SET @STARTDATE = (SELECT TRADINGDATES FROM #TEMP_TRADINGDAYS  WHERE id = @MAXVALUE) 
					SET @ENDATE = (SELECT TRADINGDATES FROM #TEMP_TRADINGDAYS  WHERE id = @MINVALUE) 	     

					SET @SQLTEXT = N'SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' ' + @STOCKPRICE + ' ,Volume,StockExchange,TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+CASE WHEN @Count = 1 THEN @ConcatString ELSE  @STOCKEXCHANGECODE END+''','','')) AND ( CONVERT(DATE, TransactionDate) <= CONVERT(DATE, '''+  @ENDATE+''') AND CONVERT(DATE, TransactionDate )>=  CONVERT(DATE, '''+  @STARTDATE+''')) ORDER BY TransactionDate DESC'						
					-- PRINT  N'SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' ' + @STOCKPRICE + ' ,Volume FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+@ConcatString+''','','')) AND TransactionDate <= '''+ @EVENTDATE+''' AND TransactionDate >=  CONVERT(date, dateadd(D, -'+ CONVERT(VARCHAR(50), @PRICEDAYS)+','''+ @EVENTDATE+''')) ORDER BY FMVPriceID DESC'			

					DELETE FROM #TEMP_AVGPRICE
					IF(@STOCKPRICE = 'OpenPrice,ClosePrice' OR @STOCKPRICE = 'HighPrice,LowPrice')
					BEGIN	
					    DELETE FROM #TEMP_MULTIPLE_STOCK	
						INSERT INTO #TEMP_MULTIPLE_STOCK(STOCKOPEN_HIGHPRICE,STOCKCLOSE_LOWPRICE,Volume,StockExchange,TransactionDate)         
						EXEC (@SQLTEXT)		  
						 			 
						INSERT INTO #TEMP_AVGPRICE(STOCKPRICE)
						SELECT (STOCKOPEN_HIGHPRICE + STOCKCLOSE_LOWPRICE)/2  FROM #TEMP_MULTIPLE_STOCK	   
					END		
					ELSE 
					BEGIN	       
						INSERT INTO #TEMP_AVGPRICE(STOCKPRICE,Volume,StockExchange,TransactionDate)
						EXEC (@SQLTEXT)
					 END

					SELECT @FMV_PRICE  = (SELECT AVG(STOCKPRICE) AS FMVPRICE FROM #TEMP_AVGPRICE ) 
					
					---In schedular at the time of actual calculation - price is not availble for that incindence date---  
				 SET @FMV_PRICE = CASE WHEN((@TEMP_TAXFLAG= 'A' AND  @TAXFLAG = 'T'))THEN 0 ELSE @FMV_PRICE END
				
				END
				--FIFTH CASE --
				ELSE IF(UPPER(@PRICEPERIODID) = 'RDOAVGOFTRADINGALLDAY')  
				BEGIN
					PRINT '5TH CASE '
					SET @ConcatString = Null
					SET @Count = ((SELECT COUNT( * )FROM dbo.FN_SPLIT_STRING(@MSEID,',')))		       	   		          
					SELECT  @ConcatString = COALESCE(@ConcatString + ',', '') + 
					CASE STOCK_EXCHANGE_SYMBOL WHEN  'NSE'  THEN 'N' WHEN  'BSE'  THEN 'B'    WHEN  'NYSE'  THEN 'N'ELSE '' END
					FROM MST_STOCK_EXCHANGE                
					WHERE CONVERT(VARCHAR(50), MSE_ID) IN(SELECT * FROM dbo.FN_SPLIT_STRING(@MSEID,','))               

					
				 IF(@TRANSACTIONDATE = 'GrantDate')	   	  				
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @GRANTDATE ELSE DATEADD(D,-1,@GRANTDATE) END ELSE 	@GRANTDATE END		      			 		
					ELSE IF(@TRANSACTIONDATE = 'FinalVestingDate')		     
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax')THEN @VESTINGDATE ELSE DATEADD(D,-1,@VESTINGDATE)END ELSE 	@VESTINGDATE END	  				 				  				
					ELSE IF(@TRANSACTIONDATE = 'ExerciseDate')
						SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @EXERCISE_DATE ELSE DATEADD(D,-1,@EXERCISE_DATE) END ELSE 	@EXERCISE_DATE END	

                    -- SET TENTATIVE/ACTUAL FLAG  -- 	  
					IF(@ISTRADINGDAYS = 0)
					BEGIN	
					    SET @TAXFLAG = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END			       						
						SET @TAXFLAG_HEADER = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END			       						
					END
					ELSE IF (@ISTRADINGDAYS = 1)
					BEGIN
						IF(@PRICEDAY = 'Prior Day' )
						BEGIN
							SET @TAXFLAG_HEADER = 'A'
							  SET @TAXFLAG = 'A'
					     END		
						ELSE IF(@PRICEDAY = 'Same Day' )
						BEGIN
						SET @TAXFLAG = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END								      							
							SET @TAXFLAG_HEADER = CASE WHEN ((SELECT COUNT(FMVPriceID) from FMVSharePrices WHERE CONVERT(DATE,TransactionDate) = CONVERT(DATE,@EVENTDATE)) = 0) THEN 'T' ELSE 'A' END								      
						END
					END	    
	
				
					   IF(@CALCULATE_TAX = 'rdoTentativeTax')
						BEGIN						
						    SET @TAXFLAG = @TEMP_TAXFLAG	
							 IF(@TEMP_TAXFLAG = 'A')
							 BEGIN						   				
							 IF NOT EXISTS(SELECT FMVPriceID FROM FMVSharePrices WHERE CONVERT(DATE,TransactionDate )= CONVERT(DATE,@EVENTDATE))
							 BEGIN								
								SET @CHK_TRNONTRDAY =  CASE WHEN  ((SELECT COUNT(NonTradDay) FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) = CONVERT(DATE, @EVENTDATE))=0) THEN 1 ELSE 0 END
							    SET @TAXFLAG =  CASE WHEN(@CHK_TRNONTRDAY = 1) then  'T' else 'A' END
							  
							   IF(@CHK_TRNONTRDAY = 0)						  
						       SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))
						      	
							 END						 
							 END
							 
							  IF(@TEMP_TAXFLAG = 'T')						  
							   SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))
						 			
						    DELETE FROM #TEMP_NON_TRADING_DAYS
							INSERT INTO #TEMP_NON_TRADING_DAYS
							SELECT TOP 100 NonTradDay FROM NonTradingDays WHERE CONVERT(DATE, NonTradDay) <= CONVERT(DATE, @EVENTDATE) GROUP BY NonTradDay
							ORDER BY NonTradDay DESC
 
							SELECT @MNVAL = MIN(ID ),@MXVAL = MAX(ID) FROM #TEMP_NON_TRADING_DAYS	
                            
							WHILE(@MNVAL <= @MXVAL)
							BEGIN                          
								IF ((SELECT NONTRADINGDATES FROM #TEMP_NON_TRADING_DAYS WHERE ID = @MNVAL) = @EVENTDATE)													
								BEGIN							  
									SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))			  
								END 
								ELSE IF	 ((SELECT COUNT(FMVPriceID) FROM FMVSharePrices WHERE CONVERT(DATE,TransactionDate) =  CONVERT(DATE, @EVENTDATE)) = 0)
								BEGIN							   	 
									SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - 1,@EVENTDATE)))	
								END
								ELSE
									BREAK
								SET @MNVAL = @MNVAL + 1	
						    END							    							   			
					    ENd


					IF(@Count = 1)	  
					BEGIN
						SET @SQLQUERY = 'SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+@ConcatString+''','','')) AND CONVERT(DATE,TransactionDate) <= CONVERT(DATE,'''+  @EVENTDATE+''' ) ORDER BY TransactionDate DESC'						
						PRINT @SQLQUERY       
					END 	              	    	
					ELSE
					BEGIN		
						SET @SQLQUERY = 'SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' TransactionDate FROM FMVSharePrices
						WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+@ConcatString+''','','')) 	    				   
						AND CONVERT(DATE,TransactionDate) <= CONVERT(DATE,'''+  @EVENTDATE+''') AND	Volume IN (SELECT CASE WHEN UPPER('''+@TRADINGVOLUME+''') = ''HIGH'' THEN  MAX(Volume) ELSE MIN(Volume)END FROM  FMVSharePrices
						WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+@ConcatString+''','','')) AND CONVERT(DATE,TransactionDate) <=CONVERT(DATE, '''+  @EVENTDATE+''') GROUP BY TransactionDate )	      
						ORDER BY TransactionDate DESC'	
					END
					
					INSERT INTO #TEMP_TRADINGDAYS	
					EXEC (@SQLQUERY)    
					      
					SELECT @MAXVALUE = Max(id),@MINVALUE = MIN(id) FROM #TEMP_TRADINGDAYS             
					SET @STARTDATE = (SELECT TRADINGDATES FROM #TEMP_TRADINGDAYS  WHERE id = @MAXVALUE) 
					SET @ENDATE = (SELECT TRADINGDATES FROM #TEMP_TRADINGDAYS  WHERE id = @MINVALUE) 	 

					IF(@Count = 1)   
					BEGIN
						SET @SQLTEXT = N'SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' ' + @STOCKPRICE + ' ,Volume,StockExchange,TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+@ConcatString+''','','')) AND (CONVERT(DATE,TransactionDate) <= CONVERT(DATE,'''+  @ENDATE+''') AND CONVERT(DATE, TransactionDate) >=  CONVERT(DATE,'''+  @STARTDATE+''')) ORDER BY TransactionDate DESC'						     
					END   
					ELSE
					BEGIN
						--SET @SQLTEXT = N'SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' ' + @STOCKPRICE + ' ,Volume,TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+@ConcatString+''','','')) AND (TransactionDate <= '''+  @ENDATE+''' AND TransactionDate >=  '''+  @STARTDATE+''') ORDER BY TransactionDate DESC'	
						SET @SQLTEXT = N'SELECT TOP '+ CONVERT(VARCHAR(50), @PRICEDAYS)+' ' + @STOCKPRICE + ' ,Volume,StockExchange,TransactionDate FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+@ConcatString+''','','')) AND ( CONVERT(DATE,TransactionDate) <= CONVERT(DATE, '''+  @ENDATE+''') AND CONVERT(DATE,TransactionDate) >= CONVERT(DATE, '''+  @STARTDATE+''') )
						AND volume IN( SELECT CASE WHEN UPPER('''+@TRADINGVOLUME+''') = ''HIGH'' THEN  MAX(Volume) ELSE MIN(Volume)END AS Volume FROM FMVSharePrices WHERE StockExchange IN(SELECT * FROM dbo.FN_SPLIT_STRING('''+@ConcatString+''','','')) AND (CONVERT(DATE, TransactionDate) <= CONVERT(DATE,'''+  @ENDATE+''') AND CONVERT(DATE,TransactionDate) >=  CONVERT(DATE,'''+  @STARTDATE+'''))   GROUP BY TransactionDate  )
						ORDER BY TransactionDate DESC'	

					END
					PRINT @SQLTEXT					   
					DELETE FROM #TEMP_AVGPRICE
					IF(@STOCKPRICE = 'OpenPrice,ClosePrice' OR @STOCKPRICE = 'HighPrice,LowPrice')
					BEGIN		
						PRINT 'MULTIPLE STOCK EXCHANGE'
						DELETE FROM #TEMP_MULTIPLE_STOCK
						INSERT INTO #TEMP_MULTIPLE_STOCK(STOCKOPEN_HIGHPRICE,STOCKCLOSE_LOWPRICE,Volume,StockExchange,TransactionDate)         
						EXEC (@SQLTEXT)	

						INSERT INTO #TEMP_AVGPRICE(STOCKPRICE)
						SELECT (STOCKOPEN_HIGHPRICE + STOCKCLOSE_LOWPRICE)/2  FROM #TEMP_MULTIPLE_STOCK	   
					END		
					ELSE 
					BEGIN	  		 
						INSERT INTO #TEMP_AVGPRICE(STOCKPRICE,Volume,StockExchange,TransactionDate)
						EXEC (@SQLTEXT)	      	       
					END
					SELECT @FMV_PRICE  = (SELECT AVG(STOCKPRICE) AS FMVPRICE FROM #TEMP_AVGPRICE ) 
					
				 ---In schedular at the time of actual calculation - price is not availble for that incindence date---  
				 SET @FMV_PRICE = CASE WHEN((@TEMP_TAXFLAG= 'A' AND  @TAXFLAG = 'T'))THEN 0 ELSE @FMV_PRICE END				 
				END
			END
			ELSE 
			------------ CODE FOR UNLISTED COMPANY --------------
			BEGIN

			 IF(@EXCEPTFOR_FMV = 1)
			 BEGIN
				 IF(@EXCEPT_FMV = 'R')
			 BEGIN   
					
					SELECT @EMPLOYEE_STATUS = RT.id 
					FROM EmployeeMaster AS EM
					INNER JOIN ResidentialType AS RT ON EM.ResidentialStatus = RT.ResidentialStatus
					WHERE EM.EmployeeID = @EMPLOYEE_ID
					INSERT INTO #TEMP_FILTER_FMVDATA		        
					SELECT TOP(1)FFC.FFC_ID,FFC.FORNULA_NAME,FFC.MSE_ID,FFC.Residential_ID,FORMULA_DESCRIPTION,			 
							CASE WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date') THEN 'GrantDate'
									 WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date') THEN 'FinalVestingDate'	
									 WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date')THEN 'ExerciseDate' END AS 'TransactionDate',			 
								dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) as Price ,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) As TradingVolume  ,
							CASE WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price') THEN 'OpenPrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price') THEN 'ClosePrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price') THEN 'HighPrice'
									 WHEN( dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price') THEN 'LowPrice'
									 WHEN( dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing') THEN 'OpenPrice,ClosePrice'
									WHEN( dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low') THEN 'HighPrice,LowPrice' END AS 'StockPrice'			 
								,FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
						FROM  FMV_FORMULA_CONFIG  AS FFC	
							 		  
						WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV'	    
							  AND((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
							  AND RESIDENTIAL_ID = @EMPLOYEE_STATUS 
							 
							  	AND FFC.MIT_ID = @INSTRUMENT_ID   	  		   
						ORDER BY FFC_ID DESC												
				END
			ELSE IF(@EXCEPT_FMV = 'C')
			BEGIN				
					
					print @GRANTDATE
					print @VESTINGDATE
					print @EXERCISE_DATE
				    -- GET EMPLOYEE COUNTRY --  					 
					SELECT TOP 1 @EMPLOYEE_COUNTRY_ID =  sub.Country
					FROM 
					(
					 SELECT CASE dbo.FN_GET_COM_CODE_VALUE(FFC.TRANS_DATE_ID) 
								WHEN 'Grant Date' THEN CONVERT(DATE,@GRANTDATE)
								WHEN 'Vesting Date' THEN CONVERT(DATE,@VESTINGDATE)
								WHEN  'Exercise Date' THEN CONVERT(DATE,@EXERCISE_DATE)
						    END AS TransDate, 

						    (
								 SELECT TOP 1 CM.ID 
								 FROM AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD AS ATM  
									  INNER JOIN CountryMaster AS CM ON CM.CountryName = ATM.[Moved To] 
					     		 WHERE ATM.EmployeeId= @EMPLOYEE_ID
									   AND UPPER(Field) =UPPER('Tax Identifier Country') AND  
									   CONVERT(DATE,ATM.[From Date of Movement]) <= CONVERT(DATE, CASE dbo.FN_GET_COM_CODE_VALUE(FFC.TRANS_DATE_ID)
									    WHEN 'Grant Date' THEN CONVERT(DATE,@GRANTDATE)
									   WHEN 'Vesting Date' THEN CONVERT(DATE,@VESTINGDATE )
									   WHEN  'Exercise Date' THEN CONVERT(DATE,@EXERCISE_DATE)
					      			   END)
					      			     ORDER BY ATM.[From Date of Movement] DESC
					      			   )AS Country

								FROM FMV_FORMULA_CONFIG  AS FFC		  		  
									 INNER JOIN  COMPANY_INSTRUMENT_MAP_DETAILS AS CIMPD ON FFC.Country_ID = CIMPD.Country_ID		  
								WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV' AND CIMPD.ACTIVE = 1 AND FFC.MIT_ID = @INSTRUMENT_ID	
									 AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	   
									-- AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,GETDATE())) AND (CONVERT(DATE,ISNULL(FFC.APPLICABLE_TO_DATE, GETDATE())) >=  CONVERT(DATE,GETDATE())))					
									 AND  ISNULL( FFC.Residential_ID,0) = 0   AND FFC.Country_ID > 0
					      ) sub 
					WHERE ISNULL(sub.Country, 0) <> 0
					ORDER BY TransDate ASC
					
					INSERT INTO #TEMP_FILTER_FMVDATA		        
						SELECT TOP(1)FFC.FFC_ID,FFC.FORNULA_NAME,FFC.MSE_ID ,FFC.Residential_ID,FORMULA_DESCRIPTION,			 
								CASE WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date')THEN 'GrantDate'
									 WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date')THEN 'FinalVestingDate'	
									 WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date')THEN 'ExerciseDate' END AS 'TransactionDate',			 
								dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) as Price ,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) As TradingVolume ,
								CASE WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price')  THEN 'OpenPrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price') THEN 'ClosePrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price') THEN 'HighPrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price')  THEN 'LowPrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing') THEN 'OpenPrice,ClosePrice'
									 WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low')THEN 'HighPrice,LowPrice' END AS 'StockPrice'			 
								,FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
						FROM FMV_FORMULA_CONFIG  AS FFC	
							  
						WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV'  AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
						AND Country_ID = @EMPLOYEE_COUNTRY_ID AND FFC.MIT_ID = @INSTRUMENT_ID 
						ORDER BY FFC_ID DESC
						
					END	
					
			      DECLARE @FMV_DATA_COUNT_1 INT	
				SET @FMV_DATA_COUNT_1 = (SELECT COUNT(*) FROM #TEMP_FILTER_FMVDATA)
						
								
					--  IF NO DATA FOUND FOR EXCEPTION THEN PICK COMPANY LEVEL FORMULA --
					IF(@FMV_DATA_COUNT_1 = 0)
					BEGIN	
			            INSERT INTO #TEMP_FILTER_FMVDATA		        
						SELECT TOP(1)
							FFC.FFC_ID, FFC.FORNULA_NAME, FFC.MSE_ID, FFC.Residential_ID, FORMULA_DESCRIPTION,			 
							CASE WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date')  THEN 'GrantDate'
								WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date') THEN 'FinalVestingDate'	
								WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date') THEN 'ExerciseDate'				       		       			       
							END AS 'TransactionDate',dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) AS Price ,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) AS TradingVolume  ,
							CASE WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price') THEN 'OpenPrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price') THEN 'ClosePrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price') THEN 'HighPrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price') THEN 'LowPrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing') THEN 'OpenPrice,ClosePrice'
								WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low') THEN 'HighPrice,LowPrice'			       
							END AS 'StockPrice',FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
						FROM 
							FMV_FORMULA_CONFIG  AS FFC		  
						WHERE 
							FFC.FORMULA_CONFIG_TYPE = 'FMV' AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
						 AND Residential_ID = 0 AND Country_ID = 0	AND FFC.MIT_ID = @INSTRUMENT_ID	   		      		   
						ORDER BY 
							FFC_ID DESC	
					END			
					
			 END
			 ELSE  IF(@EXCEPTFOR_FMV = 0)
			 BEGIN
			   PRINT 'EXCEPTION 0'
				 INSERT INTO #TEMP_FILTER_FMVDATA		        
					SELECT TOP(1)
						FFC.FFC_ID, FFC.FORNULA_NAME, FFC.MSE_ID, FFC.Residential_ID, FORMULA_DESCRIPTION,			 
						CASE WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date')  THEN 'GrantDate'
							WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date') THEN 'FinalVestingDate'	
							WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date') THEN 'ExerciseDate'				       		       			       
						END AS 'TransactionDate',dbo.FN_GET_COM_CODE_VALUE(PRICE_DAY_ID) AS Price ,dbo.FN_GET_COM_CODE_VALUE(TRADING_VOL_ID) AS TradingVolume  ,
						CASE WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Opening Price') THEN 'OpenPrice'
							WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Closing Price') THEN 'ClosePrice'
							WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'High Price') THEN 'HighPrice'
							WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Low Price') THEN 'LowPrice'
							WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of Opening Closing') THEN 'OpenPrice,ClosePrice'
							WHEN(dbo.FN_GET_COM_CODE_VALUE(STOCK_PRICE_ID) = 'Average of High Low') THEN 'HighPrice,LowPrice'			       
						END AS 'StockPrice',FFC.PRICE_PERIOD, FFC.PRICE_PERIOD_DAY,FFC.IS_TRADINGDAYS
					FROM 
						FMV_FORMULA_CONFIG  AS FFC		  
					WHERE 
						FFC.FORMULA_CONFIG_TYPE = 'FMV' AND ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISE_DATE)) >=  CONVERT(DATE,@EXERCISE_DATE)))	
					 AND Residential_ID = 0 AND Country_ID = 0	AND FFC.MIT_ID = @INSTRUMENT_ID	   		      		   
					ORDER BY 
						FFC_ID DESC	
			   END
											
					SELECT 
						@PRICEPERIODID = PRICE_PERIOD,@PRICEDAYS = PRICE_PERIOD_DAY, @STOCKPRICE = STOCK_PRICE_ID,@MSEID = MSE_ID ,@TRANSACTIONDATE = TRANS_DATE_ID,@PRICEDAY = PRICE_DAY_ID,@TRADINGVOLUME = TRADING_VOL_ID 
					FROM 
						#TEMP_FILTER_FMVDATA	
				 		
	              IF(@TRANSACTIONDATE = 'GrantDate')	   	  				
					SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @GRANTDATE ELSE DATEADD(D,-1,@GRANTDATE) END ELSE 	@GRANTDATE END		      			 		
				ELSE IF(@TRANSACTIONDATE = 'FinalVestingDate')		     
					SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax')THEN @VESTINGDATE ELSE DATEADD(D,-1,@VESTINGDATE)END ELSE 	@VESTINGDATE END	  				 				  				
				ELSE IF(@TRANSACTIONDATE = 'ExerciseDate')
					SET @EVENTDATE = CASE WHEN(@PRICEDAY = 'Prior Day' )THEN CASE WHEN(@CALCULATE_TAX = 'rdoTentativeTax') THEN @EXERCISE_DATE ELSE DATEADD(D,-1,@EXERCISE_DATE) END ELSE 	@EXERCISE_DATE END	

               IF(@CALCULATE_TAX = 'rdoTentativeTax')
			   BEGIN	
					 SET @EVENTDATE =(SELECT CONVERT(DATE,DATEADD(DAY, - @CALCUALTE_TAX_PRIOR_DAYS,@EVENTDATE)))
					 SET @TAXFLAG = 'A'
					 SET @TAXFLAG_HEADER = 'A'
			   END	
			   ELSE
			   BEGIN
                  IF((SELECT COUNT(1) from FMVForUnlisted where FMV_FromDate <= CONVERT(DATE, @EVENTDATE) and FMV_Todate >= CONVERT(DATE, @EVENTDATE))  = 0)
			      BEGIN
			             SET @TAXFLAG = 'T'
					    SET @TAXFLAG_HEADER = 'T'			         
			       END
			       ELSE	
			       BEGIN
					  SET @TAXFLAG = 'A'
					  SET @TAXFLAG_HEADER = 'A'
				  END	  
			   END

				--  FIRST CASE --
		       IF(UPPER(@PRICEPERIODID) = 'RDOPRICECONSIDERATIONDATE')	
		       BEGIN
                   SET @Is_FMVExists = 0   	
		           SET @FMV_PRICE = 0		       
		         
               IF ((SELECT COUNT(FMV) as totalcount FROM FMVForUnlisted) > 0) 
                BEGIN 
						SET @Is_FMVExists = (SELECT COUNT(1) from FMVForUnlisted where FMV_FromDate <= CONVERT(DATE, @EVENTDATE) and FMV_Todate >= CONVERT(DATE, @EVENTDATE)) 
						IF(@Is_FMVExists = 0) 
						BEGIN 															
							   SET @EVENTDATE =(SELECT TOP 1 FMV_Todate  FROM  FMVForUnlisted  ORDER BY FMV_Todate DESC)																
						END               
			       END
			    
                   SET @FMV_PRICE = (SELECT  FMV FROM FMVForUnlisted WHERE CONVERT(DATE,FMV_FromDate) <= CONVERT(DATE, @EVENTDATE) and CONVERT(DATE,FMV_Todate) >= CONVERT(DATE,@EVENTDATE))		         		         
		       END
		       ELSE IF(UPPER(@PRICEPERIODID) = 'RDOAVGOFDATEOFEVENT')
		       BEGIN		    
		            DELETE FROM #TEMP_FILTER_CALENDERDAYS
		            DELETE FROM #TEMP_CALENDERDAYS
		            					
					INSERT INTO #TEMP_CALENDERDAYS
					SELECT * FROM FN_ACC_EXPLODE_DATES(CONVERT(DATE, dateadd(D,- CONVERT(INT, 10),@EVENTDATE)), CONVERT(DATE, @EVENTDATE)) ORDER BY 1 desc;
						
					SELECT @MAXVALUE = Max(id),@MINVALUE = MIN(id) FROM #TEMP_CALENDERDAYS             									 
					SET @ENDATE = (SELECT CALENDERDATES FROM #TEMP_CALENDERDAYS  WHERE id = @MINVALUE) 										
					IF EXISTS (SELECT 1 FROM FMVForUnlisted)	
					BEGIN					
					WHILE(@MINVALUE <= @MAXVALUE)
					BEGIN

  						SET @STARTDATE = (SELECT CALENDERDATES FROM #TEMP_CALENDERDAYS  WHERE id = @MINVALUE) 
  						INSERT INTO #TEMP_COMPARE_DATA (STOCKPRICE)
  						SELECT  FMV FROM FMVForUnlisted WHERE FMV_FromDate <= @STARTDATE and FMV_Todate >= @STARTDATE					  	
			  	
						SET @MINVALUE = @MINVALUE + 1							
					END					
					END										
						 SET @FMV_PRICE = 0
						 SELECT @FMV_PRICE  = AVG(STOCKPRICE)  FROM #TEMP_COMPARE_DATA 														
		       END 

			END	    	    				   
			 INSERT INTO #TEMP_FMV_DETAILS 
			(
				INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, GRANTDATE, VESTINGDATE, EXERCISE_DATE,FMV_VALUE,TAXFLAG,TAXFLAG_HEADER
			)
				
			SELECT @INSTRUMENT_ID,@EMPLOYEE_ID,@GRANTOPTIONID,@GRANTDATE,@VESTINGDATE,@EXERCISE_DATE,@FMV_PRICE,@TAXFLAG,@TAXFLAG_HEADER
			 
			SET @FMV_PRICE = 0			  
			SET @MN_VALUE = @MN_VALUE + 1	 
		END
		
		IF(ISNULL(UPPER(@CalledFrom),'') <> 'SSRSREPORT')	  
		BEGIN
			SELECT 
				ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, 
				dbo.FN_GET_COMPANY_DECIMAL_SETTING(FMV_VALUE,'FMV') AS FMV_VALUE, TAXFLAG ,TAXFLAG_HEADER
			FROM 
				#TEMP_FMV_DETAILS 
		END
		
		IF EXISTS (SELECT * FROM SYS.tables WHERE UPPER(name) = 'TEMP_FMV_DETAILS')
		BEGIN
			DROP TABLE TEMP_FMV_DETAILS
		END
		
		SELECT ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, 
				dbo.FN_GET_COMPANY_DECIMAL_SETTING(FMV_VALUE,'FMV') AS FMV_VALUE, TAXFLAG , TAXFLAG_HEADER INTO TEMP_FMV_DETAILS FROM #TEMP_FMV_DETAILS  
	END TRY
	BEGIN CATCH		
		DECLARE @MAILBODY VARCHAR(MAX), @ERROR_NUMBER VARCHAR(50), @ERROR_SEVERITY VARCHAR(50), @ERROR_STATE VARCHAR(50), 
			@ERROR_PROCEDURE VARCHAR(500), @ERROR_LINE  VARCHAR(MAX), @ERROR_MESSAGE VARCHAR(MAX),@Subject_body NVARCHAR(250)   
			
		SELECT 
			@ERROR_NUMBER = ERROR_NUMBER() ,@ERROR_SEVERITY = ERROR_SEVERITY() ,@ERROR_STATE = ERROR_STATE() ,@ERROR_PROCEDURE =  ERROR_PROCEDURE(), 
			@ERROR_LINE =	ERROR_LINE(), @ERROR_MESSAGE = ERROR_MESSAGE() 			 
		
		SET @MAILBODY = 'ERROR NUMBER -' +@ERROR_NUMBER+','+ 'ERROR SEVERITY -' +@ERROR_SEVERITY+','+ 'ERROR STATE -' +@ERROR_STATE+','+ 'ERROR PROCEDURE -' +@ERROR_PROCEDURE+','+ 'ERROR LINE -' +@ERROR_LINE+','+ 'ERROR MESSAGE -' +@ERROR_MESSAGE
		
		SET @Subject_body='Error Occured on [Date:'+CONVERT(NVARCHAR(50),GETDATE())+']'
			/* For local debugging comment below code for mail*/
		---- SEND MAIL --		
			--DECLARE @TAB CHAR(1) = CHAR(9)
			--EXECUTE 
			--msdb.dbo.sp_send_dbmail 		
			--@recipients = 'esopit@esopdirect.com', 		
			--@subject = @Subject_body, 
			--@body = @MAILBODY,		
			--@body_format = 'HTML',
			--@query = '', 
			--@attach_query_result_as_file = 0,
			--@query_attachment_filename = NULL,
			--@query_result_separator = @TAB,
			--@query_result_no_padding = 1												
	END CATCH
	    
    DROP TABLE #TEMP_FILTER_FMVDATA
    DROP TABLE #TEMP_AVGPRICE
    DROP TABLE #TEMP_FMV_DETAILS
    DROP TABLE #TEMP_CALENDERDAYS
    DROP TABLE #TEMP_COMPARE_DATA
    DROP TABLE #TEMP_EMPLOYEE_DETAILS
    DROP TABLE #TEMP_FILTER_CALENDERDAYS
    DROP TABLE #TEMP_FILTER_DATA
    DROP TABLE #TEMP_MULTIPLE_STOCK 
    DROP TABLE #TEMP_TRADINGDAYS
    DROP TABLE #TEMP_NON_TRADING_DAYS
    
	SET NOCOUNT OFF;		
END
GO
