/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_GET_DEMAT_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/



IF EXISTS(SELECT NAME FROM SYS.PROCEDURES WHERE NAME = 'PROC_SOPsUI_VALIDATE_DEMAT_DETAILS')
BEGIN
DROP PROCEDURE PROC_SOPsUI_VALIDATE_DEMAT_DETAILS
END
GO

IF EXISTS(SELECT NAME FROM SYS.TYPES WHERE NAME = 'SOPSsUI_GET_DEMAT_DETAILS')
BEGIN
DROP TYPE SOPSsUI_GET_DEMAT_DETAILS
END
GO


/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_GET_DEMAT_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
CREATE TYPE [dbo].[SOPSsUI_GET_DEMAT_DETAILS] AS TABLE(
	[EXERCISE_NUMBER] [nvarchar](100) NULL,
	[PAYMENT_MODE] [nvarchar](1) NULL,
	[DEPOSITORY_NAME] [nvarchar](1) NULL,
	[DEMAT_TYPE] [nvarchar](1) NULL,
	[DEPOSITORY_PARTICIPATORY_NAME] [nvarchar](100) NULL,
	[DP_ID_NUMBER] [nvarchar](10) NULL,
	[CLIENT_ID_NUMBER] [nvarchar](20) NULL,
	[NAME_AS_PER_DP_RECORD] [nvarchar](100) NULL
)
GO
