/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_GET_FVM_DATES]    Script Date: 7/6/2022 1:40:54 PM ******/


IF EXISTS(SELECT NAME FROM SYS.PROCEDURES WHERE NAME = 'PROC_SOPsUI_VALIDATE_FMV_TO_DATE')
BEGIN
DROP PROCEDURE PROC_SOPsUI_VALIDATE_FMV_TO_DATE
END
GO

IF EXISTS(SELECT NAME FROM SYS.TYPES WHERE NAME = 'SOPSsUI_GET_FVM_DATES')
BEGIN
DROP TYPE SOPSsUI_GET_FVM_DATES
END
GO


/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_GET_FVM_DATES]    Script Date: 7/6/2022 1:40:54 PM ******/
CREATE TYPE [dbo].[SOPSsUI_GET_FVM_DATES] AS TABLE(
	[OLD_FVM_DATE] [datetime] NULL,
	[NEW_FMV_DATE] [datetime] NULL
)
GO
