
IF EXISTS(SELECT NAME FROM SYS.PROCEDURES WHERE NAME = 'PROC_SOPsUI_VALIDATE_ALLOTMENT_DATES')
BEGIN
DROP PROCEDURE PROC_SOPsUI_VALIDATE_ALLOTMENT_DATES
END
GO

IF EXISTS(SELECT NAME FROM SYS.TYPES WHERE NAME = 'SOPSsUI_GET_ALLOTMENT_DATA')
BEGIN
DROP TYPE SOPSsUI_GET_ALLOTMENT_DATA
END
GO

/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_GET_ALLOTMENT_DATA]    Script Date: 7/6/2022 1:40:54 PM ******/
CREATE TYPE [dbo].[SOPSsUI_GET_ALLOTMENT_DATA] AS TABLE(
	[EXERCISED_ID] [nvarchar](200) NULL,
	[ALLOTMENT_DATE] [datetime] NULL
)
GO
