/****** Object:  UserDefinedTableType [dbo].[TYPE_EXERCISE_IDS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP TYPE IF EXISTS [dbo].[TYPE_EXERCISE_IDS]
GO
/****** Object:  UserDefinedTableType [dbo].[TYPE_EXERCISE_IDS]    Script Date: 7/6/2022 1:40:54 PM ******/
CREATE TYPE [dbo].[TYPE_EXERCISE_IDS] AS TABLE(
	[EMPLOYEE_ID] [nvarchar](100) NULL
)
GO
