/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_EXERCISE_EMPLOYEE_IDS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP TYPE IF EXISTS [dbo].[SOPSsUI_EXERCISE_EMPLOYEE_IDS]
GO
/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_EXERCISE_EMPLOYEE_IDS]    Script Date: 7/6/2022 1:40:54 PM ******/
CREATE TYPE [dbo].[SOPSsUI_EXERCISE_EMPLOYEE_IDS] AS TABLE(
	[IDs] [nvarchar](200) NULL
)
GO
