/****** Object:  UserDefinedFunction [dbo].[FN_ROUND_VALUE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP FUNCTION IF EXISTS [dbo].[FN_ROUND_VALUE]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_ROUND_VALUE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_ROUND_VALUE]
(
	-- Add the parameters for the function here
	@ROUNDING_VALUE NUMERIC(18,6),
	@ROUNDING_CHAR_PARM CHAR(1),
	@ROUNDING_VALUE_PARM INT
)
RETURNS NUMERIC (18,6)
AS
BEGIN
	
	DECLARE @SQL_QUERY VARCHAR(MAX) 
	
	IF (UPPER(@ROUNDING_CHAR_PARM) = '0')
		BEGIN
			SET @SQL_QUERY = (SELECT CAST((@ROUNDING_VALUE) AS NUMERIC(18,0)))
		END
	ELSE IF (UPPER(@ROUNDING_CHAR_PARM) = 'N')
		BEGIN
			SET @SQL_QUERY = 
				(
					SELECT 
					CASE WHEN ABS(@ROUNDING_VALUE - ROUND(@ROUNDING_VALUE, @ROUNDING_VALUE_PARM, 1)) * POWER(10, @ROUNDING_VALUE_PARM + 1) = 6 THEN 
							ROUND(@ROUNDING_VALUE, @ROUNDING_VALUE_PARM, 
								CASE WHEN CONVERT(BIGINT, ROUND(ABS(@ROUNDING_VALUE) * POWER(10, @ROUNDING_VALUE_PARM), 0, 1)) % 2 = 1 THEN 0 
									ELSE 1 
								END)
						ELSE ROUND(@ROUNDING_VALUE, @ROUNDING_VALUE_PARM)
					END
				)
		END	
	ELSE IF (UPPER(@ROUNDING_CHAR_PARM) = 'C')
		BEGIN
			SET @SQL_QUERY = 
				(
					SELECT CEILING(POWER(10, @ROUNDING_VALUE_PARM) * @ROUNDING_VALUE)/POWER(10, @ROUNDING_VALUE_PARM)
                )
		END
	ELSE IF (UPPER(@ROUNDING_CHAR_PARM) = 'F')
		BEGIN
			SET @SQL_QUERY = 
				(
					SELECT FLOOR(POWER(10, @ROUNDING_VALUE_PARM) * @ROUNDING_VALUE)/POWER(10,@ROUNDING_VALUE_PARM)
                )
		END					

	-- RETURN THE RESULT OF THE FUNCTION
	
	RETURN @SQL_QUERY

END

GO
