IF NOT EXISTS (
		SELECT *
		FROM sys.objects
		WHERE object_id = OBJECT_ID(N'[dbo].[AUDIT_SOPs_UI]')
			AND type IN (N'U')
		)
BEGIN
	CREATE TABLE [dbo].[AUDIT_SOPs_UI] (
		[ID] [bigint] IDENTITY(1, 1) NOT NULL
		,[TEMPLATE_NAME] [nvarchar](100) NOT NULL
		,[UPDATED_BY] [nvarchar](100) NOT NULL
		,[UPDATED_ON] [datetime] NOT NULL
		,[UNIQUE_IDENTIFIER_TEXT] [nvarchar](100) NOT NULL
		,[UNIQUE_IDENTIFIER_VALE] [nvarchar](100) NOT NULL
		,[COMMAND_EXECUATED] [nvarchar](100) NOT NULL
		,[COMMAND_PARAMETER] [nvarchar](500) NOT NULL
		,PRIMARY KEY CLUSTERED ([ID] ASC) WITH (
			PAD_INDEX = OFF
			,STATISTICS_NORECOMPUTE = OFF
			,IGNORE_DUP_KEY = OFF
			,ALLOW_ROW_LOCKS = ON
			,ALLOW_PAGE_LOCKS = ON
			,FILLFACTOR = 95
			,OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF
			) ON [PRIMARY]
		) ON [PRIMARY]
END