/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_EMPLOYEEID]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [PROC_SOPsUI_VALIDATE_EMPLOYEEID]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_EMPLOYEEID]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PROC_SOPsUI_VALIDATE_EMPLOYEEID] 
	
	@SOPSsUI_EXERCISE_EMPLOYEE_IDS SOPSsUI_EXERCISE_EMPLOYEE_IDS READONLY
AS
BEGIN
	
	SET NOCOUNT ON;
	
	CREATE TABLE #TEMP_EMPLOYEE_ID_AVAILABILITY
	(
		TEIA_EMPLOYEE_ID NVARCHAR(100)
	)

	CREATE TABLE #TEMP_GRANT_ALREADY_ASSOCIATED
	(
		TGAS_EMPLOYEE_ID NVARCHAR(100)
	)

	INSERT INTO #TEMP_EMPLOYEE_ID_AVAILABILITY
	SELECT IDs FROM @SOPSsUI_EXERCISE_EMPLOYEE_IDS 

	INSERT INTO #TEMP_GRANT_ALREADY_ASSOCIATED
	SELECT IDs FROM @SOPSsUI_EXERCISE_EMPLOYEE_IDS
	
	DELETE 
		TEIA
	FROM 
		#TEMP_EMPLOYEE_ID_AVAILABILITY AS TEIA
	INNER JOIN EmployeeMaster AS EMP ON EMP.EmployeeID = TEIA.TEIA_EMPLOYEE_ID
 		
	SELECT IDs AS 'EmployeeID', 'Remove duplicate Employee ID from Excel.' AS 'Message' FROM @SOPSsUI_EXERCISE_EMPLOYEE_IDS GROUP BY IDs HAVING COUNT(IDs)>1
	UNION ALL
	SELECT TEIA_EMPLOYEE_ID AS 'EmployeeID', 'Employee ID not available in Employee Master. Please remove from Excel Sheet.' AS 'Message' FROM #TEMP_EMPLOYEE_ID_AVAILABILITY
	UNION ALL
	SELECT 
		DISTINCT TGAS.TGAS_EMPLOYEE_ID AS 'EmployeeID', 'Employee Ids already associated with grant then should not be deleted. Please remove from Excel Sheet.' 
	FROM
		#TEMP_GRANT_ALREADY_ASSOCIATED AS TGAS
		LEFT OUTER JOIN EmployeeMaster AS EMP ON TGAS.TGAS_EMPLOYEE_ID = EMP.EmployeeID
		INNER JOIN GrantOptions AS GOP ON GOP.EmployeeId = EMP.EmployeeID	
	WHERE 
		(EMP.Deleted = 0) AND (EMP.IsAssociated IS NULL)
	
	
	

	SET NOCOUNT OFF;				
END
GO
