/****** Object:  StoredProcedure [dbo].[GetEmployee_PersonalStatusReportData_rpt]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[GetEmployee_PersonalStatusReportData_rpt]
GO
/****** Object:  StoredProcedure [dbo].[GetEmployee_PersonalStatusReportData_rpt]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--exec [dbo].[GetEmployee_PersonalStatusReportData_test] 'All'
CREATE     PROCEDURE [dbo].[GetEmployee_PersonalStatusReportData_rpt]
(
	@Status varchar(20)
)
AS
BEGIN
	DECLARE @SqlStatement VARCHAR(MAX),@SqlConditionsLive VARCHAR(MAX),@SqlConditionsSeparate VARCHAR(MAX)
	
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED;

	SET @SqlStatement=' SELECT EMPLOYEEID, LOGINID, EMPLOYEENAME, COUNTRYMASTER.COUNTRYNAME AS COUNTRYNAME, EMPLOYEEDESIGNATION, 
		EMPLOYEEEMAIL, DATEOFJOINING, GRADE, LOCATION,
		CASE WHEN (LWD IS null) THEN ''Live'' 
			 WHEN (LWD > CAST(CAST(GETDATE() AS DATE)AS DATETIME)) THEN ''Live''
		     WHEN (LWD =''1900-01-01 00:00:00.000'') THEN ''Live'' 
			 WHEN (CONVERT(DATE,LWD) < CONVERT(DATE, DATEOFTERMINATION)) THEN ''Live'' 
			 ELSE ''Separate''END AS [Status], 
		CASE WHEN (DATEOFTERMINATION=''1900-01-01 00:00:00.000'') THEN NULL ELSE DATEOFTERMINATION END AS DATEOFTERMINATION,
		CASE WHEN (RESIDENTIALSTATUS=''R'') THEN ''Resident Indian''
			 WHEN (RESIDENTIALSTATUS=''N'') THEN ''Non Resident Indian''
			 WHEN (RESIDENTIALSTATUS=''F'') THEN ''Foreign National'' END [Residential Status],
		SBU, ENTITY, ACCOUNTNO, DEPARTMENT, PANNUMBER, DEPOSITORYPARTICIPANTNO,
		CASE WHEN DEPOSITORYNAME = ''N'' THEN ''NSDL'' 
			 WHEN DEPOSITORYNAME = ''C'' THEN ''CDSL'' 
				ELSE DEPOSITORYNAME END AS  DEPOSITORYNAME,
		DEPOSITORYIDNUMBER, CONFSTATUS, CLIENTIDNUMBER, WARDNUMBER, EMPLOYEEADDRESS, EMPLOYEEPHONE, Insider, 
		(CASE WHEN (DematAccountType IS NULL) THEN NULL
			WHEN (DematAccountType = ''R'') THEN ''Repatriable'' 
			WHEN (DematAccountType = ''N'') THEN ''Non Repatriable'' 
			WHEN (DematAccountType = ''A'') THEN ''Not Applicable''
			ELSE 
			DematAccountType END) AS DematAccountType, 
		(CASE WHEN (LWD IS NULL) THEN NULL 
			  WHEN (LWD = ''1900-01-01 00:00:00.000'') THEN NULL
			ELSE LWD END) AS LWD '
		 
	--For Status = Live 
	IF (@Status = 'Live')
	BEGIN
		SET @SqlConditionsLive=' , NULL AS REASONFORTERMINATION, BROKER_DEP_TRUST_CMP_NAME, BROKER_DEP_TRUST_CMP_ID, BROKER_ELECT_ACC_NUM, COST_CENTER,getdate() as rowinsrtdttm,getdate() as rowupdtdttm
							 FROM EMPLOYEEMASTER LEFT OUTER JOIN COUNTRYMASTER ON EMPLOYEEMASTER.COUNTRYNAME=COUNTRYMASTER.COUNTRYALIASNAME 
							 WHERE (LWD IS NULL) OR (LWD = ''1900-01-01 00:00:00.000'')
							 AND (NEWEMPLOYEEID IS NULL) AND (Deleted = ''0'')
							 '
	   SET @SqlStatement = @SqlStatement + @SqlConditionsLive
	END
	
	--For Status = 'Separate'
	ELSE IF(@Status = 'Separate')	
	BEGIN
	  SET @SqlConditionsSeparate= ' , REASONFORTERMINATION.REASON AS REASONFORTERMINATION, BROKER_DEP_TRUST_CMP_NAME, BROKER_DEP_TRUST_CMP_ID, BROKER_ELECT_ACC_NUM, COST_CENTER,getdate() as rowinsrtdttm,getdate() as rowupdtdttm
							FROM EMPLOYEEMASTER LEFT OUTER JOIN COUNTRYMASTER ON EMPLOYEEMASTER.COUNTRYNAME=COUNTRYMASTER.COUNTRYALIASNAME ,REASONFORTERMINATION 
							WHERE REASONFORTERMINATION.ID=EMPLOYEEMASTER.REASONFORTERMINATION 
							AND (LWD IS NOT NULL) 
							AND (NEWEMPLOYEEID IS NULL) AND (Deleted = ''0'')  '
	 SET @SqlStatement = @SqlStatement + @SqlConditionsSeparate						 
	END
	
	 --For Status : All
	ELSE IF(@Status = 'All')
	BEGIN
		SET @SqlConditionsLive=' ,NULL AS REASONFORTERMINATION, BROKER_DEP_TRUST_CMP_NAME, BROKER_DEP_TRUST_CMP_ID, BROKER_ELECT_ACC_NUM, COST_CENTER,getdate() as rowinsrtdttm,getdate() as rowupdtdttm
							 FROM EMPLOYEEMASTER LEFT OUTER JOIN COUNTRYMASTER ON EMPLOYEEMASTER.COUNTRYNAME=COUNTRYMASTER.COUNTRYALIASNAME
							 WHERE (LWD IS NULL) OR (LWD = ''1900-01-01 00:00:00.000'') AND (NEWEMPLOYEEID IS NULL) AND (Deleted = ''0'') '
		SET @SqlConditionsSeparate= ', REASONFORTERMINATION.REASON AS REASONFORTERMINATION, BROKER_DEP_TRUST_CMP_NAME, BROKER_DEP_TRUST_CMP_ID, BROKER_ELECT_ACC_NUM, COST_CENTER,getdate() as rowinsrtdttm,getdate() as rowupdtdttm
							FROM EMPLOYEEMASTER LEFT OUTER JOIN COUNTRYMASTER ON EMPLOYEEMASTER.COUNTRYNAME=COUNTRYMASTER.COUNTRYALIASNAME ,REASONFORTERMINATION 
							WHERE REASONFORTERMINATION.ID=EMPLOYEEMASTER.REASONFORTERMINATION 
							AND (LWD IS NOT NULL) 
							AND (NEWEMPLOYEEID IS NULL) AND (Deleted = ''0'')'					 
		SET @SqlStatement = @SqlStatement + @SqlConditionsLive
						    + ' UNION ALL ' 
							+ @SqlStatement + @SqlConditionsSeparate
	END
   --PRINT @SqlStatement
   EXEC (@SqlStatement)
END
GO
