/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_GET_GRNAT_EXPIRY_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/

IF EXISTS(SELECT NAME FROM SYS.PROCEDURES WHERE NAME = 'PROC_SOPsUI_VALIDATE_GRANT_EXPIRY_DETAILS')
BEGIN
DROP PROCEDURE PROC_SOPsUI_VALIDATE_GRANT_EXPIRY_DETAILS
END
GO

IF EXISTS(SELECT NAME FROM SYS.TYPES WHERE NAME = 'SOPSsUI_GET_GRNAT_EXPIRY_DETAILS')
BEGIN
DROP TYPE SOPSsUI_GET_GRNAT_EXPIRY_DETAILS
END
GO

/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_GET_GRNAT_EXPIRY_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
CREATE TYPE [dbo].[SOPSsUI_GET_GRNAT_EXPIRY_DETAILS] AS TABLE(
	[GRANT_OPTION_ID] [nvarchar](100) NULL,
	[GRANT_LEG_ID] [nvarchar](10) NULL,
	[GRANT_VESTING_TYPE] [nvarchar](1) NULL,
	[GRANT_EXPIRY_DATE] [date] NULL
)
GO
