
IF EXISTS(SELECT NAME FROM SYS.PROCEDURES WHERE NAME = 'PROC_SOPsUI_VALIDATE_OGA_LETTER_CODES')
BEGIN
DROP PROCEDURE PROC_SOPsUI_VALIDATE_OGA_LETTER_CODES
END
GO

IF EXISTS(SELECT NAME FROM SYS.PROCEDURES WHERE NAME = 'PROC_SOPsUI_VALIDATE_EXER_STEPS_MIT_IDS')
BEGIN
DROP PROCEDURE PROC_SOPsUI_VALIDATE_EXER_STEPS_MIT_IDS
END
GO

IF EXISTS(SELECT NAME FROM SYS.PROCEDURES WHERE NAME = 'PROC_SOPsUI_VALIDATE_BANK_DETAILS')
BEGIN
DROP PROCEDURE PROC_SOPsUI_VALIDATE_BANK_DETAILS
END
GO

IF EXISTS(SELECT NAME FROM SYS.TYPES WHERE NAME = 'SOPSsUI_EXERCISE_AND_MIT_IDS')
BEGIN
DROP TYPE SOPSsUI_EXERCISE_AND_MIT_IDS
END
GO

/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_EXERCISE_AND_MIT_IDS]    Script Date: 7/6/2022 1:40:54 PM ******/
CREATE TYPE [dbo].[SOPSsUI_EXERCISE_AND_MIT_IDS] AS TABLE(
	[STEP_IDs] [nvarchar](200) NULL,
	[MIT_IDs] [nvarchar](200) NULL
)

GO


