/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_EXERCISE_EMPLOYEE_IDS]    Script Date: 7/6/2022 1:40:54 PM ******/
IF EXISTS(SELECT NAME FROM SYS.PROCEDURES WHERE NAME = 'PROC_SOPsUI_VALIDATE_USER_IDS')
BEGIN
DROP PROCEDURE PROC_SOPsUI_VALIDATE_USER_IDS
END
GO

IF EXISTS(SELECT NAME FROM SYS.PROCEDURES WHERE NAME = 'PROC_SOPsUI_VALIDATE_EXERCISEID')
BEGIN
DROP PROCEDURE PROC_SOPsUI_VALIDATE_EXERCISEID
END
GO

IF EXISTS(SELECT NAME FROM SYS.PROCEDURES WHERE NAME = 'PROC_SOPsUI_VALIDATE_EMPLOYEEID')
BEGIN
DROP PROCEDURE PROC_SOPsUI_VALIDATE_EMPLOYEEID
END
GO

IF EXISTS(SELECT NAME FROM SYS.TYPES WHERE NAME = 'SOPSsUI_EXERCISE_EMPLOYEE_IDS')
BEGIN
DROP TYPE SOPSsUI_EXERCISE_EMPLOYEE_IDS
END
GO

/****** Object:  UserDefinedTableType [dbo].[SOPSsUI_EXERCISE_EMPLOYEE_IDS]    Script Date: 7/6/2022 1:40:54 PM ******/
CREATE TYPE [dbo].[SOPSsUI_EXERCISE_EMPLOYEE_IDS] AS TABLE(
	[IDs] [nvarchar](200) NULL
)
GO

