/****** Object:  StoredProcedure [dbo].[PROC_SOPSUI_ACTIVATE_EXERCISE_PROCESS_STEP]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [PROC_SOPSUI_ACTIVATE_EXERCISE_PROCESS_STEP]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPSUI_ACTIVATE_EXERCISE_PROCESS_STEP]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PROC_SOPSUI_ACTIVATE_EXERCISE_PROCESS_STEP] 
	
	@EXERCISE_STEP_ID NVARCHAR(100),
	@MIT_ID NVARCHAR(100),
	@LAST_UPDATED_BY NVARCHAR(100),
	@TEMPLATE_NAME NVARCHAR(100)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	BEGIN TRY

		BEGIN TRANSACTION

		UPDATE 
			MST_EXERCISE_STEPS 
		SET 
			IS_ACTIVE=1, UPDATED_BY = @LAST_UPDATED_BY, UPDATED_ON = GETDATE()
		WHERE 
			(MST_EX_STEP_ID = @EXERCISE_STEP_ID) AND (MIT_ID = @MIT_ID)
		
		INSERT INTO AUDIT_SOPs_UI 
			(TEMPLATE_NAME, UPDATED_BY, UPDATED_ON, UNIQUE_IDENTIFIER_TEXT, UNIQUE_IDENTIFIER_VALE, COMMAND_EXECUATED, COMMAND_PARAMETER)
		VALUES
			(@TEMPLATE_NAME, @LAST_UPDATED_BY, GETDATE(), 'EXERCISE_STEP_ID, MIT_ID', @EXERCISE_STEP_ID+', '+  @MIT_ID, 'PROC_SOPSUI_ACTIVATE_EXERCISE_PROCESS_STEP', '@EXERCISE_STEP_ID, @LAST_UPDATED_BY, @TEMPLATE_NAME')
		
		COMMIT TRANSACTION

		SELECT 'SUCCESS' AS 'ErrorMessage'

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT @@ERROR AS 'ErrorMessage'
	END CATCH	
		
	SET NOCOUNT OFF;				
END
GO
