/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_USER_IDS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [PROC_SOPsUI_VALIDATE_USER_IDS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_USER_IDS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PROC_SOPsUI_VALIDATE_USER_IDS] 
	
	@SOPSsUI_EXERCISE_EMPLOYEE_IDS SOPSsUI_EXERCISE_EMPLOYEE_IDS READONLY
AS
BEGIN
	
	SET NOCOUNT ON;
	
	--SELECT * FROM @SOPSsUI_EXERCISE_EMPLOYEE_IDS
	CREATE TABLE #TEMP_USER_ID_AVALABLE
	(
		TUIA_USER_ID NVARCHAR(100)
	)
	
	INSERT INTO #TEMP_USER_ID_AVALABLE 
	SELECT IDs FROM @SOPSsUI_EXERCISE_EMPLOYEE_IDS
	
	DELETE TUIA
	FROM #TEMP_USER_ID_AVALABLE AS TUIA
	INNER JOIN UserMaster AS UM ON TUIA.TUIA_USER_ID = UM.UserId
 
	
	SELECT IDs AS 'User ID', 'Remove duplicate User IDs from Excel.' AS 'Message' FROM @SOPSsUI_EXERCISE_EMPLOYEE_IDS GROUP BY IDs HAVING COUNT(IDs)>1
	UNION ALL
	SELECT TUIA_USER_ID AS 'User ID', 'User ID not available in table. Please remove from Excel Sheet.' AS 'Message' FROM #TEMP_USER_ID_AVALABLE
	
	SET NOCOUNT OFF;				
END
GO
