/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_BROKER_DETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [PROC_SOPsUI_VALIDATE_BROKER_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_BROKER_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PROC_SOPsUI_VALIDATE_BROKER_DETAILS] 
	
	@SOPSsUI_GET_BROKER_DETAILS SOPSsUI_GET_BROKER_DETAILS READONLY
AS
BEGIN
	
	SET NOCOUNT ON;
		
	CREATE TABLE #TEMP_EMPLOYEE_ID_AVALABLE
	(
		TEIA_EMPLOYEE_ID NVARCHAR(100)
	)
	
	INSERT INTO #TEMP_EMPLOYEE_ID_AVALABLE 
	SELECT EMPLOYEE_ID FROM @SOPSsUI_GET_BROKER_DETAILS
	
	DELETE TEIA
	FROM #TEMP_EMPLOYEE_ID_AVALABLE AS TEIA
	INNER JOIN Employee_UserBrokerDetails AS EUBD ON EUBD.EMPLOYEE_ID = TEIA.TEIA_EMPLOYEE_ID
 	
	SELECT EMPLOYEE_ID AS 'EmployeeID', 'Remove duplicate User IDs from Excel.' AS 'Message' FROM @SOPSsUI_GET_BROKER_DETAILS GROUP BY EMPLOYEE_ID HAVING COUNT(EMPLOYEE_ID)>1
	UNION ALL
	SELECT EMPLOYEE_ID AS 'EmployeeID', 'Please enter Y/N in Active column' AS 'Message' FROM @SOPSsUI_GET_BROKER_DETAILS WHERE UPPER(IS_ACTIVE) NOT IN ('Y', 'N')
	UNION ALL
	SELECT TEIA_EMPLOYEE_ID AS 'EmployeeID', 'Employee Id not register for boker in table. Please remove from Excel.' AS 'Message' FROM #TEMP_EMPLOYEE_ID_AVALABLE

	SET NOCOUNT OFF;				
END
GO
