/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_FMV_TO_DATE]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [PROC_SOPsUI_VALIDATE_FMV_TO_DATE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_FMV_TO_DATE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PROC_SOPsUI_VALIDATE_FMV_TO_DATE] 
	
	@SOPSsUI_GET_FVM_DATES SOPSsUI_GET_FVM_DATES READONLY
AS
BEGIN
	
	SET NOCOUNT ON;
	
	CREATE TABLE #TEMP_OLD_DATE_AVALABLE
	(
		OLD_DATE DATE
	)
	
	CREATE TABLE #TEMP_FMV_DATES
	(
		TODA_ID INT IDENTITY(1,1),
		FMV_OLD_DATE DATE,
		FMV_NEW_DATE DATE
	)

	INSERT INTO #TEMP_OLD_DATE_AVALABLE 
	SELECT OLD_FVM_DATE FROM @SOPSsUI_GET_FVM_DATES
	
	DELETE TODA
	FROM #TEMP_OLD_DATE_AVALABLE AS TODA
	INNER JOIN FMVForUnlisted AS FFU ON CONVERT(DATE,FFU.FMV_Todate) <= CONVERT(DATE,TODA.OLD_DATE)

	INSERT INTO #TEMP_FMV_DATES 
	SELECT OLD_FVM_DATE, NEW_FMV_DATE FROM @SOPSsUI_GET_FVM_DATES

	DECLARE @MIN_COUNT AS INT, @MAX_COUNT AS INT, @FMV_OLD_DATE DATE, @FMV_NEW_DATE DATE
	
	SELECT @MIN_COUNT = MIN(TODA_ID), @MAX_COUNT = MAX(TODA_ID) FROM #TEMP_FMV_DATES

	CREATE TABLE #TEMP_CHECK_FMV_DATE
	(
		COLUMN_1 NVARCHAR(200),
		COLUMN_2 NVARCHAR(200)
	)
	
	WHILE @MIN_COUNT <= @MAX_COUNT
	BEGIN
	  
		SELECT @FMV_OLD_DATE = FMV_OLD_DATE, @FMV_NEW_DATE = FMV_NEW_DATE FROM #TEMP_FMV_DATES WHERE TODA_ID = @MIN_COUNT
			
		INSERT INTO #TEMP_CHECK_FMV_DATE (COLUMN_1, COLUMN_2)
		SELECT '[OLD FMV TO DATE] : '+ CONVERT(NVARCHAR(50), @FMV_OLD_DATE, 103) + ' || FROM DATE : '+ CONVERT(NVARCHAR(50),FMV_FromDate,103) + ' || TO DATE : '+ CONVERT(NVARCHAR(50),FMV_Todate,103) AS 'COLUMN_1', 'Please provide [NEW FMV TO DATE] by checking fmv from and To date combination' AS 'COLUMN_2' FROM FMVForUnlisted WHERE CONVERT(DATE,FMV_FromDate) >= (CONVERT(DATE,@FMV_NEW_DATE))
		
		IF((SELECT COUNT(COLUMN_1) FROM  #TEMP_CHECK_FMV_DATE) = 0)
		BEGIN
			SELECT '[OLD FMV TO DATE] : '+ CONVERT(NVARCHAR(50), @FMV_OLD_DATE, 103) + ' || FROM DATE : '+ CONVERT(NVARCHAR(50),FMV_FromDate,103) + ' || TO DATE : '+ CONVERT(NVARCHAR(50),FMV_Todate,103) AS 'COLUMN_1', 'Please provide [NEW FMV TO DATE] by checking fmv from and To date combination' AS 'COLUMN_2' FROM FMVForUnlisted WHERE CONVERT(DATE,FMV_Todate) >= (CONVERT(DATE,@FMV_NEW_DATE))
		END

		SET @MIN_COUNT = @MIN_COUNT + 1;
	
	END;
 	
	IF ((SELECT COUNT (FMV_FromDate) FROM FMVForUnlisted ) = 0)
	BEGIN
		SELECT '' AS 'IDs', 'Data not available in table to updated in table.' AS 'Message'
	END
	ELSE	
	BEGIN
		SELECT CONVERT(NVARCHAR(50),OLD_FVM_DATE,103) AS 'IDs', 'Duplicated Old date available excel.' AS 'Message' FROM @SOPSsUI_GET_FVM_DATES GROUP BY OLD_FVM_DATE HAVING COUNT(OLD_FVM_DATE)>1
		UNION ALL
		SELECT CONVERT(NVARCHAR(50),OLD_DATE,103) AS 'IDs', 'FMV TO DATE not available in table to update.' AS 'Message' FROM #TEMP_OLD_DATE_AVALABLE		
		UNION ALL
		SELECT COLUMN_1 AS 'IDs', COLUMN_2 AS 'Message' FROM #TEMP_CHECK_FMV_DATE

	END

	SET NOCOUNT OFF;				
END
GO
