/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_UPDATE_DEMAT_DETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [PROC_SOPsUI_UPDATE_DEMAT_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_UPDATE_DEMAT_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PROC_SOPsUI_UPDATE_DEMAT_DETAILS] 
	
	@EXERCISE_NUMBER NVARCHAR(100),
	@PAYMENT_MODE NVARCHAR(1),
	@DEPOSITORY_NAME NVARCHAR(1),
	@DEMAT_TYPE NVARCHAR(1),
	@DEPOSITORY_PARTICIPATORY_NAME NVARCHAR(100),
	@DP_ID_NUMBER NVARCHAR (10),
	@CLIENT_ID_NUMBER NVARCHAR(20),
	@NAME_AS_PER_DP_RECORD NVARCHAR(100),
	@LAST_UPDATED_BY NVARCHAR(100),
	@TEMPLATE_NAME NVARCHAR(100)
AS
BEGIN

	SET NOCOUNT ON;
	
	BEGIN TRY

		BEGIN TRANSACTION
		
		IF (UPPER(@PAYMENT_MODE) = 'N')
		BEGIN
			-- FOR ONLINE PAYMENT MODE
			UPDATE 
				Transaction_Details 
			SET 
				DepositoryName = @DEPOSITORY_NAME, DematAcType = @DEMAT_TYPE, DPName = @DEPOSITORY_PARTICIPATORY_NAME, DPId = @DP_ID_NUMBER, ClientId = @CLIENT_ID_NUMBER, 
				DPRecord = @NAME_AS_PER_DP_RECORD, LastUpdatedby = @LAST_UPDATED_BY, LastUpdated=GETDATE () 
			WHERE
				 CONVERT(NVARCHAR(100), Sh_ExerciseNo) = @EXERCISE_NUMBER
		END
		ELSE IF((UPPER(@PAYMENT_MODE) = 'A') OR (UPPER(@PAYMENT_MODE) = 'P') OR (UPPER(@PAYMENT_MODE) = 'C'))
		BEGIN
			-- FOR CASHLESS PAYMENT MODE			
			UPDATE 
				TransactionDetails_CashLess 
			SET 
				DepositoryName = @DEPOSITORY_NAME, DematAcType = @DEMAT_TYPE, DPName = @DEPOSITORY_PARTICIPATORY_NAME, DPId = @DP_ID_NUMBER, ClientId = @CLIENT_ID_NUMBER, 
				DPRecord = @NAME_AS_PER_DP_RECORD, LastUpdatedBy = @LAST_UPDATED_BY, lastUpdatedOn = GETDATE() 
			WHERE 
				CONVERT(NVARCHAR(100),ExerciseNo) = @EXERCISE_NUMBER
		END
		ELSE
		BEGIN
			-- FOR OFFLINE PAYMENT MODE
			UPDATE 
				ShTransactionDetails 
			SET 
				DepositoryName = @DEPOSITORY_NAME, DematAcType = @DEMAT_TYPE, DepositoryParticipantName = @DEPOSITORY_PARTICIPATORY_NAME, DPIDNo = @DP_ID_NUMBER, ClientNo = @CLIENT_ID_NUMBER, 
				DPRecord = @NAME_AS_PER_DP_RECORD, LastUpdatedby = @LAST_UPDATED_BY, LastUpdatedOn = GETDATE () 
			WHERE 
				CONVERT(NVARCHAR(100),ExerciseNo) = @EXERCISE_NUMBER
		END

		INSERT INTO AUDIT_SOPs_UI 
			(TEMPLATE_NAME, UPDATED_BY, UPDATED_ON, UNIQUE_IDENTIFIER_TEXT, UNIQUE_IDENTIFIER_VALE, COMMAND_EXECUATED, COMMAND_PARAMETER)
		VALUES
			(@TEMPLATE_NAME, @LAST_UPDATED_BY, GETDATE(), 'Exercise Number', @EXERCISE_NUMBER, 'PROC_SOPsUI_UPDATE_DEMAT_DETAILS', '@EXERCISE_NUMBER, @PAYMENT_MODE, @DEPOSITORY_NAME, @DEMAT_TYPE, @DEPOSITORY_PARTICIPATORY_NAME, @DP_ID_NUMBER, @CLIENT_ID_NUMBER, @NAME_AS_PER_DP_RECORD, @LAST_UPDATED_BY, @TEMPLATE_NAME')
				

		COMMIT TRANSACTION

		SELECT 'SUCCESS' AS 'ErrorMessage'

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT @@ERROR AS 'ErrorMessage'
	END CATCH

	SET NOCOUNT OFF;				
END
GO
