/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_UPDATE_OGA_STATUS_FLAG]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [PROC_SOPsUI_UPDATE_OGA_STATUS_FLAG]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_UPDATE_OGA_STATUS_FLAG]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [PROC_SOPsUI_UPDATE_OGA_STATUS_FLAG] 
	
	@LETTER_CODE NVARCHAR(100),
	@UPDATE_STATUS_FOR NVARCHAR(1),
	@LAST_UPDATED_BY NVARCHAR(100),
	@TEMPLATE_NAME NVARCHAR(100)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	BEGIN TRY

		BEGIN TRANSACTION

		IF(UPPER(@UPDATE_STATUS_FOR) = 'E')
		BEGIN
			UPDATE
				GrantAccMassUpload 
			SET 
				MailSentStatus = 1, MailSentDate = GETDATE(), LastUpdatedBy = @LAST_UPDATED_BY, LastUpdatedOn = GETDATE() 
			WHERE
				LetterCode = @LETTER_CODE
		END
		ELSE IF(UPPER(@UPDATE_STATUS_FOR) = 'G')
		BEGIN
			UPDATE
				GrantAccMassUpload 
			SET 
				IsGlGenerated = 1, GlGeneratedDate = GETDATE(), LastUpdatedBy = @LAST_UPDATED_BY, LastUpdatedOn = GETDATE() 
			WHERE 
				LetterCode = @LETTER_CODE
		END
		ELSE
		BEGIN
			UPDATE
				GrantAccMassUpload 
			SET 
				IsGlGenerated = 1, GlGeneratedDate = GETDATE(), MailSentStatus = 1, MailSentDate = GETDATE(), 
				LastUpdatedBy = @LAST_UPDATED_BY, LastUpdatedOn = GETDATE() 
			WHERE
				LetterCode = @LETTER_CODE
		END

		INSERT INTO AUDIT_SOPs_UI 
			(TEMPLATE_NAME, UPDATED_BY, UPDATED_ON, UNIQUE_IDENTIFIER_TEXT, UNIQUE_IDENTIFIER_VALE, COMMAND_EXECUATED, COMMAND_PARAMETER)
		VALUES
			(@TEMPLATE_NAME, @LAST_UPDATED_BY, GETDATE(), 'Letter Code, Updated Status For', @LETTER_CODE +', '+@UPDATE_STATUS_FOR, 'PROC_SOPsUI_UPDATE_OGA_STATUS_FLAG', '@LETTER_CODE, @UPDATE_STATUS_FOR, @LAST_UPDATED_BY, @TEMPLATE_NAME')
				 

		COMMIT TRANSACTION

		SELECT 'SUCCESS' AS 'ErrorMessage'

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT @@ERROR AS 'ErrorMessage'
	END CATCH
	
	SET NOCOUNT OFF;				
END
GO
