/****** Object:  View [dbo].[VW_PSR]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[VW_PSR]'))
EXEC dbo.sp_executesql @statement = N'



-- =============================================
-- Author:		Vidyadhar
-- Create date: 18-11-2021
-- Description:	Create VW_PSR
-- =============================================
CREATE         VIEW [dbo].[VW_PSR]
as
SELECT 
 ''EMPLOYEEID'' as EMPLOYEEID
,''LOGINID'' as LOGINID
,''EMPLOYEENAME'' as EMPLOYEENAME
,''FATHERSNAME'' as FATHERSNAME
,''Mobile'' as Mobile
,''State'' as State
,''Nationality'' as Nationality
,''confirmn_Dt'' as confirmn_Dt
,''COUNTRYNAME'' as COUNTRYNAME
,''EMPLOYEEDESIGNATION'' as EMPLOYEEDESIGNATION
,''EMPLOYEEEMAIL'' as EMPLOYEEEMAIL
,''DATEOFJOINING'' as DATEOFJOINING
,''GRADE'' as GRADE
,''LOCATION'' as LOCATION
,''Status'' as Status
,''DATEOFTERMINATION'' as DATEOFTERMINATION
,''ResidentialStatus'' as ResidentialStatus
,''SBU'' as SBU
,''ENTITY'' as ENTITY
,''ACCOUNTNO'' as ACCOUNTNO
,''DEPARTMENT'' as DEPARTMENT
,''PANNUMBER'' as PANNUMBER
,''DEPOSITORYPARTICIPANTNO'' as DEPOSITORYPARTICIPANTNO
,''DEPOSITORYNAME'' as DEPOSITORYNAME
,''DEPOSITORYIDNUMBER'' as DEPOSITORYIDNUMBER
,''CONFSTATUS'' as CONFSTATUS
,''CLIENTIDNUMBER'' as CLIENTIDNUMBER
,''WARDNUMBER'' as WARDNUMBER
,''EMPLOYEEADDRESS'' as EMPLOYEEADDRESS
,''EMPLOYEEPHONE'' as EMPLOYEEPHONE
,''Insider'' as Insider
,''DematAccountType'' as DematAccountType
,''LWD'' as LWD
,''DPRECORD'' as DPRECORD
,''REASONFORTERMINATION'' as REASONFORTERMINATION
,''BROKER_DEP_TRUST_CMP_NAME'' as BROKER_DEP_TRUST_CMP_NAME
,''BROKER_DEP_TRUST_CMP_ID'' as BROKER_DEP_TRUST_CMP_ID
,''BROKER_ELECT_ACC_NUM'' as BROKER_ELECT_ACC_NUM
,''COST_CENTER'' as COST_CENTER
,''PushDate'' as PushDate
UNION ALL
SELECT 
EMPLOYEEID
,LOGINID
,EMPLOYEENAME
,ISNULL(FATHERSNAME,''-'') as FATHERSNAME
,''-'' as Mobile
,''-'' as State
,''-'' as Nationality
,''-'' as confirmn_Dt
,''-'' as COUNTRYNAME
,REPLACE(ISNULL(EMPLOYEEDESIGNATION,''-''),'','','''') as EMPLOYEEDESIGNATION
,REPLACE(ISNULL(EMPLOYEEEMAIL,''-''),'','','''') as EMPLOYEEEMAIL
,REPLACE(CONVERT(VARCHAR(500),ISNULL(CONVERT(Date,DATEOFJOINING),'''')),'','','''') as DATEOFJOINING
,REPLACE(ISNULL(GRADE,''-''),'','','''') as GRADE
,REPLACE(ISNULL(LOCATION,''-''),'','','''') as LOCATION
,REPLACE(ISNULL(Status,''-''),'','','''') as Status
,REPLACE(CONVERT(VARCHAR(500),ISNULL(CONVERT(Date,DATEOFTERMINATION),'''')),'','','''') as DATEOFTERMINATION
,REPLACE(ISNULL(ResidentialStatus,''''),'','','''') as ResidentialStatus
,REPLACE(ISNULL(SBU,''-''),'','','''') as SBU
,REPLACE(ISNULL(ENTITY,''-''),'','','''') as ENTITY
,REPLACE(ISNULL(ACCOUNTNO,''-''),'','','''') as ACCOUNTNO
,REPLACE(ISNULL(DEPARTMENT,''-''),'','','''') as DEPARTMENT
,REPLACE(ISNULL(PANNUMBER,''-''),'','','''') as PANNUMBER
,REPLACE(ISNULL(DEPOSITORYPARTICIPANTNO,''-''),'','','''') as DEPOSITORYPARTICIPANTNO
,REPLACE(ISNULL(DEPOSITORYNAME,''-''),'','','''') as DEPOSITORYNAME
,REPLACE(ISNULL(DEPOSITORYIDNUMBER,''-''),'','','''') as DEPOSITORYIDNUMBER
,REPLACE(ISNULL(CONFSTATUS,''-''),'','','''') as CONFSTATUS
,REPLACE(ISNULL(CLIENTIDNUMBER,''-''),'','','''') as CLIENTIDNUMBER
,REPLACE(ISNULL(WARDNUMBER,''-''),'','','''') as WARDNUMBER
,REPLACE(ISNULL(EMPLOYEEADDRESS,''-''),'','','''') as EMPLOYEEADDRESS
,REPLACE(ISNULL(EMPLOYEEPHONE,''-''),'','','''') as EMPLOYEEPHONE
,REPLACE(ISNULL(Insider,''-''),'','','''') as Insider
,REPLACE(ISNULL(DematAccountType,''-''),'','','''') as DematAccountType
,REPLACE(CONVERT(VARCHAR(500),ISNULL(CONVERT(DATE,LWD),'''')),'','','''') as LWD
,REPLACE('''','','','''') as DPRECORD
,REPLACE(ISNULL(REASONFORTERMINATION,''''),'','','''') as REASONFORTERMINATION
,REPLACE(ISNULL(BROKER_DEP_TRUST_CMP_NAME,''-''),'','','''') as BROKER_DEP_TRUST_CMP_NAME
,REPLACE(ISNULL(BROKER_DEP_TRUST_CMP_ID,''-''),'','','''') as BROKER_DEP_TRUST_CMP_ID
,REPLACE(ISNULL(BROKER_ELECT_ACC_NUM,''-''),'','','''') as BROKER_ELECT_ACC_NUM
,REPLACE(ISNULL(COST_CENTER,''-''),'','','''') as COST_CENTER
,REPLACE(CONVERT(VARCHAR(500),CONVERT(DATE,GETDATE())),'','','''') as PushDate
FROM PersonalStatus_rpt

' 
GO
