/****** Object:  UserDefinedFunction [dbo].[FN_ACC_EXPLODE_DATES]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP FUNCTION IF EXISTS [dbo].[FN_ACC_EXPLODE_DATES]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_ACC_EXPLODE_DATES]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_ACC_EXPLODE_DATES]
(
	@START_DATE datetime, 
	@END_DATE datetime
)
RETURNS 
	TABLE AS
RETURN 
(
	WITH N0 AS (SELECT 1 as n UNION ALL SELECT 1),
	N1 AS (SELECT 1 as n FROM N0 t1 CROSS JOIN N0 t2),
	N2 AS (SELECT 1 as n FROM N1 t1 CROSS JOIN N1 t2),
	N3 AS (SELECT 1 as n FROM N2 t1 CROSS JOIN N2 t2),
	N4 AS (SELECT 1 as n FROM N3 t1 CROSS JOIN N3 t2),
	N5 AS (SELECT 1 as n FROM N4 t1 CROSS JOIN N4 t2),
	N6 AS (SELECT 1 as n FROM N5 t1 CROSS JOIN N5 t2), 
	nums AS (SELECT ROW_NUMBER() OVER (ORDER BY (SELECT 1)) as num FROM N6)
	
	SELECT 
		DATEADD(DAY, num-1, @START_DATE) AS thedate FROM nums
	WHERE (num <= DATEDIFF(day,@START_DATE,@END_DATE) + 1)
);
GO
