/****** Object:  UserDefinedFunction [dbo].[FUNC_GET_SHARE_ISSUE_SAR]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP FUNCTION IF EXISTS [dbo].[FUNC_GET_SHARE_ISSUE_SAR]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_GET_SHARE_ISSUE_SAR]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNC_GET_SHARE_ISSUE_SAR]
(
	-- Add the parameters for the function here
	@EXERCISE_ID VARCHAR(50),
	@FVM_VALUE NUMERIC(18,6),
	@EXERCISE_PRICE NUMERIC(18,6),
	@EXERCISED_QUANTITY NUMERIC (18,6),
	@FACE_VALUE NUMERIC (18,2)	
)
RETURNS 
@TEMP_TABLE TABLE 
(
	EXERCISE_ID VARCHAR(50), SHARE_ISSUED NUMERIC(18,0), STOCK_APPRECIATION NUMERIC(18,6)
)

AS
BEGIN
	---- DECLARE THE RETURN VARIABLE HERE
	DECLARE @STOCK_APPRECIATION NUMERIC(18,6)
	DECLARE @SHARE_ISSUED NUMERIC(18,0)
	
	DECLARE @EXERCISE_AMOUNT NUMERIC(18,6), @PERQUISITE_VALUE NUMERIC (18,6)
	-- CALCULATE PERQUISITE VALUE
	
	IF(@FVM_VALUE > @EXERCISE_PRICE)
	BEGIN
		SET @STOCK_APPRECIATION = (@FVM_VALUE - @EXERCISE_PRICE) * @EXERCISED_QUANTITY
		SET @SHARE_ISSUED = ROUND(@STOCK_APPRECIATION / @FVM_VALUE, 0)										
	END
	
	-- INSERT VALUES INTO TEMP TABLE					
	INSERT INTO @TEMP_TABLE	(EXERCISE_ID, SHARE_ISSUED, STOCK_APPRECIATION)	VALUES (@EXERCISE_ID, @SHARE_ISSUED, @STOCK_APPRECIATION)						
	
	RETURN	
END

GO
