/****** Object:  UserDefinedFunction [dbo].[FN_IS_SAR_COVER]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP FUNCTION IF EXISTS [dbo].[FN_IS_SAR_COVER]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_IS_SAR_COVER]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_IS_SAR_COVER]
(    
      @SCHEM_ID NVARCHAR(50) = NULL
)
RETURNS @ReturnTable TABLE (
      RET_VALUE BIT
)
AS
BEGIN      
	        INSERT INTO @ReturnTable(RET_VALUE)
				SELECT 
				CASE WHEN (COUNT(SH.MIT_ID) > 0) THEN '1' ELSE '0' END 
			FROM SCHEME AS SH
			INNER JOIN MST_INSTRUMENT_TYPE  AS MIT
			ON SH.MIT_ID = MIT.MIT_ID
			INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM 
			ON CIM.MIT_ID = MIT.MIT_ID
			INNER JOIN MST_COM_CODE  MCC On MIT.INSTRUMENT_GROUP = MCC.MCC_ID
			INNER JOIN MST_COM_CODE_GROUP MCCG On MCCG.MCCG_ID=MCC.MCCG_ID
			WHERE 
				MIT.IS_ACTIVE = 1
				AND SH.SchemeId = @SCHEM_ID
				AND CIM.IS_ENABLED = 1
				And MCCG.CODE_GROUP_NAME = 'INSTRUMENT GROUP' AND MCC.CODE_NAME = 'SAR' AND MIT.IS_ACTIVE = 1
      RETURN
END
GO
