/****** Object:  UserDefinedFunction [dbo].[FN_PQ_TAX_ROUNDING]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP FUNCTION IF EXISTS [dbo].[FN_PQ_TAX_ROUNDING]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_PQ_TAX_ROUNDING]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_PQ_TAX_ROUNDING] 
(
	@PQ_TAX NUMERIC(18,6)
)
RETURNS FLOAT
AS
BEGIN
	DECLARE @ROUNDED_TAX FLOAT
	
	SET @ROUNDED_TAX = CAST(CAST(@PQ_TAX AS NUMERIC(18,6)) AS FLOAT)
	
	RETURN @ROUNDED_TAX
END
GO
