/****** Object:  UserDefinedFunction [dbo].[FN_GET_DECIMAL_SETTING_SHARE_VALUE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP FUNCTION IF EXISTS [dbo].[FN_GET_DECIMAL_SETTING_SHARE_VALUE]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_DECIMAL_SETTING_SHARE_VALUE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_GET_DECIMAL_SETTING_SHARE_VALUE]
(
      @ROUNDING_VALUE NVARCHAR(50)
      --@ROUNDING_PARAM NVARCHAR(50)
)
RETURNS FLOAT
AS      
BEGIN
		DECLARE @SQL_QUERY FLOAT
		DECLARE @ROUNDING_PLACE_VALUE INT 
		DECLARE @ROUNDING_PLACE_PARM VARCHAR(1)
				
		
		BEGIN
			SET @ROUNDING_PLACE_VALUE= 2 SET @ROUNDING_PLACE_PARM='N'
		END
		
		
		IF(UPPER(@ROUNDING_PLACE_PARM) = 'N')
		BEGIN				
			SET @SQL_QUERY =
			(SELECT 
				(CASE WHEN ABS(@ROUNDING_VALUE - ROUND(@ROUNDING_VALUE, @ROUNDING_PLACE_VALUE, 1)) * POWER(10, @ROUNDING_PLACE_VALUE + 1) = 6 
					THEN 
						ROUND(@ROUNDING_VALUE, @ROUNDING_PLACE_VALUE, 
							CASE WHEN CONVERT(INT, ROUND(ABS(@ROUNDING_VALUE) * POWER(10, @ROUNDING_PLACE_VALUE), 0, 1)) % 2 = 1 
							THEN 
								0 
							ELSE 
								1 
							END)
					ELSE 
						ROUND(@ROUNDING_VALUE, @ROUNDING_PLACE_VALUE)
				END)) 		
		END
	
		
		RETURN @SQL_QUERY

END
GO
