/****** Object:  UserDefinedFunction [dbo].[FUNC_GET_SAR_PERQ_VAL_PAYABLE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP FUNCTION IF EXISTS [dbo].[FUNC_GET_SAR_PERQ_VAL_PAYABLE]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_GET_SAR_PERQ_VAL_PAYABLE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNC_GET_SAR_PERQ_VAL_PAYABLE]
(
	-- Add the parameters for the function here
	@EXERCISE_ID VARCHAR(50),
	@FVM_VALUE NUMERIC(18,6),
	@FACE_VALUE NUMERIC (18,2),	
	@SHARE_ISSUE NUMERIC (18,0)	
)
RETURNS 
@TEMP_TABLE TABLE 
(
	EXERCISE_ID VARCHAR(50), EXERCISE_AMOUNT NUMERIC(18,0), PERQUISITE_VALUE NUMERIC(18,6)
)

AS
BEGIN
	---- DECLARE THE RETURN VARIABLE HERE
	DECLARE @EXERCISE_AMOUNT NUMERIC(18,6), @PERQUISITE_VALUE NUMERIC(18,6)
	
	-- CALCULATE EXERCISE AMOUNT
	SET @EXERCISE_AMOUNT = @FACE_VALUE * @SHARE_ISSUE;		

	-- CALCULATE PERQUISITE VALUE
	IF(@FVM_VALUE > @FACE_VALUE)
	BEGIN
		SET @PERQUISITE_VALUE = (@FVM_VALUE - @FACE_VALUE) * @SHARE_ISSUE
	END	
	
	-- INSERT VALUES INTO TEMP TABLE					
	INSERT INTO @TEMP_TABLE	(EXERCISE_ID, EXERCISE_AMOUNT, PERQUISITE_VALUE) VALUES (@EXERCISE_ID, @EXERCISE_AMOUNT, @PERQUISITE_VALUE)						
	
	RETURN	
END

GO
