/****** Object:  UserDefinedFunction [dbo].[FN_GET_EVENTOFINCIDENCE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP FUNCTION IF EXISTS [dbo].[FN_GET_EVENTOFINCIDENCE]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_EVENTOFINCIDENCE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_GET_EVENTOFINCIDENCE]
(
    @INSTRUMENT_ID	BIGINT,
	@EXERCISEDATE DATETIME	
)
RETURNS NVARCHAR(500)

AS      

BEGIN
DECLARE @ISPERQUSITE_VAL TINYINT,@ISROPORTIONATE_VAL  TINYINT,@EXCEPTFOR_PERQUISITE NVARCHAR(50),@EXCEPTFOR_PROPORTIONATE VARCHAR(50), @EXCEPT_FOR_PERQ_VAL TINYINT,@EMPLOYEE_ID  VARCHAR(50)
		,@EMPLOYEE_COUNTRY_ID INT,@EXCEPT_FOR_PROPORT_VAL TINYINT,@COUNTRY_ID VARCHAR(100),@CODE_NAME NVARCHAR(500),@INCIDENCEDATE VARCHAR(50),@EVENTOFINCIDENCE NVARCHAR(500)                    

     SELECT @ISPERQUSITE_VAL = CAL_PERQUSITE_VAL,@ISROPORTIONATE_VAL = CAL_PROPORTIONATE_VAL,@EXCEPTFOR_PERQUISITE = EXCEPT_FOR_PERQUISITE
    ,@EXCEPTFOR_PROPORTIONATE = EXCEPT_FOR_PROPORTIONATE ,@EXCEPT_FOR_PROPORT_VAL = EXCEPT_FOR_PROPORT_VAL,@EXCEPT_FOR_PERQ_VAL = EXCEPT_FOR_PERQ_VAL
     FROM COMPANY_INSTRUMENT_MAPPING WHERE MIT_ID = @INSTRUMENT_ID     
     
 IF(@ISPERQUSITE_VAL = 1) 
 BEGIN
    -- FOR COMPNAY LEVEL --
   IF(Isnull(@EXCEPT_FOR_PERQ_VAL,0) = 0) 
   BEGIN         
        SELECT @EVENTOFINCIDENCE =  EVENT_OF_INCIDENCE_ID FROM PERQUISITE_FORMULA_CONFIG AS FFC              
        WHERE((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISEDATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, GETDATE())) >=  CONVERT(DATE,@EXERCISEDATE)))	                      
   END
   -- EXCEPTION FOR  --
   ELSE IF(@EXCEPT_FOR_PERQ_VAL = 1)
   BEGIN
        --EXCEPTION FOR  RESIDENT LEVEL--
		IF(@EXCEPTFOR_PERQUISITE = 'R')
		BEGIN
	   	   SELECT  @EVENTOFINCIDENCE =  EVENT_OF_INCIDENCE_ID 
		   FROM PERQUISITE_FORMULA_CONFIG AS PFC
		   INNER JOIN  COMPANY_INSTRUMENT_MAP_DETAILS AS CIMPD ON PFC.Residential_ID = CIMPD.RESIDENTIAL_ID	            
		   WHERE((CONVERT(DATE, PFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISEDATE)) AND (CONVERT(DATE, ISNULL(PFC.APPLICABLE_TO_DATE, GETDATE())) >=  CONVERT(DATE,@EXERCISEDATE))) AND CIMPD.SETTING_TYPE = 'PERQUISITE' AND CIMPD.ACTIVE = 1             				
		END
		-- EXCEPTION FOR  COUNTRY LEVEL--
		ELSE IF(@EXCEPTFOR_PERQUISITE = 'C')
		BEGIN
		   SELECT TOP 1  @EMPLOYEE_COUNTRY_ID = cm.ID FROM CountryMaster AS CM
		   INNER JOIN AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD AS AT
		   ON CM.CountryName = at.[Moved To]
		   WHERE  AT.Field = 'TAX_IDENTIFIER_COUNTRY'  
		   ORDER BY AT.SRNO DESC
						        
		   SELECT @EVENTOFINCIDENCE =  EVENT_OF_INCIDENCE_ID FROM PERQUISITE_FORMULA_CONFIG AS PFC  
		   INNER JOIN  COMPANY_INSTRUMENT_MAP_DETAILS AS CIMPD ON PFC.COUNTRY_ID = CIMPD.COUNTRY_ID	            
		   WHERE((CONVERT(DATE, PFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISEDATE)) AND (CONVERT(DATE, ISNULL(PFC.APPLICABLE_TO_DATE, GETDATE())) >=  CONVERT(DATE,@EXERCISEDATE)))	              
		   AND CIMPD.SETTING_TYPE = 'PERQUISITE' AND CIMPD.ACTIVE = 1 
		   AND CIMPD.COUNTRY_ID = @EMPLOYEE_COUNTRY_ID
		END
   END
 END
	RETURN @EVENTOFINCIDENCE
END
GO
