/****** Object:  UserDefinedFunction [dbo].[FN_GET_TENTATIVE_TAX]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP FUNCTION IF EXISTS [dbo].[FN_GET_TENTATIVE_TAX]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_TENTATIVE_TAX]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_GET_TENTATIVE_TAX] 
(	
	 @MIT_ID INT = NULL,
	 @EmployeeID VARCHAR(20) = NULL,
	 @FMV NUMERIC(18, 6) = NULL,
	 @Total_Perk_Value NUMERIC(18, 6) =NULL,
	 @EVENT_OF_INCIDENCE	INT	 = NULL,
	 @GRANT_DATE			DATETIME = NULL,
	 @VESTING_DATE			DATETIME = NULL,
	 @EXERCISE_DATE			DateTime = NULL	 
)
--RETURNS TABLE 
RETURNS @PERQPAYABLE_TABLE TABLE 
(
    TAX_HEADING NVARCHAR(250),
	TAX_RATE DECIMAL(18, 4), 
	RESIDENT_STATUS VARCHAR(100),
	TAX_AMOUNT DECIMAL(18, 6),
	Country NVARCHAR(50), 
	STATE NVARCHAR(50),
	BASISOFTAXATION NVARCHAR(100),
	FMV NUMERIC(18, 6), 
	TOTAL_PERK_VALUE NUMERIC(18, 6)
)
AS
BEGIN
    DECLARE @EXCEPT_FOR_TAXRATE_VAL INT
	DECLARE @EXCEPT_FOR_TAXRATE NVARCHAR(50)
	DECLARE @IS_TAXRATE_ACTIVE INT
	DECLARE @IS_TAXRATEEXCEPTION_ACTIVE INT
	DECLARE @TAX_IDENTIFIER_COUNTRY NVARCHAR(50)
	DECLARE @TAX_IDENTIFIER_STATE NVARCHAR(50)
	DECLARE @DateOfTermination NVARCHAR(50)
	
     SELECT @EXCEPT_FOR_TAXRATE= CM.EXCEPT_FOR_TAXRATE,@EXCEPT_FOR_TAXRATE_VAL= CM.EXCEPT_FOR_TAXRATE_VAL,
			 @IS_TAXRATEEXCEPTION_ACTIVE=CM.IS_TAXRATEEXCEPTION_ACTIVE,@IS_TAXRATE_ACTIVE=CM.IS_TAXRATE_ACTIVE,
			 @TAX_IDENTIFIER_COUNTRY=EM.TAX_IDENTIFIER_COUNTRY,@TAX_IDENTIFIER_STATE=EM.TAX_IDENTIFIER_STATE,
			 @DateOfTermination=EM.DATEOFTERMINATION
     FROM COMPANY_INSTRUMENT_MAPPING CM CROSS JOIN EmployeeMaster EM WHERE CM.MIT_ID = @MIT_ID AND EM.EmployeeID = @EmployeeID 
     --Set @EXCEPT_FOR_TAXRATE_VAL=0
     IF(@EXCEPT_FOR_TAXRATE_VAL ='1')
       BEGIN      
       -- Exception
         IF(@IS_TAXRATEEXCEPTION_ACTIVE = '1')
         BEGIN
			IF(@EXCEPT_FOR_TAXRATE='R')
			BEGIN
				IF(LEN(@DateOfTermination)>0)
				BEGIN
				INSERT INTO @PERQPAYABLE_TABLE (TAX_HEADING, TAX_RATE, RESIDENT_STATUS, TAX_AMOUNT, COUNTRY, STATE, BASISOFTAXATION, FMV, TOTAL_PERK_VALUE)
				SELECT  TR.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, RT.[Description] AS RESIDENT_STATUS,
						dbo.FN_PQ_TAX_ROUNDING((TAXRATE_LIVE_EMPLOYEE * @Total_Perk_Value)/100)AS TAX_AMOUNT,
						EM.TAX_IDENTIFIER_COUNTRY AS Country, EM.TAX_IDENTIFIER_STATE AS [STATE],CM.EXCEPT_FOR_TAXRATE AS BASISOFTAXATION,
						dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE
			  		  		
				FROM        TAX_RATE_SETTING_CONFIG TR 
				INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID 
				INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID CROSS JOIN EmployeeMaster EM 			          
				WHERE       TR.MIT_ID = @MIT_ID AND EM.EMPLOYEEID = @EmployeeID 
				 
		      END		       
				ELSE
				BEGIN  
				    INSERT INTO @PERQPAYABLE_TABLE (TAX_HEADING, TAX_RATE, RESIDENT_STATUS, COUNTRY, STATE, TAX_AMOUNT, BASISOFTAXATION, FMV, TOTAL_PERK_VALUE)  
					SELECT  TR.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,RT.[Description] AS RESIDENT_STATUS,
								EM.TAX_IDENTIFIER_COUNTRY AS Country, EM.TAX_IDENTIFIER_STATE AS [STATE],
								dbo.FN_PQ_TAX_ROUNDING((TAXRATE_SEPRATED_EMPLOYEE * @Total_Perk_Value)/100)AS TAX_AMOUNT,
			  		  			CM.EXCEPT_FOR_TAXRATE AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, 
			  		  			dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE
			  		  			
						FROM        TAX_RATE_SETTING_CONFIG TR 
						INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID 
						INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID CROSS JOIN EMPLOYEEMASTER EM 
						WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID
				END	
			END	
			ELSE IF(@EXCEPT_FOR_TAXRATE='C')
			BEGIN
				--change by Amit
				-- Check for employee country
					
				DECLARE @Country_ID NVARCHAR(50)
				DECLARE @Country_Name NVARCHAR(250)			
							
				DECLARE @EventOfIncidence NVARCHAR(50)	
				DECLARE @INCIDENCEDATE DATETIME
				--DECLARE @GRANTDATE DATETIME ,@VESTINGDATE DATETIME ,@EXERCISE_DATE DATETIME			
				SELECT @EventOfIncidence = CODE_NAME FROM MST_COM_CODE  WHERE MCC_ID = @Event_OF_INCIDENCE
				--SELECT @GRANTDATE = GRANTDATE,@VESTINGDATE = VESTINGDATE,@EXERCISE_DATE = EXERCISE_DATE FROM @EMPLOYEE_DETAILS WHERE INSTRUMENT_ID = @MIT_ID
        
				IF(@EventOfIncidence = 'Grant Date')    
					SET  @INCIDENCEDATE = @GRANT_DATE                 
				ELSE IF(@EventOfIncidence = 'Vesting Date')     
					SET  @INCIDENCEDATE = @VESTING_DATE    
				ELSE IF(@EventOfIncidence = 'Exercise Date')    
					SET  @INCIDENCEDATE = @EXERCISE_DATE

				IF EXISTS(SELECT * FROM AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD WHERE EmployeeId=@EmployeeID AND UPPER(Field) =UPPER('Tax Identifier Country') AND  CONVERT(date,[From Date of Movement]) <= CONVERT(date,@INCIDENCEDATE))
				BEGIN
					SELECT @Country_ID=ID,@Country_Name=CountryName FROM CountryMaster
					WHERE CountryName in(SELECT top(1) [Moved To] FROM AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD WHERE EmployeeId=@EmployeeID AND UPPER(Field) =UPPER('Tax Identifier Country') AND CONVERT(date,[From Date of Movement]) <= CONVERT(date,@INCIDENCEDATE) ORDER BY SRNO DESC )		
				END
				ELSE
				BEGIN					
					SELECT @Country_ID=ID,@Country_Name=CountryName FROM CountryMaster
					WHERE CountryAliasName in(SELECT CountryName FROM EmployeeMaster WHERE EmployeeId=@EmployeeID )		
				END
				
				
				IF(ISNULL(@Country_ID,0) >0)
				BEGIN
					IF EXISTS(Select TRSC_ID FRom TAX_RATE_SETTING_CONFIG WHERE COUNTRY_ID=@Country_ID AND MIT_ID=@MIT_ID)
					BEGIN
						
							-- Set For country level
						IF(LEN(@DateOfTermination)>0)
							BEGIN
			--Live				
							INSERT INTO @PERQPAYABLE_TABLE (TAX_HEADING, TAX_RATE, RESIDENT_STATUS, TAX_AMOUNT, COUNTRY, STATE, BASISOFTAXATION, FMV, TOTAL_PERK_VALUE)  
							SELECT  TR.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,
									dbo.FN_PQ_TAX_ROUNDING((TAXRATE_LIVE_EMPLOYEE * @Total_Perk_Value)/100)AS TAX_AMOUNT,
									@Country_Name AS Country, EM.TAX_IDENTIFIER_STATE AS [STATE],'Country Level' AS BASISOFTAXATION,
									dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE
						  		  		
							FROM        TAX_RATE_SETTING_CONFIG TR 
							INNER JOIN  COMPANY_INSTRUMENT_MAPPING CIM ON TR.MIT_ID=CIM.MIT_ID 
							INNER JOIN  COUNTRYMASTER CM ON CM.ID=TR.COUNTRY_ID CROSS JOIN EmployeeMaster EM 			          
							WHERE       TR.MIT_ID = @MIT_ID AND EM.EMPLOYEEID = @EmployeeID AND CM.ID=@Country_ID
							 
						  END		       
							ELSE
							BEGIN 
									INSERT INTO @PERQPAYABLE_TABLE (TAX_HEADING, TAX_RATE, RESIDENT_STATUS, COUNTRY, STATE, TAX_AMOUNT, BASISOFTAXATION, FMV, TOTAL_PERK_VALUE)  
									SELECT  TR.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,'' AS RESIDENT_STATUS,
											@Country_Name AS Country, EM.TAX_IDENTIFIER_STATE AS [STATE],
											dbo.FN_PQ_TAX_ROUNDING((TAXRATE_SEPRATED_EMPLOYEE * @Total_Perk_Value)/100)AS TAX_AMOUNT,
		  		  							'Country Level' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, 
		  		  							dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE
						  		  			
									FROM        TAX_RATE_SETTING_CONFIG TR 
									INNER JOIN  COMPANY_INSTRUMENT_MAPPING CIM ON TR.MIT_ID=CIM.MIT_ID 
									INNER JOIN  COUNTRYMASTER CM ON CM.ID=TR.COUNTRY_ID CROSS JOIN EmployeeMaster EM  
									WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID AND CM.ID=@Country_ID
									
	   						END
					
					END					
					ELSE
					BEGIN						
						IF(LEN(@DateOfTermination)>0)
						BEGIN
							INSERT INTO @PERQPAYABLE_TABLE (TAX_HEADING, TAX_RATE, RESIDENT_STATUS, TAX_AMOUNT, COUNTRY, STATE, BASISOFTAXATION, FMV, TOTAL_PERK_VALUE)  
							SELECT  TR.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,
									dbo.FN_PQ_TAX_ROUNDING((TAXRATE_LIVE_EMPLOYEE * @Total_Perk_Value)/100)AS TAX_AMOUNT,
									'' AS Country, '' AS [STATE],'Company Level' AS BASISOFTAXATION,
									dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE
						  		  		
							FROM        TAX_RATE_SETTING_CONFIG TR 
							INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID CROSS JOIN EmployeeMaster EM 
							WHERE       TR.MIT_ID = @MIT_ID AND EM.EMPLOYEEID = @EmployeeID  AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0		
							 
						END		       
						ELSE
						BEGIN     
							INSERT INTO @PERQPAYABLE_TABLE (TAX_HEADING, TAX_RATE, RESIDENT_STATUS, COUNTRY, STATE, TAX_AMOUNT, BASISOFTAXATION, FMV, TOTAL_PERK_VALUE)
							SELECT  TR.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,'' AS RESIDENT_STATUS,
							'' AS Country, '' AS [STATE],dbo.FN_PQ_TAX_ROUNDING((TAXRATE_SEPRATED_EMPLOYEE * @Total_Perk_Value)/100)AS TAX_AMOUNT,
  							'Company Level' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE
						  		  			
							FROM    TAX_RATE_SETTING_CONFIG TR 
									INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID CROSS JOIN EMPLOYEEMASTER EM 
									WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID	AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0										
	   					END	
								
					END --End IS Exist if
					END -- End if country Id >0
				ELSE
				BEGIN
				        INSERT INTO @PERQPAYABLE_TABLE (TAX_HEADING, TAX_RATE, RESIDENT_STATUS, COUNTRY, STATE, TAX_AMOUNT, BASISOFTAXATION, FMV, TOTAL_PERK_VALUE)
					    SELECT  TR.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,'' AS RESIDENT_STATUS,
						'' AS Country, '' AS [STATE],dbo.FN_PQ_TAX_ROUNDING((TAXRATE_SEPRATED_EMPLOYEE * @Total_Perk_Value)/100)AS TAX_AMOUNT,
  						'Company Level' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE
						FROM    TAX_RATE_SETTING_CONFIG TR 
								INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID CROSS JOIN EMPLOYEEMASTER EM 
						WHERE   TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID	AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0										
				END
				--End Chagne by amit
			
			
			END -- End for company check
		 END --End for @IS_TAXRATEEXCEPTION_ACTIVE
		END		
				  
     ELSE
     BEGIN   
        IF(@IS_TAXRATE_ACTIVE ='1')
         BEGIN
          IF(LEN(@DateOfTermination)>0)
          BEGIN
              INSERT INTO @PERQPAYABLE_TABLE (TAX_HEADING, TAX_RATE, RESIDENT_STATUS, COUNTRY, STATE, TAX_AMOUNT, BASISOFTAXATION, FMV, TOTAL_PERK_VALUE)  
			  SELECT  TR.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,
					  '' AS COUNTRY, EM.TAX_IDENTIFIER_STATE AS [STATE],
					  dbo.FN_PQ_TAX_ROUNDING((TAXRATE_LIVE_EMPLOYEE * @Total_Perk_Value)/100)AS TAX_AMOUNT,					  
					  'Company Level' AS BASISOFTAXATION, dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, 
					  dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE
					   		  		
		      FROM        TAX_RATE_SETTING_CONFIG TR 
		      INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID CROSS JOIN EMPLOYEEMASTER EM
		      WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EMPLOYEEID
		      END
		      
		   ELSE
		   BEGIN
		      INSERT INTO @PERQPAYABLE_TABLE (TAX_HEADING, TAX_RATE, RESIDENT_STATUS, COUNTRY, STATE, TAX_AMOUNT, BASISOFTAXATION, FMV, TOTAL_PERK_VALUE)  		   
		      SELECT  TR.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,
					  '' AS COUNTRY, '' AS [STATE],
					  dbo.FN_PQ_TAX_ROUNDING((TAXRATE_SEPRATED_EMPLOYEE * @Total_Perk_Value)/100)AS TAX_AMOUNT,					
			          'Company Level' AS BASISOFTAXATION, dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, 
			          dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE
			           		  		
		      FROM        TAX_RATE_SETTING_CONFIG TR 
		      INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID 
		      INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID CROSS JOIN EMPLOYEEMASTER EM 	      
		      WHERE       TR.MIT_ID= @MIT_ID AND EM.EMPLOYEEID = @EMPLOYEEID
		  END
			END
     END  
	RETURN
END
GO
