/****** Object:  UserDefinedFunction [dbo].[FN_GET_COM_CODE_VALUE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP FUNCTION IF EXISTS [dbo].[FN_GET_COM_CODE_VALUE]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_GET_COM_CODE_VALUE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FN_GET_COM_CODE_VALUE]
(
      @MCC_ID BIGINT
)
RETURNS NVARCHAR(500)
AS      
BEGIN
		
		DECLARE @CODE_NAME NVARCHAR(1000) 
	SET @CODE_NAME = ''
	
	SET @CODE_NAME = 
	(
		SELECT CODE_NAME FROM MST_COM_CODE WHERE
		MCC_ID=@MCC_ID
		
	)
	 
	RETURN @CODE_NAME
END
GO
