/****** Object:  UserDefinedFunction [dbo].[FUNC_GET_PERQ_VALUE_PAYABLE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP FUNCTION IF EXISTS [dbo].[FUNC_GET_PERQ_VALUE_PAYABLE]
GO
/****** Object:  UserDefinedFunction [dbo].[FUNC_GET_PERQ_VALUE_PAYABLE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FUNC_GET_PERQ_VALUE_PAYABLE]
(
	-- Add the parameters for the function here
	@FVM_VALUE NUMERIC(18,6),
	@EXERCISE_PRICE NUMERIC(18,6),
	@EXERCISED_QUANTITY NUMERIC (18,6),
	@PERQUISITE_PARM CHAR(1),
	@PERQUISITE_TAX_RATE NUMERIC (18,6),	
	@COMPANY_NAME VARCHAR(100),
	@RESIDENTIAL_STATUS CHAR(1),
	@EXERCISE_ID VARCHAR(50)
)
RETURNS 
@TEMP_TABLE TABLE 
(
	EXERCISE_ID VARCHAR(50), PERQ_VALUE NUMERIC(18,6), PERQ_PAYABLE NUMERIC(18,6)
)

AS
BEGIN
	---- DECLARE THE RETURN VARIABLE HERE
	DECLARE @PERQ_VALUE NUMERIC(18,6)
	DECLARE @PERQ_PAYABLE NUMERIC(18,6)
		
	-- CALCULATE PERQUISITE VALUE
	
	IF(@FVM_VALUE > @EXERCISE_PRICE)
		BEGIN
			IF((@PERQUISITE_PARM = 'B') OR (@PERQUISITE_PARM = 'V'))
			BEGIN
				SET @PERQ_VALUE = ((@FVM_VALUE - @EXERCISE_PRICE) * @EXERCISED_QUANTITY)
			END
		END
	ELSE
		BEGIN
			SET @PERQ_VALUE = 0
		END
	
	-------------------------------
	-- CALCULATE PERQUISITE PAYABLE
	-------------------------------
	
	IF(@FVM_VALUE > @EXERCISE_PRICE)
		BEGIN
			IF(@PERQUISITE_PARM = 'B')	
			BEGIN						
				IF(((UPPER(@COMPANY_NAME) <> 'SUZLON') AND (UPPER(@COMPANY_NAME) <> 'SUZLONESPS')) OR (@RESIDENTIAL_STATUS <> 'F'))
				BEGIN
					SET @PERQ_PAYABLE = (@PERQ_VALUE * (@PERQUISITE_TAX_RATE / 100))					
				END											
			END
		END
	ELSE
		BEGIN
			SET @PERQ_PAYABLE = 0
		END

	-- INSERT VALUES INTO TEMP TABLE				
	INSERT INTO @TEMP_TABLE	(EXERCISE_ID, PERQ_VALUE, PERQ_PAYABLE)	VALUES (@EXERCISE_ID, @PERQ_VALUE, @PERQ_PAYABLE)						
	
	RETURN	
END

GO
