/****** Object:  Table [dbo].[FMV_FORMULA_CONFIG]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FMV_FORMULA_CONFIG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FMV_FORMULA_CONFIG](
	[FFC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FORNULA_NAME] [nvarchar](500) NULL,
	[MIT_ID] [int] NOT NULL,
	[IS_TRADINGDAYS] [tinyint] NULL,
	[TRANS_DATE_ID] [bigint] NULL,
	[PRICE_DAY_ID] [bigint] NULL,
	[TRADING_VOL_ID] [bigint] NULL,
	[STOCK_PRICE_ID] [bigint] NULL,
	[PRICE_PERIOD] [nvarchar](100) NULL,
	[PRICE_PERIOD_DAY] [int] NULL,
	[MSE_ID] [nvarchar](max) NULL,
	[APPLICABLE_FROM_DATE] [datetime] NULL,
	[APPLICABLE_TO_DATE] [datetime] NULL,
	[Residential_ID] [bigint] NULL,
	[Country_ID] [bigint] NULL,
	[FORMULA_CONFIG_TYPE] [nvarchar](10) NULL,
	[IS_FORMULA_APPLIED] [tinyint] NULL,
	[TRANSCATION_TYPE] [nvarchar](250) NULL,
	[IS_SAR_ENABLED] [tinyint] NULL,
	[FORMULA_DESCRIPTION] [nvarchar](max) NULL,
	[SCHEME_ID] [nvarchar](100) NULL,
	[SAR_FORMULA] [nvarchar](500) NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FFC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__FMV_FORMU__IS_TR__05CEBF1D]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FMV_FORMULA_CONFIG] ADD  DEFAULT ((1)) FOR [IS_TRADINGDAYS]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__FMV_FORMU__IS_FO__06C2E356]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FMV_FORMULA_CONFIG] ADD  DEFAULT ((0)) FOR [IS_FORMULA_APPLIED]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__FMV_FORMU__IS_SA__07B7078F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[FMV_FORMULA_CONFIG] ADD  DEFAULT ((0)) FOR [IS_SAR_ENABLED]
END
GO
