/****** Object:  Table [dbo].[SAR_COMPARE_FORMULA_CNFG]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAR_COMPARE_FORMULA_CNFG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SAR_COMPARE_FORMULA_CNFG](
	[SCFC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MIT_ID] [int] NOT NULL,
	[SCHEME_ID] [nvarchar](100) NULL,
	[IS_TRADINGDAYS] [tinyint] NULL,
	[PERCENT_VALUE_1] [numeric](18, 6) NULL,
	[PERCENT_VALUE_ON_1] [bigint] NULL,
	[PERCENT_VALUE_2] [numeric](18, 6) NULL,
	[PERCENT_VALUE_ON_2] [bigint] NULL,
	[ON_LEVEL] [varchar](15) NULL,
	[ON_LEVEL_VALUE] [numeric](18, 6) NULL,
	[APPLY_MAX_CAP] [tinyint] NULL,
	[CONSIDER] [nvarchar](50) NOT NULL,
	[APPLICABLE_FROM_DATE] [datetime] NULL,
	[APPLICABLE_TO_DATE] [datetime] NULL,
	[FORNULA_NAME] [nvarchar](250) NULL,
	[IS_FORMULA_APPLIED] [tinyint] NULL,
	[MSE_ID_1] [bigint] NULL,
	[MSE_ID_2] [bigint] NULL,
	[FORMULA_DESCRIPTION] [nvarchar](max) NULL,
	[TRANS_DATE_ID] [bigint] NULL,
	[SAR_TRANS_DATE_ID_1] [bigint] NULL,
	[SAR_TRANS_DATE_ID_2] [bigint] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SCFC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__SAR_COMPA__IS_TR__18E19391]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SAR_COMPARE_FORMULA_CNFG] ADD  DEFAULT ((1)) FOR [IS_TRADINGDAYS]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__SAR_COMPA__APPLY__19D5B7CA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SAR_COMPARE_FORMULA_CNFG] ADD  DEFAULT ((0)) FOR [APPLY_MAX_CAP]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__SAR_COMPA__IS_FO__1AC9DC03]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SAR_COMPARE_FORMULA_CNFG] ADD  DEFAULT ((0)) FOR [IS_FORMULA_APPLIED]
END
GO
