/****** Object:  Table [dbo].[OUTPUT_DATA_EXCHANGE]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OUTPUT_DATA_EXCHANGE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OUTPUT_DATA_EXCHANGE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[FILESRNO]  AS ('OT'+CONVERT([varchar](16),[ID],0)),
	[DATATYPE] [nvarchar](50) NULL,
	[FILENAME] [nvarchar](250) NULL,
	[FILENAMEWITHDATESTAMP] [nvarchar](500) NULL,
	[FILEUPLOADEDDATE] [datetime] NULL,
	[FILEPATH] [nvarchar](1000) NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 95, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
