/****** Object:  Table [dbo].[EXERCISE_TAXRATE_DETAILS]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXERCISE_TAXRATE_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EXERCISE_TAXRATE_DETAILS](
	[ETD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EXERCISE_NO] [nvarchar](300) NOT NULL,
	[TAX_ID] [bigint] NULL,
	[COUNTRY_ID] [int] NULL,
	[RESIDENT_ID] [bigint] NULL,
	[Tax_Title] [nvarchar](250) NULL,
	[BASISOFTAXATION] [nvarchar](250) NULL,
	[TAX_RATE] [decimal](18, 4) NULL,
	[TAX_AMOUNT] [decimal](18, 4) NULL,
	[TENTATIVETAXAMOUNT] [numeric](18, 6) NULL,
	[TAX_SEQ_NO] [bigint] NULL,
	[FMVVALUE] [decimal](18, 4) NULL,
	[TENTATIVEFMVVALUE] [decimal](18, 4) NULL,
	[PERQVALUE] [decimal](18, 4) NULL,
	[TENTATIVEPERQVALUE] [decimal](18, 4) NULL,
	[GRANTLEGSERIALNO] [bigint] NULL,
	[FROM_DATE] [datetime] NULL,
	[TO_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
	[TAXCALCULATION_BASEDON] [varchar](50) NULL,
	[STOCKVALUE] [numeric](18, 9) NULL,
	[TENTATIVESTOCKVALUE] [numeric](18, 9) NULL,
	[STATE_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ETD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
