/****** Object:  Table [dbo].[AUTO_EXERCISE_PAYMENTMODE_WISE_UPDATE_QTY]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUTO_EXERCISE_PAYMENTMODE_WISE_UPDATE_QTY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AUTO_EXERCISE_PAYMENTMODE_WISE_UPDATE_QTY](
	[AEPUQ_ID] [int] IDENTITY(1,1) NOT NULL,
	[AEPC_ID] [nvarchar](100) NULL,
	[SCHEME_ID] [nvarchar](200) NULL,
	[PAYMENTMASTER_ID] [int] NULL,
	[IS_ALLOW_TO_MODIFY] [bit] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AEPUQ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__AUTO_EXER__IS_AL__5A2413EF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AUTO_EXERCISE_PAYMENTMODE_WISE_UPDATE_QTY] ADD  DEFAULT ((0)) FOR [IS_ALLOW_TO_MODIFY]
END
GO
