/****** Object:  Table [dbo].[TEMP_APPRECIATION_FINAL_DETAILS]    Script Date: 7/6/2022 1:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMP_APPRECIATION_FINAL_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TEMP_APPRECIATION_FINAL_DETAILS](
	[APPRID] [int] IDENTITY(1,1) NOT NULL,
	[INSTRUMENT_ID] [bigint] NULL,
	[EMPLOYEE_ID] [varchar](50) NULL,
	[GRANTDATE] [varchar](200) NULL,
	[VESTINGDATE] [varchar](200) NULL,
	[EXERCISE_DATE] [datetime] NULL,
	[EXERCISE_PRICE] [numeric](18, 9) NULL,
	[SHARE_APPRECIATION_VALUE] [numeric](18, 9) NULL
) ON [PRIMARY]
END
GO
