/****** Object:  Table [dbo].[PAYMENT_MASTER_DETAILS]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PAYMENT_MASTER_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PAYMENT_MASTER_DETAILS](
	[PMD_ID] [int] IDENTITY(1,1) NOT NULL,
	[PM_ID] [int] NOT NULL,
	[MIT_ID] [int] NULL,
	[CONFIRMPAYMENTMAILSENT] [char](1) NULL,
	[EXERCISEFORM_SUBMIT] [char](1) NULL,
	[EXERCISEFORM_SUBMIT_SNDMAIL] [char](1) NULL,
	[EXERCISEREVERSAL_SENDMAIL] [char](1) NULL,
	[ALLOW_WITHOUT_PT] [char](1) NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PMD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
