/****** Object:  Table [dbo].[EULA_ACCEPTANCE]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EULA_ACCEPTANCE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EULA_ACCEPTANCE](
	[EULA_ID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [varchar](20) NOT NULL,
	[Acceptance_Date] [datetime] NOT NULL,
	[Category] [varchar](20) NOT NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
 CONSTRAINT [PK_EULA_ACCEPTANCE_EULA_ID] PRIMARY KEY CLUSTERED 
(
	[EULA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
