/****** Object:  Table [dbo].[TEMP_PERQTAXCALCULATION]    Script Date: 7/6/2022 1:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMP_PERQTAXCALCULATION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TEMP_PERQTAXCALCULATION](
	[Idt] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEEID] [varchar](20) NULL,
	[GRANTOPTIONID] [varchar](100) NULL,
	[PERQTAXRULE] [char](1) NULL,
	[CALCPERQVAL] [char](1) NULL,
	[CALCPERQTAX] [char](1) NULL,
	[CALCPERQPARAM] [char](1) NULL,
	[PERQTAXTARE] [numeric](18, 6) NULL
) ON [PRIMARY]
END
GO
