/****** Object:  Table [dbo].[MST_EMP_CONSENT_SUBTYPE]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MST_EMP_CONSENT_SUBTYPE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MST_EMP_CONSENT_SUBTYPE](
	[ECST_ID] [int] IDENTITY(1,1) NOT NULL,
	[ECST] [nvarchar](40) NULL,
	[ConsentSubType] [nvarchar](200) NULL,
	[Is_Selected] [bit] NULL,
 CONSTRAINT [PK_MST_EMP_CONSENT_SUBTYPE_ECST_ID] PRIMARY KEY CLUSTERED 
(
	[ECST_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
