/****** Object:  Table [dbo].[EXERCISE_SETTING]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXERCISE_SETTING]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EXERCISE_SETTING](
	[ES_ID] [int] IDENTITY(1,1) NOT NULL,
	[CompanyID] [varchar](20) NULL,
	[MIT_ID] [int] NULL,
	[MULTIPLE_GRANT_EXERCISE] [char](1) NULL,
	[MULTIPLE_VEST_EXERCISE] [char](1) NULL,
	[EXERCISE_COMPLETE_VEST] [char](1) NULL,
	[CHECKUNDERWATER] [varchar](10) NULL,
	[APPLY_FIFO] [char](1) NULL,
	[MINNOOFEXEOPT] [varchar](10) NULL,
	[MULTIPLEFOREXEOPT] [varchar](10) NULL,
	[ISEXERISEATONEGO] [char](1) NULL,
	[ISEXESEPARATELY] [char](1) NULL,
	[DEMATDETAILS_CHECK] [char](1) NULL,
	[HEADERFOREXERCISEAMOUNT] [varchar](1000) NULL,
	[ACCOUNTNOFOREXERCISEAMOUNT] [varchar](20) NULL,
	[HEADERFORPERQUISITETAX] [varchar](1000) NULL,
	[ACCOUNTNOFORPERQUISITETAX] [varchar](20) NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ES_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
