/****** Object:  Table [dbo].[MST_STOCK_EXCHANGE]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MST_STOCK_EXCHANGE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MST_STOCK_EXCHANGE](
	[MSE_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[STOCK_EXCHANGE_NAME] [nvarchar](100) NOT NULL,
	[STOCK_EXCHANGE_SYMBOL] [nvarchar](100) NOT NULL,
	[STOCK_EXCHANGE_URL] [nvarchar](500) NOT NULL,
	[IS_ACTIVE] [tinyint] NULL,
	[CurrencyID] [int] NOT NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__MST_STOCK__IS_AC__5AE46118]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MST_STOCK_EXCHANGE] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
END
GO
