/****** Object:  Table [dbo].[WHAT_IF_FORMULA_CALCULATION_REFERENCE_NOTE]    Script Date: 7/6/2022 1:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WHAT_IF_FORMULA_CALCULATION_REFERENCE_NOTE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WHAT_IF_FORMULA_CALCULATION_REFERENCE_NOTE](
	[WIFCRN] [int] IDENTITY(1,1) NOT NULL,
	[WHATIFKEYTERMS] [nvarchar](200) NULL,
	[EQUITYSARFORMULA] [nvarchar](500) NULL,
	[EQUITYESOPFORMULA] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[WIFCRN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
