/****** Object:  Table [dbo].[DASHBOARD_DASHBOARD_WIDGET_TYPE]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DASHBOARD_DASHBOARD_WIDGET_TYPE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DASHBOARD_DASHBOARD_WIDGET_TYPE](
	[WIDGET_ID] [int] IDENTITY(1,1) NOT NULL,
	[WIDGET_TYPE] [varchar](100) NULL,
	[ISACTIVE] [bit] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
	[IsActiveNewUI] [bit] NULL,
	[TemplateName] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[WIDGET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__DASHBOARD__IsAct__7CC17C3E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[DASHBOARD_DASHBOARD_WIDGET_TYPE] ADD  DEFAULT ((0)) FOR [IsActiveNewUI]
END
GO
