/****** Object:  Table [dbo].[OnlineTransactionData]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OnlineTransactionData]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OnlineTransactionData](
	[Exercise number/Application number] [numeric](18, 0) NULL,
	[Exercise ID] [numeric](18, 0) NULL,
	[Employee ID] [nvarchar](500) NULL,
	[Employee Name] [varchar](75) NULL,
	[Country] [varchar](50) NULL,
	[Scheme Name] [varchar](50) NULL,
	[Grant Registration ID] [varchar](20) NULL,
	[Grant Date] [datetime] NULL,
	[Grant Option ID] [varchar](100) NULL,
	[Options Exercised] [numeric](18, 0) NULL,
	[Exercise Price] [numeric](18, 2) NULL,
	[Amount Paid] [numeric](37, 2) NULL,
	[Exercise Date] [datetime] NULL,
	[fmv] [numeric](18, 2) NULL,
	[Perquiste Value] [numeric](18, 2) NULL,
	[Perquisite Tax payable] [numeric](18, 2) NULL,
	[Perq_Tax_rate] [numeric](18, 6) NULL,
	[Equivalent Exercise Quantity] [numeric](38, 0) NULL,
	[Grant vest period id] [decimal](10, 0) NULL,
	[Vesting Date] [datetime] NULL,
	[Payment mode] [varchar](20) NULL,
	[PaymentMode] [varchar](1) NULL,
	[lotnumber] [varchar](20) NULL,
	[validationstatus] [varchar](1) NULL,
	[revarsalreason] [varchar](1) NULL,
	[receiveddate] [datetime] NULL,
	[exerciseformreceived] [varchar](10) NULL,
	[exformreceivedstatus] [varchar](3) NULL,
	[IsPaymentDeposited] [bit] NULL,
	[PaymentDepositedDate] [datetime] NULL,
	[IsPaymentConfirmed] [bit] NULL,
	[PaymentConfirmedDate] [datetime] NULL,
	[IsExerciseAllotted] [bit] NULL,
	[ExerciseAllotedDate] [datetime] NULL,
	[IsAllotmentGenerated] [bit] NULL,
	[AllotmentGenerateDate] [datetime] NULL,
	[IsAllotmentGeneratedReversed] [bit] NULL,
	[AllotmentGeneratedReversedDate] [datetime] NULL,
	[MIT_ID] [int] NULL,
	[INSTRUMENT_NAME] [nvarchar](500) NULL,
	[Name as in Depository Participant (DP) records] [varchar](50) NULL,
	[Name of Depository] [varchar](200) NULL,
	[Demat A/C Type] [varchar](50) NULL,
	[Name of Depository Participant (DP)] [varchar](200) NULL,
	[Depository ID] [varchar](50) NULL,
	[Client ID] [nvarchar](max) NULL,
	[pan] [varchar](50) NULL,
	[Residential Status] [varchar](16) NULL,
	[nationality] [varchar](100) NULL,
	[location] [varchar](200) NULL,
	[Mobile Number] [varchar](51) NULL,
	[Broker Company Name] [varchar](200) NULL,
	[Broker Company Id] [varchar](200) NULL,
	[Broker Electronic Account Number] [varchar](200) NULL,
	[Email Address] [varchar](500) NULL,
	[Employee Address] [varchar](500) NULL,
	[Cheque No (Exercise amount)] [varchar](100) NULL,
	[Cheque Date (Exercise amount)] [datetime] NULL,
	[Bank Name drawn on (Exercise amount)] [varchar](200) NULL,
	[Cheque No (Perquisite tax)] [varchar](100) NULL,
	[Cheque Date (Perquisite tax)] [datetime] NULL,
	[Bank Name drawn on (Perquisite tax)] [varchar](200) NULL,
	[CHEQUE_Bank_Address_Exercise_amount] [varchar](200) NULL,
	[CHEQUE_Bank_Account_No_Exercise_amount] [varchar](50) NULL,
	[CHEQUE_ExAmtTypOfBnkAC] [varchar](150) NULL,
	[CHEQUE_Bank_Address_Perquisite_tax] [varchar](200) NULL,
	[CHEQUE_Bank_Account_No_Perquisite_tax] [varchar](50) NULL,
	[CHEQUE_PeqTxTypOfBnkAC] [varchar](150) NULL,
	[Demand Draft  (DD) No (Exercise amount)] [varchar](100) NULL,
	[DD Date (Exercise amount)] [datetime] NULL,
	[(DD)Bank Name drawn on (Exercise amount)] [varchar](200) NULL,
	[Demand Draft  (DD) No (Perquisite tax)] [varchar](100) NULL,
	[DD Date (Perquisite tax)] [datetime] NULL,
	[(DD)Bank Name drawn on (Perquisite tax)] [varchar](200) NULL,
	[DD_Bank_Address_Exercise_amount] [varchar](200) NULL,
	[DD_Bank_Account_No_Exercise_amount] [varchar](50) NULL,
	[DD_ExAmtTypOfBnkAC] [varchar](150) NULL,
	[DD_Bank_Address_Perquisite_tax] [varchar](200) NULL,
	[DD_Bank_Account_No_Perquisite_tax] [varchar](50) NULL,
	[DD_PeqTxTypOfBnkAC] [varchar](150) NULL,
	[Wire Transfer No (Exercise amount)] [varchar](101) NULL,
	[SWIFT (BIC)/ABN Routing IBAN No (Exercise amount)] [varchar](101) NULL,
	[Bank Name transferred from (Exercise amount)] [varchar](200) NULL,
	[Bank Account No  (Exercise amount)] [varchar](51) NULL,
	[Wire Transfer Date (Exercise amount)] [datetime] NULL,
	[Wire Transfer Date (Perquisite tax)] [datetime] NULL,
	[SWIFT (BIC)/ABN Routing IBAN No (Perquisite tax)] [varchar](101) NULL,
	[Bank Name transferred from (Perquisite tax)] [varchar](200) NULL,
	[Bank Address (Perquisite tax)] [varchar](200) NULL,
	[Bank Account No  (Perquisite tax)] [varchar](51) NULL,
	[WT_Bank_Address_Exercise_amount] [varchar](200) NULL,
	[WT_Bank_Account_No_Exercise_amount] [varchar](50) NULL,
	[WT_ExAmtTypOfBnkAC] [varchar](150) NULL,
	[WT_Bank_Address_Perquisite_tax] [varchar](200) NULL,
	[WT_Bank_Account_No_Perquisite_tax] [varchar](50) NULL,
	[WT_PeqTxTypOfBnkAC] [varchar](150) NULL,
	[RTGS/NEFT No (Exercise amount)] [varchar](101) NULL,
	[(RTGS/NEFT No)Bank Name transferred from (Exercise amount)] [varchar](200) NULL,
	[(RTGS/NEFT No) Bank Account No  (Exercise amount)] [varchar](51) NULL,
	[(RTGS/NEFT No)Payment Date (Exercise amount)] [datetime] NULL,
	[RTGS/NEFT No (Perquisite tax)] [varchar](101) NULL,
	[(RTGS/NEFT No)Bank Name transferred from (Perquisite tax)] [varchar](200) NULL,
	[(RTGS/NEFT No)Bank Address (Perquisite tax)] [varchar](200) NULL,
	[(RTGS/NEFT No) Bank Account No  (Perquisite tax)] [varchar](51) NULL,
	[(RTGS/NEFT No) Payment Date (Perquisite tax)] [datetime] NULL,
	[RTGS_Bank_Address_Exercise_amount] [varchar](200) NULL,
	[RTGS_Bank_Account_No_Exercise_amount] [varchar](50) NULL,
	[RTGS_ExAmtTypOfBnkAC] [varchar](150) NULL,
	[RTGS_Bank_Address_Perquisite_tax] [varchar](200) NULL,
	[RTGS_Bank_Account No_Perquisite_tax] [varchar](50) NULL,
	[RTGS_PeqTxTypOfBnkAC] [varchar](150) NULL,
	[Transaction ID] [varchar](101) NULL,
	[Bank Name transferred from] [varchar](100) NULL,
	[UTRNo] [varchar](30) NULL,
	[Bank Account No] [int] NULL,
	[Payment Date] [datetime] NULL,
	[Account number] [varchar](20) NULL,
	[ConfStatus] [char](1) NULL,
	[DateOfJoining] [datetime] NULL,
	[DateOfTermination] [datetime] NULL,
	[Department] [varchar](200) NULL,
	[EmployeeDesignation] [varchar](200) NULL,
	[Entity] [varchar](200) NULL,
	[Grade] [varchar](200) NULL,
	[Insider] [char](1) NULL,
	[ReasonForTermination] [varchar](50) NULL,
	[SBU] [varchar](200) NULL,
	[Entity as on Date of Grant] [varchar](100) NULL,
	[Entity as on Date of Exercise] [varchar](100) NULL,
	[IS_UPLOAD_EXERCISE_FORM] [varchar](200) NULL,
	[IS_UPLOAD_EXERCISE_FORM_ON] [varchar](200) NULL,
	[COMPANY_ID] [varchar](200) NULL,
	[Settlment Price] [numeric](18, 2) NULL,
	[Stock Appreciation Value] [numeric](18, 2) NULL,
	[Cash Payout Value] [numeric](18, 2) NULL,
	[TPSLTransactionID] [varchar](50) NULL,
	[Expiry Date] [datetime] NULL,
	[Taxtitle] [nvarchar](100) NULL,
	[BasisofTaxation] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
