/****** Object:  Table [dbo].[AUDIT_TRAIL_PUP_PARAMETER]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDIT_TRAIL_PUP_PARAMETER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AUDIT_TRAIL_PUP_PARAMETER](
	[ATPPID] [int] IDENTITY(1,1) NOT NULL,
	[C_VESTING_ALERT_IN_DAYS] [smallint] NULL,
	[P_VESTING_ALERT_IN_DAYS] [smallint] NULL,
	[C_EXPIRY_ALERT_IN_DAYS] [smallint] NULL,
	[P_EXPIRY_ALERT_IN_DAYS] [smallint] NULL,
	[C_IS_SEND_VEST_ALERT_REQUIRED] [bit] NULL,
	[P_IS_SEND_VEST_ALERT_REQUIRED] [bit] NULL,
	[C_IS_SEND_EXPIRY_ALERT_REQUIRED] [bit] NULL,
	[P_IS_SEND_EXPIRY_ALERT_REQUIRED] [bit] NULL,
	[C_VESTING_ALERT_REMINDER_IN_DAYS] [nvarchar](5) NULL,
	[P_VESTING_ALERT_REMINDER_IN_DAYS] [nvarchar](5) NULL,
	[C_EXPIRY_ALERT_REMINDER_IN_DAYS] [nvarchar](5) NULL,
	[P_EXPIRY_ALERT_REMINDER_IN_DAYS] [nvarchar](5) NULL,
	[C_IS_BEFORE_VEST_DATE_REQUIRED] [bit] NULL,
	[P_IS_BEFORE_VEST_DATE_REQUIRED] [bit] NULL,
	[C_IS_PREQ_TAX_CALN_REQUIRED] [bit] NULL,
	[P_IS_PREQ_TAX_CALN_REQUIRED] [bit] NULL,
	[C_IS_PERQ_VAL_CALN_REQUIRED] [bit] NULL,
	[P_IS_PERQ_VAL_CALN_REQUIRED] [bit] NULL,
	[C_IS_MULTIPLE_GRANT_EX_REQUIRED] [bit] NULL,
	[P_IS_MULTIPLE_GRANT_EX_REQUIRED] [bit] NULL,
	[C_IS_EX_COMPLETE_VEST_REQUIRED] [bit] NULL,
	[P_IS_EX_COMPLETE_VEST_REQUIRED] [bit] NULL,
	[C_IS_MULTIPLE_VEST_EX_REQUIRED] [bit] NULL,
	[P_IS_MULTIPLE_VEST_EX_REQUIRED] [bit] NULL,
	[C_MIN_NO_OF_EX_OPTIONS] [nvarchar](5) NULL,
	[P_MIN_NO_OF_EX_OPTIONS] [nvarchar](5) NULL,
	[C_MULTIPLE_NO_OF_EX_OPTIONS] [nvarchar](5) NULL,
	[P_MULTIPLE_NO_OF_EX_OPTIONS] [nvarchar](5) NULL,
	[C_EX_AT_ONE_GO_IN_LAST_TRN] [bit] NULL,
	[P_EX_AT_ONE_GO_IN_LAST_TRN] [bit] NULL,
	[C_IS_EX_SEPARATELY] [bit] NULL,
	[P_IS_EX_SEPARATELY] [bit] NULL,
	[C_LAST_UPDATED_BY] [varchar](50) NULL,
	[P_LAST_UPDATED_BY] [varchar](50) NULL,
	[C_LAST_UPDATED_ON] [datetime] NULL,
	[P_LAST_UPDATED_ON] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ATPPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
