/****** Object:  Table [dbo].[DASHBOARD_WIDGETS_URLS_MAPPING]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DASHBOARD_WIDGETS_URLS_MAPPING]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DASHBOARD_WIDGETS_URLS_MAPPING](
	[URL_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTROL_MASTER_ID] [int] NULL,
	[URL_ALIASE] [nvarchar](200) NULL,
	[URL] [nvarchar](200) NULL,
	[ISACTIVE] [bit] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[URL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
