/****** Object:  Table [dbo].[MST_ADDIN_PARAMETERS]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MST_ADDIN_PARAMETERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MST_ADDIN_PARAMETERS](
	[MAIP_ID] [int] IDENTITY(1,1) NOT NULL,
	[PARAMETER_NAME] [nvarchar](100) NULL,
	[PARAMETERTYPE] [nvarchar](10) NULL,
	[NO_OF_COLUMNS] [int] NULL,
	[COLUMNSDIRECTION] [nvarchar](10) NULL,
	[IS_TABLE_HEADER] [bit] NULL,
	[TABLE_TITLE] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
	[RELATION] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 95, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
