/****** Object:  Table [dbo].[PUP_PARAMETER]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PUP_PARAMETER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PUP_PARAMETER](
	[PPID] [int] IDENTITY(1,1) NOT NULL,
	[VESTING_ALERT_IN_DAYS] [smallint] NULL,
	[EXPIRY_ALERT_IN_DAYS] [smallint] NULL,
	[IS_SEND_VEST_ALERT_REQUIRED] [bit] NULL,
	[IS_SEND_EXPIRY_ALERT_REQUIRED] [bit] NULL,
	[VESTING_ALERT_REMINDER_IN_DAYS] [nvarchar](5) NULL,
	[EXPIRY_ALERT_REMINDER_IN_DAYS] [nvarchar](5) NULL,
	[IS_BEFORE_VEST_DATE_REQUIRED] [bit] NULL,
	[IS_PREQ_TAX_CALN_REQUIRED] [bit] NULL,
	[IS_PERQ_VAL_CALN_REQUIRED] [bit] NULL,
	[IS_MULTIPLE_GRANT_EX_REQUIRED] [bit] NULL,
	[IS_EX_COMPLETE_VEST_REQUIRED] [bit] NULL,
	[IS_MULTIPLE_VEST_EX_REQUIRED] [bit] NULL,
	[MIN_NO_OF_EX_OPTIONS] [nvarchar](5) NULL,
	[MULTIPLE_NO_OF_EX_OPTIONS] [nvarchar](5) NULL,
	[EX_AT_ONE_GO_IN_LAST_TRN] [bit] NULL,
	[IS_EX_SEPARATELY] [bit] NULL,
	[LAST_UPDATED_BY] [varchar](50) NULL,
	[LAST_UPDATED_ON] [datetime] NULL,
	[IS_CONFIRMEXERCISEMAILSENT] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__PUP_PARAM__IS_CO__32EB7E57]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PUP_PARAMETER] ADD  DEFAULT ((1)) FOR [IS_CONFIRMEXERCISEMAILSENT]
END
GO
