/****** Object:  Table [dbo].[MST_DOCUMENT_UPLOAD_MASTER]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MST_DOCUMENT_UPLOAD_MASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MST_DOCUMENT_UPLOAD_MASTER](
	[MDUM_ID] [int] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_NAME] [varchar](100) NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
	[AZURE_FOLDER_NAME] [nvarchar](100) NULL,
	[IsAzureUpload] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MDUM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__MST_DOCUM__IsAzu__774A6282]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MST_DOCUMENT_UPLOAD_MASTER] ADD  DEFAULT ((0)) FOR [IsAzureUpload]
END
GO
