/****** Object:  Table [dbo].[DASHBOARD_DASHBOARD_SAVE_WIDGET_POSITION]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DASHBOARD_DASHBOARD_SAVE_WIDGET_POSITION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DASHBOARD_DASHBOARD_SAVE_WIDGET_POSITION](
	[WIDGET_POSITION_ID] [int] IDENTITY(1,1) NOT NULL,
	[CONTROL_MASTER_ID] [int] NOT NULL,
	[EMPLOYEEID] [nvarchar](20) NULL,
	[COMPANYID] [nvarchar](20) NULL,
	[X] [int] NULL,
	[Y] [int] NULL,
	[WIDTH] [int] NULL,
	[HEIGHT] [int] NULL,
	[CONTENT] [varchar](max) NULL,
	[DASHBOARD_ID] [int] NULL,
	[IsDraggable] [bit] NULL,
	[IsResizable] [bit] NULL,
	[CREATED_BY] [nvarchar](20) NULL,
	[CREATE_ON] [datetime] NULL,
	[UPDATED_BY] [nvarchar](20) NULL,
	[UPDATED_ON] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[WIDGET_POSITION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
