/****** Object:  Table [dbo].[BROKER_SETTINGS]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BROKER_SETTINGS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BROKER_SETTINGS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEEID] [varchar](20) NULL,
	[BROKER_DEP_TRUST_CMP_NAME] [varchar](200) NULL,
	[BROKER_DEP_TRUST_CMP_ID] [varchar](200) NULL,
	[BROKER_ELECT_ACC_NUM] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__BROKER_SE__EMPLO__7C5A637C]') AND parent_object_id = OBJECT_ID(N'[dbo].[BROKER_SETTINGS]'))
ALTER TABLE [dbo].[BROKER_SETTINGS]  WITH CHECK ADD FOREIGN KEY([EMPLOYEEID])
REFERENCES [dbo].[EmployeeMaster] ([EmployeeID])
GO
