/****** Object:  Table [dbo].[OGA_CONFIGURATIONS]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OGA_CONFIGURATIONS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OGA_CONFIGURATIONS](
	[OGACID] [int] IDENTITY(1,1) NOT NULL,
	[IsReminderMail] [bit] NOT NULL,
	[DaysBefore] [varchar](5) NOT NULL,
	[IsTillLastDate] [bit] NOT NULL,
	[AcceptanceOrRejectionMailToEmp] [bit] NOT NULL,
	[AcceptanceOrRejectionMailToCR] [bit] NOT NULL,
	[ACSID] [int] NULL,
	[LastUpdatedOn] [datetime] NOT NULL,
	[LastUpdatedBy] [varchar](50) NOT NULL,
	[ViewEnabled] [bit] NULL,
	[DownloadEnabled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[OGACID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__OGA_CONFI__DaysB__452A2A23]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OGA_CONFIGURATIONS] ADD  DEFAULT ((0)) FOR [DaysBefore]
END
GO
/****** Object:  Trigger [dbo].[TRG_AUDIT_OGA_CONFIGURATIONS]    Script Date: 7/6/2022 1:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[TRG_AUDIT_OGA_CONFIGURATIONS]'))
EXEC dbo.sp_executesql @statement = N'
CREATE TRIGGER [dbo].[TRG_AUDIT_OGA_CONFIGURATIONS] 
   ON  [dbo].[OGA_CONFIGURATIONS]
   AFTER UPDATE 
AS 
BEGIN
	SET NOCOUNT ON;
	BEGIN TRY
	DECLARE
			@TOTAL_ROWS		AS INT,
			@SR_NO			AS INT,
			@COLUMN_NAME	AS VARCHAR(MAX),
			@OLD_VALUE		AS VARCHAR(150),
			@NEW_VALUE		AS VARCHAR(150),
			@UPDATED_BY		AS VARCHAR(150)
	
	SELECT ROW_NUMBER() OVER(ORDER BY SYSCOL.NAME) AS SR_NO, SYSCOL.NAME AS COLUMN_NAME INTO #TEMP FROM SYS.COLUMNS SYSCOL INNER JOIN SYS.TABLES SYSTAB ON SYSTAB.OBJECT_ID = SYSCOL.OBJECT_ID WHERE SYSTAB.NAME = ''OGA_CONFIGURATIONS''
	SET @SR_NO = 1
	SELECT @TOTAL_ROWS = COUNT(SR_NO) FROM #TEMP
	
	IF NOT EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME =''AUDIT_OGA_CONFIGURATIONS'')
	BEGIN
		CREATE TABLE AUDIT_OGA_CONFIGURATIONS
		(
			AOGC_ID		INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
			COLUMN_NAME	NVARCHAR(MAX),
			OLD_VALUE	VARCHAR(150),
			NEW_VALUE	VARCHAR(150),
			UPDATED_BY	VARCHAR(150),
			UNDATED_ON	DATETIME
		)
	END
	
	CREATE TABLE #TEMP_DELETED 
	(
		OLD_VALUE VARCHAR(MAX)
	)
	
	CREATE TABLE #TEMP_INSERTED 
	(
		NEW_VALUE		VARCHAR(MAX),
		LastUpdatedBy	VARCHAR(150)
	) 
	
	SELECT * INTO #TempInserted FROM INSERTED
	 
	SELECT * INTO #TempDeleted FROM DELETED
 
	WHILE @SR_NO <= @TOTAL_ROWS
	BEGIN
		SELECT @COLUMN_NAME = COLUMN_NAME FROM #TEMP WHERE SR_NO = @SR_NO			
		
		IF(@COLUMN_NAME = ''LASTUPDATEDBY'' OR @COLUMN_NAME = ''LASTUPDATEDON'')
		BEGIN
			PRINT ''DO NOTHING''
		END
		ELSE
		BEGIN
		
			INSERT INTO #TEMP_DELETED EXEC(''SELECT '' + @COLUMN_NAME + '' FROM #TempDeleted'')
			INSERT INTO #TEMP_INSERTED EXEC(''SELECT '' + @COLUMN_NAME + '', LastUpdatedBy FROM #TempInserted'')
			
			SELECT @OLD_VALUE = OLD_VALUE FROM #TEMP_DELETED
			SELECT @NEW_VALUE = NEW_VALUE, @UPDATED_BY = LastUpdatedBy FROM #TEMP_INSERTED
			
			IF(@OLD_VALUE <> @NEW_VALUE)
			BEGIN
				INSERT INTO	AUDIT_OGA_CONFIGURATIONS 
					(COLUMN_NAME, OLD_VALUE, NEW_VALUE, UPDATED_BY, UNDATED_ON)
				VALUES
					(@COLUMN_NAME, @OLD_VALUE, @NEW_VALUE, @UPDATED_BY, GETDATE())
			END 
		END
	
		
		SET @SR_NO = @SR_NO + 1
	END
		 
	DROP TABLE #TEMP
	DROP TABLE #TEMP_DELETED
	DROP TABLE #TEMP_INSERTED
	DROP TABLE #TempInserted
	DROP TABLE #TempDeleted
	
	END TRY
	
	BEGIN CATCH
		DECLARE @ERROR_MESSAGE VARCHAR(MAX) = ''CompanyName: '' +  (SELECT DB_NAME()) + ''\n   '' +  ERROR_MESSAGE()
		EXEC msdb.dbo.sp_send_dbmail 
					@recipients = ''amin.mutawlli@esopdirect.com'',
					@body = @ERROR_MESSAGE,
					@body_format = ''HTML'',
					@subject = ''Alert : Unable to execute the trigger - TRG_AUDIT_OGA_CONFIGURATIONS'',
					@from_address = ''noreply@esopdirect.com'' ;
	END CATCH
    SET NOCOUNT OFF;
END
' 
GO
ALTER TABLE [dbo].[OGA_CONFIGURATIONS] ENABLE TRIGGER [TRG_AUDIT_OGA_CONFIGURATIONS]
GO
