/****** Object:  Table [dbo].[AUDIT_AUTOREVERSALCONFIGMASTER]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDIT_AUTOREVERSALCONFIGMASTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AUDIT_AUTOREVERSALCONFIGMASTER](
	[AGAMU_ID] [int] IDENTITY(1,1) NOT NULL,
	[COLUMN_NAME] [nvarchar](max) NULL,
	[OLD_VALUE] [varchar](150) NULL,
	[NEW_VALUE] [varchar](150) NULL,
	[UPDATED_BY] [varchar](150) NULL,
	[UNDATED_ON] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AGAMU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
