/****** Object:  Table [dbo].[MST_COM_CODE]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MST_COM_CODE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MST_COM_CODE](
	[MCC_ID] [bigint] IDENTITY(1001,1) NOT NULL,
	[CODE_NAME] [nvarchar](500) NOT NULL,
	[NARRATION] [nvarchar](500) NULL,
	[MCCG_ID] [int] NOT NULL,
	[IS_ACTIVE] [tinyint] NULL,
	[DISPLAY_ORDER] [int] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MCC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__MST_COM_C__IS_AC__524F1B17]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MST_COM_CODE] ADD  DEFAULT ((1)) FOR [IS_ACTIVE]
END
GO
