/****** Object:  Table [dbo].[EMPLOYEEHOMEBOXES_DETAILS]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMPLOYEEHOMEBOXES_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EMPLOYEEHOMEBOXES_DETAILS](
	[EHD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[BOXID] [int] NOT NULL,
	[NAME] [nvarchar](300) NOT NULL,
	[SHOW] [tinyint] NOT NULL,
	[POSITION] [tinyint] NULL,
	[IS_ACTIVE] [tinyint] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
	[Type] [varchar](20) NULL,
	[RedirectUrl] [varchar](100) NULL,
	[DISPLAY_NAME] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[EHD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__EMPLOYEEHO__SHOW__7F21C18E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EMPLOYEEHOMEBOXES_DETAILS] ADD  DEFAULT ((0)) FOR [SHOW]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__EMPLOYEEH__POSIT__0015E5C7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EMPLOYEEHOMEBOXES_DETAILS] ADD  DEFAULT ((0)) FOR [POSITION]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__EMPLOYEEH__IS_AC__010A0A00]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[EMPLOYEEHOMEBOXES_DETAILS] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
END
GO
