/****** Object:  Table [dbo].[PUP_PAYOUTFMV_FORMULA]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PUP_PAYOUTFMV_FORMULA]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PUP_PAYOUTFMV_FORMULA](
	[PUPFORMULAID] [int] IDENTITY(1,1) NOT NULL,
	[PUP_FORMULA_TEXT] [varchar](5000) NOT NULL,
	[IS_VISIBLE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PUPFORMULAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
