/****** Object:  Table [dbo].[MYESOPS_HRMS_IDENTIFIER]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MYESOPS_HRMS_IDENTIFIER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MYESOPS_HRMS_IDENTIFIER](
	[HRMS_LOGINID] [varchar](20) NOT NULL,
	[MYESOPS_LOGINID] [varchar](20) NOT NULL,
	[CREATED_BY] [int] NULL,
	[CREATED_ON] [datetime] NULL
) ON [PRIMARY]
END
GO
