/****** Object:  Table [dbo].[COMPANY_INSTRUMENT_MAP_DETAILS]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COMPANY_INSTRUMENT_MAP_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COMPANY_INSTRUMENT_MAP_DETAILS](
	[CIMD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CIM_ID] [bigint] NOT NULL,
	[RESIDENTIAL_ID] [bigint] NULL,
	[COUNTRY_ID] [bigint] NULL,
	[SETTING_TYPE] [nvarchar](100) NULL,
	[APPLICABILITY] [tinyint] NULL,
	[ACTIVE] [tinyint] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CIMD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__COMPANY_I__APPLI__7874C3FF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[COMPANY_INSTRUMENT_MAP_DETAILS] ADD  DEFAULT ((1)) FOR [APPLICABILITY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__COMPANY_I__ACTIV__7968E838]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[COMPANY_INSTRUMENT_MAP_DETAILS] ADD  DEFAULT ((0)) FOR [ACTIVE]
END
GO
