/****** Object:  Table [dbo].[MASTER_LIST_FLD_VALUE]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTER_LIST_FLD_VALUE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MASTER_LIST_FLD_VALUE](
	[MLFV_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[MLFN_ID] [numeric](18, 0) NULL,
	[FIELD_VALUE] [nvarchar](max) NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
	[UPDATED_ON] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MLFV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__MASTER_LI__MLFN___66F53242]') AND parent_object_id = OBJECT_ID(N'[dbo].[MASTER_LIST_FLD_VALUE]'))
ALTER TABLE [dbo].[MASTER_LIST_FLD_VALUE]  WITH CHECK ADD FOREIGN KEY([MLFN_ID])
REFERENCES [dbo].[MASTER_LIST_FLD_NAME] ([MLFN_ID])
GO
