/****** Object:  Table [dbo].[DASHBOARD_EMBEDDED_URL_MAPPING]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DASHBOARD_EMBEDDED_URL_MAPPING]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DASHBOARD_EMBEDDED_URL_MAPPING](
	[UrlId] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [varchar](250) NULL,
	[Url] [varchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UrlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
