/****** Object:  Table [dbo].[EXERCISE_DETAILS_TRANSACTION_APPROVAL]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EXERCISE_DETAILS_TRANSACTION_APPROVAL]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EXERCISE_DETAILS_TRANSACTION_APPROVAL](
	[EXERCISE_NO] [nvarchar](100) NOT NULL,
	[APPROVALDATE] [datetime] NOT NULL,
	[APPROVALSTATUS] [bit] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EXERCISE_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
