/****** Object:  Table [dbo].[EMP_CUSTOM_ATTRIBUTES]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EMP_CUSTOM_ATTRIBUTES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EMP_CUSTOM_ATTRIBUTES](
	[ECA_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [nvarchar](100) NOT NULL,
	[CPD_ID] [int] NOT NULL,
	[FIELD_VALUE] [nvarchar](500) NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
 CONSTRAINT [PK_EMP_CUSTOM_ATTRIBUTES] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC,
	[CPD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
