/****** Object:  Table [dbo].[TypeOfBankAc]    Script Date: 7/6/2022 1:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TypeOfBankAc]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TypeOfBankAc](
	[TypeOfBankAcID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentMode] [char](1) NOT NULL,
	[ResidentialStatus] [char](1) NOT NULL,
	[TypeOfBankAcName] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TypeOfBankAcID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [PM_RS_TBA] UNIQUE NONCLUSTERED 
(
	[PaymentMode] ASC,
	[ResidentialStatus] ASC,
	[TypeOfBankAcName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
