/****** Object:  Table [dbo].[TAX_RATE_SETTING_CONFIG]    Script Date: 7/6/2022 1:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TAX_RATE_SETTING_CONFIG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TAX_RATE_SETTING_CONFIG](
	[TRSC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MIT_ID] [int] NOT NULL,
	[TAX_HEADING] [nvarchar](500) NULL,
	[TAXRATE_LIVE_EMPLOYEE] [decimal](18, 9) NULL,
	[TAXRATE_SEPRATED_EMPLOYEE] [decimal](18, 9) NULL,
	[RESIDENTIAL_ID] [bigint] NULL,
	[COUNTRY_ID] [bigint] NULL,
	[IS_ACTIVE] [tinyint] NULL,
	[TAX_RATE_STATUS_DETAILS] [tinyint] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
	[STATE_ID] [bigint] NULL,
	[Tax_Head_Id] [int] NOT NULL,
	[IS_TAXRATEAPPLICABLE] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TRSC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__TAX_RATE___IS_AC__263B8EAF]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TAX_RATE_SETTING_CONFIG] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__TAX_RATE___Tax_H__3ACC9741]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TAX_RATE_SETTING_CONFIG] ADD  DEFAULT ((0)) FOR [Tax_Head_Id]
END
GO
