/****** Object:  Table [dbo].[IP_AUTHORIZATION]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IP_AUTHORIZATION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IP_AUTHORIZATION](
	[IP_AUTH_ID] [int] IDENTITY(1,1) NOT NULL,
	[EMPLOYEE_ID] [nvarchar](100) NULL,
	[IP_ADDRESS] [varchar](100) NULL,
	[IS_INCLUDE] [bit] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IP_AUTH_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
