/****** Object:  Table [dbo].[SAR_SETTLEMENT_PRICE_MASSUPLOAD]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAR_SETTLEMENT_PRICE_MASSUPLOAD]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SAR_SETTLEMENT_PRICE_MASSUPLOAD](
	[SSPM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MIT_ID] [int] NOT NULL,
	[SCHEME_ID] [nvarchar](100) NULL,
	[IS_FORMULA_APPLIED] [tinyint] NULL,
	[GRANTREGISTRATIONID] [nvarchar](500) NULL,
	[SAR_PRICE] [numeric](18, 9) NULL,
	[INSTRUMENTNAME] [nvarchar](100) NULL,
	[FORMULA_NAME] [varchar](250) NULL,
	[APPLICABLE_FROM_DATE] [datetime] NULL,
	[APPLICABLE_TO_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SSPM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__SAR_SETTL__IS_FO__438CC5CB]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[SAR_SETTLEMENT_PRICE_MASSUPLOAD] ADD  DEFAULT ((0)) FOR [IS_FORMULA_APPLIED]
END
GO
