/****** Object:  Table [dbo].[DATATYPE_CR_CONFIG]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DATATYPE_CR_CONFIG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DATATYPE_CR_CONFIG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[USERID] [nvarchar](50) NOT NULL,
	[IsGRANTDATA] [bit] NULL,
	[IsEMPLOYEEDATA] [bit] NULL,
	[IsSEPARATIONDATA] [bit] NULL,
	[IsEXERCISEVALIDATION] [bit] NULL,
	[IsEXERCISEALLOTMENT] [bit] NULL,
	[IsPERFORMANCEVESTING] [bit] NULL,
	[IsPAYMENTRECONCILIATION] [bit] NULL,
	[IsREPORTS] [bit] NULL,
	[IsOTHER] [bit] NULL,
	[IsIMPLEMENTATIONANDTRANSITION] [bit] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 95, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
