/****** Object:  Table [dbo].[COUNTRY_WISE_PAYMENT_MODE]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COUNTRY_WISE_PAYMENT_MODE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COUNTRY_WISE_PAYMENT_MODE](
	[CWPM_ID] [int] IDENTITY(1,1) NOT NULL,
	[MIT_ID] [int] NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[STATE_ID] [nvarchar](max) NOT NULL,
	[PAYMENTMASTER_ID] [int] NOT NULL,
	[TEMPLATE_NAME] [nvarchar](100) NULL,
	[CREATED_BY] [nvarchar](100) NULL,
	[CREATED_ON] [datetime] NULL,
	[UPDATED_BY] [nvarchar](100) NULL,
	[UPDATED_ON] [datetime] NULL,
	[RESIDENTID] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
