/****** Object:  Table [dbo].[TRANSACTION_COST_METHOD_DETAILS]    Script Date: 7/6/2022 1:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRANSACTION_COST_METHOD_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRANSACTION_COST_METHOD_DETAILS](
	[TCMD_ID] [int] IDENTITY(1,1) NOT NULL,
	[TCMID] [int] NULL,
	[IS_FIXED_COST] [bit] NULL,
	[IS_TRANSACTION_VALUE] [bit] NULL,
	[IS_MAXIMUM_VALUE] [bit] NULL,
	[BANK_ID] [varchar](10) NULL,
	[BANK_NAME] [varchar](100) NULL,
	[LAST_UPDATED_BY] [varchar](100) NULL,
	[LAST_UPDATED_ON] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TCMD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__TRANSACTI__TCMID__4EE89E87]') AND parent_object_id = OBJECT_ID(N'[dbo].[TRANSACTION_COST_METHOD_DETAILS]'))
ALTER TABLE [dbo].[TRANSACTION_COST_METHOD_DETAILS]  WITH CHECK ADD FOREIGN KEY([TCMID])
REFERENCES [dbo].[TRANSACTION_COST_METHOD_MASTER] ([TCMID])
GO
