/****** Object:  Table [dbo].[NETCASHPAYOUT_FORMULA_CONFIG]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NETCASHPAYOUT_FORMULA_CONFIG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NETCASHPAYOUT_FORMULA_CONFIG](
	[NFC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MIT_ID] [int] NOT NULL,
	[SCHEME_ID] [nvarchar](100) NULL,
	[FORMULA_NAME] [nvarchar](250) NOT NULL,
	[FORMULA_DESCRIPTION] [nvarchar](max) NOT NULL,
	[APPLICABLE_FROM_DATE] [datetime] NULL,
	[APPLICABLE_TO_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NFC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 95, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
