/****** Object:  Table [dbo].[APPERCIATION_FORMULA_CONFIG]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[APPERCIATION_FORMULA_CONFIG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[APPERCIATION_FORMULA_CONFIG](
	[AFC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MIT_ID] [int] NOT NULL,
	[SCHEME_ID] [nvarchar](100) NULL,
	[TRANS_DATE_ID] [bigint] NULL,
	[FORMULA_NAME] [nvarchar](250) NOT NULL,
	[ROUNDING_UP] [tinyint] NULL,
	[FRACTION_PAID_CASH] [tinyint] NULL,
	[FORMULA_DESCRIPTION] [nvarchar](max) NOT NULL,
	[IS_TRADINGDAYS] [tinyint] NULL,
	[APPLICABLE_FROM_DATE] [datetime] NULL,
	[APPLICABLE_TO_DATE] [datetime] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AFC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__APPERCIAT__ROUND__1F8E9120]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[APPERCIATION_FORMULA_CONFIG] ADD  DEFAULT ((0)) FOR [ROUNDING_UP]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__APPERCIAT__FRACT__2082B559]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[APPERCIATION_FORMULA_CONFIG] ADD  DEFAULT ((0)) FOR [FRACTION_PAID_CASH]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__APPERCIAT__IS_TR__2176D992]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[APPERCIATION_FORMULA_CONFIG] ADD  DEFAULT ((1)) FOR [IS_TRADINGDAYS]
END
GO
