/****** Object:  Table [dbo].[TRANSACTIONS_EXERCISE_STEP]    Script Date: 7/6/2022 1:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TRANSACTIONS_EXERCISE_STEP]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TRANSACTIONS_EXERCISE_STEP](
	[TRANS_EX_STEP_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXERCISE_NO] [int] NULL,
	[EXERCISE_STEPID] [int] NULL,
	[DISPLAY_NAME] [nvarchar](200) NULL,
	[IS_ATTEMPTED] [bit] NULL,
	[ISATTEMPTED_ON] [datetime] NULL,
	[UPLOAD_TYPE] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TRANS_EX_STEP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
