/****** Object:  Table [dbo].[AUDIT_TRAIL_TRACKING_FIELDS]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDIT_TRAIL_TRACKING_FIELDS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AUDIT_TRAIL_TRACKING_FIELDS](
	[ATTF_ID] [int] IDENTITY(1,1) NOT NULL,
	[FIELD_NAME] [nvarchar](200) NULL,
	[IS_AUDIT_MAINTAINED_OLD] [bit] NULL,
	[IS_AUDIT_MAINTAINED_NEW] [bit] NULL,
	[IS_TRACKING_ENABLED_OLD] [bit] NULL,
	[IS_TRACKING_ENABLED_NEW] [bit] NULL,
	[REMARK] [nvarchar](500) NULL,
	[AUDIT_CREATED_BY] [nvarchar](100) NULL,
	[AUDIT_CREATED_ON] [date] NULL,
	[IS_CHECK_TOEMP_OLD] [bit] NULL,
	[IS_CHECK_TOEMP_NEW] [bit] NULL,
	[IS_CHECK_TOEXERCISE_OLD] [bit] NULL,
	[IS_CHECK_TOEXERCISE_NEW] [bit] NULL
) ON [PRIMARY]
END
GO
