/****** Object:  Table [dbo].[AUTO_EXERCISE_CONFIG]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUTO_EXERCISE_CONFIG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AUTO_EXERCISE_CONFIG](
	[AEC_ID] [int] IDENTITY(1,1) NOT NULL,
	[SchemeId] [nvarchar](50) NOT NULL,
	[EXERCISE_ON] [nvarchar](100) NULL,
	[EXERCISE_AFTER_DAYS] [int] NULL,
	[COUNTRY_ID] [nvarchar](max) NULL,
	[IS_EXCEPTION_ENABLED] [tinyint] NULL,
	[EXECPTION_FOR] [nvarchar](100) NULL,
	[EXECPTION_LIST] [nvarchar](max) NULL,
	[CALCULATE_TAX] [nvarchar](100) NULL,
	[CALCUALTE_TAX_PRIOR_DAYS] [int] NULL,
	[IS_APPROVE] [tinyint] NULL,
	[IS_MAIL_ENABLE] [tinyint] NULL,
	[MAIL_BEFORE_DAYS] [int] NULL,
	[MAIL_REMINDER_DAYS] [int] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AEC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__AUTO_EXER__IS_EX__37661AB1]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AUTO_EXERCISE_CONFIG] ADD  DEFAULT ((0)) FOR [IS_EXCEPTION_ENABLED]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__AUTO_EXER__IS_AP__385A3EEA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[AUTO_EXERCISE_CONFIG] ADD  DEFAULT ((0)) FOR [IS_APPROVE]
END
GO
