/****** Object:  Table [dbo].[AUDIT_PUP_EXERCISEAPPROVE]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDIT_PUP_EXERCISEAPPROVE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AUDIT_PUP_EXERCISEAPPROVE](
	[AUDIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[EXERCISEID] [int] NOT NULL,
	[GrantOptionId] [varchar](100) NULL,
	[GrantLegSerialNumber] [varchar](100) NULL,
	[SH_UNAPPROVED_EX_QTY] [numeric](18, 2) NULL,
	[VALIDATIONSTATUS] [nchar](1) NULL,
	[PAYOUTDATE] [date] NULL,
	[REASON] [nvarchar](1000) NULL,
	[LASTUPDATEDON] [date] NULL,
	[LASTUPDATEDBY] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[AUDIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
