/****** Object:  Table [dbo].[MST_INSTRUMENT_TYPE]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MST_INSTRUMENT_TYPE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MST_INSTRUMENT_TYPE](
	[MIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[INSTRUMENT_NAME] [nvarchar](500) NOT NULL,
	[IS_ACTIVE] [tinyint] NULL,
	[IS_AUTO_EXERCISE] [tinyint] NULL,
	[IS_SAR_ENABLED] [tinyint] NULL,
	[INSTRUMENT_GROUP] [bigint] NOT NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MIT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__MST_INSTR__IS_AC__646DCB52]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MST_INSTRUMENT_TYPE] ADD  DEFAULT ((0)) FOR [IS_ACTIVE]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__MST_INSTR__IS_AU__6561EF8B]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MST_INSTRUMENT_TYPE] ADD  DEFAULT ((0)) FOR [IS_AUTO_EXERCISE]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__MST_INSTR__IS_SA__665613C4]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MST_INSTRUMENT_TYPE] ADD  DEFAULT ((0)) FOR [IS_SAR_ENABLED]
END
GO
