/****** Object:  Table [dbo].[MASTER_LIST_FLD_NAME]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MASTER_LIST_FLD_NAME]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MASTER_LIST_FLD_NAME](
	[MLFN_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[FIELD_NAME] [nvarchar](200) NULL,
	[UPDATED_BY] [nvarchar](50) NULL,
	[UPDATED_ON] [datetime] NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_ON] [datetime] NULL,
	[IS_AUDIT_MAINTAINED] [bit] NULL,
	[IS_TRACKING_ENABLED] [bit] NULL,
	[IS_ADD_IN_LIST] [bit] NULL,
	[AUDIT_UPDATED_BY] [nvarchar](50) NULL,
	[AUDIT_UPDATED_ON] [datetime] NULL,
	[AUDIT_CREATED_BY] [nvarchar](50) NULL,
	[AUDIT_CREATED_ON] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MLFN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__MASTER_LI__IS_TR__19EAC663]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MASTER_LIST_FLD_NAME] ADD  DEFAULT ((0)) FOR [IS_TRACKING_ENABLED]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__MASTER_LI__IS_AD__1ADEEA9C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MASTER_LIST_FLD_NAME] ADD  DEFAULT ((0)) FOR [IS_ADD_IN_LIST]
END
GO
