/****** Object:  Table [dbo].[COUNTRY_PAYMENTMODE_MAPPING]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[COUNTRY_PAYMENTMODE_MAPPING]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[COUNTRY_PAYMENTMODE_MAPPING](
	[CPM_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RPM_ID] [int] NOT NULL,
	[COUNTRY_ID] [bigint] NOT NULL,
	[STATE_ID] [nvarchar](500) NULL,
	[PROCESSES_NOTE] [nvarchar](500) NULL,
	[ACTIVE] [tinyint] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CPM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__COUNTRY_P__ACTIV__3D1EF407]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[COUNTRY_PAYMENTMODE_MAPPING] ADD  DEFAULT ((0)) FOR [ACTIVE]
END
GO
