/****** Object:  Table [dbo].[USER_AUTHENTICATION]    Script Date: 7/6/2022 1:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[USER_AUTHENTICATION]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[USER_AUTHENTICATION](
	[AUTHENTICATION_ID] [int] IDENTITY(1,1) NOT NULL,
	[IP_AUTH_ID] [int] NULL,
	[SECRET_KEY] [varchar](300) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AUTHENTICATION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__USER_AUTH__IP_AU__0F03EEF3]') AND parent_object_id = OBJECT_ID(N'[dbo].[USER_AUTHENTICATION]'))
ALTER TABLE [dbo].[USER_AUTHENTICATION]  WITH CHECK ADD FOREIGN KEY([IP_AUTH_ID])
REFERENCES [dbo].[IP_AUTHORIZATION] ([IP_AUTH_ID])
GO
