/****** Object:  Table [dbo].[OGA_FIELD_MAPPINGS]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OGA_FIELD_MAPPINGS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OGA_FIELD_MAPPINGS](
	[FMID] [int] IDENTITY(1,1) NOT NULL,
	[FIELD_NAME] [varchar](50) NOT NULL,
	[MAPPED_FIELD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[FMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
