/****** Object:  Table [dbo].[AUDIT_TRAIL_ADS_PARAM]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AUDIT_TRAIL_ADS_PARAM]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[AUDIT_TRAIL_ADS_PARAM](
	[ATAPID] [int] IDENTITY(1,1) NOT NULL,
	[IS_MULTIPLE_GRANT_EX_REQUIRED] [bit] NULL,
	[IS_EX_COMPLETE_VEST_REQUIRED] [bit] NULL,
	[IS_MULTIPLE_VEST_EX_REQUIRED] [bit] NULL,
	[MIN_NO_OF_EX_OPTIONS] [nvarchar](10) NULL,
	[MULTIPLE_NO_OF_EX_OPTIONS] [nvarchar](10) NULL,
	[EX_AT_ONE_GO_IN_LAST_TRN] [bit] NULL,
	[IS_EX_SEPARATELY] [bit] NULL,
	[LAST_UPDATED_BY] [varchar](50) NULL,
	[LAST_UPDATED_ON] [datetime] NULL,
	[INSERTED_ON] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ATAPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
