/****** Object:  Table [dbo].[PROPORTIONATE_PERQ_CONFIG]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PROPORTIONATE_PERQ_CONFIG]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PROPORTIONATE_PERQ_CONFIG](
	[PPC_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[MIT_ID] [int] NOT NULL,
	[FORMULA_NAME] [nvarchar](250) NOT NULL,
	[EVENT_OF_INCIDENCE_ID] [bigint] NULL,
	[FORMULA_DESCRIPTION] [nvarchar](250) NOT NULL,
	[RESIDENTIAL_ID] [bigint] NULL,
	[COUNTRY_ID] [bigint] NULL,
	[APPLICABLE_FROM_DATE] [datetime] NULL,
	[APPLICABLE_TO_DATE] [datetime] NULL,
	[ISPROPORTINATE_VALUE] [tinyint] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PPC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__PROPORTIO__ISPRO__12349602]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[PROPORTIONATE_PERQ_CONFIG] ADD  DEFAULT ((0)) FOR [ISPROPORTINATE_VALUE]
END
GO
