/****** Object:  Table [dbo].[TEMP_SINGLEPAYMENTMODE_DETAILS]    Script Date: 7/6/2022 1:57:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TEMP_SINGLEPAYMENTMODE_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TEMP_SINGLEPAYMENTMODE_DETAILS](
	[PAYMODENAME] [varchar](20) NULL,
	[ISACTIVATED] [char](1) NULL,
	[PaymentMode] [char](1) NULL,
	[IsSingleModeEnabled] [bit] NULL
) ON [PRIMARY]
END
GO
