/****** Object:  Table [dbo].[MST_STATES]    Script Date: 7/6/2022 1:57:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MST_STATES]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MST_STATES](
	[MS_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[COUNTRY_ID] [int] NOT NULL,
	[STATE_NAME] [nvarchar](300) NOT NULL,
	[ALIAS_NAME] [nvarchar](300) NOT NULL,
	[IS_SELECTED] [tinyint] NULL,
	[CREATED_BY] [nvarchar](100) NOT NULL,
	[CREATED_ON] [datetime] NOT NULL,
	[UPDATED_BY] [nvarchar](100) NOT NULL,
	[UPDATED_ON] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__MST_STATE__IS_SE__5FA91635]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MST_STATES] ADD  DEFAULT ((0)) FOR [IS_SELECTED]
END
GO
