/****** Object:  StoredProcedure [dbo].[PROC_EMP_MOVEMENT_TRANSFER_REPORT]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_EMP_MOVEMENT_TRANSFER_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_EMP_MOVEMENT_TRANSFER_REPORT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_EMP_MOVEMENT_TRANSFER_REPORT] 
(
	@FIELD	NVARCHAR(50)
)
AS
BEGIN	
	DECLARE @MIN INT, @MAX INT,
			@EMPLOYEEID NVARCHAR(50),
			@ENTITYNAME NVARCHAR(200),
			@MOVETO NVARCHAR(200),
			@EMP_COUNT INT,
			@ROW_COUNT INT = 0
			
	CREATE TABLE #TEMP_MOVEMENT_TRACK_REPORT
	(
		TEMP_ID			INT IDENTITY(1,1),
		FIELD			NVARCHAR(100),
		EMPLOYEEID		NVARCHAR(50), 
		EMPLOYEENAME	NVARCHAR(80), 
		[STATUS]		NVARCHAR(20),	
		[ENTITYNAME]	NVARCHAR(200),
		[MOVETO]		NVARCHAR(200),
		[FROMDATE]		DATE,	
		[FROMDATEOFMOVEMENT] DATE,
		[TODATE]		DATE
	)

	INSERT INTO #TEMP_MOVEMENT_TRACK_REPORT 
	(FIELD,EMPLOYEEID,EMPLOYEENAME,[STATUS],ENTITYNAME,	MOVETO,FROMDATEOFMOVEMENT,FROMDATE)
	SELECT	FIELD,ATFTM.EMPLOYEEID,ATFTM.EMPLOYEENAME,
			CASE WHEN  EM.ReasonForTermination IS NULL THEN 'LIVE'
				 WHEN  EM.ReasonForTermination IS NOT NULL AND CONVERT(DATE, EM.LWD) > CONVERT(DATE, GETDATE()) 
			THEN 'LIVE'
				 ELSE 'SEPARATED' 
			END AS 
			[STATUS]
	,CURRENTDETAILS,[MOVED TO],
			[FROM DATE OF MOVEMENT],FROMDATE 
	FROM	AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD ATFTM
	INNER JOIN EmployeeMaster EM ON EM.EmployeeID=ATFTM.EmployeeId
	WHERE	FIELD = @FIELD
	ORDER BY ATFTM.EMPLOYEEID,CREATED_ON


	CREATE TABLE #TEMP_FINALDATA
	(
		SRNO		INT IDENTITY(1,1),
		FIELD		NVARCHAR(80),
		EMPLOYEEID	NVARCHAR(50),
		EMPLOYEENAME NVARCHAR(80),
		[STATUS]	NVARCHAR(20),
		ENTITY		NVARCHAR(200),
		FROMDATE	DATE,
		TODATE		DATE,
		CREATED_ON	DATE	
	)

	--SELECT * FROM #TEMP_MOVEMENT_TRACK_REPORT

	SELECT @MIN = MIN(TEMP_ID), @MAX = MAX(TEMP_ID) FROM #TEMP_MOVEMENT_TRACK_REPORT
	WHILE (@MIN<=@MAX)
	BEGIN
		SELECT @EMPLOYEEID = EMPLOYEEID, @ENTITYNAME = ISNULL(ENTITYNAME,'') FROM #TEMP_MOVEMENT_TRACK_REPORT WHERE TEMP_ID = @MIN
		SELECT @MOVETO = MOVETO FROM #TEMP_MOVEMENT_TRACK_REPORT WHERE TEMP_ID = @MIN+1 AND EMPLOYEEID= @EMPLOYEEID
		SELECT @EMP_COUNT = COUNT(EMPLOYEEID) FROM #TEMP_MOVEMENT_TRACK_REPORT WHERE EMPLOYEEID = @EMPLOYEEID
		--PRINT 'Entity Name :{'+@ENTITYNAME+'}, MOVETO {'+@MOVETO +'} {Employee ID : '+@EMPLOYEEID+'}' 			
		IF(@EMP_COUNT = 1)
		BEGIN						
			SELECT @MOVETO = ISNULL(MOVETO,'') FROM #TEMP_MOVEMENT_TRACK_REPORT WHERE TEMP_ID = @MIN AND EMPLOYEEID= @EMPLOYEEID
			--PRINT ' MOVETO {'+@MOVETO +'}'
		END
		
		--PRINT @EMP_COUNT
		--PRINT '['+@ENTITYNAME + '] [' + @MOVETO +']'
		IF((@ENTITYNAME <> @MOVETO) OR (@ENTITYNAME = @MOVETO))
			BEGIN
				INSERT INTO #TEMP_FINALDATA (FIELD,EMPLOYEEID,EMPLOYEENAME,[STATUS],ENTITY,FROMDATE,TODATE)
				SELECT	FIELD,EMPLOYEEID,EMPLOYEENAME,[STATUS],ENTITYNAME,FROMDATE,
						CASE WHEN FROMDATEOFMOVEMENT IS NOT NULL AND FROMDATEOFMOVEMENT != '1900-01-01' 
								THEN DATEADD(D,-1,FROMDATEOFMOVEMENT) 
							ELSE NULL 
						END AS FROMDATEOFMOVEMENT  
				FROM	#TEMP_MOVEMENT_TRACK_REPORT 
				WHERE	TEMP_ID=@MIN AND EMPLOYEEID = @EMPLOYEEID
				
				SET @ROW_COUNT = @ROW_COUNT + 1
			END		
		--PRINT 'Employee ID {'+@EMPLOYEEID +'} Row count : {' + CONVERT(VARCHAR,@ROW_COUNT) +'}'
		IF (@EMP_COUNT = @ROW_COUNT)	
			BEGIN
				SET @ROW_COUNT = 0
				INSERT INTO #TEMP_FINALDATA (FIELD,EMPLOYEEID,EMPLOYEENAME,[STATUS],ENTITY,FROMDATE,TODATE)
				SELECT	TOP 1	FIELD,EMPLOYEEID,EMPLOYEENAME,[STATUS],MOVETO,FROMDATEOFMOVEMENT AS FROMDATEOFMOVEMENT,'' AS TODATE  
					FROM		#TEMP_MOVEMENT_TRACK_REPORT 
					WHERE		TEMP_ID=@MIN AND EMPLOYEEID = @EMPLOYEEID 
					ORDER BY	TEMP_ID DESC
			END	
		SET @MIN = @MIN + 1	
	END

	SELECT DISTINCT SRNO,FIELD,EMPLOYEEID,EMPLOYEENAME,[STATUS], ENTITY, CASE WHEN LEN(ISNULL(REPLACE(FROMDATE,'1900-01-01',''), '')) = 0 THEN Null ELSE REPLACE(FROMDATE,'1900-01-01','') END AS FROMDATE,
			CASE WHEN LEN(ISNULL(REPLACE(TODATE,'1900-01-01',''), '')) = 0 THEN Null ELSE REPLACE(TODATE,'1900-01-01','') END  AS TODATE,CREATED_ON
	FROM #TEMP_FINALDATA
	ORDER by SRNO 

	DROP TABLE #TEMP_MOVEMENT_TRACK_REPORT
	DROP TABLE #TEMP_FINALDATA
END
GO
