/****** Object:  StoredProcedure [dbo].[PROC_IS_SAR_ENABLED]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_IS_SAR_ENABLED]
GO
/****** Object:  StoredProcedure [dbo].[PROC_IS_SAR_ENABLED]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_IS_SAR_ENABLED]
AS
BEGIN
	
SET NOCOUNT ON;

SELECT CASE WHEN  (COUNT(MIT.MIT_ID) > 0) THEN '1' ELSE '0' END
	FROM  MST_INSTRUMENT_TYPE MIT
	INNER JOIN COMPANY_INSTRUMENT_MAPPING CIM ON MIT.MIT_ID=CIM.MIT_ID  
	INNER JOIN MST_COM_CODE  MCC ON MIT.INSTRUMENT_GROUP = MCC.MCC_ID
	INNER JOIN MST_COM_CODE_GROUP MCCG ON MCCG.MCCG_ID=MCC.MCCG_ID
WHERE MCCG.CODE_GROUP_NAME='INSTRUMENT GROUP' AND MCC.CODE_NAME='SAR' AND MIT.IS_ACTIVE=1

SET NOCOUNT OFF;
END
GO
