/****** Object:  StoredProcedure [dbo].[PROC_OGA_IS_OGA_ENABLED]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_OGA_IS_OGA_ENABLED]
GO
/****** Object:  StoredProcedure [dbo].[PROC_OGA_IS_OGA_ENABLED]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_OGA_IS_OGA_ENABLED]
	
AS
BEGIN
	SET NOCOUNT ON;
		
	SELECT TOP 1 IS_EGRANTS_ENABLED FROM CompanyMaster
	
	SET NOCOUNT OFF;
END
GO
