/****** Object:  StoredProcedure [dbo].[CRUD_OPERATIONS_IN_ESOP_GENERAL]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[CRUD_OPERATIONS_IN_ESOP_GENERAL]
GO
/****** Object:  StoredProcedure [dbo].[CRUD_OPERATIONS_IN_ESOP_GENERAL]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE  [dbo].[CRUD_OPERATIONS_IN_ESOP_GENERAL]
	@TYPE					           VARCHAR(30)=NULL,
	@LOGINID				           VARCHAR(20)=NULL,
	@NAME_AS_IN_DPRECORD		       VARCHAR(200)=NULL,
	@NAME_OF_DEPOSITORY			       VARCHAR(200)=NULL,
	@DEMAT_AC_TYPE		               VARCHAR(200)=NULL,
	@NAME_OF_DEPOSITORY_PARTICIPANT	   VARCHAR(30)=NULL,
	@DEPPOSITORY_PARTICIPANT_ID		   VARCHAR(30)=NULL,
	@CLIENTID_DEMAT_AC_NO              VARCHAR(200)=NULL,
	@DEMAT_COLUMN_VALUE	               NVARCHAR(50)=NULL,
	@DEMAT_NOTE			               NVARCHAR(MAX)=NULL,
	@EMPLOYEE_ID					   VARCHAR(20)=NULL,
	@USER_TYPE						   VARCHAR(20)=NULL,
	@USER_ID						   VARCHAR(20)=NULL,
	@EMPLOYEE_DEMAT_ID	               BIGINT =NULL,
	@CML_COPY						   VARCHAR(500) = NULL,
	@CML_UPLOAD_STAUS				   VARCHAR(10) = NULL,
	@CML_UPLOAD_DATE				   DATETIME = NULL,
	@CML_COPY_DISPLAY_NAME			   VARCHAR(500) = NULL
	
AS
BEGIN
	
	DECLARE @ReturnMessage VARCHAR(500)
	SET NOCOUNT ON;
  /*UPDATE QUERY SECTION: EMPLOYEEMASTER*/
  BEGIN
	IF(@TYPE='U')
	BEGIN
		--UPDATE EmployeeMaster SET BROKER_DEP_TRUST_CMP_NAME=@BROKER_COMP_NAME,BROKER_DEP_TRUST_CMP_ID=@BROKER_COMP_ID,BROKER_ELECT_ACC_NUM=@BROKER_ELE_ACC_NUM WHERE LoginID=@LOGINID
		UPDATE EMPLOYEE_USERDEMATDETAILS 
		SET    DEPOSITORYNAME = @NAME_OF_DEPOSITORY,  DEPOSITORYPARTICIPANTNAME= @NAME_OF_DEPOSITORY_PARTICIPANT, CLIENTIDNUMBER= @CLIENTID_DEMAT_AC_NO,
		       DEMATACCOUNTTYPE= @DEMAT_AC_TYPE, DEPOSITORYIDNUMBER= @DEPPOSITORY_PARTICIPANT_ID, DPRECORD= @NAME_AS_IN_DPRECORD
			   , CMLCopy = @CML_COPY,CMLUploadStatus = @CML_UPLOAD_STAUS ,CMLUploadDate = @CML_UPLOAD_DATE,
			   CMLCopyDisplayName = @CML_COPY_DISPLAY_NAME
		WHERE  EMPLOYEEID=@LOGINID AND EMPLOYEEDEMATID=@EMPLOYEE_DEMAT_ID
		IF(@@ROWCOUNT > 0)
		BEGIN
			SET @ReturnMessage = 'Data Updated Successfully.'
		END
		ELSE
		    SET @ReturnMessage = 'Error occured while updating record.'

		SELECT @ReturnMessage AS Result
	END
  END
   
   /*READ AND UPDATE SECTION : BROKER_SETTINGS*/ 
   BEGIN
		IF(@TYPE='R')
		BEGIN
			SELECT EMPLOYEEFIELD, DATAFIELD, CHECK_DEMATSETTINGS, CHECK_TOEMP, CHECK_EXERCISE FROM CONFIGUREPERSONALDETAILS  WHERE MIT_ID IS NULL
			--SELECT DMSETTING_NOTE FROM COMPANYMASTER
		END
		    --UBSY : UPDATE BROKER SETTINGS TO Y
			DECLARE @VALUE1 VARCHAR(15),@VALUE2 VARCHAR(15),@VALUE3 VARCHAR(15),@VALUE4 VARCHAR(15),@VALUE5 VARCHAR(15),
			@VALUE6 VARCHAR(15)
			SET @VALUE1= 'ONETIMEUPDATE'
			SET @VALUE2= 'ALLATONEGO'
			SET @VALUE3= 'MULTIPLEUPDATE'
			SET @VALUE4= 'UPDATEINPARTS'
			SET @VALUE5= 'ISREQUIRED'
			SET @VALUE6= 'ISMANDATORY'
			
		CREATE TABLE #TEMP_DMSETTING
		(
			TEMP_ID			INT IDENTITY(1,1),		
			COLUMN_VALUE	NCHAR	
		)
			
		IF(@TYPE='OneTime_AllAtOne')
		BEGIN
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_DEMATSETTINGS='Y' WHERE EMPLOYEEFIELD IN (@VALUE1,@VALUE2)
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_DEMATSETTINGS='N' WHERE EMPLOYEEFIELD IN (@VALUE3,@VALUE4)
		END

		IF(@TYPE='OneTime_UpdateInParts')
		BEGIN
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_DEMATSETTINGS='Y' WHERE EMPLOYEEFIELD IN (@VALUE1,@VALUE4)
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_DEMATSETTINGS='N' WHERE EMPLOYEEFIELD IN (@VALUE3,@VALUE2)
		END
		IF(@TYPE='MultipleUpdt_AllAtone')
		BEGIN
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_DEMATSETTINGS='Y' WHERE EMPLOYEEFIELD IN (@VALUE3,@VALUE2)
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_DEMATSETTINGS='N' WHERE EMPLOYEEFIELD IN (@VALUE1,@VALUE4)
		END
		IF(@TYPE='MultipleUpDt_UpdtInParts')
		BEGIN
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_DEMATSETTINGS='Y' WHERE EMPLOYEEFIELD IN (@VALUE3,@VALUE4)
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_DEMATSETTINGS='N' WHERE EMPLOYEEFIELD IN (@VALUE1,@VALUE2)				
		END
		IF(@TYPE='IsRequired')
		BEGIN
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_DEMATSETTINGS='Y' WHERE EMPLOYEEFIELD IN (@VALUE5)			
		END

		IF(@TYPE='IsMandatory')
		BEGIN
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_DEMATSETTINGS='Y' WHERE EMPLOYEEFIELD IN (@VALUE6)
			
		END

	 	IF(@TYPE='Update_DematSetting')
		BEGIN
			IF(@DEMAT_COLUMN_VALUE IS NOT NULL)
			BEGIN
				/*
				BROKER_DEP_TRUST_CMP_NAME
				BROKER_DEP_TRUST_CMP_ID
				BROKER_ELECT_ACC_NUM
				*/
				INSERT INTO #TEMP_DMSETTING(COLUMN_VALUE)
					SELECT [Param] FROM fn_MVParam(@DEMAT_COLUMN_VALUE,',')
			
				UPDATE DEMATSETTINGS 
				SET NAME_OF_DEPOSITORY = (SELECT COLUMN_VALUE FROM #TEMP_DMSETTING WHERE TEMP_ID=1),
					NAME_OF_DEPOSITORY_PARTICIPANT = (SELECT COLUMN_VALUE FROM #TEMP_DMSETTING WHERE TEMP_ID=2),
					CLIENTID_DEMAT_AC_NO = (SELECT COLUMN_VALUE FROM #TEMP_DMSETTING WHERE TEMP_ID=3),
					DEMAT_AC_TYPE = (SELECT COLUMN_VALUE FROM #TEMP_DMSETTING WHERE TEMP_ID=4),
					DEPPOSITORY_PARTICIPANT_ID = (SELECT COLUMN_VALUE FROM #TEMP_DMSETTING WHERE TEMP_ID=5),
					NAME_AS_IN_DPRECORD = (SELECT COLUMN_VALUE FROM #TEMP_DMSETTING WHERE TEMP_ID=6)

				--SELECT * FROM BROKER_SETTINGS
				
				IF(@@ROWCOUNT > 0)
					BEGIN
						SET @ReturnMessage = 'Data Updated Successfully.'
					END
					ELSE
					   SET @ReturnMessage = 'Error occured while updating record.'

					SELECT @ReturnMessage AS Result
						
				DROP TABLE #TEMP_DMSETTING
			END	
	
		END
		
		IF(@TYPE='UPADTE_NOTE')
		BEGIN
			UPDATE COMPANYMASTER SET DMSETTING_NOTE =@DEMAT_NOTE
			IF(@@ROWCOUNT > 0)
		BEGIN
			
			SET @ReturnMessage = 'Data Updated Successfully.'
		END
		ELSE
		SET @ReturnMessage = 'Error occured while updating record.'

		SELECT @ReturnMessage AS Result
		END
		
		IF(@TYPE='EMP_DMAT_SETTING')
		BEGIN
			SELECT NAME_OF_DEPOSITORY,NAME_OF_DEPOSITORY_PARTICIPANT, CLIENTID_DEMAT_AC_NO, DEMAT_AC_TYPE, DEPPOSITORY_PARTICIPANT_ID, NAME_AS_IN_DPRECORD 
			FROM DEMATSETTINGS 
			WHERE EMPLOYEEID=@EMPLOYEE_ID
		END
		
		IF(@TYPE='EMP_BR_DETAILS')
		BEGIN
			SELECT * FROM EMPLOYEE_USERDEMATDETAILS WHERE EMPLOYEEID=@EMPLOYEE_ID
		END
		
		IF(@TYPE='LOAD_ADMIN_RIGHTS')
		BEGIN
			SELECT SA.ActionId FROM ScreenMaster SM 
			INNER JOIN ScreenActions SA ON SM.ScreenId = SA.ScreenId  
			INNER JOIN RolePrivileges RP ON RP.ScreenActionId = SA.ScreenActionId  
			INNER JOIN RoleMaster RM ON RM.RoleId = RP.RoleId  
			INNER JOIN USERTYPE UT ON UT.UserTypeId = RM.UserTypeId  
			INNER JOIN UserMaster UM ON UM.RoleId = RM.RoleId  
			WHERE SM.Name = 'Demat Settings For Edit Employee Personal Details' AND  
			UT.UserTypeName =@USER_TYPE  AND UM.UserId =@USER_ID  ORDER BY SA.ActionId
		END
		
		IF(@TYPE='UpdateEmpDematSetting')
		BEGIN
			UPDATE DEMATSETTINGS 
			SET    NAME_OF_DEPOSITORY = @NAME_OF_DEPOSITORY, NAME_OF_DEPOSITORY_PARTICIPANT = @NAME_OF_DEPOSITORY_PARTICIPANT, 
			       CLIENTID_DEMAT_AC_NO=@CLIENTID_DEMAT_AC_NO, DEMAT_AC_TYPE = @DEMAT_AC_TYPE, DEPPOSITORY_PARTICIPANT_ID =@DEPPOSITORY_PARTICIPANT_ID,
				   NAME_AS_IN_DPRECORD = @NAME_AS_IN_DPRECORD
			WHERE  EMPLOYEEID=@EMPLOYEE_ID 
		END
		
		IF(@TYPE='GET_BR_CMPLVL_SETTINGS')
		BEGIN
			SELECT CHECK_OWN FROM ConfigurePersonalDetails WHERE EmployeeField IN ('Name as in DP Record','Name Of Depository','Demat A/C Type','Name of Depository Participant','Deppository Participant Id','Client ID / Demat A/C No.') 
		END
		
	END
END
GO
