/****** Object:  StoredProcedure [dbo].[GET_TAXRATE_MASSUPLOAD_DATA]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[GET_TAXRATE_MASSUPLOAD_DATA]
GO
/****** Object:  StoredProcedure [dbo].[GET_TAXRATE_MASSUPLOAD_DATA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_TAXRATE_MASSUPLOAD_DATA]
(
	@TEMP_NAME NVARCHAR(150)
)AS
BEGIN
SET NOCOUNT ON;
	BEGIN TRY
	BEGIN TRANSACTION
		IF(@TEMP_NAME IS NOT NULL OR @TEMP_NAME <> '')
		BEGIN
			IF (@TEMP_NAME = 'CompanyLevelTaxRate')
			BEGIN
				SELECT (CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'') != '' THEN CIM.INS_DISPLY_NAME
				ELSE 
					MIT.INSTRUMENT_NAME
				END) AS INSTRUMENT_NAME,MTRT.TAX_HEADING,CAST(TREM.TAXRATE_LIVE_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_LIVE_EMPLOYEE, CAST(TREM.TAXRATE_SEPRATED_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_SEPRATED_EMPLOYEE
				FROM 
					TAX_RATE_EMP_MAP AS TREM INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TREM.TRSC_ID = TRSC.TRSC_ID
					INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM ON TRSC.MIT_ID = CIM.MIT_ID 
					INNER JOIN MST_TAX_RATE_TITLE AS MTRT ON TRSC.TAX_HEAD_ID = MTRT.MTH_ID
					INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON CIM.MIT_ID =MIT.MIT_ID				
				WHERE 
					ISNULL(TRSC.COUNTRY_ID ,0) = 0  AND ISNUll(TRSC.STATE_ID,0) = 0 AND ISNULL(TRSC.RESIDENTIAL_ID ,0) = 0 AND TREM.Employee_ID IS NULL
			END
			ELSE IF (@TEMP_NAME = 'ResidentLevelTaxRate')
			BEGIN
				SELECT (CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'') != '' THEN CIM.INS_DISPLY_NAME
				ELSE 
					MIT.INSTRUMENT_NAME
				END) AS INSTRUMENT_NAME,RES.[Description] AS [RESIDENTIAL STATUS],MTRT.TAX_HEADING,CAST(TREM.TAXRATE_LIVE_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_LIVE_EMPLOYEE, CAST(TREM.TAXRATE_SEPRATED_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_SEPRATED_EMPLOYEE
				FROM 
					TAX_RATE_EMP_MAP AS TREM INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TREM.TRSC_ID = TRSC.TRSC_ID
					INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM ON TRSC.MIT_ID = CIM.MIT_ID 
					INNER JOIN MST_TAX_RATE_TITLE AS MTRT ON TRSC.TAX_HEAD_ID = MTRT.MTH_ID AND TRSC.MIT_ID = MTRT.MIT_ID
					INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON CIM.MIT_ID =MIT.MIT_ID
					INNER JOIN RESIDENTIALTYPE AS RES ON RES.ID = TRSC.RESIDENTIAL_ID
				WHERE 
					TRSC.RESIDENTIAL_ID IS NOT NULL AND TRSC.RESIDENTIAL_ID !='' AND TREM.Employee_ID IS NULL
			END
			ELSE IF (@TEMP_NAME = 'EmployeeResidentLevelTaxRate')
			BEGIN
				SELECT EMP.EmployeeName AS EMPLOYEE_NAME,EMP.EMPLOYEEID AS EMPLOYEE_ID,(CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'') != '' THEN CIM.INS_DISPLY_NAME
				ELSE 
					MIT.INSTRUMENT_NAME
				END) AS INSTRUMENT_NAME,RES.[Description] AS [RESIDENTIAL STATUS],MTRT.TAX_HEADING,CAST(TREM.TAXRATE_LIVE_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_LIVE_EMPLOYEE, CAST(TREM.TAXRATE_SEPRATED_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_SEPRATED_EMPLOYEE
				FROM 
					TAX_RATE_EMP_MAP AS TREM INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TREM.TRSC_ID = TRSC.TRSC_ID
					INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM ON TRSC.MIT_ID = CIM.MIT_ID 
					INNER JOIN MST_TAX_RATE_TITLE AS MTRT ON TRSC.TAX_HEAD_ID = MTRT.MTH_ID AND TRSC.MIT_ID = MTRT.MIT_ID
					INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON CIM.MIT_ID =MIT.MIT_ID
					INNER JOIN RESIDENTIALTYPE AS RES ON RES.ID = TRSC.RESIDENTIAL_ID
					INNER JOIN EMPLOYEEMASTER AS EMP ON TREM.EMPLOYEE_ID = EMP.EMPLOYEEID
				WHERE 
					TRSC.RESIDENTIAL_ID IS NOT NULL AND TRSC.RESIDENTIAL_ID !='' AND TREM.Employee_ID IS NOT NULL AND TREM.Employee_ID !='' AND EMP.Deleted=0
			END
			ELSE IF (@TEMP_NAME = 'EmployeeCompanyLevelTaxRate')
			BEGIN
				SELECT EMP.EmployeeName AS EMPLOYEE_NAME,EMP.EMPLOYEEID AS EMPLOYEE_ID,(CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'') != '' THEN CIM.INS_DISPLY_NAME
				ELSE 
					MIT.INSTRUMENT_NAME
				END) AS INSTRUMENT_NAME,MTRT.TAX_HEADING,CAST(TREM.TAXRATE_LIVE_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_LIVE_EMPLOYEE, CAST(TREM.TAXRATE_SEPRATED_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_SEPRATED_EMPLOYEE
				FROM 
					TAX_RATE_EMP_MAP AS TREM INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TREM.TRSC_ID = TRSC.TRSC_ID
					INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM ON TRSC.MIT_ID = CIM.MIT_ID 
					INNER JOIN MST_TAX_RATE_TITLE AS MTRT ON TRSC.TAX_HEAD_ID = MTRT.MTH_ID AND TRSC.MIT_ID = MTRT.MIT_ID
					INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON CIM.MIT_ID = MIT.MIT_ID
					INNER JOIN EMPLOYEEMASTER AS EMP ON TREM.EMPLOYEE_ID = EMP.EMPLOYEEID
				WHERE 
				ISNULL(TRSC.COUNTRY_ID,0)=0 AND ISNULL(TRSC.STATE_ID,0)=0 AND ISNULL(TRSC.RESIDENTIAL_ID,0)=0  AND TREM.Employee_ID IS NOT NULL AND EMP.Deleted=0
			END
			ELSE IF (@TEMP_NAME = 'CountryandStateLevelTaxRate')
			BEGIN
				SELECT (CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'') != '' THEN CIM.INS_DISPLY_NAME
				ELSE 
					MIT.INSTRUMENT_NAME
				END) AS INSTRUMENT_NAME,CM.CountryName AS COUNTRY_NAME,MS.STATE_NAME,MTRT.TAX_HEADING,CAST(TREM.TAXRATE_LIVE_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_LIVE_EMPLOYEE, CAST(TREM.TAXRATE_SEPRATED_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_SEPRATED_EMPLOYEE
				FROM 
					TAX_RATE_EMP_MAP AS TREM INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TREM.TRSC_ID = TRSC.TRSC_ID
					INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM ON TRSC.MIT_ID = CIM.MIT_ID 
					INNER JOIN MST_TAX_RATE_TITLE AS MTRT ON TRSC.TAX_HEAD_ID = MTRT.MTH_ID AND TRSC.MIT_ID = MTRT.MIT_ID
					INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON CIM.MIT_ID =MIT.MIT_ID
					INNER JOIN MST_STATES AS MS ON TRSC.STATE_ID = MS.MS_ID 
					INNER JOIN COUNTRYMASTER AS CM ON MS.COUNTRY_ID =  CM.ID
				WHERE 
				
					TRSC.STATE_ID IS NOT NULL AND TRSC.STATE_ID !='' AND TREM.Employee_ID IS NULL
			END
			ELSE IF (@TEMP_NAME = 'EmployeeCountryandStateLevelTaxRate')
			BEGIN
				SELECT EMP.EmployeeName AS EMPLOYEE_NAME,EMP.EMPLOYEEID AS EMPLOYEE_ID,(CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'') != '' THEN CIM.INS_DISPLY_NAME
				ELSE 
					MIT.INSTRUMENT_NAME
				END) AS INSTRUMENT_NAME,CM.CountryName AS COUNTRY_NAME,MS.STATE_NAME,MTRT.TAX_HEADING,CAST(TREM.TAXRATE_LIVE_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_LIVE_EMPLOYEE, CAST(TREM.TAXRATE_SEPRATED_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_SEPRATED_EMPLOYEE
				FROM 
					TAX_RATE_EMP_MAP AS TREM INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TREM.TRSC_ID = TRSC.TRSC_ID
					INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM ON TRSC.MIT_ID = CIM.MIT_ID 
					INNER JOIN MST_TAX_RATE_TITLE AS MTRT ON TRSC.TAX_HEAD_ID = MTRT.MTH_ID AND TRSC.MIT_ID = MTRT.MIT_ID
					INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON CIM.MIT_ID =MIT.MIT_ID
					INNER JOIN MST_STATES AS MS ON TRSC.STATE_ID = MS.MS_ID 
					INNER JOIN COUNTRYMASTER AS CM ON MS.COUNTRY_ID =  CM.ID
					INNER JOIN EMPLOYEEMASTER AS EMP ON TREM.EMPLOYEE_ID = EMP.EMPLOYEEID
				WHERE 
					TRSC.STATE_ID IS NOT NULL AND TRSC.STATE_ID !='' AND TREM.Employee_ID !='' AND EMP.Deleted=0
			END
			ELSE IF (@TEMP_NAME = 'CountryLevelTaxRate')
			BEGIN
				SELECT DISTINCT (CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'') != '' THEN CIM.INS_DISPLY_NAME
				ELSE 
					MIT.INSTRUMENT_NAME
				END) AS INSTRUMENT_NAME,CM.CountryName AS COUNTRY_NAME,MTRT.TAX_HEADING,CAST(TREM.TAXRATE_LIVE_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_LIVE_EMPLOYEE, CAST(TREM.TAXRATE_SEPRATED_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_SEPRATED_EMPLOYEE
				FROM 
					TAX_RATE_EMP_MAP AS TREM 
					INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TREM.TRSC_ID = TRSC.TRSC_ID
					INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM ON TRSC.MIT_ID = CIM.MIT_ID 
					INNER JOIN MST_TAX_RATE_TITLE AS MTRT ON TRSC.TAX_HEAD_ID = MTRT.MTH_ID AND TRSC.MIT_ID = MTRT.MIT_ID
					INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON CIM.MIT_ID = MIT.MIT_ID				
					INNER JOIN COUNTRYMASTER AS CM ON TRSC.COUNTRY_ID =  CM.ID
				WHERE 
					TRSC.COUNTRY_ID IS NOT NULL AND TRSC.COUNTRY_ID !='' AND TREM.Employee_ID IS NULL OR TREM.Employee_ID =''
			END
			ELSE IF (@TEMP_NAME = 'EmployeeCountryLevelTaxRate')
			BEGIN
				SELECT DISTINCT EMP.EmployeeName AS EMPLOYEE_NAME,EMP.EMPLOYEEID AS EMPLOYEE_ID,(CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'') != '' THEN CIM.INS_DISPLY_NAME
				ELSE 
					MIT.INSTRUMENT_NAME
				END) AS INSTRUMENT_NAME,CM.CountryName AS COUNTRY_NAME,MTRT.TAX_HEADING,CAST(TREM.TAXRATE_LIVE_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_LIVE_EMPLOYEE, CAST(TREM.TAXRATE_SEPRATED_EMPLOYEE AS NUMERIC(18,2)) AS TAXRATE_SEPRATED_EMPLOYEE
				FROM 
					TAX_RATE_EMP_MAP AS TREM 
					INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TREM.TRSC_ID = TRSC.TRSC_ID
					INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM ON TRSC.MIT_ID = CIM.MIT_ID 
					INNER JOIN MST_TAX_RATE_TITLE AS MTRT ON TRSC.TAX_HEAD_ID = MTRT.MTH_ID AND TRSC.MIT_ID = MTRT.MIT_ID
					INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON CIM.MIT_ID = MIT.MIT_ID				
					INNER JOIN COUNTRYMASTER AS CM ON TRSC.COUNTRY_ID = CM.ID
					INNER JOIN EMPLOYEEMASTER AS EMP ON TREM.EMPLOYEE_ID = EMP.EMPLOYEEID
				WHERE 
					TRSC.COUNTRY_ID IS NOT NULL AND TRSC.COUNTRY_ID !='' AND TREM.Employee_ID IS NOT NULL AND TREM.Employee_ID !='' AND EMP.Deleted=0
			END
			ELSE
			BEGIN
				PRINT 'TEMPLATE NAME NOT EXISTS, PLEASE TRY USING DIFFERENT TEMPLATE NAME'
			END
		END
	COMMIT TRANSACTION
	END TRY			
	BEGIN CATCH
		ROLLBACK TRANSACTION
	END CATCH
SET NOCOUNT OFF;
END
GO
