/****** Object:  StoredProcedure [dbo].[PROC_GET_ALLOTMENT_TAX_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_ALLOTMENT_TAX_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ALLOTMENT_TAX_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_ALLOTMENT_TAX_DETAILS]
	@EXERCISENO INT
	
	
AS
BEGIN
	SET NOCOUNT ON;	

	SELECT 
		SCH.MIT_ID,CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(SH.TentativeFMVPrice,0),'FMV')
		WHEN  SH.CALCULATE_TAX = 'rdoActualTax' THEN SH.FMVPrice ELSE '0' END AS FMVPrice,CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN ISNULL(SH.TentativePerqstPayable,0)
		WHEN  SH.CALCULATE_TAX = 'rdoActualTax' THEN SH.PerqstPayable ELSE '0' END AS PerqstPayable,CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(SH.TentativePerqstValue,0),'TAXVALUE')
		WHEN  SH.CALCULATE_TAX = 'rdoActualTax' THEN SH.PerqstValue ELSE '0' END AS PerqValue,GR.GrantDate,GL.FinalVestingDate,sh.ExerciseDate,SH.ExerciseNo,
		dbo.FN_GET_EVENTOFINCIDENCE(SCH.MIT_ID,sh.ExerciseDate) AS EVENT_OF_INCIDENCE, SCH.SchemeTitle,GL.GrantOptionId,SH.ExerciseId AS ExerciseId ,GrantLegSerialNumber AS TAX_SEQUENCENO
		FROM   ShExercisedOptions SH 
		INNER JOIN GrantLeg GL ON GL.ID=SH.GrantLegSerialNumber
		INNER JOIN GrantRegistration GR ON GR.GrantRegistrationId=GL.GrantRegistrationId	
		INNER JOIN  Scheme AS SCH	on SCH.SchemeId = GL.SchemeId
		WHERE SH.EXERCISENO=@EXERCISENO 

	UNION 
	SELECT	
		SCH.MIT_ID,CASE WHEN  ED.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(ED.TentativeFMVPrice,0),'FMV')
		WHEN  ED.CALCULATE_TAX = 'rdoActualTax' THEN ED.FMVPrice ELSE '0' END AS FMVPrice,CASE WHEN  ED.CALCULATE_TAX = 'rdoTentativeTax' THEN ISNULL(ED.TentativePerqstPayable,0)
		WHEN  ED.CALCULATE_TAX = 'rdoActualTax' THEN ED.PerqstPayable ELSE '0' END AS PerqstPayable,CASE WHEN  ED.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(ED.TentativePerqstValue,0),'TAXVALUE')
		WHEN  ED.CALCULATE_TAX = 'rdoActualTax' THEN ED.PerqstValue ELSE '0' END AS PerqValue,GR.GrantDate,GL.FinalVestingDate,ED.ExercisedDate,ED.ExerciseNo,
		dbo.FN_GET_EVENTOFINCIDENCE(SCH.MIT_ID,ED.ExercisedDate) AS EVENT_OF_INCIDENCE, SCH.SchemeTitle,GL.GrantOptionId,ED.ExercisedId AS ExercisedId ,GrantLegSerialNumber AS TAX_SEQUENCENO
		FROM Exercised ED 
		INNER JOIN GrantLeg GL ON GL.ID=ED.GrantLegSerialNumber
		INNER JOIN GrantRegistration GR ON GR.GrantRegistrationId=GL.GrantRegistrationId	
		INNER JOIN  Scheme AS SCH	on SCH.SchemeId = GL.SchemeId
		WHERE ED.EXERCISENO=@EXERCISENO
					
		/* Get Tax details*/
					
	SELECT * FROM (
					SELECT 
							 ETD.Tax_Title AS TAX_HEADING ,dbo.FN_PQ_TAX_ROUNDING(TAX_RATE) as TAX_RATE ,RT.[Description] AS RESIDENT_STATUS 
							 ,CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(SUM( ISNULL(TENTATIVETAXAMOUNT,0)) ,'TAXVALUE') ELSE dbo.FN_GET_COMPANY_DECIMAL_SETTING(SUM( ISNULL(TAX_AMOUNT,0)) ,'TAXVALUE') END AS TAX_AMOUNT,
							 '' AS Country ,'' AS [STATE] ,BASISOFTAXATION ,
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEFMVVALUE,0),'FMV'),0) ELSE CASE WHEN ISNULL(FMVVALUE,0)=0 THEN     ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(TENTATIVEFMVVALUE,'FMV'),0) ELSE ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(FMVVALUE,'FMV'),0)  END end AS FMV,
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEPERQVALUE,0),'TAXVALUE'),0)ELSE CASE WHEN ISNULL(PERQVALUE,0)=0 THEN   ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(TENTATIVEPERQVALUE,'TAXVALUE'),0) ELSE ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(PERQVALUE,'TAXVALUE'),0)  END end AS TOTAL_PERK_VALUE
							,0 AS COUNTRY_ID,GRANTLEGSERIALNO,GRANTLEGSERIALNO AS TAX_SEQUENCENO,ISNULL(CONVERT(VARCHAR(20),MAX(ETD.FROM_DATE)),GETDATE()) AS FROM_DATE,ISNULL(CONVERT(VARCHAR(20),MAX(ETD.TO_DATE)),GETDATE()) AS TO_DATE
							FROM EXERCISE_TAXRATE_DETAILS ETD
							INNER JOIN ShExercisedOptions SH ON SH.ExerciseId=ETD.EXERCISE_NO 
							INNER JOIN ResidentialType RT ON ETD.RESIDENT_ID=RT.id
							INNER JOIN GrantLeg GL ON GL.ID=SH.GrantLegSerialNumber
							INNER JOIN  Scheme AS SCH	on SCH.SchemeId = GL.SchemeId
							WHERE SH.EXERCISENO=@EXERCISENO AND ISNULL(COUNTRY_ID,0)=0 AND ISNULL(RESIDENT_ID,0)>0
							GROUP BY ETD.Tax_Title, TAX_RATE ,BASISOFTAXATION ,FMVVALUE, TENTATIVEFMVVALUE,	GRANTLEGSERIALNO, SH.CALCULATE_TAX,FMVVALUE, PERQVALUE, TENTATIVEFMVVALUE, TENTATIVEPERQVALUE,
							RT.[Description]

					UNION
					SELECT 
							ETD.Tax_Title AS TAX_HEADING ,dbo.FN_PQ_TAX_ROUNDING(TAX_RATE) as TAX_RATE ,RT.[Description] AS RESIDENT_STATUS 
							,CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(SUM(ISNULL(TENTATIVETAXAMOUNT,0)) ,'TAXVALUE') ELSE dbo.FN_GET_COMPANY_DECIMAL_SETTING(SUM( ISNULL(TAX_AMOUNT,0)) ,'TAXVALUE') END AS TAX_AMOUNT,
							'' AS Country ,'' AS [STATE] ,BASISOFTAXATION ,
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEFMVVALUE,0),'FMV'),0) ELSE CASE WHEN ISNULL(FMVVALUE,0)=0 THEN    ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(TENTATIVEFMVVALUE,'FMV'),0) ELSE ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(FMVVALUE,'FMV'),0)  END end AS FMV,
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEPERQVALUE,0),'TAXVALUE'),0) ELSE CASE WHEN ISNULL(PERQVALUE,0)=0 THEN    ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(TENTATIVEPERQVALUE,'TAXVALUE'),0) ELSE ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(PERQVALUE,'TAXVALUE'),0)  END end AS TOTAL_PERK_VALUE
							 ,0 AS COUNTRY_ID,GRANTLEGSERIALNO,GRANTLEGSERIALNO AS TAX_SEQUENCENO,ISNULL(CONVERT(VARCHAR(20),MAX(ETD.FROM_DATE)),GETDATE()) AS FROM_DATE,ISNULL(CONVERT(VARCHAR(20),MAX(ETD.TO_DATE)),GETDATE()) AS TO_DATE
							FROM EXERCISE_TAXRATE_DETAILS ETD
							INNER JOIN Exercised SH ON SH.ExercisedId=ETD.EXERCISE_NO 
							INNER JOIN ResidentialType RT ON ETD.RESIDENT_ID=RT.id
							INNER JOIN GrantLeg GL ON GL.ID=SH.GrantLegSerialNumber
							INNER JOIN  Scheme AS SCH	on SCH.SchemeId = GL.SchemeId
							WHERE SH.EXERCISENO=@EXERCISENO AND ISNULL(COUNTRY_ID,0)=0 AND ISNULL(RESIDENT_ID,0)>0
							GROUP BY ETD.Tax_Title, TAX_RATE ,BASISOFTAXATION ,FMVVALUE, TENTATIVEFMVVALUE,	GRANTLEGSERIALNO, SH.CALCULATE_TAX,FMVVALUE, PERQVALUE, TENTATIVEFMVVALUE, TENTATIVEPERQVALUE,
							RT.[Description]
						
					UNION
					SELECT 
							ETD.Tax_Title AS TAX_HEADING ,dbo.FN_PQ_TAX_ROUNDING(TAX_RATE) AS TAX_RATE ,'' AS RESIDENT_STATUS ,	
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(SUM(ISNULL(TENTATIVETAXAMOUNT,0)) ,'TAXVALUE') ELSE dbo.FN_GET_COMPANY_DECIMAL_SETTING(SUM(ISNULL(TAX_AMOUNT,0)) ,'TAXVALUE') END AS TAX_AMOUNT,
							CM.CountryName AS Country ,'' AS [STATE] ,BASISOFTAXATION ,						
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEFMVVALUE,0),'FMV') ELSE CASE WHEN ISNULL(FMVVALUE,0)=0 THEN  ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(TENTATIVEFMVVALUE,'FMV'),0) ELSE ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(FMVVALUE,'FMV'),0)  END END AS FMV,
							SUM(CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEPERQVALUE,0),'TAXVALUE') ELSE CASE WHEN ISNULL(PERQVALUE,0)=0 THEN   ISNULL( dbo.FN_GET_COMPANY_DECIMAL_SETTING(TENTATIVEPERQVALUE,'TAXVALUE'),0) ELSE ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(PERQVALUE,'TAXVALUE'),0)  END END) AS TOTAL_PERK_VALUE,
							CM.ID AS COUNTRY_ID ,GRANTLEGSERIALNO,GRANTLEGSERIALNO AS TAX_SEQUENCENO ,ISNULL(CONVERT(VARCHAR(20),MAX(ETD.FROM_DATE)),GETDATE()) AS FROM_DATE,ISNULL(CONVERT(VARCHAR(20),MAX(ETD.TO_DATE)),GETDATE()) AS TO_DATE
							FROM EXERCISE_TAXRATE_DETAILS ETD
							INNER JOIN ShExercisedOptions SH ON SH.ExerciseId=ETD.EXERCISE_NO   
							INNER JOIN CountryMaster CM ON ETD.COUNTRY_ID=CM.id
							INNER JOIN GrantLeg GL ON GL.ID=SH.GrantLegSerialNumber
							INNER JOIN  Scheme AS SCH	on SCH.SchemeId = GL.SchemeId
							WHERE SH.EXERCISENO=@EXERCISENO AND ISNULL(COUNTRY_ID,0)>0 AND ISNULL(RESIDENT_ID,0)=0
							GROUP BY ETD.Tax_Title, TAX_RATE ,CM.CountryName ,BASISOFTAXATION ,FMVVALUE, TENTATIVEFMVVALUE,	CM.ID ,GRANTLEGSERIALNO, SH.CALCULATE_TAX,ETD.TENTATIVEPERQVALUE,ETD.PERQVALUE,TENTATIVETAXAMOUNT,TAX_AMOUNT,ISNULL(CONVERT(VARCHAR(20),ETD.FROM_DATE),GETDATE()) ,ISNULL(CONVERT(VARCHAR(20),ETD.TO_DATE),GETDATE()) 

					UNION
					SELECT 
							ETD.Tax_Title AS TAX_HEADING ,dbo.FN_PQ_TAX_ROUNDING(TAX_RATE) AS TAX_RATE ,'' AS RESIDENT_STATUS ,	
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(SUM( ISNULL(TENTATIVETAXAMOUNT,0) ),'TAXVALUE') ELSE dbo.FN_GET_COMPANY_DECIMAL_SETTING( SUM(ISNULL(TAX_AMOUNT,0) ),'TAXVALUE') END AS TAX_AMOUNT,
							CM.CountryName AS Country ,'' AS [STATE] ,BASISOFTAXATION ,						
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEFMVVALUE,0),'FMV') ELSE CASE WHEN ISNULL(FMVVALUE,0)=0 THEN  dbo.FN_GET_COMPANY_DECIMAL_SETTING(TENTATIVEFMVVALUE,'FMV') ELSE dbo.FN_GET_COMPANY_DECIMAL_SETTING(FMVVALUE,'FMV')  END END AS FMV,
							SUM(CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEPERQVALUE,0),'TAXVALUE') ELSE CASE WHEN ISNULL(PERQVALUE,0)=0 THEN  ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(ETD.TENTATIVEPERQVALUE,'TAXVALUE'),0) ELSE ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(ETD.PERQVALUE,'TAXVALUE'),0)  END END) AS TOTAL_PERK_VALUE,
							CM.ID AS COUNTRY_ID ,GRANTLEGSERIALNO,GRANTLEGSERIALNO AS TAX_SEQUENCENO ,ISNULL(CONVERT(VARCHAR(20),MAX(ETD.FROM_DATE)),GETDATE()) AS FROM_DATE,ISNULL(CONVERT(VARCHAR(20),MAX(ETD.TO_DATE)),GETDATE()) AS TO_DATE
							FROM EXERCISE_TAXRATE_DETAILS ETD
							INNER JOIN Exercised SH ON SH.ExercisedId=ETD.EXERCISE_NO   
							INNER JOIN CountryMaster CM ON ETD.COUNTRY_ID=CM.id
							INNER JOIN GrantLeg GL ON GL.ID=SH.GrantLegSerialNumber
							INNER JOIN  Scheme AS SCH	on SCH.SchemeId = GL.SchemeId
							WHERE SH.EXERCISENO=@EXERCISENO AND ISNULL(COUNTRY_ID,0)>0 AND ISNULL(RESIDENT_ID,0)=0
							GROUP BY ETD.Tax_Title, TAX_RATE ,CM.CountryName ,BASISOFTAXATION ,FMVVALUE, TENTATIVEFMVVALUE,	CM.ID ,GRANTLEGSERIALNO, SH.CALCULATE_TAX,ETD.TENTATIVEPERQVALUE,ETD.PERQVALUE,TENTATIVETAXAMOUNT,TAX_AMOUNT,ISNULL(CONVERT(VARCHAR(20),ETD.FROM_DATE),GETDATE()),ISNULL(CONVERT(VARCHAR(20),ETD.TO_DATE),GETDATE()) 
						
					UNION
                    SELECT
						   ETD.Tax_Title AS TAX_HEADING ,dbo.FN_PQ_TAX_ROUNDING(TAX_RATE) as TAX_RATE ,'' AS RESIDENT_STATUS ,
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(SUM( ISNULL(TENTATIVETAXAMOUNT,0)) ,'TAXVALUE') ELSE dbo.FN_GET_COMPANY_DECIMAL_SETTING(SUM( ISNULL(TAX_AMOUNT,0)) ,'TAXVALUE') END AS TAX_AMOUNT
							,'' AS Country ,'' AS [STATE] ,BASISOFTAXATION ,
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEFMVVALUE,0),'FMV') ELSE CASE WHEN ISNULL(FMVVALUE,0)=0 THEN     ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(TENTATIVEFMVVALUE,'FMV'),0) ELSE ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(FMVVALUE,'FMV'),0)  END END AS FMV,
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEPERQVALUE,0),'TAXVALUE') ELSE CASE WHEN ISNULL(PERQVALUE,0)=0 THEN    ISNULL( dbo.FN_GET_COMPANY_DECIMAL_SETTING(TENTATIVEPERQVALUE,'TAXVALUE'),0) ELSE ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(PERQVALUE,'TAXVALUE'),0)  END END AS TOTAL_PERK_VALUE,
							0 AS COUNTRY_ID,GRANTLEGSERIALNO,
				     		GRANTLEGSERIALNO AS TAX_SEQUENCENO,ISNULL(CONVERT(VARCHAR(20),MAX(ETD.FROM_DATE),101),GETDATE()) AS FROM_DATE,MAX(ETD.TO_DATE) AS TO_DATE
							FROM EXERCISE_TAXRATE_DETAILS ETD INNER JOIN ShExercisedOptions SH ON SH.ExerciseId=ETD.EXERCISE_NO 
							INNER JOIN GrantLeg GL ON GL.ID=SH.GrantLegSerialNumber
							INNER JOIN  Scheme AS SCH	on SCH.SchemeId = GL.SchemeId
							WHERE SH.EXERCISENO=@EXERCISENO AND ISNULL(COUNTRY_ID,0)=0 AND ISNULL(RESIDENT_ID,0)=0
							GROUP BY ETD.Tax_Title, TAX_RATE ,BASISOFTAXATION ,FMVVALUE, TENTATIVEFMVVALUE,	GRANTLEGSERIALNO, SH.CALCULATE_TAX,FMVVALUE, PERQVALUE, TENTATIVEFMVVALUE, TENTATIVEPERQVALUE

					UNION
					SELECT 
							ETD.Tax_Title AS TAX_HEADING ,dbo.FN_PQ_TAX_ROUNDING(TAX_RATE) as TAX_RATE ,'' AS RESIDENT_STATUS ,
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(SUM( ISNULL(TENTATIVETAXAMOUNT,0)) ,'TAXVALUE') ELSE dbo.FN_GET_COMPANY_DECIMAL_SETTING(SUM( ISNULL(TAX_AMOUNT,0)) ,'TAXVALUE') END AS TAX_AMOUNT
							,'' AS Country ,'' AS [STATE] ,BASISOFTAXATION ,
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEFMVVALUE,0),'FMV') ELSE CASE WHEN ISNULL(FMVVALUE,0)=0 THEN     ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(TENTATIVEFMVVALUE,'FMV'),0) ELSE ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(FMVVALUE,'FMV'),0)  END end AS FMV,
							CASE WHEN  SH.CALCULATE_TAX = 'rdoTentativeTax' THEN dbo.FN_GET_COMPANY_DECIMAL_SETTING(ISNULL(TENTATIVEPERQVALUE,0),'TAXVALUE') ELSE CASE WHEN ISNULL(PERQVALUE,0)=0 THEN    ISNULL( dbo.FN_GET_COMPANY_DECIMAL_SETTING(TENTATIVEPERQVALUE,'TAXVALUE'),0) ELSE ISNULL(dbo.FN_GET_COMPANY_DECIMAL_SETTING(PERQVALUE,'TAXVALUE'),0) END end AS TOTAL_PERK_VALUE,
							0 AS COUNTRY_ID,GRANTLEGSERIALNO,
				     		GRANTLEGSERIALNO AS TAX_SEQUENCENO,ISNULL(CONVERT(VARCHAR(20),MAX(ETD.FROM_DATE),101),GETDATE()) AS FROM_DATE,MAX(ETD.TO_DATE) AS TO_DATE
							FROM EXERCISE_TAXRATE_DETAILS ETD INNER JOIN Exercised SH ON SH.ExercisedId=ETD.EXERCISE_NO 
							INNER JOIN GrantLeg GL ON GL.ID=SH.GrantLegSerialNumber
							INNER JOIN  Scheme AS SCH	on SCH.SchemeId = GL.SchemeId
							WHERE SH.EXERCISENO=@EXERCISENO AND ISNULL(COUNTRY_ID,0)=0 AND ISNULL(RESIDENT_ID,0)=0
							GROUP BY ETD.Tax_Title, TAX_RATE ,BASISOFTAXATION ,FMVVALUE, TENTATIVEFMVVALUE,	GRANTLEGSERIALNO, SH.CALCULATE_TAX,FMVVALUE, PERQVALUE, TENTATIVEFMVVALUE, TENTATIVEPERQVALUE
			) AS  T 
			ORDER BY  T.TAX_HEADING
			

SET NOCOUNT OFF;		
END

GO
