/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_SCHEMEDETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATE_SCHEMEDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_SCHEMEDETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATE_SCHEMEDETAILS]
(
	@SCHEMETITLE VARCHAR(50),
	@ROUNDING_UP TINYINT,
	@FRACTION_PAID_CASH TINYINT
	
)
AS
BEGIN

	SET NOCOUNT ON;				
    IF(@SCHEMETITLE !='')		
    BEGIN 
		UPDATE SCHEME SET  ROUNDING_UP = @ROUNDING_UP,FRACTION_PAID_CASH =@FRACTION_PAID_CASH 
		WHERE SCHEMETITLE = @SCHEMETITLE
	END 

	SET NOCOUNT OFF;	
END
GO
