/****** Object:  StoredProcedure [dbo].[PROC_VALIDATE_TAX_RATE_SETTING_MASSUPLOAD]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_VALIDATE_TAX_RATE_SETTING_MASSUPLOAD]
GO
/****** Object:  StoredProcedure [dbo].[PROC_VALIDATE_TAX_RATE_SETTING_MASSUPLOAD]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_VALIDATE_TAX_RATE_SETTING_MASSUPLOAD]
(	
	@TEMPLATENAME NVARCHAR(250),
	@VALIDATE_TAX_RATE_SETTING_MASSUPLOAD dbo.TYPE_TAX_RATE_SETTING_MASSUPLOAD READONLY
)
AS 
BEGIN
	SET XACT_ABORT ON
	SET NOCOUNT ON;
	DECLARE @TRSC_ID INT
	CREATE TABLE #INST_COUNTRY_STATE
	(
		ID INT  NOT NULL IDENTITY(2,1),
		EMPLOYEE_ID NVARCHAR(250) NULL,
		EMPLOYEE_NAME NVARCHAR(MAX) NULL,
		RESIDENTAL_STATUS NVARCHAR(250) NULL,
		COUNTRY NVARCHAR(250) NULL,
		STATE NVARCHAR(250) NULL,
		INSTRUMENT_TYPE NVARCHAR(250)NULL,
		TAX_HEADING NVARCHAR(250) NULL,
		TAX_RATE_LIVE_EMPLOYEE DECIMAL(18,2) NULL,
		TAX_RATE_SEPRATED_EMPLOYEE DECIMAL(18,2) NULL,	
		MIT_ID BIGINT NULL,
		COUNTRY_ID BIGINT NULL,
		STATE_ID BIGINT NULL,
		TAX_HEADING_ID BIGINT NULL,
		RESIDENTIAL_ID BIGINT NULL
	)
		
	CREATE TABLE #EXCEPTION_TABLE
	(		
		ID INT NULL,
		EMPLOYEE_ID NVARCHAR(150), 
		EMPLOYEE_NAME NVARCHAR(150), 		
		MIT_ID BIGINT NULL,
		COUNTRY_ID BIGINT NULL,
		STATE_ID BIGINT NULL,
		TAX_HEADING_ID BIGINT NULL,
		RESIDENTIAL_ID BIGINT NULL,		
		TAX_RATE_LIVE_EMPLOYEE NVARCHAR(150), 
		TAX_RATE_SEPRATED_EMPLOYEE NVARCHAR(150),
		REMARK NVARCHAR(200)
	)
	
	CREATE TABLE #INSERTTABLE
	(
		TRSC_ID INT NULL,
		EMPLOYEE_ID NVARCHAR(150)NULL,		
		TAX_RATE_LIVE_EMPLOYEE NVARCHAR(150), 
		TAX_RATE_SEPRATED_EMPLOYEE NVARCHAR(150),
		ACTION CHAR NULL
	)
	
	CREATE TABLE #INSERTCONFIG
	(
		TRSC_ID INT NULL,
		MIT_ID BIGINT NULL,
		TAX_HEADING_ID BIGINT NULL,
		COUNTRY_ID BIGINT NULL,	
		STATE_ID BIGINT NULL,
		RESIDENTIAL_ID BIGINT NULL,	
	)
	
	CREATE TABLE #TEMP_UPDATE_FOR_EMP_ID
	(
		TUFEI_EMPLOYEE_ID NVARCHAR(500)
	)
	
	CREATE TABLE #TEMP_INSERT_FOR_EMP_ID
	(
		TIFEI_EMPLOYEE_ID NVARCHAR(500)
	)
	BEGIN TRY 
		BEGIN TRY
			INSERT INTO #INST_COUNTRY_STATE (EMPLOYEE_ID, EMPLOYEE_NAME, INSTRUMENT_TYPE, COUNTRY, [STATE], RESIDENTAL_STATUS, TAX_HEADING,
			TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,MIT_ID) 
			(SELECT CASE WHEN (Len(EMPLOYEE_ID)>0) Then EMPLOYEE_ID ELSE NULL END, ISNULL(EMPLOYEE_NAME,NULL), INSTRUMENT_TYPE, ISNULL(COUNTRY,NULL), ISNULL(STATE,NULL),ISNULL(RESIDENTAL_STATUS,NULL), TAX_HEADING, TAX_RATE_LIVE_EMPLOYEE,
			TAX_RATE_SEPRATED_EMPLOYEE,(SELECT MIT_ID FROM COMPANY_INSTRUMENT_MAPPING  WHERE UPPER(INS_DISPLY_NAME) = UPPER(INSTRUMENT_TYPE))
			FROM @VALIDATE_TAX_RATE_SETTING_MASSUPLOAD)	
		END TRY
		BEGIN CATCH
			IF ( XACT_STATE() <> 0)
			BEGIN
				SELECT 'ERROR WHILE INSERTING INTO TEMP TABLE FROM TYPE RECORD' AS REMARK, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
				ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage
			END
		END CATCH
		
	-- UPDATE USER DATA COLUM'S HERE, MIT_ID,COUNTRY_ID,RESIDENT ID, STATE ID, TAX HEAD ID
	BEGIN TRY 
	
		UPDATE 
			ICS SET ICS.MIT_ID = CIM.MIT_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS 
			INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM ON CIM.INS_DISPLY_NAME = ICS.INSTRUMENT_TYPE
			
		WHERE
			ICS.INSTRUMENT_TYPE IS NOT NULL	 AND ICS.MIT_ID IS NULL 

		
		UPDATE 
			ICS SET ICS.MIT_ID = MIT.MIT_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS 			
			left join MST_INSTRUMENT_TYPE as MIT on MIT.INSTRUMENT_NAME = ICS.INSTRUMENT_TYPE
		WHERE
			ICS.INSTRUMENT_TYPE IS NOT NULL	 AND ICS.MIT_ID IS NULL	
			
		
		UPDATE 
			ICS SET ICS.COUNTRY_ID = CM.ID
		FROM 
			#INST_COUNTRY_STATE AS ICS   		
			INNER JOIN COUNTRYMASTER AS CM ON CM.CountryName = ICS.COUNTRY	
		WHERE 
			ICS.COUNTRY IS NOT NULL AND ISSELECTED =1

		UPDATE 
			ICS SET ICS.STATE_ID = MS.MS_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS   		
			INNER JOIN MST_STATES AS MS ON MS.STATE_NAME = ICS.STATE
			INNER JOIN COUNTRYMASTER AS CM ON MS.COUNTRY_ID = CM.ID
		WHERE 
			ICS.STATE IS NOT NULL AND MS.COUNTRY_ID = ICS.COUNTRY_ID AND MS.IS_SELECTED =1 AND CM.ISSELECTED =1
		   		
		UPDATE 
			 ICS SET ICS.TAX_HEADING_ID = MSRT.MTH_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS   		
			INNER JOIN MST_TAX_RATE_TITLE AS MSRT ON MSRT.TAX_HEADING = ICS.TAX_HEADING AND MSRT.MIT_ID=ICS.MIT_ID
		WHERE 
			ICS.TAX_HEADING IS NOT NULL AND ICS.MIT_ID = MSRT.MIT_ID

		UPDATE 
			ICS SET ICS.RESIDENTIAL_ID = RES.ID
		FROM 
			#INST_COUNTRY_STATE AS ICS   		
			INNER JOIN RESIDENTIALTYPE AS RES ON RES.[Description] = ICS.RESIDENTAL_STATUS
		WHERE 
			ICS.RESIDENTAL_STATUS IS NOT NULL
	
	END TRY 
	BEGIN CATCH	
		IF (XACT_STATE() <> 0)
		BEGIN
			SELECT 'ERROR WHILE UPDATING (INSTRUMENT TYPE, COUNTRY, RESIDENT TYPE, TAX HEADING, STATE)RECORD, PLEASE CHECK THOSE RECORD AND INSERT / UPDATE AGAIN.' AS REMARK, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
			ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage
			GOTO ERROR
		END
	END CATCH
	
	BEGIN TRY --VALIDATION BEGINS HERE
 	/*VALIDATE INSTRUMENTID  FOR COMMON USE*/
	INSERT INTO #EXCEPTION_TABLE SELECT ID,EMPLOYEE_ID, EMPLOYEE_NAME,MIT_ID,COUNTRY_ID,STATE_ID,TAX_HEADING_ID,
	RESIDENTIAL_ID,TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,'INSTRUMENT TYPE IS WRONG.' FROM #INST_COUNTRY_STATE
	WHERE MIT_ID IS NULL
	
	
	/*VALIDATE TAX HEADING FOR COMMON USE*/
	INSERT INTO #EXCEPTION_TABLE SELECT ID,EMPLOYEE_ID, EMPLOYEE_NAME,MIT_ID,COUNTRY_ID,STATE_ID,TAX_HEADING_ID,
	RESIDENTIAL_ID,TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,'TAX HEADING NAME IS WRONG.' FROM #INST_COUNTRY_STATE
	WHERE (LEN(ISNULL(TAX_HEADING_ID, '')) = 0) OR TAX_HEADING_ID IS NULL


	--TEMPLATE WAISE VALIDATION BEGIN HERE
	IF((@TEMPLATENAME = 'ResidentLevelTaxRate')OR (@TEMPLATENAME = 'EmployeeResidentLevelTaxRate'))
	BEGIN		
		INSERT INTO #EXCEPTION_TABLE SELECT ID,EMPLOYEE_ID, EMPLOYEE_NAME,MIT_ID,COUNTRY_ID,STATE_ID,TAX_HEADING_ID,
		RESIDENTIAL_ID,TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,'RESIDENTIAL TYPE IS EMPTY OR WRONG.' FROM #INST_COUNTRY_STATE
		WHERE (LEN(ISNULL(RESIDENTIAL_ID, '')) = 0) OR RESIDENTIAL_ID IS NULL
		
	END
	IF(@TEMPLATENAME = 'EmployeeCompanyLevelTaxRate' OR @TEMPLATENAME = 'EmployeeResidentLevelTaxRate' OR @TEMPLATENAME = 'EmployeeCountryandStateLevelTaxRate')
	BEGIN
	print'a'
		INSERT INTO #EXCEPTION_TABLE SELECT ID,EMPLOYEE_ID, EMPLOYEE_NAME,MIT_ID,COUNTRY_ID,STATE_ID,TAX_HEADING_ID,
		RESIDENTIAL_ID,TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,'EMPLOYEE ID IS EMPTY OR WRONG.' FROM #INST_COUNTRY_STATE
		WHERE (LEN(ISNULL(EMPLOYEE_ID, '')) = 0) OR EMPLOYEE_ID IS NULL
		
		INSERT INTO #EXCEPTION_TABLE SELECT ID,EMPLOYEE_ID, EMPLOYEE_NAME,MIT_ID,COUNTRY_ID,STATE_ID,TAX_HEADING_ID,
		RESIDENTIAL_ID,TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,'EMPLOYEE NAME IS EMPTY OR WRONG.' FROM #INST_COUNTRY_STATE
		WHERE (LEN(ISNULL(EMPLOYEE_NAME, '')) = 0) OR EMPLOYEE_NAME IS NULL
	END
	IF(@TEMPLATENAME = 'CountryandStateLevelTaxRate' OR @TEMPLATENAME = 'EmployeeCountryandStateLevelTaxRate')
	BEGIN
		INSERT INTO #EXCEPTION_TABLE SELECT ID,EMPLOYEE_ID, EMPLOYEE_NAME,MIT_ID,COUNTRY_ID,STATE_ID,TAX_HEADING_ID,
		RESIDENTIAL_ID,TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,'COUNTRY NAME IS EMPTY OR WRONG.' FROM #INST_COUNTRY_STATE
		WHERE (LEN(ISNULL(COUNTRY_ID, '')) = 0) OR COUNTRY_ID IS NULL
				
		INSERT INTO #EXCEPTION_TABLE SELECT ID,EMPLOYEE_ID, EMPLOYEE_NAME,MIT_ID,COUNTRY_ID,STATE_ID,TAX_HEADING_ID,
		RESIDENTIAL_ID,TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,'STATE NAME IS EMPTY OR WRONG.' FROM #INST_COUNTRY_STATE
		WHERE (LEN(ISNULL(STATE_ID, '')) = 0) OR STATE_ID IS NULL
	END
	IF(@TEMPLATENAME = 'EmployeeCountryLevelTaxRate' OR @TEMPLATENAME = 'CountryLevelTaxRate')
	BEGIN
		INSERT INTO #EXCEPTION_TABLE SELECT ID,EMPLOYEE_ID, EMPLOYEE_NAME,MIT_ID,COUNTRY_ID,STATE_ID,TAX_HEADING_ID,
		RESIDENTIAL_ID,TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,'COUNTRY NAME IS EMPTY OR WRONG.' FROM #INST_COUNTRY_STATE
		WHERE (LEN(ISNULL(COUNTRY_ID, '')) = 0)OR COUNTRY_ID IS NULL
		IF(@TEMPLATENAME = 'EmployeeCountryLevelTaxRate')
		BEGIN
			INSERT INTO #EXCEPTION_TABLE SELECT ID,EMPLOYEE_ID, EMPLOYEE_NAME,MIT_ID,COUNTRY_ID,STATE_ID,TAX_HEADING_ID,
			RESIDENTIAL_ID,TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,'EMPLOYEE ID IS EMPTY OR WRONG.' FROM #INST_COUNTRY_STATE
			WHERE (LEN(ISNULL(EMPLOYEE_ID, '')) = 0)OR EMPLOYEE_ID IS NULL
			
			INSERT INTO #EXCEPTION_TABLE SELECT ID,EMPLOYEE_ID, EMPLOYEE_NAME,MIT_ID,COUNTRY_ID,STATE_ID,TAX_HEADING_ID,
			RESIDENTIAL_ID,TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,'EMPLOYEE NAME IS EMPTY OR WRONG.' FROM #INST_COUNTRY_STATE
			WHERE (LEN(ISNULL(EMPLOYEE_NAME, '')) = 0) OR EMPLOYEE_NAME IS NULL
		END
	END
	
	--CHECK IF EMPLOYEE ID IS AVAILABLE IN EMPLOYEE MASTER OR NOT AND IS EMPLOYEE ID MATCH TO EMPLOYEE NAME 
	IF(@TEMPLATENAME = 'EmployeeCountryandStateLevelTaxRate' OR @TEMPLATENAME = 'EmployeeResidentLevelTaxRate' OR
	@TEMPLATENAME = 'EmployeeResidentLevelTaxRate' OR @TEMPLATENAME = 'EmployeeCompanyLevelTaxRate' OR @TEMPLATENAME = 'EmployeeCountryLevelTaxRate')
	BEGIN
		INSERT INTO #EXCEPTION_TABLE 
		SELECT 
			ID,EMPLOYEE_ID, EMPLOYEE_NAME,MIT_ID,COUNTRY_ID,STATE_ID,TAX_HEADING_ID,
			RESIDENTIAL_ID,TAX_RATE_LIVE_EMPLOYEE, TAX_RATE_SEPRATED_EMPLOYEE,'EMPLOYEE NAME OR EMPLOYEE ID IS NOT EXISTS OR NOT MATCHED.' 
		FROM 
			#INST_COUNTRY_STATE AS ICS				
		WHERE 
			ICS.EMPLOYEE_NAME NOT IN (SELECT EM.EmployeeName FROM EMPLOYEEMASTER AS EM WHERE EmployeeID = ICS.EMPLOYEE_ID AND EM.Deleted=0)
	END
	
	/* EXCEPTION TABLE RETURNS IF THERE IS ANY ERROR*/
	IF ((SELECT COUNT(*) FROM #EXCEPTION_TABLE) > 0)	
	BEGIN
		SELECT 'EXCEPTION' AS EXCEPTION, ID AS ROWNUMBER , REMARK FROM #EXCEPTION_TABLE	ORDER BY ROWNUMBER ASC	
		GOTO ERROR
	END	
	END TRY 
	BEGIN CATCH	
		IF (XACT_STATE() <> 0)
		BEGIN
			SELECT 'ERROR WHILE VALIDATING RECORD' AS REMARK, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
			ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage
			GOTO ERROR
		END
	END CATCH	
	--------------------------------------MAIN DATA PROCESS START FROM HERE---------------------------------------------------------	
	BEGIN TRANSACTION
	BEGIN
	BEGIN TRY

	IF(@TEMPLATENAME = 'EmployeeCountryLevelTaxRate')	
	BEGIN
		--IF EMPLOYEE ID IS EXITS IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_UPDATE_FOR_EMP_ID (TUFEI_EMPLOYEE_ID)
		SELECT 
			TREM.Employee_ID 
		FROM 
			TAX_RATE_EMP_MAP AS TREM 
			INNER JOIN #INST_COUNTRY_STATE AS ICS ON TREM.EMPLOYEE_ID =ICS.EMPLOYEE_ID		
		WHERE 
			TREM.TRSC_ID IN 
			(SELECT TRSC_ID FROM TAX_RATE_SETTING_CONFIG AS TRSC 
			INNER JOIN #INST_COUNTRY_STATE AS ICS ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.COUNTRY_ID = ICS.COUNTRY_ID 
			AND ICS.TAX_HEADING_ID = TRSC.Tax_Head_Id)
				
		--IF EMPLOYEE ID IS NOT EXITS IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_INSERT_FOR_EMP_ID (TIFEI_EMPLOYEE_ID)
		SELECT 
			ICS.Employee_ID 
		FROM 
			#INST_COUNTRY_STATE AS ICS
		WHERE 
			ICS.Employee_ID NOT IN (SELECT TUFEI_EMPLOYEE_ID FROM #TEMP_UPDATE_FOR_EMP_ID)

		--INSERT THOSE RECORD IN TEMP WHICH ARE CAME TO UPDATE
		INSERT INTO #INSERTTABLE
		SELECT	
			TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'U' 
		FROM 
			#INST_COUNTRY_STATE AS ICS 
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON ICS.EMPLOYEE_ID = TREM.EMPLOYEE_ID
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.TRSC_ID = TREM.TRSC_ID
			AND TRSC.MIT_ID = ICS.MIT_ID AND TRSC.COUNTRY_ID = ICS.COUNTRY_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID
			INNER JOIN #TEMP_UPDATE_FOR_EMP_ID AS TUFEI ON ICS.EMPLOYEE_ID = TUFEI.TUFEI_EMPLOYEE_ID
		
		--INSERT THOSE RECORD IN TEMP WHICH ARE NEW IN EMP_CONFIG TABLE
		INSERT INTO #INSERTCONFIG 		
		SELECT 
			DISTINCT TRSC.TRSC_ID,ICS.MIT_ID, ICS.TAX_HEADING_ID, ICS.COUNTRY_ID, ICS.STATE_ID, ICS.RESIDENTIAL_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS			
			LEFT JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.COUNTRY_ID = ICS.COUNTRY_ID AND TRSC.Tax_Head_Id = ICS.TAX_HEADING_ID
		
		--INSERT NEW RECORD IN CONFIG FROM TEMP 
		INSERT INTO TAX_RATE_SETTING_CONFIG
			(MIT_ID,COUNTRY_ID,IS_ACTIVE,TAX_RATE_STATUS_DETAILS,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,Tax_Head_Id,IS_TAXRATEAPPLICABLE)
		SELECT 
			MIT_ID,COUNTRY_ID,1,1,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE(),TAX_HEADING_ID,1 
		FROM 
			#INSERTCONFIG AS IC
		WHERE 
			TRSC_ID IS NULL
		
		--UPDATE TRSC_ID OF NEW INSERTED RECORD IN EMP_CONFIG FOR INSERT IN EMP_MAP
		UPDATE
			#INSERTCONFIG SET TRSC_ID = TRSC.TRSC_ID
		FROM 
			TAX_RATE_SETTING_CONFIG AS TRSC
		WHERE TRSC.MIT_ID = #INSERTCONFIG.MIT_ID AND TRSC.COUNTRY_ID = #INSERTCONFIG.COUNTRY_ID AND TRSC.Tax_Head_Id = TAX_HEADING_ID
		
		/*INSERT INTO TEMP THOSE RECORD WHICH ARE NEW */
		INSERT INTO #INSERTTABLE
		SELECT	
			DISTINCT TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'I' 
		FROM 
			#INST_COUNTRY_STATE AS ICS
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID 
			AND TRSC.COUNTRY_ID = ICS.COUNTRY_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID			
		WHERE
			TRSC.TRSC_ID NOT IN (SELECT TRSC_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID = ICS.EMPLOYEE_ID)
	

	
	    /*INSERT IN EMP_MAP PHYSICAL TEBALE FROM TEMP RECORD WHICH ARE 'I' FLAG		*/
		INSERT INTO TAX_RATE_EMP_MAP 
		SELECT 
			TRSC.TRSC_ID,EMPLOYEE_ID,TAX_RATE_LIVE_EMPLOYEE,TAX_RATE_SEPRATED_EMPLOYEE,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE() 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TEMPIT.TRSC_ID = TRSC.TRSC_ID
			INNER JOIN #INSERTCONFIG AS IC ON TRSC.MIT_ID = IC.MIT_ID AND TRSC.COUNTRY_ID=IC.COUNTRY_ID AND TRSC.Tax_Head_Id= IC.TAX_HEADING_ID
		WHERE 
			[ACTION] IN('I') AND EMPLOYEE_ID IS NOT NULL 
		
		/*DELETE THOSE RECORD FROM TEMP TABLE WHICH ARE NOT CAME TO UPDATE*/
		DELETE 
			#INSERTTABLE FROM #INSERTTABLE AS INST
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON INST.TRSC_ID = TREM.TRSC_ID AND INST.EMPLOYEE_ID = TREM.EMPLOYEE_ID
			AND INST.TAX_RATE_LIVE_EMPLOYEE = TREM.TAXRATE_LIVE_EMPLOYEE AND INST.TAX_RATE_SEPRATED_EMPLOYEE = TREM.TAXRATE_SEPRATED_EMPLOYEE
		WHERE 
			INST.[ACTION] IN ('U')
			
		--UPDATE PHYSICAL TAX_RATE_EMP_MAP TABLE FROM TEMP #INSERTTABLE WITH FALG 'U'(UPDATE).
		UPDATE TREM 
			SET TREM.TAXRATE_LIVE_EMPLOYEE = TEMPIT.TAX_RATE_LIVE_EMPLOYEE,TREM.TAXRATE_SEPRATED_EMPLOYEE=TEMPIT.TAX_RATE_SEPRATED_EMPLOYEE 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON TEMPIT.EMPLOYEE_ID = TREM.Employee_ID AND TEMPIT.TRSC_ID = TREM.TRSC_ID		
		WHERE 
			[ACTION] IN ('U')
	END
	
	IF(@TEMPLATENAME = 'CountryLevelTaxRate')	
	BEGIN
		--IF EMPLOYEE ID IS EXITS IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_UPDATE_FOR_EMP_ID (TUFEI_EMPLOYEE_ID)
		SELECT 
			DISTINCT Employee_ID
		FROM 
			TAX_RATE_EMP_MAP AS TREM WHERE TREM.TRSC_ID IN(SELECT TRSC.TRSC_ID FROM TAX_RATE_SETTING_CONFIG AS TRSC WHERE TREM.TRSC_ID = TRSC.TRSC_ID AND TREM.Employee_ID IS NULL)				
		
		--IF EMPLOYEE ID IS NEW IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_INSERT_FOR_EMP_ID (TIFEI_EMPLOYEE_ID)
		SELECT 
			DISTINCT Employee_ID 
		FROM 
			#INST_COUNTRY_STATE WHERE Employee_ID NOT IN (SELECT TUFEI_EMPLOYEE_ID FROM #TEMP_UPDATE_FOR_EMP_ID)
		
		--INSERT INTO TEMP WHICH RECORD ARE CAME TO UPDATE WITH 'U' FLAG
		INSERT INTO #INSERTTABLE
		SELECT	
			TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'U' 
		FROM 
			#INST_COUNTRY_STATE AS ICS			
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.COUNTRY_ID = ICS.COUNTRY_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID			
		WHERE TRSC.TRSC_ID IN (SELECT TRSC_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID IS NULL)
	
		--INSERT INTO TEMP CONFIG WHICH ARE NEW RECORDS WITH NULL TRSC_ID
		INSERT INTO #INSERTCONFIG(TRSC_ID,MIT_ID,TAX_HEADING_ID,COUNTRY_ID,STATE_ID,RESIDENTIAL_ID)
		SELECT 
			DISTINCT TRSC.TRSC_ID,ICS.MIT_ID, ICS.TAX_HEADING_ID, ICS.COUNTRY_ID, ICS.STATE_ID, ICS.RESIDENTIAL_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS			
			LEFT JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.COUNTRY_ID = ICS.COUNTRY_ID AND TRSC.Tax_Head_Id = ICS.TAX_HEADING_ID
		
		--INSERT INTO PHYSICAL TAX RATE SETTING CONFIG TABLE FROM TEMP CONFIG WHICH ARE NULL TRSC_ID ONLY
		INSERT INTO TAX_RATE_SETTING_CONFIG
			(MIT_ID,COUNTRY_ID,IS_ACTIVE,TAX_RATE_STATUS_DETAILS,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,Tax_Head_Id,IS_TAXRATEAPPLICABLE)
		SELECT 
			MIT_ID,COUNTRY_ID,1,1,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE(),TAX_HEADING_ID,1 
		FROM 
			#INSERTCONFIG AS IC
		WHERE 
			TRSC_ID IS NULL
			
		--UPDATE TRSC_ID'S WHICH ARE NEW INSERTED IN TAX RATE SETTING
		UPDATE
			#INSERTCONFIG SET TRSC_ID = TRSC.TRSC_ID
		FROM 
			TAX_RATE_SETTING_CONFIG AS TRSC
		WHERE TRSC.MIT_ID = #INSERTCONFIG.MIT_ID AND TRSC.COUNTRY_ID = #INSERTCONFIG.COUNTRY_ID AND TRSC.Tax_Head_Id = TAX_HEADING_ID
		
		/*INSERT INTO TEMP WHICH ARE NEW RECORD ONLY WITH 'I FLAG'*/
		INSERT INTO #INSERTTABLE
		SELECT	
			DISTINCT TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'I' 
		FROM 
			#INST_COUNTRY_STATE AS ICS
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.COUNTRY_ID = ICS.COUNTRY_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID			
		WHERE 
			ICS.EMPLOYEE_ID NOT IN (SELECT EMPLOYEE_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID IS NULL)
			OR TRSC.TRSC_ID NOT IN (SELECT TRSC_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID IS NULL)
		
		--INSERT INTO PHYSICAL TAX RATE EMP_MAP TABLE FROM TEMP TABLE ONLY 'I' FLAG RECORD
		INSERT INTO TAX_RATE_EMP_MAP 
		SELECT 
			TRSC.TRSC_ID,EMPLOYEE_ID,TAX_RATE_LIVE_EMPLOYEE,TAX_RATE_SEPRATED_EMPLOYEE,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE() 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TEMPIT.TRSC_ID = TRSC.TRSC_ID
			INNER JOIN #INSERTCONFIG AS IC ON TRSC.MIT_ID = IC.MIT_ID AND TRSC.COUNTRY_ID=IC.COUNTRY_ID AND TRSC.Tax_Head_Id= IC.TAX_HEADING_ID
		WHERE 
			[ACTION] IN('I') AND EMPLOYEE_ID IS NULL
		
		/*DELETE THOSE RECORD FROM TEMP TABLE WHICH ARE NOT CAME TO UPDATE*/
		DELETE 
			#INSERTTABLE FROM #INSERTTABLE AS INST
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON INST.TRSC_ID = TREM.TRSC_ID AND TREM.EMPLOYEE_ID IS NULL
			AND INST.TAX_RATE_LIVE_EMPLOYEE = TREM.TAXRATE_LIVE_EMPLOYEE AND INST.TAX_RATE_SEPRATED_EMPLOYEE = TREM.TAXRATE_SEPRATED_EMPLOYEE
		WHERE 
			INST.[ACTION] IN ('U')
			
		--UPDATE PHYSICAL TAX RATE EMP_MAP TABLE FROM TEMP TABLE ONLY 'U' FLAG RECORD
		UPDATE TREM 
			SET TREM.TAXRATE_LIVE_EMPLOYEE = TEMPIT.TAX_RATE_LIVE_EMPLOYEE,TREM.TAXRATE_SEPRATED_EMPLOYEE=TEMPIT.TAX_RATE_SEPRATED_EMPLOYEE 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON TEMPIT.TRSC_ID = TREM.TRSC_ID
		WHERE 
			[ACTION] IN ('U') AND TREM.Employee_ID IS NULL
			
	END
	
	IF(@TEMPLATENAME = 'EmployeeResidentLevelTaxRate')	
	BEGIN
		--IF EMPLOYEE ID IS EXITS IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_UPDATE_FOR_EMP_ID (TUFEI_EMPLOYEE_ID)
		SELECT 
			TREM.Employee_ID 
		FROM 
			TAX_RATE_EMP_MAP AS TREM 
			INNER JOIN #INST_COUNTRY_STATE AS ICS ON TREM.EMPLOYEE_ID =ICS.EMPLOYEE_ID		
		WHERE 
			TREM.TRSC_ID IN(SELECT TRSC_ID FROM TAX_RATE_SETTING_CONFIG AS TRSC 
			INNER JOIN #INST_COUNTRY_STATE AS ICS ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.RESIDENTIAL_ID = ICS.RESIDENTIAL_ID AND ICS.TAX_HEADING_ID = TRSC.Tax_Head_Id)		
		
		INSERT INTO 
			#TEMP_INSERT_FOR_EMP_ID (TIFEI_EMPLOYEE_ID)
		SELECT 
			ICS.Employee_ID 
		FROM 
			#INST_COUNTRY_STATE AS ICS
		WHERE 
			ICS.Employee_ID NOT IN (SELECT TUFEI_EMPLOYEE_ID FROM #TEMP_UPDATE_FOR_EMP_ID)

		--INSERT THOSE RECORD IN TEMP WHICH ARE CAME TO UPDATE
		INSERT INTO #INSERTTABLE
		SELECT	
			TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'U' 
		FROM 
			#INST_COUNTRY_STATE AS ICS 
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON ICS.EMPLOYEE_ID = TREM.EMPLOYEE_ID
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.TRSC_ID = TREM.TRSC_ID AND TRSC.MIT_ID = ICS.MIT_ID AND TRSC.RESIDENTIAL_ID = ICS.RESIDENTIAL_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID
			INNER JOIN #TEMP_UPDATE_FOR_EMP_ID AS TUFEI ON ICS.EMPLOYEE_ID = TUFEI.TUFEI_EMPLOYEE_ID
		
		--INSERT THOSE RECORD IN TEMP WHICH ARE NEW IN EMP_CONFIG TABLE
		INSERT INTO #INSERTCONFIG 		
		SELECT 
			DISTINCT TRSC.TRSC_ID,ICS.MIT_ID, ICS.TAX_HEADING_ID, ICS.COUNTRY_ID, ICS.STATE_ID, ICS.RESIDENTIAL_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS			
			LEFT JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.RESIDENTIAL_ID = ICS.RESIDENTIAL_ID AND TRSC.Tax_Head_Id = ICS.TAX_HEADING_ID
		
		--INSERT NEW RECORD IN CONFIG FROM TEMP 
		INSERT INTO TAX_RATE_SETTING_CONFIG
			(MIT_ID,RESIDENTIAL_ID,IS_ACTIVE,TAX_RATE_STATUS_DETAILS,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,Tax_Head_Id,IS_TAXRATEAPPLICABLE)
		SELECT 
			MIT_ID,RESIDENTIAL_ID,1,1,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE(),TAX_HEADING_ID,1 
		FROM 
			#INSERTCONFIG AS IC
		WHERE 
			TRSC_ID IS NULL
			
		--UPDATE TRSC_ID OF NEW INSERTED RECORD IN EMP_CONFIG FOR INSERT IN EMP_MAP
		UPDATE
			#INSERTCONFIG SET TRSC_ID = TRSC.TRSC_ID
		FROM 
			TAX_RATE_SETTING_CONFIG AS TRSC
		WHERE 
			TRSC.MIT_ID = #INSERTCONFIG.MIT_ID AND TRSC.RESIDENTIAL_ID = #INSERTCONFIG.RESIDENTIAL_ID AND TRSC.Tax_Head_Id = TAX_HEADING_ID
		
		--INSERT INTO TEMP THOSE RECORD WHICH ARE NEW 
		INSERT INTO #INSERTTABLE
		SELECT	
			DISTINCT TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'I' 
		FROM 
			#INST_COUNTRY_STATE AS ICS
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.RESIDENTIAL_ID = ICS.RESIDENTIAL_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID			
		WHERE
			TRSC.TRSC_ID NOT IN (SELECT TRSC_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID = ICS.EMPLOYEE_ID)
		
		 --INSERT IN EMP_MAP PHYSICAL TEBALE FROM TEMP RECORD WHICH ARE 'I' FLAG		
		INSERT INTO TAX_RATE_EMP_MAP 
		SELECT 
			TRSC.TRSC_ID,EMPLOYEE_ID,TAX_RATE_LIVE_EMPLOYEE,TAX_RATE_SEPRATED_EMPLOYEE,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE() 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TEMPIT.TRSC_ID = TRSC.TRSC_ID
			INNER JOIN #INSERTCONFIG AS IC ON TRSC.MIT_ID = IC.MIT_ID AND TRSC.RESIDENTIAL_ID=IC.RESIDENTIAL_ID AND TRSC.Tax_Head_Id= IC.TAX_HEADING_ID
		WHERE 
			[ACTION] IN('I') AND EMPLOYEE_ID IS NOT NULL 
		
		--DELETE THOSE RECORD FROM TEMP TABLE WHICH ARE NOT CAME TO UPDATE
		DELETE 
			#INSERTTABLE FROM #INSERTTABLE AS INST
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON INST.TRSC_ID = TREM.TRSC_ID AND INST.EMPLOYEE_ID = TREM.EMPLOYEE_ID
			AND INST.TAX_RATE_LIVE_EMPLOYEE = TREM.TAXRATE_LIVE_EMPLOYEE AND INST.TAX_RATE_SEPRATED_EMPLOYEE = TREM.TAXRATE_SEPRATED_EMPLOYEE
		WHERE 
			INST.[ACTION] IN ('U')
		
		--UPDATE PHYSICAL TAX RATE EMP_MAP TABLE FROM TEMP TABLE ONLY 'U' FLAG RECORD
		UPDATE TREM 
			SET TREM.TAXRATE_LIVE_EMPLOYEE = TEMPIT.TAX_RATE_LIVE_EMPLOYEE,TREM.TAXRATE_SEPRATED_EMPLOYEE=TEMPIT.TAX_RATE_SEPRATED_EMPLOYEE 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON TEMPIT.TRSC_ID = TREM.TRSC_ID
		WHERE 
			[ACTION] IN ('U') AND TREM.Employee_ID IS NOT NULL
	END
	
	IF(@TEMPLATENAME = 'ResidentLevelTaxRate')	
	BEGIN
		--IF EMPLOYEE ID IS EXITS IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_UPDATE_FOR_EMP_ID (TUFEI_EMPLOYEE_ID)
		SELECT 
			DISTINCT Employee_ID
		FROM 
			TAX_RATE_EMP_MAP AS TREM WHERE TREM.TRSC_ID  IN 
			(SELECT TRSC.TRSC_ID FROM TAX_RATE_SETTING_CONFIG AS TRSC WHERE TREM.TRSC_ID = TRSC.TRSC_ID AND TREM.Employee_ID IS NULL)				
		
		--IF EMPLOYEE ID IS NEW IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_INSERT_FOR_EMP_ID (TIFEI_EMPLOYEE_ID)
		SELECT 
			DISTINCT Employee_ID 
		FROM 
			#INST_COUNTRY_STATE WHERE Employee_ID NOT IN (SELECT TUFEI_EMPLOYEE_ID FROM #TEMP_UPDATE_FOR_EMP_ID)
		
		--INSERT INTO TEMP WHICH RECORD ARE CAME TO UPDATE WITH 'U' FLAG
		INSERT INTO #INSERTTABLE
		SELECT	
			TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'U' 
		FROM 
			#INST_COUNTRY_STATE AS ICS 			
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.RESIDENTIAL_ID = ICS.RESIDENTIAL_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID			
		WHERE 
			TRSC.TRSC_ID IN (SELECT TRSC_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID IS NULL)
					
		--INSERT INTO TEMP CONFIG WHICH ARE NEW RECORDS WITH NULL TRSC_ID
		INSERT INTO #INSERTCONFIG(TRSC_ID,MIT_ID,TAX_HEADING_ID,COUNTRY_ID,STATE_ID,RESIDENTIAL_ID)
		SELECT 
			DISTINCT TRSC.TRSC_ID,ICS.MIT_ID, ICS.TAX_HEADING_ID, ICS.COUNTRY_ID, ICS.STATE_ID, ICS.RESIDENTIAL_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS			
			LEFT JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.RESIDENTIAL_ID = ICS.RESIDENTIAL_ID AND TRSC.Tax_Head_Id = ICS.TAX_HEADING_ID
		
		--INSERT INTO PHYSICAL TAX RATE SETTING CONFIG TABLE FROM TEMP CONFIG WHICH ARE NULL TRSC_ID ONLY
		INSERT INTO TAX_RATE_SETTING_CONFIG
			(MIT_ID,RESIDENTIAL_ID,IS_ACTIVE,TAX_RATE_STATUS_DETAILS,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,Tax_Head_Id,IS_TAXRATEAPPLICABLE)
		SELECT 
			MIT_ID,RESIDENTIAL_ID,1,1,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE(),TAX_HEADING_ID,1 
		FROM 
			#INSERTCONFIG AS IC
		WHERE 
			TRSC_ID IS NULL
		
		--UPDATE TRSC_ID'S WHICH ARE NEW INSERTED IN TAX RATE SETTING
		UPDATE
			#INSERTCONFIG SET TRSC_ID = TRSC.TRSC_ID
		FROM 
			TAX_RATE_SETTING_CONFIG AS TRSC
		WHERE TRSC.MIT_ID = #INSERTCONFIG.MIT_ID AND TRSC.RESIDENTIAL_ID = #INSERTCONFIG.RESIDENTIAL_ID AND TRSC.Tax_Head_Id = TAX_HEADING_ID
		
		--INSERT INTO TEMP WHICH ARE NEW RECORD ONLY WITH 'I FLAG'
		INSERT INTO #INSERTTABLE
		SELECT	
			DISTINCT TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'I' 
		FROM 
			#INST_COUNTRY_STATE AS ICS
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.RESIDENTIAL_ID = ICS.RESIDENTIAL_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID			
		WHERE 
			ICS.EMPLOYEE_ID NOT IN (SELECT EMPLOYEE_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID IS NULL)
			OR TRSC.TRSC_ID NOT IN (SELECT TRSC_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID IS NULL)
	
		--INSERT INTO PHYSICAL TAX RATE EMP_MAP TABLE FROM TEMP TABLE ONLY 'I' FLAG RECORD
		INSERT INTO TAX_RATE_EMP_MAP 
		SELECT 
			TRSC.TRSC_ID,EMPLOYEE_ID,TAX_RATE_LIVE_EMPLOYEE,TAX_RATE_SEPRATED_EMPLOYEE,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE() 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TEMPIT.TRSC_ID = TRSC.TRSC_ID
			INNER JOIN #INSERTCONFIG AS IC ON TRSC.MIT_ID = IC.MIT_ID AND TRSC.RESIDENTIAL_ID=IC.RESIDENTIAL_ID AND TRSC.Tax_Head_Id= IC.TAX_HEADING_ID
		WHERE 
			[ACTION] IN('I') AND EMPLOYEE_ID IS NULL
		
		--DELETE THOSE RECORD FROM TEMP TABLE WHICH ARE NOT CAME TO UPDATE
		DELETE 
			#INSERTTABLE FROM #INSERTTABLE AS INST
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON INST.TRSC_ID = TREM.TRSC_ID AND TREM.EMPLOYEE_ID IS NULL
			AND INST.TAX_RATE_LIVE_EMPLOYEE = TREM.TAXRATE_LIVE_EMPLOYEE AND INST.TAX_RATE_SEPRATED_EMPLOYEE = TREM.TAXRATE_SEPRATED_EMPLOYEE
		WHERE 
			INST.[ACTION] IN ('U')
					
		--UPDATE PHYSICAL TAX RATE EMP_MAP TABLE FROM TEMP TABLE ONLY 'U' FLAG RECORD
		UPDATE TREM 
			SET TREM.TAXRATE_LIVE_EMPLOYEE = TEMPIT.TAX_RATE_LIVE_EMPLOYEE,TREM.TAXRATE_SEPRATED_EMPLOYEE=TEMPIT.TAX_RATE_SEPRATED_EMPLOYEE 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON TEMPIT.TRSC_ID = TREM.TRSC_ID
		WHERE 
			[ACTION] IN ('U') AND TREM.Employee_ID IS NULL
			
	END
	
	IF(@TEMPLATENAME = 'EmployeeCountryandStateLevelTaxRate')	
	BEGIN
		--IF EMPLOYEE ID IS EXITS IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_UPDATE_FOR_EMP_ID (TUFEI_EMPLOYEE_ID)
		SELECT 
			TREM.Employee_ID 
		FROM 
			TAX_RATE_EMP_MAP AS TREM 
			INNER JOIN #INST_COUNTRY_STATE AS ICS ON TREM.EMPLOYEE_ID =ICS.EMPLOYEE_ID		
		WHERE 
			TREM.TRSC_ID IN (SELECT TRSC_ID FROM TAX_RATE_SETTING_CONFIG AS TRSC 
			INNER JOIN #INST_COUNTRY_STATE AS ICS ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.STATE_ID = ICS.STATE_ID AND ICS.TAX_HEADING_ID = TRSC.Tax_Head_Id)		
		
		--IF EMPLOYEE ID IS NEW IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_INSERT_FOR_EMP_ID (TIFEI_EMPLOYEE_ID)
		SELECT 
			ICS.Employee_ID 
		FROM 
			#INST_COUNTRY_STATE AS ICS
		WHERE 
			ICS.Employee_ID NOT IN (SELECT TUFEI_EMPLOYEE_ID FROM #TEMP_UPDATE_FOR_EMP_ID)

		--INSERT THOSE RECORD IN TEMP WHICH ARE CAME TO UPDATE
		INSERT INTO #INSERTTABLE
		SELECT	
			TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'U' 
		FROM 
			#INST_COUNTRY_STATE AS ICS 
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON ICS.EMPLOYEE_ID = TREM.EMPLOYEE_ID
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.TRSC_ID = TREM.TRSC_ID AND TRSC.MIT_ID = ICS.MIT_ID AND TRSC.STATE_ID = ICS.STATE_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID
			INNER JOIN #TEMP_UPDATE_FOR_EMP_ID AS TUFEI ON ICS.EMPLOYEE_ID = TUFEI.TUFEI_EMPLOYEE_ID
		
		--INSERT THOSE RECORD IN TEMP WHICH ARE NEW IN EMP_CONFIG TABLE
		INSERT INTO #INSERTCONFIG 		
		SELECT 
			DISTINCT TRSC.TRSC_ID,ICS.MIT_ID, ICS.TAX_HEADING_ID, ICS.COUNTRY_ID, ICS.STATE_ID, ICS.RESIDENTIAL_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS			
			LEFT JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.STATE_ID = ICS.STATE_ID AND TRSC.Tax_Head_Id = ICS.TAX_HEADING_ID
		
		--INSERT NEW RECORD IN CONFIG FROM TEMP 
		INSERT INTO TAX_RATE_SETTING_CONFIG
			(MIT_ID,STATE_ID,IS_ACTIVE,TAX_RATE_STATUS_DETAILS,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,Tax_Head_Id,IS_TAXRATEAPPLICABLE)
		SELECT 
			MIT_ID,STATE_ID,1,1,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE(),TAX_HEADING_ID,1 
		FROM 
			#INSERTCONFIG AS IC
		WHERE 
			TRSC_ID IS NULL
			
		--UPDATE TRSC_ID OF NEW INSERTED RECORD IN EMP_CONFIG FOR INSERT IN EMP_MAP
		UPDATE
			#INSERTCONFIG SET TRSC_ID = TRSC.TRSC_ID
		FROM 
			TAX_RATE_SETTING_CONFIG AS TRSC
		WHERE TRSC.MIT_ID = #INSERTCONFIG.MIT_ID AND TRSC.STATE_ID = #INSERTCONFIG.STATE_ID AND TRSC.Tax_Head_Id = TAX_HEADING_ID
		
		--INSERT INTO TEMP THOSE RECORD WHICH ARE NEW 
		INSERT INTO #INSERTTABLE
		SELECT	
			DISTINCT TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'I' 
		FROM 
			#INST_COUNTRY_STATE AS ICS
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.STATE_ID = ICS.STATE_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID			
		WHERE
			TRSC.TRSC_ID NOT IN (SELECT TRSC_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID = ICS.EMPLOYEE_ID)
		
		 --INSERT IN EMP_MAP PHYSICAL TEBALE FROM TEMP RECORD WHICH ARE 'I' FLAG		
		INSERT INTO TAX_RATE_EMP_MAP 
		SELECT 
			TRSC.TRSC_ID,EMPLOYEE_ID,TAX_RATE_LIVE_EMPLOYEE,TAX_RATE_SEPRATED_EMPLOYEE,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE() 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TEMPIT.TRSC_ID = TRSC.TRSC_ID
			INNER JOIN #INSERTCONFIG AS IC ON TRSC.MIT_ID = IC.MIT_ID AND TRSC.STATE_ID=IC.STATE_ID AND TRSC.Tax_Head_Id= IC.TAX_HEADING_ID
		WHERE 
			[ACTION] IN('I') AND EMPLOYEE_ID IS NOT NULL 
		
		--DELETE THOSE RECORD FROM TEMP TABLE WHICH ARE NOT CAME TO UPDATE
		DELETE 
			#INSERTTABLE FROM #INSERTTABLE AS INST
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON INST.TRSC_ID = TREM.TRSC_ID AND INST.EMPLOYEE_ID = TREM.EMPLOYEE_ID
			AND INST.TAX_RATE_LIVE_EMPLOYEE = TREM.TAXRATE_LIVE_EMPLOYEE AND INST.TAX_RATE_SEPRATED_EMPLOYEE = TREM.TAXRATE_SEPRATED_EMPLOYEE
		WHERE 
			INST.[ACTION] IN ('U')
			
		--UPDATE PHYSICAL TAX_RATE_EMP_MAP TABLE FROM TEMP #INSERTTABLE WITH FALG 'U'(UPDATE).
		UPDATE TREM 
			SET TREM.TAXRATE_LIVE_EMPLOYEE = TEMPIT.TAX_RATE_LIVE_EMPLOYEE, TREM.TAXRATE_SEPRATED_EMPLOYEE = TEMPIT.TAX_RATE_SEPRATED_EMPLOYEE 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON TEMPIT.EMPLOYEE_ID = TREM.Employee_ID AND TEMPIT.TRSC_ID = TREM.TRSC_ID		
		WHERE 
			[ACTION] IN ('U')
	END
	
	IF(@TEMPLATENAME = 'CountryandStateLevelTaxRate')	
	BEGIN
		--IF EMPLOYEE ID IS EXITS IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_UPDATE_FOR_EMP_ID (TUFEI_EMPLOYEE_ID)
		SELECT 
			DISTINCT Employee_ID
		FROM 
			TAX_RATE_EMP_MAP AS TREM WHERE TREM.TRSC_ID  IN (SELECT TRSC.TRSC_ID FROM TAX_RATE_SETTING_CONFIG AS TRSC 
			WHERE 
				TREM.TRSC_ID = TRSC.TRSC_ID AND TREM.Employee_ID IS NULL)				
		
		--IF EMPLOYEE ID IS NEW IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_INSERT_FOR_EMP_ID (TIFEI_EMPLOYEE_ID)
		SELECT 
			DISTINCT Employee_ID 
		FROM 
			#INST_COUNTRY_STATE WHERE Employee_ID NOT IN (SELECT TUFEI_EMPLOYEE_ID FROM #TEMP_UPDATE_FOR_EMP_ID)
		
		--INSERT INTO TEMP WHICH RECORD ARE CAME TO UPDATE WITH 'U' FLAG
		INSERT INTO #INSERTTABLE
		SELECT	
			TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'U' 
		FROM 
			#INST_COUNTRY_STATE AS ICS 			
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.STATE_ID = ICS.STATE_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID			
		WHERE 
			TRSC.TRSC_ID IN (SELECT TRSC_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID IS NULL)
		
		--INSERT INTO TEMP CONFIG WHICH ARE NEW RECORDS WITH NULL TRSC_ID
		INSERT INTO #INSERTCONFIG(TRSC_ID,MIT_ID,TAX_HEADING_ID,COUNTRY_ID,STATE_ID,RESIDENTIAL_ID)
		SELECT 
			DISTINCT TRSC.TRSC_ID,ICS.MIT_ID, ICS.TAX_HEADING_ID, ICS.COUNTRY_ID, ICS.STATE_ID, ICS.RESIDENTIAL_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS			
			LEFT JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.STATE_ID = ICS.STATE_ID AND TRSC.Tax_Head_Id = ICS.TAX_HEADING_ID
		
		--INSERT INTO PHYSICAL TAX RATE SETTING CONFIG TABLE FROM TEMP CONFIG WHICH ARE NULL TRSC_ID ONLY
		INSERT INTO TAX_RATE_SETTING_CONFIG
			(MIT_ID,STATE_ID,IS_ACTIVE,TAX_RATE_STATUS_DETAILS,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,Tax_Head_Id,IS_TAXRATEAPPLICABLE)
		SELECT 
			MIT_ID,STATE_ID,1,1,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE(),TAX_HEADING_ID,1 
		FROM 
			#INSERTCONFIG AS IC
		WHERE 
			TRSC_ID IS NULL
			
		--UPDATE TRSC_ID'S WHICH ARE NEW INSERTED IN TAX RATE SETTING
		UPDATE
			#INSERTCONFIG SET TRSC_ID = TRSC.TRSC_ID
		FROM 
			TAX_RATE_SETTING_CONFIG AS TRSC
		WHERE 
			TRSC.MIT_ID = #INSERTCONFIG.MIT_ID AND TRSC.STATE_ID = #INSERTCONFIG.COUNTRY_ID AND TRSC.Tax_Head_Id = TAX_HEADING_ID
		
		--INSERT INTO TEMP WHICH ARE NEW RECORD ONLY WITH 'I FLAG'
		INSERT INTO #INSERTTABLE
		SELECT	
			DISTINCT TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'I' 
		FROM 
			#INST_COUNTRY_STATE AS ICS
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.STATE_ID = ICS.STATE_ID AND TRSC.Tax_Head_Id =ICS.TAX_HEADING_ID			
		WHERE 
			ICS.EMPLOYEE_ID NOT IN (SELECT EMPLOYEE_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID IS NULL)
			OR TRSC.TRSC_ID NOT IN (SELECT TRSC_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID IS NULL)
		
		--INSERT INTO PHYSICAL TAX RATE EMP_MAP TABLE FROM TEMP TABLE ONLY 'I' FLAG RECORD
		INSERT INTO TAX_RATE_EMP_MAP 
		SELECT 
			TRSC.TRSC_ID,EMPLOYEE_ID,TAX_RATE_LIVE_EMPLOYEE,TAX_RATE_SEPRATED_EMPLOYEE,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE() 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TEMPIT.TRSC_ID = TRSC.TRSC_ID
			INNER JOIN #INSERTCONFIG AS IC ON TRSC.MIT_ID = IC.MIT_ID AND TRSC.STATE_ID=IC.STATE_ID AND TRSC.Tax_Head_Id= IC.TAX_HEADING_ID
		WHERE 
			[ACTION] IN('I') AND EMPLOYEE_ID IS NULL
		
		--DELETE THOSE RECORD FROM TEMP TABLE WHICH ARE NOT CAME TO UPDATE
		DELETE 
			#INSERTTABLE FROM #INSERTTABLE AS INST
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON INST.TRSC_ID = TREM.TRSC_ID AND TREM.EMPLOYEE_ID IS NULL
			AND INST.TAX_RATE_LIVE_EMPLOYEE = TREM.TAXRATE_LIVE_EMPLOYEE AND INST.TAX_RATE_SEPRATED_EMPLOYEE = TREM.TAXRATE_SEPRATED_EMPLOYEE
		WHERE 
			INST.[ACTION] IN ('U')
			
		--UPDATE PHYSICAL TAX RATE EMP_MAP TABLE FROM TEMP TABLE ONLY 'U' FLAG RECORD
		UPDATE TREM 
			SET TREM.TAXRATE_LIVE_EMPLOYEE = TEMPIT.TAX_RATE_LIVE_EMPLOYEE,TREM.TAXRATE_SEPRATED_EMPLOYEE=TEMPIT.TAX_RATE_SEPRATED_EMPLOYEE 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON TEMPIT.TRSC_ID = TREM.TRSC_ID
		WHERE 
			[ACTION] IN ('U') AND TREM.Employee_ID IS NULL
			
	END
	
	IF(@TEMPLATENAME = 'EmployeeCompanyLevelTaxRate')	
	BEGIN
		--IF EMPLOYEE ID IS EXITS IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_UPDATE_FOR_EMP_ID (TUFEI_EMPLOYEE_ID)
		SELECT 
			DISTINCT TREM.Employee_ID 
		FROM 
			TAX_RATE_EMP_MAP AS TREM 
		INNER JOIN #INST_COUNTRY_STATE AS ICS ON TREM.EMPLOYEE_ID =ICS.EMPLOYEE_ID		
		WHERE 
			TREM.TRSC_ID IN (SELECT TRSC_ID FROM TAX_RATE_SETTING_CONFIG AS TRSC 
			INNER JOIN #INST_COUNTRY_STATE AS ICS ON TRSC.MIT_ID = ICS.MIT_ID AND ICS.TAX_HEADING_ID = TRSC.Tax_Head_Id
		WHERE 
			ISNULL(TRSC.COUNTRY_ID,0)=0  AND ISNULL(TRSC.STATE_ID,0)=0 AND ISNULL(TRSC.RESIDENTIAL_ID ,0)=0)
			
		--IF EMPLOYEE ID IS NEW IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_INSERT_FOR_EMP_ID (TIFEI_EMPLOYEE_ID)
		SELECT 
			DISTINCT ICS.Employee_ID 
		FROM 
			#INST_COUNTRY_STATE AS ICS
		WHERE 
			ICS.Employee_ID NOT IN (SELECT TUFEI_EMPLOYEE_ID FROM #TEMP_UPDATE_FOR_EMP_ID)
			AND ics.MIT_ID Not in (SELECT MIT_ID FROM #TEMP_UPDATE_FOR_EMP_ID)
			
		--INSERT THOSE RECORD IN TEMP WHICH ARE CAME TO UPDATE	
		INSERT INTO #INSERTTABLE
		SELECT	
			TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'U' 
		FROM 
			#INST_COUNTRY_STATE AS ICS 
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON ICS.EMPLOYEE_ID = TREM.EMPLOYEE_ID
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.TRSC_ID = TREM.TRSC_ID 
			AND TRSC.MIT_ID = ICS.MIT_ID AND TRSC.Tax_Head_Id = ICS.TAX_HEADING_ID
			INNER JOIN #TEMP_UPDATE_FOR_EMP_ID AS TUFEI ON ICS.EMPLOYEE_ID = TUFEI.TUFEI_EMPLOYEE_ID
		WHERE 
		ISNULL(TRSC.COUNTRY_ID,0)=0 AND ISNULL(TRSC.STATE_ID,0)=0 AND ISNULL(TRSC.RESIDENTIAL_ID,0)=0 
		
		--INSERT THOSE RECORD IN TEMP WHICH ARE NEW IN EMP_CONFIG TABLE
		INSERT INTO #INSERTCONFIG 		
		SELECT 
			DISTINCT TRSC.TRSC_ID,ICS.MIT_ID, ICS.TAX_HEADING_ID, ICS.COUNTRY_ID, ICS.STATE_ID, ICS.RESIDENTIAL_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS			
			LEFT JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.Tax_Head_Id = ICS.TAX_HEADING_ID
		WHERE 
			TRSC.COUNTRY_ID IS NULL AND TRSC.STATE_ID IS NULL AND TRSC.RESIDENTIAL_ID IS NULL
			
		--INSERT NEW RECORD IN CONFIG FROM TEMP 
		INSERT INTO TAX_RATE_SETTING_CONFIG
			(MIT_ID,IS_ACTIVE,TAX_RATE_STATUS_DETAILS,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,Tax_Head_Id,IS_TAXRATEAPPLICABLE)
		SELECT 
			MIT_ID,1,1,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE(),TAX_HEADING_ID,1 
		FROM 
			#INSERTCONFIG AS IC
		WHERE 
			TRSC_ID IS NULL
		
		--UPDATE TRSC_ID OF NEW INSERTED RECORD IN EMP_CONFIG FOR INSERT IN EMP_MAP
		UPDATE
			#INSERTCONFIG SET TRSC_ID = TRSC.TRSC_ID
		FROM 
			TAX_RATE_SETTING_CONFIG AS TRSC
		WHERE 
			TRSC.MIT_ID = #INSERTCONFIG.MIT_ID AND TRSC.Tax_Head_Id = TAX_HEADING_ID
			AND ISNULL(TRSC.COUNTRY_ID,0)=0 AND ISNULL(TRSC.STATE_ID,0)=0 AND ISNULL(TRSC.RESIDENTIAL_ID,0)=0 
				
	
		
			--INSERT INTO TEMP THOSE RECORD WHICH ARE NEW 		 
		INSERT INTO #INSERTTABLE
		SELECT	
			TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'I' 
		FROM 
			#INST_COUNTRY_STATE AS ICS			
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.Tax_Head_Id = ICS.TAX_HEADING_ID
			
		WHERE 
				TRSC.TRSC_ID NOT IN (SELECT TRSC_ID FROM TAX_RATE_EMP_MAP WHERE EMPLOYEE_ID = ICS.EMPLOYEE_ID)
		
	
		--REMOVE DUPLICATE RECORD
		;WITH REMOVEDUPLICATE AS (SELECT ROW_NUMBER() OVER (PARTITION BY EMPLOYEE_ID,TRSC_ID ORDER BY EMPLOYEE_ID,TRSC_ID DESC)ROWNUM FROM #INSERTTABLE WHERE [ACTION]='I')
		 DELETE FROM REMOVEDUPLICATE WHERE ROWNUM > 1
		
		 
	    --INSERT IN EMP_MAP PHYSICAL TEBALE FROM TEMP RECORD WHICH ARE 'I' FLAG		
		INSERT INTO TAX_RATE_EMP_MAP 
		SELECT 
			TRSC.TRSC_ID,EMPLOYEE_ID,TAX_RATE_LIVE_EMPLOYEE,TAX_RATE_SEPRATED_EMPLOYEE,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE() 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TEMPIT.TRSC_ID = TRSC.TRSC_ID
		WHERE 
			[ACTION] IN('I')
		
		--DELETE THOSE RECORD FROM TEMP TABLE WHICH ARE NOT CAME TO UPDATE
		DELETE 
			#INSERTTABLE FROM #INSERTTABLE AS INST
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON INST.TRSC_ID = TREM.TRSC_ID AND INST.EMPLOYEE_ID = TREM.EMPLOYEE_ID
			AND INST.TAX_RATE_LIVE_EMPLOYEE = TREM.TAXRATE_LIVE_EMPLOYEE AND INST.TAX_RATE_SEPRATED_EMPLOYEE = TREM.TAXRATE_SEPRATED_EMPLOYEE
		WHERE 
			INST.[ACTION] IN ('U')

		--UPDATE PHYSICAL TAX_RATE_EMP_MAP TABLE FROM TEMP #INSERTTABLE WITH FALG 'U'(UPDATE).
		
		UPDATE TREM 
			SET TREM.TAXRATE_LIVE_EMPLOYEE = TEMPIT.TAX_RATE_LIVE_EMPLOYEE,
			TREM.TAXRATE_SEPRATED_EMPLOYEE=TEMPIT.TAX_RATE_SEPRATED_EMPLOYEE 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON TEMPIT.TRSC_ID = TREM.TRSC_ID		
		WHERE 
			[ACTION] IN ('U') AND TREM.Employee_ID = TEMPIT.EMPLOYEE_ID AND TREM.TRSC_ID =TEMPIT.TRSC_ID


		
	END
	
	IF(@TEMPLATENAME = 'CompanyLevelTaxRate')	
	BEGIN
	
	
	
		--IF EMPLOYEE ID IS EXITS IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_UPDATE_FOR_EMP_ID (TUFEI_EMPLOYEE_ID)
		SELECT 
			DISTINCT Employee_ID
		FROM 
			TAX_RATE_EMP_MAP AS TREM 
		WHERE 
			TREM.TRSC_ID  IN (SELECT TRSC.TRSC_ID FROM TAX_RATE_SETTING_CONFIG AS TRSC WHERE TREM.TRSC_ID = TRSC.TRSC_ID AND TREM.Employee_ID IS NULL)				
		
		--IF EMPLOYEE ID IS NEW IN EMP_MAP TABLE
		INSERT INTO 
			#TEMP_INSERT_FOR_EMP_ID (TIFEI_EMPLOYEE_ID)
		SELECT 
			DISTINCT Employee_ID 
		FROM 
			#INST_COUNTRY_STATE 
		WHERE 
			Employee_ID NOT IN (SELECT TUFEI_EMPLOYEE_ID FROM #TEMP_UPDATE_FOR_EMP_ID)
		
		--INSERT INTO TEMP WHICH RECORD ARE CAME TO UPDATE WITH 'U' FLAG
		INSERT INTO #INSERTTABLE
		SELECT DISTINCT
			TRSC.TRSC_ID, ICS.EMPLOYEE_ID, ICS.TAX_RATE_LIVE_EMPLOYEE, ICS.TAX_RATE_SEPRATED_EMPLOYEE, 'I' 
		FROM 
			#INST_COUNTRY_STATE AS ICS 			
			INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND TRSC.Tax_Head_Id = ICS.TAX_HEADING_ID
			AND TRSC.COUNTRY_ID IS NULL AND TRSC.STATE_ID IS NULL AND TRSC.RESIDENTIAL_ID IS NULL
		WHERE
			ICS.COUNTRY_ID IS NULL AND ICS.STATE_ID IS NULL AND ICS.RESIDENTIAL_ID IS NULL AND ICS.EMPLOYEE_ID IS NULL
		
		--UPDATE ACTION TO U IF RECORD EXISTS IN EMP_MAP
		UPDATE #INSERTTABLE SET [ACTION] = 'U' FROM #INSERTTABLE AS INS
		INNER JOIN TAX_RATE_EMP_MAP AS TREM ON INS.TRSC_ID = TREM.TRSC_ID
		
		--INSERT INTO TEMP CONFIG WHICH ARE NEW RECORDS WITH NULL TRSC_ID
		INSERT INTO 
			#INSERTCONFIG(TRSC_ID,MIT_ID,TAX_HEADING_ID,COUNTRY_ID,STATE_ID,RESIDENTIAL_ID)
		SELECT 
			DISTINCT TRSC.TRSC_ID,ICS.MIT_ID, ICS.TAX_HEADING_ID, ICS.COUNTRY_ID, ICS.STATE_ID, ICS.RESIDENTIAL_ID
		FROM 
			#INST_COUNTRY_STATE AS ICS			
			LEFT JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRSC.MIT_ID = ICS.MIT_ID AND 
			TRSC.RESIDENTIAL_ID IS NULL AND TRSC.COUNTRY_ID IS NULL AND TRSC.STATE_ID IS NULL AND
			TRSC.Tax_Head_Id = ICS.TAX_HEADING_ID
		
		--INSERT INTO PHYSICAL TAX RATE SETTING CONFIG TABLE FROM TEMP CONFIG WHICH ARE NULL TRSC_ID ONLY
		INSERT INTO TAX_RATE_SETTING_CONFIG
			(MIT_ID,RESIDENTIAL_ID,IS_ACTIVE,TAX_RATE_STATUS_DETAILS,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,Tax_Head_Id,IS_TAXRATEAPPLICABLE)
		SELECT 
			MIT_ID,RESIDENTIAL_ID,1,1,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE(),TAX_HEADING_ID,1 
		FROM 
			#INSERTCONFIG AS IC
		WHERE 
			TRSC_ID IS NULL
		
		--UPDATE TRSC_ID'S WHICH ARE NEW INSERTED IN TAX RATE SETTING
		UPDATE
			#INSERTCONFIG SET TRSC_ID = TRSC.TRSC_ID
		FROM 
			TAX_RATE_SETTING_CONFIG AS TRSC
		WHERE 
			TRSC.MIT_ID = #INSERTCONFIG.MIT_ID AND TRSC.RESIDENTIAL_ID IS NULL AND TRSC.COUNTRY_ID IS NULL 
			AND TRSC.STATE_ID IS NULL AND TRSC.Tax_Head_Id = TAX_HEADING_ID AND #INSERTCONFIG.TRSC_ID IS NULL
		
		--INSERT INTO PHYSICAL TAX RATE EMP_MAP TABLE FROM TEMP TABLE ONLY 'I' FLAG RECORD
		INSERT INTO TAX_RATE_EMP_MAP 
		SELECT DISTINCT
			TEMPIT.TRSC_ID,EMPLOYEE_ID,TAX_RATE_LIVE_EMPLOYEE,TAX_RATE_SEPRATED_EMPLOYEE,'MASSUPLOAD',GETDATE(),'MASSUPLOAD',GETDATE() 
		FROM 
			#INSERTTABLE AS TEMPIT			
		WHERE 
			[ACTION] IN ('I') AND EMPLOYEE_ID IS NULL
		
		--DELETE THOSE RECORD FROM TEMP TABLE WHICH ARE NOT CAME TO UPDATE
		DELETE 
			#INSERTTABLE FROM #INSERTTABLE AS INST
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON INST.TRSC_ID = TREM.TRSC_ID AND INST.EMPLOYEE_ID IS NULL
			AND INST.TAX_RATE_LIVE_EMPLOYEE = TREM.TAXRATE_LIVE_EMPLOYEE AND INST.TAX_RATE_SEPRATED_EMPLOYEE = TREM.TAXRATE_SEPRATED_EMPLOYEE
		WHERE 
			INST.[ACTION] IN ('U')
			
		--UPDATE PHYSICAL TAX RATE EMP_MAP TABLE FROM TEMP TABLE ONLY 'U' FLAG RECORD
		UPDATE TREM 
			SET TREM.TAXRATE_LIVE_EMPLOYEE = TEMPIT.TAX_RATE_LIVE_EMPLOYEE,TREM.TAXRATE_SEPRATED_EMPLOYEE=TEMPIT.TAX_RATE_SEPRATED_EMPLOYEE 
		FROM 
			#INSERTTABLE AS TEMPIT
			INNER JOIN TAX_RATE_EMP_MAP AS TREM ON TEMPIT.TRSC_ID = TREM.TRSC_ID
		WHERE 
			[ACTION] IN ('U') AND TREM.Employee_ID IS NULL
			
	END
	
	END TRY	
	BEGIN CATCH
		IF (@@TRANCOUNT > 0) OR XACT_STATE() <> 0
		BEGIN			
			SELECT 'ERROR WHILE INSERTING / UPDATING RECORD' AS REMARK, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
			ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage
		END
	END CATCH
	COMMIT TRANSACTION
	END
	
	DROP TABLE #TEMP_UPDATE_FOR_EMP_ID
	DROP TABLE #TEMP_INSERT_FOR_EMP_ID
	DROP TABLE #INSERTTABLE
	DROP TABLE #INSERTCONFIG
	
	--GET TRANSACTION STATUS
	SELECT @@TRANCOUNT AS TRACOUNT
	
	ERROR:
	END TRY	
	BEGIN CATCH
		IF (@@TRANCOUNT > 0) OR XACT_STATE() <> 0
		BEGIN
			ROLLBACK TRANSACTION
			SELECT 'ERROR WHILE INSERTING / UPDATING RECORD' AS REMARK, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
			ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage
		END
	END CATCH
	SET NOCOUNT OFF;
END
GO
