/****** Object:  StoredProcedure [dbo].[PROC_EMP_COUNTRY_MOV_TRACKING_REPORT]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_EMP_COUNTRY_MOV_TRACKING_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_EMP_COUNTRY_MOV_TRACKING_REPORT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_EMP_COUNTRY_MOV_TRACKING_REPORT] 

AS
BEGIN	

	SELECT  CMTD.CRMTD AS SRNO, CMTD.FIELD, CMTD.EMPLOYEE_ID AS EMPLOYEEID, EM.EmployeeName AS EMPLOYEENAME, CMTD.Status AS [STATUS], 
			CM.CountryName AS COUNTRY, MS.STATE_NAME AS STATE, CMTD.FROM_DATE AS FROMDATE, CMTD.TO_DATE AS TODATE 
	FROM	COUNTRY_MOVEMENT_TRACKING_DETAILS CMTD
	INNER JOIN EmployeeMaster EM ON CMTD.EMPLOYEE_ID = EM.EmployeeID
	INNER JOIN CountryMaster CM ON CMTD.MOVED_TO_COUNTRY_ID = CM.ID
	LEFT JOIN MST_STATES MS ON CMTD.MOVED_TO_STATE_ID = MS.MS_ID

END
GO
