/****** Object:  StoredProcedure [dbo].[PROC_UPDATETRACKSETTINGS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATETRACKSETTINGS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATETRACKSETTINGS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_UPDATETRACKSETTINGS]	
	@MLFN_ID					AS INT,
	@FIELD_NAME 				AS VARCHAR(100), 		
	@ISAUDITMAINTAINED 			AS BIT,
	@ISDELETED					AS BIT = 0,
	@ISTRACKINGENABLED			AS BIT,	
	@UPDATEDBY					AS VARCHAR(50)
AS
BEGIN	
	IF(@ISDELETED = 1)
	BEGIN		
		INSERT INTO AUDIT_TRAIL_TRACKING_FIELDS	
				(FIELD_NAME,IS_AUDIT_MAINTAINED_OLD,IS_AUDIT_MAINTAINED_NEW,IS_TRACKING_ENABLED_OLD,
					IS_TRACKING_ENABLED_NEW,AUDIT_CREATED_BY,AUDIT_CREATED_ON,REMARK)
				SELECT	FIELD_NAME,IS_AUDIT_MAINTAINED,@ISAUDITMAINTAINED,IS_TRACKING_ENABLED,
						@ISTRACKINGENABLED,@UPDATEDBY,GETDATE(), 'DELETE TRACKING FOR '''+@FIELD_NAME+''' .' 
				FROM	MASTER_LIST_FLD_NAME 
		WHERE	UPPER(FIELD_NAME) = UPPER(@FIELD_NAME) AND MLFN_ID= @MLFN_ID
		
		UPDATE	MASTER_LIST_FLD_NAME 
		SET		IS_TRACKING_ENABLED = 0,IS_AUDIT_MAINTAINED=@ISAUDITMAINTAINED 
		WHERE	UPPER(FIELD_NAME) = UPPER(@FIELD_NAME) AND MLFN_ID= @MLFN_ID
	END
	
	ELSE
	BEGIN	
		IF EXISTS(SELECT MLFN_ID FROM MASTER_LIST_FLD_NAME WHERE UPPER(FIELD_NAME) = UPPER(@FIELD_NAME) AND MLFN_ID= @MLFN_ID)
		BEGIN			
			IF EXISTS(SELECT IS_AUDIT_MAINTAINED FROM MASTER_LIST_FLD_NAME WHERE UPPER(FIELD_NAME) = UPPER(@FIELD_NAME))
			BEGIN								
				INSERT INTO AUDIT_TRAIL_TRACKING_FIELDS	(FIELD_NAME,IS_AUDIT_MAINTAINED_OLD,IS_AUDIT_MAINTAINED_NEW,
							IS_TRACKING_ENABLED_OLD,IS_TRACKING_ENABLED_NEW,AUDIT_CREATED_BY,AUDIT_CREATED_ON,REMARK,
							IS_CHECK_TOEMP_OLD,IS_CHECK_TOEMP_NEW,IS_CHECK_TOEXERCISE_OLD,IS_CHECK_TOEXERCISE_NEW)
				SELECT	FIELD_NAME,IS_AUDIT_MAINTAINED,@ISAUDITMAINTAINED,IS_TRACKING_ENABLED,@ISTRACKINGENABLED,
						@UPDATEDBY,GETDATE(), 'TRACKING ENABLED FOR '''+@FIELD_NAME+''' .',
						CASE WHEN C.Check_ToEmp='Y' THEN 1 ELSE 0 END,
						0,
						CASE WHEN C.Check_ToExercise='Y' THEN 1 ELSE 0 END,
						0
				FROM	MASTER_LIST_FLD_NAME
				CROSS JOIN ConfigurePersonalDetails C 
				WHERE	UPPER(FIELD_NAME) = UPPER(@FIELD_NAME) AND MLFN_ID= @MLFN_ID AND UPPER(Datafield)=UPPER(@FIELD_NAME)
						
				
				UPDATE MASTER_LIST_FLD_NAME 
				SET 
					IS_TRACKING_ENABLED = @ISTRACKINGENABLED,IS_AUDIT_MAINTAINED=@ISAUDITMAINTAINED 						
				WHERE 
					UPPER(FIELD_NAME) = UPPER(@FIELD_NAME)
					
				UPDATE CONFIGUREPERSONALDETAILS SET Check_ToEmp='N',Check_ToExercise='N' WHERE UPPER(DATAFIELD)=UPPER(@FIELD_NAME)
								
			END
		END
		ELSE IF EXISTS(SELECT MLFN_ID FROM MASTER_LIST_FLD_NAME WHERE UPPER(FIELD_NAME) = UPPER(@FIELD_NAME))
		BEGIN			
				INSERT INTO AUDIT_TRAIL_TRACKING_FIELDS	(FIELD_NAME,IS_AUDIT_MAINTAINED_OLD,IS_AUDIT_MAINTAINED_NEW,
							IS_TRACKING_ENABLED_OLD,IS_TRACKING_ENABLED_NEW,AUDIT_CREATED_BY,AUDIT_CREATED_ON,REMARK,
							IS_CHECK_TOEMP_OLD,IS_CHECK_TOEMP_NEW,IS_CHECK_TOEXERCISE_OLD,IS_CHECK_TOEXERCISE_NEW)
				SELECT	FIELD_NAME,IS_AUDIT_MAINTAINED,@ISAUDITMAINTAINED,IS_TRACKING_ENABLED,@ISTRACKINGENABLED,
						@UPDATEDBY,GETDATE(), 'TRACKING ENABLED FOR '''+@FIELD_NAME+''' .', 
						CASE WHEN C.Check_ToEmp='Y' THEN 1 ELSE 0 END,0,CASE WHEN C.Check_ToExercise='Y' THEN 1 ELSE 0 END,0
				FROM	MASTER_LIST_FLD_NAME
				CROSS JOIN ConfigurePersonalDetails C 
				WHERE	UPPER(FIELD_NAME) = UPPER(@FIELD_NAME) AND MLFN_ID= @MLFN_ID AND UPPER(DATAFIELD)=UPPER(@FIELD_NAME)
			
			
			UPDATE MASTER_LIST_FLD_NAME 
			SET 
				IS_TRACKING_ENABLED = @ISTRACKINGENABLED,IS_AUDIT_MAINTAINED=@ISAUDITMAINTAINED 						
			WHERE 
				UPPER(FIELD_NAME) = UPPER(@FIELD_NAME)
				
			UPDATE CONFIGUREPERSONALDETAILS SET Check_ToEmp='N',Check_ToExercise='N' WHERE UPPER(Datafield)=UPPER(@FIELD_NAME)	
		END		
	END
END
GO
