/****** Object:  StoredProcedure [dbo].[PROC_EDITDELETE_TAX_RATE_SETTING]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_EDITDELETE_TAX_RATE_SETTING]
GO
/****** Object:  StoredProcedure [dbo].[PROC_EDITDELETE_TAX_RATE_SETTING]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_EDITDELETE_TAX_RATE_SETTING]    
   (
      @TAX_RATE_DETAISL TAXRATESETTING_CONFIG_TYPE READONLY,
      @MIT_ID BIGINT,
      @ACTION NVARCHAR(10)
     -- @Value Int Output   
   )
AS    
BEGIN    
   SET NOCOUNT ON    
       
        IF(UPPER(@ACTION)='UPDATE')
		BEGIN
		
		IF EXISTS(SELECT TRSC_ID FROM @TAX_RATE_DETAISL WHERE ISNULL(RESIDENTIAL_ID,0) >0)
		BEGIN		
		   UPDATE TAX_RATE_SETTING_CONFIG 
		   SET RESIDENTIAL_ID=TRD.RESIDENTIAL_ID,COUNTRY_ID=TRD.COUNTRY_ID,TAX_HEADING = TRD.TAX_HEADING
		   FROM @Tax_Rate_Detaisl TRD INNER JOIN TAX_RATE_SETTING_CONFIG TRSC ON TRD.TRSC_ID=TRSC.TRSC_ID AND TRD.RESIDENTIAL_ID = TRSC.RESIDENTIAL_ID
		   WHERE  TRSC.MIT_ID=@MIT_ID
		   

		    UPDATE TRM 
		    SET TRM.TAXRATE_LIVE_EMPLOYEE = TRD.TAXRATE_LIVE_EMPLOYEE, TRM.TAXRATE_SEPRATED_EMPLOYEE=TRD.TAXRATE_SEPRATED_EMPLOYEE	
			--,UPDATED_BY=@CREATED_BY,UPDATED_ON=GETDATE()	
		    FROM @Tax_Rate_Detaisl AS TRD 
		    INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRD.TRSC_ID=TRSC.TRSC_ID AND TRD.RESIDENTIAL_ID = TRSC.RESIDENTIAL_ID			    
		    INNER JOIN TAX_RATE_EMP_MAP AS TRM ON TRSC.TRSC_ID=TRM.TRSC_ID
		    WHERE  TRSC.MIT_ID=@MIT_ID	AND TRM.Employee_ID IS NULL
		END
		ELSE IF EXISTS(SELECT TRSC_ID FROM @TAX_RATE_DETAISL WHERE ISNULL(COUNTRY_ID,0) >0)
		BEGIN
	
		   UPDATE TAX_RATE_SETTING_CONFIG 
		   SET RESIDENTIAL_ID=TRD.RESIDENTIAL_ID,COUNTRY_ID=TRD.COUNTRY_ID,TAX_HEADING = TRD.TAX_HEADING
		   FROM @Tax_Rate_Detaisl TRD INNER JOIN TAX_RATE_SETTING_CONFIG TRSC ON TRD.TRSC_ID=TRSC.TRSC_ID AND TRD.COUNTRY_ID = TRSC.COUNTRY_ID
		   WHERE  TRSC.MIT_ID=@MIT_ID
		   	   
		   UPDATE TRM 
		   SET TRM.TAXRATE_LIVE_EMPLOYEE = TRD.TAXRATE_LIVE_EMPLOYEE, TRM.TAXRATE_SEPRATED_EMPLOYEE=TRD.TAXRATE_SEPRATED_EMPLOYEE 
		   --,UPDATED_BY=@CREATED_BY,UPDATED_ON=GETDATE()			 
		   FROM @Tax_Rate_Detaisl AS TRD 
		   INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRD.TRSC_ID=TRSC.TRSC_ID AND TRD.COUNTRY_ID = TRSC.COUNTRY_ID			    
		   INNER JOIN TAX_RATE_EMP_MAP AS TRM ON TRSC.TRSC_ID=TRM.TRSC_ID
		   WHERE  TRSC.MIT_ID=@MIT_ID	AND TRM.Employee_ID IS NULL
		
		END 
		ELSE 
		BEGIN
	
			   UPDATE TAX_RATE_SETTING_CONFIG 
			   SET RESIDENTIAL_ID=TRD.RESIDENTIAL_ID,COUNTRY_ID=TRD.COUNTRY_ID,TAX_HEADING = TRD.TAX_HEADING 
			   --,UPDATED_BY=@CREATED_BY,UPDATED_ON=GETDATE()	
			   FROM @Tax_Rate_Detaisl TRD INNER JOIN TAX_RATE_SETTING_CONFIG TRSC ON TRD.TRSC_ID=TRSC.TRSC_ID
			   WHERE  TRSC.MIT_ID=@MIT_ID
			   
			   
			   
			  UPDATE TRM 
			  SET TRM.TAXRATE_LIVE_EMPLOYEE = TRD.TAXRATE_LIVE_EMPLOYEE, TRM.TAXRATE_SEPRATED_EMPLOYEE=TRD.TAXRATE_SEPRATED_EMPLOYEE
			  --,UPDATED_BY=@CREATED_BY,UPDATED_ON=GETDATE()	
			  FROM @Tax_Rate_Detaisl AS TRD 
			  INNER JOIN TAX_RATE_SETTING_CONFIG AS TRSC ON TRD.TRSC_ID=TRSC.TRSC_ID  
			  INNER JOIN TAX_RATE_EMP_MAP AS TRM ON TRSC.TRSC_ID=TRM.TRSC_ID
              WHERE  TRSC.MIT_ID=@MIT_ID	AND TRM.Employee_ID IS NULL
		
		END
			
		IF(@@ROWCOUNT > 0)
				BEGIN		
					SELECT @MIT_ID AS MIT_ID ,'Record Updated Successfully.'	AS Msg									
				END
		End
		ELSE IF(UPPER(@ACTION)='DELETE')
		BEGIN
		
				DELETE FROM TAX_RATE_SETTING_CONFIG 
				WHERE  TAX_RATE_SETTING_CONFIG.MIT_ID=@MIT_ID And  TAX_RATE_SETTING_CONFIG.TRSC_ID in( SELECT TRSC_ID FROM @Tax_Rate_Detaisl)
				
				
				DELETE FROM TAX_RATE_EMP_MAP 
				WHERE    TAX_RATE_EMP_MAP.TRSC_ID in( SELECT TRSC_ID FROM @Tax_Rate_Detaisl)

				IF(@@ROWCOUNT > 0)
				BEGIN		
					SELECT @MIT_ID AS MIT_ID ,'Record Deleted Successfully.'	AS Msg	
								
				END
		
		END
           
   --SELECT @Value = COUNT(*) FROM  EDIT_GRANT_MASSUPLOAD 
END

GO
