/****** Object:  StoredProcedure [dbo].[PROC_AUTHENTICATE_USER_BY_IP_ADDRESS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_AUTHENTICATE_USER_BY_IP_ADDRESS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_AUTHENTICATE_USER_BY_IP_ADDRESS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_AUTHENTICATE_USER_BY_IP_ADDRESS]
@IP_ADDRESS NVARCHAR(20),
@SECRET_KEY NVARCHAR(300)
AS
BEGIN

		SELECT * 
		FROM USER_AUTHENTICATION UA
		INNER JOIN IP_AUTHORIZATION IA ON UA.IP_AUTH_ID=IA.IP_AUTH_ID
		WHERE IA.IP_ADDRESS=@IP_ADDRESS AND UPPER(LTRIM(RTRIM(UA.SECRET_KEY)))=UPPER(LTRIM(RTRIM(@SECRET_KEY)))
	 
END
GO
