/****** Object:  StoredProcedure [dbo].[PROC_GET_PREVESTING_INSTRUMENT_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_PREVESTING_INSTRUMENT_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PREVESTING_INSTRUMENT_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_PREVESTING_INSTRUMENT_DETAILS]
(
	@USER_ID		VARCHAR(20)
)
AS
BEGIN
	SET NOCOUNT ON;

		SELECT 
			MIT.MIT_ID,
			(CASE WHEN ISNull(CIM.INS_DISPLY_NAME,'') != '' THEN 
				CIM.INS_DISPLY_NAME
			ELSE 
				MIT.INSTRUMENT_NAME
			END) AS INSTRUMENT_NAME, ISNULL(EXCEPT_FOR_TAXRATE_VAL,0) AS EXCEPT_FOR_TAXRATE_VAL,
			CONVERT(BIT, ISNULL(CIM.IS_TAXRATE_ACTIVE,0)) AS IS_TAXRATE_ACTIVE, 
			CONVERT(BIT,ISNULL(CIM.IS_TAXRATEEXCEPTION_ACTIVE,0)) AS IS_TAXRATEEXCEPTION_ACTIVE,
			ISNULL(PAYMENTMODE_BASED_ON,'') AS PAYMENTMODE_BASED_ON
			,COALESCE(NULLIF(EXCEPT_FOR_TAXRATE,''),'R') AS EXCEPT_FOR_TAXRATE,ISNULL(CIM.IS_PAYMENTWINDOW_ENABLED,'P') AS IS_PAYMENTWINDOW_ENABLED,CIM.NUMBEROFDAYS,CIM.PAYMENT_CLOSURE_MSG,RTRIM(EXCEPT_FOR_TAXRATE_EMPLOYEE) AS EXCEPT_FOR_TAXRATE_EMPLOYEE,TAXCALCULATION_BASEDON
			,ISNULL(IsApplicableForCashless,0) AS IsApplicableForCashless
		FROM MST_INSTRUMENT_TYPE MIT  
		INNER JOIN COMPANY_INSTRUMENT_MAPPING CIM ON MIT.MIT_ID=CIM.MIT_ID  
		WHERE  MIT.IS_ACTIVE = 1 AND  IS_ENABLED = 1
		AND MIT.MIT_ID  IN
		(
			SELECT  
				SHE.MIT_ID	
			FROM     
				GrantOptions AS GP    
				INNER JOIN VestingPeriod  AS VP ON GP.grantregistrationid=VP.grantregistrationid      
				INNER JOIN GrantLeg    AS GL ON GL.GrantOptionId = GP.GrantOptionId and GL.GrantLegId = VP.vestingperiodno
				INNER JOIN GrantRegistration AS GR  ON GL.GrantRegistrationId = GR.GrantRegistrationId
				INNER JOIN EmployeeMaster AS EM ON GP.EmployeeId = EM.EmployeeId
				INNER JOIN SCHEME        AS SCH ON GL.SchemeId = SCH.SchemeId
				INNER JOIN COMPANY_INSTRUMENT_MAPPING   AS CIM ON CIM.MIT_ID = SCH.MIT_ID
				INNER JOIN AUTO_EXERCISE_PAYMENT_CONFIG AS AT ON AT.SCHEME_ID = SCH.SchemeId
				INNER JOIN AUTO_EXERCISE_CONFIG     AS AE ON AE.AEC_ID = AT.AEC_ID  AND AE.IS_APPROVE=1
				INNER JOIN ShExercisedOptions       AS SHE ON GL.ID = she.GrantLegSerialNumber
				LEFT OUTER JOIN GrantMappingOnExNow GMEN ON GMEN.GrantRegistrationId = GL.GrantRegistrationId
				AND GMEN.GrantOptionId = GL.GrantOptionId
			WHERE
				EM.LoginID=@USER_ID AND
			    CONVERT(DATE, GETDATE()) <= CONVERT(DATE,GL.FinalVestingDate+AT.POSTVESTING_DAYS)    
				AND CONVERT(DATE, GETDATE()) <= CONVERT(DATE,GL.FinalExpirayDate+AT.POSTVESTING_DAYS)     
				AND (GL.GrantedOptions - GL.UnapprovedExerciseQuantity >= 0 OR AT.POSTVESTING_AUTOEXERCISE=1)    
				AND GL.Status = 'A'     
				AND (GL.ExercisableQuantity > 0  OR GL.UnapprovedExerciseQuantity > 0 OR AT.POSTVESTING_AUTOEXERCISE=1)     
				AND SCH.IsPUPEnabled <> 1 AND SCH.IS_AUTO_EXERCISE_ALLOWED = 1 
				AND AT.IS_PAYMENT_MODE_SELECTED = 1 AND SCH.CALCULATE_TAX_PREVESTING = 'rdoTentativeTax'
			GROUP BY
				SHE.MIT_ID,AT.POSTVESTING_DAYS,AT.BEFORE_VESTING_DATE
			HAVING      
				CASE WHEN MIN(GL.VestingDate+AT.POSTVESTING_DAYS) BETWEEN  GETDATE() AND DATEADD(day,AT.BEFORE_VESTING_DATE+AT.POSTVESTING_DAYS,GETDATE()) THEN 1 ELSE 0 END >0
			)
	SET NOCOUNT OFF;
END

GO
