/****** Object:  StoredProcedure [dbo].[PROC_EXERCISE_MASSUPLOAD]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_EXERCISE_MASSUPLOAD]
GO
/****** Object:  StoredProcedure [dbo].[PROC_EXERCISE_MASSUPLOAD]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_EXERCISE_MASSUPLOAD] 
(
	@TYPE_GET_EXERCISE_MASSUPLOAD dbo.TYPE_GET_EXERCISE_MASSUPLOAD READONLY
)
AS
BEGIN	

	SET NOCOUNT ON;
	DECLARE
		@CompanyID VARCHAR(20), @IsPaymentModeRequired TINYINT, @PaymentModeEffectiveDate DATE,	@FaceVaue NUMERIC(18, 2), 
		@SARFMV NUMERIC(18, 2), @IsSingleModeEnabled BIT, @Payment_Mode CHAR(1), @CalculateDays VARCHAR(20), @DaysOut VARCHAR(20), 
		@FBTemployeetravelledYN VARCHAR(20), @FBTPayBy VARCHAR(20), @RoundupPlace_TaxableVal VARCHAR(5),	
		@RoundingParam_TaxableVal VARCHAR(5), @RoundingParam_FMV VARCHAR(5), @RoundupPlace_FMV VARCHAR(5), @ExerciseId NUMERIC(18,0),
		@TRANSACTION_SUCCESSFUL INT = 0, @TrustCompanyName VARCHAR(20) = NULL,@AttachmentPath VARCHAR(500) = NULL
		
	SELECT @CompanyID = CompanyID FROM CompanyParameters
	
	BEGIN /* CREATE TEMP TABLE */	
		CREATE TABLE #TEMP_AUTO_EXERCISED_DETAILS
		(   
			ExerciseId INT IDENTITY (1, 1) NOT NULL, ROW_ID BIGINT, ID BIGINT, ApprovalId NVARCHAR(100), SchemeId NVARCHAR(100), GrantApprovalId NVARCHAR(100), 
			GrantRegistrationId NVARCHAR(100), GrantOptionId NVARCHAR(100), GrantLegId NVARCHAR(10), [Counter] NUMERIC(18,0), VestingType NVARCHAR(2), 
			GrantedQuantity NUMERIC(18,0), SplitQuantity NUMERIC(18,0), BonusSplitQuantity NUMERIC(18,0), Parent NVARCHAR(2), 
			FinalVestingDate DATETIME, FinalExpirayDate DATETIME, ExercisePrice NUMERIC(18,6), GrantDate DATETIME, LockInPeriodStartsFrom NVARCHAR(2), 
			LockInPeriod NUMERIC(18,0), OptionRatioMultiplier NUMERIC(18,2), OptionRatioDivisor NUMERIC(18,2), SchemeTitle NVARCHAR(100), 
			IsPaymentModeRequired NVARCHAR(2), PaymentModeEffectiveDate DATETIME, MIT_ID BIGINT, OptionTimePercentage NUMERIC(18,2), 
			EmployeeId NVARCHAR(100), LoginID NVARCHAR(100), ResidentialStatus NVARCHAR(2), TAX_IDENTIFIER_COUNTRY NVARCHAR(10), 
			A_GrantedQuantity NUMERIC(18,0), A_SplitQuantity NUMERIC(18,0), A_BonusSplitQuantity NUMERIC(18,0), 
			A_ExercisedQuantity NUMERIC(18,0), A_SplitExercisedQuantity NUMERIC(18,0), A_BonusSplitExercisedQuantity NUMERIC(18,0), 
			A_CancelledQuantity NUMERIC(18,0), A_SplitCancelledQuantity NUMERIC(18,0), A_BonusSplitCancelledQuantity NUMERIC(18,0), 
			A_UnapprovedExerciseQuantity NUMERIC(18,0), T_LapsedQuantity NUMERIC(18,0), A_ExercisableQuantity NUMERIC(18,0), 
			EXERCISABLE_QUANTITY NUMERIC(18,0),
			AEC_ID BIGINT, EXERCISE_ON NVARCHAR(200), EXERCISE_AFTER_DAYS BIGINT, IS_EXCEPTION_ENABLED TINYINT, EXECPTION_FOR NVARCHAR(200), 
			EXECPTION_LIST NVARCHAR(MAX), CALCULATE_TAX NVARCHAR(200), CALCUALTE_TAX_PRIOR_DAYS BIGINT, IS_MAIL_ENABLE TINYINT, 
			MAIL_BEFORE_DAYS BIGINT, MAIL_REMINDER_DAYS BIGINT, 
			FMVPrice NUMERIC(18,6), PerqstValue NUMERIC(18,6), PerqstPayable NUMERIC(18,6), Perq_Tax_rate numeric(18,6), 
			TentativeFMVPrice NUMERIC(18,6), TentativePerqstValue NUMERIC(18,6), TentativePerqstPayable NUMERIC(18,6), 
			TaxFlag CHAR(1), FaceVaue NUMERIC(18, 2), SARFMV NUMERIC(18, 2), ExType VARCHAR(10), Cash VARCHAR(10), PaymentMode VARCHAR,
			PerPayModeSelected NVARCHAR(5), EXERCISE_DATE DATETIME,
			StockApprValue NUMERIC(18,6), TentativeStockApprValue NUMERIC(18,6), CashPayoutValue NUMERIC(18,6), 
			TentativeCashPayoutValue NUMERIC(18,6), SettlmentPrice NUMERIC(18,6), TentativeSettlmentPrice NUMERIC(18,6),LotNumber varchar(20),
			SHARE_APPRECIATION_VALUE NUMERIC(18,6),TENTATIVE_SHARE_APPRECIATION_VALUE NUMERIC(18,6), DateOfAllotment DATETIME,Entity NVARCHAR(100), Entity_BasedON BIGINT , Entity_ID BIGINT,EntityBaseON_Date NVARCHAR(50),
			EntityConfigurationBaseOn BIGINT,IsActiveEntity int,CALCUALTE_TAX_PRIOR_DAYS_PREVESTING INT
		)

		CREATE TABLE #TEMP_AUTOEXERCISED_DETAILS_MAIL
		(
			Message_ID NUMERIC(18,0) IDENTITY (1, 1) NOT NULL, 
			EmployeeName VARCHAR(200), EmployeeEmail VARCHAR(200), ExerciseID VARCHAR(5000), ExercisedQuantity VARCHAR(5000), 
			ExerciseDate VARCHAR(5000), SchemeName VARCHAR(50), EmployeeID VARCHAR(20)
		)
		
		CREATE TABLE #New_Message_To
		(
			Message_ID NUMERIC(18,0) IDENTITY (1, 1) NOT NULL, EmployeeID NVARCHAR(20), MessageDate DATE,
			MailSubject	NVARCHAR(250), MailBody NVARCHAR(MAX)					
		)

		CREATE TABLE #New_Message_From
		(
			Message_ID NUMERIC(18,0) IDENTITY (1, 1) NOT NULL, EmployeeID NVARCHAR(20), MessageDate DATE, 
			MailSubject NVARCHAR(250), MailBody NVARCHAR(MAX)					
		)
		
		CREATE TABLE #TEMP_EXERCISE_MASSUPLOAD
		(	
			--INSERT COLUMN DATA COMING FROM TYPE(USER DATA EXCELSHEET)
			ROW_ID BIGINT IDENTITY(1,1), ID NVARCHAR(100),  GrantOptionId NVARCHAR(100) NULL, ExercisableQuantity NUMERIC(18, 0) NULL,
			ExercisePrice NUMERIC(18,6) NULL, ExercisedQuantity NUMERIC(18, 0) NULL, GrantLegId NVARCHAR(10), LotNumber VARCHAR(20) NULL, 
			EmployeeID NVARCHAR(100), EXERCISE_DATE DATETIME NULL, DateOfAllotment DATETIME,
			
			--UPDATE COLUMNS
			UnapprovedExerciseQuantity NUMERIC(18, 0) NULL, IsMassUpload CHAR(1) DEFAULT ('Y') NULL, GrantedOptions NUMERIC(18, 0) NULL,
			ApprovalId NVARCHAR(100) NULL, SchemeId NVARCHAR(100) NULL, GrantApprovalId NVARCHAR(100) NULL,  VestingDate DATETIME NULL,
			GrantRegistrationId NVARCHAR(100) NULL,  [Counter] NVARCHAR(10) NULL, VestingType NVARCHAR(2) NULL, 
			GrantedQuantity NUMERIC(18,0) NULL, SplitQuantity NUMERIC(18,0) NULL, BonusSplitQuantity NUMERIC(18,0) NULL, Parent NVARCHAR(2) NULL, 
			FinalVestingDate DATETIME NULL, FinalExpirayDate DATETIME NULL, GrantDate DATETIME NULL, LockInPeriodStartsFrom NVARCHAR(2) NULL, 
			LockInPeriod NUMERIC(18,0) NULL, OptionRatioMultiplier NUMERIC(18,2) NULL, OptionRatioDivisor NUMERIC(18,2) NULL, SchemeTitle NVARCHAR(100) NULL, 
			IsPaymentModeRequired NVARCHAR(2) NULL, PaymentModeEffectiveDate DATETIME NULL, MIT_ID BIGINT NULL, OptionTimePercentage NUMERIC(18,2) NULL, 
			LoginID NVARCHAR(100) NULL, ResidentialStatus NVARCHAR(2) NULL, TAX_IDENTIFIER_COUNTRY NVARCHAR(10) NULL, 
			A_SplitExercisedQuantity NUMERIC(18,0) NULL,A_BonusSplitExercisedQuantity NUMERIC(18,0) NULL, A_GrantedQuantity NUMERIC(18,0) NULL,
			A_SplitQuantity NUMERIC(18,0) NULL, A_BonusSplitQuantity NUMERIC(18,0) NULL, A_ExercisedQuantity NUMERIC(18,0) NULL,
			A_CancelledQuantity NUMERIC(18,0) NULL, A_SplitCancelledQuantity NUMERIC(18,0) NULL, A_BonusSplitCancelledQuantity NUMERIC(18,0) NULL, 
			A_UnapprovedExerciseQuantity NUMERIC(18,0) NULL, T_LapsedQuantity NUMERIC(18,0) NULL,A_ExercisableQuantity NUMERIC(18,0) NULL,
			AEC_ID BIGINT NULL, EXERCISE_ON NVARCHAR(200) NULL, EXERCISE_AFTER_DAYS BIGINT NULL, IS_EXCEPTION_ENABLED TINYINT NULL, EXECPTION_FOR NVARCHAR(200) NULL, 
			EXECPTION_LIST NVARCHAR(MAX) NULL, CALCULATE_TAX NVARCHAR(200) NULL, CALCUALTE_TAX_PRIOR_DAYS BIGINT NULL, IS_MAIL_ENABLE TINYINT NULL, 
			MAIL_BEFORE_DAYS BIGINT NULL, MAIL_REMINDER_DAYS BIGINT NULL,CALCUALTE_TAX_PRIOR_DAYS_PREVESTING INT NULL
		)
		
		CREATE TABLE #TEMP_FMV_DETAILS
		(  
			ID INT NOT NULL, INSTRUMENT_ID BIGINT, EMPLOYEE_ID  VARCHAR(50), GRANTOPTIONID VARCHAR(50), GRANTDATE VARCHAR(200),
			VESTINGDATE VARCHAR(200), EXERCISE_DATE DATETIME,FMV_VALUE DECIMAL(18,4) NULL,TAXFLAG CHAR(1) NULL,TAXFLAG_HEADER CHAR(1) NULL
		)
		
	END
			
	BEGIN /*INSERT INTO TEMP TABLE FROM TYPE AND OTHER SOURCE FOR EXERCISE MASSUPLAOD*/
		
		/*INSERT INTO #TEMP_EXERCISE_MASSUPLOAD TABLE DATA FROM EXCELSHEET*/
		INSERT INTO 
			#TEMP_EXERCISE_MASSUPLOAD
			(ID, GrantOptionId, ExercisableQuantity, ExercisePrice, ExercisedQuantity,GrantLegId, LotNumber, EmployeeID, EXERCISE_DATE, DateOfAllotment)
		SELECT 
			 ID, GrantOptionId, ExercisableQuantity, ExercisePrice, ExercisedQuantity, GrantLegId, LotNumber, EmployeeID, ExerciseDate, DateOfAllotment
		FROM 
			@TYPE_GET_EXERCISE_MASSUPLOAD
	
		/*UPDATE #TEMP_EXERCISE_MASSUPLOAD*/		
		UPDATE 
			TEM
		SET 
			ApprovalId = (CONVERT(NVARCHAR(100),GL.ApprovalId)), SchemeId = (CONVERT(NVARCHAR(100),GL.SchemeId)), GrantApprovalId = (CONVERT(NVARCHAR(100),GL.GrantApprovalId)),
			GrantRegistrationId = (CONVERT(NVARCHAR(100),GL.GrantRegistrationId)), GrantOptionId = (CONVERT(NVARCHAR(100),GL.GrantOptionId)), [Counter] = (CONVERT(NVARCHAR(10),GL.[Counter])),
			VestingType = (CONVERT(NVARCHAR(2),GL.VestingType)),GrantedQuantity = (CONVERT(NUMERIC(18,0),GL.GrantedQuantity)), SplitQuantity = (CONVERT(NUMERIC(18,0),GL.SplitQuantity)), 
			BonusSplitQuantity = (CONVERT(NUMERIC(18,0),GL.BonusSplitQuantity)), Parent = (CONVERT(NVARCHAR(2),GL.Parent)), FinalVestingDate = (CONVERT(DATETIME,GL.FinalVestingDate)), 
			FinalExpirayDate = (CONVERT(DATETIME,GL.FinalExpirayDate)),GrantDate = (CONVERT(DATETIME,GR.GrantDate)), LockInPeriodStartsFrom = (CONVERT(NVARCHAR(2),SC.LockInPeriodStartsFrom)),
			LockInPeriod = (CONVERT(NUMERIC(18,0),SC.LockInPeriod)), OptionRatioMultiplier = (CONVERT(NUMERIC(18,2),SC.OptionRatioMultiplier)), OptionRatioDivisor = (CONVERT(NUMERIC(18,2),SC.OptionRatioDivisor)),
			SchemeTitle = (CONVERT(NVARCHAR(100),SC.SchemeTitle)), IsPaymentModeRequired = (CONVERT(NVARCHAR(2),SC.IsPaymentModeRequired)), PaymentModeEffectiveDate = (CONVERT(DATETIME,SC.PaymentModeEffectiveDate)),
			MIT_ID = (CONVERT(BIGINT,SC.MIT_ID)), OptionTimePercentage = (CONVERT(NUMERIC(18,2),VP.OptionTimePercentage)), LoginID = (CONVERT(NVARCHAR(100),EMP.LoginID)), ResidentialStatus = (CONVERT(NVARCHAR(2),EMP.ResidentialStatus)),
			TAX_IDENTIFIER_COUNTRY = CONVERT(NVARCHAR(10),EMP.TAX_IDENTIFIER_COUNTRY), A_ExercisedQuantity = (CONVERT(NUMERIC(18,0),gl.ExercisedQuantity)), A_SplitExercisedQuantity = (CONVERT(NUMERIC(18,0),gl.SplitExercisedQuantity)),
			A_BonusSplitExercisedQuantity = (CONVERT(NUMERIC(18,0),gl.BonusSplitExercisedQuantity)), A_CancelledQuantity = (CONVERT(NUMERIC(18,0),GL.CancelledQuantity)), A_SplitCancelledQuantity = (CONVERT(NUMERIC(18,0),GL.SplitCancelledQuantity)),
			A_ExercisableQuantity=(CONVERT(NUMERIC(18,0),TEM.ExercisableQuantity)), A_BonusSplitCancelledQuantity = (CONVERT(NUMERIC(18,0),GL.BonusSplitCancelledQuantity)), A_UnapprovedExerciseQuantity = (CONVERT(NUMERIC(18,0),GL.UnapprovedExerciseQuantity)),
			T_LapsedQuantity = (CONVERT(NUMERIC(18,0),GL.LapsedQuantity)), GrantedOptions = (CONVERT(NUMERIC(18,0),gl.GrantedOptions)),UnapprovedExerciseQuantity = (CONVERT(NUMERIC(18,0),gl.UnapprovedExerciseQuantity)),
			VestingDate = (CONVERT(DATETIME,gl.VestingDate)),CALCULATE_TAX=SC.CALCULATE_TAX,CALCUALTE_TAX_PRIOR_DAYS=SC.CALCUALTE_TAX_PRIOR_DAYS,CALCUALTE_TAX_PRIOR_DAYS_PREVESTING=Sc.CALCUALTE_TAX_PRIOR_DAYS_PREVESTING
		FROM 
			GrantLeg AS GL
			INNER JOIN GrantOptions AS GOP ON GOP.GrantOptionId = GL.GrantOptionId
			INNER JOIN GrantRegistration AS GR ON GR.GrantRegistrationId = GOP.GrantRegistrationId
			INNER JOIN Scheme AS SC ON SC.SchemeId = GL.SchemeId
			INNER JOIN VestingPeriod AS VP ON VP.VestingPeriodId = GL.VestingPeriodId
			INNER JOIN EmployeeMaster AS EMP ON EMP.EmployeeID = GOP.EmployeeId
			INNER JOIN #TEMP_EXERCISE_MASSUPLOAD AS TEM ON emp.EmployeeID = TEM.EmployeeID and gl.GrantOptionId= TEM.GrantOptionId			
		WHERE
			(GETDATE() >= DATEADD(MONTH, SC.LockInPeriod, GL.FinalVestingDate))
			AND (GL.GrantedQuantity <> GL.ExercisedQuantity) AND (GL.GrantedQuantity <> GL.UnapprovedExerciseQuantity)			
			AND (UPPER(GL.IsPerfBased) = (CASE WHEN GL.VestingType = 'P' THEN '1' ELSE 'N' END))
			AND (GL.ExercisableQuantity > 0) AND (EMP.Deleted = 0)
		
		/*UPDATE REMAING COLUMN FROM ANOTHER TABLE AND CONDITION*/	
		UPDATE
			 TEM
		SET 
			 AEC_ID = (CONVERT(BIGINT,AEC.AEC_ID)), EXERCISE_ON = (CONVERT(NVARCHAR(200),AEC.EXERCISE_ON)), EXERCISE_AFTER_DAYS = (CONVERT(BIGINT,AEC.EXERCISE_AFTER_DAYS)),
			 IS_EXCEPTION_ENABLED = (CONVERT(TINYINT,AEC.IS_EXCEPTION_ENABLED)), EXECPTION_FOR = (CONVERT(NVARCHAR(200),AEC.EXECPTION_FOR)), 
			 EXECPTION_LIST = (CONVERT(NVARCHAR(MAX),AEC.EXECPTION_LIST)), CALCULATE_TAX = (CONVERT(NVARCHAR(200),AEC.CALCULATE_TAX)), 
			 CALCUALTE_TAX_PRIOR_DAYS = (CONVERT(BIGINT,AEC.CALCUALTE_TAX_PRIOR_DAYS)), IS_MAIL_ENABLE = (CONVERT(TINYINT,AEC.IS_MAIL_ENABLE)),
			 MAIL_BEFORE_DAYS = (CONVERT(BIGINT,AEC.MAIL_BEFORE_DAYS)), MAIL_REMINDER_DAYS = (CONVERT(BIGINT,AEC.MAIL_REMINDER_DAYS))
		FROM 
			 AUTO_EXERCISE_CONFIG AS AEC
			 INNER JOIN #TEMP_EXERCISE_MASSUPLOAD AS TEM ON TEM.SchemeId = AEC.SchemeId
			 INNER JOIN ResidentialType AS RES_TYP ON RES_TYP.ResidentialStatus = TEM.ResidentialStatus
		WHERE 			
			(AEC.IS_APPROVE = 1) AND (UPPER(AEC.EXERCISE_ON) = 'RDOVESTING')
			AND
			(CONVERT(DATE, TEM.FinalVestingDate) <= CONVERT(DATE, GETDATE()))
			AND	
				(
					(
						RES_TYP.id NOT IN (SELECT * FROM dbo.FN_SPLIT_STRING((CASE WHEN (AEC.IS_EXCEPTION_ENABLED = 1) AND (UPPER(AEC.EXECPTION_FOR) = 'RDORESIDENTSTATUS') THEN AEC.EXECPTION_LIST ELSE '0' END),','))
					)
					AND
					(
						TEM.TAX_IDENTIFIER_COUNTRY NOT IN (SELECT * FROM dbo.FN_SPLIT_STRING((CASE WHEN (AEC.IS_EXCEPTION_ENABLED = 1) AND (UPPER(AEC.EXECPTION_FOR) = 'RDOCOUNTRY') THEN AEC.EXECPTION_LIST ELSE '0' END),','))
					)
				)
	END	
	
	SELECT 
		@ExerciseId = (ISNULL(CONVERT(VARCHAR, LAST_VALUE),0) + 1) 
	FROM 
		SYS.IDENTITY_COLUMNS 
		INNER JOIN SYS.tables ON SYS.tables.OBJECT_ID = SYS.IDENTITY_COLUMNS.object_id 
	WHERE 
		UPPER(SYS.tables.NAME) = 'SHEXERCISEDOPTIONS' AND UPPER(SYS.IDENTITY_COLUMNS.NAME) = 'EXERCISEID'
	 
	IF (@ExerciseId IS NOT NULL)
	BEGIN 
		DBCC CHECKIDENT(#TEMP_AUTO_EXERCISED_DETAILS, RESEED, @ExerciseId) 
	END
 
 	INSERT INTO #TEMP_AUTO_EXERCISED_DETAILS 
	( 
		ROW_ID, ID, ApprovalId, SchemeId, GrantApprovalId, GrantRegistrationId, GrantOptionId, GrantLegId, 
		[Counter], VestingType, GrantedQuantity, SplitQuantity, BonusSplitQuantity, Parent, 
		FinalVestingDate, FinalExpirayDate, ExercisePrice, GrantDate, LockInPeriodStartsFrom, 
		LockInPeriod, OptionRatioMultiplier, OptionRatioDivisor, SchemeTitle, IsPaymentModeRequired, 
		PaymentModeEffectiveDate, MIT_ID, OptionTimePercentage, EmployeeId, LoginID,
		ResidentialStatus, TAX_IDENTIFIER_COUNTRY, A_GrantedQuantity, A_SplitQuantity, A_BonusSplitQuantity, 
		A_ExercisedQuantity, A_SplitExercisedQuantity, A_BonusSplitExercisedQuantity, A_CancelledQuantity, 
		A_SplitCancelledQuantity, A_BonusSplitCancelledQuantity, A_UnapprovedExerciseQuantity, T_LapsedQuantity, 
		A_ExercisableQuantity, EXERCISABLE_QUANTITY,AEC_ID, EXERCISE_ON, EXERCISE_AFTER_DAYS, IS_EXCEPTION_ENABLED,
		EXECPTION_FOR, EXECPTION_LIST, CALCULATE_TAX, CALCUALTE_TAX_PRIOR_DAYS, IS_MAIL_ENABLE, MAIL_BEFORE_DAYS,
		MAIL_REMINDER_DAYS, EXERCISE_DATE, DateOfAllotment, LotNumber,CALCUALTE_TAX_PRIOR_DAYS_PREVESTING
	)
	SELECT 
		ROW_ID, ID, ApprovalId, SchemeId, GrantApprovalId,GrantRegistrationId, GrantOptionId, GrantLegId, [Counter], VestingType,
		GrantedQuantity, SplitQuantity, BonusSplitQuantity, Parent,FinalVestingDate, FinalExpirayDate, ExercisePrice, GrantDate,
		LockInPeriodStartsFrom,LockInPeriod, OptionRatioMultiplier, OptionRatioDivisor, SchemeTitle,IsPaymentModeRequired, 
		PaymentModeEffectiveDate, MIT_ID, OptionTimePercentage,EmployeeID,LoginID, ResidentialStatus, Tax_Identifier_Country,
		A_GrantedQuantity, A_SplitQuantity,A_BonusSplitQuantity,ExercisedQuantity, ExercisedQuantity,ExercisedQuantity,
		A_CancelledQuantity, A_SplitCancelledQuantity, A_BonusSplitCancelledQuantity,A_UnapprovedExerciseQuantity, T_LapsedQuantity,
		A_ExercisableQuantity, ExercisedQuantity, AEC_ID, EXERCISE_ON, EXERCISE_AFTER_DAYS,IS_EXCEPTION_ENABLED, EXECPTION_FOR,
		EXECPTION_LIST, CALCULATE_TAX, CALCUALTE_TAX_PRIOR_DAYS, IS_MAIL_ENABLE,MAIL_BEFORE_DAYS, MAIL_REMINDER_DAYS,EXERCISE_DATE, DateOfAllotment,LotNumber,CALCUALTE_TAX_PRIOR_DAYS_PREVESTING
	FROM 
		#TEMP_EXERCISE_MASSUPLOAD
		
	BEGIN /* ===== CASH ===== */
	
		UPDATE #TEMP_AUTO_EXERCISED_DETAILS 
			SET Cash =        
			   CASE WHEN ExType != '' THEN 
					  CASE ExType 
						  WHEN 'PUP' THEN 'PUP'
						  WHEN 'ADS' THEN 'ADS'			 
						  ELSE 'CASH' 
					 END
					 ELSE 'CASH'	 
				END   
    END
    
    BEGIN /* ===== FACE VALUE  ===== */

		SELECT @FaceVaue = MAX(CP.FaceVaue) FROM CompanyParameters CP

		UPDATE #TEMP_AUTO_EXERCISED_DETAILS SET FaceVaue = @FaceVaue
	END
	
	BEGIN /* ===== DEFAULT PAYMENT MODE ===== */	
	
		/* PAYMENT MODE SELECTED BY EMPLOYEE */
		UPDATE TAED_EMP_PAY_UPDATE 
			SET TAED_EMP_PAY_UPDATE.PaymentMode = PM.PaymentMode, TAED_EMP_PAY_UPDATE.PerPayModeSelected = 'EMP'
		FROM #TEMP_AUTO_EXERCISED_DETAILS AS TAED_EMP_PAY_UPDATE
			INNER JOIN EmpPrePaySelection AS EPPS ON EPPS.GrantLegSerialNumber = TAED_EMP_PAY_UPDATE.ID
			INNER JOIN PaymentMaster AS PM ON PM.Id = EPPS.PaymentMode
			INNER JOIN Scheme AS SC ON SC.SchemeId = TAED_EMP_PAY_UPDATE.SchemeId
			INNER JOIN AUTO_EXERCISE_PAYMENT_CONFIG AS AEPC ON AEPC.SCHEME_ID = TAED_EMP_PAY_UPDATE.SchemeId
		WHERE
			(SC.IS_AUTO_EXERCISE_ALLOWED = 1) AND (AEPC.IS_PAYMENT_MODE_SELECTED = 1)
		
		/* PAYMENT MODE IF EMPLOYEE NOT SELECTED BY EMPLOYEE THEN SELECT PAYMENT MODE SET BY CR*/
		
		UPDATE TAED_CR_PAY_UPDATE 
			SET TAED_CR_PAY_UPDATE.PaymentMode = PM.PaymentMode, TAED_CR_PAY_UPDATE.PerPayModeSelected = 'CR'
		FROM #TEMP_AUTO_EXERCISED_DETAILS AS TAED_CR_PAY_UPDATE
			INNER JOIN AUTO_EXERCISE_PAYMENT_CONFIG AS AEPC ON AEPC.SCHEME_ID = TAED_CR_PAY_UPDATE.SchemeId
			INNER JOIN AUTO_EXERCISE_CONFIG AS AEC ON AEC.SchemeId = AEPC.SCHEME_ID AND AEC.AEC_ID = AEPC.AEC_ID
			INNER JOIN Scheme AS SC ON SC.SchemeId = AEC.SchemeId
			INNER JOIN PaymentMaster AS PM ON PM.Id = AEPC.DEFAULT_PAYMENT_MODE			
		WHERE
			(SC.IS_AUTO_EXERCISE_ALLOWED = 1) AND (AEPC.IS_PAYMENT_MODE_SELECTED = 1) AND
			(UPPER(AEPC.PAYMENT_MODE_NOT_SELECTED) =  'RDODEFAULTPAYMENTMODE') AND 
			(LEN(ISNULL(TAED_CR_PAY_UPDATE.PaymentMode, '')) = 0)		
	END
	
	BEGIN /* ===== CALCULATE FMV ===== */
	
		SELECT 
			@RoundupPlace_TaxableVal = RoundupPlace_TaxableVal, @RoundingParam_TaxableVal = RoundingParam_TaxableVal, 
			@RoundingParam_FMV = RoundingParam_FMV, @RoundupPlace_FMV = RoundupPlace_FMV 
		FROM 
			CompanyParameters

		DECLARE @FMV_VALUE_TYPE dbo.TYPE_FMV_VALUE
		
		INSERT INTO @FMV_VALUE_TYPE 
		SELECT 
			MIT_ID , LoginID, GrantOptionId , GrantDate, FinalVestingDate, EXERCISE_DATE ,'T'
		FROM 
			#TEMP_AUTO_EXERCISED_DETAILS
		
		EXEC PROC_GET_FMV_VALUE @EMPLOYEE_DETAILS = @FMV_VALUE_TYPE		    
		
		UPDATE TAED SET 
			  TAED.FMVPrice = CASE TFD.TAXFLAG WHEN 'A' THEN dbo.FN_ROUND_VALUE(TFD.FMV_VALUE, @RoundingParam_FMV, @RoundupPlace_FMV) ELSE NULL END,
			  TAED.TentativeFMVPrice = CASE TFD.TAXFLAG WHEN 'T' THEN dbo.FN_ROUND_VALUE(TFD.FMV_VALUE, @RoundingParam_FMV, @RoundupPlace_FMV) ELSE NULL END,							
			  TAED.TaxFlag = TFD.TAXFLAG
		FROM #TEMP_AUTO_EXERCISED_DETAILS AS TAED
		INNER JOIN TEMP_FMV_DETAILS TFD ON TFD.INSTRUMENT_ID = TAED.MIT_ID
		WHERE
			(TFD.EMPLOYEE_ID = TAED.EmployeeId) AND (TFD.GRANTOPTIONID = TAED.GrantOptionId) 
			AND (CONVERT(DATE, TFD.GRANTDATE) = CONVERT(DATE, TAED.GrantDate)) AND (CONVERT(DATE, TFD.VESTINGDATE) = CONVERT(DATE, TAED.FinalVestingDate)) 
			AND (CONVERT(DATE, TFD.EXERCISE_DATE) =  CONVERT(DATE, TAED.EXERCISE_DATE))		
						
	END
	
	BEGIN --INSERT FMV DATA IN #TEMP_FMV_DETAILS
	
		INSERT INTO #TEMP_FMV_DETAILS 
				(ID ,INSTRUMENT_ID ,EMPLOYEE_ID  ,GRANTOPTIONID ,GRANTDATE,VESTINGDATE,EXERCISE_DATE ,FMV_VALUE ,TAXFLAG )
		SELECT 
			ID,INSTRUMENT_ID ,EMPLOYEE_ID  ,GRANTOPTIONID ,GRANTDATE,VESTINGDATE,EXERCISE_DATE ,FMV_VALUE ,TAXFLAG   
		FROM 
			TEMP_FMV_DETAILS
	END
	
	BEGIN /* ===== CALCULATE PERQUISITE VALUE ===== */
	   
		DECLARE @PERQ_VALUE_TYPE dbo.TYPE_PERQ_VALUE
		INSERT INTO @PERQ_VALUE_TYPE 
		SELECT 
			MIT_ID, LoginID, ExercisePrice, EXERCISABLE_QUANTITY, CASE TAXFLAG WHEN 'A' THEN FMVPrice ELSE TentativeFMVPrice END, 
			EXERCISABLE_QUANTITY, GrantedQuantity , EXERCISE_DATE, GrantOptionId, GrantDate, FinalVestingDate, ID, NULL AS FROM_DATE, NULL AS TO_DATE, ExerciseId  
		FROM 
			#TEMP_AUTO_EXERCISED_DETAILS
				
		EXEC PROC_GET_PERQUISITE_VALUE @EMPLOYEE_DETAILS = @PERQ_VALUE_TYPE	
		
		UPDATE TAED SET 
			TAED.PerqstValue = CASE TAED.TAXFLAG WHEN 'A' THEN dbo.FN_ROUND_VALUE(TPD.PERQ_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) ELSE NULL END,
			TAED.PerqstPayable = CASE TAED.TAXFLAG WHEN 'A' THEN (SELECT dbo.FN_ROUND_VALUE(SUM(CONVERT(NUMERIC(18,6), TAX_AMOUNT)), @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) AS TAX_AMOUNT FROM FN_GET_TENTATIVE_TAX (TAED.MIT_ID, TAED.EmployeeId, TAED.FMVPrice, dbo.FN_ROUND_VALUE(TPD.PERQ_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal), TPD.EVENTOFINCIDENCE, CONVERT(date, TAED.GrantDate), CONVERT(date, TAED.FinalVestingDate), CONVERT(date, TPD.EXERCISE_DATE))) ELSE NULL END,
			TAED.TentativePerqstValue = CASE TAED.TAXFLAG WHEN 'T' THEN dbo.FN_ROUND_VALUE(TPD.PERQ_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) ELSE NULL END,
			TAED.TentativePerqstPayable = CASE TAED.TAXFLAG WHEN 'T' THEN (SELECT dbo.FN_ROUND_VALUE(SUM(CONVERT(NUMERIC(18,6), TAX_AMOUNT)), @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) AS TAX_AMOUNT FROM FN_GET_TENTATIVE_TAX (TAED.MIT_ID, TAED.EmployeeId, TAED.FMVPrice, dbo.FN_ROUND_VALUE(TPD.PERQ_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal), TPD.EVENTOFINCIDENCE, CONVERT(date, TAED.GrantDate), CONVERT(date, TAED.FinalVestingDate), CONVERT(date, TPD.EXERCISE_DATE))) ELSE NULL END,
			TAED.SHARE_APPRECIATION_VALUE = CASE TAED.TAXFLAG WHEN 'A' THEN TPD.SHARE_APPRECIATION_VALUE END, TAED.TENTATIVE_SHARE_APPRECIATION_VALUE = CASE TAED.TAXFLAG WHEN 'T' THEN TPD.SHARE_APPRECIATION_VALUE END
		FROM 
			#TEMP_AUTO_EXERCISED_DETAILS AS TAED
		INNER JOIN TEMP_PERQUISITE_DETAILS TPD ON TPD.INSTRUMENT_ID = TAED.MIT_ID 
		WHERE 
			(TPD.EMPLOYEE_ID = TAED.EmployeeId) AND (TPD.EXERCISE_PRICE = TAED.ExercisePrice) AND 
			(TPD.OPTION_VESTED = TAED.EXERCISABLE_QUANTITY) AND (TPD.OPTION_EXERCISED = TAED.EXERCISABLE_QUANTITY) AND 
			(TPD.GRANTED_OPTIONS = TAED.GrantedQuantity) AND (CONVERT(DATE, TPD.EXERCISE_DATE) = CONVERT(DATE, TAED.EXERCISE_DATE)) AND 
			(TPD.GRANTOPTIONID = TAED.GrantOptionId) AND (CONVERT(DATE, TPD.GRANTDATE) = CONVERT(DATE, TAED.GrantDate)) AND 
			CONVERT(DATE, TPD.VESTINGDATE) = CONVERT(DATE, TAED.FinalVestingDate)			

		/* ADD DATA TO TYPE */
		DECLARE @PERQ_VALUE_RESULT dbo.TYPE_PERQ_FORAUTOEXERCISE
				
		INSERT INTO @PERQ_VALUE_RESULT
		SELECT 
			INSTRUMENT_ID, EMPLOYEE_ID, FMV_VALUE, PERQ_VALUE, EVENTOFINCIDENCE, GRANTDATE, VESTINGDATE, 
			EXERCISE_DATE, GRANTOPTIONID, GRANTLEGSERIALNO, TEMP_EXERCISEID, STOCK_VALUE						
		FROM 
			TEMP_PERQUISITE_DETAILS
			
		IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_PERQUISITE_DETAILS')
		BEGIN
			DROP TABLE TEMP_PERQUISITE_DETAILS  
		END
	END
	
	BEGIN /* ===== CALCULATE PROPORTIONATE TAX ===== */
				
		CREATE TABLE #TAX_CALCULATION 
		( 
			TAX_HEADING NVARCHAR(50), TAX_RATE FLOAT, RESIDENT_STATUS NVARCHAR(250), TAX_AMOUNT FLOAT, Country NVARCHAR(250),
			[STATE] NVARCHAR(250), BASISOFTAXATION NVARCHAR(250), FMV NVARCHAR(250), TOTAL_PERK_VALUE FLOAT, COUNTRY_ID INT, 
			MIT_ID INT, EmployeeID VARCHAR(50), GRANTOPTIONID VARCHAR(50), VESTING_DATE DATETIME,
			GRANTLEGSERIALNO BIGINT, FROM_DATE DATETIME, TO_DATE DATETIME, TAX_FLAG NCHAR(1), EXERCISE_ID BIGINT
		)
		
		DECLARE @PERQ_VALUE_TYPE_AUTO_EXE dbo.TYPE_PERQ_VALUE_AUTO_EXE
		
		INSERT INTO @PERQ_VALUE_TYPE_AUTO_EXE 
		SELECT 
			MIT_ID, LoginID, ExercisePrice, EXERCISABLE_QUANTITY, CASE TAXFLAG WHEN 'A' THEN FMVPrice ELSE TentativeFMVPrice END, 
			EXERCISABLE_QUANTITY, A_GrantedQuantity, EXERCISE_DATE, GrantOptionId, GrantDate, FinalVestingDate, ID, NULL, NULL, ExerciseId
		FROM 
			#TEMP_AUTO_EXERCISED_DETAILS
		
		EXEC PROC_GET_TAXFORAUTOEXERCISE @PERQ_DETAILS = @PERQ_VALUE_TYPE_AUTO_EXE, @PERQ_RESULT = @PERQ_VALUE_RESULT, @ISTEMPLATE = 1		
				
		INSERT INTO #TAX_CALCULATION
		(
			TAX_HEADING, TAX_RATE, RESIDENT_STATUS, TAX_AMOUNT, Country, [STATE], BASISOFTAXATION, FMV, TOTAL_PERK_VALUE, COUNTRY_ID, 
			MIT_ID, EmployeeID, GRANTOPTIONID, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE, EXERCISE_ID 
		)
		SELECT 
			TGTD.TAX_HEADING, TGTD.TAX_RATE, TGTD.RESIDENT_STATUS, TGTD.TAX_AMOUNT, TGTD.Country, TGTD.[STATE], 
			TGTD.BASISOFTAXATION, TGTD.FMV, TGTD.TOTAL_PERK_VALUE, TGTD.COUNTRY_ID, TGTD.MIT_ID, TGTD.EmployeeID, TGTD.GRANTOPTIONID, 
			TGTD.VESTING_DATE, TGTD.GRANTLEGSERIALNO, TGTD.FROM_DATE, TGTD.TO_DATE, TGTD.TEMP_EXERCISEID  
		FROM 
			TEMP_GET_TAXDETAILS AS TGTD
					
		/* UPDATE TAX FLAG */
		UPDATE 
			TC SET TC.TAX_FLAG = TFD.TAXFLAG
		FROM #TAX_CALCULATION AS TC
			INNER JOIN #TEMP_FMV_DETAILS AS TFD ON TC.MIT_ID = TFD.INSTRUMENT_ID
		WHERE
			TC.EmployeeID = TFD.EMPLOYEE_ID AND TC.GRANTOPTIONID = TFD.GRANTOPTIONID AND CONVERT(DATE,TC.VESTING_DATE) =  CONVERT(DATE,TFD.VESTINGDATE)
		
		IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_FMV_DETAILS')
		BEGIN
			DROP TABLE TEMP_FMV_DETAILS
		END
	END
	
	BEGIN /* ===== UPDATE PERQ PAYABLE IN SH EXERCISE FOR AUTO EXERCISE ===== */
				
		CREATE TABLE #TEMP_TAX_PAYBLE 
		( 
			EXERCISE_ID BIGINT, TAX_FLAG NCHAR(1), Perq_Tax_rate NUMERIC(18,6), 
			PerqstPayable NUMERIC(18,6), TentativePerqstPayable NUMERIC(18,6)
		)		
		INSERT INTO #TEMP_TAX_PAYBLE
		(
			EXERCISE_ID, TAX_FLAG, Perq_Tax_rate, PerqstPayable, TentativePerqstPayable
		)
		SELECT
			EXERCISE_ID, TAX_FLAG, SUM(TAX_RATE),
			CASE WHEN TAX_FLAG = 'A' THEN SUM(TAX_AMOUNT) ELSE NULL END AS PaybleTax,
			CASE WHEN TAX_FLAG ='T' THEN SUM(TAX_AMOUNT) ELSE NULL END AS TentativePaybleTax						
		FROM 
			#TAX_CALCULATION 
		GROUP BY EXERCISE_ID, TAX_FLAG
		
		UPDATE TAED SET 
			TAED.Perq_Tax_rate = (SELECT dbo.FN_PQ_TAX_ROUNDING(TTP.Perq_Tax_rate)), 
			TAED.TentativePerqstPayable = TTP.TentativePerqstPayable, 
			TAED.PerqstPayable = TTP.PerqstPayable
		FROM 
			#TEMP_AUTO_EXERCISED_DETAILS AS TAED 
		INNER JOIN #TEMP_TAX_PAYBLE TTP ON TAED.ExerciseId = TTP.EXERCISE_ID					
	END
	
	BEGIN /* ===== SAR CALCULATION ===== */
	
		DECLARE @SAR_SETTLEMENT_PRICE dbo.TYPE_SAR_SETTLEMENT_PRICE 
		
		INSERT INTO @SAR_SETTLEMENT_PRICE 
		SELECT 
			TAED.MIT_ID, TAED.EmployeeId, TAED.GrantDate, TAED.FinalVestingDate, TAED.EXERCISE_DATE, TAED.ExercisePrice, 
			TAED.SchemeId, TAED.GrantOptionId
		FROM 
			#TEMP_AUTO_EXERCISED_DETAILS AS TAED
			INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = TAED.MIT_ID
		WHERE 
			(MIT.IS_SAR_ENABLED = 1) AND (MIT.IS_ACTIVE = 1)
		
		EXEC PROC_GET_SAR_SETTELEMENT_PRICCE @EMPLOYEE_SAR_DETAILS = @SAR_SETTLEMENT_PRICE
				
		/* UPDATE SAR SETTLEMENT PRICES */
		UPDATE TAED SET 
			TAED.SettlmentPrice = CASE TSSFD.TAXFLAG WHEN 'A' THEN dbo.FN_ROUND_VALUE(TSSFD.SAR_SETTLEMENT_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) ELSE NULL END,
			TAED.TentativeSettlmentPrice = CASE TSSFD.TAXFLAG WHEN 'T' THEN dbo.FN_ROUND_VALUE(TSSFD.SAR_SETTLEMENT_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) ELSE NULL END			
		FROM 
			#TEMP_AUTO_EXERCISED_DETAILS AS TAED
			INNER JOIN TEMP_SAR_SETTLEMENT_FINAL_DETAILS AS TSSFD ON TSSFD.INSTRUMENT_ID = TAED.MIT_ID 
		WHERE 
			(TSSFD.EMPLOYEE_ID = TAED.EmployeeId) AND (CONVERT(DATE, TSSFD.EXERCISE_DATE) = CONVERT(DATE, TAED.EXERCISE_DATE)) AND 
			(TSSFD.GRANTOPTIONID = TAED.GrantOptionId) AND (CONVERT(DATE, TSSFD.GRANTDATE) = CONVERT(DATE, TAED.GrantDate)) AND 
			(CONVERT(DATE, TSSFD.VESTINGDATE) = CONVERT(DATE, TAED.FinalVestingDate)) 
		
		DECLARE @SAR_STOCK_APPRECIATION dbo.TYPE_SAR_STOCK_APPRECIATION	
		
		INSERT INTO @SAR_STOCK_APPRECIATION 
		SELECT 
			TAED.MIT_ID, TAED.EmployeeId, TAED.ExercisePrice, TAED.A_ExercisableQuantity, TAED.EXERCISABLE_QUANTITY, 
			TAED.EXERCISE_DATE, TAED.GrantOptionId, TAED.GrantDate, TAED.FinalVestingDate,TAED.ExerciseId
		FROM 
			#TEMP_AUTO_EXERCISED_DETAILS AS TAED
			INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = TAED.MIT_ID
		WHERE (MIT.IS_SAR_ENABLED = 1) AND (MIT.IS_ACTIVE = 1)
			
		EXEC PROC_GET_SAR_STOCK_APPRECIATION @EMPLOYEE_SAR_APPRECIATION = @SAR_STOCK_APPRECIATION		
		
		/* UPDATE SAR STOCK APPRECIATION PRICES */
		
		UPDATE TAED SET 
			TAED.StockApprValue = CASE  WHEN TSAD.TAXFLAG= 'A' THEN dbo.FN_ROUND_VALUE(TSAD.STOCK_APPRECIATION_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) ELSE NULL END,
			TAED.TentativeStockApprValue = CASE WHEN TSAD.TAXFLAG= 'T' THEN dbo.FN_ROUND_VALUE(TSAD.STOCK_APPRECIATION_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) ELSE NULL END			
		FROM 
			#TEMP_AUTO_EXERCISED_DETAILS AS TAED
			INNER JOIN TEMP_STOCK_APPRECIATION_DETAILS AS TSAD ON TSAD.INSTRUMENT_ID = TAED.MIT_ID 
		WHERE 
			(TSAD.EMPLOYEE_ID = TAED.EmployeeId) AND (TSAD.OPTION_VESTED = TAED.A_ExercisableQuantity) AND 
			(TSAD.OPTION_EXERCISED = TAED.EXERCISABLE_QUANTITY) AND 
			(CONVERT(DATE, TSAD.EXERCISE_DATE) = CONVERT(DATE, TAED.EXERCISE_DATE)) AND (TSAD.GRANTOPTIONID = TAED.GrantOptionId) AND 
			(CONVERT(DATE, TSAD.GRANTDATE) = CONVERT(DATE, TAED.GrantDate)) AND (CONVERT(DATE, TSAD.VESTINGDATE) = CONVERT(DATE, TAED.FinalVestingDate)) 

		/*IF TOTAL VALUE IS MINUSE(-) THEN INSERT 0 IN CashPayoutValue OR TentativeCashPayoutValue */
		UPDATE TAED SET			
			TAED.CashPayoutValue = CASE WHEN (ISNULL(TAED.StockApprValue,0) - ISNULL(TAED.PerqstPayable,0)) < 0 THEN 0 ELSE (ISNULL(TAED.StockApprValue,0) - ISNULL(TAED.PerqstPayable,0))END,
			TAED.TentativeCashPayoutValue = CASE WHEN  (ISNULL(TAED.TentativeStockApprValue,0) - ISNULL(TAED.TentativePerqstPayable,0)) <0 THEN 0 ELSE (ISNULL(TAED.TentativeStockApprValue,0) - ISNULL(TAED.TentativePerqstPayable,0)) END
		FROM 
			#TEMP_AUTO_EXERCISED_DETAILS AS TAED
			INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = TAED.MIT_ID
		WHERE 
			(MIT.IS_SAR_ENABLED = 1) AND (MIT.IS_ACTIVE = 1)
		
		
		IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_SAR_SETTLEMENT_FINAL_DETAILS')
		BEGIN
			DROP TABLE TEMP_SAR_SETTLEMENT_FINAL_DETAILS
		END
		
		IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_STOCK_APPRECIATION_DETAILS')
		BEGIN
			DROP TABLE TEMP_STOCK_APPRECIATION_DETAILS
		END
	END
	
	-- INSERT ENTITY DATA --

	 DECLARE  @CurrentDate VARCHAR(50)
		
	 UPDATE ED SET ED.EntityConfigurationBaseOn = CIM.EntityBaseOn,ED.IsActiveEntity =CIM.ISActivedforEntity 
	 FROM #TEMP_AUTO_EXERCISED_DETAILS AS ED
     INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM ON ED.MIT_ID=CIM.MIT_ID

 IF EXISTS (SELECT COUNT(ISACTIVEENTITY) FROM #TEMP_AUTO_EXERCISED_DETAILS WHERE ISACTIVEENTITY=1)
 BEGIN TRY
  BEGIN
  DECLARE @EMP_ID dbo.TYPE_EMPLOYEE_DATA_ENTITY
   
  INSERT INTO @EMP_ID   
  SELECT   
		 TAED.EmployeeID
  FROM   
	  #TEMP_AUTO_EXERCISED_DETAILS AS TAED  
	  INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = TAED.MIT_ID
	  WHERE TAED.IsActiveEntity='1'
	   
    
     CREATE TABLE #TEMP_ENTITY_DATA
	(
		SRNO BIGINT, FIELD NVARCHAR(100), EMPLOYEEID NVARCHAR(100), EMPLOYEENAME NVARCHAR(500), 
		EMP_STATUS NVARCHAR(50), ENTITY NVARCHAR(500), FROMDATE DATETIME, TODATE DATETIME, CREATED_ON DATE,
		ENTITY_ID BIGINT NULL
	)
	 CREATE TABLE #TEMP_FILTER_DATA
	(		
		ENTITY_ID BIGINT NULL,FIELD NVARCHAR(100),MLFN_ID BIGINT
	)
			
	INSERT INTO #TEMP_ENTITY_DATA
	(
		SRNO, FIELD, EMPLOYEEID, EMPLOYEENAME, EMP_STATUS, ENTITY, FROMDATE, TODATE, CREATED_ON
	)	
	EXEC PROC_EMP_MOVEMENT_TRANSFER_REPORT_SCHEDULAR 'Entity',@EMP_ID

	
	INSERT INTO #TEMP_FILTER_DATA(ENTITY_ID,FIELD,MLFN_ID)
	SELECT MLFL.MLFV_ID ,MLFL.FIELD_VALUE ,MLFL.MLFN_ID
    FROM MASTER_LIST_FLD_NAME AS MLFN
    INNER JOIN   MASTER_LIST_FLD_VALUE AS MLFL
    ON MLFN.MLFN_ID = MLFL.MLFN_ID
    WHERE MLFN.FIELD_NAME = 'Entity' 

	SET @CurrentDate=GETDATE()	
	BEGIN

	    --FOR VESTING DATE --
			UPDATE ED SET ED.Entity_ID = TFD.ENTITY_ID,ED.Entity_BasedON = ED.EntityConfigurationBaseOn,ED.Entity = TFD.FIELD,ED.EntityBaseON_Date='VESTINGDATE'
			  FROM #TEMP_AUTO_EXERCISED_DETAILS AS ED
				  INNER JOIN #TEMP_ENTITY_DATA AS TED ON (CONVERT(DATE,ED.FinalVestingDate)) >= CONVERT(DATE,TED.FROMDATE)
				  AND (CONVERT(DATE,ED.FinalVestingDate)) <= (CONVERT(DATE, ISNULL(TED.TODATE, GETDATE())))
				  INNER JOIN #TEMP_FILTER_DATA AS TFD ON TFD.FIELD = TED.ENTITY
				  WHERE ED.IsActiveEntity='1' and ED.EntityConfigurationBaseOn='1001' 

	      --FOR EXERCISE DATE --	 
	        UPDATE ED SET ED.Entity_ID = TFD.ENTITY_ID,ED.Entity_BasedON = ED.EntityConfigurationBaseOn,ED.Entity = TFD.FIELD,ED.EntityBaseON_Date='EXERCISEDATE'
			FROM #TEMP_AUTO_EXERCISED_DETAILS AS ED
				  INNER JOIN #TEMP_ENTITY_DATA AS TED ON (CONVERT(DATE,@CurrentDate)) >= CONVERT(DATE,TED.FROMDATE)
				  AND (CONVERT(DATE,@CurrentDate)) <= (CONVERT(DATE, ISNULL(TED.TODATE, GETDATE())))
				  INNER JOIN #TEMP_FILTER_DATA AS TFD ON TFD.FIELD = TED.ENTITY
				  WHERE ED.IsActiveEntity='1' and ED.EntityConfigurationBaseOn='1002' 
	       --FOR GRANT DATE --
			UPDATE ED SET ED.Entity_ID = TFD.ENTITY_ID,ED.Entity_BasedON = ED.EntityConfigurationBaseOn,ED.Entity = TFD.FIELD,ED.EntityBaseON_Date='GRANTDATE'
			FROM #TEMP_AUTO_EXERCISED_DETAILS AS ED
			
				  INNER JOIN #TEMP_ENTITY_DATA AS TED ON (CONVERT(DATE,ED.GRANTDATE)) >= CONVERT(DATE,TED.FROMDATE)
				  AND (CONVERT(DATE,ED.GRANTDATE)) <= (CONVERT(DATE, ISNULL(TED.TODATE, GETDATE())))
				  INNER JOIN #TEMP_FILTER_DATA AS TFD ON TFD.FIELD = TED.ENTITY		
		          WHERE ED.IsActiveEntity='1' and ED.EntityConfigurationBaseOn='1003'
	END
 END
 END TRY  
   BEGIN CATCH  
   -- ROLLBACK TRANSACTION  
    SELECT  ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure,   
       ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;   
   END CATCH  


-----END-------

	BEGIN TRY
		BEGIN /* ===== SAVE INTO SHEXERCISEOPTIONS TABLE ===== */
			BEGIN TRY
				INSERT INTO ShExercisedOptions
				(	
					GrantLegSerialNumber, ExercisedQuantity, SplitExercisedQuantity, BonusSplitExercisedQuantity, ExercisePrice,
					ExercisableQuantity, Action, LastUpdatedBy, LastUpdatedOn, GrantLegId, ExerciseDate, ValidationStatus, EmployeeID,
					ExerciseNo, Cash, IsMassUpload, PerqstValue, PerqstPayable, FMVPrice, perq_tax_rate, TaxRule, PaymentMode,
					TentativeFMVPrice, TentativePerqstValue, TentativePerqstPayable, IsAutoExercised, MIT_ID, PerPayModeSelected,
					StockApprValue, TentativeStockApprValue, CashPayoutValue, TentativeCashPayoutValue, SettlmentPrice, TentativeSettlmentPrice,LotNumber,
					ShareAriseApprValue,TentShareAriseApprValue, SharesIssuedDate, Entity, EntityBaseOn,CALCULATE_TAX,CALCUALTE_TAX_PRIOR_DAYS,CALCUALTE_TAX_PRIOR_DAYS_PREVESTING 
				)
				SELECT
					Id, EXERCISABLE_QUANTITY, EXERCISABLE_QUANTITY, EXERCISABLE_QUANTITY, ExercisePrice,					
					A_ExercisableQuantity, 'A', 'ADMIN', GETDATE(), GrantLegId,(SELECT CAST( CONCAT(CAST(EXERCISE_DATE AS DATE),' ', CAST(GETDATE() AS TIME(0))) AS DATETIME)),						 
					'V', EmployeeId,
					ExerciseId, Cash, 'Y', PerqstValue, PerqstPayable, FMVPrice, Perq_Tax_rate, NULL, PaymentMode,
					TentativeFMVPrice, TentativePerqstValue, TentativePerqstPayable, 3, MIT_ID, PerPayModeSelected,
					StockApprValue, TentativeStockApprValue, CashPayoutValue, TentativeCashPayoutValue, SettlmentPrice, TentativeSettlmentPrice,LotNumber,
					SHARE_APPRECIATION_VALUE,TENTATIVE_SHARE_APPRECIATION_VALUE, DateOfAllotment,Entity_ID, Entity_BasedON,CALCULATE_TAX,CALCUALTE_TAX_PRIOR_DAYS,CALCUALTE_TAX_PRIOR_DAYS_PREVESTING 
				FROM
					#TEMP_AUTO_EXERCISED_DETAILS	
								
			END TRY
			BEGIN CATCH
				SELECT 'ShExercisedOptions' AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
							ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;		
			END CATCH  		  
		END		
		
		BEGIN /* ===== ADD DATA TO AuditData FOR AUTO PAYMENT MODE SELECTION ===== */
			BEGIN TRY
				INSERT INTO AuditData
				(
					ExerciseId, ExerciseNo, FMV, PaymentDateTime, ExerciseAmount, TaxRate, PerqVal, PerqTax, MarketPrice, PaymentMode, LoginHistoryId, CashlessChgsAmt
				)
				SELECT
					ExerciseId, ExerciseId, CASE WHEN (UPPER(TaxFlag) = 'A') THEN FMVPrice ELSE TentativeFMVPrice END,
					(SELECT CAST( CONCAT(CAST(EXERCISE_DATE AS DATE),' ', CAST(GETDATE() AS TIME(0))) AS DATETIME)), ExercisePrice * EXERCISABLE_QUANTITY,
					Perq_Tax_rate, CASE WHEN (UPPER(TaxFlag) = 'A') THEN PerqstValue ELSE TentativePerqstValue END,
					CASE WHEN (UPPER(TaxFlag) = 'A') THEN PerqstPayable ELSE TentativePerqstPayable END,
					(SELECT TOP 1 ClosePrice FROM SharePrices WHERE PriceDate = (SELECT MAX(PriceDate) FROM SharePrices)),
					PaymentMode, 0, (SELECT TOP 1 dbo.FN_GET_CASHLESSCHARGES(@CompanyID, EXERCISE_DATE, MIT_ID, EXERCISABLE_QUANTITY))
				FROM
					#TEMP_AUTO_EXERCISED_DETAILS WHERE (LEN(ISNULL(PaymentMode, '')) <> 0)
				
			END TRY
			BEGIN CATCH
				SELECT 'AuditData' AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
							ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;	
			END CATCH  
		END
		
		BEGIN /* ===== UPDATE GRANT LEG TABLE ===== */
			BEGIN TRY				
				
				/*INSERT THOSE RECORD IN #TEMPEXERCISEVAL TEMP TABLE WHICH HAS THE DUPLICATE ID'S (THOSE RECORDS ARE REMAING BALANCE(EXERCISABLE) RECORD */
				CREATE TABLE #TEMPEXERCISEVAL(ID INT ,EXERCISABLEQUANTITY INT)

				INSERT INTO #TEMPEXERCISEVAL(ID,EXERCISABLEQUANTITY)
				SELECT DISTINCT ID,SUM(EXERCISEDQUANTITY) AS EXERCISEDQUANTITY FROM  #TEMP_EXERCISE_MASSUPLOAD 
					WHERE ID IN (SELECT DISTINCT ID FROM #TEMP_EXERCISE_MASSUPLOAD WHERE ID IN 
					(SELECT ID FROM #TEMP_EXERCISE_MASSUPLOAD GROUP BY ID HAVING (COUNT(*) > 1)) GROUP BY ID)
				GROUP BY ID
				
				/*UPDATE THOSE DUPLICATE RECORD WITH RESPECTED ID'S*/
				UPDATE TAED SET TAED.EXERCISABLE_QUANTITY = TEV.EXERCISABLEQUANTITY
				FROM #TEMP_AUTO_EXERCISED_DETAILS AS TAED
				INNER JOIN #TEMPEXERCISEVAL AS TEV ON TAED.ID = TEV.ID

				/*DELETE DUPLICATE REOCRDS FROM TEMP*/
				;WITH cte
				AS (SELECT ROW_NUMBER() OVER (PARTITION BY ID ORDER BY (SELECT 0)) RN FROM  #TEMP_AUTO_EXERCISED_DETAILS)
				DELETE FROM cte
				WHERE  RN > 1;

				
				/*UPDATE ALL RECORD OF TEMP TABLE*/
				UPDATE GL SET 
					GL.ExercisableQuantity = GL.ExercisableQuantity - TAD.EXERCISABLE_QUANTITY, 
					GL.UnapprovedExerciseQuantity = GL.UnapprovedExerciseQuantity + TAD.EXERCISABLE_QUANTITY
				FROM 
					Grantleg AS GL
				INNER JOIN #TEMP_AUTO_EXERCISED_DETAILS TAD ON TAD.Id = GL.ID

			END TRY
			BEGIN CATCH
				SELECT 'GRANT LEG' AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
							ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;		
			END CATCH  		
		END
		
		BEGIN /* ===== SAVE INTO EMPDET_WITH_EXERCISE TABLE ===== */
			BEGIN TRY
			
			INSERT INTO EMPDET_With_EXERCISE 
			(
				ExerciseNo, DateOfJoining, Grade, EmployeeDesignation, EmployeePhone, EmployeeEmail, EmployeeAddress, 
				PANNumber, ResidentialStatus, Insider, WardNumber, Department, Location, SBU, Entity, DPRecord, 
				DepositoryName, DematAccountType, DepositoryParticipantNo, DepositoryIDNumber, ClientIDNumber, 
				LastUpdatedby, Mobile, SecondaryEmailID, CountryName, COST_CENTER, BROKER_DEP_TRUST_CMP_NAME, BROKER_DEP_TRUST_CMP_ID, 
				BROKER_ELECT_ACC_NUM 
			)
			SELECT 
				TAD.ExerciseId, EM.DateOfJoining, EM.Grade, EM.EmployeeDesignation, EM.EmployeePhone, EM.EmployeeEmail, EM.EmployeeAddress,
				EM.PANNumber, EM.ResidentialStatus, EM.Insider, EM.WardNumber, EM.Department, EM.Location, EM.SBU, EM.Entity, EM.DPRecord, 
				EM.DepositoryName, EM.DematAccountType, EM.DepositoryParticipantNo, EM.DepositoryIDNumber, EM.ClientIDNumber, 
				'ADMIN', EM.Mobile, EM.SecondaryEmailID, EM.CountryName, EM.COST_CENTER, EM.BROKER_DEP_TRUST_CMP_NAME, EM.BROKER_DEP_TRUST_CMP_ID, 
				EM.BROKER_ELECT_ACC_NUM  
			FROM 
				EmployeeMaster AS EM 
				INNER JOIN #TEMP_AUTO_EXERCISED_DETAILS AS TAD ON EM.LoginID = TAD.LoginID
			WHERE 
				DELETED = 0 AND EXISTS (SELECT PMD_ID FROM PAYMENT_MASTER_DETAILS WHERE Exerciseform_Submit ='N' AND MIT_ID = TAD.MIT_ID)
			END TRY
			BEGIN CATCH
				SELECT 'EMPDET_With_EXERCISE' AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
							ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;	
			END CATCH
		END
		
		/* UPDATE IN TAX TABLE */
		BEGIN
					
		BEGIN TRY
		
			INSERT INTO [EXERCISE_TAXRATE_DETAILS]
			(
				EXERCISE_NO, COUNTRY_ID, RESIDENT_ID, Tax_Title, BASISOFTAXATION, TAX_RATE, TAX_AMOUNT, TENTATIVETAXAMOUNT, 
				GRANTLEGSERIALNO, FMVVALUE, TENTATIVEFMVVALUE, PERQVALUE, TENTATIVEPERQVALUE, FROM_DATE, TO_DATE, 
				CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON
			)
			SELECT
				EXERCISE_ID, COUNTRY_ID, RESIDENT_STATUS, TAX_HEADING, BASISOFTAXATION, TAX_RATE, 
				CASE WHEN (UPPER(TAX_FLAG) = 'A') THEN TAX_AMOUNT ELSE NULL END, CASE WHEN (UPPER(TAX_FLAG) = 'T') THEN TAX_AMOUNT ELSE NULL END,
				GRANTLEGSERIALNO, 				
				CASE WHEN (UPPER(TAX_FLAG) = 'A') THEN FMV ELSE NULL END, CASE WHEN (UPPER(TAX_FLAG) = 'T') THEN FMV ELSE NULL END,
				CASE WHEN (UPPER(TAX_FLAG) = 'A') THEN TOTAL_PERK_VALUE ELSE NULL END, CASE WHEN (UPPER(TAX_FLAG) = 'T') THEN TOTAL_PERK_VALUE ELSE NULL END,
				FROM_DATE, TO_DATE, 
				'ADMIN', GETDATE(), 'ADMIN', GETDATE()				
			FROM 
				#TAX_CALCULATION 
				
		END TRY
		BEGIN CATCH			
			SELECT 'EXERCISE_TAXRATE_DETAILS' AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
							ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;	
		END CATCH        
		END		
		SET @TRANSACTION_SUCCESSFUL = 1		
	END TRY
	BEGIN CATCH		
		SET @TRANSACTION_SUCCESSFUL = 0	
		SELECT @@ERROR As Error		
	END CATCH


/* ================ FINAL OUTPUT ================== */
IF(@TRANSACTION_SUCCESSFUL = 1)
BEGIN	
	SELECT
		ExerciseId, ROW_ID, ID, ApprovalId, SchemeId, GrantApprovalId, GrantRegistrationId, GrantOptionId, GrantLegId, [Counter], 
		VestingType, GrantedQuantity, SplitQuantity, BonusSplitQuantity, Parent, FinalVestingDate, FinalExpirayDate, 
		ExercisePrice, GrantDate, LockInPeriodStartsFrom, LockInPeriod, OptionRatioMultiplier, OptionRatioDivisor, SchemeTitle, 
		IsPaymentModeRequired, PaymentModeEffectiveDate, MIT_ID, OptionTimePercentage, 
		EmployeeId, LoginID, ResidentialStatus, TAX_IDENTIFIER_COUNTRY, A_GrantedQuantity, A_SplitQuantity, A_BonusSplitQuantity, 
		A_ExercisedQuantity, A_SplitExercisedQuantity, A_BonusSplitExercisedQuantity, A_CancelledQuantity, 
		A_SplitCancelledQuantity, A_BonusSplitCancelledQuantity, A_UnapprovedExerciseQuantity, T_LapsedQuantity, A_ExercisableQuantity, 
		EXERCISABLE_QUANTITY,
		AEC_ID, EXERCISE_ON, EXERCISE_AFTER_DAYS, IS_EXCEPTION_ENABLED, EXECPTION_FOR, EXECPTION_LIST, CALCULATE_TAX, 
		CALCUALTE_TAX_PRIOR_DAYS, IS_MAIL_ENABLE, MAIL_BEFORE_DAYS, MAIL_REMINDER_DAYS, 
		FMVPrice, PerqstValue, PerqstPayable, Perq_Tax_rate, TentativeFMVPrice, TentativePerqstValue, TentativePerqstPayable, 
		TaxFlag, FaceVaue, SARFMV, ExType, Cash, PaymentMode, PerPayModeSelected, 
		(SELECT CAST( CONCAT(CAST(EXERCISE_DATE AS DATE),' ', CAST(GETDATE() AS TIME(0))) AS DATETIME)), 
		(SELECT CAST( CONCAT(CAST(DateOfAllotment AS DATE),' ', CAST(GETDATE() AS TIME(0))) AS DATETIME)),		
		StockApprValue, TentativeStockApprValue, CashPayoutValue, TentativeCashPayoutValue, SettlmentPrice, TentativeSettlmentPrice,
		Entity_ID,Entity,Entity_BasedON,EntityBaseON_Date,CALCULATE_TAX,CALCUALTE_TAX_PRIOR_DAYS,CALCUALTE_TAX_PRIOR_DAYS_PREVESTING 
	FROM 
		#TEMP_AUTO_EXERCISED_DETAILS
END

BEGIN TRY
	--DROP TABLE #TEMP_AUTO_EXERCISED_DETAILS
	DROP TABLE #TEMP_TAX_PAYBLE
	DROP TABLE #TEMP_AUTOEXERCISED_DETAILS_MAIL
	DROP TABLE #New_Message_To
	DROP TABLE #New_Message_From
	DROP TABLE #TEMP_EXERCISE_MASSUPLOAD
END TRY
BEGIN CATCH		
	SELECT @@ERROR As Error , 'Error While Droping Temp Tables' AS ErrorMessage
END CATCH
	
	
	SET NOCOUNT OFF;
END
GO
