/****** Object:  StoredProcedure [dbo].[USP_PERQTAXEXCEPTIONDEAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_PERQTAXEXCEPTIONDEAILS]
GO
/****** Object:  StoredProcedure [dbo].[USP_PERQTAXEXCEPTIONDEAILS]    Script Date: 7/6/2022 1:40:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_PERQTAXEXCEPTIONDEAILS]
AS
BEGIN
	--QUERY SAVE
	DECLARE @QUERY	 VARCHAR(200)
	DECLARE @SHQUERY VARCHAR(200)
	DECLARE @EXQUERY VARCHAR(200)
	
	--COLUMN VARIABLES
	DECLARE @STATUSID INT
	DECLARE @EXID	 VARCHAR(10)
	DECLARE @GOPID  VARCHAR(100)
	DECLARE @PERQTAXRATE NUMERIC(18,6)
	DECLARE @TAXAMOUNT NUMERIC(10,2)
	DECLARE @UPDATEDBY VARCHAR(10)
	DECLARE @MIN INT
	DECLARE @MAX INT
	
	SELECT @MIN = MIN(STATUSID),@MAX=MAX(STATUSID) FROM STATUS_TAX_UPDATION
	
	WHILE (@MIN <= @MAX)
	BEGIN
	--print 'Enter in while loop..'
		SELECT 
			@STATUSID		= [STATUSID],
			@EXID			= Convert(Varchar(10),[EXERCISEID]),
			@GOPID			= [GRANTOPTIONID],
			@PERQTAXRATE	= [PERQ_TAX_RATE],
			@TAXAMOUNT		= [PERQSTPAYABLE],
			@UPDATEDBY		= [LASTUPDATEDBY]
		FROM STATUS_TAX_UPDATION
		WHERE STATUSID = ''+Convert(Varchar(10),@MIN)+''
		--print 'Befor condition checking'
		IF EXISTS (SELECT TOP 1 EMPLOYEEID,GRANTOPTIONID,ACTION FROM PERQSTTAXEXCEPTIONRULE WHERE GRANTOPTIONID=''+@GOPID+'' ORDER BY LASTUPDATEDON DESC)
		BEGIN
			--print 'Sh or exercised condition checking'
				IF EXISTS (SELECT TOP 1 * FROM SHEXERCISEDOPTIONS WHERE EXERCISEID = ''+@EXID+'')								
				BEGIN
					PRINT 'DATA FOUND IN SHEXRCISE TABLE'
			        SET @SHQUERY = 'update ShExercisedOptions set PerqstPayable='+Convert(Varchar(10),@TAXAMOUNT)+',Perq_Tax_rate='+Convert(varchar(50),@PERQTAXRATE)+',LastUpdatedBy='''+@UPDATEDBY+''',LastUpdatedOn=GETDATE() where ExerciseId='+@EXID+''
			        EXEC(@SHQUERY)
				    SET @QUERY = 'UPDATE STATUS_TAX_UPDATION SET UPDATEMODE=''SHEXERCISED'',StRemark=''S'',LASTUPDATEDON=GETDATE() WHERE STATUSID='+Convert(Varchar(10),@STATUSID)+''
					EXEC(@QUERY)
				END
				ELSE IF EXISTS (SELECT TOP 1 * FROM EXERCISED WHERE EXERCISEDID = ''+@EXID+'')								
				BEGIN
					PRINT 'DATA FOUND IN EXERCISED TABLE'
				    SET @EXQUERY= 'UPDATE EXERCISED SET PERQ_TAX_RATE='+CONVERT (VARCHAR(10),@PERQTAXRATE)+',PERQSTPAYABLE='+CONVERT(VARCHAR(50),@TAXAMOUNT)+',LASTUPDATEDBY='''+@UPDATEDBY+''',LASTUPDATEDON='''+CONVERT(VARCHAR(20),GETDATE(),101) +''' WHERE EXERCISEDID= '+CONVERT(VARCHAR(10),@EXID)
			        EXEC(@EXQUERY)
				    SET @QUERY = 'UPDATE STATUS_TAX_UPDATION SET UPDATEMODE=''EXERCISED'',StRemark=''E'',LASTUPDATEDON=GETDATE() WHERE STATUSID='+Convert(Varchar(10),@STATUSID)+''
					EXEC(@QUERY)					
				END
				ELSE 
				BEGIN
					SET @QUERY = 'UPDATE STATUS_TAX_UPDATION SET UPDATEMODE=''NO RECORD FOUND FOR THIS EXERCISE ID'',StRemark=''N'',LASTUPDATEDON=GETDATE() WHERE STATUSID='+Convert(Varchar(10),@STATUSID)+''
					EXEC(@QUERY)
				END
		END
		
		ELSE
		BEGIN
			SET @QUERY = 'UPDATE STATUS_TAX_UPDATION SET UPDATEMODE=''GRANT OPTION ID NOT REGISTER'',StRemark=''F'' ,LASTUPDATEDON=GETDATE() WHERE GRANTOPTIONID='''+@GOPID+''
			PRINT @QUERY    
		END
		SET @MIN = @MIN + 1							
	END
	SELECT STATUSID, EXERCISEID,  GrantOptionID,  PERQ_TAX_RATE,  PERQSTPAYABLE,  UPDATEMODE,  STREMARK,  LASTUPDATEDBY as UpdatedBy,  LASTUPDATEDON as UpdatedOn 
	FROM STATUS_TAX_UPDATION WHERE (STREMARK='N') OR (STREMARK='F')
END
GO
