/****** Object:  StoredProcedure [dbo].[PROC_GET_FORM_TYPE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_FORM_TYPE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_FORM_TYPE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_FORM_TYPE]
(
	@PaymentMode		VARCHAR(2),
	@MIT_ID				INT = NULL,	
	@ExerciseNo	  		VARCHAR(20)= NULL 
)
AS
 BEGIN
	SET NOCOUNT ON;
	
	DECLARE @Type VARCHAR(20)
	DECLARE @format VARCHAR(20)
	DECLARE @UPLOASTEPACTIVE VARCHAR(10)
	SELECT @format='''at''';

	SELECT  @Type =CASE WHEN (UPPER( PAYMENTMODE_BASED_ON)='RDOCOMPANYLEVEL') THEN 'Company' 
			WHEN (UPPER( PAYMENTMODE_BASED_ON)='RDOCOUNTRY') THEN 'Country'
			WHEN (UPPER( PAYMENTMODE_BASED_ON)='RDORESIDENT') OR (UPPER( PAYMENTMODE_BASED_ON)='RDORESIDENTSTATUS')  THEN 'Resident' Else '' END 
	FROM 
		COMPANY_INSTRUMENT_MAPPING 
	WHERE MIT_ID = @MIT_ID	

	SELECT TOP 1
		 RP.Id,MCC.CODE_NAME,PM.PayModeName,RP.DYNAMIC_FORM_DISPLAY_NAME
	FROM
		 ResidentialPaymentMode RP INNER JOIN PaymentMaster PM ON RP.PaymentMaster_Id=PM.Id AND RP.MIT_ID=@MIT_ID AND PaymentMode=@PaymentMode
		 INNER JOIN MST_COM_CODE MCC ON MCC_ID=RP.DYNAMIC_FORM AND RP.MIT_ID=@MIT_ID 
	WHERE MIT_ID=@MIT_ID AND PM.PaymentMode=@PaymentMode AND RP.PAYMENT_MODE_CONFIG_TYPE=@Type
	
	    SELECT @UPLOASTEPACTIVE = IS_ACTIVE FROM MST_EXERCISE_STEPS WHERE MIT_ID=@MIT_ID AND MST_EX_STEP_ID = 4

		SELECT CASE WHEN @UPLOASTEPACTIVE = 1 THEN ISNULL(IS_UPLOAD_EXERCISE_FORM,0) ELSE 0 END AS IS_UPLOAD_EXERCISE_FORM,
		FORMAT(IS_UPLOAD_EXERCISE_FORM_ON, 'dd-MMM-yyyy '+@format+' hh:mm tt', 'en-US') AS IS_UPLOAD_EXERCISE_FORM_ON,ISNULL(isFormGenerate,0) AS isFormGenerate FROM ShExercisedOptions WHERE ExerciseId = @ExerciseNo

	SET NOCOUNT OFF;
END
GO
