/****** Object:  StoredProcedure [dbo].[PROC_CONFIGUREPERSONAL]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CONFIGUREPERSONAL]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CONFIGUREPERSONAL]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CONFIGUREPERSONAL]

AS
BEGIN

	SELECT EmployeeField,DISPLAY_NAME FROM ConfigurePersonalDetails 
	WHERE EmployeeField IN('FIELD1','FIELD2','FIELD3','FIELD4','FIELD5','FIELD6','FIELD7','FIELD8','FIELD9','FIELD10')

END
GO
