/****** Object:  StoredProcedure [dbo].[PROC_GET_SAR_INSTRUMENT_LIST]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_SAR_INSTRUMENT_LIST]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_SAR_INSTRUMENT_LIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_SAR_INSTRUMENT_LIST]
AS
BEGIN
	SET NOCOUNT ON;			
		
	SELECT MIT.MIT_ID, 
	      CASE WHEN  ISNULL(CIM.INS_DISPLY_NAME,'') = '' THEN MIT.INSTRUMENT_NAME
	           ELSE CIM.INS_DISPLY_NAME 
	      END AS INSTRUMENT_NAME
	FROM MST_INSTRUMENT_TYPE MIT  INNER JOIN 
		 COMPANY_INSTRUMENT_MAPPING CIM ON MIT.MIT_ID=CIM.MIT_ID  
		 INNER JOIN MST_COM_CODE  MCC ON MIT.INSTRUMENT_GROUP = MCC.MCC_ID
		 INNER JOIN MST_COM_CODE_GROUP MCCG ON MCCG.MCCG_ID=MCC.MCCG_ID
	WHERE MCCG.CODE_GROUP_NAME='INSTRUMENT GROUP' AND MCC.CODE_NAME IN ('SAR','PUP') AND MIT.IS_ACTIVE=1 AND CIM.IS_ENABLED=1
		
	SET NOCOUNT OFF;	
END
GO
