/****** Object:  StoredProcedure [dbo].[PROC_CRUD_AUTO_EXERCISE_PAYMENT_CONFIG]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CRUD_AUTO_EXERCISE_PAYMENT_CONFIG]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CRUD_AUTO_EXERCISE_PAYMENT_CONFIG]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	
Create     PROCEDURE [dbo].[PROC_CRUD_AUTO_EXERCISE_PAYMENT_CONFIG]
	@AEC_ID BIGINT = NULL, @SCHEME_ID NVARCHAR(100) = NULL, @BEFORE_VESTING_DATE INT = NULL, @PREVESTING_AUTOEXERCISE INT = NULL, 
	@POSTVESTING_AUTOEXERCISE INT = NULL, @POSTVESTING_DAYS INT = NULL, @PAYMENT_MODE_NOT_SELECTED NVARCHAR(50) = NULL, 
	@DEFAULT_PAYMENT_MODE BIGINT = NULL, @CANCELLATION_VESTED_OPTION NVARCHAR(50) = NULL, @DAYS_FROM_VESTING_DATE INT = NULL,
	@MAIL_MODE_PREVESTING INT = NULL, @BEFORE_VESTING_DAYS INT = NULL, @REMINDER_MAIL_DAYS INT = NULL, @MAIL_ON_AUTO_CANCELLATION INT = NULL,
	@CREATED_BY NVARCHAR(100) = NULL, @CREATED_ON DATETIME = NULL, @UPDATED_BY NVARCHAR(100) = NULL, @UPDATED_ON DATETIME = NULL,
	@ACTION VARCHAR(20) = NULL, @IS_PAYMENT_MODE_SELECTED TINYINT = NULL,
	@IS_Applicable_validation Bit = Null,@ISDemateBrokerUpdate Bit = Null, @PAYMENT_MODE_ForUpdate BIGINT = Null,
	@ISDemateBrokerValidate Bit = Null,@PAYMENT_MODE_ForValidate BIGINT = Null,@ISDemateBrokerUnvalidate Bit = Null,@PAYMENT_MODE_ForUnValidate BIGINT = Null,
	@IS_Applicable_ForBlankPayment Bit = Null,@IS_Reverse_Exercise_For_Seperation Bit = Null,
	@IS_Applicable_ForModifyQty BIT = Null,@IS_ALLOW_AFTER_MODIFY BIT = Null,
	@AUTOEXERCISE_PAYMENTIDWISE_DETAILS dbo.TYPE_AUTOEXERCISE_PAYMENTIDWISE_DETAILS READONLY

AS
BEGIN
	
	SET NOCOUNT ON;
	
	DECLARE @Old_Value NVARCHAR(250), @New_Value NVARCHAR(250), @Isupdated TINYINT,@i INT, @Temp_Field VARCHAR(100), 
			@SqlString NVARCHAR(MAX), @ROWCOUNT INT = NULL, @ISAPPROVEFLAG TINYINT = NULL, @IS_APPROVE TINYINT = NULL,
			@AEPC_ID INT = NULL
	
	/* Create Temp Table */
	CREATE TABLE #TEMP_AUTO_EXERCISE_PAYMENT_CONFIG_OLD
	(
	    ID INT IDENTITY(1,1), AEC_ID INT, SCHEME_ID NVARCHAR(100), BEFORE_VESTING_DATE INT, PREVESTING_AUTOEXERCISE INT, 
	    POSTVESTING_AUTOEXERCISE INT, POSTVESTING_DAYS INT, PAYMENT_MODE_NOT_SELECTED NVARCHAR(50), 
	    DEFAULT_PAYMENT_MODE BIGINT, CANCELLATION_VESTED_OPTION NVARCHAR(50), DAYS_FROM_VESTING_DATE INT, 
	    MAIL_MODE_PREVESTING INT, BEFORE_VESTING_DAYS INT, REMINDER_MAIL_DAYS INT, MAIL_ON_AUTO_CANCELLATION INT,
	    IS_PAYMENT_MODE_SELECTED TINYINT, CREATED_BY NVARCHAR(100), CREATED_ON DATETIME, UPDATED_BY NVARCHAR(100),
	    UPDATED_ON DATETIME,
		IS_Applicable_validation Bit,ISDemateBrokerUpdate Bit,PAYMENT_MODE_ForUpdate BIGINT ,ISDemateBrokerValidate Bit,PAYMENT_MODE_ForValidate BIGINT,ISDemateBrokerUnvalidate Bit,PAYMENT_MODE_ForUnValidate BIGINT,
		IS_Applicable_ForBlankPayment Bit, IS_Reverse_Exercise_For_Seperation Bit,IS_Applicable_ForModifyQty BIT ,IS_ALLOW_AFTER_MODIFY BIT
	)
	
	CREATE TABLE #TEMP_AUTO_EXERCISE_PAYMENT_CONFIG_NEW
	(
		ID INT IDENTITY(1,1), AEC_ID INT, SCHEME_ID NVARCHAR(100), BEFORE_VESTING_DATE INT, PREVESTING_AUTOEXERCISE INT, 
	    POSTVESTING_AUTOEXERCISE INT, POSTVESTING_DAYS INT, PAYMENT_MODE_NOT_SELECTED NVARCHAR(50), 
	    DEFAULT_PAYMENT_MODE BIGINT, CANCELLATION_VESTED_OPTION NVARCHAR(50), DAYS_FROM_VESTING_DATE INT, 
	    MAIL_MODE_PREVESTING INT, BEFORE_VESTING_DAYS INT, REMINDER_MAIL_DAYS INT, MAIL_ON_AUTO_CANCELLATION INT,
	    IS_PAYMENT_MODE_SELECTED TINYINT, CREATED_BY NVARCHAR(100), CREATED_ON DATETIME, UPDATED_BY NVARCHAR(100),
	    UPDATED_ON DATETIME,
		IS_Applicable_validation Bit,ISDemateBrokerUpdate Bit,PAYMENT_MODE_ForUpdate BIGINT ,ISDemateBrokerValidate Bit,PAYMENT_MODE_ForValidate BIGINT,ISDemateBrokerUnvalidate Bit,PAYMENT_MODE_ForUnValidate BIGINT,
		IS_Applicable_ForBlankPayment Bit, IS_Reverse_Exercise_For_Seperation Bit,IS_Applicable_ForModifyQty BIT ,IS_ALLOW_AFTER_MODIFY BIT
	)

	CREATE TABLE #TEMP_FIELD_NAMES
	(
		F_ID INT IDENTITY(1,1), FIELD_NAME NVARCHAR(100), OLD_VALUE NVARCHAR(100), NEW_VALUE NVARCHAR(100), IS_UPDATE TINYINT DEFAULT(0), CREATED_BY VARCHAR(100) NULL, CREATED_ON VARCHAR(100)
	)
	
	BEGIN TRY		
	
		BEGIN TRANSACTION
	
		SET @ROWCOUNT = (SELECT COUNT(AEC_ID) FROM AUTO_EXERCISE_PAYMENT_CONFIG  WHERE SCHEME_ID = @SCHEME_ID)		   
		SET @ISAPPROVEFLAG = (SELECT MAX(IS_APPROVE) FROM AUTO_EXERCISE_PAYMENT_CONFIG  WHERE SCHEME_ID=@SCHEME_ID)
		
		IF(UPPER(@ACTION)='ADD')	
		BEGIN
			INSERT INTO AUTO_EXERCISE_PAYMENT_CONFIG
			(
				AEC_ID,SCHEME_ID,BEFORE_VESTING_DATE,PREVESTING_AUTOEXERCISE,POSTVESTING_AUTOEXERCISE,POSTVESTING_DAYS,
				PAYMENT_MODE_NOT_SELECTED,DEFAULT_PAYMENT_MODE,CANCELLATION_VESTED_OPTION,DAYS_FROM_VESTING_DATE,MAIL_MODE_PREVESTING,
				BEFORE_VESTING_DAYS,REMINDER_MAIL_DAYS,MAIL_ON_AUTO_CANCELLATION,IS_APPROVE,IS_PAYMENT_MODE_SELECTED,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON
				,IS_Applicable_validation,ISDemateBrokerUpdate,PAYMENT_MODE_ForUpdate,ISDemateBrokerValidate,PAYMENT_MODE_ForValidate,ISDemateBrokerUnvalidate,
				PAYMENT_MODE_ForUnValidate, IS_Applicable_ForBlankPayment, IS_Reverse_Exercise_For_Seperation,IS_Applicable_ForModifyQty ,IS_ALLOW_AFTER_MODIFY 
			)
			VALUES
			(
				@AEC_ID,@SCHEME_ID,@BEFORE_VESTING_DATE,@PREVESTING_AUTOEXERCISE,@POSTVESTING_AUTOEXERCISE,@POSTVESTING_DAYS,
				@PAYMENT_MODE_NOT_SELECTED,@DEFAULT_PAYMENT_MODE,@CANCELLATION_VESTED_OPTION,@DAYS_FROM_VESTING_DATE,@MAIL_MODE_PREVESTING,
				@BEFORE_VESTING_DAYS,@REMINDER_MAIL_DAYS,@MAIL_ON_AUTO_CANCELLATION,0,@IS_PAYMENT_MODE_SELECTED,@CREATED_BY,@CREATED_ON,@UPDATED_BY,@UPDATED_ON
				,@IS_Applicable_validation,@ISDemateBrokerUpdate,@PAYMENT_MODE_ForUpdate,@ISDemateBrokerValidate,@PAYMENT_MODE_ForValidate,@ISDemateBrokerUnvalidate,
				@PAYMENT_MODE_ForUnValidate, @IS_Applicable_ForBlankPayment, @IS_Reverse_Exercise_For_Seperation,@IS_Applicable_ForModifyQty ,@IS_ALLOW_AFTER_MODIFY 
			)
			
			SET @AEPC_ID=@@IDENTITY
			INSERT INTO AUTO_EXERCISE_PAYMENTMODE_WISE_UPDATE_QTY
			( 
				AEPC_ID,SCHEME_ID,PAYMENTMASTER_ID ,IS_ALLOW_TO_MODIFY,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON
			)
			Select @AEPC_ID ,SCHEME_ID ,PaymentMode_ID,ISAllow_ToModify,@CREATED_BY,@CREATED_ON,@UPDATED_BY,@UPDATED_ON FROM 	@AUTOEXERCISE_PAYMENTIDWISE_DETAILS

			
		END
		ELSE IF(UPPER(@ACTION)='APPROVE')
		BEGIN
			IF(@ISAPPROVEFLAG = 2)	
			BEGIN		
				DELETE FROM AUTO_EXERCISE_PAYMENT_CONFIG WHERE IS_APPROVE = 1 AND SCHEME_ID=@SCHEME_ID
				UPDATE AUTO_EXERCISE_PAYMENT_CONFIG SET IS_APPROVE = 1 WHERE IS_APPROVE=2 AND SCHEME_ID = @SCHEME_ID
				UPDATE AUDIT_TRAIL_SCHEMEAUTOEXERCISE SET IS_Update=1 WHERE SchemeId=@SCHEME_ID
			END	
			IF(@ISAPPROVEFLAG = 0)
				UPDATE AUTO_EXERCISE_PAYMENT_CONFIG SET IS_APPROVE = 1 WHERE IS_APPROVE=0 AND SCHEME_ID = @SCHEME_ID
				UPDATE AUDIT_TRAIL_SCHEMEAUTOEXERCISE SET IS_Update=1 WHERE SchemeId=@SCHEME_ID
			IF(@ROWCOUNT>0 AND @ISAPPROVEFLAG=3)
				DELETE FROM AUTO_EXERCISE_PAYMENT_CONFIG WHERE SCHEME_ID=@SCHEME_ID AND IS_APPROVE=3				
		END
		ELSE IF(UPPER(@ACTION)='DISAPPROVE')
			BEGIN				
				IF(@ISAPPROVEFLAG = 2)
				BEGIN
					DELETE FROM AUTO_EXERCISE_PAYMENT_CONFIG WHERE IS_APPROVE =2 AND SCHEME_ID=@SCHEME_ID
					UPDATE AUTO_EXERCISE_PAYMENT_CONFIG SET IS_APPROVE = 1 WHERE IS_APPROVE=1 AND SCHEME_ID=@SCHEME_ID					
				END
				IF(@ROWCOUNT>0 AND @ISAPPROVEFLAG=3)
				BEGIN
					--DELETE FROM AUTO_EXERCISE_PAYMENT_CONFIG WHERE AEC_ID=@AEC_ID AND IS_APPROVE=1
					UPDATE AUTO_EXERCISE_PAYMENT_CONFIG SET IS_APPROVE=1 WHERE SCHEME_ID=@SCHEME_ID AND IS_APPROVE=3					
				END
			END
		ELSE IF(UPPER(@ACTION)='EDIT')
		BEGIN
			IF(@ROWCOUNT >=0 AND @ROWCOUNT !>1)			
			BEGIN					
				INSERT INTO AUTO_EXERCISE_PAYMENT_CONFIG
				(
					AEC_ID,SCHEME_ID,BEFORE_VESTING_DATE,PREVESTING_AUTOEXERCISE,POSTVESTING_AUTOEXERCISE,POSTVESTING_DAYS,
					PAYMENT_MODE_NOT_SELECTED,DEFAULT_PAYMENT_MODE,CANCELLATION_VESTED_OPTION,DAYS_FROM_VESTING_DATE,MAIL_MODE_PREVESTING,
					BEFORE_VESTING_DAYS,REMINDER_MAIL_DAYS,MAIL_ON_AUTO_CANCELLATION,IS_APPROVE,IS_PAYMENT_MODE_SELECTED,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,
					IS_Applicable_validation,ISDemateBrokerUpdate,PAYMENT_MODE_ForUpdate,ISDemateBrokerValidate,PAYMENT_MODE_ForValidate,ISDemateBrokerUnvalidate,
					PAYMENT_MODE_ForUnValidate, IS_Applicable_ForBlankPayment, IS_Reverse_Exercise_For_Seperation,IS_Applicable_ForModifyQty ,IS_ALLOW_AFTER_MODIFY 
				)
				VALUES
				(
					@AEC_ID,@SCHEME_ID,@BEFORE_VESTING_DATE,@PREVESTING_AUTOEXERCISE,@POSTVESTING_AUTOEXERCISE,@POSTVESTING_DAYS,
					@PAYMENT_MODE_NOT_SELECTED,@DEFAULT_PAYMENT_MODE,@CANCELLATION_VESTED_OPTION,@DAYS_FROM_VESTING_DATE,@MAIL_MODE_PREVESTING,
					@BEFORE_VESTING_DAYS,@REMINDER_MAIL_DAYS,@MAIL_ON_AUTO_CANCELLATION,2,@IS_PAYMENT_MODE_SELECTED,@CREATED_BY,@CREATED_ON,@UPDATED_BY,@UPDATED_ON
					,@IS_Applicable_validation,@ISDemateBrokerUpdate,@PAYMENT_MODE_ForUpdate,@ISDemateBrokerValidate,@PAYMENT_MODE_ForValidate,@ISDemateBrokerUnvalidate,
					@PAYMENT_MODE_ForUnValidate, @IS_Applicable_ForBlankPayment, @IS_Reverse_Exercise_For_Seperation,@IS_Applicable_ForModifyQty  ,@IS_ALLOW_AFTER_MODIFY 
				)
				
				SET @AEPC_ID=@@IDENTITY
				INSERT INTO #TEMP_AUTO_EXERCISE_PAYMENT_CONFIG_OLD
				SELECT 
					AEC_ID, SCHEME_ID, BEFORE_VESTING_DATE, PREVESTING_AUTOEXERCISE, POSTVESTING_AUTOEXERCISE, POSTVESTING_DAYS, 
					PAYMENT_MODE_NOT_SELECTED, DEFAULT_PAYMENT_MODE, CANCELLATION_VESTED_OPTION, 
					DAYS_FROM_VESTING_DATE, MAIL_MODE_PREVESTING, BEFORE_VESTING_DAYS, REMINDER_MAIL_DAYS, 
					MAIL_ON_AUTO_CANCELLATION, IS_PAYMENT_MODE_SELECTED, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON,
					IS_Applicable_validation,ISDemateBrokerUpdate,PAYMENT_MODE_ForUpdate,ISDemateBrokerValidate,PAYMENT_MODE_ForValidate,ISDemateBrokerUnvalidate,
					PAYMENT_MODE_ForUnValidate, IS_Applicable_ForBlankPayment, IS_Reverse_Exercise_For_Seperation,@IS_Applicable_ForModifyQty  ,@IS_ALLOW_AFTER_MODIFY 		
				FROM 
					AUTO_EXERCISE_PAYMENT_CONFIG  
				WHERE  
					SCHEME_ID = @SCHEME_ID AND IS_APPROVE=1
				
				INSERT INTO #TEMP_AUTO_EXERCISE_PAYMENT_CONFIG_NEW
				SELECT 
					AEC_ID, SCHEME_ID, BEFORE_VESTING_DATE, PREVESTING_AUTOEXERCISE, POSTVESTING_AUTOEXERCISE, POSTVESTING_DAYS, 
					PAYMENT_MODE_NOT_SELECTED, DEFAULT_PAYMENT_MODE, CANCELLATION_VESTED_OPTION, 
					DAYS_FROM_VESTING_DATE, MAIL_MODE_PREVESTING, BEFORE_VESTING_DAYS, REMINDER_MAIL_DAYS, 
					MAIL_ON_AUTO_CANCELLATION, IS_PAYMENT_MODE_SELECTED, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON,
					IS_Applicable_validation,ISDemateBrokerUpdate,PAYMENT_MODE_ForUpdate,ISDemateBrokerValidate,PAYMENT_MODE_ForValidate,ISDemateBrokerUnvalidate,
					PAYMENT_MODE_ForUnValidate, IS_Applicable_ForBlankPayment, IS_Reverse_Exercise_For_Seperation,@IS_Applicable_ForModifyQty  ,@IS_ALLOW_AFTER_MODIFY 		
				FROM 
					AUTO_EXERCISE_PAYMENT_CONFIG  
				WHERE 
					SCHEME_ID = @SCHEME_ID AND IS_APPROVE=2
				
				INSERT INTO AUTO_EXERCISE_PAYMENTMODE_WISE_UPDATE_QTY
				( 
					AEPC_ID,SCHEME_ID,PAYMENTMASTER_ID ,IS_ALLOW_TO_MODIFY,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON
				)
				SELECT @AEPC_ID ,SCHEME_ID ,PaymentMode_ID,ISAllow_ToModify,@CREATED_BY,@CREATED_ON,@UPDATED_BY,@UPDATED_ON FROM 	@AUTOEXERCISE_PAYMENTIDWISE_DETAILS
				INSERT INTO #TEMP_FIELD_NAMES
				SELECT
					SYSCOL.NAME COLUMN_NAME, SYSTYP.NAME DATA_TYPE, SYSTYP.NAME, 0, NULL, NULL
				FROM
					SYS.COLUMNS SYSCOL
				INNER JOIN SYS.TABLES SYSTAB ON SYSCOL.OBJECT_ID = SYSTAB.OBJECT_ID 
				INNER JOIN SYS.TYPES SYSTYP ON SYSTYP.SYSTEM_TYPE_ID = SYSCOL.SYSTEM_TYPE_ID
				WHERE 
					SYSTAB.NAME = 'AUTO_EXERCISE_PAYMENT_CONFIG' AND SYSCOL.NAME NOT IN('CREATED_BY','UPDATED_BY','CREATED_ON','UPDATED_ON','AEPC_ID','IS_APPROVE')
				AND SYSTYP.NAME NOT IN('sysname')				
				SET @i = 1

				WHILE (@i <= (SELECT MAX(F_ID) FROM #TEMP_FIELD_NAMES))							
				BEGIN				
					SET @Temp_Field =( SELECT FIELD_NAME FROM #TEMP_FIELD_NAMES WHERE F_ID = @i)	
					SET @SqlString ='SELECT @Old_Value='+@Temp_Field+' FROM #TEMP_AUTO_EXERCISE_PAYMENT_CONFIG_OLD '	
					
					EXEC sp_executesql @SqlString, N'@Old_Value nvarchar(max) output', @Old_Value OUTPUT						 
					SET @SqlString ='SELECT @New_Value='+@Temp_Field+' FROM #TEMP_AUTO_EXERCISE_PAYMENT_CONFIG_NEW'
					EXEC sp_executesql @SqlString, N'@New_Value nvarchar(max) output', @New_Value OUTPUT
				
					IF(@Old_Value <> @New_Value)
						BEGIN				
							IF (@Old_Value  = 'NA')
								BEGIN				
									SET @Isupdated = 2	
								END	
							ELSE
								BEGIN
									SET @Isupdated = 1	
								END
            			END
					ELSE
						BEGIN				
							SET @Isupdated = 2	
						END
	
					UPDATE #TEMP_FIELD_NAMES SET 
						OLD_VALUE =  @Old_Value, NEW_VALUE = @New_Value, IS_UPDATE = @Isupdated, 
						CREATED_BY = @UPDATED_BY, CREATED_ON = @UPDATED_ON
					WHERE F_ID = @i  				
					SET @i=@i+1
					
				END         						
				SET @AEC_ID=(SELECT IDENT_CURRENT('AUTO_EXERCISE_PAYMENT_CONFIG'))	 				
				INSERT INTO AUDIT_TRAIL_SCHEMEAUTOEXERCISE
				(
					AEC_ID, SchemeId, Field_Name, Old_value, New_Value, IS_UpDate, Created_By, Created_On, Updated_By, Updated_On
				)
				SELECT 
					@AEC_ID, @SCHEME_ID, FIELD_NAME, OLD_VALUE, NEW_VALUE, 2, CREATED_BY, CREATED_ON, CREATED_BY, CREATED_ON 
				FROM 
					#TEMP_FIELD_NAMES 
				WHERE 
					IS_UPDATE = 1
									
				DROP TABLE #TEMP_AUTO_EXERCISE_PAYMENT_CONFIG_OLD
				DROP TABLE #TEMP_AUTO_EXERCISE_PAYMENT_CONFIG_NEW
				DROP TABLE #TEMP_FIELD_NAMES
			
			END					
		END
		ELSE IF(UPPER(@ACTION)='DELETE') 
		BEGIN
			IF(@ROWCOUNT >0)									
				UPDATE AUTO_EXERCISE_PAYMENT_CONFIG SET IS_APPROVE=3 WHERE SCHEME_ID=@SCHEME_ID AND IS_APPROVE=1				
		END
		ELSE IF(UPPER(@ACTION)='VIEW') 				
		BEGIN				
			SELECT * FROM AUTO_EXERCISE_PAYMENT_CONFIG
		END
		ELSE IF(UPPER(@ACTION)='GET') 				
		BEGIN
			IF(@ROWCOUNT >0)		
			BEGIN			
				SET @ROWCOUNT = (SELECT MAX(AEPC_ID) FROM AUTO_EXERCISE_PAYMENT_CONFIG WHERE SCHEME_ID = @SCHEME_ID)
				SELECT * FROM AUTO_EXERCISE_PAYMENT_CONFIG WHERE AEPC_ID = @ROWCOUNT
				SELECT * FROM AUTO_EXERCISE_PAYMENTMODE_WISE_UPDATE_QTY Where AEPC_ID = @ROWCOUNT And SCHEME_ID = @SCHEME_ID
			END
		END
	
		COMMIT TRANSACTION	
	
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION		
		select @@ERROR
	END CATCH	
	
	SET NOCOUNT OFF;	
END
GO
