/****** Object:  StoredProcedure [dbo].[PROC_CRUD_CATEGORY_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CRUD_CATEGORY_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CRUD_CATEGORY_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CRUD_CATEGORY_DETAILS]
	@ACTION			CHAR(1),
	@CATEGORYID		VARCHAR(10)  = NULL,
	@FILEID			VARCHAR(10)  = NULL,
	@FILEPATH		VARCHAR(100) = NULL,
	@DESCRIPTION	VARCHAR(100) = NULL,
	@LASTUPDATEDBY	VARCHAR(50)  = NULL,
	@SCHEMENAME     VARCHAR(500) = NULL
AS	
BEGIN
	
	SET NOCOUNT ON;
	
	IF (@ACTION = 'C')
	BEGIN
		
		INSERT INTO UPLOADDETAILS(FileID, CategoryID, FilePath, [Description], LastUpdatedBy, LastUpdatedOn, IsDeleted,SchemeName) 
		VALUES ((SELECT ISNULL(MAX(FileID),0) + 1 as FileID from UploadDetails), @CATEGORYID, @FILEPATH, @DESCRIPTION, @LASTUPDATEDBY, GETDATE(),'0',@SCHEMENAME)
		
		/* commented this code due to changes in requirement
		/*IF EULA FILE IS INSERTED THEN DELETE ALL RECORD FROM EULA_ACCEPTANCE */
		IF EXISTS (SELECT 1 FROM COMPANYMASTER where IS_EULA_SET=0)
			BEGIN
				IF EXISTS (SELECT 1 FROM UPLOADDETAILS UD INNER JOIN CATEGORYMASTER CM ON CM.CATEGORYID = UD.CATEGORYID AND UD.ISDELETED = '0' WHERE CM.CATEGORYID = @CATEGORYID)
					BEGIN
						IF (@CATEGORYID=18)
						BEGIN
							DELETE FROM EULA_ACCEPTANCE WHERE CATEGORY='EULA'
						END
					END
			END
		*/
	END
	
	ELSE IF (@ACTION = 'R')
	BEGIN	
		SELECT 
			CM.CATEGORYID,
			CM.CATEGORYNAME,
			UD.FILEID,UD.FILEPATH,
     		REPLACE(UD.DESCRIPTION,CHAR(39),'') AS DESCRIPTION,
			UD.SCHEMENAME 
		FROM 
			UPLOADDETAILS UD INNER JOIN CATEGORYMASTER CM ON CM.CATEGORYID = UD.CATEGORYID AND UD.ISDELETED = '0'
		WHERE 
			
			CM.CATEGORYID = @CATEGORYID
	END
	
	ELSE IF (@ACTION = 'U')
	BEGIN
		UPDATE 
			UPLOADDETAILS 
		SET 
			CategoryID		= @CATEGORYID,
			FilePath		= @FILEPATH,
			[Description]	= @DESCRIPTION,
			LastUpdatedOn	= GETDATE(),
			LastUpdatedBy	= @LASTUPDATEDBY,
			SchemeName      = @SCHEMENAME 
		WHERE 
			FileID = @FILEID
	END	
	
	ELSE IF (@ACTION = 'D')
	BEGIN
		UPDATE UPLOADDETAILS SET IsDeleted='1' WHERE FileID = @FILEID
	END
	
	ELSE IF (@ACTION = 'S')
	BEGIN
		SELECT DISTINCT(SCHEMEID) SCHEMEID FROM SCHEME WHERE STATUS IN ('A','E')
	END
	
	ELSE IF (@ACTION='G')
	BEGIN
		SELECT 
			CM.CATEGORYID,
			CM.CATEGORYNAME,
			UD.FILEID,UD.FILEPATH,
			UD.DESCRIPTION,
			UD.SCHEMENAME 
		FROM 
			UPLOADDETAILS UD INNER JOIN CATEGORYMASTER CM ON CM.CATEGORYID = UD.CATEGORYID AND UD.ISDELETED = '0'
		WHERE 
			
			ud.FileID = @FILEID
	END
	
	ELSE IF (@ACTION='M')
	BEGIN
		SELECT IS_SCHWISE_DOC_UPLOAD FROM CompanyMaster
	END
	
	SET NOCOUNT ON;
END
GO
