/****** Object:  StoredProcedure [dbo].[PROC_ADJUST_TAX_AFTER_AUTO_PRE_EXERCISE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_ADJUST_TAX_AFTER_AUTO_PRE_EXERCISE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADJUST_TAX_AFTER_AUTO_PRE_EXERCISE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_ADJUST_TAX_AFTER_AUTO_PRE_EXERCISE] 
AS
BEGIN	

	SET NOCOUNT ON;

	BEGIN /* IF ACTUAL TAX CALCULATED */
		
		BEGIN /************ TEMP TABLES *********************/

			CREATE TABLE #TEMP_ACTUAL_TAX_DATA
			(
				PK_TATD_ID BIGINT IDENTITY(1,1),
				TATD_SCHEME_ID NVARCHAR(500), TATD_GRANT_REGISTRATION_ID NVARCHAR(500), TATD_GROUP_NUMBER NVARCHAR(100), TATD_PARENT NVARCHAR(5),
				TATD_GRANT_OPTION_ID NVARCHAR(500), TATD_EXERCISE_ID NVARCHAR(100), TATD_GRANT_LEG_SERIAL_NUMBER NVARCHAR(10), 
				TATD_EXERCISED_QUANTITY NVARCHAR(100), TATD_EXERCISE_PRICE NVARCHAR(50), TATD_EXERCISE_DATE DATETIME, 
				TATD_EMPLOYEE_ID NVARCHAR(500), TATD_GRANTLEG_ID NVARCHAR(10), TATD_EXERCISE_NO NVARCHAR(500),  
				TATD_FMV_PRICE NUMERIC(18,6), TATD_PERQST_VALUE NUMERIC(18,6), TATD_PERQST_PAYABLE NUMERIC(18,6),
				TATD_FINAL_VESTING_DATE DATETIME
			)

			CREATE TABLE #TEMP_ACTUAL_TAX_ADJUSTED
			(
				PK_TATD_ID BIGINT, 
				TATA_SCHEME_ID NVARCHAR(500), TATA_GRANT_REGISTRATION_ID NVARCHAR(500), TATA_GROUP_NUMBER NVARCHAR(100), TATA_PARENT NVARCHAR(5),
				TATA_GRANT_OPTION_ID NVARCHAR(500), TATA_EXERCISE_ID NVARCHAR(100), TATA_GRANT_LEG_SERIAL_NUMBER NVARCHAR(10), 
				TATA_EXERCISED_QUANTITY NVARCHAR(100), TATA_EXERCISE_PRICE NVARCHAR(50), TATA_EXERCISE_DATE DATETIME, 
				TATA_EMPLOYEE_ID NVARCHAR(500), TATA_GRANTLEG_ID NVARCHAR(10), TATA_EXERCISE_NO NVARCHAR(500),  
				TATA_FMV_PRICE NUMERIC(18,6), TATA_PERQST_VALUE NUMERIC(18,6), TATA_PERQST_PAYABLE NUMERIC(18,6),
				TATA_FINAL_VESTING_DATE DATETIME,
				ADJ_ACTUAL_EXERCISE_NO NVARCHAR(100), ADJ_ACTUAL_PERQST_VALUE NUMERIC(18,6), ADJ_ACTUAL_PERQST_PAYABLE NUMERIC(18,6)
			)

			CREATE TABLE #TEMP_ACTUAL_UPDATE_EXERCISE_NO
			(
				TAUEN_GROUP_NO BIGINT, TAUEN_GRANT_LEG_ID BIGINT, TAUEN_EXERCISE_NO NVARCHAR(500)
			)

			CREATE TABLE #TEMP_ACTUAL_EMP_WISE
			(
				PK_TAEW_ID BIGINT IDENTITY(1,1), 
				TAEW_ETD_ID NVARCHAR(500), TAEW_COUNTRY_ID NVARCHAR(500), TAEW_EXERCISE_NO NVARCHAR(500), 
				TAEW_TAX_TITLE NVARCHAR(500), TAEW_TAX_RATE NUMERIC(18,6), TAEW_TAX_AMOUNT NUMERIC(18,6), TAEW_PERQ_VALUE NUMERIC(18,6), 
				TAEW_FROM_DATE DATETIME, TAEW_TO_DATE DATETIME
			)

			CREATE TABLE #TEMP_ACTUAL_EMP_WISE_ADJUSTED
			(
				PK_TAEW_ID BIGINT, 
				TAEWA_ETD_ID NVARCHAR(500), TAEWA_COUNTRY_ID NVARCHAR(500), TAEWA_EXERCISE_NO NVARCHAR(500), 
				TAEWA_TAX_TITLE NVARCHAR(500), TAEWA_TAX_RATE NUMERIC(18,6), TAEWA_TAX_AMOUNT NUMERIC(18,6), TAEWA_PERQ_VALUE NUMERIC(18,6), 
				TAEWA_FROM_DATE DATETIME, TAEWA_TO_DATE DATETIME, 
				ADJ_ACTUAL_TAX_AMOUNT NUMERIC(18,6), ADJ_ACTUAL_PERQ_VALUE NUMERIC(18,6)
			)	

		END /************************************************/

		/* GET ACTUAL TAX DETAILS FORM SHEXERCISEDOPTIONS TABLE */

		INSERT INTO #TEMP_ACTUAL_TAX_DATA
		(
			TATD_SCHEME_ID, TATD_GRANT_REGISTRATION_ID, TATD_GROUP_NUMBER, TATD_PARENT, TATD_GRANT_OPTION_ID, TATD_EXERCISE_ID, TATD_GRANT_LEG_SERIAL_NUMBER, 
			TATD_EXERCISED_QUANTITY, TATD_EXERCISE_PRICE, TATD_EXERCISE_DATE, TATD_EMPLOYEE_ID, TATD_GRANTLEG_ID, TATD_EXERCISE_NO,  
			TATD_FMV_PRICE, TATD_PERQST_VALUE, TATD_PERQST_PAYABLE, TATD_FINAL_VESTING_DATE 
		)
		SELECT 
			GL.SchemeId, GL.GrantRegistrationId, GMOEN.GroupNumber, GMOEN.PARENT, GMOEN.GrantOptionId, SEO.ExerciseId, SEO.GrantLegSerialNumber, 
			SEO.ExercisedQuantity, SEO.ExercisePrice, SEO.ExerciseDate, SEO.EmployeeID, SEO.GrantLegId, SEO.ExerciseNo,
			SEO.FMVPrice, ISNULL(SEO.PerqstValue,0), ISNULL(SEO.PerqstPayable,0), GL.FinalVestingDate
		FROM 
			ShExercisedOptions AS SEO
			LEFT OUTER JOIN GrantLeg AS GL ON GL.ID = SEO.GrantLegSerialNumber
			INNER JOIN GrantMappingOnExNow AS GMOEN ON GMOEN.GrantOptionId = GL.GrantOptionId
		WHERE 
			(SEO.LastUpdatedBy = 'ADMIN') AND (CONVERT(DATE,SEO.LastUpdatedOn) = CONVERT(DATE,GETDATE())) 
			AND (IsAutoExercised IN (1,2)) AND (SEO.FMVPrice IS NOT NULL)
		ORDER BY 
			GMOEN.GroupNumber, GL.GrantLegId ASC, GMOEN.PARENT DESC

		IF((SELECT COUNT(PK_TATD_ID) FROM #TEMP_ACTUAL_TAX_DATA) > 0 )
		BEGIN
			
			/* GET EXERCISE ID GROUP WISE FOR UPDATE EXERCISE NO */

			INSERT INTO #TEMP_ACTUAL_UPDATE_EXERCISE_NO
			(
				TAUEN_GROUP_NO, TAUEN_GRANT_LEG_ID, TAUEN_EXERCISE_NO
			)
			SELECT 
				GroupNumber, GL.GrantLegId, MIN(SEO.ExerciseId) 
			FROM 
				ShExercisedOptions AS SEO
				LEFT OUTER JOIN GrantLeg AS GL ON GL.ID = SEO.GrantLegSerialNumber
				INNER JOIN GrantMappingOnExNow AS GMOEN ON GMOEN.GrantOptionId = GL.GrantOptionId
			WHERE 
				(SEO.LastUpdatedBy = 'ADMIN') AND (CONVERT(DATE,SEO.LastUpdatedOn) = CONVERT(DATE,GETDATE())) 
				AND (IsAutoExercised IN (1,2)) AND (SEO.FMVPrice IS NOT NULL)
			GROUP BY 
				GMOEN.GroupNumber, GL.GrantLegId

			/* CALCULATE ADJUSTED ACTUAL_PERQST_VALUE AND ACTUAL_PERQST_PAYABLE */

			INSERT INTO #TEMP_ACTUAL_TAX_ADJUSTED
			(
				PK_TATD_ID, TATA_SCHEME_ID, TATA_GRANT_REGISTRATION_ID, TATA_GROUP_NUMBER, TATA_PARENT, TATA_GRANT_OPTION_ID, TATA_EXERCISE_ID, 
				TATA_GRANT_LEG_SERIAL_NUMBER, TATA_EXERCISED_QUANTITY, TATA_EXERCISE_PRICE, TATA_EXERCISE_DATE, TATA_EMPLOYEE_ID, 
				TATA_GRANTLEG_ID, TATA_EXERCISE_NO, TATA_FMV_PRICE, TATA_PERQST_VALUE, TATA_PERQST_PAYABLE,
				TATA_FINAL_VESTING_DATE, ADJ_ACTUAL_PERQST_VALUE, ADJ_ACTUAL_PERQST_PAYABLE
			)				
			SELECT TOP 1 
				TATD.PK_TATD_ID, TATD_SCHEME_ID, TATD_GRANT_REGISTRATION_ID, TATD_GROUP_NUMBER, TATD_PARENT, TATD_GRANT_OPTION_ID, TATD_EXERCISE_ID, TATD_GRANT_LEG_SERIAL_NUMBER, 
				TATD.TATD_EXERCISED_QUANTITY, TATD_EXERCISE_PRICE, TATD_EXERCISE_DATE, TATD_EMPLOYEE_ID, TATD_GRANTLEG_ID, TATD_EXERCISE_NO,  
				TATD.TATD_FMV_PRICE, TATD_PERQST_VALUE, TATD_PERQST_PAYABLE, TATD_FINAL_VESTING_DATE, 
				CASE WHEN ((TATD.TATD_PERQST_VALUE <= 0)  AND ((TATD.PK_TATD_ID % 2 ) <> 0)) THEN 0 ELSE TATD.TATD_PERQST_VALUE END AS PERQST_VALUE,
				CASE WHEN ((TATD.TATD_PERQST_PAYABLE <= 0)  AND ((TATD.PK_TATD_ID % 2 ) <> 0)) THEN 0 ELSE TATD.TATD_PERQST_PAYABLE END AS PERQST_PAYABLE  
			FROM 
				#TEMP_ACTUAL_TAX_DATA AS TATD			
			UNION ALL
			SELECT 
				TATD.PK_TATD_ID, TATD.TATD_SCHEME_ID, TATD.TATD_GRANT_REGISTRATION_ID, TATD.TATD_GROUP_NUMBER, TATD.TATD_PARENT, TATD.TATD_GRANT_OPTION_ID, TATD.TATD_EXERCISE_ID, TATD.TATD_GRANT_LEG_SERIAL_NUMBER, 
				TATD.TATD_EXERCISED_QUANTITY, TATD.TATD_EXERCISE_PRICE, TATD.TATD_EXERCISE_DATE, TATD.TATD_EMPLOYEE_ID, TATD.TATD_GRANTLEG_ID, TATD.TATD_EXERCISE_NO,  
				TATD.TATD_FMV_PRICE, TATD.TATD_PERQST_VALUE, TATD.TATD_PERQST_PAYABLE, TATD.TATD_FINAL_VESTING_DATE, 
				CASE WHEN ((TATD.TATD_PERQST_VALUE <= 0) AND (T_ACTUAL_SELF.TATD_PERQST_VALUE > 0) AND ((TATD.PK_TATD_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TATD.TATD_PERQST_VALUE > 0) AND (T_ACTUAL_SELF.TATD_PERQST_VALUE > 0)) THEN TATD.TATD_PERQST_VALUE 
					ELSE T_ACTUAL_SELF.TATD_PERQST_VALUE + TATD.TATD_PERQST_VALUE  END AS PERQST_VALUE,
				CASE WHEN ((TATD.TATD_PERQST_PAYABLE <= 0) AND (T_ACTUAL_SELF.TATD_PERQST_PAYABLE > 0) AND ((TATD.PK_TATD_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TATD.TATD_PERQST_PAYABLE > 0) AND (T_ACTUAL_SELF.TATD_PERQST_PAYABLE > 0)) THEN TATD.TATD_PERQST_PAYABLE 
					ELSE T_ACTUAL_SELF.TATD_PERQST_PAYABLE + TATD.TATD_PERQST_PAYABLE END AS PERQST_PAYABLE
			FROM 
				#TEMP_ACTUAL_TAX_DATA AS TATD
				INNER JOIN #TEMP_ACTUAL_TAX_DATA AS T_ACTUAL_SELF ON T_ACTUAL_SELF.PK_TATD_ID = TATD.PK_TATD_ID - 1	
			
			/* UPDATE EXERCISE NO */
			
			UPDATE 
				TATA SET TATA.ADJ_ACTUAL_EXERCISE_NO =  TAUEN.TAUEN_EXERCISE_NO
			FROM 
				#TEMP_ACTUAL_TAX_ADJUSTED AS TATA
				INNER JOIN #TEMP_ACTUAL_UPDATE_EXERCISE_NO AS TAUEN ON (TAUEN.TAUEN_GROUP_NO = TATA.TATA_GROUP_NUMBER) 
			WHERE 
				(TAUEN.TAUEN_GRANT_LEG_ID = TATA.TATA_GRANTLEG_ID)
			
			/* FINAL OUTPUT FROM INSERT INTO ShExercisedOptions TABLE */

			SELECT
				'ACTUAL_SH_TABLE_TAX', PK_TATD_ID, TATA_SCHEME_ID, TATA_GRANT_REGISTRATION_ID, TATA_GROUP_NUMBER, TATA_GRANT_OPTION_ID, 
				TATA_GRANTLEG_ID, TATA_EXERCISE_ID, TATA_GRANT_LEG_SERIAL_NUMBER, TATA_EXERCISED_QUANTITY, TATA_EXERCISE_PRICE, 
				TATA_EXERCISE_DATE, TATA_EMPLOYEE_ID, TATA_GRANTLEG_ID, TATA_EXERCISE_NO, TATA_FMV_PRICE, TATA_PERQST_VALUE, 
				TATA_PERQST_PAYABLE, TATA_FINAL_VESTING_DATE, ADJ_ACTUAL_EXERCISE_NO, ADJ_ACTUAL_PERQST_VALUE, ADJ_ACTUAL_PERQST_PAYABLE, TATA_PARENT
			FROM 
				#TEMP_ACTUAL_TAX_ADJUSTED

			/* FOR EMPLOYEEWISE TAX CALCULATION */			
			
			INSERT INTO #TEMP_ACTUAL_EMP_WISE
			(
				TAEW_ETD_ID, TAEW_COUNTRY_ID, TAEW_EXERCISE_NO, TAEW_TAX_TITLE, TAEW_TAX_RATE, TAEW_TAX_AMOUNT, 
				TAEW_PERQ_VALUE, TAEW_FROM_DATE, TAEW_TO_DATE
			)
			SELECT 
				ETD_ID, COUNTRY_ID, EXERCISE_NO, Tax_Title, TAX_RATE, TAX_AMOUNT, PERQVALUE, FROM_DATE, TO_DATE 
			FROM 
				EXERCISE_TAXRATE_DETAILS AS ETD
				INNER JOIN  #TEMP_ACTUAL_TAX_DATA AS TATD ON TATD.TATD_EXERCISE_ID = ETD.EXERCISE_NO			
			ORDER BY 
				TATD.TATD_GROUP_NUMBER, ETD.Tax_Title, ETD.TAX_RATE, ETD.COUNTRY_ID, ETD.FROM_DATE, ETD.TO_DATE, ETD.EXERCISE_NO ASC 
				
			/* CALCULATE ADJUSTED ACTUAL_TAX_AMOUNT AND ACTUAL_PERQ_VALUE AMOUNT */

			INSERT INTO #TEMP_ACTUAL_EMP_WISE_ADJUSTED
			(
				PK_TAEW_ID, TAEWA_ETD_ID, TAEWA_COUNTRY_ID, TAEWA_EXERCISE_NO, TAEWA_TAX_TITLE, TAEWA_TAX_RATE, TAEWA_TAX_AMOUNT, TAEWA_PERQ_VALUE, 
				TAEWA_FROM_DATE, TAEWA_TO_DATE, ADJ_ACTUAL_TAX_AMOUNT, ADJ_ACTUAL_PERQ_VALUE
			)			
			SELECT TOP 1 
				TAEW.PK_TAEW_ID, TAEW.TAEW_ETD_ID, TAEW.TAEW_COUNTRY_ID, TAEW.TAEW_EXERCISE_NO, TAEW.TAEW_TAX_TITLE, TAEW.TAEW_TAX_RATE, 
				TAEW.TAEW_TAX_AMOUNT, TAEW.TAEW_PERQ_VALUE, TAEW.TAEW_FROM_DATE, TAEW.TAEW_TO_DATE,
				CASE WHEN ((TAEW.TAEW_TAX_AMOUNT <= 0) AND ((TAEW.PK_TAEW_ID % 2 ) <> 0)) THEN 0 ELSE TAEW.TAEW_TAX_AMOUNT END AS PERQST_VALUE,
				CASE WHEN ((TAEW.TAEW_PERQ_VALUE <= 0) AND ((TAEW.PK_TAEW_ID % 2 ) <> 0)) THEN 0 ELSE TAEW.TAEW_PERQ_VALUE END AS PERQST_PAYABLE  
			FROM 
				#TEMP_ACTUAL_EMP_WISE AS TAEW			
			UNION ALL
			SELECT 
				TAEW.PK_TAEW_ID, TAEW.TAEW_ETD_ID, TAEW.TAEW_COUNTRY_ID, TAEW.TAEW_EXERCISE_NO, TAEW.TAEW_TAX_TITLE, TAEW.TAEW_TAX_RATE, 
				TAEW.TAEW_TAX_AMOUNT, TAEW.TAEW_PERQ_VALUE, TAEW.TAEW_FROM_DATE, TAEW.TAEW_TO_DATE,
				CASE WHEN ((TAEW.TAEW_TAX_AMOUNT <= 0) AND ((TAEW.PK_TAEW_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TAEW.TAEW_TAX_AMOUNT > 0) AND (T_ACTUAL_SELF_EMP.TAEW_TAX_AMOUNT > 0)) THEN TAEW.TAEW_TAX_AMOUNT 
					ELSE T_ACTUAL_SELF_EMP.TAEW_TAX_AMOUNT + TAEW.TAEW_TAX_AMOUNT  END AS TAX_AMOUNT,
				CASE WHEN ((TAEW.TAEW_PERQ_VALUE <= 0)  AND ((TAEW.PK_TAEW_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TAEW.TAEW_PERQ_VALUE > 0) AND (T_ACTUAL_SELF_EMP.TAEW_PERQ_VALUE > 0)) THEN TAEW.TAEW_PERQ_VALUE 
					ELSE T_ACTUAL_SELF_EMP.TAEW_PERQ_VALUE + TAEW.TAEW_PERQ_VALUE END AS PERQ_VALUE
			FROM 
				#TEMP_ACTUAL_EMP_WISE AS TAEW
				INNER JOIN #TEMP_ACTUAL_EMP_WISE AS T_ACTUAL_SELF_EMP ON T_ACTUAL_SELF_EMP.PK_TAEW_ID = TAEW.PK_TAEW_ID - 1	

			/* FINAL OUTPUT FROM INSERT INTO EXERCISE_TAXRATE_DETAILS TABLE */
			SELECT 
				'ACTUAL_EMP_WISE_TAX', PK_TAEW_ID, TAEWA_ETD_ID, TAEWA_COUNTRY_ID, TAEWA_EXERCISE_NO, TAEWA_TAX_TITLE, TAEWA_TAX_RATE, TAEWA_PERQ_VALUE, 
				TAEWA_PERQ_VALUE, TAEWA_FROM_DATE, TAEWA_TO_DATE, ADJ_ACTUAL_TAX_AMOUNT, ADJ_ACTUAL_PERQ_VALUE
			FROM
				#TEMP_ACTUAL_EMP_WISE_ADJUSTED


			BEGIN TRY
				
				BEGIN TRANSACTION
				
				UPDATE 
					SHO SET ExerciseNo = TATA.ADJ_ACTUAL_EXERCISE_NO, PerqstValue = TATA.ADJ_ACTUAL_PERQST_VALUE, PerqstPayable = TATA.ADJ_ACTUAL_PERQST_PAYABLE
				FROM 
					ShExercisedOptions AS SHO
					INNER JOIN #TEMP_ACTUAL_TAX_ADJUSTED AS TATA ON TATA.TATA_EXERCISE_ID = SHO.ExerciseId 
				
				UPDATE 
					ETD SET TAX_AMOUNT = TAEWA.ADJ_ACTUAL_TAX_AMOUNT, PERQVALUE = TAEWA.ADJ_ACTUAL_PERQ_VALUE
				FROM 
					EXERCISE_TAXRATE_DETAILS AS ETD
					INNER JOIN #TEMP_ACTUAL_EMP_WISE_ADJUSTED AS TAEWA ON TAEWA.TAEWA_ETD_ID = ETD.ETD_ID
				
				COMMIT TRANSACTION
			END TRY
			BEGIN CATCH
				ROLLBACK TRANSACTION
			END CATCH

		END		
		
	END

	BEGIN /* IF TENTATIVE TAX CALCULATED */

		BEGIN /************ TEMP TABLES *********************/

			CREATE TABLE #TEMP_TENTATIVE_TAX_DATA
			(
				PK_TEMP_ID BIGINT IDENTITY(1,1),
				TTTD_SCHEME_ID NVARCHAR(500), TTTD_GRANT_REGISTRATION_ID NVARCHAR(500), TTTD_GROUP_NUMBER NVARCHAR(100), TTTD_PARENT NVARCHAR(5),
				TTTD_GRANT_OPTION_ID NVARCHAR(500), TTTD_EXERCISE_ID NVARCHAR(100), TTTD_GRANT_LEG_SERIAL_NUMBER NVARCHAR(10), 
				TTTD_EXERCISED_QUANTITY NVARCHAR(100), TTTD_EXERCISE_PRICE NVARCHAR(50), TTTD_EXERCISE_DATE DATETIME, 
				TTTD_EMPLOYEE_ID NVARCHAR(500), TTTD_GRANTLEG_ID NVARCHAR(10), TTTD_EXERCISE_NO NVARCHAR(500),  
				TTTD_TENTATIVE_FMV_PRICE NUMERIC(18,6), TTTD_TENTATIVE_PERQST_VALUE NUMERIC(18,6), TTTD_TENTATIVE_PERQST_PAYABLE NUMERIC(18,6),
				TTTD_FINAL_VESTING_DATE DATETIME
			)

			CREATE TABLE #TEMP_TENTATIVE_TAX_ADJUSTED
			(
				PK_TEMP_ID BIGINT, 
				TTTA_SCHEME_ID NVARCHAR(500), TTTA_GRANT_REGISTRATION_ID NVARCHAR(500), TTTA_GROUP_NUMBER NVARCHAR(100), TTTA_PARENT NVARCHAR(5),
				TTTA_GRANT_OPTION_ID NVARCHAR(500), TTTA_EXERCISE_ID NVARCHAR(100), TTTA_GRANT_LEG_SERIAL_NUMBER NVARCHAR(10), 
				TTTA_EXERCISED_QUANTITY NVARCHAR(100), TTTA_EXERCISE_PRICE NVARCHAR(50), TTTA_EXERCISE_DATE DATETIME, 
				TTTA_EMPLOYEE_ID NVARCHAR(500), TTTA_GRANTLEG_ID NVARCHAR(10), TTTA_EXERCISE_NO NVARCHAR(500),  
				TTTA_TENTATIVE_FMV_PRICE NUMERIC(18,6), TTTA_TENTATIVE_PERQST_VALUE NUMERIC(18,6), TTTA_TENTATIVE_PERQST_PAYABLE NUMERIC(18,6),
				TTTA_FINAL_VESTING_DATE DATETIME,
				ADJ_EXERCISE_NO NVARCHAR(100), ADJ_PERQST_VALUE NUMERIC(18,6), ADJ_PERQST_PAYABLE NUMERIC(18,6)
			)

			CREATE TABLE #TEMP_TENTATIVE_UPDATE_EXERCISE_NO
			(
				TTUEN_GROUP_NO BIGINT, TTUEN_GRANT_LEG_ID BIGINT, TTUEN_EXERCISE_NO NVARCHAR(500)
			)

			CREATE TABLE #TEMP_TENTATIVE_EMP_WISE
			(
				PK_TTEW_ID BIGINT IDENTITY(1,1), TTEW_ETD_ID NVARCHAR(500), TTEW_COUNTRY_ID NVARCHAR(500), TTEW_EXERCISE_NO NVARCHAR(500), 
				TTEW_TAX_TITLE NVARCHAR(500), TTEW_TAX_RATE NUMERIC(18,6), TTEW_TENTATIVE_TAX_AMOUNT NUMERIC(18,6), TTEW_TENTATIVE_PERQ_VALUE NUMERIC(18,6), 
				TTEW_FROM_DATE DATETIME, TTEW_TO_DATE DATETIME
			)

			CREATE TABLE #TEMP_TENTATIVE_EMP_WISE_ADJUSTED
			(
				PK_TTEW_ID BIGINT, TTEWA_ETD_ID NVARCHAR(500), TTEWA_COUNTRY_ID NVARCHAR(500), TTEWA_EXERCISE_NO NVARCHAR(500), 
				TTEWA_TAX_TITLE NVARCHAR(500), TTEWA_TAX_RATE NUMERIC(18,6), TTEWA_TENTATIVE_TAX_AMOUNT NUMERIC(18,6), TTEWA_TENTATIVE_PERQ_VALUE NUMERIC(18,6), 
				TTEWA_FROM_DATE DATETIME, TTEWA_TO_DATE DATETIME, 
				ADJ_TENTATIVE_TAX_AMOUNT NUMERIC(18,6), ADJ_TENTATIVE_PERQ_VALUE NUMERIC(18,6)
			)

		END /************************************************/

		/* GET TENTATIVE TAX DETAILS FORM SHEXERCISEDOPTIONS TABLE */
		
		INSERT INTO #TEMP_TENTATIVE_TAX_DATA
		(			
			TTTD_SCHEME_ID, TTTD_GRANT_REGISTRATION_ID, TTTD_GROUP_NUMBER, TTTD_PARENT, TTTD_GRANT_OPTION_ID, TTTD_EXERCISE_ID, TTTD_GRANT_LEG_SERIAL_NUMBER, 
			TTTD_EXERCISED_QUANTITY, TTTD_EXERCISE_PRICE, TTTD_EXERCISE_DATE, TTTD_EMPLOYEE_ID, TTTD_GRANTLEG_ID, TTTD_EXERCISE_NO,  
			TTTD_TENTATIVE_FMV_PRICE, TTTD_TENTATIVE_PERQST_VALUE, TTTD_TENTATIVE_PERQST_PAYABLE, TTTD_FINAL_VESTING_DATE
		)
		SELECT 
			GL.SchemeId, GL.GrantRegistrationId, GMOEN.GroupNumber, GMOEN.PARENT, GMOEN.GrantOptionId, SEO.ExerciseId, SEO.GrantLegSerialNumber, 
			SEO.ExercisedQuantity, SEO.ExercisePrice, SEO.ExerciseDate, SEO.EmployeeID, SEO.GrantLegId, SEO.ExerciseNo,
			SEO.TentativeFMVPrice, ISNULL(SEO.TentativePerqstValue,0), ISNULL(SEO.TentativePerqstPayable,0), GL.FinalVestingDate
		FROM 
			ShExercisedOptions AS SEO
			LEFT OUTER JOIN GrantLeg AS GL ON GL.ID = SEO.GrantLegSerialNumber
			INNER JOIN GrantMappingOnExNow AS GMOEN ON GMOEN.GrantOptionId = GL.GrantOptionId
		WHERE 
			(SEO.LastUpdatedBy = 'ADMIN') AND (CONVERT(DATE,SEO.LastUpdatedOn) = CONVERT(DATE,GETDATE())) 
			AND (IsAutoExercised IN (1,2)) AND (SEO.TentativeFMVPrice IS NOT NULL)
		ORDER BY 
			GMOEN.GroupNumber, GL.GrantLegId ASC, GMOEN.PARENT DESC
		
				
		/* ADJUST PERQ TAX AND PERQ PAYABLE */
		
		IF((SELECT COUNT(PK_TEMP_ID) FROM #TEMP_TENTATIVE_TAX_DATA) > 0)
		BEGIN
			
			/* GET EXERCISE ID GROUP WISE FOR UPDATE EXERCISE NO */

			INSERT INTO #TEMP_TENTATIVE_UPDATE_EXERCISE_NO
			(
				TTUEN_GROUP_NO, TTUEN_GRANT_LEG_ID, TTUEN_EXERCISE_NO
			)
			SELECT 
				GroupNumber, GL.GrantLegId, MIN(SEO.ExerciseId) 
			FROM 
				ShExercisedOptions AS SEO
				LEFT OUTER JOIN GrantLeg AS GL ON GL.ID = SEO.GrantLegSerialNumber
				INNER JOIN GrantMappingOnExNow AS GMOEN ON GMOEN.GrantOptionId = GL.GrantOptionId
			WHERE 
				(SEO.LastUpdatedBy = 'ADMIN') AND (CONVERT(DATE,SEO.LastUpdatedOn) = CONVERT(DATE,GETDATE())) 
				AND (IsAutoExercised IN (1,2)) AND (SEO.TentativeFMVPrice IS NOT NULL)
			GROUP BY 
				GMOEN.GroupNumber, GL.GrantLegId

			/* CALCULATE ADJUSTED TENTATIVE_PERQST_VALUE AND TENTATIVE_PERQST_PAYABLE */

			INSERT INTO #TEMP_TENTATIVE_TAX_ADJUSTED 
			(
				PK_TEMP_ID, TTTA_SCHEME_ID, TTTA_GRANT_REGISTRATION_ID, TTTA_GROUP_NUMBER, TTTA_PARENT, TTTA_GRANT_OPTION_ID, TTTA_EXERCISE_ID, 
				TTTA_GRANT_LEG_SERIAL_NUMBER, TTTA_EXERCISED_QUANTITY, TTTA_EXERCISE_PRICE, TTTA_EXERCISE_DATE, TTTA_EMPLOYEE_ID, 
				TTTA_GRANTLEG_ID, TTTA_EXERCISE_NO, TTTA_TENTATIVE_FMV_PRICE, TTTA_TENTATIVE_PERQST_VALUE, TTTA_TENTATIVE_PERQST_PAYABLE,
				TTTA_FINAL_VESTING_DATE, ADJ_PERQST_VALUE, ADJ_PERQST_PAYABLE
			)
			SELECT TOP 1 
				TTTD.PK_TEMP_ID, TTTD.TTTD_SCHEME_ID, TTTD.TTTD_GRANT_REGISTRATION_ID, TTTD.TTTD_GROUP_NUMBER, TTTD.TTTD_PARENT, TTTD.TTTD_GRANT_OPTION_ID, TTTD.TTTD_EXERCISE_ID, 
				TTTD.TTTD_GRANT_LEG_SERIAL_NUMBER, TTTD.TTTD_EXERCISED_QUANTITY, TTTD.TTTD_EXERCISE_PRICE, TTTD.TTTD_EXERCISE_DATE, 
				TTTD.TTTD_EMPLOYEE_ID, TTTD.TTTD_GRANTLEG_ID, TTTD.TTTD_EXERCISE_NO,  
				TTTD.TTTD_TENTATIVE_FMV_PRICE, TTTD.TTTD_TENTATIVE_PERQST_VALUE, TTTD.TTTD_TENTATIVE_PERQST_PAYABLE, TTTD.TTTD_FINAL_VESTING_DATE,
				CASE WHEN ((TTTD.TTTD_TENTATIVE_PERQST_VALUE <= 0)  AND ((TTTD.PK_TEMP_ID % 2 ) <> 0)) THEN 0 ELSE TTTD.TTTD_TENTATIVE_PERQST_VALUE END AS PERQST_VALUE,
				CASE WHEN ((TTTD.TTTD_TENTATIVE_PERQST_PAYABLE <= 0)  AND ((TTTD.PK_TEMP_ID % 2 ) <> 0)) THEN 0 ELSE TTTD.TTTD_TENTATIVE_PERQST_PAYABLE END AS PERQST_PAYABLE  
			FROM 
				#TEMP_TENTATIVE_TAX_DATA AS TTTD			
			UNION ALL
			SELECT 
				TTTD.PK_TEMP_ID, TTTD.TTTD_SCHEME_ID, TTTD.TTTD_GRANT_REGISTRATION_ID, TTTD.TTTD_GROUP_NUMBER, TTTD.TTTD_PARENT, TTTD.TTTD_GRANT_OPTION_ID, TTTD.TTTD_EXERCISE_ID, 
				TTTD.TTTD_GRANT_LEG_SERIAL_NUMBER, TTTD.TTTD_EXERCISED_QUANTITY, TTTD.TTTD_EXERCISE_PRICE, TTTD.TTTD_EXERCISE_DATE, 
				TTTD.TTTD_EMPLOYEE_ID, TTTD.TTTD_GRANTLEG_ID, TTTD.TTTD_EXERCISE_NO,  
				TTTD.TTTD_TENTATIVE_FMV_PRICE, TTTD.TTTD_TENTATIVE_PERQST_VALUE, TTTD.TTTD_TENTATIVE_PERQST_PAYABLE, TTTD.TTTD_FINAL_VESTING_DATE,
				CASE WHEN ((TTTD.TTTD_TENTATIVE_PERQST_VALUE <= 0) AND (TSELF.TTTD_TENTATIVE_PERQST_VALUE > 0) AND ((TTTD.PK_TEMP_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TTTD.TTTD_TENTATIVE_PERQST_VALUE > 0) AND (TSELF.TTTD_TENTATIVE_PERQST_VALUE > 0)) THEN TTTD.TTTD_TENTATIVE_PERQST_VALUE 
					ELSE TSELF.TTTD_TENTATIVE_PERQST_VALUE + TTTD.TTTD_TENTATIVE_PERQST_VALUE  END AS PERQST_VALUE,
				CASE WHEN ((TTTD.TTTD_TENTATIVE_PERQST_PAYABLE <= 0) AND (TSELF.TTTD_TENTATIVE_PERQST_PAYABLE > 0) AND ((TTTD.PK_TEMP_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TTTD.TTTD_TENTATIVE_PERQST_PAYABLE > 0) AND (TSELF.TTTD_TENTATIVE_PERQST_PAYABLE > 0)) THEN TTTD.TTTD_TENTATIVE_PERQST_PAYABLE 
					ELSE TSELF.TTTD_TENTATIVE_PERQST_PAYABLE + TTTD.TTTD_TENTATIVE_PERQST_PAYABLE END AS PERQST_PAYABLE
			FROM 
				#TEMP_TENTATIVE_TAX_DATA AS TTTD
				INNER JOIN #TEMP_TENTATIVE_TAX_DATA AS TSELF ON TSELF.PK_TEMP_ID = TTTD.PK_TEMP_ID - 1			
			
			/* UPDATE EXERCISE NO */
			
			UPDATE 
				TTTA SET TTTA.ADJ_EXERCISE_NO =  TTUEN.TTUEN_EXERCISE_NO
			FROM 
				#TEMP_TENTATIVE_TAX_ADJUSTED AS TTTA
				INNER JOIN #TEMP_TENTATIVE_UPDATE_EXERCISE_NO AS TTUEN ON TTUEN.TTUEN_GROUP_NO = TTTA.TTTA_GROUP_NUMBER 
			WHERE
				(TTUEN.TTUEN_GRANT_LEG_ID = TTTA.TTTA_GRANTLEG_ID)

			/* FINAL OUTPUT FROM INSERT INTO ShExercisedOptions TABLE */
			
			SELECT 
				'TENTATIVE_SH_TABLE_TAX', PK_TEMP_ID, TTTA_SCHEME_ID, TTTA_GRANT_REGISTRATION_ID, TTTA_GROUP_NUMBER, TTTA_GRANT_OPTION_ID, TTTA_EXERCISE_ID, 
				TTTA_GRANT_LEG_SERIAL_NUMBER, TTTA_EXERCISED_QUANTITY, TTTA_EXERCISE_PRICE, TTTA_EXERCISE_DATE, TTTA_EMPLOYEE_ID, 
				TTTA_GRANTLEG_ID, TTTA_EXERCISE_NO, TTTA_TENTATIVE_FMV_PRICE, TTTA_TENTATIVE_PERQST_VALUE, TTTA_TENTATIVE_PERQST_PAYABLE,
				TTTA_FINAL_VESTING_DATE, ADJ_EXERCISE_NO, ADJ_PERQST_VALUE, ADJ_PERQST_PAYABLE, TTTA_PARENT 
			FROM 
				#TEMP_TENTATIVE_TAX_ADJUSTED
		
			/* FOR EMPLOYEEWISE TAX CALCULATION */			
			INSERT INTO #TEMP_TENTATIVE_EMP_WISE
			(
				TTEW_ETD_ID, TTEW_COUNTRY_ID, TTEW_EXERCISE_NO, TTEW_TAX_TITLE, TTEW_TAX_RATE, TTEW_TENTATIVE_TAX_AMOUNT, 
				TTEW_TENTATIVE_PERQ_VALUE, TTEW_FROM_DATE, TTEW_TO_DATE
			)
			SELECT 
				ETD_ID, COUNTRY_ID, EXERCISE_NO, Tax_Title, TAX_RATE, TENTATIVETAXAMOUNT, TENTATIVEPERQVALUE, FROM_DATE, TO_DATE 
			FROM 
				EXERCISE_TAXRATE_DETAILS AS ETD
				INNER JOIN  #TEMP_TENTATIVE_TAX_DATA AS TTTD ON TTTD.TTTD_EXERCISE_ID = ETD.EXERCISE_NO							
			ORDER BY 
				TTTD.TTTD_GROUP_NUMBER, ETD.Tax_Title, ETD.TAX_RATE, ETD.COUNTRY_ID, ETD.FROM_DATE, ETD.TO_DATE, ETD.EXERCISE_NO ASC 
				
			/* CALCULATE ADJUSTED TENTATIVE_TAX_AMOUNT AND TENTATIVE_PERQ_VALUE AMOUNT */

			INSERT INTO #TEMP_TENTATIVE_EMP_WISE_ADJUSTED
			(
				PK_TTEW_ID, TTEWA_ETD_ID, TTEWA_COUNTRY_ID, TTEWA_EXERCISE_NO, TTEWA_TAX_TITLE, TTEWA_TAX_RATE, TTEWA_TENTATIVE_TAX_AMOUNT, 
				TTEWA_TENTATIVE_PERQ_VALUE, TTEWA_FROM_DATE, TTEWA_TO_DATE, ADJ_TENTATIVE_TAX_AMOUNT, ADJ_TENTATIVE_PERQ_VALUE
			)			
			SELECT TOP 1 
				TTEW.PK_TTEW_ID, TTEW.TTEW_ETD_ID, TTEW.TTEW_COUNTRY_ID, TTEW.TTEW_EXERCISE_NO, TTEW.TTEW_TAX_TITLE, TTEW.TTEW_TAX_RATE, 
				TTEW. TTEW_TENTATIVE_TAX_AMOUNT, TTEW.TTEW_TENTATIVE_PERQ_VALUE, TTEW.TTEW_FROM_DATE, TTEW.TTEW_TO_DATE,
				CASE WHEN ((TTEW.TTEW_TENTATIVE_TAX_AMOUNT <= 0) AND ((TTEW.PK_TTEW_ID % 2 ) <> 0)) THEN 0 ELSE TTEW.TTEW_TENTATIVE_TAX_AMOUNT END AS PERQST_VALUE,
				CASE WHEN ((TTEW.TTEW_TENTATIVE_PERQ_VALUE <= 0) AND ((TTEW.PK_TTEW_ID % 2 ) <> 0)) THEN 0 ELSE TTEW.TTEW_TENTATIVE_PERQ_VALUE END AS PERQST_PAYABLE  
			FROM 
				#TEMP_TENTATIVE_EMP_WISE AS TTEW			
			UNION ALL
			SELECT 
				TTEW.PK_TTEW_ID, TTEW.TTEW_ETD_ID, TTEW.TTEW_COUNTRY_ID, TTEW.TTEW_EXERCISE_NO, TTEW.TTEW_TAX_TITLE, TTEW.TTEW_TAX_RATE, 
				TTEW. TTEW_TENTATIVE_TAX_AMOUNT, TTEW.TTEW_TENTATIVE_PERQ_VALUE, TTEW.TTEW_FROM_DATE, TTEW.TTEW_TO_DATE,
				CASE WHEN ((TTEW.TTEW_TENTATIVE_TAX_AMOUNT <= 0) AND ((TTEW.PK_TTEW_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TTEW.TTEW_TENTATIVE_TAX_AMOUNT > 0) AND (TSELF_EMP.TTEW_TENTATIVE_TAX_AMOUNT > 0)) THEN TTEW.TTEW_TENTATIVE_TAX_AMOUNT 
					ELSE TSELF_EMP.TTEW_TENTATIVE_TAX_AMOUNT + TTEW.TTEW_TENTATIVE_TAX_AMOUNT  END AS TENTATIVE_TAX_AMOUNT,
				CASE WHEN ((TTEW.TTEW_TENTATIVE_PERQ_VALUE <= 0)  AND ((TTEW.PK_TTEW_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TTEW.TTEW_TENTATIVE_PERQ_VALUE > 0) AND (TSELF_EMP.TTEW_TENTATIVE_PERQ_VALUE > 0)) THEN TTEW.TTEW_TENTATIVE_PERQ_VALUE 
					ELSE TSELF_EMP.TTEW_TENTATIVE_PERQ_VALUE + TTEW.TTEW_TENTATIVE_PERQ_VALUE END AS TENTATIVE_PERQ_VALUE
			FROM 
				#TEMP_TENTATIVE_EMP_WISE AS TTEW
				INNER JOIN #TEMP_TENTATIVE_EMP_WISE AS TSELF_EMP ON TSELF_EMP.PK_TTEW_ID = TTEW.PK_TTEW_ID - 1	

			/* FINAL OUTPUT FROM INSERT INTO EXERCISE_TAXRATE_DETAILS TABLE */
							
			SELECT 
				'TENTATIVE_EMP_WISE_TAX', PK_TTEW_ID, TTEWA_ETD_ID, TTEWA_COUNTRY_ID, TTEWA_EXERCISE_NO, TTEWA_TAX_TITLE, TTEWA_TAX_RATE, TTEWA_TENTATIVE_TAX_AMOUNT, 
				TTEWA_TENTATIVE_PERQ_VALUE, TTEWA_FROM_DATE, TTEWA_TO_DATE, ADJ_TENTATIVE_TAX_AMOUNT, ADJ_TENTATIVE_PERQ_VALUE
			FROM
				#TEMP_TENTATIVE_EMP_WISE_ADJUSTED	

			
			BEGIN TRY
				
				BEGIN TRANSACTION
				
				UPDATE 
					SHO SET ExerciseNo = TTTA.ADJ_EXERCISE_NO, TentativePerqstValue = TTTA.ADJ_PERQST_VALUE, TentativePerqstPayable = TTTA.ADJ_PERQST_PAYABLE
				FROM 
					ShExercisedOptions AS SHO
					INNER JOIN #TEMP_TENTATIVE_TAX_ADJUSTED AS TTTA ON TTTA.TTTA_EXERCISE_ID = SHO.ExerciseId 

				UPDATE 
					ETD SET TENTATIVETAXAMOUNT = TTEWA.ADJ_TENTATIVE_TAX_AMOUNT, TENTATIVEPERQVALUE = TTEWA.ADJ_TENTATIVE_PERQ_VALUE
				FROM 
					EXERCISE_TAXRATE_DETAILS AS ETD
					INNER JOIN #TEMP_TENTATIVE_EMP_WISE_ADJUSTED AS TTEWA ON TTEWA.TTEWA_ETD_ID = ETD.ETD_ID
				
				COMMIT TRANSACTION
			END TRY
			BEGIN CATCH
				ROLLBACK TRANSACTION
			END CATCH

		END
	END	
			
	SET NOCOUNT OFF;
END
GO
