/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_USER_BROKER_ACCOUNT]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATE_USER_BROKER_ACCOUNT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_USER_BROKER_ACCOUNT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATE_USER_BROKER_ACCOUNT]
(
	@BROKER_ACC_ID							BIGINT,
	@EMPLOYEE_ID							NVARCHAR(50)	= NULL,
	@ACC_NAME								NVARCHAR(50)	= NULL,  
	@COMP_NAME    						    NVARCHAR(200)   = NULL,
	@COMP_ID         						NVARCHAR(200)   = NULL,	
	@ELE_ACC_NUM                            NVARCHAR(200)   = NULL,
	@IsActive                               tinyint           	
)
AS
BEGIN
SET NOCOUNT ON;	
		
		BEGIN		
			SELECT @EMPLOYEE_ID = EmployeeID FROM EmployeeMaster WHERE LoginId = @EMPLOYEE_ID AND Deleted = 0 	
		    IF NOT EXISTS(SELECT EMPLOYEE_BROKER_ACC_ID FROM Employee_UserBrokerDetails WHERE EMPLOYEE_BROKER_ACC_ID <> @BROKER_ACC_ID AND EMPLOYEE_ID =  @EMPLOYEE_ID AND ISNULL(BROKER_DEP_TRUST_CMP_ID,'')=@COMP_ID AND ISNULL(BROKER_ELECT_ACC_NUM,'')=@ELE_ACC_NUM) 		    
		    BEGIN
				 UPDATE 
				    Employee_UserBrokerDetails 
				 SET 
				    ACCOUNT_NAME =@ACC_NAME, BROKER_DEP_TRUST_CMP_NAME=@COMP_NAME, BROKER_DEP_TRUST_CMP_ID=@COMP_ID,
					BROKER_ELECT_ACC_NUM=@ELE_ACC_NUM,  UPDATED_BY= @EMPLOYEE_ID, UPDATED_ON=GETDATE()			    		    
				 WHERE
				    EMPLOYEE_BROKER_ACC_ID=@BROKER_ACC_ID AND IS_ACTIVE =1
			END
			IF @@ROWCOUNT > 0
				SELECT 
					ACCOUNT_NAME, BROKER_DEP_TRUST_CMP_NAME, BROKER_DEP_TRUST_CMP_ID, BROKER_ELECT_ACC_NUM
				FROM Employee_UserBrokerDetails 
				WHERE  EMPLOYEE_BROKER_ACC_ID=@BROKER_ACC_ID AND IS_ACTIVE =1
			ELSE
				SELECT 'F' AS [STATUS], CASE WHEN @@ERROR <> 0 THEN 'Error while update broker account.' ELSE 'Record already exist.' END AS [MESSAGE]
		END	
END	
GO
