/****** Object:  StoredProcedure [dbo].[PROC_DELETE_MOBILITY_VALIDATION]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_DELETE_MOBILITY_VALIDATION]
GO
/****** Object:  StoredProcedure [dbo].[PROC_DELETE_MOBILITY_VALIDATION]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_DELETE_MOBILITY_VALIDATION]
(	
    @DELETEDBY  NVARCHAR(100),
	@Status VARCHAR(20),
	@MESSAGE_OUT NVARCHAR(100) OUTPUT	
)
AS

BEGIN


	IF UPPER(@Status) = 'APPROVE'
	BEGIN
						
		CREATE TABLE #TEMPMOBILITY
		(
			SRNO              INT NULL,
			FIELD             NVARCHAR(100) NOT NULL,
			RECORDID          INT,
			EMPLOYEEID        VARCHAR(50) NULL,
			EMPLOYEENAME      VARCHAR(500) NULL,
			[STATUS]          NVARCHAR(50) NULL,
			ENTITYNAME        VARCHAR(100) NULL,
			FROMDATE          DATE,						
			TODELETE          CHAR,
			REASONFORDELETION VARCHAR (500),
			ISACTIVE          INT NULL,
			CREATED_BY        VARCHAR(50),
			CREATEDON         DATETIME NULL,
			UPDATED_BY        NVARCHAR(100) NULL,
			UPDATEDON         DATETIME NULL,
		)
						
		INSERT INTO #TEMPMOBILITY					
		SELECT * FROM DELETE_EMPLOYEE_MOBILITY_MASSUPLOAD ORDER  BY RECORDID DESC
						
		INSERT INTO DELETE_EMPLOYEE_MOBILITY_MASSUPLOAD_AUDIT
		(
			SRNO, FIELD, EMPLOYEEID, EMPLOYEENAME, [STATUS], CURRENTDETAILS, FROMDATE, MOVETO, FROMDATEOFMOVEMENT, ISERROR, ERRORMESSAGE, 
			TODELETE, REASONFORDELETION, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON
		)									
		SELECT
			AUD.SRNO, AUD.FIELD, AUD.EMPLOYEEID, AUD.EMPLOYEENAME, AUD.[STATUS], AUD.CURRENTDETAILS, AUD.FROMDATE, AUD.[MOVED TO], 
			AUD.[FROM DATE OF MOVEMENT], AUD.ISERROR, AUD.ERRORMESSAGE, DEL.TODELETE, DEL.REASONFORDELETION, 
			AUD.CREATED_BY, AUD.CREATED_ON, @DELETEDBY, GETDATE()
		FROM
			#TEMPMOBILITY DEL
			INNER JOIN AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD AS AUD ON DEL.EMPLOYEEID = AUD.EMPLOYEEID AND DEL.FIELD = AUD.FIELD AND DEL.FROMDATE = AUD.[From Date of Movement] 
		WHERE
			DEL.TODELETE = 'D'
														
		DELETE FROM AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD 
		WHERE SRNO IN (SELECT ATMS.SRNO FROM DELETE_EMPLOYEE_MOBILITY_MASSUPLOAD_AUDIT AUD,AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD AS ATMS WHERE AUD.FromDateOfMovement=ATMS.[From Date of Movement] AND AUD.EmployeeId=ATMS.EmployeeId AND AUD.Field=ATMS.Field)
						
		DELETE FROM   DELETE_EMPLOYEE_MOBILITY_MASSUPLOAD		
		SET @MESSAGE_OUT ='Approve'		
		DROP TABLE #TEMPMOBILITY   		 

	END	
	ELSE IF (UPPER(@Status) = 'DISAPPROVE')
	BEGIN
		DELETE FROM DELETE_EMPLOYEE_MOBILITY_MASSUPLOAD
		SET @MESSAGE_OUT ='Disapprove'					  
	END			   
	SELECT @MESSAGE_OUT	 
END

GO
