/****** Object:  StoredProcedure [dbo].[PROC_GET_CUSTOM_FIELDS_FOR_REG]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_CUSTOM_FIELDS_FOR_REG]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_CUSTOM_FIELDS_FOR_REG]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_CUSTOM_FIELDS_FOR_REG]
	
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT 
		CPD.EmployeeField ,Associate_Control,Datafield,DISPLAY_NAME,ECF.ECF_ID 
	FROM 
		ConfigurePersonalDetails CPD INNER JOIN 
		EMP_CUSTOM_FIELDS ECF ON CPD.EmployeeField=ECF.FIELD_NAME AND CPD.ISEDIT=1
	ORDER BY 
		ECF.ECF_ID
	
	SET NOCOUNT OFF;
END
GO
