/****** Object:  StoredProcedure [dbo].[PROC_GET_MLFV_DATA]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_MLFV_DATA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_MLFV_DATA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_MLFV_DATA]
(
	@FIELD_NAME VARCHAR(200)	
)
AS
BEGIN
     IF(@FIELD_NAME='Tax Identifier Country')
       BEGIN
	    SELECT ROW_NUMBER() OVER (ORDER BY COUNTRYNAME ASC) AS [SR.NO],CM.COUNTRYNAME AS FIELD_VALUE
	    FROM MASTER_LIST_FLD_VALUE MLFV 
		LEFT OUTER JOIN MASTER_LIST_FLD_NAME MLFN ON MLFN.MLFN_ID = MLFV.MLFN_ID
		CROSS JOIN COUNTRYMASTER AS CM
	    WHERE 
			CASE WHEN (UPPER(MLFN.FIELD_NAME)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country' 
			WHEN (UPPER(MLFN.FIELD_NAME)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State'  
		ELSE MLFN.FIELD_NAME END = UPPER(@FIELD_NAME)
		AND	MLFN.IS_TRACKING_ENABLED = 1 AND ISSELECTED = 1	
		
       END
          
      ELSE IF(@FIELD_NAME='Tax Identifier State')
       BEGIN
		SELECT ROW_NUMBER() OVER (ORDER BY COUNTRYNAME ASC) AS [SR.NO],CM.COUNTRYNAME AS FIELD_VALUE,
		dbo.FN_GET_STATES_BY_COUNTRY(CM.ID) AS STATES
	    FROM MASTER_LIST_FLD_VALUE MLFV LEFT OUTER JOIN MASTER_LIST_FLD_NAME MLFN ON MLFN.MLFN_ID = MLFV.MLFN_ID	
		CROSS JOIN CountryMaster AS CM
	    WHERE CASE
	         WHEN (UPPER(MLFN.FIELD_NAME)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country'   
		ELSE MLFN.FIELD_NAME END = UPPER('Tax Identifier Country')
		AND	MLFN.IS_TRACKING_ENABLED = 1 AND ISSELECTED = 1 
		    			  	    
       END  
        
     ELSE  
     BEGIN	
		SELECT	ROW_NUMBER() OVER (ORDER BY FIELD_VALUE ASC) AS [SR.NO],
				MLFV.FIELD_VALUE 
		FROM	MASTER_LIST_FLD_VALUE MLFV
				LEFT OUTER JOIN MASTER_LIST_FLD_NAME MLFN 
					ON MLFN.MLFN_ID = MLFV.MLFN_ID
		WHERE	UPPER(MLFN.FIELD_NAME) = UPPER(@FIELD_NAME)
		AND		MLFN.IS_TRACKING_ENABLED = 1
	 END
	
END
GO
