/****** Object:  StoredProcedure [dbo].[PROC_CHECK_ADS_ENABLED_SCHEMES]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CHECK_ADS_ENABLED_SCHEMES]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CHECK_ADS_ENABLED_SCHEMES]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CHECK_ADS_ENABLED_SCHEMES]
@TYPE VARCHAR(10)  
AS  
BEGIN
	SET NOCOUNT ON;
	DECLARE @IsTrue BIT = 0
	IF(@TYPE='ADMIN')
	BEGIN		
			
		IF EXISTS (SELECT SchemeId FROM Scheme WHERE IS_ADS_SCHEME = 1 UNION SELECT SchemeId FROM ShScheme WHERE IS_ADS_SCHEME = 1)
		BEGIN
			SET @IsTrue = 1
		END
		
		SELECT @IsTrue AS 'ADSSchemeExists'
	END
	ELSE IF(@TYPE='CR')
	BEGIN
		DECLARE @CNT INT = 0
		DECLARE @ADS_ENABLED BIT = 0
		SELECT @CNT = COUNT(SchemeId) FROM Scheme WHERE IS_ADS_SCHEME = 1 AND IS_ADS_EX_OPTS_ALLOWED = 1
		SELECT @ADS_ENABLED = IS_ADS_ENABLED FROM CompanyMaster
		IF(@ADS_ENABLED = 1 AND @CNT > 0)
		BEGIN
			SET @IsTrue = 1
		END
		SELECT @IsTrue AS 'ADSSchemeExists'
	END
	
	SET NOCOUNT OFF;	
END
GO
