/****** Object:  StoredProcedure [dbo].[PROC_GET_ENTITY_FOR_PREVESTING]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_ENTITY_FOR_PREVESTING]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ENTITY_FOR_PREVESTING]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_ENTITY_FOR_PREVESTING]
( 
   
   @GetEntityData  dbo.TYPE_GET_ENTITY_DATA READONLY
)
AS
BEGIN
	SET NOCOUNT ON;
	
		
	CREATE TABLE #TEMP_ENTITY_DATE
	(
		FIELD_NAME NVARCHAR(250), FROM_DATE DATETIME, TO_DATE DATETIME
	)
	
	CREATE TABLE #TEMP_PREVESTINGDATA
	
	(	
		ID INT IDENTITY(1,1) NOT NULL,
	    INSTRUMENT_ID	BIGINT,
		SCHEME_ID		NVARCHAR(250),
		EMPLOYEE_ID  VARCHAR(50),		
		GRANTOPTIONID VARCHAR(50)  NUll,
		GRANTDATE  DATETIME NUll,
		FIELD_NAME NVARCHAR(250),
	)
	
   
	
	CREATE TABLE #TEMP_ENTITY_RESULT
	
	(	
		ID INT IDENTITY(1,1) NOT NULL,
	    INSTRUMENT_ID	BIGINT,
		SCHEME_ID		NVARCHAR(250),
		EMPLOYEE_ID  VARCHAR(50),		
		GRANTOPTIONID VARCHAR(50)  NUll,
		GRANTDATE  DATETIME NULL,
		FIELD_NAME NVARCHAR(250),
		FROM_DATE DATETIME,
		TO_DATE DATETIME
		
	)
	
	 --INSTRUMENT_ID ,SCHEME_ID,EMPLOYEE_ID ,GRANTOPTIONID ,GRANTDATE 
	
		
	INSERT INTO #TEMP_PREVESTINGDATA(INSTRUMENT_ID ,SCHEME_ID,EMPLOYEE_ID ,GRANTOPTIONID ,GRANTDATE,FIELD_NAME )
	SELECT  INSTRUMENT_ID ,SCHEME_ID,EMPLOYEE_ID ,GRANTOPTIONID ,GRANTDATE,FIELDNAME  FROM @GetEntityData  
		
	Print '1'
	DECLARE 	@EMPLOYEE_ID	NVARCHAR(50),
	@FROM_DATE		DATETIME,
	@TO_DATE		DATETIME,
	@FIELD_NAME		NVARCHAR(50),
	@INSTRUMENT_ID	BIGINT,
	@SCHEME_ID		NVARCHAR(250),		
	@GRANTOPTIONID VARCHAR(50) ,
	   
	@MinValue INT ,@MaxValue INT
	
	SELECT @MinValue =min(ID), @MaxValue=MAX(ID) FROM #TEMP_PREVESTINGDATA
	
	
	
	IF EXISTS (SELECT * FROM SYS.tables WHERE UPPER(name) = 'TEMP_ENTITY_RESULT')
	BEGIN
		DROP TABLE TEMP_ENTITY_RESULT
	END
	Print '2'
	
	WHILE(@MinValue<=@MaxValue)
	BEGIN
	BEGIN TRY
		SET @EMPLOYEE_ID=NULL 
		SET @FROM_DATE=NULL 
		SET @TO_DATE=NULL 
		SET @FIELD_NAME=NULL 
		
		
		SELECT @EMPLOYEE_ID=EMPLOYEE_ID,@FROM_DATE=GRANTDATE,@TO_DATE=GRANTDATE ,@FIELD_NAME=FIELD_NAME,
		@INSTRUMENT_ID =INSTRUMENT_ID,	@SCHEME_ID=SCHEME_ID,@EMPLOYEE_ID=EMPLOYEE_ID ,@GRANTOPTIONID=GRANTOPTIONID	
		FROM #TEMP_PREVESTINGDATA
		
		--Select @EMPLOYEE_ID,@FROM_DATE,@TO_DATE,@FIELD_NAME

		INSERT INTO #TEMP_ENTITY_DATE	
		(
			FIELD_NAME, FROM_DATE, TO_DATE
		)
		
		SELECT 
			DISTINCT CurrentDetails, CONVERT(DATETIME, FromDate), CONVERT(DATETIME,To_Date)
		FROM
		(
		-- CASE 1
			SELECT TblFirst.[Moved To] AS CurrentDetails, TblFirst.FromDate, TblFirst.To_Date FROM 
			(
	
				SELECT CurrentDetails,	[From Date of Movement] AS FromDate, [Moved To],
				( 
					SELECT 
						TOP 1 [From Date of Movement] FROM AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD
					WHERE 
						EmployeeId = @EMPLOYEE_ID AND UPPER(Field) = UPPER(@FIELD_NAME) 
						AND (CONVERT(DATE, [FromDate]) <= CONVERT(DATE, @From_Date)) AND (FromDate IS NOT NULL)
				) AS To_Date
				FROM 
					AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD 
				WHERE 
					EmployeeId = @EMPLOYEE_ID AND UPPER(Field) = UPPER(@FIELD_NAME) AND FromDate IS NULL
			) As TblFirst
			WHERE 
				CONVERT(DATE,[FromDate]) <= CONVERT(DATE,@From_Date) AND  CONVERT(DATE,[To_date]) >= CONVERT(DATE,@To_Date)
		UNION ALL 
		-- CASE 1 END
		-- CASE 2
		SELECT 
			CurrentDetails, FromDate, [From Date of Movement] AS To_Date
		FROM 
			AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD 
		WHERE 
			EmployeeId = @EMPLOYEE_ID AND UPPER(Field) = UPPER(@FIELD_NAME) 
			AND (CONVERT(DATE,[FromDate]) >= CONVERT(DATE,@From_Date) AND CONVERT(DATE,[From Date of Movement]) <= CONVERT(DATE,@To_Date))
		-- CASE 2 END
		Union All
		-- CASE 3 
		SELECT TOP 1 TblLast.[Moved To] AS CurrentDetails,TblLast.FromDate,TblLast.To_Date FROM 
		(
			SELECT 
				CurrentDetails, [From Date of Movement] AS FromDate, [Moved To],
				CASE WHEN (CONVERT(DATE,[From Date of Movement]) >= CONVERT(DATE, @FROM_DATE)) AND (CONVERT(DATE,[From Date of Movement]) <= CONVERT(DATE, @TO_DATE)) THEN CONVERT(DATE, @TO_DATE) END AS TO_DATE
			FROM 
				AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD 
			WHERE 
				EmployeeId = @EMPLOYEE_ID AND UPPER(Field) = UPPER(@FIELD_NAME) 
		) As TblLast
		WHERE
			([FromDate] <= CASE WHEN TO_DATE IS NULL THEN CONVERT(DATE,@TO_DATE) ELSE TO_DATE END)	 
		ORDER BY 
			[FromDate] DESC
		-- CASE 3  END
		) As MobilityTracking	
	
		INSERT INTO #TEMP_ENTITY_RESULT(INSTRUMENT_ID,SCHEME_ID,EMPLOYEE_ID ,GRANTOPTIONID ,GRANTDATE ,FIELD_NAME,FROM_DATE, TO_DATE)
		SELECT TOP 1 
			@INSTRUMENT_ID ,@SCHEME_ID,@EMPLOYEE_ID,@GRANTOPTIONID,@FROM_DATE,TC.FIELD_NAME, TC.FROM_DATE, TC.TO_DATE
		FROM 
			#TEMP_ENTITY_DATE TC		
		ORDER BY 
			FROM_DATE
			
		DELETE FROM #TEMP_ENTITY_DATE
		
		END TRY
		BEGIN CATCH
			SELECT 'Error'
			RETURN 0
		END CATCH
	SET @MinValue=@MinValue+1
	END -- End While
	
	
   	SELECT ID,INSTRUMENT_ID,SCHEME_ID,EMPLOYEE_ID ,GRANTOPTIONID ,GRANTDATE ,FIELD_NAME,FROM_DATE, TO_DATE
   	INTO TEMP_ENTITY_RESULT FROM #TEMP_ENTITY_RESULT
 	
 	
 	
 	DROP TABLE #TEMP_ENTITY_RESULT
 	DROP TABLE #TEMP_PREVESTINGDATA
 	
 	DROP TABLE #TEMP_ENTITY_DATE
	
	SET NOCOUNT OFF;
END
GO
