/****** Object:  StoredProcedure [dbo].[PROC_GETPUP_EXERCISE_APPROVAL]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GETPUP_EXERCISE_APPROVAL]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GETPUP_EXERCISE_APPROVAL]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GETPUP_EXERCISE_APPROVAL]
AS
BEGIN
	DECLARE @USERID NVARCHAR(100) = NULL,
			@REASON NVARCHAR(200) = NULL
	/**************************
		Table 1: PUP Exercise Approval records
		Table 2: Lot Number
		Table 3: Count of Total records
	***************************/	
	SELECT	SHE.EXERCISEID [EXERCISE ID],
				SHE.EXERCISENO [EXERCISE NO],
				EM.EMPLOYEEID [EMPLOYEE ID],
				SHE.GRANTLEGSERIALNUMBER [GRANTLEGSERIALNUMBER],
				EM.EMPLOYEENAME [EMPLOYEE NAME],
				CONVERT(DATE,SHE.EXERCISEDATE) AS  [EXERCISE DATE],
				SC.SCHEMEID [SCHEME TITLE],
				GR.GRANTREGISTRATIONID [GRANT REGISTRATION ID],
				GOPS.GRANTOPTIONID [GRANT OPTION ID],
				CONVERT(DATE,GR.GRANTDATE) [GRANT DATE],
				SHE.EXERCISEDQUANTITY [PUP OPTIONS EXERCISED],
				GR.EXERCISEPRICE [EXERCISE PRICE], 		
				SHE.FMVPRICE [SETTLED AT PRICE / PAYOUT PRICES /PUP FMV],
				0 [PAYOUT VALUE],			
				SHE.PERQSTVALUE [PERQUISITE VALUE],
				SHE.PERQSTPAYABLE [PERQUISITE TAX],
				CASE WHEN SHE.VALIDATIONSTATUS='V' THEN 'VALID'
					 WHEN SHE.VALIDATIONSTATUS='I' THEN 'INVALID'
				END [UPDATE PAYOUT],
				SHE.LOTNUMBER AS LOTNUMBER,
				SHE.PAYMENTMODE [PAYMENTMODE],
				SHE.CASH,
				SHE.SHARESISSUEDDATE [PayoutDate],			   
				0[ISERROR],
				@REASON [REASON],
				@USERID [USERID]
				
		FROM	SHEXERCISEDOPTIONS SHE
				INNER JOIN GRANTLEG GL
					ON GL.ID = SHE.GRANTLEGSERIALNUMBER
				INNER JOIN GRANTOPTIONS GOPS
					ON GOPS.GRANTOPTIONID = GL.GRANTOPTIONID
				INNER JOIN GRANTREGISTRATION GR
					ON GR.GRANTREGISTRATIONID = GL.GRANTREGISTRATIONID
				INNER JOIN SCHEME SC
					ON SC.SCHEMEID = GL.SCHEMEID 
				INNER JOIN EMPLOYEEMASTER EM
					ON EM.EMPLOYEEID = GOPS.EMPLOYEEID		
		WHERE	LOTNUMBER IS NOT NULL 
		AND		UPPER(SHE.CASH)='PUP' 
		AND		SC.ISPUPENABLED=1 
		AND		SC.PUPEXEDPAYOUTPROCESS=1		
		ORDER BY EM.EMPLOYEEID ASC, EM.EMPLOYEENAME
	SELECT DISTINCT LOTNUMBER FROM SHEXERCISEDOPTIONS WHERE ISMASSUPLOAD='N' AND LOTNUMBER IS NOT NULL AND CASH='PUP'
	SELECT COUNT(VALIDATIONSTATUS) FROM SHEXERCISEDOPTIONS WHERE VALIDATIONSTATUS='I'
END
GO
