/****** Object:  StoredProcedure [dbo].[PROC_GETUSERTYPE]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GETUSERTYPE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GETUSERTYPE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GETUSERTYPE]
(
@USER_ID VARCHAR(250)
)
AS
BEGIN
SET NOCOUNT ON;

	SELECT UT.USERTYPEID,UT.USERTYPENAME FROM USERMASTER AS UM
	INNER JOIN ROLEMASTER AS RM ON UM.ROLEID = RM.ROLEID
	INNER JOIN USERTYPE AS UT ON RM.USERTYPEID = UT.USERTYPEID
	WHERE  USERID = @USER_ID 

END
GO
