/****** Object:  StoredProcedure [dbo].[PROC_PUP_GRSUMRY_VALUE_REPORT]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_PUP_GRSUMRY_VALUE_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_PUP_GRSUMRY_VALUE_REPORT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_PUP_GRSUMRY_VALUE_REPORT]
AS
BEGIN
	DECLARE @FROM_DATE		DATE ='1990-01-01',
			@TO_DATE		DATE = CONVERT(DATE,GETDATE()),
			@DisplayParm	NCHAR = 'S',
			@WHERE_CLAUSE	NVARCHAR(MAX),
			@QUERY			NVARCHAR(MAX)
	
		CREATE TABLE #TEMP_SP_REPORTDATA
		(
			OPTIONSGRANTED		NUMERIC(10,0),
			OPTIONSVESTED		NUMERIC(10,0),
			OPTIONSEXERCISED	NUMERIC(10,0),
			OPTIONSCANCELLED	NUMERIC(10,0),
			OPTIONSLAPSED		NUMERIC(10,0),
			OPTIONSUNVESTED		NUMERIC(10,0),
			UNAPPROVEDQTY		NUMERIC(10,0),
			GRANTOPTIONID		NVARCHAR(200),
			GRANTLEGID			TINYINT,
			SCHEMEID			NVARCHAR(200),
			GRANTREGID			NVARCHAR(150),
			EMPLOYEEID			NVARCHAR(150),
			EMPLOYEENAME		NVARCHAR(200),
			SBU					NVARCHAR(200),
			ACCOUNTNO			NVARCHAR(50),
			PANNUMBER			NVARCHAR(15),
			ENTITY				NVARCHAR(200),
			[STATUS]			NVARCHAR(15),
			GRANTDATE			DATE,
			VESTINGTYPE			NVARCHAR(30),
			EXERCISEPRICE		NUMERIC(10,2),
			VESTINGDATE			DATE,
			EXPIRYDATE			DATE,
			PARENT_NOTE			NVARCHAR(20),
			GRNTLEG_SRNO		NUMERIC(10,0),
			PUPEXEDPAYOUTPROC	NVARCHAR(10),
			PAYOUTAMOUNT		NUMERIC(18,2),
			PERQVALUE			NVARCHAR(20),
			PERQTAX				NVARCHAR(20),
			PAYOUTDATE			DATE,
			VESTTYPE			NCHAR,
			UnvestedCancelled	NUMERIC(18,2), 
			VestedCancelled		NUMERIC(18,2)
		)
		INSERT INTO #TEMP_SP_REPORTDATA
				(OPTIONSGRANTED,OPTIONSVESTED,OPTIONSEXERCISED,OPTIONSCANCELLED,
				 OPTIONSLAPSED,OPTIONSUNVESTED,UNAPPROVEDQTY,GRANTOPTIONID,
				 GRANTLEGID,SCHEMEID,GRANTREGID,EMPLOYEEID,EMPLOYEENAME,SBU,ACCOUNTNO,
				 PANNUMBER,ENTITY,[STATUS],GRANTDATE,VESTINGTYPE,EXERCISEPRICE,
				 VESTINGDATE,EXPIRYDATE,PARENT_NOTE, UnvestedCancelled, VestedCancelled)
		EXEC SP_REPORT_DATA '1990-01-01',@TO_DATE,NULL,'S'
		
		UPDATE #TEMP_SP_REPORTDATA SET VESTTYPE = CASE WHEN VESTINGTYPE ='Time Based' THEN 'T' WHEN VESTINGTYPE ='Performance Based' THEN 'P' END
		
	
		
		CREATE TABLE #TEMP_EXEDDATA
		(
			GRANTLEGSRNO			NUMERIC(18,0),
			EXERCISEDQTY			NUMERIC(18,0),
			EXERCISEDID				NUMERIC(18,0),
			SPLITEXERCISEDQTY		NUMERIC(18,0),
			BONUSSPLITEXERCISEDQTY	NUMERIC(18,0),
			PAYOUTAMOUNT			NUMERIC(18,2),
			PERQVALUE				NUMERIC(18,2),
			PERQTAX					NUMERIC(18,2),
			PAYOUTDATE				DATE,			
			EXERCISEDDATE			DATE,
			REMARK					NCHAR(5)
		)
		INSERT INTO #TEMP_EXEDDATA (GRANTLEGSRNO,EXERCISEDID,EXERCISEDQTY,SPLITEXERCISEDQTY,BONUSSPLITEXERCISEDQTY,
					PAYOUTAMOUNT,PERQVALUE,PERQTAX,PAYOUTDATE,EXERCISEDDATE,REMARK)
		SELECT GL.ID,E.ExercisedId,E.ExercisedQuantity,E.SplitExercisedQuantity,E.BonusSplitExercisedQuantity ,
				CASE WHEN SC.PUPEXEDPAYOUTPROCESS= 1 THEN E.PerqstValue
				ELSE ST.AmountPaid END AS PAYOUTAMOUNT, 0 PERQVALUE,0 PERQTAX, 
				E.SharesIssuedDate, 
				E.ExercisedDate,
				CASE WHEN SC.PUPEXEDPAYOUTPROCESS= 1 THEN 'EX'
				ELSE 'STD' END AS PAYOUTAMOUNT		
		FROM #TEMP_SP_REPORTDATA T 
			INNER JOIN SCHEME SC
				ON SC.SCHEMEID = T.SCHEMEID AND SC.ISPUPENABLED = 1
			INNER JOIN GrantLeg GL
				ON GL.GrantOptionId = T.GRANTOPTIONID AND GL.GrantLegId = T.GRANTLEGID AND T.VESTTYPE = GL.VestingType
			LEFT JOIN Exercised E
				ON E.GrantLegSerialNumber = GL.ID
			LEFT JOIN ShTransactionDetails ST
				ON ST.ExerciseNo = E.ExercisedId
		WHERE T.OPTIONSEXERCISED > 0 
	
	
	
		SELECT * INTO #FINAL_TABLE FROM 
		(SELECT 
				ROW_NUMBER() OVER (ORDER BY T.SCHEMEID, T.EMPLOYEEID, T.EMPLOYEENAME) TEMP_ID,
				T.SCHEMEID AS [PLAN NAME],
				T.EMPLOYEEID,
				T.EMPLOYEENAME,
				T.[STATUS] AS [EMPLOYEESTATUS],
				REPLACE(CONVERT(NVARCHAR(10),T.GRANTDATE,111),'/','-') AS GRANTDATE,
				T.GRANTLEGID,
				T.GRANTREGID AS [PUPGRANTID], 
				T.GRANTOPTIONID AS [PUPID], 
				T.VESTINGTYPE AS [VESTINGTYPE], 
				REPLACE(CONVERT(NVARCHAR(10),T.VESTINGDATE,111),'/','-') AS VESTINGDATE, 
				REPLACE(CONVERT(NVARCHAR(10),T.EXPIRYDATE,111),'/','-') AS EXPIRYDATE, 
				T.EXERCISEPRICE, 
				T.OPTIONSGRANTED [GRANTEDUNITS], 
				T.OPTIONSVESTED  + T.UNAPPROVEDQTY [VESTEDUNITS], 
				T.OPTIONSUNVESTED [UNVESTEDUNITS], 
				T.OPTIONSEXERCISED [EXERCISEDUNITS], 
				T.OPTIONSCANCELLED [UNITSCANCELLED],
				T.OPTIONSLAPSED [UNITSLAPSED],
				--T.UNAPPROVEDQTY [UNAPPROVEDQTY],
				T.[PARENT_NOTE],						
				GL.ID AS GrantLegSerialNumber, 
				NULL AS EXERCISEDID,
				0 AS  EXERCISEDQUANTITY,
				0 AS SPLITEXERCISEDQUANTITY,
				0 AS BONUSSPLITEXERCISEDQUANTITY,
				0 AS PAYOUTAMOUNT, 
				0 AS PERQSTVALUE, 
				0 AS PERQSTTAX,
				REPLACE(CONVERT(NVARCHAR(10),'1990/01/01',111),'/','-') AS PAYOUTDATE
			FROM #TEMP_SP_REPORTDATA T
				 INNER JOIN SCHEME SC
					ON SC.SCHEMEID = T.SCHEMEID AND SC.ISPUPENABLED = 1
				 INNER JOIN GrantLeg GL
					ON GL.GrantOptionId = T.GRANTOPTIONID AND GL.GrantLegId = T.GRANTLEGID AND T.VESTTYPE = GL.VestingType
			WHERE T.OPTIONSEXERCISED = 0 
		UNION ALL
		SELECT  
				ROW_NUMBER() OVER (ORDER BY T.SCHEMEID, T.EMPLOYEEID, T.EMPLOYEENAME) TEMP_ID,
				T.SCHEMEID AS [PLAN NAME],
				T.EMPLOYEEID,
				T.EMPLOYEENAME,
				T.[STATUS] AS [EMPLOYEESTATUS],
				REPLACE(CONVERT(NVARCHAR(10),T.GRANTDATE,111),'/','-') AS GRANTDATE,
				T.GRANTLEGID,
				T.GRANTREGID AS [PUPGRANTID], 
				T.GRANTOPTIONID AS [PUPID], 
				T.VESTINGTYPE AS [VESTINGTYPE], 
				REPLACE(CONVERT(NVARCHAR(10),T.VESTINGDATE,111),'/','-') AS VESTINGDATE, 
				REPLACE(CONVERT(NVARCHAR(10),T.EXPIRYDATE,111),'/','-') AS EXPIRYDATE, 
				T.EXERCISEPRICE, 
				T.OPTIONSGRANTED [GRANTEDUNITS], 
				T.OPTIONSVESTED  + T.UNAPPROVEDQTY [VESTEDUNITS], 
				T.OPTIONSUNVESTED [UNVESTEDUNITS], 
				T.OPTIONSEXERCISED [EXERCISEDUNITS], 
				T.OPTIONSCANCELLED [UNITSCANCELLED],
				T.OPTIONSLAPSED [UNITSLAPSED],
				--T.UNAPPROVEDQTY [UNAPPROVEDQTY],
				T.[PARENT_NOTE], 
				TE.GRANTLEGSRNO AS GrantLegSerialNumber,
				TE.EXERCISEDID AS EXERCISEDID, 
				TE.EXERCISEDQTY AS  EXERCISEDQUANTITY,
				TE.SPLITEXERCISEDQTY AS SPLITEXERCISEDQUANTITY,
				TE.BONUSSPLITEXERCISEDQTY AS BONUSSPLITEXERCISEDQUANTITY,
				TE.PAYOUTAMOUNT AS PAYOUTAMOUNT, 
				TE.PERQVALUE AS PERQSTVALUE, 
				TE.PERQTAX AS PERQSTTAX,
				REPLACE(CONVERT(NVARCHAR(10),TE.PAYOUTDATE,111),'/','-') AS PAYOUTDATE			
		FROM #TEMP_SP_REPORTDATA T 
				INNER JOIN SCHEME SC
					ON SC.SCHEMEID = T.SCHEMEID AND SC.ISPUPENABLED = 1
				
				INNER JOIN GrantLeg GL
					ON GL.GrantOptionId = T.GRANTOPTIONID AND GL.GrantLegId = T.GRANTLEGID AND T.VESTTYPE = GL.VestingType
				LEFT JOIN #TEMP_EXEDDATA TE
					ON TE.GRANTLEGSRNO = GL.ID
		WHERE T.OPTIONSEXERCISED > 0)  FinalTable

		
		EXECUTE('SELECT * FROM #FINAL_TABLE ')
	
		DROP TABLE  #TEMP_SP_REPORTDATA
		DROP TABLE  #TEMP_EXEDDATA	
END
GO
