/****** Object:  StoredProcedure [dbo].[PROC_GetExerciseTemplateDetails]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GetExerciseTemplateDetails]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GetExerciseTemplateDetails]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GetExerciseTemplateDetails]
(
  @COUNTRY_WISE NVARCHAR(50),
  @MIT_ID INT
)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
	SET NOCOUNT ON;

    IF(@COUNTRY_WISE = 'RESIDENTIAL_STATUS')
    BEGIN
	SELECT RP.ID AS ID
            ,RT.DESCRIPTION AS RESIDENTIALTYPE
			,PM.PAYMODENAME AS PAYMODENAME
			,RP.TEMPLATENAME			
		FROM RESIDENTIALPAYMENTMODE RP
		INNER JOIN RESIDENTIALTYPE RT ON RP.RESIDENTIALTYPE_ID = RT.ID
		INNER JOIN PAYMENTMASTER PM ON RP.PAYMENTMASTER_ID = PM.ID
		WHERE ISACTIVATED = 'Y' AND MIT_ID = @MIT_ID
		ORDER BY RT.ID
	END
	ELSE IF(@COUNTRY_WISE = 'COUNTRY_WISE')
	BEGIN
	   SELECT CWPM.CWPM_ID AS ID, 
	          CM.COUNTRYNAME, 
	          MS.STATE_NAME, 
	          PM.PAYMODENAME AS PAYMODENAME,
	          CWPM.TEMPLATE_NAME 
	   FROM COUNTRY_WISE_PAYMENT_MODE CWPM 
            INNER JOIN COUNTRYMASTER CM ON CWPM.COUNTRY_ID = CM.ID
            INNER JOIN MST_STATES MS ON CWPM.STATE_ID = MS.MS_ID
		    INNER JOIN PAYMENTMASTER PM ON CWPM.PAYMENTMASTER_ID = PM.ID
	   WHERE MIT_ID = @MIT_ID
	   ORDER BY CWPM.CWPM_ID
	END	
		
	SET NOCOUNT OFF;
END
GO
