/****** Object:  StoredProcedure [dbo].[PROC_GET_SAR_PRICE_FORMULA]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_SAR_PRICE_FORMULA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_SAR_PRICE_FORMULA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[PROC_GET_SAR_PRICE_FORMULA]
	(	 
		@FFC_ID					BIGINT =NULL,
		@MIT_ID					BIGINT =NULL,
		@FORMULA_CONFIG_TYPE	NVARCHAR(50)=NULL,
		@IS_TRADINGDAYS			TinyINT =NULL,
		@SAR_FORMULA			NVARCHAR(100)=NULL,
		@SCHEME_ID				NVARCHAR(100)=NULL,
		@CREATED_BY				NVARCHAR(50)=NULL,
		@ACTION					NVARCHAR(50)
		
		
		
	 )
AS
BEGIN
	SET NOCOUNT ON;
	
	BEGIN TRY		
	--	BEGIN TRANSACTION
				
		DECLARE @APPLICABLE_TO_DATE DATETIME 
		DECLARE @APP_FROM_DATE DATETIME
		DECLARE @SAR_APPLICABLE_FROM_DATE DATETIME
		DECLARE @SAR_COMP_ID INT = 0
		DECLARE @TABLENAME NVARCHAR(50)= NULL
		DECLARE @FFCID INT = 0
		DECLARE	@LOCKINGDATE DATETIME
		
				IF(UPPER(@SAR_FORMULA)='SAMEASFMV' OR UPPER(@SAR_FORMULA)='BASEDONTRANSACTIONDATE')
				BEGIN
														
					SELECT FFC_ID, FORNULA_NAME,MIT_ID,IS_TRADINGDAYS,TRANS_DATE_ID,PRICE_DAY_ID,MSE_ID,TRADING_VOL_ID,STOCK_PRICE_ID,PRICE_PERIOD,PRICE_PERIOD_DAY, REPLACE(CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106),' ','/') AS APPLICABLE_FROM_DATE,REPLACE(CONVERT(VARCHAR, APPLICABLE_TO_DATE,101),' ','/') AS APPLICABLE_TO_DATE,
						   SAR_FORMULA
					FROM   FMV_FORMULA_CONFIG	FFC
					WHERE  FFC.FORMULA_CONFIG_TYPE = 'SARFMV' AND FFC.SAR_FORMULA=@SAR_FORMULA AND SCHEME_ID=@SCHEME_ID AND FFC.IS_TRADINGDAYS=@IS_TRADINGDAYS AND MIT_ID=@MIT_ID AND IS_FORMULA_APPLIED=1
					ORDER BY FFC_ID DESC		
					
					/*Check 'FMV Formula' Exist For Instrument*/
					SELECT FFC_ID, FORNULA_NAME,MIT_ID,IS_TRADINGDAYS,TRANS_DATE_ID,PRICE_DAY_ID,MSE_ID,TRADING_VOL_ID,STOCK_PRICE_ID,PRICE_PERIOD,PRICE_PERIOD_DAY, REPLACE(CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106),' ','/') AS APPLICABLE_FROM_DATE,REPLACE(CONVERT(VARCHAR, APPLICABLE_TO_DATE,101),' ','/') AS APPLICABLE_TO_DATE,
						   SAR_FORMULA
					FROM   FMV_FORMULA_CONFIG	FFC
					WHERE  FFC.FORMULA_CONFIG_TYPE = 'FMV' AND FFC.MIT_ID=@MIT_ID
					ORDER BY FFC_ID DESC
					
				END
				ELSE IF(UPPER(@SAR_FORMULA)='BASEDONCOMPARATIVE' OR UPPER(@SAR_FORMULA)='BasedOnComparativeFormula')
				BEGIN
															
					SELECT SCFC_ID, MIT_ID , SCHEME_ID, IS_TRADINGDAYS, CONVERT(DECIMAL(18,2),PERCENT_VALUE_1) AS PERCENT_VALUE_1, PERCENT_VALUE_ON_1, CONVERT(DECIMAL(18,2),PERCENT_VALUE_2) AS PERCENT_VALUE_2,
						   PERCENT_VALUE_ON_2, ON_LEVEL, CONVERT(DECIMAL(18,2),ON_LEVEL_VALUE)AS ON_LEVEL_VALUE, APPLY_MAX_CAP, CONSIDER, REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE, APPLICABLE_TO_DATE,
						   FORNULA_NAME, IS_FORMULA_APPLIED, MSE_ID_1, MSE_ID_2, FORMULA_DESCRIPTION,TRANS_DATE_ID,SAR_TRANS_DATE_ID_1,SAR_TRANS_DATE_ID_2 
					FROM   SAR_COMPARE_FORMULA_CNFG	SCFC
					WHERE  SCHEME_ID=@SCHEME_ID AND SCFC.IS_TRADINGDAYS=@IS_TRADINGDAYS AND MIT_ID=@MIT_ID  AND IS_FORMULA_APPLIED=1
					ORDER BY SCFC_ID DESC		
					
					
					/*Check 'Transaction based Formula' Exist For Instrument*/
					SELECT FFC_ID, FORNULA_NAME,MIT_ID,IS_TRADINGDAYS,TRANS_DATE_ID,PRICE_DAY_ID,MSE_ID,TRADING_VOL_ID,STOCK_PRICE_ID,PRICE_PERIOD,PRICE_PERIOD_DAY, REPLACE(CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106),' ','/') AS APPLICABLE_FROM_DATE,REPLACE(CONVERT(VARCHAR, APPLICABLE_TO_DATE,101),' ','/') AS APPLICABLE_TO_DATE,
						   SAR_FORMULA
					FROM   FMV_FORMULA_CONFIG	FFC
					WHERE  FFC.FORMULA_CONFIG_TYPE = 'SARFMV' AND FFC.MIT_ID=@MIT_ID AND IS_FORMULA_APPLIED=1
					ORDER BY FFC_ID DESC
				
				END
				ELSE IF(UPPER(@SAR_FORMULA)='MASSUPLOAD')
				BEGIN
				SELECT * FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID AND IS_FORMULA_APPLIED=1
				END
		--END
		
	--	COMMIT TRANSACTION	
	END TRY
	BEGIN CATCH
	--	ROLLBACK TRANSACTION
		RETURN 0
	END CATCH
	SET NOCOUNT OFF;
END
GO
