/****** Object:  StoredProcedure [dbo].[PROC_GET_OTP_APPLICABLE_USER_LIST]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_OTP_APPLICABLE_USER_LIST]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_OTP_APPLICABLE_USER_LIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_OTP_APPLICABLE_USER_LIST]
AS
BEGIN
	SELECT UserTypeID,UserType
	FROM UserTypesMaster
	WHERE ISNULL(IsActive,0)=1
	AND ISNULL(IsOTPAuthenticationEnable,0)=1
END
GO
