/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_UPDATE_FMV_DATES]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SOPsUI_UPDATE_FMV_DATES]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_UPDATE_FMV_DATES]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SOPsUI_UPDATE_FMV_DATES] 
	
	@OLD_FMV_DATE DATE,
	@NEW_FMV_DATE DATE,
	@LAST_UPDATED_BY NVARCHAR(100),
	@TEMPLATE_NAME NVARCHAR(100)
AS
BEGIN

	SET NOCOUNT ON;
	
	BEGIN TRY

		BEGIN TRANSACTION
		
		UPDATE 
			FMVForUnlisted 
		SET 
			FMV_Todate = @NEW_FMV_DATE, CreatedBy = @LAST_UPDATED_BY, Updatedon = GETDATE() 
		WHERE 
			CONVERT(DATE,FMV_Todate) =  CONVERT(DATE,@OLD_FMV_DATE)
		
		INSERT INTO AUDIT_SOPs_UI 
			(TEMPLATE_NAME, UPDATED_BY, UPDATED_ON, UNIQUE_IDENTIFIER_TEXT, UNIQUE_IDENTIFIER_VALE, COMMAND_EXECUATED, COMMAND_PARAMETER)
		VALUES
			(@TEMPLATE_NAME, @LAST_UPDATED_BY, GETDATE(), 'OLD FMV VALUE', @OLD_FMV_DATE, 'PROC_SOPsUI_UPDATE_FMV_DATES', '@OLD_FMV_DATE, @NEW_FMV_DATE, @LAST_UPDATED_BY, @TEMPLATE_NAME')
		
		COMMIT TRANSACTION

		SELECT 'SUCCESS' AS 'ErrorMessage'

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT @@ERROR AS 'ErrorMessage'
	END CATCH

	SET NOCOUNT OFF;				
END
GO
