/****** Object:  StoredProcedure [dbo].[PROC_UpdateCountryStateMassupload]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UpdateCountryStateMassupload]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UpdateCountryStateMassupload]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[PROC_UpdateCountryStateMassupload]
(
	@CountryState CountryandStateType READONLY,
	@UserId VARCHAR(50),
	@MIT_ID INT = NULL,
	@SheetName NVARCHAR(100)	
)
AS 
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
	CREATE TABLE #TBLCOUNTRYPAYMENTMODE
	(
		ID              BIGINT IDENTITY(1,1),
		PAYMENTMODE		NVARCHAR(200) NULL,
		[TYPE]			NVARCHAR(200) NULL,
		COUNTRY			NVARCHAR(50)  NULL,
		[STATE]         NVARCHAR(200) NULL,
		PROCESSNOTE     NVARCHAR(200) NULL,
		COUNTRY_ID		BIGINT,
		STATE_ID		NVARCHAR(200),
		RPM_ID			INT,
		PAYMENTMODE_ID	BIGINT,
		REMARK			NVARCHAR(500),
		IsSucessful	    NVARCHAR(200) 
	)
	DECLARE @ErrorMessage NVARCHAR(MAX)
	DECLARE @ROWS INT , @TBLCOUNT INT 

	INSERT INTO #TBLCOUNTRYPAYMENTMODE(PAYMENTMODE,[TYPE],COUNTRY,[STATE],PROCESSNOTE)
	SELECT PAYMENTMODE,[TYPE],COUNTRY,[STATE],PROCESSNOTE
	FROM @CountryState
 
    CREATE TABLE #TBLFIELDVALUE2
	(
		FIELD_NAME		    NVARCHAR(50),
		IS_TRACKING_ENABLED INT	
	)	
	INSERT INTO #TBLFIELDVALUE2(FIELD_NAME,IS_TRACKING_ENABLED)
	SELECT FIELD_NAME,IS_TRACKING_ENABLED 
	FROM   MASTER_LIST_FLD_NAME MLFN 
	WHERE  MLFN.IS_TRACKING_ENABLED=1 AND MLFN.FIELD_NAME IN('TAX_IDENTIFIER_COUNTRY','TAX_IDENTIFIER_STATE')
	
	DECLARE @FIELD_NAME AS NVARCHAR(50)
	DECLARE @IS_TRACKING_ENABLED AS INT
	SELECT @FIELD_NAME=FIELD_NAME FROM #TBLFIELDVALUE2
	SELECT @IS_TRACKING_ENABLED=IS_TRACKING_ENABLED FROM #TBLFIELDVALUE2

	UPDATE	T1 SET T1.PAYMENTMODE_ID = T2.ID
	FROM	#TBLCOUNTRYPAYMENTMODE AS T1
			INNER JOIN DBO.PAYMENTMASTER AS T2 ON T1.TYPE = T2.PAYMODENAME
				
	UPDATE   T1 SET T1.COUNTRY_ID = T2.ID
	FROM     #TBLCOUNTRYPAYMENTMODE AS T1
			 INNER JOIN DBO.COUNTRYMASTER AS T2 ON T1.COUNTRY = T2.COUNTRYNAME;
		
	UPDATE   T1 SET T1.RPM_ID = T2.ID
	FROM     #TBLCOUNTRYPAYMENTMODE AS T1 
	         INNER JOIN RESIDENTIALPAYMENTMODE AS T2 ON T2.PAYMENTMASTER_ID=T1.PAYMENTMODE_ID
	WHERE    PAYMENT_MODE_CONFIG_TYPE='COUNTRY' AND T2.MIT_ID=@MIT_ID
		   
	UPDATE	T1 SET T1.STATE_ID = T2.MS_ID
	FROM	#TBLCOUNTRYPAYMENTMODE AS T1
			INNER JOIN DBO.MST_STATES AS T2 ON T1.[STATE] = T2.STATE_NAME
	WHERE 
			T2.COUNTRY_ID = T1.COUNTRY_ID
			
	UPDATE  #TBLCOUNTRYPAYMENTMODE SET ISSUCESSFUL='Y'	

 IF(@SheetName='COUNTRYSTATEMASSUPLOAD')
 BEGIN

 	SELECT @TBLCOUNT=COUNT(TCSD.ID)   
 	FROM COUNTRY_PAYMENTMODE_MAPPING AS CPM 
	INNER JOIN #TBLCOUNTRYPAYMENTMODE TCSD ON CPM.RPM_ID = TCSD.RPM_ID  
	INNER JOIN COUNTRYMASTER CM ON TCSD.COUNTRY_ID=CM.ID 
	INNER JOIN MST_STATES MST ON TCSD.STATE_ID=MST.MS_ID 
	WHERE (MST.MS_ID = CPM.STATE_ID) AND (CM.ISSELECTED='1') AND (MST.IS_SELECTED='1') AND (MST.COUNTRY_ID=TCSD.COUNTRY_ID)
     
	IF(@FIELD_NAME='TAX_IDENTIFIER_STATE' AND @IS_TRACKING_ENABLED='1')	
	BEGIN
	   IF EXISTS(SELECT DISTINCT ISNULL(TCSD.COUNTRY_ID,0) AS COUNTRY  FROM #TBLCOUNTRYPAYMENTMODE TCSD INNER JOIN COUNTRYMASTER CM ON TCSD.COUNTRY_ID=CM.ID AND CM.ISSELECTED='1'
       INNER JOIN MST_STATES MST ON MST.COUNTRY_ID=TCSD.COUNTRY_ID AND MST.MS_ID=TCSD.STATE_ID
       WHERE TCSD.RPM_ID IN(SELECT ID FROM COUNTRY_PAYMENTMODE_MAPPING CPM INNER JOIN ResidentialPaymentMode RP ON CPM.RPM_ID=RP.Id AND RP.MIT_ID=@MIT_ID AND CPM.COUNTRY_ID=CM.ID AND MST.MS_ID=CPM.STATE_ID)) 
       BEGIN
		 BEGIN TRY       
           BEGIN TRAN 	        		       
		 
		   UPDATE  CPM  
		   SET	   CPM.RPM_ID= TCSD.RPM_ID,CPM.COUNTRY_ID=TCSD.COUNTRY_ID, CPM.STATE_ID=TCSD.STATE_ID,CPM.PROCESSES_NOTE=TCSD.PROCESSNOTE,
		           CPM.CREATED_BY=@UserId,CPM.CREATED_ON=GETDATE(),CPM.UPDATED_BY=@UserId,CPM.UPDATED_ON=GETDATE()
		   FROM    COUNTRY_PAYMENTMODE_MAPPING AS CPM 
		   INNER JOIN #TBLCOUNTRYPAYMENTMODE TCSD ON CPM.RPM_ID = TCSD.RPM_ID  
		   INNER JOIN COUNTRYMASTER CM ON TCSD.COUNTRY_ID=CM.ID 
		   INNER JOIN MST_STATES MST ON TCSD.STATE_ID=MST.MS_ID 
		   WHERE ( MST.MS_ID = CPM.STATE_ID) AND (CM.ISSELECTED='1') AND (MST.IS_SELECTED='1') AND (MST.COUNTRY_ID=TCSD.COUNTRY_ID)

		  SELECT @Rows=@@ROWCOUNT           
          IF  (@TBLCOUNT=@ROWS)
		  BEGIN
		  
			COMMIT TRAN
			
		  END  
         ELSE
			BEGIN 
			    ROLLBACK TRAN
			    UPDATE TCSD Set TCSD.REMARK='Record not inserted please check state and country name.',TCSD.IsSucessful='N'
				FROM #TBLCOUNTRYPAYMENTMODE TCSD
				WHERE TCSD.RPM_ID NOT IN(SELECT ID FROM COUNTRY_PAYMENTMODE_MAPPING CPM INNER JOIN ResidentialPaymentMode RP ON CPM.RPM_ID=RP.Id AND RP.MIT_ID=@MIT_ID And CPM.COUNTRY_ID= TCSD.COUNTRY_ID
				AND CPM.STATE_ID=TCSD.STATE_ID) 
								
			END -- End TablCount
			
			END TRY
			BEGIN CATCH
			   SELECT 'UPDATE' AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
					   ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;	
			   
			END CATCH
       END    
	   SET @TBLCOUNT=0
       IF NOT EXISTS(SELECT DISTINCT ISNULL(TCSD.COUNTRY_ID,0) AS COUNTRY  FROM #TBLCOUNTRYPAYMENTMODE TCSD INNER JOIN COUNTRYMASTER CM ON TCSD.COUNTRY_ID=CM.ID AND CM.ISSELECTED='0'
          INNER JOIN MST_STATES MST ON MST.COUNTRY_ID=TCSD.COUNTRY_ID AND MST.MS_ID=TCSD.STATE_ID
       WHERE TCSD.RPM_ID NOT IN(SELECT ID FROM COUNTRY_PAYMENTMODE_MAPPING CPM INNER JOIN ResidentialPaymentMode RP ON CPM.RPM_ID=RP.Id AND RP.MIT_ID=@MIT_ID AND CPM.COUNTRY_ID=CM.ID)) 
       BEGIN          
         
		 SELECT @TBLCOUNT=COUNT(Temp.ID)   
		 FROM
		 ( SELECT TCSD.ID
		 FROM #TBLCOUNTRYPAYMENTMODE AS TCSD		 
		 INNER JOIN COUNTRYMASTER CM ON TCSD.COUNTRY_ID=CM.ID AND CM.ISSELECTED='1'
		 INNER JOIN MST_STATES MST ON TCSD.STATE_ID=MST.MS_ID AND MST.IS_SELECTED='1' AND MST.COUNTRY_ID=TCSD.COUNTRY_ID
		 WHERE TCSD.RPM_ID NOT IN(SELECT ID FROM COUNTRY_PAYMENTMODE_MAPPING CPM INNER JOIN ResidentialPaymentMode RP ON CPM.RPM_ID=RP.Id AND RP.MIT_ID=@MIT_ID AND CPM.STATE_ID=MST.MS_ID AND CPM.COUNTRY_ID=CM.ID)
         UNION
         SELECT TCSD.ID   FROM #TBLCOUNTRYPAYMENTMODE TCSD		 
		 WHERE TCSD.STATE_ID IS NULL OR TCSD.COUNTRY_ID IS NULL
		 )AS Temp

		 BEGIN TRY
		   BEGIN TRAN             	   		 
		   INSERT INTO COUNTRY_PAYMENTMODE_MAPPING(RPM_ID,COUNTRY_ID,[STATE_ID],PROCESSES_NOTE,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON) 
		   SELECT DISTINCT ISNULL(TCSD.RPM_ID,0)AS RPM_ID,ISNULL(TCSD.COUNTRY_ID,0) AS COUNTRY ,ISNULL(TCSD.STATE_ID,0)AS [STATE],TCSD.PROCESSNOTE,@USERID,GETDATE(),@USERID,GETDATE() 
		   FROM #TBLCOUNTRYPAYMENTMODE AS TCSD
		   INNER JOIN COUNTRYMASTER CM ON TCSD.COUNTRY_ID=CM.ID AND CM.ISSELECTED=1
		   INNER JOIN MST_STATES MST ON TCSD.STATE_ID=MST.MS_ID AND MST.IS_SELECTED= 1 AND MST.COUNTRY_ID=TCSD.COUNTRY_ID
		   WHERE TCSD.RPM_ID NOT IN(SELECT ID FROM COUNTRY_PAYMENTMODE_MAPPING CPM 
		                     INNER JOIN ResidentialPaymentMode RP ON CPM.RPM_ID=RP.Id 
		                     AND RP.MIT_ID=@MIT_ID AND CPM.STATE_ID=MST.MS_ID AND CPM.COUNTRY_ID=CM.ID)
		   SET @Rows=@@ROWCOUNT
			   IF  (@TBLCOUNT=@ROWS)
			     BEGIN 				 
				   COMMIT TRAN
			     END  
			   ELSE
			     BEGIN
				   ROLLBACK TRAN	   
				   UPDATE TCSD Set TCSD.REMARK='Record not inserted please check state and country name.',TCSD.IsSucessful='N'
				   FROM  #TBLCOUNTRYPAYMENTMODE TCSD
				   WHERE TCSD.RPM_ID NOT IN(SELECT ID FROM COUNTRY_PAYMENTMODE_MAPPING CPM INNER JOIN ResidentialPaymentMode RP ON CPM.RPM_ID=RP.Id AND RP.MIT_ID=@MIT_ID And CPM.COUNTRY_ID= TCSD.COUNTRY_ID
				         AND CPM.STATE_ID=TCSD.STATE_ID)		
			      END
			END TRY
			BEGIN CATCH	
			   
			   SELECT 'Insert' AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
					   ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;	
			   
			END CATCH
			  
	   END
	  
	END --End @FIELD_NAME if
   ELSE
   BEGIN
	   UPDATE TCSD Set TCSD.REMARK='Please update country and state tracking.',TCSD.IsSucessful='N'
	   FROM #TBLCOUNTRYPAYMENTMODE TCSD      
   END --End @FIELD_NAME else
    
 END --End sheet name
  
 IF(@SheetName='COUNTRYMASSUPLOAD')
	BEGIN 
	/*print 'countrymassupload'*/

	  IF(@FIELD_NAME='TAX_IDENTIFIER_COUNTRY' AND @IS_TRACKING_ENABLED='1')
	  BEGIN
	  /*PRINT 'TAX_IDENTIFIER_COUNTRY update' */

		   UPDATE COUNTRY_PAYMENTMODE_MAPPING  SET RPM_ID= TCSD.RPM_ID,COUNTRY_ID=TCSD.COUNTRY_ID,PROCESSES_NOTE=TCSD.PROCESSNOTE,
		   CREATED_BY=@UserId,CREATED_ON=GETDATE(),UPDATED_BY=@UserId,UPDATED_ON=GETDATE()
		   FROM #TBLCOUNTRYPAYMENTMODE TCSD
		   INNER JOIN COUNTRYMASTER CM ON TCSD.COUNTRY_ID=CM.ID AND CM.ISSELECTED='1'
		   INNER JOIN COUNTRY_PAYMENTMODE_MAPPING CPM ON TCSD.COUNTRY_ID=CPM.COUNTRY_ID	AND CPM.RPM_ID=TCSD.RPM_ID			   
		   WHERE TCSD.RPM_ID IN(SELECT ID FROM COUNTRY_PAYMENTMODE_MAPPING CPM INNER JOIN ResidentialPaymentMode RP ON CPM.RPM_ID=RP.Id AND RP.MIT_ID=@MIT_ID AND CPM.COUNTRY_ID=CM.ID) 
			
		   IF NOT EXISTS(SELECT DISTINCT ISNULL(TCSD.COUNTRY_ID,0) AS COUNTRY  FROM #TBLCOUNTRYPAYMENTMODE TCSD INNER JOIN COUNTRYMASTER CM ON TCSD.COUNTRY_ID=CM.ID AND CM.ISSELECTED='0'
		   WHERE TCSD.RPM_ID NOT IN(SELECT ID FROM COUNTRY_PAYMENTMODE_MAPPING CPM INNER JOIN ResidentialPaymentMode RP ON CPM.RPM_ID=RP.Id AND RP.MIT_ID=@MIT_ID AND CPM.COUNTRY_ID=CM.ID))         	   
		   BEGIN		   

		   INSERT INTO COUNTRY_PAYMENTMODE_MAPPING(RPM_ID,COUNTRY_ID,PROCESSES_NOTE,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON) 
		   SELECT DISTINCT ISNULL(TCSD.RPM_ID,0)AS RPM_ID,ISNULL(TCSD.COUNTRY_ID,0) AS COUNTRY ,TCSD.PROCESSNOTE,@USERID,GETDATE(),@USERID,GETDATE() 
		   FROM #TBLCOUNTRYPAYMENTMODE TCSD
		   INNER JOIN COUNTRYMASTER CM ON TCSD.COUNTRY_ID=CM.ID AND CM.ISSELECTED='1'
		   WHERE TCSD.RPM_ID NOT IN(SELECT ID FROM COUNTRY_PAYMENTMODE_MAPPING CPM INNER JOIN ResidentialPaymentMode RP ON CPM.RPM_ID=RP.Id AND RP.MIT_ID=@MIT_ID AND CPM.COUNTRY_ID=CM.ID)
		   END
		  
		   UPDATE TCSD SET TCSD.REMARK='Record not inserted please check country name.',TCSD.IsSucessful='N'
		   FROM #TBLCOUNTRYPAYMENTMODE TCSD
		   WHERE TCSD.RPM_ID NOT IN(SELECT ID FROM COUNTRY_PAYMENTMODE_MAPPING CPM INNER JOIN ResidentialPaymentMode RP ON CPM.RPM_ID=RP.Id AND RP.MIT_ID=@MIT_ID And CPM.COUNTRY_ID= TCSD.COUNTRY_ID)
		   SELECT @TBLCOUNT=COUNT(*) FROM  #TBLCOUNTRYPAYMENTMODE 

	  END
	 ELSE
	 BEGIN
		   UPDATE TCSD SET TCSD.REMARK='Please update country and state tracking.',TCSD.IsSucessful='N'
		   FROM #TBLCOUNTRYPAYMENTMODE TCSD      

	  END --End @FIELD_NAME
	    
	END --End Sheet name
	
SELECT * FROM #TBLCOUNTRYPAYMENTMODE 

DROP TABLE #TBLCOUNTRYPAYMENTMODE
 
END --End Main 


GO
