/****** Object:  StoredProcedure [dbo].[CHECK_TABLE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[CHECK_TABLE]
GO
/****** Object:  StoredProcedure [dbo].[CHECK_TABLE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CHECK_TABLE](@DB_NAME VARCHAR(50) = '-',@PRESENTYN_out INT output)
AS
BEGIN
IF NOT EXISTS(SELECT 1 FROM SYS.TABLES WHERE NAME = 'EDIT_GRANT_MASSUPLOAD')
	BEGIN            
		CREATE TABLE EDIT_GRANT_MASSUPLOAD 
			(
				SRNO INT IDENTITY(1,1),
				GRANTID NUMERIC(10,0),
				EMPLOYEEID VARCHAR(20),
				EMPLOYEENAME VARCHAR(MAX),
				GRANTREGISTRATIONID VARCHAR(20),
				GRANTOPTIONID VARCHAR(100),
				VESTINGPERIODID NUMERIC (18,0),
				[COUNTER] NUMERIC (18,0),
				PARENT CHAR,
				VESTINGTYPE CHAR,
				GRANTDATE DATETIME,
				EXERCISEPRICE NUMERIC(10,2),
				OPTIONSGRANTED NUMERIC(18,0),
				VESTINGDATE DATETIME, 
				EXPIRYDATE DATETIME
			)            
	END
ELSE 
	BEGIN
		--TRUNCATE TABLE EDIT_GRANT_MASSUPLOAD
		DELETE FROM EDIT_GRANT_MASSUPLOAD
	END
      
	SET @PRESENTYN_out = (SELECT COUNT(1) FROM SYS.TABLES WHERE NAME = 'EDIT_GRANT_MASSUPLOAD')
END
GO
