/****** Object:  StoredProcedure [dbo].[PROC_GET_USER_BROKER_ACCOUNT]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_USER_BROKER_ACCOUNT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_USER_BROKER_ACCOUNT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_USER_BROKER_ACCOUNT]
(
	@EmployeeBrokerAccID		BIGINT	
)
AS
BEGIN
SET NOCOUNT ON;	
		
   BEGIN		    
	     SELECT
		   EMPLOYEE_BROKER_ACC_ID,
		   EMPLOYEE_ID,
		   ISNULL(ACCOUNT_NAME,'') AS ACCOUNT_NAME,
		   ISNULL(BROKER_DEP_TRUST_CMP_NAME,'') AS BROKER_DEP_TRUST_CMP_NAME,
		   ISNULL(BROKER_DEP_TRUST_CMP_ID,'') AS BROKER_DEP_TRUST_CMP_ID,
		   ISNULL(BROKER_ELECT_ACC_NUM,'') AS BROKER_ELECT_ACC_NUM,	
		   ISNULL(IsValidBrokerAcc,0) AS IsValidBrokerAcc,	  
		   IS_ACTIVE, 
		   CREATED_BY, 
		   CREATED_ON, 
		   UPDATED_ON
		 FROM
		   Employee_UserBrokerDetails
		 WHERE
		   EMPLOYEE_BROKER_ACC_ID=@EmployeeBrokerAccID and IS_ACTIVE='1' 
		
    END	
END	
GO
