/****** Object:  StoredProcedure [dbo].[PROC_GetEmployeeMasterFields]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GetEmployeeMasterFields]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GetEmployeeMasterFields]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_GetEmployeeMasterFields]
AS
BEGIN
  SELECT SYSCOL.NAME 	
  FROM 
  	SYS.COLUMNS SYSCOL INNER JOIN 
  	SYS.TABLES SYSTAB ON SYSCOL.OBJECT_ID = SYSTAB.OBJECT_ID 
  WHERE 
  	SYSTAB.NAME = 'EMPLOYEEMASTER' AND SYSCOL.NAME NOT IN (SELECT MYESOPSFIELDS FROM HRMSMAPPINGSFIELDS)
  ORDER BY SYSCOL.NAME
END
GO
