/****** Object:  StoredProcedure [dbo].[PROC_CUD_MYESOPS_HRMS_IDENTIFIER]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CUD_MYESOPS_HRMS_IDENTIFIER]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CUD_MYESOPS_HRMS_IDENTIFIER]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CUD_MYESOPS_HRMS_IDENTIFIER]
(
@HRMS_LOGINID     VARCHAR(20),
@MYESOPS_LOGINID  VARCHAR(20)
)
AS
BEGIN   
	SET NOCOUNT OFF;
	
		INSERT INTO MYESOPS_HRMS_IDENTIFIER (
			 HRMS_LOGINID
			,MYESOPS_LOGINID			    
			,CREATED_ON
			)
		VALUES (
			@HRMS_LOGINID,
			@MYESOPS_LOGINID,
			GETDATE()
			)
	
END
GO
