/****** Object:  StoredProcedure [dbo].[PROC_ValueDef_SAR_CRUD]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_ValueDef_SAR_CRUD]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ValueDef_SAR_CRUD]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_ValueDef_SAR_CRUD]
(	
    @SCFC_ID BIGINT = NULL,
	@MIT_ID INT = NULL,
	@SCHEME_ID NVARCHAR(100) = NULL,
	@IS_TRADINGDAYS TINYINT = NULL,
	@PERCENT_VALUE_1 NUMERIC(18, 6) = NULL,
	@PERCENT_VALUE_ON_1 BIGINT = NULL,
	@PERCENT_VALUE_2 NUMERIC(18, 6) = NULL,
	@PERCENT_VALUE_ON_2 BIGINT = NULL,
	@ON_LEVEL VARCHAR(15) = NULL,
	@ON_LEVEL_VALUE NUMERIC(18, 6) = NULL,
	@APPLY_MAX_CAP TINYINT = NULL,
	@CONSIDER NVARCHAR(50) = NULL,
	@APPLICABLE_FROM_DATE DATETIME = NULL,		
	@FORNULA_NAME NVARCHAR(250) = NULL,
	@SAR_FORMULA NVARCHAR(100)  = NULL,	
	@MSE_ID_1 BIGINT = NULL,
	@MSE_ID_2 BIGINT = NULL,
	@FORMULA_DESCRIPTION NVARCHAR(MAX) = NULL,
	@CREATED_BY NVARCHAR(100) = NULL,	
	@IS_FORMULA_APPLIED TINYINT= NULL,
	@TRANS_DATE_ID		BIGINT =NULL,
	@SAR_TRANS_DATE_ID_1 BIGINT = NUll,
	@SAR_TRANS_DATE_ID_2 BIGINT = NUll,
	@FFC_ID BIGINT = NULL,
	@ACTION	NVARCHAR(50)
 )
AS
BEGIN
	SET NOCOUNT ON;
	
	BEGIN TRY	
		
		DECLARE @APPLICABLE_TO_DATE DATETIME 
		DECLARE @APP_FROM_DATE DATETIME
		DECLARE @SAR_APPLICABLE_FROM_DATE DATETIME
		DECLARE @SAR_COMP_ID INT = 0
		DECLARE @TABLENAME NVARCHAR(50)= NULL
		DECLARE @SCHEMETYPE NVARCHAR(50)=NULL
		IF(UPPER(@ACTION)='ADD' OR UPPER(@ACTION)='UPDATE')
		BEGIN
			IF EXISTS(SELECT SCFC_ID FROM SAR_COMPARE_FORMULA_CNFG WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1 AND IS_TRADINGDAYS=@IS_TRADINGDAYS)
			BEGIN
				SELECT TOP(1) @SAR_COMP_ID = SCFC_ID, @SAR_APPLICABLE_FROM_DATE = APPLICABLE_FROM_DATE FROM SAR_COMPARE_FORMULA_CNFG  WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1 AND IS_TRADINGDAYS=@IS_TRADINGDAYS ORDER BY SCFC_ID DESC		
				SET @TABLENAME = 'SAR_COMPARE_FORMULA_CNFG'
			END
							
			IF EXISTS(SELECT FFC_ID FROM FMV_FORMULA_CONFIG WHERE SCHEME_ID = @SCHEME_ID AND FORMULA_CONFIG_TYPE = 'SARFMV' AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1 AND (IS_TRADINGDAYS=@IS_TRADINGDAYS OR IS_TRADINGDAYS IS NULL))
			BEGIN
				SELECT TOP(1) @SAR_COMP_ID = FFC_ID, @SAR_APPLICABLE_FROM_DATE = APPLICABLE_FROM_DATE FROM FMV_FORMULA_CONFIG WHERE SCHEME_ID = @SCHEME_ID AND FORMULA_CONFIG_TYPE = 'SARFMV' AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1 AND (IS_TRADINGDAYS=@IS_TRADINGDAYS OR IS_TRADINGDAYS IS NULL) ORDER BY FFC_ID DESC
				SET @TABLENAME = 'FMV_FORMULA_CONFIG'
			END	
			
			IF EXISTS (SELECT SSPM_ID FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID AND IS_FORMULA_APPLIED=1)
		    BEGIN					
				SELECT TOP(1) @SAR_COMP_ID = SSPM_ID, @SAR_APPLICABLE_FROM_DATE = APPLICABLE_FROM_DATE FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE (SCHEME_ID = @SCHEME_ID) AND (IS_FORMULA_APPLIED = 1) AND MIT_ID = @MIT_ID  ORDER BY SSPM_ID DESC
				SET @TABLENAME = 'MASS_UPLOAD_CONFIG'
				SET @SAR_APPLICABLE_FROM_DATE= DATEADD(DAY,-1,@APPLICABLE_FROM_DATE) 
				UPDATE SAR_SETTLEMENT_PRICE_MASSUPLOAD SET IS_FORMULA_APPLIED=0,APPLICABLE_TO_DATE=@SAR_APPLICABLE_FROM_DATE WHERE (SCHEME_ID = @SCHEME_ID) AND (IS_FORMULA_APPLIED = 1) AND MIT_ID = @MIT_ID
		    END
		END
		 
		IF(UPPER(@ACTION)='ADD')
		BEGIN
		        
		        UPDATE SAR_COMPARE_FORMULA_CNFG SET IS_FORMULA_APPLIED = 0 WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS
				UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0 WHERE FORMULA_CONFIG_TYPE = 'SARFMV' AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND (IS_TRADINGDAYS=@IS_TRADINGDAYS OR IS_TRADINGDAYS IS NULL)
		        
				INSERT INTO SAR_COMPARE_FORMULA_CNFG 
				(
					MIT_ID, SCHEME_ID, IS_TRADINGDAYS, PERCENT_VALUE_1, PERCENT_VALUE_ON_1, PERCENT_VALUE_2, PERCENT_VALUE_ON_2, ON_LEVEL, ON_LEVEL_VALUE,
					APPLY_MAX_CAP, CONSIDER, APPLICABLE_FROM_DATE, APPLICABLE_TO_DATE, FORNULA_NAME, MSE_ID_1, MSE_ID_2, FORMULA_DESCRIPTION,IS_FORMULA_APPLIED,TRANS_DATE_ID,SAR_TRANS_DATE_ID_1,SAR_TRANS_DATE_ID_2, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON
				)
				VALUES
				(
				    @MIT_ID, @SCHEME_ID, @IS_TRADINGDAYS, @PERCENT_VALUE_1, @PERCENT_VALUE_ON_1, @PERCENT_VALUE_2, @PERCENT_VALUE_ON_2, @ON_LEVEL, @ON_LEVEL_VALUE,
					@APPLY_MAX_CAP, @CONSIDER, @APPLICABLE_FROM_DATE, @APPLICABLE_TO_DATE, @FORNULA_NAME, @MSE_ID_1, @MSE_ID_2, @FORMULA_DESCRIPTION, @IS_FORMULA_APPLIED,@TRANS_DATE_ID,@SAR_TRANS_DATE_ID_1,@SAR_TRANS_DATE_ID_2, @CREATED_BY, GETDATE(), @CREATED_BY, GETDATE()
				)
				 
				If(@@ROWCOUNT > 0)
				BEGIN	
					Select @@IDENTITY as SCFC_ID ,'Record Inserted Successfully.'	as Msg						
						
					-- Update Application to date --
					 IF(UPPER(@TABLENAME) = 'SAR_COMPARE_FORMULA_CNFG')
					 BEGIN
						IF(@SAR_COMP_ID > 0)
						BEGIN
							IF(@APPLICABLE_FROM_DATE = @SAR_APPLICABLE_FROM_DATE)
							BEGIN
							  SET @APPLICABLE_TO_DATE = @APPLICABLE_FROM_DATE
							END
							ELSE
							BEGIN
							 SET @APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
							END
						    
							UPDATE SAR_COMPARE_FORMULA_CNFG SET APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE WHERE SCFC_ID = @SAR_COMP_ID
						END	
					END
									
					IF(UPPER(@TABLENAME) = 'FMV_FORMULA_CONFIG')
					BEGIN			
						IF(@SAR_COMP_ID > 0)
						BEGIN
							IF(@APPLICABLE_FROM_DATE = @SAR_APPLICABLE_FROM_DATE)
							BEGIN
							  SET @APPLICABLE_TO_DATE = @APPLICABLE_FROM_DATE
							END
							ELSE
							BEGIN
							 SET @APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
							END    
						   
							UPDATE FMV_FORMULA_CONFIG SET APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE WHERE FFC_ID = @SAR_COMP_ID AND (IS_TRADINGDAYS=@IS_TRADINGDAYS OR IS_TRADINGDAYS IS NULL)
						END	
					END		
							
				END
				Else
				Begin
					Select '0' as SCFC_ID ,'Record Insertion Failed'	as Msg	
				END
		
		END
		ELSE IF(UPPER(@ACTION)='UPDATE')
		BEGIN   
		        UPDATE SAR_COMPARE_FORMULA_CNFG SET IS_FORMULA_APPLIED = 0 WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS
				UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0 WHERE FORMULA_CONFIG_TYPE = 'SARFMV' AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS	
				        
		        SELECT @APP_FROM_DATE = APPLICABLE_FROM_DATE from SAR_COMPARE_FORMULA_CNFG WHERE SCFC_ID = @SCFC_ID
		        BEGIN
		            INSERT INTO SAR_COMPARE_FORMULA_CNFG 
					(
						MIT_ID, SCHEME_ID, IS_TRADINGDAYS, PERCENT_VALUE_1, PERCENT_VALUE_ON_1, PERCENT_VALUE_2, PERCENT_VALUE_ON_2, ON_LEVEL, ON_LEVEL_VALUE,
						APPLY_MAX_CAP, CONSIDER, APPLICABLE_FROM_DATE, APPLICABLE_TO_DATE, FORNULA_NAME, MSE_ID_1, MSE_ID_2,FORMULA_DESCRIPTION,IS_FORMULA_APPLIED,TRANS_DATE_ID,SAR_TRANS_DATE_ID_1,SAR_TRANS_DATE_ID_2, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON
					)
					VALUES
					(
						@MIT_ID, @SCHEME_ID, @IS_TRADINGDAYS, @PERCENT_VALUE_1, @PERCENT_VALUE_ON_1, @PERCENT_VALUE_2, @PERCENT_VALUE_ON_2, @ON_LEVEL, @ON_LEVEL_VALUE,
						@APPLY_MAX_CAP, @CONSIDER, @APPLICABLE_FROM_DATE, @APPLICABLE_TO_DATE, @FORNULA_NAME, @MSE_ID_1, @MSE_ID_2, @FORMULA_DESCRIPTION,@IS_FORMULA_APPLIED,@TRANS_DATE_ID,@SAR_TRANS_DATE_ID_1,@SAR_TRANS_DATE_ID_2, @CREATED_BY, GETDATE(), @CREATED_BY, GETDATE()
					)
				END		        
				
				IF(@@ROWCOUNT > 0)
				BEGIN		
					Select ISNULL(@@IDENTITY, @SCFC_ID) as SCFC_ID ,'Record Updated Successfully.'	as Msg
					
					-- Update Application to date --
					IF(UPPER(@TABLENAME) = 'SAR_COMPARE_FORMULA_CNFG')
					BEGIN
						IF(@SAR_COMP_ID > 0)
						BEGIN
							IF(@APPLICABLE_FROM_DATE = @SAR_APPLICABLE_FROM_DATE)
							BEGIN
							  SET @APPLICABLE_TO_DATE = @APPLICABLE_FROM_DATE
							END
							ELSE
							BEGIN
							 SET @APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
							END
						    
							UPDATE SAR_COMPARE_FORMULA_CNFG SET APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE WHERE SCFC_ID = @SAR_COMP_ID
						END	
					END
									
					IF(UPPER(@TABLENAME) = 'FMV_FORMULA_CONFIG')
					BEGIN			
						IF(@SAR_COMP_ID > 0)
						BEGIN
							IF(@APPLICABLE_FROM_DATE = @SAR_APPLICABLE_FROM_DATE)
							BEGIN
							  SET @APPLICABLE_TO_DATE = @APPLICABLE_FROM_DATE
							END
							ELSE
							BEGIN
							 SET @APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
							END    
						   
							UPDATE FMV_FORMULA_CONFIG SET APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE WHERE FFC_ID = @SAR_COMP_ID
						END	
					END					
				END
		END
		ELSE IF(UPPER(@ACTION)='GET')
		BEGIN		 
		      
				--- Trading Days 	
				SELECT SCFC_ID, FORNULA_NAME, FORMULA_DESCRIPTION, CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE, CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE, NULL AS FORMULA_CONFIG_TYPE FROM SAR_COMPARE_FORMULA_CNFG
				WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS = 1
				UNION ALL
				SELECT FFC_ID, FORNULA_NAME, FORMULA_DESCRIPTION, CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE, CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE, FORMULA_CONFIG_TYPE FROM FMV_FORMULA_CONFIG 
				WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND (IS_TRADINGDAYS = 1 OR IS_TRADINGDAYS IS NULL) AND FORMULA_CONFIG_TYPE='SARFMV' AND SAR_FORMULA = 'BasedOnTransactionDate'
				UNION ALL
				SELECT FFC_ID, FORNULA_NAME,'SameAsFMV' As FORMULA_DESCRIPTION, CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE, CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE, FORMULA_CONFIG_TYPE FROM FMV_FORMULA_CONFIG
				WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND (IS_TRADINGDAYS = 1 OR IS_TRADINGDAYS IS NULL) AND FORMULA_CONFIG_TYPE='SARFMV' AND SAR_FORMULA = 'SameAsFMV'
				ORDER BY APPLICABLE_FROM_DATE DESC
				
				--- Non Trading Days
				SELECT SCFC_ID, FORNULA_NAME, FORMULA_DESCRIPTION, CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE, CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE, NULL AS FORMULA_CONFIG_TYPE FROM SAR_COMPARE_FORMULA_CNFG
				WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND (IS_TRADINGDAYS = 0 OR IS_TRADINGDAYS IS NULL)
				UNION ALL
				SELECT FFC_ID, FORNULA_NAME, FORMULA_DESCRIPTION, CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE, CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE, FORMULA_CONFIG_TYPE FROM FMV_FORMULA_CONFIG
				WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND (IS_TRADINGDAYS = 0 OR IS_TRADINGDAYS IS NULL) AND FORMULA_CONFIG_TYPE='SARFMV' AND SAR_FORMULA = 'BasedOnTransactionDate'		
				UNION ALL
				SELECT FFC_ID, FORNULA_NAME,'Same As FMV' As FORMULA_DESCRIPTION, CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE, CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE, FORMULA_CONFIG_TYPE FROM FMV_FORMULA_CONFIG
				WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND (IS_TRADINGDAYS = 0 OR IS_TRADINGDAYS IS NULL) AND FORMULA_CONFIG_TYPE='SARFMV' AND SAR_FORMULA = 'SameAsFMV'
				ORDER BY APPLICABLE_FROM_DATE DESC
				
		END
		ELSE IF(UPPER(@ACTION)='GETEXISTINGFORMULA')
		BEGIN
				  SELECT FORNULA_NAME FROM SAR_COMPARE_FORMULA_CNFG
				  UNION
				  SELECT FORNULA_NAME FROM FMV_FORMULA_CONFIG WHERE (FORMULA_CONFIG_TYPE = 'SARFMV' AND SAR_FORMULA = 'BasedOnTransactionDate') OR SAR_FORMULA='SameAsFMV'
  
				  SELECT FORNULA_NAME FROM SAR_COMPARE_FORMULA_CNFG WHERE IS_FORMULA_APPLIED = 1
				  UNION
				  SELECT FORNULA_NAME FROM FMV_FORMULA_CONFIG WHERE (FORMULA_CONFIG_TYPE = 'SARFMV' AND IS_FORMULA_APPLIED = 1 AND SAR_FORMULA = 'BasedOnTransactionDate') OR SAR_FORMULA='SameAsFMV'
		END
		ELSE IF(UPPER(@ACTION)='UPDATEEXISTINGFORMULA')
		BEGIN
				  UPDATE SAR_COMPARE_FORMULA_CNFG SET IS_FORMULA_APPLIED = 0 WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID
  
				  UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0 WHERE FORMULA_CONFIG_TYPE = 'SARFMV' AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID
  
				  IF EXISTS(SELECT SCFC_ID FROM SAR_COMPARE_FORMULA_CNFG WHERE FORNULA_NAME = @FORNULA_NAME)
				  BEGIN
						UPDATE SAR_COMPARE_FORMULA_CNFG SET IS_FORMULA_APPLIED = 1 WHERE FORNULA_NAME = @FORNULA_NAME
						
						IF(@@ROWCOUNT > 0)
						BEGIN		
							Select 1 as ID ,'Record Updated Successfully.'	as Msg								
						END
				  END
				  
				  IF EXISTS(SELECT FFC_ID FROM FMV_FORMULA_CONFIG WHERE FORNULA_NAME = @FORNULA_NAME AND FORMULA_CONFIG_TYPE = 'SARFMV'  AND SAR_FORMULA = 'BasedOnTransactionDate')
				  BEGIN
						 UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 1 WHERE FORMULA_CONFIG_TYPE = 'SARFMV' AND FORNULA_NAME = @FORNULA_NAME AND SAR_FORMULA = 'BasedOnTransactionDate'
						 
						 IF(@@ROWCOUNT > 0)
						 BEGIN		
							 Select 1 as ID ,'Record Updated Successfully.'	as Msg							
						 END
				  END
		END
		ELSE IF(UPPER(@ACTION)='FORMULANAMEEXISTORNOT')
		BEGIN		        
		        IF(EXISTS(SELECT SCFC_ID FROM SAR_COMPARE_FORMULA_CNFG WHERE FORNULA_NAME = @FORNULA_NAME AND SCFC_ID != CASE WHEN ISNULL(@SCFC_ID,0) != 0 THEN @SCFC_ID ELSE 0 END) OR EXISTS(SELECT FFC_ID FROM FMV_FORMULA_CONFIG WHERE FORNULA_NAME = @FORNULA_NAME AND FORMULA_CONFIG_TYPE = 'SARFMV' AND FFC_ID != CASE WHEN ISNULL(@FFC_ID,0) != 0 THEN @FFC_ID ELSE 0 END))
				BEGIN			
					Select 1 as ID ,'Formula Alias Name Already Exists In Database.' as Msg	
				END	
				ELSE IF(EXISTS(SELECT SCFC_ID FROM SAR_COMPARE_FORMULA_CNFG WHERE FORNULA_NAME = @FORNULA_NAME AND SCFC_ID = CASE WHEN ISNULL(@SCFC_ID,0) != 0 THEN @SCFC_ID ELSE 0 END AND CONVERT (DATE, APPLICABLE_FROM_DATE) != CONVERT (DATE, @APPLICABLE_FROM_DATE)) OR EXISTS(SELECT FFC_ID FROM FMV_FORMULA_CONFIG WHERE FORNULA_NAME = @FORNULA_NAME AND FORMULA_CONFIG_TYPE = 'SARFMV' AND FFC_ID = CASE WHEN ISNULL(@FFC_ID,0) != 0 THEN @FFC_ID ELSE 0 END AND CONVERT (DATE, APPLICABLE_FROM_DATE) != CONVERT (DATE, @APPLICABLE_FROM_DATE)))
				BEGIN			
					Select 1 as ID ,'Formula Alias Name Already Exists In Database.' as Msg	
				END			
		END
		ELSE IF(UPPER(@ACTION)='GETEXISTINGFORMULADETAILS')
		BEGIN
				
				SELECT SCFC_ID, MIT_ID , SCHEME_ID, IS_TRADINGDAYS, CONVERT(DECIMAL(18,2),PERCENT_VALUE_1) AS PERCENT_VALUE_1, PERCENT_VALUE_ON_1, CONVERT(DECIMAL(18,2),PERCENT_VALUE_2) AS PERCENT_VALUE_2,
					   PERCENT_VALUE_ON_2, ON_LEVEL, CONVERT(DECIMAL(18,2),ON_LEVEL_VALUE)AS ON_LEVEL_VALUE, APPLY_MAX_CAP, CONSIDER, APPLICABLE_FROM_DATE, APPLICABLE_TO_DATE,
	                   FORNULA_NAME, IS_FORMULA_APPLIED, MSE_ID_1, MSE_ID_2, FORMULA_DESCRIPTION 
	            FROM SAR_COMPARE_FORMULA_CNFG
				WHERE FORNULA_NAME = @FORNULA_NAME
				
				SELECT FFC_ID, FORNULA_NAME, MIT_ID, IS_TRADINGDAYS, TRANS_DATE_ID, PRICE_DAY_ID, MSE_ID, TRADING_VOL_ID,
					   STOCK_PRICE_ID, PRICE_PERIOD, PRICE_PERIOD_DAY, APPLICABLE_FROM_DATE, APPLICABLE_TO_DATE, IS_FORMULA_APPLIED,
                       SCHEME_ID, FORMULA_DESCRIPTION
                FROM FMV_FORMULA_CONFIG				
				WHERE FORNULA_NAME = @FORNULA_NAME AND FORMULA_CONFIG_TYPE = 'SARFMV' AND SAR_FORMULA = 'BasedOnTransactionDate' 
				
		END
		ELSE IF(UPPER(@ACTION)='GET_EXISTING_FORMULA_DETAILS_FOR_EDIT')
		BEGIN
				
				SELECT SCFC_ID, MIT_ID , SCHEME_ID, IS_TRADINGDAYS, CONVERT(DECIMAL(18,2),PERCENT_VALUE_1) AS PERCENT_VALUE_1, PERCENT_VALUE_ON_1, CONVERT(DECIMAL(18,2),PERCENT_VALUE_2) AS PERCENT_VALUE_2,
					   PERCENT_VALUE_ON_2, ON_LEVEL, CONVERT(DECIMAL(18,2),ON_LEVEL_VALUE)AS ON_LEVEL_VALUE, APPLY_MAX_CAP, CONSIDER, REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE, APPLICABLE_TO_DATE,
	                   FORNULA_NAME, IS_FORMULA_APPLIED,TRANS_DATE_ID, MSE_ID_1, MSE_ID_2, FORMULA_DESCRIPTION ,TRANS_DATE_ID,SAR_TRANS_DATE_ID_1,SAR_TRANS_DATE_ID_2
	            FROM SAR_COMPARE_FORMULA_CNFG
				WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1 ORDER BY SCFC_ID desc
				
				SELECT FFC_ID, FORNULA_NAME, MIT_ID, IS_TRADINGDAYS, TRANS_DATE_ID, PRICE_DAY_ID, MSE_ID, TRADING_VOL_ID,
					   STOCK_PRICE_ID, PRICE_PERIOD, PRICE_PERIOD_DAY, REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE, APPLICABLE_TO_DATE, IS_FORMULA_APPLIED,
                       SCHEME_ID, FORMULA_DESCRIPTION, SAR_FORMULA
                FROM FMV_FORMULA_CONFIG				
				WHERE SCHEME_ID = @SCHEME_ID AND FORMULA_CONFIG_TYPE = 'SARFMV' AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1 order by FFC_ID desc
				
				
				SELECT SSPM_ID,FORMULA_NAME,MIT_ID, REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE, APPLICABLE_TO_DATE, IS_FORMULA_APPLIED,SCHEME_ID
                FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1 order by SSPM_ID desc
				
		END
		ELSE IF(UPPER(@ACTION)='GET_EXISTING_FORMULA_DETAILS_FOR_EDIT_VALIDATION')
		BEGIN
		
				SELECT FFC_ID AS APPLIED_ID,MIT_ID,IS_FORMULA_APPLIED,REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE FROM FMV_FORMULA_CONFIG WHERE MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID AND IS_FORMULA_APPLIED=1 AND IS_TRADINGDAYS=@IS_TRADINGDAYS 
				UNION ALL
				SELECT SCFC_ID AS APPLIED_ID,MIT_ID,IS_FORMULA_APPLIED,REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE FROM SAR_COMPARE_FORMULA_CNFG WHERE MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID AND IS_FORMULA_APPLIED=1 AND IS_TRADINGDAYS=@IS_TRADINGDAYS 
				UNION ALL
				SELECT SSPM_ID AS APPLIED_ID,MIT_ID,IS_FORMULA_APPLIED,REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID AND IS_FORMULA_APPLIED=1
				ORDER BY APPLIED_ID DESC 
				
		END
		
	END TRY
	BEGIN CATCH
		RETURN 0
	END CATCH
	SET NOCOUNT OFF;
END
GO
