/****** Object:  StoredProcedure [dbo].[PROC_TRACK_TRANSFER_UPLOAD]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_TRACK_TRANSFER_UPLOAD]
GO
/****** Object:  StoredProcedure [dbo].[PROC_TRACK_TRANSFER_UPLOAD]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROC_TRACK_TRANSFER_UPLOAD 'Tax Identifier Country'
CREATE PROCEDURE [dbo].[PROC_TRACK_TRANSFER_UPLOAD]
(
	@FIELD_NAME VARCHAR(100)
)
AS
BEGIN
	CREATE TABLE #TEMP_MovementTemplate 
	(
		FIELD_NAME	NVARCHAR(50),
		EMPLOYEEID	NVARCHAR(50),
		EMPLOYEENAME NVARCHAR(75),
		[STATUS]	NVARCHAR(20),
		[CURRENT DETAILS] NVARCHAR(200),
		[FROM DATE]	DATE,
		[MOVED TO]	NVARCHAR(200),
		[FROM DATE OF MOVEMENT]	DATE,
		[CREATED_ON] DATETIME
	)
		
	INSERT INTO #TEMP_MovementTemplate 
	(FIELD_NAME,EMPLOYEEID,EMPLOYEENAME,[STATUS],[CURRENT DETAILS],[FROM DATE],[MOVED TO],[FROM DATE OF MOVEMENT])
	SELECT	[FIELD], 
			EMPLOYEEID, 
			EMPLOYEENAME, 
			[STATUS],
			[CURRENT DETAILS], 
			[FROMDATE] AS [FROM DATE],
			'' AS [MOVED TO],
			'' AS [FROM DATE OF MOVEMENT]			
	FROM (
	  SELECT 
	    CASE WHEN (UPPER(FIELD)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country'
		     WHEN (UPPER(FIELD)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State'  
		ELSE FIELD END  AS FIELD,
			EMPLOYEEID, 
			EMPLOYEENAME,
			[STATUS], 
			[MOVED TO] AS [CURRENT DETAILS], 
			[FROM DATE OF MOVEMENT] AS [FROMDATE], 
			'' AS [MOVED TO],
			'' AS [FROM DATE OF MOVEMENT],
			ROW_NUMBER() OVER (PARTITION BY EMPLOYEEID ORDER BY [FROM DATE OF MOVEMENT] DESC ,CREATED_ON DESC) RN
	  FROM AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD
	  WHERE CASE WHEN (UPPER(FIELD)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country' 
			WHEN (UPPER(FIELD)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State'  
	   ELSE FIELD End = UPPER(@FIELD_NAME)
	) TMP WHERE RN = 1

	
	/**/	
	INSERT INTO #TEMP_MOVEMENTTEMPLATE
	(FIELD_NAME,EMPLOYEEID,EMPLOYEENAME,[STATUS],[CURRENT DETAILS],[FROM DATE],[MOVED TO],[FROM DATE OF MOVEMENT])
	SELECT	
	     CASE WHEN (UPPER(@FIELD_NAME)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country'
		      WHEN (UPPER(@FIELD_NAME)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State'  
		 ELSE @FIELD_NAME END  AS FIELD,	   
			EmployeeId,
			EmployeeName,
			(CASE WHEN DATEOFTERMINATION IS NULL 
					THEN 'LIVE' 
				  ELSE 'SEPARATED' 
			 END) AS [STATUS],
			(CASE	WHEN UPPER(@FIELD_NAME)='ENTITY'					THEN EM.ENTITY 
					WHEN UPPER(@FIELD_NAME)='LOCATION'					THEN EM.LOCATION	
					WHEN UPPER(@FIELD_NAME)='DEPARTMENT'				THEN EM.DEPARTMENT 
					WHEN UPPER(@FIELD_NAME)='SUB'						THEN EM.SBU 
					WHEN UPPER(@FIELD_NAME)='COST_CENTER'				THEN EM.COST_CENTER
					WHEN UPPER(@FIELD_NAME)='TAX IDENTIFIER COUNTRY'	THEN (CASE WHEN (SELECT CountryName FROM COUNTRYMASTER Where CONVERT(VARCHAR(10), ID) = EM.TAX_IDENTIFIER_COUNTRY) IS NOT NULL THEN (SELECT CountryName FROM COUNTRYMASTER Where CONVERT(VARCHAR(10), ID)= EM.TAX_IDENTIFIER_COUNTRY) ELSE (SELECT CountryName FROM COUNTRYMASTER Where CountryName = EM.TAX_IDENTIFIER_COUNTRY) END)
					WHEN UPPER(@FIELD_NAME)='TAX IDENTIFIER STATE'	    THEN EM.TAX_IDENTIFIER_STATE 
					
			 END)AS [CURRENT DETAILS],
			 '' AS [FROM DATE],
			 '' AS [MOVED TO],
			 '' AS [FROM DATE OF MOVEMENT]
	FROM	EmployeeMaster EM			
	WHERE  EM.EmployeeID NOT IN (SELECT EMPLOYEEID FROM #TEMP_MovementTemplate )
			AND EM.Deleted = 0
		   
	/**/	
	SELECT FIELD_NAME,	 
	       EMPLOYEEID,EMPLOYEENAME,[STATUS],[CURRENT DETAILS],
		   CASE WHEN ([FROM DATE]='1900-01-01') THEN NULL ELSE [FROM DATE] END [FROM DATE],	[MOVED TO],
		   CASE WHEN ([FROM DATE OF MOVEMENT]='1900-01-01') THEN NULL ELSE [FROM DATE OF MOVEMENT] END [FROM DATE OF MOVEMENT]
	FROM #TEMP_MovementTemplate 
	ORDER BY EMPLOYEEID,EMPLOYEENAME,[FROM DATE]
	
	DROP TABLE #TEMP_MovementTemplate
END
GO
