/****** Object:  StoredProcedure [dbo].[SP_CALCULATE_TRANSACTION_CHARGES]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[SP_CALCULATE_TRANSACTION_CHARGES]
GO
/****** Object:  StoredProcedure [dbo].[SP_CALCULATE_TRANSACTION_CHARGES]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CALCULATE_TRANSACTION_CHARGES]
	
	@EXERCISE_AMOUNT		NUMERIC(18,4) = NULL,
	@PERQUISITE_TAX			NUMERIC(18,4) = NULL,
	@BANK_ID				VARCHAR(10)	  = NULL 
	
AS
BEGIN
	
	DECLARE @CHK_TRNEXAMT BIT,@CHK_TRNPQTAX BIT,@TRNVAL_EXAMT NUMERIC(18,4),@TRNVAL_PQTAX NUMERIC(18,4),@TRNVAL_MAXLIMIT INT,
			@CHK_MAXVAL_EXAMT BIT,@CHK_MAXVAL_PQTAX BIT,@MAXVAL_EXAMT NUMERIC(18,4),@MAXVAL_PQTAX NUMERIC(18,4),@MAXVAL_MAXLIMIT INT,
			@TRANSACTION_COST NUMERIC(18,2),
			@TEMP_EXAMT NUMERIC(18,4)=0,@TEMP_PQTAX NUMERIC(18,4)=0,@FIXED_COST_VAL INT
			
			SELECT @CHK_TRNEXAMT=(SELECT CHK_TRNVAL_EXAMT FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID),
			@CHK_TRNPQTAX=(SELECT CHK_TRNVAL_PQTAX FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID),
			@TRNVAL_EXAMT=(SELECT TRNVAL_EXAMT FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID),
			@TRNVAL_PQTAX=(SELECT TRNVAL_PQTAX FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID),
			@TRNVAL_MAXLIMIT=(SELECT TRNVAL_MAXLIMIT FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID),
			@FIXED_COST_VAL=(SELECT ISNULL(TRANSACTIONAMOUNT,0) AS TRANSACTIONAMOUNT FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID),
			@CHK_MAXVAL_EXAMT=(SELECT CHK_MAXVAL_EXAMT FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID),
			@MAXVAL_EXAMT=(SELECT MAXVAL_EXAMT FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID),
			@CHK_MAXVAL_PQTAX=(SELECT CHK_MAXVAL_PQTAX FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID),
			@MAXVAL_PQTAX=(SELECT MAXVAL_PQTAX FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID),
			@MAXVAL_MAXLIMIT=(SELECT MAXVAL_MAXLIMIT FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID)

	DECLARE @METHOD_TYPE VARCHAR(50)
	
	SET @METHOD_TYPE=(	SELECT TCM.TRN_COST_METHOD_NAME 
						FROM PAYMENTBANKMASTER AS PBM 
						INNER JOIN TRANSACTION_COST_METHOD_MASTER AS TCM 
						ON TCM.TCMID=PBM.TCMID  
						WHERE BANKID=@BANK_ID
					 )
	--print @METHOD_TYPE
	
	IF(@METHOD_TYPE='FixedCost')
		BEGIN

			SELECT ISNULL(TRANSACTIONAMOUNT,0) AS TRANSACTIONAMOUNT FROM PAYMENTBANKMASTER WHERE BANKID=@BANK_ID
		END	
	
	IF(@METHOD_TYPE='%ofTransactionValue')
		BEGIN
			--  Case 6:  Combination of %of Exercise Amount,% of Perquisite Tax and MaxLimit
			
			IF((@CHK_TRNEXAMT=1 AND @CHK_TRNPQTAX=1) AND ((LEN(@TRNVAL_EXAMT)>0) AND (LEN(@TRNVAL_PQTAX)> 0) AND (LEN(@TRNVAL_MAXLIMIT)> 0) AND (@TRNVAL_MAXLIMIT <> 0)))
			BEGIN
				
				SET @TEMP_EXAMT=@EXERCISE_AMOUNT *(@TRNVAL_EXAMT/100)
				SET @TEMP_PQTAX=@PERQUISITE_TAX * (@TRNVAL_PQTAX /100)
				SET @TRANSACTION_COST=@TEMP_EXAMT + @TEMP_PQTAX
				
				--PRINT @TRANSACTION_COST
				--PRINT @TRNVAL_MAXLIMIT
				
				IF((@TRANSACTION_COST > @TRNVAL_MAXLIMIT) AND(@TRNVAL_MAXLIMIT  < @TRANSACTION_COST))
					BEGIN
						SELECT @TRNVAL_MAXLIMIT AS TransactionAmount
					END
				
				ELSE IF((@TRANSACTION_COST > @TRNVAL_MAXLIMIT))
					BEGIN
						SELECT @TRANSACTION_COST AS TransactionAmount
					END
					
				ELSE IF(@TRNVAL_MAXLIMIT > @TRANSACTION_COST)
					BEGIN
						SELECT @TRNVAL_MAXLIMIT AS TransactionAmount
					END
			END
			
			 --Case 5:  Combination of %of Exercise Amount,% of Perquisite Tax 
			ELSE IF (((@CHK_TRNEXAMT=1 AND @CHK_TRNPQTAX=1) AND (@TRNVAL_EXAMT >0) AND (@TRNVAL_PQTAX > 0)) AND ((@TRNVAL_MAXLIMIT =0) OR (@TRNVAL_MAXLIMIT IS NULL) OR (LEN(@TRNVAL_MAXLIMIT)=0)))
			BEGIN
				
			
				SET @TEMP_EXAMT=@EXERCISE_AMOUNT *(@TRNVAL_EXAMT/100)
				SET @TEMP_PQTAX=@PERQUISITE_TAX * (@TRNVAL_PQTAX /100)
				SET @TRANSACTION_COST=@TEMP_EXAMT + @TEMP_PQTAX
				
				SELECT @TRANSACTION_COST AS TransactionAmount 
			END
			
			-- Case 4:  Combination of % of Perquisite Tax Amount and Max Limit
			
			ELSE IF((@CHK_TRNPQTAX=1)AND(((LEN(@TRNVAL_EXAMT)= 0) OR (@TRNVAL_EXAMT= 0) OR (@TRNVAL_EXAMT IS NULL)) AND (LEN(@TRNVAL_PQTAX)> 0) AND (LEN(@TRNVAL_MAXLIMIT)> 0)))
			BEGIN

				SET @TRANSACTION_COST=0
				SET @TRANSACTION_COST= @PERQUISITE_TAX * (@TRNVAL_PQTAX /100)
				
				IF ((@TRNVAL_MAXLIMIT < @TRANSACTION_COST) AND (@TRNVAL_MAXLIMIT > 0)) 
					BEGIN
						SELECT @TRNVAL_MAXLIMIT AS TransactionAmount		
					END
				ELSE 
					BEGIN
						SELECT @TRANSACTION_COST AS TransactionAmount				
					END
			END
			
			-- Case 3:  Combination of % of Exercise Amount and Max Limit
			
			ELSE IF((@CHK_TRNEXAMT=1)AND ((LEN(@TRNVAL_EXAMT)>0) AND ((LEN(@TRNVAL_PQTAX)=0) OR (@TRNVAL_PQTAX=0) OR (@TRNVAL_PQTAX IS NULL)) AND (LEN(@TRNVAL_MAXLIMIT)> 0)))
			BEGIN

				SET @TRANSACTION_COST=0
				SET @TRANSACTION_COST= @EXERCISE_AMOUNT * (@TRNVAL_EXAMT /100)
				
				/* 	
					PRINT @TRANSACTION_COST
`	   				PRINT @TRNVAL_MAXLIMIT
				*/

				IF ((@TRNVAL_MAXLIMIT < @TRANSACTION_COST) AND (@TRNVAL_MAXLIMIT > 0)) 
					BEGIN
						SELECT @TRNVAL_MAXLIMIT AS TransactionAmount
					END
				ELSE 
					BEGIN
						SELECT @TRANSACTION_COST AS TransactionAmount
					END

			END
			
			---- Case 2:  Only percentage of Perquisite Tax Amount
			
			ELSE IF(@CHK_TRNPQTAX=1 AND(((LEN(@TRNVAL_EXAMT)= 0) OR (@TRNVAL_EXAMT = 0) OR (@TRNVAL_EXAMT IS NULL)) AND (LEN(@TRNVAL_PQTAX)> 0) AND ((LEN(@TRNVAL_MAXLIMIT)= 0) OR (@TRNVAL_MAXLIMIT = 0 OR (@TRNVAL_MAXLIMIT IS NULL)))))
			BEGIN

				SET @TRANSACTION_COST=0
				SET @TRANSACTION_COST= @PERQUISITE_TAX * (@TRNVAL_PQTAX /100)
				
				SELECT @TRANSACTION_COST AS TransactionAmount
			END
			
			-- Case 1: Only percentage of Exercise Amount
			ELSE IF(@CHK_TRNEXAMT=1 AND((LEN(@TRNVAL_EXAMT)>0) AND ((LEN(@TRNVAL_PQTAX)=0) OR (@TRNVAL_PQTAX=0) OR (@TRNVAL_PQTAX IS NULL)) AND ((LEN(@TRNVAL_MAXLIMIT)= 0) OR (@TRNVAL_MAXLIMIT = 0) OR (@TRNVAL_MAXLIMIT IS NULL))))

			BEGIN

				SET @TRANSACTION_COST= @EXERCISE_AMOUNT * (@TRNVAL_EXAMT /100)
				
				SELECT @TRANSACTION_COST AS TransactionAmount
			END
		END
	
	IF(@METHOD_TYPE='MaximumValueOfFixedCostor%ofTransactionValue')
		BEGIN
			
			--  Case 6:  Combination of %of Exercise Amount,% of Perquisite Tax and MaxLimit
			
			IF( ((@CHK_MAXVAL_EXAMT=1) AND ((@MAXVAL_EXAMT)>0)) AND ((@CHK_MAXVAL_PQTAX=1) AND ((@MAXVAL_PQTAX)> 0)) AND ((@MAXVAL_MAXLIMIT) > 0) AND ((@FIXED_COST_VAL) > 0))
			BEGIN
					
				SET @TEMP_EXAMT=@EXERCISE_AMOUNT *(@MAXVAL_EXAMT/100)
				SET @TEMP_PQTAX=@PERQUISITE_TAX * (@MAXVAL_PQTAX /100)
				SET @TRANSACTION_COST=@TEMP_EXAMT + @TEMP_PQTAX
			
				IF( @FIXED_COST_VAL > @TRANSACTION_COST)
				
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount
					END

				IF(@FIXED_COST_VAL > @MAXVAL_MAXLIMIT)
				
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount
					END

				IF((@TRANSACTION_COST > @MAXVAL_MAXLIMIT) AND (@FIXED_COST_VAL < @TRANSACTION_COST))
				
					BEGIN
						SELECT @MAXVAL_MAXLIMIT AS TransactionAmount
					END	
					
				IF ((@MAXVAL_MAXLIMIT > @TRANSACTION_COST) AND (@MAXVAL_MAXLIMIT > @FIXED_COST_VAL))
					
					BEGIN
						SELECT @MAXVAL_MAXLIMIT AS TransactionAmount
					END
					
				IF((@FIXED_COST_VAL > @TRANSACTION_COST) AND (@FIXED_COST_VAL > @MAXVAL_MAXLIMIT))
				
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount
					END
				IF(((@FIXED_COST_VAL < @TRANSACTION_COST) AND (@FIXED_COST_VAL > @MAXVAL_EXAMT) AND (@FIXED_COST_VAL > @MAXVAL_MAXLIMIT)) OR ((@FIXED_COST_VAL < @TRANSACTION_COST) AND (@FIXED_COST_VAL > @MAXVAL_PQTAX) AND (@FIXED_COST_VAL > @MAXVAL_MAXLIMIT)))
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount
					END
			END
			
			-- Case 5:  Compare Addition %of Exercise Amount,% of Perquisite Tax, with comparison of Max Limit and Fixed Cost
			
			ELSE IF ((@CHK_MAXVAL_EXAMT=1 AND (@CHK_MAXVAL_PQTAX =1)) AND ((LEN(@MAXVAL_EXAMT)>0) AND (LEN(@MAXVAL_PQTAX)>0)) AND ((LEN(@FIXED_COST_VAL)>0) )
			AND (((LEN(@MAXVAL_MAXLIMIT)> 0)OR (@MAXVAL_MAXLIMIT=0) OR (@MAXVAL_MAXLIMIT IS NULL))))
			BEGIN
				
				SET @TEMP_EXAMT=@EXERCISE_AMOUNT *(@MAXVAL_EXAMT/100)
				SET @TEMP_PQTAX=@PERQUISITE_TAX * (@MAXVAL_PQTAX /100)
				SET @TRANSACTION_COST=@TEMP_EXAMT + @TEMP_PQTAX

				--PRINT @FIXED_COST_VAL
				--PRINT @TRANSACTION_COST
				--PRINT @MAXVAL_MAXLIMIT
				
				IF(@TRANSACTION_COST > @FIXED_COST_VAL)
					BEGIN
						SELECT @TRANSACTION_COST AS TransactionAmount
					END
				ELSE 
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount 
					END
					
				IF(LEN(@MAXVAL_MAXLIMIT)>0)
					BEGIN
						IF(@TRANSACTION_COST > @MAXVAL_MAXLIMIT)
							BEGIN
								SELECT @TRANSACTION_COST AS TransactionAmount
							END
						ELSE
							BEGIN
								SELECT @MAXVAL_MAXLIMIT AS TransactionAmount
							END
					END	
				
				IF(LEN(@MAXVAL_MAXLIMIT)>0)
				BEGIN
					IF(@FIXED_COST_VAL > @MAXVAL_MAXLIMIT )
						BEGIN
							SELECT @FIXED_COST_VAL AS TransactionAmount
						END
					ELSE
						BEGIN
							SELECT @MAXVAL_MAXLIMIT AS TransactionAmount
						END
				END
				
				IF(((@FIXED_COST_VAL < @TRANSACTION_COST) AND (@FIXED_COST_VAL > @MAXVAL_EXAMT) AND (@FIXED_COST_VAL > @MAXVAL_MAXLIMIT)) OR ((@FIXED_COST_VAL < @TRANSACTION_COST) AND (@FIXED_COST_VAL > @MAXVAL_PQTAX) AND (@FIXED_COST_VAL > @MAXVAL_MAXLIMIT)))
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount
					END
			END
			
			-- Case 4:  Combination of % of Perquisite Tax Amount and Max Limit with Fixed Cost
			
			ELSE IF((@CHK_MAXVAL_PQTAX=1) AND ((LEN(@FIXED_COST_VAL)>0) AND (LEN(@MAXVAL_PQTAX)>0) AND (LEN(@MAXVAL_MAXLIMIT)>0)))
			BEGIN

				SET @TRANSACTION_COST=0
				SET @TRANSACTION_COST= @PERQUISITE_TAX * (@MAXVAL_PQTAX/100)
				
				IF((@FIXED_COST_VAL < @TRANSACTION_COST) AND (@FIXED_COST_VAL > @MAXVAL_PQTAX) AND (@FIXED_COST_VAL > @MAXVAL_MAXLIMIT))
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount
					END
				
				IF ((@MAXVAL_MAXLIMIT < @TRANSACTION_COST) AND (@MAXVAL_MAXLIMIT > 0)) 
					BEGIN
						SELECT @MAXVAL_MAXLIMIT AS TransactionAmount
					END
				
				IF(@TRANSACTION_COST > @MAXVAL_MAXLIMIT)
					BEGIN
						SELECT @TRANSACTION_COST AS TransactionAmount
					END
				ELSE
					BEGIN
						SELECT @MAXVAL_MAXLIMIT AS TransactionAmount
					END
				IF(@TRANSACTION_COST > @FIXED_COST_VAL)
					BEGIN
						SELECT @TRANSACTION_COST AS TransactionAmount
					END
				ELSE
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount
					END
				
			END
			
			-- Case 3:  Combination of % of Exercise Amount and Max Value with Fixed Cost
			ELSE IF((@CHK_MAXVAL_EXAMT=1) AND ((LEN(@FIXED_COST_VAL)>0) AND (LEN(@MAXVAL_EXAMT)>0) AND (LEN(@MAXVAL_MAXLIMIT)>0)))			
			BEGIN
				SET @TRANSACTION_COST=0
				SET @TRANSACTION_COST= @EXERCISE_AMOUNT * (@MAXVAL_EXAMT /100)
				
				IF ((@MAXVAL_MAXLIMIT < @TRANSACTION_COST) AND (@MAXVAL_MAXLIMIT > 0)) 
					BEGIN
						SELECT @MAXVAL_MAXLIMIT AS TransactionAmount
					END

				IF(@TRANSACTION_COST > @MAXVAL_MAXLIMIT)
					BEGIN
						SELECT @TRANSACTION_COST AS TransactionAmount
					END
				ELSE
					BEGIN
						SELECT @MAXVAL_MAXLIMIT AS TransactionAmount
					END
				IF(@TRANSACTION_COST > @FIXED_COST_VAL)
					BEGIN
						SELECT @TRANSACTION_COST AS TransactionAmount
					END
				ELSE
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount
					END
					
				IF((@FIXED_COST_VAL < @TRANSACTION_COST) AND (@FIXED_COST_VAL > @MAXVAL_EXAMT) AND (@FIXED_COST_VAL > @MAXVAL_MAXLIMIT))
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount
					END
			END
			
			-- Case 2:  Only percentage of Perquisite Tax Amount with Fixed Cost
			ELSE IF((@CHK_MAXVAL_PQTAX=1) AND (LEN(@MAXVAL_PQTAX)>0) AND (LEN(@FIXED_COST_VAL)>0))
			BEGIN
				
				SET @TRANSACTION_COST=0
				SET @TRANSACTION_COST= @PERQUISITE_TAX * (@MAXVAL_PQTAX /100)

				IF(@TRANSACTION_COST > @FIXED_COST_VAL)
					BEGIN
						SELECT @TRANSACTION_COST AS TransactionAmount
					END
				ELSE
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount
					END
			END
			
			-- Case 1: Only percentage of Exercise Amount with Fixed Cost
			ELSE IF((@CHK_MAXVAL_EXAMT=1) AND (LEN(@MAXVAL_EXAMT)>0) AND (LEN(@FIXED_COST_VAL)>0))
			
			BEGIN

				SET @TRANSACTION_COST= @EXERCISE_AMOUNT * (@MAXVAL_EXAMT /100)
				IF(@TRANSACTION_COST > @FIXED_COST_VAL)
					BEGIN
						SELECT @TRANSACTION_COST AS TransactionAmount
					END
				ELSE
					BEGIN
						SELECT @FIXED_COST_VAL AS TransactionAmount
					END
			END
		END
END
GO
