/****** Object:  StoredProcedure [dbo].[PROC_GET_PAGECONFIGURATION]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_PAGECONFIGURATION]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PAGECONFIGURATION]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_PAGECONFIGURATION] 
	
AS
BEGIN
	SELECT DISPLAYMESSAGEON,PAGENAME,SECTIONNAME FROM MST_PAGECONFIGURATION
END
GO
