/****** Object:  StoredProcedure [dbo].[PROC_CHECK_GRANTID_EMPID_COMBINATION]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CHECK_GRANTID_EMPID_COMBINATION]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CHECK_GRANTID_EMPID_COMBINATION]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CHECK_GRANTID_EMPID_COMBINATION]
	-- Add the parameters for the stored procedure here
	@ALLOTMENT_DATA dbo.TYPE_ALLOTMENT_DATA READONLY
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	SET NOCOUNT ON;
	
	--/* CREATE COMBINATEION KEY FOR DATA READ FROM EXCEL */	   
	
	--SELECT 
	--	ALD.EXERCISE_NO, ALD.EXERCISE_ID, ALD.EMPLOYEE_ID, ALD.GRANT_REG_ID, ALD.GRANT_DATE, ALD.GRANT_OPTION_ID, 
	--	ALD.GRANT_LEG_ID, ALD.GRANT_OPTION_ID + ' ' + ALD.EMPLOYEE_ID
	--FROM 
	--	@ALLOTMENT_DATA AS ALD

	CREATE TABLE #FINAL_OUTPUT
	(
		SN BIGINT IDENTITY (1,1),
		
		ALD_EXERCISE_NO NVARCHAR(100),
		ALD_EXERCISE_ID NVARCHAR(100),
		ALD_EMPLOYEE_ID NVARCHAR(100),
		ALD_GRANT_REG_ID NVARCHAR(100),
		ALD_GRANT_DATE DATETIME,
		ALD_GRANT_OPTION_ID NVARCHAR(100), 
		ALD_GRANT_LEG_ID NVARCHAR(100), 
		ALD_COMBINATION_KEY NVARCHAR(100),

		SHO_ExerciseNo NVARCHAR(100), 
		SHO_ExerciseId NVARCHAR(100), 
		GOP_EmployeeId NVARCHAR(100), 
		GL_GrantLegId  NVARCHAR(100), 
		GL_GrantOptionId NVARCHAR(100), 
		GOP_GrantOptionId  NVARCHAR(100), 
		GOP_COMBINATION_KEY NVARCHAR(100),		
	)
	/* CREATE COMBINATEION KEY FROM DB BY USING EXCEL DATA */		
	INSERT INTO #FINAL_OUTPUT
	(
		ALD_EXERCISE_NO, ALD_EXERCISE_ID, ALD_EMPLOYEE_ID, ALD_GRANT_REG_ID, ALD_GRANT_DATE, ALD_GRANT_OPTION_ID, ALD_GRANT_LEG_ID, ALD_COMBINATION_KEY,
		SHO_ExerciseNo, SHO_ExerciseId, GOP_EmployeeId, GL_GrantLegId, GL_GrantOptionId, GOP_GrantOptionId, GOP_COMBINATION_KEY
	)
	SELECT 
		ALD.EXERCISE_NO, ALD.EXERCISE_ID, ALD.EMPLOYEE_ID, ALD.GRANT_REG_ID, ALD.GRANT_DATE, ALD.GRANT_OPTION_ID, 
		ALD.GRANT_LEG_ID, ALD.GRANT_OPTION_ID + ' ' + ALD.EMPLOYEE_ID,
		SHO.ExerciseNo, SHO.ExerciseId, GOP.EmployeeId, GL.GrantLegId, GL.GrantOptionId, 
		GOP.GrantOptionId, GOP.GrantOptionId + ' ' + GOP.EmployeeId
	FROM 
		@ALLOTMENT_DATA AS ALD	
		INNER JOIN ShExercisedOptions AS SHO ON SHO.ExerciseId = ALD.EXERCISE_ID
		INNER JOIN GrantLeg AS GL ON GL.ID = SHO.GrantLegSerialNumber
		INNER JOIN GrantOptions AS GOP ON GOP.GrantOptionId = GL.GrantOptionId	
	
	SELECT 
		SN,
		ALD_EXERCISE_NO, ALD_EXERCISE_ID, ALD_EMPLOYEE_ID, ALD_GRANT_REG_ID, ALD_GRANT_DATE, ALD_GRANT_OPTION_ID, ALD_GRANT_LEG_ID, ALD_COMBINATION_KEY,
		SHO_ExerciseNo, SHO_ExerciseId, GOP_EmployeeId, GL_GrantLegId, GL_GrantOptionId, GOP_GrantOptionId, GOP_COMBINATION_KEY
	FROM 
		#FINAL_OUTPUT
	WHERE 
		(ALD_COMBINATION_KEY <> GOP_COMBINATION_KEY)

	DROP TABLE #FINAL_OUTPUT

	SET NOCOUNT OFF;				
END
GO
