/****** Object:  StoredProcedure [dbo].[PROC_GET_TRACK_MASSUPLOAD]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_TRACK_MASSUPLOAD]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_TRACK_MASSUPLOAD]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_TRACK_MASSUPLOAD]
	
AS
BEGIN
	
	SET NOCOUNT ON;	
							
	SELECT FIELD_NAME FROM MASTER_LIST_FLD_NAME  WHERE FIELD_NAME IN('TAX_IDENTIFIER_COUNTRY','TAX_IDENTIFIER_STATE') AND IS_TRACKING_ENABLED = 1
				
	SET NOCOUNT OFF;	
END
GO
