/****** Object:  StoredProcedure [dbo].[PROC_GET_POOL_BALANCE_REPORT]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_POOL_BALANCE_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_POOL_BALANCE_REPORT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_GET_POOL_BALANCE_REPORT] 
	
		
		@APPROVAL_ID NVARCHAR(100),
		@ACTION NVARCHAR (50)
		
	AS		
	BEGIN
	IF(UPPER(@ACTION)='POOL')
	BEGIN
		SELECT  SCHEMEID,SCHEMETITLE AS SCHEMETITLE ,SUM(NOOFOPTIONSGRANTED) AS NOOFOPTIONSGRANTED,SUM(EXERCISEDQTY) AS EXERCISEDQUANTITY, SUM(ISNULL(CAST(SHAREISSUE AS INT), 0))     AS SHAREISSUE,MIT_ID
		,CASE WHEN MIT_ID<=4 THEN '1' ELSE '0' END AS IS_INSTRUMENT
		FROM
		(
    		SELECT SCHEMEID,TD.ID,
			SCHEMETITLE AS SCHEMETITLE ,NOOFOPTIONSGRANTED AS NOOFOPTIONSGRANTED ,EXERCISEDQTY AS EXERCISEDQTY
			,ISNULL (CASE EX.CALCULATE_TAX WHEN 'RDOACTUALTAX'  THEN SUM(ISNULL(EX.SHAREARISEAPPRVALUE, 0)) 
			WHEN 'RDOTENTATIVETAX'  THEN SUM(ISNULL(EX.TENTSHAREARISEAPPRVALUE, 0)) END ,0)
			AS  SHAREISSUE ,TD.MIT_ID
			FROM EXERCISED EX RIGHT JOIN (

			SELECT SC.CALCULATE_TAX, GL.ID,SC.SCHEMEID AS  SCHEMEID,
			SC.SCHEMETITLE AS SCHEMETITLE,
			SUM(GL.GRANTEDOPTIONS) AS NOOFOPTIONSGRANTED,
			SUM(ISNULL(GL.EXERCISEDQUANTITY, 0)) AS EXERCISEDQTY,
			SC.MIT_ID 
			FROM SCHEME SC INNER JOIN GRANTLEG GL ON GL.SCHEMEID=SC.SCHEMEID 
			WHERE  GL.APPROVALID=@APPROVAL_ID AND SC.MIT_ID NOT IN (5,7)
			GROUP BY SC.CALCULATE_TAX,SC.SCHEMEID,SC.SCHEMETITLE,SC.MIT_ID,SC.CALCULATE_TAX,GL.ID
			) TD ON EX.GRANTLEGSERIALNUMBER=TD.ID
			GROUP BY SCHEMEID,ID,SCHEMETITLE ,NOOFOPTIONSGRANTED ,EXERCISEDQTY ,EX.CALCULATE_TAX,TD.MIT_ID
			) TF
			GROUP BY SCHEMEID,SCHEMETITLE,TF.MIT_ID
			ORDER BY SCHEMEID 			

    END
			
	ELSE
	BEGIN
		    SELECT  SCHEMEID,SCHEMETITLE AS SCHEMETITLE ,SUM(NOOFOPTIONSGRANTED) AS NOOFOPTIONSGRANTED,SUM(EXERCISEDQTY) AS EXERCISEDQUANTITY
			, SUM(ISNULL(CAST(SHAREISSUE AS INT), 0))     AS SHAREISSUE,MIT_ID,CASE WHEN MIT_ID<=4 THEN '1' ELSE '0' END AS IS_INSTRUMENT
			FROM
			(
			SELECT SCHEMEID,TD.ID,
			SCHEMETITLE AS SCHEMETITLE ,NOOFOPTIONSGRANTED AS NOOFOPTIONSGRANTED ,EXERCISEDQTY AS EXERCISEDQTY
			,ISNULL (CASE EX.CALCULATE_TAX WHEN 'RDOACTUALTAX'  THEN SUM(ISNULL(EX.SHAREARISEAPPRVALUE, 0)) 
			WHEN 'RDOTENTATIVETAX'  THEN SUM(ISNULL(EX.TENTSHAREARISEAPPRVALUE, 0)) END ,0)
			AS  SHAREISSUE ,TD.MIT_ID
			FROM EXERCISED EX RIGHT JOIN (
			SELECT SC.CALCULATE_TAX, GL.ID,SC.SCHEMEID AS  SCHEMEID,
			SC.SCHEMETITLE AS SCHEMETITLE,
			SUM(GL.BONUSSPLITQUANTITY) AS NOOFOPTIONSGRANTED,
			SUM(ISNULL(GL.EXERCISEDQUANTITY, 0)) AS EXERCISEDQTY,
			SC.MIT_ID 
			FROM SCHEME SC INNER JOIN GRANTLEG GL ON GL.SCHEMEID=SC.SCHEMEID 
			WHERE  GL.APPROVALID=@APPROVAL_ID AND SC.MIT_ID NOT IN (5,7)
			GROUP BY SC.CALCULATE_TAX,SC.SCHEMEID,SC.SCHEMETITLE,SC.MIT_ID,SC.CALCULATE_TAX,GL.ID
			) TD ON EX.GRANTLEGSERIALNUMBER=TD.ID
			GROUP BY SCHEMEID,ID,SCHEMETITLE ,NOOFOPTIONSGRANTED ,EXERCISEDQTY ,EX.CALCULATE_TAX,TD.MIT_ID
			) TF
			GROUP BY SCHEMEID,SCHEMETITLE,TF.MIT_ID
			ORDER BY SCHEMEID
	END		

END
GO
