/****** Object:  StoredProcedure [dbo].[USP_DISAPPROVERECORD]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_DISAPPROVERECORD]
GO
/****** Object:  StoredProcedure [dbo].[USP_DISAPPROVERECORD]    Script Date: 7/6/2022 1:40:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_DISAPPROVERECORD]
(
	@LASTUPDATEDBY VARCHAR(20),
	@STATUS VARCHAR(20)	
)
AS 
BEGIN
	Delete from ShGrantLeg
END

	
--truncate table AUDITTRAILTABLE_EDITGRANTMASSUPLOAD



--EXEC USP_DISAPPROVERECORD 'Nehatank','Disapprove'
GO
