/****** Object:  StoredProcedure [dbo].[PROC_GETTRACKINGMASTERFIELDS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GETTRACKINGMASTERFIELDS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GETTRACKINGMASTERFIELDS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GETTRACKINGMASTERFIELDS]
AS
BEGIN	
	SELECT 	
	CASE WHEN (UPPER(FIELD_NAME)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country'
		 WHEN (UPPER(FIELD_NAME)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State'  
	ELSE FIELD_NAME END  AS FIELD_NAME
	FROM MASTER_LIST_FLD_NAME
	WHERE IS_TRACKING_ENABLED = 1 
		  AND IS_ADD_IN_LIST = 1 
	ORDER BY FIELD_NAME	
END
GO
