/****** Object:  StoredProcedure [dbo].[PROC_CRUD_PROPORTIONATEPERQ_VALUE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CRUD_PROPORTIONATEPERQ_VALUE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CRUD_PROPORTIONATEPERQ_VALUE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[PROC_CRUD_PROPORTIONATEPERQ_VALUE]
	(	 
		@PPC_ID					BIGINT =Null,
		@FORMULA_NAME			VARCHAR(250) =Null , 
		@MIT_ID					INT =Null,
		@ISPROPORTINATE_VALUE	TINYINT =Null,
		@EVENT_OF_INCIDENCE_ID	BIGINT =Null,
		@FORMULA_DESCRIPTION	NVARCHAR(500),
		@RESIDENTIAL_ID			BIGINT=NULL,
		@COUNTRY_ID				BIGINT =Null,
		@APPLICABLE_FROM_DATE	DATETIME =Null,
		@CREATED_BY				NVARCHAR(50)=Null,
		@ACTION					NVARCHAR(50)
		
		
 
	 )
AS
BEGIN
	SET NOCOUNT ON;
	
	BEGIN TRY		
	--	BEGIN TRANSACTION
		IF(@RESIDENTIAL_ID =0)
		SET @RESIDENTIAL_ID=Null
	
		IF(@COUNTRY_ID =0)
		SET @COUNTRY_ID=Null
		
		 DECLARE @APPLICABLE_TO_DATE DATETIME 
		 Set @APPLICABLE_TO_DATE=NULL
		 DECLARE @PPCID INT = 0
		 DECLARE	@LOCKINGDATE DATETIME
		IF(UPPER(@ACTION)='ADD')
		BEGIN		
				--SELECT @PPCID = PPC_ID,@LOCKINGDATE=APPLICABLE_FROM_DATE FROM PROPORTIONATE_PERQ_CONFIG PFC WHERE PFC.Country_ID = ISNULL(@Country_ID,0) And PFC.Residential_ID=ISNULL(@Residential_ID,0) ORDER BY PPC_ID DESC
				--IF(@LOCKINGDATE is null)
				--	SELECT @LOCKINGDATE= Calc_PerqDt_From FROM CompanyParameters
				
				--IF(@APPLICABLE_FROM_DATE >= @LOCKINGDATE  )
				--BEGIN
						IF NOT Exists(SELECT PPC_ID FROM PROPORTIONATE_PERQ_CONFIG PPC WHERE UPPER(FORMULA_NAME)=UPPER(@FORMULA_NAME) )
						BEGIN
								INSERT INTO PROPORTIONATE_PERQ_CONFIG (FORMULA_NAME,MIT_ID,ISPROPORTINATE_VALUE,APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE,EVENT_OF_INCIDENCE_ID,Residential_ID,Country_ID,FORMULA_DESCRIPTION, CREATED_BY,CREATED_ON,UPDATED_BY, UPDATED_ON)		
								VALUES(@FORMULA_NAME,@MIT_ID,@ISPROPORTINATE_VALUE,@APPLICABLE_FROM_DATE,@APPLICABLE_TO_DATE,@EVENT_OF_INCIDENCE_ID,@Residential_ID,@Country_ID,@FORMULA_DESCRIPTION,@CREATED_BY,GETDATE(),@CREATED_BY,GETDATE())
												
								If(@@ROWCOUNT > 0)
								BEGIN						
									SELECT @@IDENTITY AS PPC_ID ,'Record Inserted Successfully.'	AS Msg
									UPDATE PROPORTIONATE_PERQ_CONFIG SET APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE) WHERE PPC_ID = @PPCID													
									
								END
								ELSE
								BEGIN				
									SELECT '0' AS PPC_ID ,'Record Insertion Failed'	AS Msg	
								
								END
						END
						ELSE
						BEGIN
							SELECT '0' AS PPC_ID ,'Formula Alias name Already Exist.'	AS Msg
						END
				
				--END --end 
				--ELSE
				--BEGIN
				--	SELECT '0' AS PPC_ID ,'Applicable From date should be less than.'+CONVERT(varchar(10),@LOCKINGDATE)	AS Msg	

				--END
		
		END
		ELSE IF(UPPER(@ACTION)='UPDATE')
		BEGIN
		
				--update based on @APPLICABLE_FROM_DATE
				DECLARE @ApplicableFrom_Date DATETIME
				DECLARE	@FormulaName NVARCHAR(50)
				DECLARE @FID BIGINT
				SELECT @FormulaName=FORMULA_NAME, @PPC_ID= PPC_ID,@ApplicableFrom_Date=APPLICABLE_FROM_DATE, @LOCKINGDATE=APPLICABLE_FROM_DATE FROM PROPORTIONATE_PERQ_CONFIG WHERE  ISNull(COUNTRY_ID,0) = ISNULL(@Country_ID,0) And ISNull(Residential_ID,0)=ISNULL(@Residential_ID,0) AND MIT_ID=@MIT_ID ORDER BY PPC_ID DESC
				
				
				IF(@ApplicableFrom_Date = @APPLICABLE_FROM_DATE)
				BEGIN						
						UPDATE PROPORTIONATE_PERQ_CONFIG 
						SET ISPROPORTINATE_VALUE=@ISPROPORTINATE_VALUE,EVENT_OF_INCIDENCE_ID=@EVENT_OF_INCIDENCE_ID,Residential_ID=@Residential_ID,Country_ID=@Country_ID,FORMULA_DESCRIPTION=@FORMULA_DESCRIPTION,APPLICABLE_FROM_DATE=@APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE=@APPLICABLE_TO_DATE
						WHERE  PROPORTIONATE_PERQ_CONFIG.PPC_ID=@PPC_ID
						
						IF(@@ROWCOUNT > 0)
						BEGIN		
							SELECT @PPC_ID AS PFC_ID ,'Record Updated Successfully.'	AS Msg
										
						END	
						ELSE							
						BEGIN
							SELECT '0' AS PFC_ID ,'Record Updation Failed.'	AS Msg
						END
						
				
				END
				ELSE
				BEGIN
						IF(@APPLICABLE_FROM_DATE >= @LOCKINGDATE  )
							BEGIN
							IF NOT Exists(SELECT PPC_ID FROM PROPORTIONATE_PERQ_CONFIG PPC WHERE  UPPER(FORMULA_NAME)=UPPER(@FORMULA_NAME) )
							BEGIN
									INSERT INTO PROPORTIONATE_PERQ_CONFIG (FORMULA_NAME,MIT_ID,ISPROPORTINATE_VALUE,APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE,EVENT_OF_INCIDENCE_ID,Residential_ID,Country_ID,FORMULA_DESCRIPTION, CREATED_BY,CREATED_ON,UPDATED_BY, UPDATED_ON)		
									VALUES(@FORMULA_NAME,@MIT_ID,@ISPROPORTINATE_VALUE,@APPLICABLE_FROM_DATE,@APPLICABLE_TO_DATE,@EVENT_OF_INCIDENCE_ID,@Residential_ID,@Country_ID,@FORMULA_DESCRIPTION,@CREATED_BY,GETDATE(),@CREATED_BY,GETDATE())
									SET @PPC_ID=@@IDENTITY	
									IF(@@ROWCOUNT > 0)
									BEGIN		
										SELECT @PPC_ID AS PFC_ID ,'Record Inserted Successfully.'	AS Msg
										UPDATE PROPORTIONATE_PERQ_CONFIG SET APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE) WHERE PPC_ID = @PPC_ID		
									END	
									ELSE
									BEGIN
											SELECT '0' AS PFC_ID ,'Record Insertion Failed.'	AS Msg
									
									END
							END	
							ELSE
							BEGIN
								
								SELECT '0' AS PPC_ID ,'Formula Alias Name Already Exist.'	AS Msg
							
							END					
							END	
							ELSE
							BEGIN
							SELECT '0' AS PPC_ID ,'Applicable From Date Should Be Greater Than '+REPLACE(CONVERT(VARCHAR, @LOCKINGDATE,106),' ','/') AS Msg	
							END				 
				
				End
				
				
		END
		ELSE IF(UPPER(@ACTION)='GET')
		BEGIN
				IF(@Residential_ID >0)
				BEGIN
					SELECT PPC.PPC_ID, FORMULA_NAME, Replace(PPC.FORMULA_DESCRIPTION,'@','') AS FORMULA_DESCRIPTION,MIT.INSTRUMENT_NAME,PPC.MIT_ID,PPC.EVENT_OF_INCIDENCE_ID,CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE,CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE
					FROM PROPORTIONATE_PERQ_CONFIG PPC	Inner join MST_INSTRUMENT_TYPE MIT On PPC.MIT_ID=MIT.MIT_ID
					WHERE PPC.MIT_ID=@MIT_ID AND ISNULL( PPC.Country_ID,0) = 0 AND PPC.Residential_ID=@Residential_ID
				END
				ELSE IF(@Country_ID >0)
				BEGIN
				
					SELECT PPC.PPC_ID, FORMULA_NAME,  Replace(PPC.FORMULA_DESCRIPTION,'@','') AS FORMULA_DESCRIPTION,MIT.INSTRUMENT_NAME,PPC.MIT_ID,PPC.EVENT_OF_INCIDENCE_ID,
					CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE,CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE
					FROM PROPORTIONATE_PERQ_CONFIG PPC	Inner join MST_INSTRUMENT_TYPE MIT On PPC.MIT_ID=MIT.MIT_ID
					WHERE PPC.MIT_ID=@MIT_ID AND ISNULL( PPC.Residential_ID,0) =0 AND PPC.Country_ID=@Country_ID
				
				END
				ELSE 
				BEGIN
					SELECT PPC.PPC_ID, FORMULA_NAME, Replace(PPC.FORMULA_DESCRIPTION,'@','') AS FORMULA_DESCRIPTION,MIT.INSTRUMENT_NAME,PPC.MIT_ID,PPC.EVENT_OF_INCIDENCE_ID,
					CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE,CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE
					
					FROM PROPORTIONATE_PERQ_CONFIG PPC	Inner join MST_INSTRUMENT_TYPE MIT On PPC.MIT_ID=MIT.MIT_ID
					WHERE PPC.MIT_ID=@MIT_ID AND ISNULL( PPC.Residential_ID,0) =0 AND ISNULL(PPC.Country_ID,0)=0 
				END
				
				
		END
		ELSE IF(UPPER(@ACTION)='READ')
		BEGIN
				SELECT PFC.PPC_ID, FORMULA_NAME as FORMULA_NAME, REPLACE(FORMULA_DESCRIPTION,'@','') AS FORMULA_DESCRIPTION,PFC.MIT_ID,PFC.EVENT_OF_INCIDENCE_ID, REPLACE(CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106),' ','/') AS APPLICABLE_FROM_DATE,REPLACE(CONVERT(VARCHAR, APPLICABLE_TO_DATE,106),' ','/') AS APPLICABLE_TO_DATE
				FROM PROPORTIONATE_PERQ_CONFIG PFC	
				WHERE ISNULL(PFC.Country_ID,0) = ISNULL(@Country_ID,0) And ISNULL( PFC.Residential_ID,0)=ISNULL(@Residential_ID,0)AND MIT_ID=@MIT_ID
				ORDER BY PPC_ID DESC					
								
		END
		
	--	COMMIT TRANSACTION	
	END TRY
	BEGIN CATCH
	--	ROLLBACK TRANSACTION
		RETURN 0
	END CATCH
	
	
	
	SET NOCOUNT OFF;
	
	
	
	
END
GO
