/****** Object:  StoredProcedure [dbo].[PROC_SELECTCOMPANYNOTES]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SELECTCOMPANYNOTES]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SELECTCOMPANYNOTES]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_SELECTCOMPANYNOTES]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
	SET NOCOUNT ON;
		SELECT CN.ID,CN.PAGENAME,CN.SECTIONNAME,CN.NOTE,CN.UserTypeId,UT.UserTypeName,ISNULL(CN.MIT_ID,0) AS MIT_ID
		FROM COMPANYNOTES CN
		INNER JOIN UserType UT
			ON UT.UserTypeId = CN.UserTypeId
	SET NOCOUNT OFF;	
END
GO
