/****** Object:  StoredProcedure [dbo].[PROC_SAR_MASSUPLOAD]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SAR_MASSUPLOAD]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SAR_MASSUPLOAD]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[PROC_SAR_MASSUPLOAD]
(
	@SAR  SAR_SETTLEMENT_PRICE_MASSUPLOAD READONLY,	
	@MIT_ID INT = NULL,
	@IS_FORMULA_APPLIED INT=NULL,
	@FORMULA_NAME NVARCHAR(100) =NULL,
	@APPLICABLE_FROM_DATE DATETIME=NULL,	
	@SHEET_NAME NVARCHAR(100)=NULL,
	@CREATED_BY NVARCHAR(100)=NULL,
	@SCHEME_ID NVARCHAR(100)=NULL,
	@ACTION NVARCHAR(100)=NULL,
	@PAGENAME NVARCHAR(100)=NULL,	
	@OPERATION NVARCHAR(100)=NULL
)
AS 
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON
	CREATE TABLE #TBLSARSETTLEDMU
	(
		ID					BIGINT IDENTITY(1,1),
		SCHEME_ID			NVARCHAR(200) NULL,
		GRANTREGISTRATION_ID	NVARCHAR(200) NULL,
		SAR_PRICE			NVARCHAR(50)  NULL,
		INSTRUMENT_NAME      NVARCHAR(200) NULL,
		REMARK				NVARCHAR(500),
		ISSUCESSFUL			NVARCHAR(200),
		RID INT
	 
	)
	DECLARE @ERRORMESSAGE NVARCHAR(MAX)
	DECLARE @ROWS INT , @TBLCOUNT INT 	
	DECLARE @APPLICABLE_TO_DATE DATETIME 
	DECLARE @APP_FROM_DATE DATETIME
	DECLARE @SAR_APPLICABLE_FROM_DATE DATETIME
	DECLARE @SAR_COMP_ID INT = 0
	DECLARE @TABLENAME NVARCHAR(50)= NULL
	DECLARE @FFCID INT = 0
	DECLARE	@LOCKINGDATE DATETIME
	DECLARE @PREVIOUSFOUMULA_TYPE NVARCHAR(50)
	DECLARE @FFC_SAR_ID INT = 0
	DECLARE @ISFORMULA_APPLIED INT=0
	DECLARE @GRANTREGISTRATIONID NVARCHAR(100)=NULL
	DECLARE @MAXREGISTRATIONID INT =NULL
	DECLARE @LOOPCOUNTER INT = 1
	DECLARE @GRANTID NVARCHAR(50)
	
	INSERT INTO #TBLSARSETTLEDMU(SCHEME_ID,GRANTREGISTRATION_ID,SAR_PRICE,INSTRUMENT_NAME,RID)
	SELECT SCHEME_ID,GRANTREGISTRATION_ID,SAR_PRICE,INSTRUMENT_NAME,ROW_NUMBER() OVER(ORDER BY SCHEME_ID) AS Row_Number
	FROM @SAR 
	
	IF EXISTS(SELECT SCFC_ID FROM SAR_COMPARE_FORMULA_CNFG WHERE SCHEME_ID=@SCHEME_ID AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1)
		BEGIN
			SET @PREVIOUSFOUMULA_TYPE='SAR_COMPARE_FORMULA_CNFG'
			/*PRINT 'SAR_COMPARE_FORMULA_CNFG'*/
			SELECT @SAR_COMP_ID = SCFC_ID, @SAR_APPLICABLE_FROM_DATE = APPLICABLE_FROM_DATE FROM SAR_COMPARE_FORMULA_CNFG   WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1 ORDER BY SCFC_ID DESC		
			SET @TABLENAME = 'SAR_COMPARE_FORMULA_CNFG'
			SET @SAR_APPLICABLE_FROM_DATE= DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
			UPDATE SAR_COMPARE_FORMULA_CNFG SET IS_FORMULA_APPLIED=0,APPLICABLE_TO_DATE=@SAR_APPLICABLE_FROM_DATE WHERE SCFC_ID IN (SELECT SCFC_ID FROM SAR_COMPARE_FORMULA_CNFG WHERE SCHEME_ID=@SCHEME_ID AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1)		
		
	END
		/* BASED ON TRANSCATION	*/
	ELSE IF EXISTS(SELECT FFC_ID FROM FMV_FORMULA_CONFIG WHERE SCHEME_ID=@SCHEME_ID AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1)
	BEGIN
			PRINT 'FMV_FORMULA_CONFIG BASED ON TRANSCATION'
			SET @PREVIOUSFOUMULA_TYPE='BASEDONTRANSACTIONDATE'
			SELECT @SAR_COMP_ID = FFC_ID, @SAR_APPLICABLE_FROM_DATE = APPLICABLE_FROM_DATE FROM FMV_FORMULA_CONFIG WHERE (SCHEME_ID = @SCHEME_ID) AND (FORMULA_CONFIG_TYPE = 'SARFMV')  AND (SAR_FORMULA='BASEDONTRANSACTIONDATE') AND MIT_ID = @MIT_ID AND (IS_FORMULA_APPLIED = 1)  ORDER BY FFC_ID DESC
			SET @TABLENAME = 'FMV_FORMULA_CONFIG'
			SET @SAR_APPLICABLE_FROM_DATE= DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)			
			UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0,APPLICABLE_TO_DATE=@SAR_APPLICABLE_FROM_DATE WHERE FFC_ID IN (SELECT FFC_ID FROM FMV_FORMULA_CONFIG WHERE SCHEME_ID=@SCHEME_ID AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1) 		
			
			/*PRINT  @SAR_COMP_ID*/
	END	
		-- SAME AS FMV	
	ELSE IF EXISTS(SELECT FFC_ID FROM FMV_FORMULA_CONFIG WHERE (SCHEME_ID = @SCHEME_ID OR SCHEME_ID IS NULL)  AND (FORMULA_CONFIG_TYPE = 'SARFMV' OR FORMULA_CONFIG_TYPE = 'FMV') AND MIT_ID = @MIT_ID AND (IS_FORMULA_APPLIED = 1) AND (SAR_FORMULA='SAMEASFMV' OR SAR_FORMULA IS NULL ) AND (IS_TRADINGDAYS IS NULL))
	BEGIN
			/*PRINT 'FMV_FORMULA_CONFIG SAME FMV'*/
			SET @PREVIOUSFOUMULA_TYPE='SAMEASFMV'
			SELECT @SAR_COMP_ID = FFC_ID, @SAR_APPLICABLE_FROM_DATE = APPLICABLE_FROM_DATE FROM FMV_FORMULA_CONFIG WHERE (SCHEME_ID = @SCHEME_ID OR SCHEME_ID IS NULL) AND (FORMULA_CONFIG_TYPE = 'SARFMV') AND (IS_FORMULA_APPLIED = 1) AND MIT_ID = @MIT_ID  ORDER BY FFC_ID DESC
			SET @TABLENAME = 'FMV_FORMULA_CONFIG'
			SET @SAR_APPLICABLE_FROM_DATE= DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
			UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0,APPLICABLE_TO_DATE=@SAR_APPLICABLE_FROM_DATE WHERE FFC_ID IN (SELECT FFC_ID FROM FMV_FORMULA_CONFIG WHERE (SCHEME_ID = @SCHEME_ID OR SCHEME_ID IS NULL) AND (FORMULA_CONFIG_TYPE = 'SARFMV') AND (IS_FORMULA_APPLIED = 1) AND MIT_ID = @MIT_ID) 		
			
	END
	-- SAR PRICE MASSUPLOAD	
	ELSE IF EXISTS(SELECT SSPM_ID FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE (SCHEME_ID = @SCHEME_ID OR SCHEME_ID IS NULL) AND MIT_ID = @MIT_ID AND (IS_FORMULA_APPLIED = 1) )
	BEGIN
		SELECT @MAXREGISTRATIONID = COUNT(*) FROM #TBLSARSETTLEDMU	
		WHILE(@LOOPCOUNTER <= @MAXREGISTRATIONID)
		BEGIN
		
		    SELECT @GRANTID = GRANTREGISTRATION_ID
			FROM #TBLSARSETTLEDMU WHERE RID = @LOOPCOUNTER		     
		    SET @LOOPCOUNTER  = @LOOPCOUNTER  + 1   		    
		    SET @PREVIOUSFOUMULA_TYPE='SARSFMV'
			SELECT TOP(1) @SAR_COMP_ID = FFC_ID, @SAR_APPLICABLE_FROM_DATE = APPLICABLE_FROM_DATE FROM FMV_FORMULA_CONFIG WHERE (SCHEME_ID = @SCHEME_ID) AND (FORMULA_CONFIG_TYPE = 'SARFMV') AND (IS_TRADINGDAYS IS NULL) AND (IS_FORMULA_APPLIED = 1) AND MIT_ID = @MIT_ID  ORDER BY FFC_ID DESC
			SET @TABLENAME = 'SAR_SETTLEMENT_PRICE_MASSUPLOAD'
			SET @SAR_APPLICABLE_FROM_DATE= DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
			SELECT @GRANTREGISTRATIONID=GRANTREGISTRATIONID FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD
			UPDATE SAR_SETTLEMENT_PRICE_MASSUPLOAD SET IS_FORMULA_APPLIED=0,APPLICABLE_TO_DATE=@SAR_APPLICABLE_FROM_DATE WHERE (SCHEME_ID = @SCHEME_ID OR SCHEME_ID IS NULL) AND MIT_ID=@MIT_ID AND GRANTREGISTRATIONID=@GRANTID AND IS_FORMULA_APPLIED=1
		END
	END
		
	IF(UPPER(@ACTION)='ADD')
	BEGIN		
	BEGIN TRY	
	BEGIN			
		INSERT INTO SAR_SETTLEMENT_PRICE_MASSUPLOAD(SCHEME_ID,GRANTREGISTRATIONID,SAR_PRICE,INSTRUMENTNAME,FORMULA_NAME,APPLICABLE_FROM_DATE,MIT_ID,IS_FORMULA_APPLIED,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON) 
		SELECT DISTINCT ISNULL(TCSD.SCHEME_ID,0) AS SCHEME_ID,ISNULL(TCSD.GRANTREGISTRATION_ID,0) AS GRANTREGISTRATION_ID ,TCSD.SAR_PRICE,TCSD.INSTRUMENT_NAME,@FORMULA_NAME,@APPLICABLE_FROM_DATE,@MIT_ID,@IS_FORMULA_APPLIED, @CREATED_BY,GETDATE(),@CREATED_BY,GETDATE() 
		FROM #TBLSARSETTLEDMU TCSD
		IF(@@ROWCOUNT > 0)
		BEGIN
		
		DECLARE  @RESULT BIGINT=0
		SELECT @RESULT=@@IDENTITY

		
		SET @SAR_APPLICABLE_FROM_DATE= DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)		
		--SELECT TOP (1) @SAR_COMP_ID= SSPM_ID FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID AND IS_FORMULA_APPLIED=1 ORDER BY SSPM_ID DESC
		/*PRINT @SAR_APPLICABLE_FROM_DATE*/
		SELECT @RESULT AS FFC_ID ,'RECORD INSERTED SUCCESSFULLY.'	AS MSG	
	    END
	    ELSE
	    BEGIN
	    SELECT '0' AS FFC_ID, 'RECORD INSERTED FAIL.'	AS MSG
	    END
	  END
	END TRY
	BEGIN CATCH
	
	
	END CATCH
	END
	

	DROP TABLE #TBLSARSETTLEDMU
 
END --END MAIN 
GO
