/****** Object:  StoredProcedure [dbo].[PROC_GET_FMV_EVENTOF_INCIDENCE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_FMV_EVENTOF_INCIDENCE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_FMV_EVENTOF_INCIDENCE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_FMV_EVENTOF_INCIDENCE]
(
	@MIT_ID INT ,
	@Residential_ID BIGINT,
	@Country_ID BIGINT
)
AS

BEGIN
	SET NOCOUNT ON;	
	
	IF EXISTS(SELECT TOP(1) PFC_ID 	FROM PERQUISITE_FORMULA_CONFIG 	WHERE ISNULL(Residential_ID,0)=ISNULL(@Residential_ID,0) AND ISNULL(Country_ID,0)=ISNULL(@Country_ID,0) And MIT_ID=@MIT_ID ORDER BY PFC_ID DESC)
		BEGIN
			
			SELECT TOP(1) PFC_ID,dbo.FN_GET_COM_CODE_VALUE(EVENT_OF_INCIDENCE_ID) AS EVENTOF_INCIDENCE ,EVENT_OF_INCIDENCE_ID
			FROM PERQUISITE_FORMULA_CONFIG
			WHERE 
				ISNULL(Residential_ID,0)=ISNULL(@Residential_ID,0) AND ISNULL(Country_ID,0)=ISNULL(@Country_ID,0) And MIT_ID=@MIT_ID 
			ORDER BY PFC_ID DESC
			
		END
		ELSE
		BEGIN
			
			SELECT TOP(1) PFC_ID,dbo.FN_GET_COM_CODE_VALUE(EVENT_OF_INCIDENCE_ID) AS EVENTOF_INCIDENCE ,EVENT_OF_INCIDENCE_ID
			FROM PERQUISITE_FORMULA_CONFIG
			WHERE 
				ISNULL(Residential_ID,0)=0 AND ISNULL(Country_ID,0)=0 And MIT_ID=@MIT_ID 
			ORDER BY PFC_ID DESC
		
		END
	
	/*
	IF(@Residential_ID > 0 AND @Country_ID =0)
	BEGIN
		
		IF Exists(SELECT TOP(1) PFC_ID 	FROM PERQUISITE_FORMULA_CONFIG 	WHERE ISNULL(Residential_ID,0)=ISNULL(@Residential_ID,0) AND ISNULL(Country_ID,0)=ISNULL(@Country_ID,0) And MIT_ID=@MIT_ID ORDER BY PFC_ID DESC)
		BEGIN
			
			SELECT TOP(1) PFC_ID,dbo.FN_GET_COM_CODE_VALUE(EVENT_OF_INCIDENCE_ID) AS EVENTOF_INCIDENCE ,EVENT_OF_INCIDENCE_ID
			FROM PERQUISITE_FORMULA_CONFIG
			WHERE 
				ISNULL(Residential_ID,0)=ISNULL(@Residential_ID,0) AND ISNULL(Country_ID,0)=ISNULL(@Country_ID,0) And MIT_ID=@MIT_ID 
			ORDER BY PFC_ID DESC
			
		END
		ELSE
		BEGIN
			
			SELECT TOP(1) PFC_ID,dbo.FN_GET_COM_CODE_VALUE(EVENT_OF_INCIDENCE_ID) AS EVENTOF_INCIDENCE ,EVENT_OF_INCIDENCE_ID
			FROM PERQUISITE_FORMULA_CONFIG
			WHERE 
				ISNULL(Residential_ID,0)=0 AND ISNULL(Country_ID,0)=0 And MIT_ID=@MIT_ID 
			ORDER BY PFC_ID DESC
		
		END
	
	END
	ELSE IF(@Country_ID >0 AND @Residential_ID =0)
	BEGIN
		IF Exists(SELECT TOP(1) PFC_ID 	FROM PERQUISITE_FORMULA_CONFIG 	WHERE ISNULL(Residential_ID,0)=ISNULL(@Residential_ID,0) AND ISNULL(Country_ID,0)=ISNULL(@Country_ID,0) And MIT_ID=@MIT_ID ORDER BY PFC_ID DESC)
		BEGIN
			
			SELECT TOP(1) PFC_ID,dbo.FN_GET_COM_CODE_VALUE(EVENT_OF_INCIDENCE_ID) AS EVENTOF_INCIDENCE ,EVENT_OF_INCIDENCE_ID
			FROM PERQUISITE_FORMULA_CONFIG
			WHERE 
				ISNULL(Residential_ID,0)=ISNULL(@Residential_ID,0) AND ISNULL(Country_ID,0)=ISNULL(@Country_ID,0) And MIT_ID=@MIT_ID 
			ORDER BY PFC_ID DESC
			
		END
		ELSE
		BEGIN
			
			SELECT TOP(1) PFC_ID,dbo.FN_GET_COM_CODE_VALUE(EVENT_OF_INCIDENCE_ID) AS EVENTOF_INCIDENCE ,EVENT_OF_INCIDENCE_ID
			FROM PERQUISITE_FORMULA_CONFIG
			WHERE 
				ISNULL(Residential_ID,0)=0 AND ISNULL(Country_ID,0)=0 And MIT_ID=@MIT_ID 
			ORDER BY PFC_ID DESC
		
		END
	
	END
	ELSE
	BEGIN
	
	
	END
		*/
	
	SET NOCOUNT OFF;	
END
GO
