/****** Object:  StoredProcedure [dbo].[PROC_GETCOUNTRYLIST]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GETCOUNTRYLIST]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GETCOUNTRYLIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GETCOUNTRYLIST]
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT ID, COUNTRYNAME,IS_MANDATORY_STATE FROM COUNTRYMASTER WHERE ISSELECTED = 1
		
	SET NOCOUNT OFF;
END
GO
