/****** Object:  StoredProcedure [dbo].[PROC_OGA_COLUMN_MAPPINGS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_OGA_COLUMN_MAPPINGS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_OGA_COLUMN_MAPPINGS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_OGA_COLUMN_MAPPINGS]
	-- Add the parameters for the stored procedure here
	@DynamicColumns		OGA_TYPE_DYNAMIC_FIELDS READONLY,
	@Result			INT = -1 OUT 
AS
BEGIN
	SET NOCOUNT ON;
	
	UPDATE OGA_FIELD_MAPPINGS SET
		MAPPED_FIELD = DC.MAPPED_FIELD
	FROM @DynamicColumns DC
	LEFT OUTER JOIN OGA_FIELD_MAPPINGS FM ON FM.FIELD_NAME = DC.FIELD_NAME
	
	SET @Result = 1
	SELECT @Result
	
	SET NOCOUNT OFF;

END
GO
