/****** Object:  StoredProcedure [dbo].[PROC_GET_MASTER_LIST_FLD_VAL]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_MASTER_LIST_FLD_VAL]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_MASTER_LIST_FLD_VAL]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_MASTER_LIST_FLD_VAL]
	@TYPE					AS VARCHAR(25),
	@IS_DELETED				AS BIT = NULL,
	@FIELD_NAME				AS NVARCHAR(200)= NULL,
	@IS_AUDIT_MAINTAINED	AS BIT = NULL,
	@UPDATED_BY				AS NVARCHAR(100)= NULL,
	@IS_ADD_IN_LIST			AS BIT=NULL,
	@MLFV_ID				AS NUMERIC(18,9)=NULL,
	@FIELD_VALUE			AS NVARCHAR(MAX)=NULL
AS
BEGIN
	
	SET NOCOUNT ON;
	DECLARE @Message NVARCHAR(500) = 'Records {0} Successfully.',
		@ERR_MSG NVARCHAR(500)= 'Error occurred while {0} records.',
		@PARAMETER NVARCHAR(100),
		@QUERY_FOR_SH NVARCHAR(400),
		@FLD_COUNTER INT
	
	IF(@IS_DELETED = 1)
	BEGIN
		SET @FIELD_VALUE = REPLACE(@FIELD_VALUE,'''','''''')
		--PRINT @FIELD_VALUE
	END
		
	IF(UPPER(@TYPE) = 'MAPPING_TYPE_FLD')	
	BEGIN	
		SELECT	
			MFNM.MLFN_ID, MFNM.FIELD_NAME,
			CASE WHEN (UPPER(FIELD_NAME)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country'
			WHEN (UPPER(FIELD_NAME)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State' 
			ELSE FIELD_NAME END  AS FIELD_DISPLAY_NAME,		
			MFNM.IS_AUDIT_MAINTAINED, 0 IsDeleted, MFNM.IS_ADD_IN_LIST 			   
		FROM MASTER_LIST_FLD_NAME MFNM 
		INNER JOIN
		(
			SELECT SYSCOL.NAME COLUMN_NAME, SYSTYP.NAME DATA_TYPE 
			FROM SYS.COLUMNS SYSCOL 
			INNER JOIN SYS.TABLES SYSTAB ON SYSCOL.OBJECT_ID = SYSTAB.OBJECT_ID 
			INNER JOIN SYS.TYPES SYSTYP ON SYSTYP.SYSTEM_TYPE_ID = SYSCOL.SYSTEM_TYPE_ID
			WHERE SYSTAB.NAME = 'EMPLOYEEMASTER' AND SYSCOL.NAME IN ('Location','SBU','Entity','Department','COST_CENTER','TAX_IDENTIFIER_COUNTRY')
		    AND (UPPER(SYSTYP.NAME) <> 'SYSNAME')
		) DT 
		ON MFNM.FIELD_NAME = DT.COLUMN_NAME AND IS_ADD_IN_LIST = 1
		ORDER BY MFNM.MLFN_ID DESC
	END	
	ELSE IF (UPPER(@TYPE) = 'MAPPING_TYPE_VAL')
	BEGIN	  		
		IF(UPPER(@FIELD_NAME) = 'TAX_IDENTIFIER_COUNTRY')
			BEGIN
				SELECT 
					@FIELD_NAME AS FIELD_NAME,
					CASE WHEN (UPPER(@FIELD_NAME)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country'
					WHEN (UPPER(@FIELD_NAME)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State'  
					ELSE @FIELD_NAME END  AS FIELD_DISPLAY_NAME,											 
					CM.CountryName AS FIELD_VALUE, dbo.FN_GET_STATES_BY_COUNTRY(CM.ID) AS SUB_VALUE    
				FROM CountryMaster CM 				
				WHERE IsSelected = 1 
			END
	    ELSE
	    BEGIN	  
		   SELECT 
		        MLFN.FIELD_NAME,
		       MLFV.MLFN_ID,MLFV.FIELD_VALUE, 0 IsDeleted, MLFV.UPDATED_BY,MLFV.UPDATED_ON, MLFN.IS_AUDIT_MAINTAINED, ''AS SUB_VALUE 
		   FROM MASTER_LIST_FLD_VALUE MLFV
		   INNER JOIN MASTER_LIST_FLD_NAME MLFN ON MLFV.MLFN_ID=MLFN.MLFN_ID
		   WHERE MLFN.IS_ADD_IN_LIST = 1
			
		END	   
	END	
	ELSE IF(@TYPE = 'EMP_MASTER_FLD')
	BEGIN
		SELECT 
			SYSCOL.NAME AS FLD_NAME,
		    CASE WHEN (UPPER(SYSCOL.NAME)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country'
			WHEN (UPPER(SYSCOL.NAME)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State'  
			ELSE SYSCOL.NAME END  AS FIELD_DISPLAY_NAME
		FROM SYS.COLUMNS SYSCOL 
		INNER JOIN SYS.TABLES SYSTAB ON SYSCOL.OBJECT_ID = SYSTAB.OBJECT_ID 
		WHERE 
  			SYSTAB.NAME = 'EMPLOYEEMASTER' AND SYSCOL.NAME IN (SELECT FIELD_NAME FROM MASTER_LIST_FLD_NAME WHERE IS_ADD_IN_LIST <> 1)
  			AND SYSCOL.NAME NOT IN (SELECT FIELD_NAME FROM MASTER_LIST_FLD_NAME WHERE FIELD_NAME='TAX_IDENTIFIER_STATE')
		ORDER BY SYSCOL.NAME ASC
	END	
	ELSE IF(@TYPE='UPDATE_MASTER_FLD')
	BEGIN
		DECLARE @LIST_COUNTER NVARCHAR(10)
		SET @LIST_COUNTER = 
			(
				SELECT 
					COUNT(MLFN.FIELD_NAME) AS LIST_COUNTER 
				FROM MASTER_LIST_FLD_VALUE MLFV 
				INNER JOIN MASTER_LIST_FLD_NAME MLFN ON MLFV.MLFN_ID = MLFN.MLFN_ID AND FIELD_NAME = @FIELD_NAME				
			)
			
		IF(@IS_DELETED=1)	
			BEGIN
				IF(@LIST_COUNTER=0)
					BEGIN
						UPDATE MASTER_LIST_FLD_NAME SET IS_ADD_IN_LIST=0 WHERE FIELD_NAME=@FIELD_NAME
					END
				ELSE
					BEGIN
						SELECT 'This deletion is invalid. The field value is being currently used.' AS MSG 
					END
			END
		ELSE
			BEGIN
				IF EXISTS(SELECT MLFN_ID FROM MASTER_LIST_FLD_NAME WHERE FIELD_NAME=@FIELD_NAME)
					BEGIN
					  IF(@FIELD_NAME='TAX_IDENTIFIER_COUNTRY')
					     BEGIN
							UPDATE MASTER_LIST_FLD_NAME 
							SET 
								IS_AUDIT_MAINTAINED=@IS_AUDIT_MAINTAINED,
								IS_ADD_IN_LIST=@IS_ADD_IN_LIST,
								UPDATED_BY= @UPDATED_BY,
								UPDATED_ON= GETDATE()
							WHERE
								FIELD_NAME='TAX_IDENTIFIER_STATE'
						  END	
						UPDATE MASTER_LIST_FLD_NAME 
						SET 
							IS_AUDIT_MAINTAINED=@IS_AUDIT_MAINTAINED,
							IS_ADD_IN_LIST=@IS_ADD_IN_LIST,
							UPDATED_BY= @UPDATED_BY,
							UPDATED_ON= GETDATE()
						WHERE
							FIELD_NAME=@FIELD_NAME
						
						IF(@@ROWCOUNT > 0)
							BEGIN 
								SELECT REPLACE(@Message,'{0}','Updated') AS MSG
							END
						ELSE
							BEGIN
								SELECT REPLACE(@ERR_MSG,'{0}','updating') AS MSG
							END
					END
				ELSE
					BEGIN
						INSERT INTO MASTER_LIST_FLD_NAME 
						(FIELD_NAME,UPDATED_BY,UPDATED_ON,CREATED_BY,CREATED_ON,IS_AUDIT_MAINTAINED,AUDIT_UPDATED_BY,
						 AUDIT_UPDATED_ON,AUDIT_CREATED_BY,AUDIT_CREATED_ON,IS_ADD_IN_LIST)
					 VALUES (@FIELD_NAME,@UPDATED_BY,GETDATE(),@UPDATED_BY,GETDATE(),@IS_AUDIT_MAINTAINED,
							 @UPDATED_BY,GETDATE(),@UPDATED_BY,GETDATE(),@IS_ADD_IN_LIST)
						
						IF(@@ROWCOUNT > 0)
							BEGIN 
								SELECT REPLACE(@Message,'{0}','Inserted') AS MSG
							END
						ELSE
							BEGIN													 
								SELECT REPLACE(@ERR_MSG,'{0}','inserting') AS MSG
							END
					END
			END
	END		
	ELSE IF(@TYPE='UPDATE_MASTER_VAL')
	BEGIN
	
		SET @PARAMETER=N'@FLD_COUNTER INT OUTPUT'
		SET @QUERY_FOR_SH = N'SELECT @FLD_COUNTER = COUNT(EM.'+@FIELD_NAME+')FROM EMPLOYEEMASTER EM WHERE EM.'+@FIELD_NAME + ' = '  + QUOTENAME(@FIELD_VALUE, '''')
		
		EXEC SP_EXECUTESQL @QUERY_FOR_SH,@PARAMETER,@FLD_COUNTER OUTPUT
		
		IF(@IS_DELETED=1)
		BEGIN
			IF(@FLD_COUNTER = 0)
				BEGIN						
					--DELETE FROM MASTER_LIST_FLD_VALUE WHERE MLFV_ID=(SELECT MLFV_ID FROM MASTER_LIST_FLD_VALUE WHERE FIELD_VALUE=@FIELD_VALUE)							 					
					EXECUTE('DELETE FROM MASTER_LIST_FLD_VALUE WHERE 
								MLFV_ID =(
											SELECT MLFV.MLFV_ID FROM MASTER_LIST_FLD_VALUE MLFV
											INNER JOIN MASTER_LIST_FLD_NAME MLFN ON MLFV.MLFN_ID=MLFN.MLFN_ID
											WHERE MLFV.FIELD_VALUE= ''' + @FIELD_VALUE + ''' AND MLFN.FIELD_NAME= ''' + @FIELD_NAME + '''
										)'
							)
							 
					IF(@@ERROR > 0)
						SELECT REPLACE(@Message,'{0}','Deleting') AS MSG
					ELSE
						SELECT REPLACE(@Message,'{0}','Deleted') AS MSG
						
				END
			ELSE
				BEGIN
					SELECT 
						'
							This deletion is invalid. The field item is being currently used.
							Please check and update the respective employee detail with other field name and then try to delete this
							field item.
						' AS MSG
				END
		END
		ELSE
			BEGIN
				IF NOT EXISTS(
								SELECT 
									MLFN.FIELD_NAME, MLFV.MLFN_ID,MLFV.FIELD_VALUE 
								FROM MASTER_LIST_FLD_VALUE MLFV
								INNER JOIN MASTER_LIST_FLD_NAME MLFN ON MLFV.MLFN_ID=MLFN.MLFN_ID
								WHERE UPPER(MLFN.FIELD_NAME)= UPPER(@FIELD_NAME) AND UPPER(MLFV.FIELD_VALUE) = CASE WHEN UPPER(@FIELD_NAME) = 'TAX_IDENTIFIER_COUNTRY' THEN  UPPER(MLFV.FIELD_VALUE)  
																													ELSE UPPER(@FIELD_VALUE)
			END
							 )
				BEGIN				
					INSERT INTO MASTER_LIST_FLD_VALUE 
						(MLFN_ID,FIELD_VALUE,UPDATED_BY,UPDATED_ON,CREATED_BY,CREATED_ON)
					VALUES 
						((SELECT MLFN_ID FROM MASTER_LIST_FLD_NAME WHERE FIELD_NAME=@FIELD_NAME),@FIELD_VALUE, @UPDATED_BY,GETDATE(),@UPDATED_BY,GETDATE())
						 
					 IF(@@ROWCOUNT > 0)
						SELECT REPLACE(@Message,'{0}','Inserted') AS MSG						
					ELSE						
						SELECT REPLACE(@ERR_MSG,'{0}','inserting') AS MSG						
				END		
				ELSE
				BEGIN				  
					  IF(UPPER(@FIELD_NAME) = 'TAX_IDENTIFIER_COUNTRY')
					BEGIN
					  UPDATE MASTER_LIST_FLD_VALUE SET FIELD_VALUE = @FIELD_VALUE WHERE MLFN_ID = (SELECT TOP 1 MLFN_ID FROM MASTER_LIST_FLD_NAME WHERE FIELD_NAME = 'TAX_IDENTIFIER_COUNTRY')
					  SELECT REPLACE(@Message,'{0}','Updated') AS MSG
					END													
				END		
			END
	END	
	ELSE IF(@TYPE='SELECT_FLD_VALUE_LIST')
	BEGIN
		IF(UPPER(@FIELD_NAME)='TAX_IDENTIFIER_COUNTRY')
			BEGIN
				SELECT
				   @FIELD_NAME AS FIELD_NAME, '' AS MLFN_ID,
					CASE WHEN (UPPER(@FIELD_NAME)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country'
					WHEN (UPPER(@FIELD_NAME)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State'  
					ELSE @FIELD_NAME END  AS FIELD_DISPLAY_NAME,				 
					CM.CountryName AS FIELD_VALUE, dbo.FN_GET_STATES_BY_COUNTRY(CM.ID) AS SUB_VALUE    
				FROM CountryMaster CM 
				WHERE 
					IsSelected = 1 
			END
	    ELSE
			BEGIN
				SELECT 
					MLVN.FIELD_NAME, MLFV.MLFN_ID, '' AS FIELD_DISPLAY_NAME, MLFV.FIELD_VALUE, '' AS SUB_VALUE
				FROM MASTER_LIST_FLD_VALUE MLFV
				INNER JOIN MASTER_LIST_FLD_NAME MLVN ON MLFV.MLFN_ID = MLVN.MLFN_ID AND FIELD_NAME = @FIELD_NAME		  
			END
	END	
	ELSE IF(@TYPE='GET_IS_ADD_IN_LIST')
	BEGIN
		SELECT FIELD_NAME,IS_ADD_IN_LIST FROM MASTER_LIST_FLD_NAME
	END	
	ELSE IF(@TYPE='GET_IS_TRACKING_ENABLED')
	BEGIN
		SELECT FIELD_NAME,IS_TRACKING_ENABLED FROM MASTER_LIST_FLD_NAME
	END	
	ELSE IF(@TYPE='GET_FIELD_VALUE')
	BEGIN
		SELECT	
			ROW_NUMBER() OVER (ORDER BY FIELD_NAME) AS [SR.NO], MLFV.FIELD_VALUE, MLFN.FIELD_NAME AS [FIELD_NAME], MLFV.MLFV_ID
		FROM MASTER_LIST_FLD_VALUE MLFV
		LEFT OUTER JOIN MASTER_LIST_FLD_NAME MLFN ON MLFN.MLFN_ID = MLFV.MLFN_ID
		GROUP BY 
			MLFV.FIELD_VALUE, MLFN.FIELD_NAME,MLFV.MLFV_ID 
		ORDER BY 
			FIELD_NAME
						
	END
				
	SET NOCOUNT OFF;
END
GO
