/****** Object:  StoredProcedure [dbo].[PROC_SAR_PRICE_CRUD_BASEDONTRASCATION]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SAR_PRICE_CRUD_BASEDONTRASCATION]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SAR_PRICE_CRUD_BASEDONTRASCATION]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SAR_PRICE_CRUD_BASEDONTRASCATION]
	(	 
		@FFC_ID					BIGINT =Null,
		@FORNULA_NAME			VARCHAR(250) =Null , 
		@MIT_ID					INT =Null,
		@IS_TRADINGDAYS			BIT =Null,
		@TRANS_DATE_ID			BIGINT =Null,
		@PRICE_DAY_ID			BIGINT =Null,
		@MSE_ID					NVARCHAR(max) =Null,
		@TRADING_VOL_ID			BIGINT =Null,
		@STOCK_PRICE_ID			BIGINT =Null,
		@PRICE_PERIOD			NVARCHAR(50) =Null,
		@PRICE_PERIOD_DAY		BIGINT =Null,
		@APPLICABLE_FROM_DATE	DATETIME =Null,
		@Residential_ID			BIGINT =Null,
		@Country_ID				BIGINT =Null,
		@FORMULA_CONFIG_TYPE	NVARCHAR(50)=Null,
		@CREATED_BY				NVARCHAR(50)=Null,
		@ACTION					NVARCHAR(50)	,
		@SAR_FORMULA			NVARCHAR(100)=Null,
		@SCHEME_ID			NVARCHAR(100)=Null,
		@FORMULA_DESCRIPTION NVARCHAR(max)=Null,
		@IS_FORMULA_APPLIED TINYINT=Null
		
		
	 )
AS
BEGIN
	SET NOCOUNT ON;
	
	BEGIN TRY		
	--	BEGIN TRANSACTION
				
		DECLARE @APPLICABLE_TO_DATE DATETIME 
		DECLARE @APP_FROM_DATE DATETIME
		DECLARE @SAR_APPLICABLE_FROM_DATE DATETIME
		DECLARE @SAR_COMP_ID INT = 0
		DECLARE @TABLENAME NVARCHAR(50)= NULL
		DECLARE @FFCID INT = 0
		DECLARE	@LOCKINGDATE DATETIME
		DECLARE @PREVIOUSFOUMULA_TYPE NVARCHAR(50)
		DECLARE @FFC_SAR_ID INT = 0
		DECLARE @ISFORMULA_APPLIED INT=0				
		CREATE TABLE #TEMPSAR_ACTIVE_FORMULA
		(
			SAR_COMP_ID BIGINT,
			SAR_APPLICABLE_FROM_DATE DATETIME,
			SAR_FORMULA	NVARCHAR(250)			
		)
		
		-- SAR Comparative formula
		IF EXISTS(SELECT SCFC_ID FROM SAR_COMPARE_FORMULA_CNFG WHERE (SCHEME_ID = @SCHEME_ID) AND MIT_ID = @MIT_ID AND isNull(IS_TRADINGDAYS,0)=isnull(@IS_TRADINGDAYS,0) AND IS_FORMULA_APPLIED = 1)
		BEGIN
			SET @PREVIOUSFOUMULA_TYPE='SAR_COMPARE_FORMULA_CNFG'
			Print 'SAR_COMPARE_FORMULA_CNFG'
			SELECT TOP(1) @SAR_COMP_ID = SCFC_ID, @SAR_APPLICABLE_FROM_DATE = APPLICABLE_FROM_DATE FROM SAR_COMPARE_FORMULA_CNFG   WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @MIT_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS AND IS_FORMULA_APPLIED = 1 ORDER BY SCFC_ID DESC		
			SET @TABLENAME = 'SAR_COMPARE_FORMULA_CNFG'
			
			INSERT INTO #TEMPSAR_ACTIVE_FORMULA(SAR_COMP_ID,SAR_APPLICABLE_FROM_DATE,SAR_FORMULA)
			SELECT SCFC_ID, APPLICABLE_FROM_DATE,'SAR_COMPARE_FORMULA_CNFG' FROM SAR_COMPARE_FORMULA_CNFG   WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @MIT_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS AND IS_FORMULA_APPLIED = 1 ORDER BY SCFC_ID DESC		
			SET @TABLENAME = 'SAR_COMPARE_FORMULA_CNFG'
			
		END
		/* BAsed on transcation	*/
		IF EXISTS(SELECT FFC_ID FROM FMV_FORMULA_CONFIG WHERE (SCHEME_ID = @SCHEME_ID OR SCHEME_ID IS NULL) AND (FORMULA_CONFIG_TYPE = 'SARFMV' OR FORMULA_CONFIG_TYPE = 'FMV') AND MIT_ID = @MIT_ID AND (IS_FORMULA_APPLIED = 1 OR IS_FORMULA_APPLIED IS NULL) AND (SAR_FORMULA='BasedOnTransactionDate' OR SAR_FORMULA IS NULL )  AND (ISNULL(IS_TRADINGDAYS,0)=ISNULL(@IS_TRADINGDAYS,0) OR (IS_TRADINGDAYS IS NULL)) )
		BEGIN
			Print 'FMV_FORMULA_CONFIG based on transcation'
			SET @PREVIOUSFOUMULA_TYPE='BasedOnTransactionDate'
			SELECT TOP(1) @SAR_COMP_ID = FFC_ID, @SAR_APPLICABLE_FROM_DATE = APPLICABLE_FROM_DATE FROM FMV_FORMULA_CONFIG WHERE (SCHEME_ID = @SCHEME_ID) AND (FORMULA_CONFIG_TYPE = 'SARFMV')  AND (IS_TRADINGDAYS =@IS_TRADINGDAYS OR IS_TRADINGDAYS IS NULL) AND (SAR_FORMULA='BasedOnTransactionDate' OR SAR_FORMULA IS NULL) AND MIT_ID = @MIT_ID AND (IS_FORMULA_APPLIED = 1)  ORDER BY FFC_ID DESC
			SET @TABLENAME = 'FMV_FORMULA_CONFIG'
			
			INSERT INTO #TEMPSAR_ACTIVE_FORMULA(SAR_COMP_ID,SAR_APPLICABLE_FROM_DATE,SAR_FORMULA)
			SELECT FFC_ID,  APPLICABLE_FROM_DATE,'BasedOnTransactionDate' 
			FROM FMV_FORMULA_CONFIG 
			WHERE SCHEME_ID = @SCHEME_ID AND FORMULA_CONFIG_TYPE = 'SARFMV'  AND SAR_FORMULA='BasedOnTransactionDate' AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1  ORDER BY FFC_ID DESC
			
			 
		END	
		-- Same as FMV	
		IF EXISTS(SELECT FFC_ID FROM FMV_FORMULA_CONFIG WHERE (SCHEME_ID = @SCHEME_ID OR SCHEME_ID IS NULL)  AND (FORMULA_CONFIG_TYPE = 'SARFMV' OR FORMULA_CONFIG_TYPE = 'FMV') AND MIT_ID = @MIT_ID AND (IS_FORMULA_APPLIED = 1) AND (SAR_FORMULA='SameAsFMV' OR SAR_FORMULA IS NULL ) AND (IS_TRADINGDAYS IS NULL))
		BEGIN
			PRINT 'FMV_FORMULA_CONFIG same fmv'
			SET @PREVIOUSFOUMULA_TYPE='SameAsFMV'
			SELECT TOP(1) @SAR_COMP_ID = FFC_ID, @SAR_APPLICABLE_FROM_DATE = APPLICABLE_FROM_DATE FROM FMV_FORMULA_CONFIG WHERE (SCHEME_ID = @SCHEME_ID) AND (FORMULA_CONFIG_TYPE = 'SARFMV') AND (IS_TRADINGDAYS IS NULL) AND (IS_FORMULA_APPLIED = 1) AND MIT_ID = @MIT_ID  ORDER BY FFC_ID DESC
			SET @TABLENAME = 'FMV_FORMULA_CONFIG'
			--select  @SAR_COMP_ID ,@SAR_APPLICABLE_FROM_DATE	
			INSERT INTO #TEMPSAR_ACTIVE_FORMULA(SAR_COMP_ID,SAR_APPLICABLE_FROM_DATE,SAR_FORMULA)
			SELECT FFC_ID, APPLICABLE_FROM_DATE,'SameAsFMV' FROM FMV_FORMULA_CONFIG WHERE SCHEME_ID = @SCHEME_ID AND FORMULA_CONFIG_TYPE = 'SARFMV' AND IS_TRADINGDAYS IS NULL  AND SAR_FORMULA='SameAsFMV' AND IS_FORMULA_APPLIED = 1 AND MIT_ID = @MIT_ID  ORDER BY FFC_ID DESC
			
		END
		-- MassUpload Formula
		IF EXISTS (SELECT SSPM_ID FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID AND IS_FORMULA_APPLIED=1)
		BEGIN
			PRINT 'MASS UPLOAD'
			SET @PREVIOUSFOUMULA_TYPE='MassUpload'
			SELECT TOP(1) @SAR_COMP_ID = SSPM_ID, @SAR_APPLICABLE_FROM_DATE = APPLICABLE_FROM_DATE FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE (SCHEME_ID = @SCHEME_ID) AND (IS_FORMULA_APPLIED = 1) AND MIT_ID = @MIT_ID  ORDER BY SSPM_ID DESC
			SET @TABLENAME = 'MASS_UPLOAD_CONFIG'
			--select  @SAR_COMP_ID ,@SAR_APPLICABLE_FROM_DATE	
			INSERT INTO #TEMPSAR_ACTIVE_FORMULA(SAR_COMP_ID,SAR_APPLICABLE_FROM_DATE,SAR_FORMULA)
			SELECT SSPM_ID, APPLICABLE_FROM_DATE,'MassUpload' FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE SCHEME_ID = @SCHEME_ID AND IS_FORMULA_APPLIED = 1 AND MIT_ID = @MIT_ID  ORDER BY SSPM_ID DESC
			SET @SAR_APPLICABLE_FROM_DATE= DATEADD(DAY,-1,@APPLICABLE_FROM_DATE) 
			UPDATE SAR_SETTLEMENT_PRICE_MASSUPLOAD SET IS_FORMULA_APPLIED=0,APPLICABLE_TO_DATE=@SAR_APPLICABLE_FROM_DATE WHERE (SCHEME_ID = @SCHEME_ID) AND (IS_FORMULA_APPLIED = 1) AND MIT_ID = @MIT_ID
			
		END 
		 	
		IF(UPPER(@ACTION)='ADD')
		BEGIN		
											
					IF(@SAR_APPLICABLE_FROM_DATE is null)
					BEGIN
						Print 'null date'
						SET @SAR_APPLICABLE_FROM_DATE= DATEADD(DAY,-1,@APPLICABLE_FROM_DATE) 
						
					END					
					
					print @SAR_APPLICABLE_FROM_DATE	
					IF(@APPLICABLE_FROM_DATE >= @SAR_APPLICABLE_FROM_DATE  )
					BEGIN
							
							 Print 'Update for is Applied'
							 IF(@SAR_FORMULA <> @PREVIOUSFOUMULA_TYPE)
							 BEGIN	
								Print 'Update is Applied '+@TABLENAME
								IF(@TABLENAME = 'SAR_COMPARE_FORMULA_CNFG')
								BEGIN
									UPDATE SAR_COMPARE_FORMULA_CNFG SET IS_FORMULA_APPLIED = 0 
									WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_FORMULA_APPLIED=1
								    AND IS_TRADINGDAYS=@IS_TRADINGDAYS
								END
								ELSE IF (@TABLENAME = 'FMV_FORMULA_CONFIG' AND @PREVIOUSFOUMULA_TYPE ='BASEDONTRANSACTIONDATE')
								BEGIN
									/* Print 'Update is Applied 1'+@TABLENAME */
									 UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0 WHERE FORMULA_CONFIG_TYPE = 'SARFMV'
									 AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID  AND UPPER(SAR_FORMULA)='BASEDONTRANSACTIONDATE' AND IS_TRADINGDAYS=@IS_TRADINGDAYS

								END
								ELSE IF (@TABLENAME = 'FMV_FORMULA_CONFIG' AND @PREVIOUSFOUMULA_TYPE ='SAMEASFMV')
								BEGIN
									SET @FFC_SAR_ID = (select TOP(1) FFC_ID from FMV_FORMULA_CONFIG WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID order by FFC_ID desc)
									/* Print 'Update is Applied 2'+@TABLENAME	*/
									 /*PRINT 	@FFC_SAR_ID */
									 UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0,APPLICABLE_TO_DATE=@APPLICABLE_FROM_DATE WHERE FFC_ID=@FFC_SAR_ID AND FORMULA_CONFIG_TYPE = 'SARFMV'
									 AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID  AND UPPER(SAR_FORMULA)='SAMEASFMV'

								END
								
								ELSE
								BEGIN
									 Print 'Update is Applied '+@TABLENAME
									 UPDATE SAR_COMPARE_FORMULA_CNFG SET IS_FORMULA_APPLIED = 0 
									 WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS
							
									 UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0 WHERE FORMULA_CONFIG_TYPE = 'SARFMV'
									 AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS AND UPPER(SAR_FORMULA)='BASEDONTRANSACTIONDATE'
							 
									 UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0 WHERE FORMULA_CONFIG_TYPE = 'SARFMV'
									 AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS IS NULL AND UPPER(SAR_FORMULA)='SAMEASFMV' 					
							 	
								END
							 				
							 END
							 ELSE
							 BEGIN
								
							     UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0 WHERE FORMULA_CONFIG_TYPE = 'SARFMV'
								 AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS AND UPPER(SAR_FORMULA)='BASEDONTRANSACTIONDATE'
								 
							    /* print 'else statment'*/
							    							     
							     SET @FFC_SAR_ID = (select TOP(1) FFC_ID from FMV_FORMULA_CONFIG WHERE IS_FORMULA_APPLIED=1 AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID order by FFC_ID desc)
							     print @FFC_SAR_ID
							     SET @APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
							     print @APPLICABLE_FROM_DATE
								 print @FFC_SAR_ID
								 UPDATE FMV_FORMULA_CONFIG SET APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE,IS_FORMULA_APPLIED=0
								 WHERE FFC_ID = @FFC_SAR_ID	AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND (IS_TRADINGDAYS=@IS_TRADINGDAYS OR IS_TRADINGDAYS IS NULL)
								 
								 BEGIN TRY
								 print 'else statment comp FORMULA'							     
							     SET @FFC_SAR_ID = (select TOP(1) SCFC_ID from SAR_COMPARE_FORMULA_CNFG WHERE IS_FORMULA_APPLIED=1 AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID order by SCFC_ID desc)
							     print @FFC_SAR_ID
							     SET @APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
							     print @APPLICABLE_FROM_DATE															 
								 UPDATE SAR_COMPARE_FORMULA_CNFG SET APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE,IS_FORMULA_APPLIED=0
								 WHERE SCFC_ID = @FFC_SAR_ID AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND (IS_TRADINGDAYS=@IS_TRADINGDAYS OR IS_TRADINGDAYS IS NULL)
								 END TRY
								 BEGIN CATCH
								 
								 END CATCH
								/* print 'else statment end' */
							 END
							 
					
							IF NOT Exists(SELECT FFC_ID FROM FMV_FORMULA_CONFIG FFC WHERE  UPPER(FORNULA_NAME)=UPPER(@FORNULA_NAME) AND SAR_FORMULA=@SAR_FORMULA )
							BEGIN
							/*print 'insert'*/
									INSERT INTO FMV_FORMULA_CONFIG (FORNULA_NAME,MIT_ID,IS_TRADINGDAYS,TRANS_DATE_ID,PRICE_DAY_ID,MSE_ID,TRADING_VOL_ID,STOCK_PRICE_ID,PRICE_PERIOD,PRICE_PERIOD_DAY,APPLICABLE_FROM_DATE,FORMULA_CONFIG_TYPE,Residential_ID,Country_ID,SCHEME_ID,FORMULA_DESCRIPTION,IS_FORMULA_APPLIED,SAR_FORMULA, CREATED_BY,CREATED_ON,UPDATED_BY, UPDATED_ON)		
									VALUES(@FORNULA_NAME,@MIT_ID,@IS_TRADINGDAYS,@TRANS_DATE_ID,@PRICE_DAY_ID,@MSE_ID,@TRADING_VOL_ID,@STOCK_PRICE_ID,@PRICE_PERIOD,@PRICE_PERIOD_DAY,@APPLICABLE_FROM_DATE,@FORMULA_CONFIG_TYPE,@Residential_ID,@Country_ID,@SCHEME_ID,@FORMULA_DESCRIPTION,@IS_FORMULA_APPLIED,@SAR_FORMULA,@CREATED_BY,GETDATE(),@CREATED_BY,GETDATE())
									
									
									IF(@@ROWCOUNT > 0)
									BEGIN						
										SELECT @@IDENTITY AS FFC_ID ,'Record Inserted Successfully.'	AS Msg	
										
										-- Update Application to date --
										IF(UPPER(@FORMULA_CONFIG_TYPE)='SARFMV')
										BEGIN
											 IF(UPPER(@TABLENAME) = 'SAR_COMPARE_FORMULA_CNFG')
											 BEGIN
												IF(@SAR_COMP_ID > 0)
												BEGIN
													IF(@APPLICABLE_FROM_DATE = @SAR_APPLICABLE_FROM_DATE)
													BEGIN
													  SET @APPLICABLE_TO_DATE = @APPLICABLE_FROM_DATE
													END
													ELSE
													BEGIN
														Print 'Update To date'
													 SET @APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
													END
												    
													UPDATE SAR_COMPARE_FORMULA_CNFG SET APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE WHERE SCFC_ID = @SAR_COMP_ID
												END	
											END
															
											IF(UPPER(@TABLENAME) = 'FMV_FORMULA_CONFIG')
											BEGIN	
												Print 'In update todate'	
												print @SAR_COMP_ID	
												IF(@SAR_COMP_ID > 0)
												BEGIN
													IF(@APPLICABLE_FROM_DATE = @SAR_APPLICABLE_FROM_DATE)
													BEGIN
													  SET @APPLICABLE_TO_DATE = @APPLICABLE_FROM_DATE
													END
													ELSE
													BEGIN
														print'set To date'
													 SET @APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
													END    
													print 'Fmv To date'
													print @SAR_COMP_ID
													SELECT @PREVIOUSFOUMULA_TYPE,@SAR_FORMULA
													IF(@SAR_FORMULA <> @PREVIOUSFOUMULA_TYPE)
													BEGIN
													--Check for previous type formula date
														print 'update For other formula'
														SELECT * FROM #TEMPSAR_ACTIVE_FORMULA
														
														UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED=0,APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE
														WHERE FFC_ID=@SAR_COMP_ID
																													
													END
													ELSE
													BEGIN
													print 'update For same formula'
														UPDATE FMV_FORMULA_CONFIG SET APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE WHERE FFC_ID = @SAR_COMP_ID
													END
													
												END	
											END	
										END
										ELSE 
										BEGIN
											UPDATE FMV_FORMULA_CONFIG SET APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE) WHERE FFC_ID = @SAR_COMP_ID
										END
									END
									ELSE
									BEGIN				
										SELECT '0' AS FFC_ID ,'Record insertion failed'	AS Msg										
									
									END
							END
							ELSE
							BEGIN
									SELECT '0' AS FFC_ID ,'Formula alies name already exist.' AS Msg				
							END
				
					END -- End Check applicable from date
					ELSE
					BEGIN
								
							SELECT '0' AS FFC_ID ,'Applicable From date should be greater than.'+REPLACE(CONVERT(VARCHAR, @SAR_APPLICABLE_FROM_DATE,101),' ','/') AS Msg	
					END
					
		
		END
		ELSE IF(UPPER(@ACTION)='UPDATE')
		BEGIN
		
					--IF(UPPER(@FORMULA_CONFIG_TYPE)='SARFMV')
					--BEGIN
					--	-- Used for Settelment Price/SAR Price. 
					--		 UPDATE SAR_COMPARE_FORMULA_CNFG SET IS_FORMULA_APPLIED = 0
					--		 WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS  
							
					--		 UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0 WHERE FORMULA_CONFIG_TYPE = 'SARFMV'	
					--		 AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS			
					--END	
					
					--update based on @APPLICABLE_FROM_DATE
					DECLARE @ApplicableFrom_Date DATETIME
					DECLARE @FORMULAALIESNAME NVARCHAR(100)
					DECLARE @Transaction int
					DECLARE @FID BIGINT
					IF(UPPER(@FORMULA_CONFIG_TYPE)='SARFMV')
					BEGIN
						
						SELECT  @ApplicableFrom_Date=APPLICABLE_FROM_DATE ,@LOCKINGDATE=APPLICABLE_FROM_DATE FROM FMV_FORMULA_CONFIG
						WHERE  FMV_FORMULA_CONFIG.FFC_ID=@FFC_ID AND FMV_FORMULA_CONFIG.FORMULA_CONFIG_TYPE = 'SARFMV' AND FMV_FORMULA_CONFIG.SAR_FORMULA=@SAR_FORMULA AND SCHEME_ID=@SCHEME_ID  AND FMV_FORMULA_CONFIG.IS_TRADINGDAYS=@IS_TRADINGDAYS AND MIT_ID=@MIT_ID
										
					END
										
					IF(@ApplicableFrom_Date = @APPLICABLE_FROM_DATE OR UPPER(@FORMULAALIESNAME)=UPPER(@FORNULA_NAME))
					BEGIN
							SET @Transaction=1
							UPDATE FMV_FORMULA_CONFIG 
							SET FORNULA_NAME=@FORNULA_NAME,MIT_ID=@MIT_ID,IS_TRADINGDAYS=@IS_TRADINGDAYS,TRANS_DATE_ID=@TRANS_DATE_ID,PRICE_DAY_ID=@PRICE_DAY_ID,MSE_ID=@MSE_ID,TRADING_VOL_ID=@TRADING_VOL_ID,STOCK_PRICE_ID=@STOCK_PRICE_ID,PRICE_PERIOD=@PRICE_PERIOD, Residential_ID=@Residential_ID,Country_ID=@Country_ID
							,PRICE_PERIOD_DAY=@PRICE_PERIOD_DAY,APPLICABLE_FROM_DATE=@APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE=@APPLICABLE_TO_DATE,FORMULA_DESCRIPTION= @FORMULA_DESCRIPTION,IS_FORMULA_APPLIED=@IS_FORMULA_APPLIED,SAR_FORMULA=@SAR_FORMULA,UPDATED_ON=GETDATE()
							WHERE  FMV_FORMULA_CONFIG.FFC_ID=@FFC_ID
					
					END
					ELSE
					BEGIN	
						--SELECT @APPLICABLE_FROM_DATE AS APPLICABLE_FROM_DATE ,@SAR_APPLICABLE_FROM_DATE AS SAR_APPLICABLE_FROM_DATE
							IF(@APPLICABLE_FROM_DATE > @SAR_APPLICABLE_FROM_DATE  )
							BEGIN
																	 															
							
									SET @Transaction=0
									IF NOT Exists(SELECT FFC_ID FROM FMV_FORMULA_CONFIG FFC WHERE  UPPER(FORNULA_NAME)=UPPER(@FORNULA_NAME) )
									BEGIN
											SET @FFCID = @FFC_ID
											INSERT INTO FMV_FORMULA_CONFIG (FORNULA_NAME,MIT_ID,IS_TRADINGDAYS,TRANS_DATE_ID,PRICE_DAY_ID,MSE_ID,TRADING_VOL_ID,STOCK_PRICE_ID,PRICE_PERIOD,PRICE_PERIOD_DAY,APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE,FORMULA_CONFIG_TYPE,Residential_ID,Country_ID,SCHEME_ID,FORMULA_DESCRIPTION,IS_FORMULA_APPLIED,SAR_FORMULA, CREATED_BY,CREATED_ON,UPDATED_BY, UPDATED_ON)		
											VALUES(@FORNULA_NAME,@MIT_ID,@IS_TRADINGDAYS,@TRANS_DATE_ID,@PRICE_DAY_ID,@MSE_ID,@TRADING_VOL_ID,@STOCK_PRICE_ID,@PRICE_PERIOD,@PRICE_PERIOD_DAY,@APPLICABLE_FROM_DATE,@APPLICABLE_TO_DATE,@FORMULA_CONFIG_TYPE,@Residential_ID,@Country_ID,@SCHEME_ID,@FORMULA_DESCRIPTION,@IS_FORMULA_APPLIED,@SAR_FORMULA,@CREATED_BY,GETDATE(),@CREATED_BY,GETDATE())
											SET @FFC_ID=@@IDENTITY							
											--Update FMV_FORMULA_CONFIG 
											--Set APPLICABLE_TO_DATE=
											--WHERE 
											
											/* Update Is Active flag*/
											IF(@TABLENAME='FMV_FORMULA_CONFIG')
									BEGIN
									 UPDATE FMV_FORMULA_CONFIG SET IS_FORMULA_APPLIED = 0 									 
									 WHERE FFC_ID IN (SELECT SAR_COMP_ID From #TEMPSAR_ACTIVE_FORMULA)
									 --FORMULA_CONFIG_TYPE = 'SARFMV'	
									 --AND MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS
									 END
									 ELSE IF(@TABLENAME='SAR_COMPARE_FORMULA_CNFG')
									 BEGIN										
										 UPDATE SAR_COMPARE_FORMULA_CNFG SET IS_FORMULA_APPLIED = 0
										 WHERE SCFC_ID IN (SELECT SAR_COMP_ID From #TEMPSAR_ACTIVE_FORMULA)
										 --MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS=@IS_TRADINGDAYS 
									 END	
											
									END
							END
							ELSE
							BEGIN
								SELECT '0' AS FFC_ID ,'Applicable From date should be greater than '+REPLACE(CONVERT(VARCHAR, @LOCKINGDATE,101),' ','/') AS Msg	
							END
							
							
					
					End
					IF(@@ROWCOUNT > 0)
					BEGIN		
						
						SELECT @FFC_ID AS FFC_ID ,'Record Updated successfully.'	AS Msg	
			
						IF(UPPER(@FORMULA_CONFIG_TYPE)='SARFMV')
						BEGIN	
							IF(UPPER(@TABLENAME) = 'SAR_COMPARE_FORMULA_CNFG')
							BEGIN
								IF(@SAR_COMP_ID > 0)
								BEGIN
									IF(@APPLICABLE_FROM_DATE = @SAR_APPLICABLE_FROM_DATE)
									BEGIN
									  SET @APPLICABLE_TO_DATE = @APPLICABLE_FROM_DATE
									END
									ELSE
									BEGIN
									 SET @APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
									END
								    
									UPDATE SAR_COMPARE_FORMULA_CNFG SET APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE WHERE SCFC_ID = @SAR_COMP_ID
								END	
							END
											
							IF(UPPER(@TABLENAME) = 'FMV_FORMULA_CONFIG')
							BEGIN			
								IF(@SAR_COMP_ID > 0)
								BEGIN
									IF(@APPLICABLE_FROM_DATE = @SAR_APPLICABLE_FROM_DATE)
									BEGIN
									  SET @APPLICABLE_TO_DATE = @APPLICABLE_FROM_DATE
									END
									ELSE
									BEGIN
									 SET @APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE)
									END    
								   
									UPDATE FMV_FORMULA_CONFIG SET APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE WHERE FFC_ID = @SAR_COMP_ID
								END	
							END							
						END
						ELSE IF(UPPER(@FORMULA_CONFIG_TYPE)='FMV' AND @FFCID > 0)
						BEGIN					
							UPDATE FMV_FORMULA_CONFIG SET APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE) WHERE FFC_ID=@FFCID AND IS_TRADINGDAYS=@IS_TRADINGDAYS
						END				
					END
					ELSE							
					Begin
							IF(@Transaction=0)
							BEGIN									
								SELECT '0' AS FFC_ID ,'Formula Alies Name already exist.'	AS Msg										
							END
					END
				
		END
		ELSE IF(UPPER(@ACTION)='GET')
		BEGIN
			IF(@Residential_ID >0)
			BEGIN
				
					SELECT FFC.FFC_ID, FORNULA_NAME,MIT.INSTRUMENT_NAME,FFC.MIT_ID,FFC.IS_TRADINGDAYS,TMCC.CODE_NAME as TRASCTION_DATE,FFC.TRANS_DATE_ID,PDMCC.CODE_NAME as PRICE_DAY,FFC.PRICE_DAY_ID,'' AS STOCK_EXCHANGE,
					FFC.MSE_ID,TVMCC.CODE_NAME as TRADING_VOLUME, FFC.TRADING_VOL_ID,SPMCC.CODE_NAME As STOCK_PRICE, FFC.STOCK_PRICE_ID, FFC.PRICE_PERIOD,PRICE_PERIOD_DAY,CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE,CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE,FFC.FORMULA_CONFIG_TYPE,
					FFC.FORMULA_DESCRIPTION
					FROM FMV_FORMULA_CONFIG FFC	Inner join MST_INSTRUMENT_TYPE MIT On FFC.MIT_ID=MIT.MIT_ID
					Inner Join MST_COM_CODE TMCC on TMCC.MCC_ID=  FFC.TRANS_DATE_ID
					Inner Join MST_COM_CODE SMCC on SMCC.MCC_ID=  FFC.PRICE_DAY_ID
					Inner Join MST_COM_CODE PDMCC on PDMCC.MCC_ID=  FFC.PRICE_DAY_ID
					LEFT Join MST_COM_CODE TVMCC on TVMCC.MCC_ID=  FFC.TRADING_VOL_ID
					Inner Join MST_COM_CODE SPMCC on SPMCC.MCC_ID=  FFC.STOCK_PRICE_ID
					WHERE IS_TRADINGDAYS=1 And FFC.MIT_ID=@MIT_ID  And FFC.FORMULA_CONFIG_TYPE='FMV' And ISNULL( FFC.Country_ID,0) =0 And FFC.Residential_ID=@Residential_ID
					ORDER BY FFC_ID DESC
									
					SELECT FFC.FFC_ID, FORNULA_NAME,MIT.INSTRUMENT_NAME,FFC.MIT_ID,FFC.IS_TRADINGDAYS,TMCC.CODE_NAME as TRASCTION_DATE,FFC.TRANS_DATE_ID,PDMCC.CODE_NAME as PRICE_DAY,FFC.PRICE_DAY_ID,'' AS STOCK_EXCHANGE,
					FFC.MSE_ID,TVMCC.CODE_NAME as TRADING_VOLUME, FFC.TRADING_VOL_ID,SPMCC.CODE_NAME As STOCK_PRICE, FFC.STOCK_PRICE_ID, FFC.PRICE_PERIOD,PRICE_PERIOD_DAY,CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE,CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE,FFC.FORMULA_CONFIG_TYPE,
					FFC.FORMULA_DESCRIPTION
					FROM FMV_FORMULA_CONFIG FFC	Inner join MST_INSTRUMENT_TYPE MIT On FFC.MIT_ID=MIT.MIT_ID
					Inner Join MST_COM_CODE TMCC on TMCC.MCC_ID=  FFC.TRANS_DATE_ID
					Inner Join MST_COM_CODE SMCC on SMCC.MCC_ID=  FFC.PRICE_DAY_ID
					Inner Join MST_COM_CODE PDMCC on PDMCC.MCC_ID=  FFC.PRICE_DAY_ID
					LEFT Join MST_COM_CODE TVMCC on TVMCC.MCC_ID=  FFC.TRADING_VOL_ID
					Inner Join MST_COM_CODE SPMCC on SPMCC.MCC_ID=  FFC.STOCK_PRICE_ID
					WHERE IS_TRADINGDAYS=0 AND FFC.MIT_ID=@MIT_ID  AND FFC.FORMULA_CONFIG_TYPE='FMV' AND ISNULL( FFC.Country_ID,0) =0 AND FFC.Residential_ID=@Residential_ID
					ORDER BY FFC_ID DESC
			
			END
			ELSE IF(@Country_ID >0)
			BEGIN
				
				SELECT FFC.FFC_ID, FORNULA_NAME,MIT.INSTRUMENT_NAME,FFC.MIT_ID,FFC.IS_TRADINGDAYS,TMCC.CODE_NAME as TRASCTION_DATE,FFC.TRANS_DATE_ID,PDMCC.CODE_NAME as PRICE_DAY,FFC.PRICE_DAY_ID,'' AS STOCK_EXCHANGE,
					FFC.MSE_ID,TVMCC.CODE_NAME as TRADING_VOLUME, FFC.TRADING_VOL_ID,SPMCC.CODE_NAME As STOCK_PRICE, FFC.STOCK_PRICE_ID, FFC.PRICE_PERIOD,PRICE_PERIOD_DAY,CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE,CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE,FFC.FORMULA_CONFIG_TYPE,
					FFC.FORMULA_DESCRIPTION
					FROM FMV_FORMULA_CONFIG FFC	Inner join MST_INSTRUMENT_TYPE MIT On FFC.MIT_ID=MIT.MIT_ID
					Inner Join MST_COM_CODE TMCC on TMCC.MCC_ID=  FFC.TRANS_DATE_ID
					Inner Join MST_COM_CODE SMCC on SMCC.MCC_ID=  FFC.PRICE_DAY_ID
					Inner Join MST_COM_CODE PDMCC on PDMCC.MCC_ID=  FFC.PRICE_DAY_ID
					LEFT Join MST_COM_CODE TVMCC on TVMCC.MCC_ID=  FFC.TRADING_VOL_ID
					Inner Join MST_COM_CODE SPMCC on SPMCC.MCC_ID=  FFC.STOCK_PRICE_ID
					WHERE IS_TRADINGDAYS=1 And FFC.MIT_ID=@MIT_ID  And FFC.FORMULA_CONFIG_TYPE='FMV' And ISNULL( FFC.Residential_ID,0) =0 And FFC.Country_ID=@Country_ID
					ORDER BY FFC_ID DESC
									
				SELECT FFC.FFC_ID, FORNULA_NAME,MIT.INSTRUMENT_NAME,FFC.MIT_ID,FFC.IS_TRADINGDAYS,TMCC.CODE_NAME as TRASCTION_DATE,FFC.TRANS_DATE_ID,PDMCC.CODE_NAME as PRICE_DAY,FFC.PRICE_DAY_ID,'' AS STOCK_EXCHANGE,
					FFC.MSE_ID,TVMCC.CODE_NAME as TRADING_VOLUME, FFC.TRADING_VOL_ID,SPMCC.CODE_NAME As STOCK_PRICE, FFC.STOCK_PRICE_ID, FFC.PRICE_PERIOD,PRICE_PERIOD_DAY,CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE,CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE,FFC.FORMULA_CONFIG_TYPE,
					FFC.FORMULA_DESCRIPTION
					FROM FMV_FORMULA_CONFIG FFC	Inner join MST_INSTRUMENT_TYPE MIT On FFC.MIT_ID=MIT.MIT_ID
					Inner Join MST_COM_CODE TMCC on TMCC.MCC_ID=  FFC.TRANS_DATE_ID
					Inner Join MST_COM_CODE SMCC on SMCC.MCC_ID=  FFC.PRICE_DAY_ID
					Inner Join MST_COM_CODE PDMCC on PDMCC.MCC_ID=  FFC.PRICE_DAY_ID
					LEFT Join MST_COM_CODE TVMCC on TVMCC.MCC_ID=  FFC.TRADING_VOL_ID
					Inner Join MST_COM_CODE SPMCC on SPMCC.MCC_ID=  FFC.STOCK_PRICE_ID
					WHERE IS_TRADINGDAYS=0 And FFC.MIT_ID=@MIT_ID  And FFC.FORMULA_CONFIG_TYPE='FMV' And ISNULL( FFC.Residential_ID,0) =0 And FFC.Country_ID=@Country_ID
					ORDER BY FFC_ID DESC
			
			
			END
			ELSE 
			BEGIN
			
					SELECT FFC.FFC_ID, FORNULA_NAME,MIT.INSTRUMENT_NAME,FFC.MIT_ID,FFC.IS_TRADINGDAYS,TMCC.CODE_NAME as TRASCTION_DATE,FFC.TRANS_DATE_ID,PDMCC.CODE_NAME as PRICE_DAY,FFC.PRICE_DAY_ID,'' AS STOCK_EXCHANGE,
					FFC.MSE_ID,TVMCC.CODE_NAME as TRADING_VOLUME, FFC.TRADING_VOL_ID,SPMCC.CODE_NAME As STOCK_PRICE, FFC.STOCK_PRICE_ID, FFC.PRICE_PERIOD,PRICE_PERIOD_DAY,CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE,CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE,FFC.FORMULA_CONFIG_TYPE,
					FFC.FORMULA_DESCRIPTION
					FROM FMV_FORMULA_CONFIG FFC	Inner join MST_INSTRUMENT_TYPE MIT On FFC.MIT_ID=MIT.MIT_ID
					Inner Join MST_COM_CODE TMCC on TMCC.MCC_ID=  FFC.TRANS_DATE_ID
					Inner Join MST_COM_CODE SMCC on SMCC.MCC_ID=  FFC.PRICE_DAY_ID
					Inner Join MST_COM_CODE PDMCC on PDMCC.MCC_ID=  FFC.PRICE_DAY_ID
					LEFT Join MST_COM_CODE TVMCC on TVMCC.MCC_ID=  FFC.TRADING_VOL_ID
					Inner Join MST_COM_CODE SPMCC on SPMCC.MCC_ID=  FFC.STOCK_PRICE_ID
					WHERE IS_TRADINGDAYS=1 And FFC.MIT_ID=@MIT_ID  And FFC.FORMULA_CONFIG_TYPE='FMV' AND ISNULL( FFC.Residential_ID,0) =0 AND ISNULL( FFC.Country_ID,0)=0
					ORDER BY FFC_ID DESC
									
					SELECT FFC.FFC_ID, FORNULA_NAME,MIT.INSTRUMENT_NAME,FFC.MIT_ID,FFC.IS_TRADINGDAYS,TMCC.CODE_NAME as TRASCTION_DATE,FFC.TRANS_DATE_ID,PDMCC.CODE_NAME as PRICE_DAY,FFC.PRICE_DAY_ID,'' AS STOCK_EXCHANGE,
					FFC.MSE_ID,TVMCC.CODE_NAME as TRADING_VOLUME, FFC.TRADING_VOL_ID,SPMCC.CODE_NAME As STOCK_PRICE, FFC.STOCK_PRICE_ID, FFC.PRICE_PERIOD,PRICE_PERIOD_DAY,CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE,CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE,FFC.FORMULA_CONFIG_TYPE,
					FFC.FORMULA_DESCRIPTION
					FROM FMV_FORMULA_CONFIG FFC	Inner join MST_INSTRUMENT_TYPE MIT On FFC.MIT_ID=MIT.MIT_ID
					Inner Join MST_COM_CODE TMCC on TMCC.MCC_ID=  FFC.TRANS_DATE_ID
					Inner Join MST_COM_CODE SMCC on SMCC.MCC_ID=  FFC.PRICE_DAY_ID
					Inner Join MST_COM_CODE PDMCC on PDMCC.MCC_ID=  FFC.PRICE_DAY_ID
					LEFT Join MST_COM_CODE TVMCC on TVMCC.MCC_ID=  FFC.TRADING_VOL_ID
					Inner Join MST_COM_CODE SPMCC on SPMCC.MCC_ID=  FFC.STOCK_PRICE_ID
					WHERE IS_TRADINGDAYS=0 And FFC.MIT_ID=@MIT_ID  AND FFC.FORMULA_CONFIG_TYPE='FMV' AND ISNULL( FFC.Residential_ID,0) =0 AND ISNULL( FFC.Country_ID,0)=0
					ORDER BY FFC_ID DESC
			END
				
		END
		ELSE IF(UPPER(@ACTION)='READ')
		BEGIN
		
					IF(UPPER(@FORMULA_CONFIG_TYPE)='SARFMV')
					BEGIN
						
						
						DECLARE @EXCEPT_FOR_FMV_VAL INT
						DECLARE @EXCEPT_FOR_FMV NVARCHAR(10)
						
						SELECT @EXCEPT_FOR_FMV_VAL=@EXCEPT_FOR_FMV_VAL,@EXCEPT_FOR_FMV=@EXCEPT_FOR_FMV
						From COMPANY_INSTRUMENT_MAPPING
						WHERE MIT_ID=@MIT_ID
						
						SELECT FFC_ID, FORNULA_NAME,MIT_ID,IS_TRADINGDAYS,TRANS_DATE_ID,PRICE_DAY_ID,MSE_ID,TRADING_VOL_ID,STOCK_PRICE_ID,PRICE_PERIOD,PRICE_PERIOD_DAY, REPLACE(CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106),' ','/') AS APPLICABLE_FROM_DATE,REPLACE(CONVERT(VARCHAR, APPLICABLE_TO_DATE,101),' ','/') AS APPLICABLE_TO_DATE,
						SAR_FORMULA
						FROM FMV_FORMULA_CONFIG	FFC
						WHERE FFC.FORMULA_CONFIG_TYPE = 'SARFMV' AND FFC.SAR_FORMULA=@SAR_FORMULA AND SCHEME_ID=@SCHEME_ID AND FFC.IS_TRADINGDAYS=@IS_TRADINGDAYS AND MIT_ID=@MIT_ID
						ORDER BY FFC_ID DESC		
						
						SELECT Calc_PerqDt_From As LOCKINGDATE  FROM CompanyParameters
					
					END
					ELSE
					BEGIN
						SELECT FFC_ID, FORNULA_NAME,MIT_ID,IS_TRADINGDAYS,TRANS_DATE_ID,PRICE_DAY_ID,MSE_ID,TRADING_VOL_ID,STOCK_PRICE_ID,PRICE_PERIOD,PRICE_PERIOD_DAY, REPLACE(CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106),' ','/') AS APPLICABLE_FROM_DATE,REPLACE(CONVERT(VARCHAR, APPLICABLE_TO_DATE,101),' ','/') AS APPLICABLE_TO_DATE
						FROM FMV_FORMULA_CONFIG	FFC
						WHERE FFC.FORMULA_CONFIG_TYPE = 'FMV' And FFC.Country_ID = ISNULL(@Country_ID,0) And FFC.Residential_ID=ISNULL(@Residential_ID,0) AND FFC.IS_TRADINGDAYS=@IS_TRADINGDAYS AND MIT_ID=@MIT_ID
						ORDER BY FFC_ID DESC					
						
						SELECT Calc_PerqDt_From As LOCKINGDATE  FROM CompanyParameters
					END
				
		END
		
	--	COMMIT TRANSACTION	
	END TRY
	BEGIN CATCH
	--	ROLLBACK TRANSACTION
		RETURN 0
	END CATCH
	SET NOCOUNT OFF;
END
GO
