/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_EMPLOYEE_DETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATE_EMPLOYEE_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_EMPLOYEE_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_UPDATE_EMPLOYEE_DETAILS]  
(  
 @MIT_ID INT,  
 @EXCEPT_FOR_TAXRATE_EMPLOYEE VARCHAR(3)  
   
)  
AS  
BEGIN  
  
 SET NOCOUNT ON;        
  IF(@MIT_ID !='')    
  BEGIN   
	UPDATE COMPANY_INSTRUMENT_MAPPING SET  EXCEPT_FOR_TAXRATE_EMPLOYEE = @EXCEPT_FOR_TAXRATE_EMPLOYEE  
	WHERE MIT_ID = @MIT_ID    
  END     
 SET NOCOUNT OFF;   
END  
GO
