/****** Object:  StoredProcedure [dbo].[PROC_INSERT_NOTIFICATION_INFORMATION]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_INSERT_NOTIFICATION_INFORMATION]
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_NOTIFICATION_INFORMATION]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_INSERT_NOTIFICATION_INFORMATION]
(
	@NOTIFICATION_TYPE		NVARCHAR(10) = NULL,
	@VESTING_DATE           NVARCHAR(25) = NULL,
	@NOTIFICATION_CONTENT   NVARCHAR(MAX) = NULL,
	@IS_MOBILE BIT = 0
)
AS
BEGIN
	SET NOCOUNT ON;
	 DECLARE @UserCount INT
	 DECLARE @n INT =1
	 DECLARE @UserId NVARCHAR(50)
	 DECLARE @Param1 NVARCHAR(50)
	

	 BEGIN TRY
		 CREATE TABLE #TEMP_USERLIST (UserId VARCHAR(20), Param1 varchar(50))
		 INSERT INTO #TEMP_USERLIST (UserId, Param1)
		 EXEC PROC_GET_NOTIFICATION_SCHEDULER_INFORMATION @NOTIFICATION_TYPE , @VESTING_DATE
		 IF(@IS_MOBILE = 1)
		 BEGIN
			SELECT @UserCount = COUNT(DISTINCT userId) FROM DeviceTokenInfo where IsActive = 1
		 END
		 ELSE
		 BEGIN
			SELECT @UserCount = COUNT(DISTINCT userId) FROM #TEMP_USERLIST
		 END

		 WHILE @n <= @UserCount
		 BEGIN
			IF(@IS_MOBILE = 1)
			BEGIN
				SELECT @UserId= T.UserId, @Param1 = TU.Param1
				FROM
				(SELECT DISTINCT TOP (@UserCount) userId, DENSE_RANK() OVER (ORDER BY userId DESC) AS Rnk 
				FROM  DeviceTokenInfo WHERE IsActive = 1 ORDER BY userId DESC)T 
				INNER JOIN #TEMP_USERLIST TU on T.UserId =TU.UserId
				WHERE T.Rnk = @n
			END
			ELSE
			BEGIN
				SELECT @UserId= T.UserId, @Param1 = TU.Param1
				FROM
				(SELECT DISTINCT TOP (@UserCount) userId, DENSE_RANK() OVER (ORDER BY userId DESC) AS Rnk 
				FROM  #TEMP_USERLIST  ORDER BY userId DESC)T 
				INNER JOIN #TEMP_USERLIST TU on T.UserId =TU.UserId
				WHERE T.Rnk = @n
			END
			
			IF (@UserId IS NOT NULL AND @UserId <> '')
			BEGIN
				SELECT  @Param1= (SELECT ', ' + US.Param1 FROM #TEMP_USERLIST US WHERE US.UserId = SS.UserId FOR XML PATH(''))
				FROM #TEMP_USERLIST SS where SS.UserId = @UserId
				GROUP BY SS.UserId
				
				INSERT INTO UserNotificationDetails ( NTF_SCH_ID, UserId, NTF_DESCRIPTION, UND_RECEIVE_DATE, UND_STATUS, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON)
				SELECT NSH.NTF_SCH_ID As NTF_SCH_ID ,@UserId, 
				      CASE WHEN @NOTIFICATION_TYPE = 2 THEN REPLACE(@NOTIFICATION_CONTENT,'@GrantDate',@Param1) ELSE @NOTIFICATION_CONTENT END NTF_DESCRIPTION , 
					  GETDATE(), 1, 'ADMIN',GETDATE(),'ADMIN',GETDATE()
				FROM NotificationSchedule NSH 
					 INNER JOIN InstrumentwiseNotification INTF ON INTF.MIT_NTF_ID = NSH.MIT_NTF_ID
					 INNER JOIN NotificationDetails NTFS ON NTFS.NTF_ID = INTF.NTF_ID
					 INNER JOIN NotificationEvent NTFE ON NTFE.NTF_EVT_ID = NSH.NTF_EVT_ID
					 INNER JOIN NotificationType NTFT ON NTFT.NTF_TYPE_ID = NTFS.NTF_TYPE_ID
				WHERE NOT EXISTS( 
			      SELECT UND.UserId FROM UserNotificationDetails  UND
				  INNER JOIN NotificationSchedule  NSH ON NSH.NTF_SCH_ID = UND.NTF_SCH_ID
				  INNER JOIN InstrumentwiseNotification INTF ON INTF.MIT_NTF_ID = NSH.MIT_NTF_ID
				  INNER JOIN NotificationDetails NTF ON NTF.NTF_ID = INTF.NTF_ID
				  INNER JOIN NotificationEvent NTFE ON NTFE.NTF_EVT_ID = NSH.NTF_EVT_ID
				  INNER JOIN NotificationType NTFT ON NTFT.NTF_TYPE_ID = NTF.NTF_TYPE_ID
				  WHERE UND.UserId = @UserId AND NTF.NTF_TYPE_ID = NTFS.NTF_TYPE_ID AND UND.NTF_DESCRIPTION = CASE WHEN @NOTIFICATION_TYPE = 2 THEN REPLACE(@NOTIFICATION_CONTENT,'@GrantDate',@Param1) ELSE @NOTIFICATION_CONTENT END
			      ) AND NTFS.NTF_ACTIVE=1 AND NTFS.NTF_TYPE_ID = @NOTIFICATION_TYPE
			END
			SET @n= @n+1
		 END
		 
		  SELECT UND.UND_ID AS NotificationId, UND.UserId AS UserId, NTF.NTF_TITLE  AS Title, UND.NTF_DESCRIPTION AS [Description] , NTFE.NTF_EVENT AS [Event] 
		  , NTFT.NTF_TYPE AS EventType, NSH.NTF_EVT_START_DATE AS StartDate,  NSH.NTF_EVT_END_DATE AS EndDate, UND.UND_RECEIVE_DATE AS ReceiveDate, UND.UND_VIEW_DATE AS ReadDate		
		  FROM UserNotificationDetails  UND
		  INNER JOIN NotificationSchedule  NSH ON NSH.NTF_SCH_ID = UND.NTF_SCH_ID
		  INNER JOIN InstrumentwiseNotification INTF ON INTF.MIT_NTF_ID = NSH.MIT_NTF_ID
		  INNER JOIN NotificationDetails NTF ON NTF.NTF_ID = INTF.NTF_ID
		  INNER JOIN NotificationEvent NTFE ON NTFE.NTF_EVT_ID = NSH.NTF_EVT_ID
		  INNER JOIN NotificationType NTFT ON NTFT.NTF_TYPE_ID = NTF.NTF_TYPE_ID
		  WHERE  NTF.NTF_ACTIVE =1 AND UND.UND_STATUS =1 AND UND.UND_VIEW_DATE IS NULL AND NTF.NTF_TYPE_ID = @NOTIFICATION_TYPE AND CONVERT(DATE, UND_RECEIVE_DATE) = CONVERT(DATE,GETDATE())
		  ORDER BY UND.UND_ID DESC

	 END TRY
	 BEGIN CATCH
		SELECT 'While error inserting notification information.' AS Result, ' Error Message: '  + ERROR_MESSAGE() as ErrorDescription
	 END CATCH	
	DROP TABLE #TEMP_USERLIST
	SET NOCOUNT OFF;
END
GO
