/****** Object:  StoredProcedure [dbo].[PROC_DATATYPE_CR_CONFIG]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_DATATYPE_CR_CONFIG]
GO
/****** Object:  StoredProcedure [dbo].[PROC_DATATYPE_CR_CONFIG]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_DATATYPE_CR_CONFIG]
(
	@USERID NVARCHAR(100),
    @IsGRANTDATA BIT=NULL,
	@IsEMPLOYEEDATA BIT=NULL,
	@IsSEPARATIONDATA BIT=NULL,
	@IsEXERCISEVALIDATION BIT=NULL,
	@IsEXERCISEALLOTMENT BIT=NULL,
	@IsPERFORMANCEVESTING BIT=NULL,
	@IsPAYMENTRECONCILIATION BIT=NULL,
	@IsREPORTS BIT=NULL,
	@IsOTHER BIT=NULL,
	@IsIMPLEMENTATIONANDTRANSITION BIT=NULL,
	@CREATED_BY NVARCHAR(200)=NULL,
	@UPDATED_BY NVARCHAR(200)=NULL,
	@ACTION CHAR(10)
 	
)
AS	   
BEGIN
	
	SET NOCOUNT ON;

	IF(UPPER(@ACTION)='GET')
	BEGIN
		SELECT 
			IsGRANTDATA,IsEMPLOYEEDATA ,IsSEPARATIONDATA ,IsEXERCISEVALIDATION ,IsEXERCISEALLOTMENT ,IsPERFORMANCEVESTING ,
			IsPAYMENTRECONCILIATION ,IsREPORTS,IsOTHER ,IsIMPLEMENTATIONANDTRANSITION 
		FROM 
			DATATYPE_CR_CONFIG 
		WHERE 
			USERID = @USERID
	END
	ELSE IF(UPPER(@ACTION)='ADD')
	BEGIN
		INSERT INTO DATATYPE_CR_CONFIG
		(
			USERID ,IsGRANTDATA,IsEMPLOYEEDATA ,IsSEPARATIONDATA ,IsEXERCISEVALIDATION ,IsEXERCISEALLOTMENT ,IsPERFORMANCEVESTING ,
			IsPAYMENTRECONCILIATION ,IsREPORTS,IsOTHER ,IsIMPLEMENTATIONANDTRANSITION ,CREATED_BY ,CREATED_ON ,UPDATED_BY ,UPDATED_ON 
		)	
		VALUES
		(
			@USERID ,@IsGRANTDATA,@IsEMPLOYEEDATA ,@IsSEPARATIONDATA ,@IsEXERCISEVALIDATION ,@IsEXERCISEALLOTMENT ,@IsPERFORMANCEVESTING ,
			@IsPAYMENTRECONCILIATION ,@IsREPORTS,@IsOTHER ,@IsIMPLEMENTATIONANDTRANSITION ,'Admin' ,GETDATE() ,'Admin' ,GETDATE()
		)
	END
	ELSE IF(UPPER(@ACTION)='UPDATE')
	BEGIN
		UPDATE 
			DATATYPE_CR_CONFIG 
		SET 
			IsGRANTDATA =@IsGRANTDATA,
			IsEMPLOYEEDATA=@IsEMPLOYEEDATA ,
			IsSEPARATIONDATA=@IsSEPARATIONDATA ,
			IsEXERCISEVALIDATION=@IsEXERCISEVALIDATION ,
			IsEXERCISEALLOTMENT=@IsEXERCISEALLOTMENT ,
			IsPERFORMANCEVESTING=@IsPERFORMANCEVESTING ,
			IsPAYMENTRECONCILIATION=@IsPAYMENTRECONCILIATION ,
			IsREPORTS=@IsREPORTS,
			IsOTHER=@IsOTHER ,
			IsIMPLEMENTATIONANDTRANSITION=@IsIMPLEMENTATIONANDTRANSITION ,
			UPDATED_BY= @UPDATED_BY,
			UPDATED_ON=GETDATE()
		WHERE 
			USERID = @USERID
	END
	ELSE IF(UPPER(@ACTION)='DELETE')
	BEGIN
		DELETE FROM DATATYPE_CR_CONFIG WHERE USERID = @USERID 
	END
	ELSE IF(UPPER(@ACTION)='EXIST')
	BEGIN
		SELECT  * from DATATYPE_CR_CONFIG WHERE USERID = @USERID
	END
END
GO
