/****** Object:  StoredProcedure [dbo].[PROC_GETEMPWISEUPLOADDOCDETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GETEMPWISEUPLOADDOCDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GETEMPWISEUPLOADDOCDETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GETEMPWISEUPLOADDOCDETAILS]
	@ACTION			VARCHAR(10),
	@EMPLOYEEID		VARCHAR(50)  = NULL,
	@CATEGORYID		VARCHAR(10)  = NULL
AS
BEGIN
SET NOCOUNT ON;
	
	DECLARE @IS_SCHEME BIT 
	SET @IS_SCHEME=(SELECT IS_SCHWISE_DOC_UPLOAD FROM CompanyMaster)

	DECLARE @SITEURL VARCHAR(MAX)
	SET @SITEURL=(SELECT SITEURL FROM CompanyMaster)
	
	IF (UPPER(@ACTION) = 'READ')
	BEGIN
		IF (@CATEGORYID= 2)
		BEGIN 
			IF (@IS_SCHEME = 1)
				BEGIN
					SELECT 
						CM.CATEGORYID,
						CM.CATEGORYNAME,
						UD.FILEID,UD.FILEPATH,
						UD.DESCRIPTION,
						@SITEURL AS SITEURL
					FROM 
						UPLOADDETAILS UD INNER JOIN CATEGORYMASTER CM ON CM.CATEGORYID = UD.CATEGORYID AND UD.ISDELETED = '0'
					WHERE 
						
						CM.CATEGORYID = @CATEGORYID
						AND UD.SchemeName IS NOT NULL 
						AND UD.SCHEMENAME in(SELECT DISTINCT(SCHEMEID) FROM GRANTOPTIONS WHERE EMPLOYEEID= (SELECT EMPLOYEEID FROM EMPLOYEEMASTER WHERE LOGINID=@EMPLOYEEID AND Deleted=0))
				END
			
			ELSE
				BEGIN
						SELECT 
							CM.CATEGORYID,
							CM.CATEGORYNAME,
							UD.FILEID,UD.FILEPATH,
							UD.DESCRIPTION,
							@SITEURL AS SITEURL
						FROM 
							UPLOADDETAILS UD INNER JOIN CATEGORYMASTER CM ON CM.CATEGORYID = UD.CATEGORYID AND UD.ISDELETED = '0'
						WHERE 
							
							CM.CATEGORYID = @CATEGORYID
				END
		
		END 
	
		ELSE
			BEGIN
				SELECT 
						CM.CATEGORYID,
						CM.CATEGORYNAME,
						UD.FILEID,UD.FILEPATH,
						UD.DESCRIPTION,
						@SITEURL AS SITEURL
					FROM 
						UPLOADDETAILS UD INNER JOIN CATEGORYMASTER CM ON CM.CATEGORYID = UD.CATEGORYID AND UD.ISDELETED = '0'
					WHERE 
						
						CM.CATEGORYID = @CATEGORYID
			END 
	END
END

GO
