/****** Object:  StoredProcedure [dbo].[PROC_GET_NOTIFICATION_TYPE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_NOTIFICATION_TYPE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_NOTIFICATION_TYPE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_NOTIFICATION_TYPE]

AS
BEGIN
	SET NOCOUNT ON;
	   SELECT 
	      NTFT.NTF_TYPE_ID, NTF_TYPE, NTF_TITLE, NTF_DESCRIPTION
	   FROM NotificationDetails NTF 
	   INNER JOIN NotificationType NTFT on NTFT.NTF_TYPE_ID = NTF.NTF_TYPE_ID
	   WHERE NTF.NTF_ACTIVE=1
		
	SET NOCOUNT OFF;
END


GO
