/****** Object:  StoredProcedure [dbo].[PROC_GET_EXERCISE_STEP_DETAILS_RDL]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_EXERCISE_STEP_DETAILS_RDL]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_EXERCISE_STEP_DETAILS_RDL]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_GET_EXERCISE_STEP_DETAILS_RDL] 
	
AS
	
BEGIN
		SET NOCOUNT ON;
SELECT 
		MST_EX_STEP_ID, 
		TITLE, 
		DISPLAY_NAME, 
		IS_ACTIVE, 
		IS_SELECTED,
		DISPLAY_SEQUENCE 
FROM 
		MST_EXERCISE_STEPS
WHERE
	 IS_ACTIVE = 1 AND MST_EX_STEP_ID IN(4,5)

	SET NOCOUNT OFF;
    
	
END
GO
