/****** Object:  StoredProcedure [dbo].[PROC_PUPVALIDATEEXERCISE]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_PUPVALIDATEEXERCISE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_PUPVALIDATEEXERCISE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_PUPVALIDATEEXERCISE]
(
	@PUP_VALIDATE PUPVALIDATEEXERCISE_TYPE	READONLY,
	@UserId	NVARCHAR(100)	
)
AS
BEGIN
	DECLARE @COUNT_PUPDATA	SMALLINT,
			@TEMP_COUNT		SMALLINT,
			@IsError		BIT = 0
			
	CREATE TABLE #TEMP_PUPOPERATION
	(
		[TEMPID]			INT IDENTITY(1,1),		
		[EXERCISEID]		INT,
		[EMPLOYEEID]		NVARCHAR(100),		
		[EMPLOYEENAME]		NVARCHAR(200),
		[EXERCISEDATE]		DATE,
		[SCHEMENAME]		NVARCHAR(200),
		[GRANTDATE]			DATE,
		[EXERCISEDQTY]		NUMERIC(18,0),
		[EXERCISEPRICE] 	NUMERIC(18,2),
		[PUPFMV]			NUMERIC(18,2),
		[PAYOUTVALUE]		NUMERIC(18,2),
		[PERQVALUE]			NUMERIC(18,2),
		[PERQTAX]			NUMERIC(18,2),	
		[UPDATEPAYOUT]		NCHAR(5),	
		[LOTNUMBER]			NVARCHAR(20),		
		[UPDATEDBY]			VARCHAR(50),
		[IsError]			BIT,
		[ErrorMessage]		NVARCHAR(1000),
		[IsGenExForm]		BIT	
	)
	
	--Copy ShExercisedOptions Table Schema
	IF (OBJECT_ID('ShExercisedOptions','U')) IS NOT NULL
    BEGIN
		SELECT * INTO #TEMP_SHEXERCISED FROM SHEXERCISEDOPTIONS WHERE 1 = 2		
	END
	
	/*READ COUNT OF PUP DATA : FOR VALIDATION PURPOSE*/
	SELECT @COUNT_PUPDATA = COUNT([Exercise Id]) FROM @PUP_VALIDATE
	
	INSERT INTO #TEMP_PUPOPERATION
				(EXERCISEID,EMPLOYEEID,EMPLOYEENAME,EXERCISEDATE,SCHEMENAME,
				GRANTDATE,EXERCISEDQTY,EXERCISEPRICE,PUPFMV,PAYOUTVALUE,
				PERQVALUE,PERQTAX,UPDATEPAYOUT,LOTNUMBER,UPDATEDBY,IsGenExForm)
	SELECT 		P.[Exercise Id],P.[Employee ID],P.[Employee Name],P.[Exercise Date],
				P.[Plan Name],P.[Grant Date],P.[PUP Options exercised],
				SHE.ExercisePrice,P.[Settled at Price/ Payout Prices/PUP FMV],P.[Payout value],
				CASE WHEN P.[Perquisite value]='N.A' THEN 0 ELSE CONVERT(NUMERIC(18,2),P.[Perquisite value]) END [Perquisite value],
				CASE WHEN P.[Perquisite tax]='N.A.' THEN 0 ELSE CONVERT(NUMERIC(18,2),P.[Perquisite tax]) END [Perquisite tax],
				P.[Update Payout],P.[Lot Number],@UserId,SHE.ISFORMGENERATE
 	FROM @PUP_VALIDATE P			
			INNER JOIN Scheme SC
				ON SC.SchemeId = P.[Plan Name]
			INNER JOIN SHEXERCISEDOPTIONS SHE
				ON SHE.EXERCISEID = P.[Exercise Id]
			INNER JOIN EMPLOYEEMASTER EM
				ON	EM.EmployeeID = SHE.EmployeeID 
					AND P.[Employee ID] = EM.EmployeeID 
					AND EM.Deleted = 0 AND SHE.ISFORMGENERATE = 1
	
	
	/*READ COUNT OF TEMP DATA : FOR VALIDATION PURPOSE*/
	SELECT @TEMP_COUNT = COUNT(TEMPID) FROM #TEMP_PUPOPERATION
	
	IF(@COUNT_PUPDATA = @TEMP_COUNT)
		BEGIN
			BEGIN
				SET IDENTITY_INSERT #TEMP_SHEXERCISED ON 
				INSERT INTO #TEMP_SHEXERCISED 
					(
						ExerciseId,GrantLegSerialNumber,ExercisedQuantity,SplitExercisedQuantity,BonusSplitExercisedQuantity,ExercisePrice,
						ExerciseDate,EmployeeID,LockedInTill,ExercisableQuantity,ValidationStatus,Action,GrantLegId,ExerciseNo,LotNumber,
						DiscrepancyInformation,SharesIssuedDate,DrawnOn,IsMassUpload,LastUpdatedBy,LastUpdatedOn,Cash,FBTValue,FBTPayable,
						FBTPayBy,FBTDays,TravelDays,FBTTravelInfoYN,PerqstValue,PerqstPayable,FMVPrice,isExerciseMailSent,payrollcountry,
						Perq_Tax_rate,SharesArised,FaceValue,SARExerciseAmount,StockApperciationAmt,FMV_SAR,Cheque_received_deposited,
						PaymentMode,CapitalGainTax,ExerciseFormReceived,ReceivedDate,TaxRule,ExerciseSARid,CGTformulaID,PANStatus,CGTRateLT,
						CGTUpdatedDate,IsPaymentDeposited,PaymentDepositedDate,IsPaymentConfirmed,PaymentConfirmedDate,IsExerciseAllotted,
						ExerciseAllotedDate,IsAllotmentGenerated,AllotmentGenerateDate,IsAllotmentGeneratedReversed,AllotmentGeneratedReversedDate,
						GenerateAllotListUniqueId,GenerateAllotListUniqueIdDate,IsPayInSlipGenerated,PayInSlipGeneratedDate,PayInSlipGeneratedUniqueId,
						IsTRCFormReceived,TRCFormReceivedDate,TRCFormReceivedUpdatedBy,TRCFormReceivedUpdatedOn,IsForm10FReceived,Form10FReceivedDate,
						isFormGenerate
					)
				SELECT	SHE.EXERCISEID,GRANTLEGSERIALNUMBER,EXERCISEDQUANTITY,SPLITEXERCISEDQUANTITY,BONUSSPLITEXERCISEDQUANTITY,SHE.EXERCISEPRICE,
						SHE.EXERCISEDATE,SHE.EMPLOYEEID,LOCKEDINTILL,EXERCISABLEQUANTITY,UPPER(T.UPDATEPAYOUT),ACTION,GRANTLEGID,EXERCISENO,UPPER(T.LOTNUMBER),
						DISCREPANCYINFORMATION,SHARESISSUEDDATE,DRAWNON,ISMASSUPLOAD,T.UPDATEDBY,GETDATE(),CASH,FBTVALUE,FBTPAYABLE,
						FBTPAYBY,FBTDAYS,TRAVELDAYS,FBTTRAVELINFOYN,PERQSTVALUE,PERQSTPAYABLE,FMVPRICE,ISEXERCISEMAILSENT,PAYROLLCOUNTRY,
						PERQ_TAX_RATE,SHARESARISED,FACEVALUE,SAREXERCISEAMOUNT,STOCKAPPERCIATIONAMT,FMV_SAR,CHEQUE_RECEIVED_DEPOSITED,
						PAYMENTMODE,CAPITALGAINTAX,EXERCISEFORMRECEIVED,RECEIVEDDATE,TAXRULE,EXERCISESARID,CGTFORMULAID,PANSTATUS,CGTRATELT,
						CGTUPDATEDDATE,ISPAYMENTDEPOSITED,PAYMENTDEPOSITEDDATE,ISPAYMENTCONFIRMED,PAYMENTCONFIRMEDDATE,ISEXERCISEALLOTTED,
						EXERCISEALLOTEDDATE,ISALLOTMENTGENERATED,ALLOTMENTGENERATEDATE,ISALLOTMENTGENERATEDREVERSED,ALLOTMENTGENERATEDREVERSEDDATE,
						GENERATEALLOTLISTUNIQUEID,GENERATEALLOTLISTUNIQUEIDDATE,ISPAYINSLIPGENERATED,PAYINSLIPGENERATEDDATE,PAYINSLIPGENERATEDUNIQUEID,
						ISTRCFORMRECEIVED,TRCFORMRECEIVEDDATE,TRCFORMRECEIVEDUPDATEDBY,TRCFORMRECEIVEDUPDATEDON,ISFORM10FRECEIVED,FORM10FRECEIVEDDATE,
						ISFORMGENERATE
				FROM	SHEXERCISEDOPTIONS SHE 
						RIGHT JOIN #TEMP_PUPOPERATION T
							ON SHE.EXERCISEID=T.EXERCISEID
				SET IDENTITY_INSERT #TEMP_SHEXERCISED OFF
			END
			
			BEGIN
				BEGIN TRY
					UPDATE SHE SET	SHE.VALIDATIONSTATUS = T.VALIDATIONSTATUS, SHE.LotNumber = T.LotNumber, 
									SHE.LastUpdatedBy = T.LastUpdatedBy, SHE.LastUpdatedOn = T.LastUpdatedOn 
					FROM SHEXERCISEDOPTIONS SHE
						 INNER JOIN #TEMP_SHEXERCISED T
							ON T.EXERCISEID = SHE.ExerciseId AND T.EmployeeID = SHE.EmployeeID
							
					SELECT 
						[TEMPID],[EXERCISEID],[EMPLOYEEID],[EMPLOYEENAME],[SCHEMENAME],
						[EXERCISEPRICE],[PUPFMV],[PAYOUTVALUE],[PERQVALUE],[PERQTAX],[UPDATEPAYOUT],[LOTNUMBER],
						@ISERROR [ISERROR],NULL [ErrorMessage]
					FROM #TEMP_PUPOPERATION
							
				END TRY
				BEGIN CATCH
					SET @ISERROR = 1
					SELECT  P.[Exercise Id] AS EXERCISEID,P.[Employee ID] EMPLOYEEID,P.[Employee Name] EMPLOYEENAME,
							P.[Plan Name] SCHEMENAME,P.[Settled at Price/ Payout Prices/PUP FMV] PUPFMV,P.[Payout value] PAYOUTVALUE,
							P.[Perquisite value] PERQVALUE,P.[Perquisite tax] PERQTAX,P.[Update Payout] UPDATEPAYOUT,P.[Lot Number] LOTNUMBER,
							@ISERROR [ISERROR], 'VALIDATION MESSAGE : Unable To Perform Update Operation' [ErrorMessage] 					
 					FROM	@PUP_VALIDATE P 					
 					WHERE	P.[Exercise Id] NOT IN (SELECT T.EXERCISEID FROM #TEMP_PUPOPERATION T)
				END CATCH
			END
		END
	ELSE
		BEGIN
			SET @ISERROR = 1
			
			SELECT  P.[Exercise Id] AS EXERCISEID,P.[Employee ID] EMPLOYEEID,P.[Employee Name] EMPLOYEENAME,
					P.[Plan Name] SCHEMENAME,P.[Settled at Price/ Payout Prices/PUP FMV] PUPFMV,P.[Payout value] PAYOUTVALUE,
					P.[Perquisite value] PERQVALUE,P.[Perquisite tax] PERQTAX,P.[Update Payout] UPDATEPAYOUT,P.[Lot Number] LOTNUMBER,
					@ISERROR [ISERROR], CASE WHEN SHE.isFormGenerate = 0 THEN 'VALIDATION MESSAGE : EmployeeID OR SchemeID DoesNot Match. ' + ' Exercise Form is not generated.'
											 WHEN SHE.isFormGenerate = 1 THEN 'VALIDATION MESSAGE : EmployeeID OR SchemeID DoesNot Match. ' END [ErrorMessage]
 			FROM	@PUP_VALIDATE P
 					INNER JOIN Scheme SC
						ON SC.SchemeId = P.[Plan Name]
					INNER JOIN SHEXERCISEDOPTIONS SHE
						ON SHE.EXERCISEID = P.[Exercise Id] 					
 			WHERE	P.[Exercise Id] NOT IN (SELECT T.EXERCISEID FROM #TEMP_PUPOPERATION T)
		END
END
GO
