/****** Object:  StoredProcedure [dbo].[SP_UPDATEOTHERNEWDETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[SP_UPDATEOTHERNEWDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATEOTHERNEWDETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATEOTHERNEWDETAILS] 
	-- Add the parameters for the stored procedure here
	(
		    @LOGINID AS VARCHAR (40),
			@PANNO	AS	VARCHAR	(40),
			@DEPARTMENT AS	VARCHAR	(150),
			@RESDENTSTATAUS	AS VARCHAR	(40),
			@LOCATION AS VARCHAR (200),
			@INSIDER AS	VARCHAR	(40),
			@SBU AS	VARCHAR	(200),
			@WARDNUMBER AS	VARCHAR	(40),
			@ENTITY	AS	VARCHAR	 (200),
			@COST_CENTER AS	VARCHAR	(200),
			@TAX_IDENTIFIER_STATE AS NVARCHAR (200),
			@TAX_IDENTIFIER_COUNTRY AS NVARCHAR	(200),
			@EMPLOYEENAME AS VARCHAR(20)
		
	)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	
	SET NOCOUNT ON;

	DECLARE @IS_TRACKING_COUNTRY_ENABLED BIT
	DECLARE @IS_ADD_IN_LIST BIT
	BEGIN
		if(@INSIDER IS NULL)
		BEGIN
		set @INSIDER= ' '
		END
		SELECT @IS_TRACKING_COUNTRY_ENABLED = IS_TRACKING_ENABLED FROM MASTER_LIST_FLD_NAME WHERE MLFN_ID = 6

		SELECT @IS_ADD_IN_LIST = IS_ADD_IN_LIST FROM MASTER_LIST_FLD_NAME WHERE MLFN_ID = 1
		IF(@IS_ADD_IN_LIST = 1)
		BEGIN
		SET @LOCATION=(SELECT  FIELD_VALUE FROM  MASTER_LIST_FLD_VALUE WHERE CONVERT(nvarchar(50),MLFV_ID)= @LOCATION AND MLFN_ID = 1)
		SET @IS_ADD_IN_LIST = 0
		END

		SELECT @IS_ADD_IN_LIST = IS_ADD_IN_LIST FROM MASTER_LIST_FLD_NAME WHERE MLFN_ID = 2
		IF(@IS_ADD_IN_LIST = 1)
		BEGIN
		SET @SBU=(SELECT  FIELD_VALUE FROM  MASTER_LIST_FLD_VALUE WHERE CONVERT(nvarchar(50),MLFV_ID)= @SBU AND MLFN_ID = 2)
		SET @IS_ADD_IN_LIST = 0
		END

		SELECT @IS_ADD_IN_LIST = IS_ADD_IN_LIST FROM MASTER_LIST_FLD_NAME WHERE MLFN_ID = 3
		IF(@IS_ADD_IN_LIST = 1)
		BEGIN
		SET @ENTITY=(SELECT  FIELD_VALUE FROM  MASTER_LIST_FLD_VALUE WHERE CONVERT(nvarchar(50),MLFV_ID)= @ENTITY AND MLFN_ID = 3)
		SET @IS_ADD_IN_LIST = 0
		END

		SELECT @IS_ADD_IN_LIST = IS_ADD_IN_LIST FROM MASTER_LIST_FLD_NAME WHERE MLFN_ID = 4
		IF(@IS_ADD_IN_LIST = 1)
		BEGIN
	    SET @DEPARTMENT=(SELECT  FIELD_VALUE FROM  MASTER_LIST_FLD_VALUE WHERE CONVERT(nvarchar(50),MLFV_ID)= @DEPARTMENT AND MLFN_ID = 4)
		SET @IS_ADD_IN_LIST = 0
		END

		SELECT @IS_ADD_IN_LIST = IS_ADD_IN_LIST FROM MASTER_LIST_FLD_NAME WHERE MLFN_ID = 5
		IF(@IS_ADD_IN_LIST = 1)
		BEGIN
		   SET @COST_CENTER=(SELECT  FIELD_VALUE FROM  MASTER_LIST_FLD_VALUE WHERE CONVERT(nvarchar(50),MLFV_ID)= @COST_CENTER AND MLFN_ID =5)
	
		SET @IS_ADD_IN_LIST = 0
		END


		IF(@IS_TRACKING_COUNTRY_ENABLED = 1)
		BEGIN
			UPDATE EmployeeMaster 
			SET PANNumber=@PANNO, Department=@DEPARTMENT, ResidentialStatus=@RESDENTSTATAUS, Location=@LOCATION, Insider=@INSIDER, SBU=@SBU, WardNumber=@WARDNUMBER, 
				Entity=@ENTITY, COST_CENTER=@COST_CENTER,
				LastUpdatedBy=@LOGINID,	LastUpdatedOn=GETDATE()
			WHERE
				LoginID=@LOGINID
		END
		ELSE
		BEGIN
			UPDATE EmployeeMaster 
			SET PANNumber=@PANNO, Department=@DEPARTMENT, ResidentialStatus=@RESDENTSTATAUS, Location=@LOCATION, Insider=@INSIDER, SBU=@SBU, WardNumber=@WARDNUMBER, 
				Entity=@ENTITY, COST_CENTER=@COST_CENTER, TAX_IDENTIFIER_STATE= CASE WHEN @TAX_IDENTIFIER_STATE = 0 THEN Null ELSE @TAX_IDENTIFIER_STATE END,
				TAX_IDENTIFIER_COUNTRY= CASE WHEN @TAX_IDENTIFIER_COUNTRY = 0 THEN Null ELSE @TAX_IDENTIFIER_COUNTRY END,
				LastUpdatedBy=@LOGINID,	LastUpdatedOn=GETDATE()
			WHERE
				LoginID=@LOGINID
		END

		UPDATE UserMaster
		SET
			Department=@DEPARTMENT,
			LastUpdatedBy=@LOGINID,
			LastUpdatedOn=GETDATE()
		WHERE
			UserId=@LOGINID
	END	
	
	IF @@ROWCOUNT > 0
	BEGIN
	    SELECT 
		  EM.PANNumber, EM.Department, EM.ResidentialStatus, EM.Location, EM.Insider, EM.SBU, EM.WardNumber, EM.Entity, EM.COST_CENTER, EM.TAX_IDENTIFIER_STATE
		FROM UserMaster UM INNER JOIN EmployeeMaster EM ON UM.UserId = EM.EmployeeID WHERE UM.UserId =@LOGINID
	END
SET NOCOUNT OFF;

END
GO
