/****** Object:  StoredProcedure [dbo].[PROC_AUTHORIZE_USER_BY_IP_ADDRESS_AND_EMPLOYEE_ID]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_AUTHORIZE_USER_BY_IP_ADDRESS_AND_EMPLOYEE_ID]
GO
/****** Object:  StoredProcedure [dbo].[PROC_AUTHORIZE_USER_BY_IP_ADDRESS_AND_EMPLOYEE_ID]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_AUTHORIZE_USER_BY_IP_ADDRESS_AND_EMPLOYEE_ID]
@IP_ADDRESS NVARCHAR(20)
AS
BEGIN
	 IF EXISTS(SELECT * FROM IP_AUTHORIZATION WHERE IP_ADDRESS=@IP_ADDRESS AND IS_INCLUDE=1)
	 BEGIN
		  SELECT * FROM IP_AUTHORIZATION WHERE IP_ADDRESS=@IP_ADDRESS AND IS_INCLUDE=1
	 END
	 ELSE IF EXISTS(SELECT * FROM IP_AUTHORIZATION WHERE IP_ADDRESS<>@IP_ADDRESS AND IS_INCLUDE=0)
	 BEGIN
		  SELECT * FROM IP_AUTHORIZATION WHERE IS_INCLUDE=0
	 END
	
END
GO
