/****** Object:  StoredProcedure [dbo].[SP_ONLINE_VALIDATE_TRANSACTION_DETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[SP_ONLINE_VALIDATE_TRANSACTION_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[SP_ONLINE_VALIDATE_TRANSACTION_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ONLINE_VALIDATE_TRANSACTION_DETAILS] 
(
	@EXERCISENO VARCHAR(50)
)
AS
BEGIN
	SELECT TD.BankReferenceNo AS TRANSACTIONID,PM.BankName AS BANKNAME,TD.Transaction_Date AS TRANSACTIONDATE FROM Transaction_Details TD
INNER JOIN PaymentBankMaster PM
ON PM.BankID=TD.BANKID 
WHERE TD.Sh_ExerciseNo=@EXERCISENO
END
GO
