/****** Object:  StoredProcedure [dbo].[PROC_GET_EMP_MOBILITY_DELETED_AUDIT_DATA]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_EMP_MOBILITY_DELETED_AUDIT_DATA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_EMP_MOBILITY_DELETED_AUDIT_DATA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_EMP_MOBILITY_DELETED_AUDIT_DATA]
AS
BEGIN
	SELECT 
		Field, EmployeeId, FORMAT(FromDate,'dd-MMM-yyyy') as FromDateOfMovement
	FROM 
		DELETE_EMPLOYEE_MOBILITY_MASSUPLOAD

	SELECT 
		Field, EmployeeId, FORMAT(FromDateOfMovement,'dd-MMM-yyyy') as FromDateOfMovement
	FROM 
		DELETE_EMPLOYEE_MOBILITY_MASSUPLOAD_AUDIT
END
GO
