/****** Object:  StoredProcedure [dbo].[PROC_GET_PUP_PAYOUTFMV_FORMULA]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_PUP_PAYOUTFMV_FORMULA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PUP_PAYOUTFMV_FORMULA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_PUP_PAYOUTFMV_FORMULA]				
AS
BEGIN
	SELECT PUPFORMULAID,PUP_FORMULA_TEXT,IS_VISIBLE FROM PUP_PAYOUTFMV_FORMULA
END
GO
