/****** Object:  StoredProcedure [dbo].[PROC_GET_COUNTRIES]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_COUNTRIES]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_COUNTRIES]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_COUNTRIES]
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE	@Result NVARCHAR (MAX)

	SET @Result = 
	(SELECT 
		FIELD_VALUE
	 FROM 
		MASTER_LIST_FLD_NAME MLFN 
		INNER JOIN MASTER_LIST_FLD_VALUE MLFL ON
		MLFN.MLFN_ID = MLFL.MLFN_ID AND MLFN.FIELD_NAME = 'TAX_IDENTIFIER_COUNTRY')

		DECLARE @query NVARCHAR(MAX)
		SELECT @query= SUBSTRING(@Result,CHARINDEX('SELECT', @Result),(LEN(@Result)-8))
		SET @query=REPLACE(@query,'@','''')
		PRINT (@query)
		EXEC(@query)

	SET NOCOUNT OFF;
END
GO
