/****** Object:  StoredProcedure [dbo].[PROC_CUD_PG_VALUE_VALIDATION]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CUD_PG_VALUE_VALIDATION]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CUD_PG_VALUE_VALIDATION]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CUD_PG_VALUE_VALIDATION] 

	@MIT_ID					INT,
	@Login_ID				NVARCHAR(50),
	@PGValidationEnabled	TINYINT,
	@PGHideOnlinePayMode	TINYINT,
	@PGDisaledOnlinePayMode	TINYINT,
	@PGAmount				NVARCHAR(100),
	@PGValidationMessage	NVARCHAR(4000),
	@PAYMENT_MODE_CONFIG_TYPE NVARCHAR(100)
	
AS
BEGIN
	
	IF EXISTS(SELECT PVV_ID FROM PG_VALUE_VALIDATION WHERE MIT_ID = @MIT_ID)
	BEGIN
		UPDATE 
			PG_VALUE_VALIDATION
		SET 
			UPDATED_BY = @Login_ID,
			UPDATED_ON = GETDATE(),
			IS_PG_VALIDATION_ENABLED = @PGValidationEnabled,
			AMOUNT = @PGAmount,
			IS_PAY_MODE_HIDE = @PGHideOnlinePayMode, 
			IS_PAY_MODE_DISABLE = @PGDisaledOnlinePayMode,
			VALIDATION_MESSAGE = @PGValidationMessage,
			PAYMENT_MODE_CONFIG_TYPE = @PAYMENT_MODE_CONFIG_TYPE
		WHERE
			(MIT_ID = @MIT_ID)
		
		SELECT @@ROWCOUNT;

	END
	ELSE
	BEGIN
		INSERT INTO PG_VALUE_VALIDATION 
			(MIT_ID, IS_PG_VALIDATION_ENABLED, AMOUNT, IS_PAY_MODE_HIDE, IS_PAY_MODE_DISABLE, VALIDATION_MESSAGE,PAYMENT_MODE_CONFIG_TYPE,CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON )
		VALUES
			(@MIT_ID, @PGValidationEnabled, @PGAmount, @PGHideOnlinePayMode, @PGDisaledOnlinePayMode, @PGValidationMessage,@PAYMENT_MODE_CONFIG_TYPE,@Login_ID, GETDATE(), @Login_ID, GETDATE())
		
		SELECT @@ROWCOUNT;
	END
	
	

	SET NOCOUNT OFF;
END
GO
