/****** Object:  StoredProcedure [dbo].[USP_PERQTAXEXCEPTIONRULE]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_PERQTAXEXCEPTIONRULE]
GO
/****** Object:  StoredProcedure [dbo].[USP_PERQTAXEXCEPTIONRULE]    Script Date: 7/6/2022 1:40:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USP_PERQTAXEXCEPTIONRULE]  
AS  
BEGIN  
DECLARE @COUNT TINYINT  
DECLARE @PERQID   VARCHAR(50)   
DECLARE @ACTION   VARCHAR(50)  
DECLARE @EMPLOYEEID  VARCHAR(50)  
DECLARE @GRANTOPTIONID VARCHAR(100)  
DECLARE @PERQVALUE  VARCHAR(50)  
DECLARE @PERQTAX  VARCHAR(50)  
DECLARE @PERQ_TAX_RATE  VARCHAR(50)  
DECLARE @LASTUPDATEDBY  VARCHAR(50)  
DECLARE @LASTUPDATEDON  VARCHAR(50)  
DECLARE @PERQ_ACTION VARCHAR(50)  
DECLARE @QUERY   VARCHAR(1000)  
DECLARE @CREATEQUERY VARCHAR(500)  
DECLARE @LOGQUERY  VARCHAR(500)
DECLARE @TAXHEADING  VARCHAR(100)
  
  
SET @QUERY =   
'INSERT INTO PERQSTTAXEXCEPTIONRULE   
 (  
  ACTION , EMPLOYEEID, GRANTOPTIONID, PERQVALUE, PERQTAX, PERQ_TAX_RATE, LASTUPDATEDBY, LASTUPDATEDON, TAXHEADING  
 )   
 (  
  SELECT T.ACTION, T.EMPLOYEEID, T.GRANTOPTIONID, T.PERQVALUE, T.PERQTAX, T.PERQ_TAX_RATE, T.LASTUPDATEDBY, GETDATE(), TAXHEADING   
  FROM TEMPPERQSTTAXEXCEPTIONRULE T WHERE T.PERQID = '  
  
  
     
DECLARE PERQ_DTA_CURSOR CURSOR FOR SELECT PERQID, ACTION, EMPLOYEEID, GRANTOPTIONID, PERQVALUE, PERQTAX, PERQ_TAX_RATE, LASTUPDATEDBY, LASTUPDATEDON, TAXHEADING FROM TEMPPERQSTTAXEXCEPTIONRULE  
  
OPEN PERQ_DTA_CURSOR   
  
FETCH NEXT FROM PERQ_DTA_CURSOR INTO @PERQID, @ACTION, @EMPLOYEEID, @GRANTOPTIONID, @PERQVALUE, @PERQTAX, @PERQ_TAX_RATE, @LASTUPDATEDBY, @LASTUPDATEDON, @TAXHEADING  
  
WHILE (@@FETCH_STATUS = 0)  
BEGIN   
 SET @PERQ_ACTION = (SELECT TOP 1 [ACTION]  FROM PERQSTTAXEXCEPTIONRULE WHERE EMPLOYEEID = @EMPLOYEEID AND GRANTOPTIONID = @GRANTOPTIONID ORDER BY LASTUPDATEDON DESC)  
   
 SET @PERQ_ACTION = (ISNULL(@PERQ_ACTION,'NA'))  
 --PRINT @PERQ_ACTION  
   
 IF((@PERQ_ACTION ='NA') AND (@ACTION = 'A'))  
 BEGIN  
  EXEC (@QUERY + @PERQID + ')')     
  SET @LOGQUERY = 'UPDATE TEMPPERQSTTAXEXCEPTIONRULE SET STATUSTYPE=''Y'',QueryExecutionON=GETDATE(), REMARK=''SUCCESSFUL'' where perqid='+@PERQID+''  
  EXEC (@LOGQUERY)  
 END   
 ELSE IF((@ACTION = 'E'))  
 BEGIN  
  SET @LOGQUERY =  'UPDATE TEMPPERQSTTAXEXCEPTIONRULE SET STATUSTYPE =''N'',QueryExecutionON=GETDATE(), Remark=''Please enter correct action code'' Where perqid='+@PERQID+''  
  EXEC (@LOGQUERY)  
 END  
 ELSE  
 BEGIN  
  SET @LOGQUERY =  'UPDATE TEMPPERQSTTAXEXCEPTIONRULE SET STATUSTYPE =''N'',QueryExecutionON=GETDATE(), Remark=''Please enter correct action code'' Where perqid='+@PERQID+''  
  EXEC (@LOGQUERY)  
 END  
 --A  
 IF(@ACTION = 'A')  
 BEGIN  
  IF ((@PERQ_ACTION = 'A') OR (@PERQ_ACTION = 'E'))   
  BEGIN  
   --PRINT 'Data Already Exists for Employee with Action = "' + @PERQ_ACTION + '"'  
   SET @LOGQUERY = 'UPDATE TEMPPERQSTTAXEXCEPTIONRULE SET STATUSTYPE =''N'',QueryExecutionON=GETDATE(), Remark=''Data Already Exists for Employee with Action ="' + @PERQ_ACTION + '"'' Where perqid='+@PERQID+''  
   EXEC (@LOGQUERY)     
  END  
    
  ELSE IF (@PERQ_ACTION = 'D')  
  BEGIN  
   EXEC (@QUERY + @PERQID + ')')     
   SET @LOGQUERY = 'UPDATE TEMPPERQSTTAXEXCEPTIONRULE SET STATUSTYPE=''Y'',QueryExecutionON=GETDATE(), REMARK=''SUCCESSFUL'' where perqid='+@PERQID+''  
   EXEC (@LOGQUERY)  
  END   
  END  
    
  ---E or ---D  
  ELSE IF ((@ACTION = 'E') OR (@ACTION = 'D'))  
  BEGIN  
  IF ((@PERQ_ACTION = 'A') OR (@PERQ_ACTION = 'E'))   
  BEGIN  
   EXEC (@QUERY + @PERQID + ')')     
   SET @LOGQUERY = 'UPDATE TEMPPERQSTTAXEXCEPTIONRULE SET STATUSTYPE=''Y'',QueryExecutionON=GETDATE(), REMARK=''SUCCESSFUL'' where perqid='+@PERQID+''  
   EXEC (@LOGQUERY)     
  END  
  ELSE IF (@PERQ_ACTION = 'D')  
  BEGIN  
   --PRINT 'Data won''t be deleted as Action exists is of type = D'  
   SET @LOGQUERY =  'UPDATE TEMPPERQSTTAXEXCEPTIONRULE SET STATUSTYPE =''N'',QueryExecutionON=GETDATE(), Remark=''Please enter correct action code'' Where perqid='+@PERQID+''  
   EXEC (@LOGQUERY)  
   --SET @RESULT = 'Data won''t be deleted as Action exists is of type = D'  
  END     
  END  
    
 FETCH NEXT FROM PERQ_DTA_CURSOR INTO @PERQID, @ACTION, @EMPLOYEEID, @GRANTOPTIONID, @PERQVALUE, @PERQTAX, @PERQ_TAX_RATE, @LASTUPDATEDBY, @LASTUPDATEDON, @TAXHEADING   
END  
  
--IF(@COUNT = 0)  
--BEGIN  
-- SET @QUERY = 'DROP TABLE #LOGDETAILS'  
-- EXEC (@QUERY)  
--END  
CLOSE PERQ_DTA_CURSOR     
DEALLOCATE PERQ_DTA_CURSOR   
  
SELECT  Row_number() over (order by Employeeid) as perqid,Employeeid,Grantoptionid,PerqValue,Perqtax,Perq_tax_rate,Remark,[Action], TaxHeading,  
    Case when StatusType='N' then 'Fail'    
     when StatusType='Y' then 'Successful'   
     End StatusType  
FROM TEMPPERQSTTAXEXCEPTIONRULE  
WHERE StatusType='N'  
     
END
GO
