/****** Object:  StoredProcedure [dbo].[PROC_IS_TRUST_ACTIVE]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_IS_TRUST_ACTIVE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_IS_TRUST_ACTIVE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_IS_TRUST_ACTIVE]
(	
	@CLIENTID NVARCHAR(MAX)    
)
AS
BEGIN
	SET NOCOUNT ON;
	
	BEGIN TRY
	
		SELECT COUNT(*) AS TRUSTACTIVE FROM TRUST WHERE CLIENTCOMPANY = @CLIENTID AND ACTIVESTATUS = 1 AND DELETESTATUS = 0
		
	END TRY
	BEGIN CATCH	
		RETURN 0
	END CATCH
	
	SET NOCOUNT OFF;
END
GO
