/****** Object:  StoredProcedure [dbo].[PROC_CRUD_ADS_PARAMETER]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CRUD_ADS_PARAMETER]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CRUD_ADS_PARAMETER]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CRUD_ADS_PARAMETER]

@TYPE							VARCHAR(20),
@IS_MULTIPLE_GRANT_EX_REQUIRED	BIT			= 1,
@IS_EX_COMPLETE_VEST_REQUIRED	BIT			= 0,
@IS_MULTIPLE_VEST_EX_REQUIRED	BIT			= 1,
@MIN_NO_OF_EX_OPTIONS			NVARCHAR(5)	= NULL,
@MULTIPLE_NO_OF_EX_OPTIONS		NVARCHAR(5)	= NULL,
@EX_AT_ONE_GO_IN_LAST_TRN		BIT		 	= 0,
@IS_EX_SEPARATELY				BIT		 	= 0,
@RESIDENTAIL_STATUS_ADS			VARCHAR		= NULL,
@ADS_EX_FORM_TEXT_1				VARCHAR(MAX)= NULL,
@ADS_EX_FORM_TEXT_2				VARCHAR(MAX)= NULL,
@LAST_UPDATED_BY				VARCHAR(50) = NULL,
@LAST_UPDATED_ON				DATETIME	= NULL
  
AS  
BEGIN
	SET NOCOUNT ON;
	
	IF (@TYPE = 'U')
	BEGIN
		BEGIN TRY
		
			-- INSERT RECORD INTO AUDIT TRAIL REPORT
			INSERT INTO AUDIT_TRAIL_ADS_PARAM 
					(IS_MULTIPLE_GRANT_EX_REQUIRED, IS_EX_COMPLETE_VEST_REQUIRED, IS_MULTIPLE_VEST_EX_REQUIRED, MIN_NO_OF_EX_OPTIONS, MULTIPLE_NO_OF_EX_OPTIONS, EX_AT_ONE_GO_IN_LAST_TRN, IS_EX_SEPARATELY, LAST_UPDATED_BY, LAST_UPDATED_ON, INSERTED_ON)
			SELECT	IS_MULTIPLE_GRANT_EX_REQUIRED, IS_EX_COMPLETE_VEST_REQUIRED, IS_MULTIPLE_VEST_EX_REQUIRED,
					MIN_NO_OF_EX_OPTIONS, MULTIPLE_NO_OF_EX_OPTIONS, EX_AT_ONE_GO_IN_LAST_TRN, IS_EX_SEPARATELY,
					LAST_UPDATED_BY, LAST_UPDATED_ON, GETDATE()			
			FROM ADS_PARAMETER
		
			
			--UPDATE ADS_PARAMETER TABLE SETTINGS
			UPDATE ADS_PARAMETER SET 
					IS_MULTIPLE_GRANT_EX_REQUIRED = @IS_MULTIPLE_GRANT_EX_REQUIRED,
					IS_EX_COMPLETE_VEST_REQUIRED = @IS_EX_COMPLETE_VEST_REQUIRED,
					IS_MULTIPLE_VEST_EX_REQUIRED = @IS_MULTIPLE_VEST_EX_REQUIRED,
					MIN_NO_OF_EX_OPTIONS = @MIN_NO_OF_EX_OPTIONS,
					MULTIPLE_NO_OF_EX_OPTIONS = @MULTIPLE_NO_OF_EX_OPTIONS,
					EX_AT_ONE_GO_IN_LAST_TRN = @EX_AT_ONE_GO_IN_LAST_TRN,
					IS_EX_SEPARATELY = @IS_EX_SEPARATELY,
					LAST_UPDATED_BY = @LAST_UPDATED_BY,
					LAST_UPDATED_ON = @LAST_UPDATED_ON
			
			
			-- UPDATE RESIDENTIAL PAYMENT MODE DETAILS
			UPDATE RPM
			SET		RPM.ADS_EX_FORM_TEXT_1 = @ADS_EX_FORM_TEXT_1,
					RPM.ADS_EX_FORM_TEXT_2 = @ADS_EX_FORM_TEXT_2
			FROM   ResidentialPaymentMode RPM 
					INNER JOIN ResidentialType RT ON RT.id = RPM.ResidentialType_Id					
			WHERE	RT.ResidentialStatus = @RESIDENTAIL_STATUS_ADS
			
		END TRY
		BEGIN CATCH
			SELECT ERROR_NUMBER(), ERROR_MESSAGE(), ERROR_LINE(),'Error occured while updating the record.' Result
		END CATCH
		
		IF(@@ERROR = 0)
		BEGIN
			SELECT 'Data Updated Successfully.' AS RESULT
		END
	END
	ELSE IF (@TYPE = 'R')
	BEGIN
		SELECT	IS_MULTIPLE_GRANT_EX_REQUIRED,IS_EX_COMPLETE_VEST_REQUIRED,
				IS_MULTIPLE_VEST_EX_REQUIRED,MIN_NO_OF_EX_OPTIONS,MULTIPLE_NO_OF_EX_OPTIONS,EX_AT_ONE_GO_IN_LAST_TRN,IS_EX_SEPARATELY,
				LAST_UPDATED_BY,LAST_UPDATED_ON			
		FROM ADS_PARAMETER
		
		SELECT id,[Description],ResidentialStatus FROM ResidentialType
		
		SELECT	RPM.ADS_EX_FORM_TEXT_1,RPM.ADS_EX_FORM_TEXT_2				
		FROM	ResidentialPaymentMode RPM
				INNER JOIN ResidentialType RT ON RT.id = RPM.ResidentialType_Id				
		WHERE	RT.ResidentialStatus = @RESIDENTAIL_STATUS_ADS		
		
	END
	
	SET NOCOUNT OFF;	
END
GO
