/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_EXERCISE_DETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATE_EXERCISE_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_EXERCISE_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[PROC_UPDATE_EXERCISE_DETAILS]    
 
 @EXERCISE_DETAILS  dbo.TYPE_EXERCISE_DETAILS READONLY,   
 @TAX_DETAILS  dbo.TYPE_INSERTEXERCISED_TAX READONLY,    
 @CREATED_BY varchar(50),    
 @UPDATED_BY varchar(50)    
      
AS    
BEGIN   
DECLARE @TRANSACTION_SUCCESSFUL INT  
/*
 Select 'Step1', ED.GRANTLEGSERIALNO, ED.OPTION_EXERCISED, ED.[PERQUSITEVALUE],
	 ED.PERQSTPAYABLE,
	 ED.SETTLMENTPRICE,
	ED.SHAREARISEAPPRVALUE,
	 ED.CASHPAYOUTVALUE,
	 ED.PAYMENTMODE,
	 @CREATED_BY ,
	 GETDATE()

	FROM ShExercisedOptions SH INNER JOIN @EXERCISE_DETAILS ED
	ON SH.EXERCISEID=ED.EXERCISEID 

	/********************/
	Select 'Step2' ,
	 --ETD.[RESIDENT_ID] 		 = TD.[RESIDENT_ID]         
	  TD.[COUNTRYID]  , 
	 TD.[TAXHEADING] ,
	 TD.[TAXRATE] ,
	--,ETD.[TAX_SEQ_NO]        = TD.[TAX_SEQ_NO]     
	 TD.[FMVVALUE],
	 TD. [TENTATIVEFMVVALUE]   ,
	 TD.[PERQVALUE],
	TD.[TENTATIVEPERQVALUE]  ,
	 TD.[BASISOFTAXATION],
	 TD.[TAX_AMOUNT],
	 TD.[TAX_AMOUNT] ,     
	 TD.[GRANTLEGSERIALNO],
	 TD.[FROM_DATE],
	 TD.[TO_DATE]  ,

	 @CREATED_BY ,
	 GETDATE(),
	 TD.[TAXCALCULATION_BASEDON],
	TD.[STOCKVALUE],
	TD.[TENTATIVESTOCKVALUE]
	--,ETD.[STATE_ID]=TD.[STATE_ID]
	FROM EXERCISE_TAXRATE_DETAILS ETD INNER JOIN @TAX_DETAILS TD
	ON ETD.EXERCISE_NO=TD.EXERCISE_NO

Select 'Step3', GL.ExercisableQuantity +(GL.UnapprovedExerciseQuantity-TAD.OPTION_EXERCISED),   
		 TAD.OPTION_EXERCISED
		FROM   
		 Grantleg AS GL 
		 INNER JOIN ShExercisedOptions SH 
		ON  SH.GrantLegSerialNumber = GL.ID 
		INNER JOIN @EXERCISE_DETAILS TAD ON  SH.EXERCISEID=TAD.EXERCISEID 
		*/
	BEGIN TRY  
    
  BEGIN TRANSACTION   
	BEGIN /*Update SHExercisedoptions*/  
	BEGIN TRY   
	 UPDATE SH
	 SET  
	 SH.ExercisedQuantity	= ED.OPTION_EXERCISED,
	SH.SplitExercisedQuantity=	ED.OPTION_EXERCISED,
	SH.BonusSplitExercisedQuantity=ED.OPTION_EXERCISED,
	 SH.TentativePerqstValue= ED.[PERQUSITEVALUE],
	 SH.TentativePerqstPayable= ED.PERQSTPAYABLE,
	 SH.TentativeSettlmentPrice=ED.SETTLMENTPRICE,
	 SH.TentShareAriseApprValue=ED.SHAREARISEAPPRVALUE,
	 SH.TentativeCashPayoutValue=ED.CASHPAYOUTVALUE,
	 SH.PaymentMode				=ED.PAYMENTMODE,
	 SH.LastUpdatedBy        = @CREATED_BY ,
	 SH.LastUpdatedOn        = GETDATE()

	FROM ShExercisedOptions SH INNER JOIN @EXERCISE_DETAILS ED
	ON SH.EXERCISEID=ED.EXERCISEID 
	
	END TRY  
	   BEGIN CATCH  
	   
		ROLLBACK TRANSACTION  
		--SELECT 'GRANT LEG' AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure,   
		--   ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;    
	   END CATCH  
	END
	BEGIN  /*Update Tax rate details*/
	BEGIN TRY
	 UPDATE ETD
     SET  ETD.[TAX_RATE]          = TD.[TAXRATE]
    ,ETD.[TENTATIVEFMVVALUE] = TD. [TENTATIVEFMVVALUE]  
    ,ETD.[TENTATIVEPERQVALUE]= TD.[TENTATIVEPERQVALUE]
    ,ETD.[BASISOFTAXATION]   = TD.[BASISOFTAXATION]
    --,ETD.[TAX_AMOUNT]        = TD.[TAX_AMOUNT]
    ,ETD.TENTATIVETAXAMOUNT  = TD.[TAX_AMOUNT]     
    --,ETD.[GRANTLEGSERIALNO]  = TD.[GRANTLEGSERIALNO]
    --,ETD.[FROM_DATE]         = TD.[FROM_DATE]
    --,ETD.[TO_DATE]           = TD.[TO_DATE]
    ,ETD.[UPDATED_BY]        = @CREATED_BY
    ,ETD.[UPDATED_ON]        = GETDATE()
    ,ETD.[TAXCALCULATION_BASEDON] = TD.[TAXCALCULATION_BASEDON],
    --,ETD.[STOCKVALUE]  =TD.[STOCKVALUE]
    ETD.[TENTATIVESTOCKVALUE]=TD.[TENTATIVESTOCKVALUE]
    --,ETD.[STATE_ID]=TD.[STATE_ID]
    FROM EXERCISE_TAXRATE_DETAILS ETD
    INNER JOIN ShExercisedOptions SH ON  SH.EXERCISEID=ETD.EXERCISE_NO AND  sh.GrantLegSerialNumber= ETD.GRANTLEGSERIALNO
    INNER JOIN @TAX_DETAILS TD
    ON SH.ExerciseId=TD.EXERCISE_NO AND ETD.COUNTRY_ID=TD.COUNTRYID AND ETD.Tax_Title=TD.TAXHEADING
	
	END TRY  
	   BEGIN CATCH  
	    
		ROLLBACK TRANSACTION  
		SELECT 'Exercise Tax' AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure,   
		   ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;    
	   END CATCH 
	END
	BEGIN /* ===== UPDATE GRANT LEG TABLE ===== */  
	   BEGIN TRY 
	    
		UPDATE GL SET   
		 GL.ExercisableQuantity = GL.ExercisableQuantity +(GL.UnapprovedExerciseQuantity-TAD.OPTION_EXERCISED),   
		 GL.UnapprovedExerciseQuantity = GL.UnapprovedExerciseQuantity-(GL.UnapprovedExerciseQuantity-TAD.OPTION_EXERCISED)
		FROM   
		 Grantleg AS GL INNER JOIN ShExercisedOptions SH ON  SH.GrantLegSerialNumber = GL.ID 
		 INNER JOIN @EXERCISE_DETAILS TAD ON  SH.EXERCISEID=TAD.EXERCISEID 
	   END TRY  
	   BEGIN CATCH  
		ROLLBACK TRANSACTION  
		SELECT 'GRANT LEG' AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure,   
		   ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;    
	   END CATCH      
	END  

	BEGIN /* ===== UPDATE Audit Exercise Details Modify TABLE ===== */  
	   BEGIN TRY 
	   DECLARE @IncCounter BIGINT   
	   SET @IncCounter =ISNULL((
		   SELECT TOP 1 AEDM.[Counter]
		   FROM 
		   Audit_Exercise_Details_Modify AS AEDM INNER JOIN ShExercisedOptions SH ON  SH.EXERCISENO = AEDM.EXERCISENO 
		   INNER JOIN @EXERCISE_DETAILS TAD ON  SH.EXERCISEID=TAD.EXERCISEID ORDER BY AEDM_ID desc
	   ),0)
	   
	   SET @IncCounter = @IncCounter + 1
	   
	   INSERT INTO Audit_Exercise_Details_Modify
		( 
			EMPLOYEEID, EXERCISENO,	ActionName, IS_ALLOW_MODIFY, [Counter], IsActive, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON
		)			
		SELECT SH.EMPLOYEEID ,SH.EXERCISENO ,'MODIFY',1,@IncCounter,1,SH.EMPLOYEEID,GETDATE(), SH.EMPLOYEEID,GETDATE() 
		FROM ShExercisedOptions SH INNER JOIN @EXERCISE_DETAILS TAD ON  SH.EXERCISEID=TAD.EXERCISEID 
	   
	   END TRY  
	   BEGIN CATCH  
		ROLLBACK TRANSACTION  
		SELECT ' Audit_Exercise_Details_Modify Message: ' AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure,   
		   ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;    
	   END CATCH      
	END  
 COMMIT TRANSACTION 
 SET @TRANSACTION_SUCCESSFUL=1 		--WHERE sh.EXERCISENO=@ExerciseNO
END TRY  
 BEGIN CATCH  
  ROLLBACK TRANSACTION   
  SET @TRANSACTION_SUCCESSFUL = 0     
 END CATCH 
 SELECT CASE WHEN @TRANSACTION_SUCCESSFUL=1 THEN 'Succesfully Updated' ELSE 'UPDATION FAIL'END AS MSG,@TRANSACTION_SUCCESSFUL AS RESULT
END
GO
