/****** Object:  StoredProcedure [dbo].[GET_COUNTRY_STATE_MASTERLIST]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[GET_COUNTRY_STATE_MASTERLIST]
GO
/****** Object:  StoredProcedure [dbo].[GET_COUNTRY_STATE_MASTERLIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GET_COUNTRY_STATE_MASTERLIST]
AS 
BEGIN
SET XACT_ABORT ON
SET NOCOUNT ON;
	DECLARE @TAX_IDENTIFIER_COUNTRY VARCHAR(50)
	DECLARE @TAX_IDENTIFIER_STATE VARCHAR(50)
	
	SET @TAX_IDENTIFIER_STATE = 'TAX_IDENTIFIER_STATE'
	SET @TAX_IDENTIFIER_COUNTRY = 'TAX_IDENTIFIER_COUNTRY'
	BEGIN TRY 	
	--GET STATE AND COUNTRY LIST IF IS_TRACKING_ENABLED = 1 FOR TAX_IDENTIFIER_STATE 
		IF EXISTS (SELECT @TAX_IDENTIFIER_STATE AS TAX_IDENTIFIER_STATE WHERE @TAX_IDENTIFIER_STATE 
		IN (SELECT FIELD_NAME FROM MASTER_LIST_FLD_NAME WHERE IS_TRACKING_ENABLED = 1))
		BEGIN
			SELECT 
				CM.COUNTRYNAME AS [COUNTRY NAME], DBO.FN_GET_STATES_BY_COUNTRY(CM.ID) AS [STATE NAME]
			FROM 
				COUNTRYMASTER CM
			WHERE 
				@TAX_IDENTIFIER_STATE IN (SELECT FIELD_NAME FROM MASTER_LIST_FLD_NAME WHERE IS_TRACKING_ENABLED = 1) AND CM.ISSELECTED =1
		END
		ELSE 
		BEGIN
		--GET COUNTRY LIST IF IS_TRACKING_ENABLED = 1 FOR TAX_IDENTIFIER_COUNTRY 
			SELECT 
				CM.COUNTRYNAME AS [COUNTRY NAME] FROM COUNTRYMASTER AS CM	
			WHERE 
				CM.IsSelected = 1 AND @TAX_IDENTIFIER_COUNTRY IN (SELECT FIELD_NAME FROM MASTER_LIST_FLD_NAME WHERE IS_TRACKING_ENABLED = 1)
		END
	END TRY
	BEGIN CATCH
		IF (XACT_STATE() <> 0)
		BEGIN
			
			SELECT 'ERROR WHILE FEATCHING MASTERLIST RECORD' AS REMARK, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
			ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage
		END
	END CATCH
SET NOCOUNT OFF;
END
GO
