/****** Object:  StoredProcedure [dbo].[PROC_GET_USERID_BASED_ON_EMPLOYEE_EMAIL]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_USERID_BASED_ON_EMPLOYEE_EMAIL]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_USERID_BASED_ON_EMPLOYEE_EMAIL]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_USERID_BASED_ON_EMPLOYEE_EMAIL]
	@USER_ID NVARCHAR(100) 
AS
BEGIN

	SET NOCOUNT ON;

	DECLARE @Valid_Email_ID INT

	SET @Valid_Email_ID = (SELECT dbo.FN_VALIDATE_EMAIL_ID(@USER_ID))

	IF(@Valid_Email_ID = 1)
	BEGIN
		SELECT @USER_ID = LoginID FROM EmployeeMaster WHERE EmployeeEmail = @USER_ID AND Deleted = 0
	END
	
	SELECT @USER_ID AS 'USER_ID'
	
END
GO
