/****** Object:  StoredProcedure [dbo].[PROC_GET_EMP_STOCK_EXCHANGE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_EMP_STOCK_EXCHANGE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_EMP_STOCK_EXCHANGE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_EMP_STOCK_EXCHANGE] 
	@EmployeeId VARCHAR(50)
AS
BEGIN
	
	SET NOCOUNT ON ;
	DECLARE @UserType NVARCHAR(20)
	SELECT @UserType = RoleId From UserMaster Where UserId=@EmployeeId
	
	DECLARE @col NVARCHAR(MAX), @sql NVARCHAR(Max)
	IF(UPPER(@UserType)='EMPLOYEE')
	BEGIN
			SELECT 	@col=COALESCE(@col,'')+',' +CIM.MSE_ID
			FROM MST_INSTRUMENT_TYPE MIT 
			INNER JOIN COMPANY_INSTRUMENT_MAPPING CIM ON MIT.MIT_ID =CIM.MIT_ID
			INNER JOIN SCHEME SH ON SH.MIT_ID = CIM.MIT_ID
			INNER JOIN GrantOptions GOT ON GOT.SchemeId= SH.SchemeId AND GOT.EmployeeId = @EmployeeId
			WHERE MSE_ID IS NOT NULL AND MSE_ID != ''
	
			SELECT @col=STUFF((@col), 1, 1, '' ) 

			IF @col IS NOT NULL
			BEGIN 
				SET @sql = 'SELECT MSE_ID,STOCK_EXCHANGE_SYMBOL, CM.CurrencyAlias FROM MST_STOCK_EXCHANGE MSE
				INNER JOIN CURRENCYMASTER CM ON MSE.CurrencyID = CM.CurrencyID
				WHERE MSE_ID IN ('+@col+')'
      			EXEC sp_executesql @sql
			END
	END
	ELSE
	BEGIN
			SELECT 	@col=COALESCE(@col,'')+',' +CIM.MSE_ID
			FROM MST_INSTRUMENT_TYPE MIT 
			INNER JOIN COMPANY_INSTRUMENT_MAPPING CIM ON MIT.MIT_ID =CIM.MIT_ID
			INNER JOIN SCHEME SH ON SH.MIT_ID = CIM.MIT_ID
			WHERE MSE_ID IS NOT NULL AND MSE_ID != ''
			
			SELECT @col=STUFF((@col), 1, 1, '' ) 

			IF @col IS NOT NULL
			BEGIN 
				SET @sql = 'SELECT MSE_ID,STOCK_EXCHANGE_SYMBOL, CM.CurrencyAlias FROM MST_STOCK_EXCHANGE MSE
				INNER JOIN CURRENCYMASTER CM ON MSE.CurrencyID = CM.CurrencyID
				WHERE MSE_ID IN ('+@col+')'
      			EXEC sp_executesql @sql
			END 
	
	
	END
	SET NOCOUNT OFF;

END
GO
