/****** Object:  StoredProcedure [dbo].[PROC_GET_USER_TYPE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_USER_TYPE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_USER_TYPE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[PROC_GET_USER_TYPE]
(
@USER_ID VARCHAR(250)
)
AS
BEGIN
SET NOCOUNT ON;

	SELECT UT.USERTYPEID,UT.USERTYPENAME FROM USERMASTER AS UM
	INNER JOIN ROLEMASTER AS RM ON UM.ROLEID = RM.ROLEID
	INNER JOIN USERTYPE AS UT ON RM.USERTYPEID = UT.USERTYPEID
	WHERE  USERID = @USER_ID 

END
GO
