/****** Object:  StoredProcedure [dbo].[PROC_SAVE_PREVESTINGTAX_IN_EXERCISED]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SAVE_PREVESTINGTAX_IN_EXERCISED]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SAVE_PREVESTINGTAX_IN_EXERCISED]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SAVE_PREVESTINGTAX_IN_EXERCISED] 

AS
BEGIN	

	SET NOCOUNT ON;
	DECLARE @TRANSACTION_SUCCESSFUL INT = 0
	BEGIN TRY
		
		BEGIN TRANSACTION
		
		BEGIN 
		
   		INSERT INTO [EXERCISE_TAXRATE_DETAILS]
		(
			EXERCISE_NO, COUNTRY_ID, RESIDENT_ID, Tax_Title, BASISOFTAXATION, TAX_RATE, TAX_AMOUNT, TENTATIVETAXAMOUNT, 
			GRANTLEGSERIALNO, FMVVALUE, TENTATIVEFMVVALUE, PERQVALUE, TENTATIVEPERQVALUE, FROM_DATE, TO_DATE, 
			CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON
		)

   		SELECT EXERCISEID, COUNTRY_ID, RESIDENT_ID, Tax_Title, BASISOFTAXATION, TAX_RATE, TAX_AMOUNT, TENTATIVETAXAMOUNT, 
			   GRANTLEGSERIALNO, FMVVALUE, TENTATIVEFMVVALUE, PERQVALUE, TENTATIVEPERQVALUE, FROM_DATE, TO_DATE, 
			   CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON 
		FROM
			   EMPPREPAYSELECTION AS EMP 
			   INNER JOIN PREVESTING_TAXRATE_DETAILS AS PTD ON EMP.EPPS_ID = PTD.EPPS_ID  
	           INNER JOIN ShExercisedOptions AS SHE ON SHE.GrantLegSerialNumber = EMP.GrantLegSerialNumber
	    WHERE  EMP.EPPS_ID NOT IN 
			  (SELECT 
					EMP.EPPS_ID 
			   FROM
					EMPPREPAYSELECTION AS  EMP
					INNER JOIN ShExercisedOptions AS SH ON EMP.GrantLegSerialNumber = SH.GrantLegSerialNumber
					INNER JOIN EXERCISE_TAXRATE_DETAILS AS ETD ON SH.ExerciseId = ETD.EXERCISE_NO
			   )		   

	 	END
			
		COMMIT TRANSACTION  
		
		SET @TRANSACTION_SUCCESSFUL = 1
		
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION	
		SET @TRANSACTION_SUCCESSFUL = 0			
	END CATCH
	SET NOCOUNT OFF;
END

GO
