/****** Object:  StoredProcedure [dbo].[PROC_SOPSUI_DELETE_EMPLOYEE]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SOPSUI_DELETE_EMPLOYEE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPSUI_DELETE_EMPLOYEE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SOPSUI_DELETE_EMPLOYEE] 
	
	@EMPLOYEE_ID NVARCHAR(100),
	@LAST_UPDATED_BY NVARCHAR(100),
	@TEMPLATE_NAME NVARCHAR(100)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	BEGIN TRY

		BEGIN TRANSACTION

		DELETE FROM DematSettings WHERE EmployeeID = @EMPLOYEE_ID
		
		DELETE FROM UserSecurityQuestion WHERE UserId = @EMPLOYEE_ID

		DELETE FROM UserPassword WHERE UserId = @EMPLOYEE_ID
		
		DELETE FROM UserMaster WHERE UserId = @EMPLOYEE_ID
		
		DELETE FROM Employee_UserDematDetails WHERE EmployeeID = @EMPLOYEE_ID

		DELETE FROM BROKER_SETTINGS WHERE EmployeeID = @EMPLOYEE_ID
		
		DELETE FROM CompanyConsent WHERE EmployeeID = @EMPLOYEE_ID

		DELETE FROM EmployeeMaster WHERE EmployeeID = @EMPLOYEE_ID
		
		INSERT INTO AUDIT_SOPs_UI 
			(TEMPLATE_NAME, UPDATED_BY, UPDATED_ON, UNIQUE_IDENTIFIER_TEXT, UNIQUE_IDENTIFIER_VALE, COMMAND_EXECUATED, COMMAND_PARAMETER)
		VALUES
			(@TEMPLATE_NAME, @LAST_UPDATED_BY, GETDATE(), 'Employee Id', @EMPLOYEE_ID, 'PROC_SOPSUI_DELETE_EMPLOYEE', '@EMPLOYEE_ID, @LAST_UPDATED_BY, @TEMPLATE_NAME')
		
		COMMIT TRANSACTION

		SELECT 'SUCCESS' AS 'ErrorMessage'

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT @@ERROR AS 'ErrorMessage'
	END CATCH	
		
	SET NOCOUNT OFF;				
END
GO
