/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_CP_PAYMENT_MODE]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATE_CP_PAYMENT_MODE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_CP_PAYMENT_MODE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATE_CP_PAYMENT_MODE] 
(
    @MIT_ID INT = NULL, 
    @CREATED_BY NVARCHAR(100) = NULL,
	@RETVALUE INT OUTPUT
)
AS
BEGIN	
	SET NOCOUNT ON;
		   
        DECLARE @RowCount INT;
        DECLARE @PAYMENTID INT;
    	
    	SELECT @RowCount = COUNT(ID) FROM PAYMENTMASTER WHERE PAYMENTMODE NOT IN ('A', 'P','O','C' )
		
		WHILE @RowCount > 0
		BEGIN
		   SELECT @PaymentID = ID FROM (SELECT ROW_NUMBER() OVER (ORDER BY ID DESC) AS ROW_ID, ID FROM PAYMENTMASTER WHERE PAYMENTMODE NOT IN ( 'A', 'P','O','C' )) PAYMENTMODES
           WHERE PAYMENTMODES.ROW_ID = @RowCount 
           
           IF NOT EXISTS (SELECT PMD_ID FROM PAYMENT_MASTER_DETAILS WHERE PM_ID = @PAYMENTID AND MIT_ID = @MIT_ID)
		   BEGIN		  		
				INSERT INTO PAYMENT_MASTER_DETAILS 
				(
				    PM_ID, MIT_ID, EXERCISEFORM_SUBMIT, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON
				)
				VALUES 
				(  
				    @PAYMENTID, @MIT_ID, 'N', @CREATED_BY, GETDATE(), @CREATED_BY, GETDATE()
				)
			END
           
           SET @RowCount = @RowCount - 1;			
		 END
		 
		SET @RETVALUE = @@ROWCOUNT;
	
	SET NOCOUNT OFF;
END
GO
