/****** Object:  StoredProcedure [dbo].[PROC_DISAPPROVE_ALLOTEMENT]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_DISAPPROVE_ALLOTEMENT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_DISAPPROVE_ALLOTEMENT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_DISAPPROVE_ALLOTEMENT]
	-- Add the parameters for the stored procedure here
	@EXERCISE_IDS dbo.TYPE_EXERCISE_IDS READONLY,
	@USER_ID NVARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	
	SET NOCOUNT ON;
	
	BEGIN TRY

		CREATE TABLE #TEMP_EXERCISE_IDS
		(
			T_EXERCISE_IDS NVARCHAR(100)
		)

		INSERT INTO #TEMP_EXERCISE_IDS (T_EXERCISE_IDS)
		SELECT 
			EMPLOYEE_ID 
		FROM 
			@EXERCISE_IDS
		
		UPDATE SHO			
		SET	
			LotNumber = NULL, ValidationStatus = 'N', LastUpdatedBy = @USER_ID, LastUpdatedOn = GETDATE()
		FROM 
			ShExercisedOptions AS SHO
			INNER JOIN #TEMP_EXERCISE_IDS AS T_EX_ID ON T_EX_ID.T_EXERCISE_IDS = SHO.ExerciseId
		
		SELECT '1' AS 'TRANSACTION_STATUS', '' AS 'ERROR_MESSAGE', '' AS 'ERROR_SEVERITY',  '' AS 'ERROR_STATE'
	
	END TRY
	BEGIN CATCH
		SELECT '0' AS 'TRANSACTION_STATUS', ERROR_MESSAGE() AS 'ERROR_MESSAGE', ERROR_SEVERITY() AS 'ERROR_SEVERITY',  ERROR_STATE() AS 'ERROR_STATE'
	END CATCH

	DROP TABLE #TEMP_EXERCISE_IDS

	SET NOCOUNT OFF;				
END
GO
