/****** Object:  StoredProcedure [dbo].[PROC_GET_USER_BROKER_ACCOUNT_BY_EMPID]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_USER_BROKER_ACCOUNT_BY_EMPID]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_USER_BROKER_ACCOUNT_BY_EMPID]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_USER_BROKER_ACCOUNT_BY_EMPID]
(
	@EmployeeID		NVARCHAR(100)
)
AS
BEGIN
SET NOCOUNT ON;	
		
   BEGIN		    
	     SELECT
		   EMPLOYEE_BROKER_ACC_ID,
		   EMPLOYEE_ID,
		   ISNULL(ACCOUNT_NAME,'') AS ACCOUNT_NAME,
		   ISNULL(EU.BROKER_DEP_TRUST_CMP_NAME,'') AS BROKER_DEP_TRUST_CMP_NAME,
		   ISNULL(EU.BROKER_DEP_TRUST_CMP_ID,'') AS BROKER_DEP_TRUST_CMP_ID,
		   ISNULL(EU.BROKER_ELECT_ACC_NUM,'') AS BROKER_ELECT_ACC_NUM,	
		   ISNULL(EU.IsValidBrokerAcc,0) AS IsValidBrokerAcc,
		   IS_ACTIVE, 
		   CREATED_BY, 
		   CREATED_ON, 
		   UPDATED_ON
		 FROM
		   Employee_UserBrokerDetails EU INNER JOIN EmployeeMaster EM ON EU.EMPLOYEE_ID=EM.EmployeeID
		 WHERE
		    EM.LoginID=@EmployeeID AND EM.Deleted=0 AND IS_ACTIVE='1' 
		
    END	
END	
GO
