/****** Object:  StoredProcedure [dbo].[PROC_CRUD_APPERCIATION_FORMULA]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CRUD_APPERCIATION_FORMULA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CRUD_APPERCIATION_FORMULA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CRUD_APPERCIATION_FORMULA]
	(	 
		@AFC_ID					BIGINT = NULL,		
		@MIT_ID					INT = NULL,
		@SCHEME_ID              NVARCHAR(100) = NULL,
	    @FORMULA_NAME			VARCHAR(250) = NULL , 	   
	    @TRANS_DATE_ID          BIGINT=NULL,
	    @FORMULA_DESCRIPTION	NVARCHAR(MAX) = NULL,
	    @IS_TRADINGDAYS         TINYINT = NULL,		
		@APPLICABLE_FROM_DATE	DATETIME = NULL,
		@CREATED_BY				NVARCHAR(50) = NULL,
		@ACTION					NVARCHAR(50)	
	 )
AS
BEGIN
	SET NOCOUNT ON;
	
	BEGIN TRY
	
		DECLARE @APPLICABLE_TO_DATE DATETIME 
		SET @APPLICABLE_TO_DATE = NULL	
		DECLARE @AFCNEW_ID INT 
		DECLARE @AFCNEW_ID1 INT 
		SET @AFCNEW_ID = NULL 

		SELECT TOP 1  @AFCNEW_ID= AFC_ID FROM APPERCIATION_FORMULA_CONFIG 
		WHERE IS_TRADINGDAYS =@IS_TRADINGDAYS AND MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID ORDER BY AFC_ID DESC 	   
		PRINT @AFCNEW_ID
				
		IF(UPPER(@ACTION)='ADD')
		BEGIN		
				
			INSERT INTO APPERCIATION_FORMULA_CONFIG (MIT_ID, SCHEME_ID, FORMULA_NAME,TRANS_DATE_ID,  FORMULA_DESCRIPTION, IS_TRADINGDAYS, APPLICABLE_FROM_DATE, APPLICABLE_TO_DATE, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON)		
			VALUES(@MIT_ID, @SCHEME_ID, @FORMULA_NAME, @TRANS_DATE_ID, @FORMULA_DESCRIPTION, @IS_TRADINGDAYS, @APPLICABLE_FROM_DATE, @APPLICABLE_TO_DATE, @CREATED_BY, GETDATE(), @CREATED_BY, GETDATE())
							
			If(@@ROWCOUNT > 0)
			BEGIN						
				SELECT @@IDENTITY AS AFC_ID ,'Record Inserted Successfully.'	AS Msg 
--				UPDATE APPERCIATION_FORMULA_CONFIG SET APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE) WHERE AFC_ID = (@@IDENTITY - 1) AND IS_TRADINGDAYS = @IS_TRADINGDAYS				
				UPDATE APPERCIATION_FORMULA_CONFIG SET APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE) WHERE AFC_ID = @AFCNEW_ID AND IS_TRADINGDAYS = @IS_TRADINGDAYS AND MIT_ID=@MIT_ID	AND SCHEME_ID=@SCHEME_ID			
			END
			ELSE
			BEGIN				
				SELECT '0' AS AFC_ID ,'Record insertion failed'	AS Msg	
			
			END
		
		END
		ELSE IF(UPPER(@ACTION)='UPDATE')
		BEGIN							
				UPDATE APPERCIATION_FORMULA_CONFIG 
				SET FORMULA_NAME = @FORMULA_NAME,TRANS_DATE_ID=@TRANS_DATE_ID, FORMULA_DESCRIPTION = @FORMULA_DESCRIPTION, IS_TRADINGDAYS = @IS_TRADINGDAYS, APPLICABLE_FROM_DATE = @APPLICABLE_FROM_DATE--, APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE
				WHERE  AFC_ID = @AFC_ID	
				
				If(@@ROWCOUNT > 0)
				BEGIN		
					SELECT @AFC_ID AS AFC_ID ,'Record Updated Successfully.'	AS Msg					
				END
				
		END
		ELSE IF(UPPER(@ACTION)='GET')
		BEGIN		      
				--- Trading Days 	
				SELECT AFC_ID, FORMULA_NAME, Replace(Replace(FORMULA_DESCRIPTION,'@',''),'�','') AS FORMULA_DESCRIPTION, CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE, CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE, NULL AS FORMULA_CONFIG_TYPE FROM APPERCIATION_FORMULA_CONFIG
				WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS = 1 ORDER BY AFC_ID DESC				

				--- Non Trading Days
				SELECT AFC_ID, FORMULA_NAME, Replace(Replace(FORMULA_DESCRIPTION,'@',''),'�','') AS FORMULA_DESCRIPTION, CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE, CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE, NULL AS FORMULA_CONFIG_TYPE FROM APPERCIATION_FORMULA_CONFIG
				WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID AND IS_TRADINGDAYS = 0				
		END
		
		
		ELSE IF(UPPER(@ACTION)='GET_APPERCIATION_FORMULAS')
		BEGIN
				SELECT AFC_ID, FORMULA_NAME FROM APPERCIATION_FORMULA_CONFIG WHERE MIT_ID = @MIT_ID				
		END
		ELSE IF(UPPER(@ACTION)='GET_FORMULA_DETAILS')
		BEGIN
				SELECT FORMULA_DESCRIPTION, IS_TRADINGDAYS, REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE, FORMULA_NAME FROM APPERCIATION_FORMULA_CONFIG WHERE AFC_ID = @AFC_ID				
		END
		ELSE IF(UPPER(@ACTION)='FORMULANAMEEXISTORNOT')
		BEGIN		        
		        IF(EXISTS(SELECT AFC_ID FROM APPERCIATION_FORMULA_CONFIG WHERE FORMULA_NAME = @FORMULA_NAME AND AFC_ID != CASE WHEN ISNULL(@AFC_ID,0) != 0 THEN @AFC_ID ELSE 0 END))
				BEGIN			
					Select 1 as ID ,'Formula Alias Name Already Exists.' as Msg	
				END
		END
		ELSE IF(UPPER(@ACTION)='GET_EXISTING_FORMULA_DETAILS_FOR_EDIT')
		BEGIN
				
				SELECT TOP 1 AFC_ID, FORMULA_NAME,  FORMULA_DESCRIPTION, IS_TRADINGDAYS, REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE,TRANS_DATE_ID FROM APPERCIATION_FORMULA_CONFIG
				WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @MIT_ID AND IS_TRADINGDAYS=isnull(@IS_TRADINGDAYS,1) ORDER BY AFC_ID desc
				
		END
		
	END TRY
	BEGIN CATCH	
		RETURN 0
	END CATCH
	
	SET NOCOUNT OFF;
END
GO
