/****** Object:  StoredProcedure [dbo].[PROC_HR_COMP_REPORT]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_HR_COMP_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_HR_COMP_REPORT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_HR_COMP_REPORT]
(
 @FROM_DATE DATE,@TO_DATE DATE,
 @SCHEME_NAME VARCHAR(50)
 --@TOTAL_GRANTS_out numeric(18,0) output,
 --@GRANT_OPTIONS_EMPLOYEES_out int output,
 --@LAPSED_OPTIONS_out numeric(18,0) output,
 --@LAPSED_OPTIONS_EMPLOYEES_out int output
 )
AS
BEGIN
DECLARE 
		@DAY_BEFORE_FROM_DATE DATE
		SELECT @DAY_BEFORE_FROM_DATE= DATEADD  (DAY,-1,@FROM_DATE)
		
--		declare @TOTAL_GRANTS_out_d numeric(18,0) ,
-- @GRANT_OPTIONS_EMPLOYEES_out_d int ,
-- @LAPSED_OPTIONS_out_d numeric(18,0) ,
-- @LAPSED_OPTIONS_EMPLOYEES_out_d int 
--exec PROC_HR_COMP_REPORT '2010-01-02','2014-01-01','ESOP 2005 - RSU 2010',@TOTAL_GRANTS_out_d output,
-- @GRANT_OPTIONS_EMPLOYEES_out_d  output,
-- @LAPSED_OPTIONS_out_d  output,
-- @LAPSED_OPTIONS_EMPLOYEES_out_d  output 
 
-- print convert (varchar,@TOTAL_GRANTS_out_d) + '  TOTAL_GRANTS_out_d'
-- print convert(varchar,@GRANT_OPTIONS_EMPLOYEES_out_d) +  '  GRANT_OPTIONS_EMPLOYEES_out_d'
-- print convert(varchar,@LAPSED_OPTIONS_out_d) + '   LAPSED_OPTIONS_out_d'
-- print convert(varchar,@LAPSED_OPTIONS_EMPLOYEES_out_d) + '    LAPSED_OPTIONS_EMPLOYEES_out_d'
 
--=============X======================X=================INSERT INTO TEMP TABLE AS PER DATES 1990 T0 TODATS DATE =========X======================X====================X=====================X====           
CREATE TABLE #TEMP_FROM_DATE
  ( 
     OPTIONSGRANTED         NUMERIC(18, 0), 
     OPTIONSVESTED          NUMERIC(18, 0), 
     OPTIONSEXERCISED       NUMERIC(18, 0), 
     OPTIONSCANCELLED       NUMERIC(18, 0), 
     OPTIONSLAPSED          NUMERIC(18, 0), 
     OPTIONSUNVESTED        NUMERIC(18, 0), 
     [PENDING FOR APPROVAL] NUMERIC(18, 0), 
     GRANTOPTIONID          NVARCHAR(100), 
     GRANTLEGID             NUMERIC(18, 0), 
     SCHEMEID               NVARCHAR(150), 
     GRANTREGISTRATIONID    NVARCHAR(150), 
     EMPLOYEEID             NVARCHAR(150), 
     EMPLOYEENAME           NVARCHAR(250), 
     SBU                    NVARCHAR(100) NULL, 
     ACCOUNTNO              NVARCHAR(100) NULL, 
     PANNUMBER              NVARCHAR(100) NULL, 
     ENTITY                 NVARCHAR(100) NULL, 
     [STATUS]               NVARCHAR(100), 
     GRANTDATE              DATETIME, 
     [VESTING TYPE]         NVARCHAR(100), 
     EXERCISEPRICE          NUMERIC(10, 2), 
     VESTINGDATE            DATETIME, 
     EXPIRAYDATE            DATETIME, 
     PARENT_NOTE            NVARCHAR(10),
     UnvestedCancelled		NUMERIC(18, 0),
     VestedCancelled		NUMERIC(18, 0),
	 INSTRUMENT_NAME       NVARCHAR(500) NULL,
	 CurrencyName NVARCHAR(500) NULL,
	 COST_CENTER NVARCHAR(500) NULL,
	 Department NVARCHAR(500) NULL,
	 Location NVARCHAR(500) NULL, 
	 EmployeeDesignation NVARCHAR(500) NULL, 
	 Grade NVARCHAR(500) NULL, 
	 ResidentialStatus NVARCHAR(500) NULL,
	 CountryName NVARCHAR(500) NULL, 
	 CurrencyAlias NVARCHAR(500) NULL,
	 MIT_ID NVARCHAR(500) NULL,
	 CancellationReason NVARCHAR(500) NULL
  ) 

INSERT INTO #TEMP_FROM_DATE 
--Exec SP_REPORT_DATA '1900-01-01', '2021-01-01'
--DROP TABLE #TEMP
EXEC SP_REPORT_DATA 
  '1900-01-01',   @DAY_BEFORE_FROM_DATE
  

  SELECT GRANTDATE,EXERCISEPRICE,SUM(OPTIONSGRANTED) TOTAL_GRANTS, COUNT(DISTINCT(EMPLOYEEID))AS GRANT_OPTIONS_EMPLOYEES 
  INTO #GRANTEDOPTIONS 
  FROM #TEMP_FROM_DATE
  WHERE SCHEMEID= @SCHEME_NAME AND (OPTIONSGRANTED>0 )
  GROUP BY GRANTDATE,EXERCISEPRICE
  
  
  SELECT GRANTDATE,EXERCISEPRICE,SUM(OPTIONSLAPSED)+SUM(OPTIONSCANCELLED) LAPSED_OPTIONS, COUNT(DISTINCT(EMPLOYEEID))AS LAPSED_OPTIONS_EMPLOYEES 
  INTO #LAPSEDOPTIONS 
  FROM #TEMP_FROM_DATE
  WHERE SCHEMEID=@SCHEME_NAME AND (OPTIONSLAPSED>0 OR OPTIONSCANCELLED>0)
  GROUP BY GRANTDATE,EXERCISEPRICE

  SELECT GRANTDATE,EXERCISEPRICE ,SUM(OPTIONSEXERCISED) OPTIONS_EXERCISED,COUNT(DISTINCT(EMPLOYEEID))AS OPTIONS_EXERCISED_EMPLOYEES 
  INTO #EXERCISEDOPTIONS 
  FROM #TEMP_FROM_DATE
  WHERE SCHEMEID=@SCHEME_NAME AND (OPTIONSEXERCISED>0)
  GROUP BY GRANTDATE,EXERCISEPRICE



CREATE TABLE #FINAL_FORM_DATE
(GRANT_DATE	DATE,
PERIOD VARCHAR(50),
EXERCISE_PRICE	 FLOAT,
TOTAL_GRANTS NUMERIC(18,0),
GRANT_OPTIONS_EMPLOYEES NUMERIC(18,0),
LAPSED_OPTIONS NUMERIC(18,0),
LAPSED_OPTIONS_EMPLOYEES INT,
OPTIONS_EXERCISED NUMERIC(18,0),
OPTIONS_EXERCISED_EMPLOYEES INT,
BALANCE_OPTIONS_TO_BE_EXERCISED NUMERIC(18,0),
OPTIONS_TO_BE_EXERCISED_EMPLOYEES INT
)

INSERT INTO #FINAL_FORM_DATE 
SELECT GRANTDATE,'STATUS AS ON '+CONVERT(VARCHAR,@DAY_BEFORE_FROM_DATE),EXERCISEPRICE,TOTAL_GRANTS,GRANT_OPTIONS_EMPLOYEES,NULL,NULL,NULL,NULL,NULL,NULL
FROM #GRANTEDOPTIONS

INSERT INTO #FINAL_FORM_DATE
 SELECT  GRANTDATE,'STATUS AS ON '+CONVERT(VARCHAR,@DAY_BEFORE_FROM_DATE) AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES,LAPSED_OPTIONS,LAPSED_OPTIONS_EMPLOYEES,NULL AS OPTIONS_EXERCISED,NULL AS OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
 FROM #LAPSEDOPTIONS 
	EXCEPT
(SELECT GRANTDATE,'STATUS AS ON '+CONVERT(VARCHAR,@DAY_BEFORE_FROM_DATE) AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES, LO.LAPSED_OPTIONS, LO.LAPSED_OPTIONS_EMPLOYEES,NULL AS OPTIONS_EXERCISED,NULL AS OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
 FROM #LAPSEDOPTIONS LO INNER JOIN #FINAL_FORM_DATE F 
 ON LO.GRANTDATE=F.GRANT_DATE AND LO.EXERCISEPRICE=F.EXERCISE_PRICE)
 
UPDATE #FINAL_FORM_DATE   SET LAPSED_OPTIONS=L.LAPSED_OPTIONS ,LAPSED_OPTIONS_EMPLOYEES=L.LAPSED_OPTIONS_EMPLOYEES
FROM (SELECT GRANTDATE,NULL AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES, LO.LAPSED_OPTIONS, LO.LAPSED_OPTIONS_EMPLOYEES,NULL AS OPTIONS_EXERCISED,NULL AS OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
	  FROM #LAPSEDOPTIONS LO INNER JOIN #FINAL_FORM_DATE F 
      ON LO.GRANTDATE=F.GRANT_DATE AND LO.EXERCISEPRICE=F.EXERCISE_PRICE)L
      WHERE #FINAL_FORM_DATE.GRANT_DATE=L.GRANTDATE AND #FINAL_FORM_DATE.EXERCISE_PRICE=L.EXERCISEPRICE
-------------------------------------------------------------------------------------------------------------------------------
INSERT INTO #FINAL_FORM_DATE
 SELECT  GRANTDATE,'STATUS AS ON '+CONVERT(VARCHAR,@DAY_BEFORE_FROM_DATE) AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES,NULL AS LAPSED_OPTIONS,NULL AS LAPSED_OPTIONS_EMPLOYEES,OPTIONS_EXERCISED,OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
 FROM #EXERCISEDOPTIONS 
	EXCEPT
(SELECT GRANTDATE,'STATUS AS ON '+CONVERT(VARCHAR,@DAY_BEFORE_FROM_DATE) AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES,NULL AS  LAPSED_OPTIONS,NULL AS LAPSED_OPTIONS_EMPLOYEES,EO.OPTIONS_EXERCISED, EO.OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
 FROM #EXERCISEDOPTIONS EO INNER JOIN #FINAL_FORM_DATE F 
 ON EO.GRANTDATE=F.GRANT_DATE AND EO.EXERCISEPRICE=F.EXERCISE_PRICE
 )      

UPDATE #FINAL_FORM_DATE   SET OPTIONS_EXERCISED=E.OPTIONS_EXERCISED ,OPTIONS_EXERCISED_EMPLOYEES=E.OPTIONS_EXERCISED_EMPLOYEES
FROM (SELECT GRANTDATE,NULL AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES,NULL AS  LAPSED_OPTIONS,NULL AS LAPSED_OPTIONS_EMPLOYEES,EO.OPTIONS_EXERCISED, EO.OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
 FROM #EXERCISEDOPTIONS EO INNER JOIN #FINAL_FORM_DATE F 
 ON EO.GRANTDATE=F.GRANT_DATE AND EO.EXERCISEPRICE=F.EXERCISE_PRICE
 ) E
 WHERE #FINAL_FORM_DATE.GRANT_DATE=E.GRANTDATE AND #FINAL_FORM_DATE.EXERCISE_PRICE=E.EXERCISEPRICE
 
CREATE TABLE #FINAL_FORM_DATE_SRNO
(SRNO INT IDENTITY(1,1),
GRANT_DATE	DATE,
PERIOD VARCHAR(50),
EXERCISE_PRICE	 FLOAT,
TOTAL_GRANTS NUMERIC(18,0),
GRANT_OPTIONS_EMPLOYEES NUMERIC(18,0),
LAPSED_OPTIONS NUMERIC(18,0),
LAPSED_OPTIONS_EMPLOYEES INT,
OPTIONS_EXERCISED NUMERIC(18,0),
OPTIONS_EXERCISED_EMPLOYEES INT,
BALANCE_OPTIONS_TO_BE_EXERCISED NUMERIC(18,0),
OPTIONS_TO_BE_EXERCISED_EMPLOYEES INT
)

 --=========================XX=======================XX============================XX=======================XX=======================
 CREATE TABLE #TEMP_TO_DATE
  ( 
     OPTIONSGRANTED         NUMERIC(18, 0), 
     OPTIONSVESTED          NUMERIC(18, 0), 
     OPTIONSEXERCISED       NUMERIC(18, 0), 
     OPTIONSCANCELLED       NUMERIC(18, 0), 
     OPTIONSLAPSED          NUMERIC(18, 0), 
     OPTIONSUNVESTED        NUMERIC(18, 0), 
     [PENDING FOR APPROVAL] NUMERIC(18, 0), 
     GRANTOPTIONID          NVARCHAR(100), 
     GRANTLEGID             NUMERIC(18, 0), 
     SCHEMEID               NVARCHAR(150), 
     GRANTREGISTRATIONID    NVARCHAR(150), 
     EMPLOYEEID             NVARCHAR(150), 
     EMPLOYEENAME           NVARCHAR(250), 
     SBU                    NVARCHAR(100) NULL, 
     ACCOUNTNO              NVARCHAR(100) NULL, 
     PANNUMBER              NVARCHAR(100) NULL, 
     ENTITY                 NVARCHAR(100) NULL, 
     [STATUS]               NVARCHAR(100), 
     GRANTDATE              DATETIME, 
     [VESTING TYPE]         NVARCHAR(100), 
     EXERCISEPRICE          NUMERIC(10, 2), 
     VESTINGDATE            DATETIME, 
     EXPIRAYDATE            DATETIME, 
     PARENT_NOTE            NVARCHAR(10),
     UnvestedCancelled		NUMERIC(18, 0),
     VestedCancelled		NUMERIC(18, 0),
	  INSTRUMENT_NAME       NVARCHAR(500) NULL,
	 CurrencyName NVARCHAR(500) NULL,
	 COST_CENTER NVARCHAR(500) NULL,
	 Department NVARCHAR(500) NULL,
	 Location NVARCHAR(500) NULL, 
	 EmployeeDesignation NVARCHAR(500) NULL, 
	 Grade NVARCHAR(500) NULL, 
	 ResidentialStatus NVARCHAR(500) NULL,
	 CountryName NVARCHAR(500) NULL, 
	 CurrencyAlias NVARCHAR(500) NULL,
	 MIT_ID NVARCHAR(500) NULL,
	 CancellationReason NVARCHAR(500) NULL
  ) 

INSERT INTO #TEMP_TO_DATE 
--DROP TABLE #TEMP_TO_DATE
EXEC SP_REPORT_DATA 
  '1900-01-01',   @TO_DATE
  

  SELECT GRANTDATE,EXERCISEPRICE,SUM(OPTIONSGRANTED) TOTAL_GRANTS, COUNT(DISTINCT(EMPLOYEEID))AS GRANT_OPTIONS_EMPLOYEES 
  INTO #GRANTEDOPTIONS_TO_DATE
  FROM #TEMP_TO_DATE
  WHERE SCHEMEID=@SCHEME_NAME AND (OPTIONSGRANTED>0 )
  GROUP BY GRANTDATE,EXERCISEPRICE
  
  
  SELECT GRANTDATE,EXERCISEPRICE,SUM(OPTIONSLAPSED)+SUM(OPTIONSCANCELLED) LAPSED_OPTIONS, COUNT(DISTINCT(EMPLOYEEID))AS LAPSED_OPTIONS_EMPLOYEES 
  INTO #LAPSEDOPTIONS_TO_DATE
  FROM #TEMP_TO_DATE
  WHERE SCHEMEID=@SCHEME_NAME AND (OPTIONSLAPSED>0 OR OPTIONSCANCELLED>0)
  GROUP BY GRANTDATE,EXERCISEPRICE

  SELECT GRANTDATE,EXERCISEPRICE ,SUM(OPTIONSEXERCISED) OPTIONS_EXERCISED,COUNT(DISTINCT(EMPLOYEEID))AS OPTIONS_EXERCISED_EMPLOYEES 
  INTO #EXERCISEDOPTIONS_TO_DATE 
  FROM #TEMP_TO_DATE
  WHERE SCHEMEID=@SCHEME_NAME AND (OPTIONSEXERCISED>0)
  GROUP BY GRANTDATE,EXERCISEPRICE



CREATE TABLE #FINAL_TO_DATE 
(GRANT_DATE	DATE,
PERIOD VARCHAR(50),
EXERCISE_PRICE	 FLOAT,
TOTAL_GRANTS NUMERIC(18,0),
GRANT_OPTIONS_EMPLOYEES NUMERIC(18,0),
LAPSED_OPTIONS NUMERIC(18,0),
LAPSED_OPTIONS_EMPLOYEES INT,
OPTIONS_EXERCISED NUMERIC(18,0),
OPTIONS_EXERCISED_EMPLOYEES INT,
BALANCE_OPTIONS_TO_BE_EXERCISED NUMERIC(18,0),
OPTIONS_TO_BE_EXERCISED_EMPLOYEES INT
)

--SELECT * FROM #FINAL
--SELECT * FROM #LAPSEDOPTIONS
--DECLARE @DAY_BEFORE_FROM_DATE DATE 
--SET @DAY_BEFORE_FROM_DATE =GETDATE()
INSERT INTO #FINAL_TO_DATE 
SELECT GRANTDATE,'STATUS AS ON '+CONVERT(VARCHAR,@TO_DATE),EXERCISEPRICE,TOTAL_GRANTS,GRANT_OPTIONS_EMPLOYEES,NULL,NULL,NULL,NULL,NULL,NULL
FROM #GRANTEDOPTIONS_TO_DATE

INSERT INTO #FINAL_TO_DATE
 SELECT  GRANTDATE,'STATUS AS ON '+CONVERT(VARCHAR,@TO_DATE) AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES,LAPSED_OPTIONS,LAPSED_OPTIONS_EMPLOYEES,NULL AS OPTIONS_EXERCISED,NULL AS OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
 FROM #LAPSEDOPTIONS_TO_DATE 
	EXCEPT
(SELECT GRANTDATE,'STATUS AS ON '+CONVERT(VARCHAR,@TO_DATE) AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES, LO.LAPSED_OPTIONS, LO.LAPSED_OPTIONS_EMPLOYEES,NULL AS OPTIONS_EXERCISED,NULL AS OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
 FROM #LAPSEDOPTIONS_TO_DATE LO INNER JOIN #FINAL_TO_DATE F 
 ON LO.GRANTDATE=F.GRANT_DATE AND LO.EXERCISEPRICE=F.EXERCISE_PRICE)
 
UPDATE #FINAL_TO_DATE   SET LAPSED_OPTIONS=L.LAPSED_OPTIONS ,LAPSED_OPTIONS_EMPLOYEES=L.LAPSED_OPTIONS_EMPLOYEES
FROM (SELECT GRANTDATE,NULL AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES, LO.LAPSED_OPTIONS, LO.LAPSED_OPTIONS_EMPLOYEES,NULL AS OPTIONS_EXERCISED,NULL AS OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
	  FROM #LAPSEDOPTIONS_TO_DATE LO INNER JOIN #FINAL_TO_DATE F 
      ON LO.GRANTDATE=F.GRANT_DATE AND LO.EXERCISEPRICE=F.EXERCISE_PRICE)L
      WHERE #FINAL_TO_DATE.GRANT_DATE=L.GRANTDATE AND #FINAL_TO_DATE.EXERCISE_PRICE=L.EXERCISEPRICE
-------------------------------------------------------------------------------------------------------------------------------
INSERT INTO #FINAL_TO_DATE
 SELECT  GRANTDATE,'STATUS AS ON '+CONVERT(VARCHAR,@TO_DATE) AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES,NULL AS LAPSED_OPTIONS,NULL AS LAPSED_OPTIONS_EMPLOYEES,OPTIONS_EXERCISED,OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
 FROM #EXERCISEDOPTIONS_TO_DATE 
	EXCEPT
(SELECT GRANTDATE,'STATUS AS ON '+CONVERT(VARCHAR,@TO_DATE) AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES,NULL AS  LAPSED_OPTIONS,NULL AS LAPSED_OPTIONS_EMPLOYEES,EO.OPTIONS_EXERCISED, EO.OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
 FROM #EXERCISEDOPTIONS_TO_DATE EO INNER JOIN #FINAL_TO_DATE F 
 ON EO.GRANTDATE=F.GRANT_DATE AND EO.EXERCISEPRICE=F.EXERCISE_PRICE
 )      

UPDATE #FINAL_TO_DATE   SET OPTIONS_EXERCISED=E.OPTIONS_EXERCISED ,OPTIONS_EXERCISED_EMPLOYEES=E.OPTIONS_EXERCISED_EMPLOYEES
FROM (SELECT GRANTDATE,NULL AS PERIOD,EXERCISEPRICE,NULL AS TOTAL_GRANTS , NULL AS GRANT_OPTIONS_EMPLOYEES,NULL AS  LAPSED_OPTIONS,NULL AS LAPSED_OPTIONS_EMPLOYEES,EO.OPTIONS_EXERCISED, EO.OPTIONS_EXERCISED_EMPLOYEES,NULL AS BALANCE_OPTIONS_TO_BE_EXERCISED,NULL AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
 FROM #EXERCISEDOPTIONS_TO_DATE EO INNER JOIN #FINAL_TO_DATE F 
 ON EO.GRANTDATE=F.GRANT_DATE AND EO.EXERCISEPRICE=F.EXERCISE_PRICE
 ) E
 WHERE #FINAL_TO_DATE.GRANT_DATE=E.GRANTDATE AND #FINAL_TO_DATE.EXERCISE_PRICE=E.EXERCISEPRICE
 
 CREATE TABLE #FINAL_TO_DATE_SRNO 
(SRNO INT IDENTITY(1,1),
GRANT_DATE	DATE,
PERIOD VARCHAR(50),
EXERCISE_PRICE	 FLOAT,
TOTAL_GRANTS NUMERIC(18,0),
GRANT_OPTIONS_EMPLOYEES NUMERIC(18,0),
LAPSED_OPTIONS NUMERIC(18,0),
LAPSED_OPTIONS_EMPLOYEES INT,
OPTIONS_EXERCISED NUMERIC(18,0),
OPTIONS_EXERCISED_EMPLOYEES INT,
BALANCE_OPTIONS_TO_BE_EXERCISED NUMERIC(18,0),
OPTIONS_TO_BE_EXERCISED_EMPLOYEES INT
)
 
 
 
 
 
 
CREATE TABLE #FINAL_COMBI
(
UID VARCHAR(50) NULL, 
GRANT_DATE	DATE,
PERIOD VARCHAR(50),
EXERCISE_PRICE	 FLOAT,
TOTAL_GRANTS NUMERIC(18,0),
GRANT_OPTIONS_EMPLOYEES NUMERIC(18,0),
LAPSED_OPTIONS NUMERIC(18,0),
LAPSED_OPTIONS_EMPLOYEES INT,
OPTIONS_EXERCISED NUMERIC(18,0),
OPTIONS_EXERCISED_EMPLOYEES INT,
BALANCE_OPTIONS_TO_BE_EXERCISED NUMERIC(18,0),
OPTIONS_TO_BE_EXERCISED_EMPLOYEES INT
)
CREATE TABLE #MISS_MATCH (SRNO INT IDENTITY (1,1),GRANT_DATE DATE,EXERCISE_PRICE FLOAT)
INSERT INTO #MISS_MATCH (GRANT_DATE,EXERCISE_PRICE)
(
SELECT GRANT_DATE,EXERCISE_PRICE FROM #FINAL_FORM_DATE 
EXCEPT 
SELECT GRANT_DATE,EXERCISE_PRICE FROM  #FINAL_TO_DATE 
UNION
SELECT GRANT_DATE,EXERCISE_PRICE FROM #FINAL_TO_DATE 
EXCEPT 
SELECT GRANT_DATE,EXERCISE_PRICE FROM  #FINAL_FORM_DATE )





IF EXISTS(SELECT * FROM #MISS_MATCH)
BEGIN
DECLARE @MIN_SRNO INT,
		@MAX_SRNO INT,
		@GRANT_DATE_MISSMATCH DATE,
		@EXERCISE_PRICE_MISSMATCH FLOAT 
SELECT @MAX_SRNO= MAX(SRNO) FROM #MISS_MATCH	
SET @MIN_SRNO=1
WHILE (@MIN_SRNO<= @MAX_SRNO)
BEGIN	
SELECT @GRANT_DATE_MISSMATCH= GRANT_DATE,@EXERCISE_PRICE_MISSMATCH=EXERCISE_PRICE FROM #MISS_MATCH WHERE SRNO=@MIN_SRNO
IF EXISTS (SELECT * FROM #FINAL_TO_DATE WHERE GRANT_DATE=@GRANT_DATE_MISSMATCH AND EXERCISE_PRICE=@EXERCISE_PRICE_MISSMATCH)
BEGIN
INSERT INTO #FINAL_FORM_DATE VALUES(@GRANT_DATE_MISSMATCH,'STATUS AS ON '+CONVERT(VARCHAR,@DAY_BEFORE_FROM_DATE),@EXERCISE_PRICE_MISSMATCH,0,0,0,0,0,0,0,0)
END 
ELSE
BEGIN
INSERT INTO #FINAL_TO_DATE VALUES(@GRANT_DATE_MISSMATCH,'STATUS AS ON '+CONVERT(VARCHAR,@TO_DATE),@EXERCISE_PRICE_MISSMATCH,0,0,0,0,0,0,0,0)

END
	SET @MIN_SRNO=@MIN_SRNO+1	

END
END




 INSERT INTO #FINAL_FORM_DATE_SRNO SELECT GRANT_DATE,	
PERIOD,
EXERCISE_PRICE,	
ISNULL(TOTAL_GRANTS,0)	,
ISNULL(GRANT_OPTIONS_EMPLOYEES,0)	, 
ISNULL(LAPSED_OPTIONS,0)	,
ISNULL(LAPSED_OPTIONS_EMPLOYEES,0),
ISNULL(OPTIONS_EXERCISED,0)	,
ISNULL(OPTIONS_EXERCISED_EMPLOYEES,0),
ISNULL	(BALANCE_OPTIONS_TO_BE_EXERCISED,0),
ISNULL(OPTIONS_TO_BE_EXERCISED_EMPLOYEES,0) FROM #FINAL_FORM_DATE ORDER BY GRANT_DATE

 INSERT INTO #FINAL_TO_DATE_SRNO SELECT GRANT_DATE,	
PERIOD,
EXERCISE_PRICE,	
ISNULL(TOTAL_GRANTS,0)	,
ISNULL(GRANT_OPTIONS_EMPLOYEES,0)	, 
ISNULL(LAPSED_OPTIONS,0)	,
ISNULL(LAPSED_OPTIONS_EMPLOYEES,0),
ISNULL(OPTIONS_EXERCISED,0)	,
ISNULL(OPTIONS_EXERCISED_EMPLOYEES,0),
ISNULL	(BALANCE_OPTIONS_TO_BE_EXERCISED,0),
ISNULL(OPTIONS_TO_BE_EXERCISED_EMPLOYEES,0) FROM #FINAL_TO_DATE ORDER BY GRANT_DATE
 
 
  CREATE TABLE #FINAL_SUBTRACTION_SRNO 
(SRNO INT ,
GRANT_DATE	DATE,
PERIOD VARCHAR(50),
EXERCISE_PRICE	 FLOAT,
TOTAL_GRANTS NUMERIC(18,0),
GRANT_OPTIONS_EMPLOYEES NUMERIC(18,0),
LAPSED_OPTIONS NUMERIC(18,0),
LAPSED_OPTIONS_EMPLOYEES INT,
OPTIONS_EXERCISED NUMERIC(18,0),
OPTIONS_EXERCISED_EMPLOYEES INT,
BALANCE_OPTIONS_TO_BE_EXERCISED NUMERIC(18,0),
OPTIONS_TO_BE_EXERCISED_EMPLOYEES INT
)
 
 

 
 INSERT INTO #FINAL_SUBTRACTION_SRNO 
 SELECT 	FD.SRNO, FD.GRANT_DATE,
  (SUBSTRING(CONVERT(VARCHAR(11), @FROM_DATE, 113), 4, 8) +' - ' +SUBSTRING(CONVERT(VARCHAR(11), @TO_DATE, 113), 4, 8)) AS PERIOD,
	FD.EXERCISE_PRICE,
	(TD.TOTAL_GRANTS-FD.TOTAL_GRANTS) AS TOTAL_GRANTS,
	(TD.GRANT_OPTIONS_EMPLOYEES-FD.GRANT_OPTIONS_EMPLOYEES) AS GRANT_OPTIONS_EMPLOYEES,
	(TD.LAPSED_OPTIONS-FD.LAPSED_OPTIONS) AS LAPSED_OPTIONS,
	(TD.LAPSED_OPTIONS_EMPLOYEES-FD.LAPSED_OPTIONS_EMPLOYEES) AS LAPSED_OPTIONS_EMPLOYEES,
	(TD.OPTIONS_EXERCISED-FD.OPTIONS_EXERCISED) AS OPTIONS_EXERCISED,
	(TD.OPTIONS_EXERCISED_EMPLOYEES-FD.OPTIONS_EXERCISED_EMPLOYEES) AS OPTIONS_EXERCISED_EMPLOYEES,
	(TD.BALANCE_OPTIONS_TO_BE_EXERCISED-FD.BALANCE_OPTIONS_TO_BE_EXERCISED) AS BALANCE_OPTIONS_TO_BE_EXERCISED,
	(TD.OPTIONS_TO_BE_EXERCISED_EMPLOYEES-FD.OPTIONS_TO_BE_EXERCISED_EMPLOYEES) AS OPTIONS_TO_BE_EXERCISED_EMPLOYEES
FROM #FINAL_FORM_DATE_SRNO FD INNER JOIN #FINAL_TO_DATE_SRNO TD ON FD.SRNO=TD.SRNO 

DECLARE @MAX INT,
		@MIN INT =1
SELECT @MAX = MAX(SRNO) FROM #FINAL_FORM_DATE_SRNO
WHILE @MIN <= @MAX
BEGIN
INSERT INTO #FINAL_COMBI SELECT NULL, GRANT_DATE,	PERIOD	,EXERCISE_PRICE	, TOTAL_GRANTS,	GRANT_OPTIONS_EMPLOYEES	,LAPSED_OPTIONS	,LAPSED_OPTIONS_EMPLOYEES	,OPTIONS_EXERCISED,	OPTIONS_EXERCISED_EMPLOYEES,	BALANCE_OPTIONS_TO_BE_EXERCISED,	OPTIONS_TO_BE_EXERCISED_EMPLOYEES FROM #FINAL_FORM_DATE_SRNO WHERE SRNO = @MIN
INSERT INTO #FINAL_COMBI SELECT 'GROUP_TOTAL', GRANT_DATE,	PERIOD	,EXERCISE_PRICE	, TOTAL_GRANTS,	GRANT_OPTIONS_EMPLOYEES	,LAPSED_OPTIONS	,LAPSED_OPTIONS_EMPLOYEES	,OPTIONS_EXERCISED,	OPTIONS_EXERCISED_EMPLOYEES,	BALANCE_OPTIONS_TO_BE_EXERCISED,	OPTIONS_TO_BE_EXERCISED_EMPLOYEES FROM #FINAL_SUBTRACTION_SRNO WHERE SRNO = @MIN
INSERT INTO #FINAL_COMBI SELECT NULL, GRANT_DATE,	PERIOD	,EXERCISE_PRICE	, TOTAL_GRANTS,	GRANT_OPTIONS_EMPLOYEES	,LAPSED_OPTIONS	,LAPSED_OPTIONS_EMPLOYEES	,OPTIONS_EXERCISED,	OPTIONS_EXERCISED_EMPLOYEES,	BALANCE_OPTIONS_TO_BE_EXERCISED,	OPTIONS_TO_BE_EXERCISED_EMPLOYEES FROM #FINAL_TO_DATE_SRNO WHERE SRNO = @MIN
SET @MIN=@MIN+1

END

update #FINAL_COMBI set BALANCE_OPTIONS_TO_BE_EXERCISED=(TOTAL_GRANTS-LAPSED_OPTIONS-OPTIONS_EXERCISED),OPTIONS_TO_BE_EXERCISED_EMPLOYEES=(GRANT_OPTIONS_EMPLOYEES-LAPSED_OPTIONS_EMPLOYEES-OPTIONS_TO_BE_EXERCISED_EMPLOYEES)
SELECT * FROM #FINAL_COMBI
 
--select @TOTAL_GRANTS_out = sum(TOTAL_GRANTS) from #FINAL_SUBTRACTION_SRNO
--select @GRANT_OPTIONS_EMPLOYEES_out =SUM(GRANT_OPTIONS_EMPLOYEES) from #FINAL_SUBTRACTION_SRNO
-- select @LAPSED_OPTIONS_out = SUM(LAPSED_OPTIONS) from #FINAL_SUBTRACTION_SRNO
-- select @LAPSED_OPTIONS_EMPLOYEES_out = SUM(LAPSED_OPTIONS_EMPLOYEES) from #FINAL_SUBTRACTION_SRNO

END
GO
