/****** Object:  StoredProcedure [dbo].[PROC_CUD_SECURITY_ANSWER]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CUD_SECURITY_ANSWER]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CUD_SECURITY_ANSWER]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CUD_SECURITY_ANSWER]
	@LOGIN_USER_ID VARCHAR(50),
	@TYPE_SECURITY_ANSWERS TYPE_SECURITY_ANSWERS READONLY,
	@Result INT OUT
AS
BEGIN
	
	SET NOCOUNT ON;
	
	BEGIN TRY
	
		BEGIN TRANSACTION
		
		DECLARE @MIN_COUNT INT, @MAX_COUNT INT, @SEC_ID INT, @SEC_QUESTION VARCHAR(255), @SEC_ANSWER VARCHAR(255)
		
		SELECT @MIN_COUNT = MIN(TSA_ID), @MAX_COUNT = MAX(TSA_ID) FROM @TYPE_SECURITY_ANSWERS
		
		WHILE(@MIN_COUNT <= @MAX_COUNT)
		BEGIN
		
			SELECT @SEC_ID = TSA_ID, @SEC_QUESTION = TSA_SECURITY_QUESTION, @SEC_ANSWER = TSA_SECURITY_ANSWER FROM @TYPE_SECURITY_ANSWERS WHERE TSA_ID = @MIN_COUNT
			
			IF EXISTS(SELECT UserId FROM UserSecurityQuestion WHERE (UserId = @LOGIN_USER_ID) AND (SecurityQuestionId = @SEC_ID))
				BEGIN
					UPDATE UserSecurityQuestion SET SecurityAnswer = @SEC_ANSWER WHERE (UserId = @LOGIN_USER_ID) AND (SecurityQuestionId = @SEC_ID)
				END
			ELSE
				BEGIN
					INSERT INTO UserSecurityQuestion (UserId, SecurityQuestionId, SecurityAnswer,IsAuthenticationModeSet, AuthenticationModeID)
					VALUES (@LOGIN_USER_ID, @SEC_ID, @SEC_ANSWER, 1, (SELECT AuthenticationModeID FROM CompanyMaster))
				END
			
			SET @MIN_COUNT = @MIN_COUNT + 1
		END
		DELETE FROM USERSESSIONS WHERE USERID=@LOGIN_USER_ID
		COMMIT TRANSACTION
		
		SET @Result = 1
		
	END TRY	
	BEGIN CATCH	
		
		ROLLBACK TRANSACTION
		
		SET @Result = 0	
			
		SELECT @LOGIN_USER_ID AS ReturnMessage, ERROR_NUMBER() AS ErrorNumber, ERROR_SEVERITY() AS ErrorSeverity, ERROR_STATE() AS ErrorState, ERROR_PROCEDURE() AS ErrorProcedure, 
							ERROR_LINE() AS ErrorLine, ERROR_MESSAGE() AS ErrorMessage;	
													
	END CATCH
	
	RETURN @Result
	
	SET NOCOUNT OFF;	
END
GO
