/****** Object:  StoredProcedure [dbo].[PROC_GET_REPOSITARY_OF_EXERCISE_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_REPOSITARY_OF_EXERCISE_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_REPOSITARY_OF_EXERCISE_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_REPOSITARY_OF_EXERCISE_DETAILS]   
	@EmployeeId NVARCHAR(1000) = NULL,
	@FilePath NVARCHAR(1000) = NULL
AS
BEGIN
	SET NOCOUNT ON;
	
	CREATE TABLE #TEMP_EMPLOYEE
	(
		T_EMPLOYEE_ID NVARCHAR(1000)
	)


	CREATE TABLE #TEMP_EMPLOYEE_DATA
	(
	    EmployeeId VARCHAR(50),UserName VARCHAR(50), ExerciseNo VARCHAR(100), ExerciseDate DATETIME, UnitsExercised NUMERIC(18,9)   
	   ,ExerciseAmount NUMERIC(18,9), TaxAmount NUMERIC(18,9),PaymentMode VARCHAR(500), Payment_Confirmation_Receipt NVARCHAR(500)
	   ,Tax_Confirmation_Receipt NVARCHAR(500), CML_COPY NVARCHAR(500),EXERCISE_FORM NVARCHAR(500)
	   ,ApprovalDate DATETIME, APPROVALSTATUS VARCHAR(100), DownloadUrl NVARCHAR(500)
	   ,isFormGenerate TINYINT,MIT_ID INT,PaymentName VARCHAR(50),Taxtitle VARCHAR(500) null
	)
 
	CREATE table #TEMP_EXERCISE_TAX_RATE
	(
		Tax_Title NVARCHAR (500),BASISOFTAXATION NVARCHAR(500),EXERCISE_NO NVARCHAR (500)
	)

	IF (LEN(@EmployeeId) = 0)
		BEGIN
			INSERT INTO #TEMP_EMPLOYEE (T_EMPLOYEE_ID)
			SELECT EM.EmployeeID FROM EmployeeMaster AS EM
			INNER JOIN UserMaster AS UM ON EM.EmployeeID=UM.EmployeeID
		        WHERE EM.Deleted = '0'    
		END
	ELSE
		BEGIN
			INSERT INTO #TEMP_EMPLOYEE (T_EMPLOYEE_ID)
			SELECT EM.EmployeeID FROM EmployeeMaster AS EM
			INNER JOIN UserMaster AS UM ON EM.EmployeeID=UM.EmployeeID
		        WHERE EM.Deleted = '0' AND (UM.UserID IN (@EmployeeId))     
		END
  

     INSERT INTO #TEMP_EMPLOYEE_DATA(
     EmployeeId, UserName, ExerciseNo, ExerciseDate, UnitsExercised, ExerciseAmount, TaxAmount, PaymentMode, Payment_Confirmation_Receipt,	Tax_Confirmation_Receipt, 
     CML_COPY, EXERCISE_FORM, ApprovalDate, APPROVALSTATUS,DownloadUrl, isFormGenerate, MIT_ID, PaymentName)
     SELECT  * 
     FROM 
        (
		SELECT 
	 UM.EmployeeId, UM.UserName,CONVERT(NVARCHAR(100), SHEO.ExerciseNo) AS 'ExerciseNo',  
	 SHEO.ExerciseDate, CONVERT(NVARCHAR(100), SHEO.ExercisedQuantity)  AS 'UnitsExercised',   
	 CONVERT(NVARCHAR(100), (SHEO.ExercisedQuantity * GR.ExercisePrice))AS 'ExerciseAmount', 
	 ISNULL(SHEO.PerqstPayable,0) AS 'TaxAmount',ISNULL(PM.PayModeName,'') AS 'PaymentMode',     
	 (CASE WHEN (CONVERT(NVARCHAR(100), VW_PCR.IS_UPLOADED) IS NULL OR  CONVERT(NVARCHAR(100), VW_PCR.IS_UPLOADED) = '0')  
	 THEN 'NA' ELSE @FilePath+'Payment_Confirmation_Receipt\'+ CONVERT(NVARCHAR(100), SHEO.ExerciseNo) + '_' + UM.UserId +'_ConfirmReceipt.pdf' END) AS Payment_Confirmation_Receipt,  
	 (CASE WHEN (CONVERT(NVARCHAR(100), VW_TCR.IS_UPLOADED) IS NULL OR  CONVERT(NVARCHAR(100), VW_TCR.IS_UPLOADED) = '0')   
	 THEN 'NA' ELSE @FilePath+'Tax_Confirmation_Receipt\'+ CONVERT(NVARCHAR(100), SHEO.ExerciseNo) + '_' + UM.UserId +'_ConfirmReceipt.pdf' END) AS Tax_Confirmation_Receipt,  
	 (CASE WHEN (CONVERT(NVARCHAR(100), VW_CML.IS_UPLOADED) IS NULL OR  CONVERT(NVARCHAR(100), VW_CML.IS_UPLOADED) = '0')   
	 THEN 'NA' ELSE @FilePath+'Demat_CML_Copy\'+ CONVERT(NVARCHAR(100), SHEO.ExerciseNo) + '_' + UM.UserId +'_CmlCopy.pdf' END) AS CML_COPY,
	 (CASE WHEN (CONVERT(NVARCHAR(100), VW_EXFORM.IS_UPLOADED) =1 and VW_EXFORM.DOCUMENT_NAME='EXERCISE FORM')   
	 THEN @FilePath+'EXERCISE_FORM\'+DB_NAME(db_id()) + '_' + UM.UserId +'_'+ CONVERT(NVARCHAR(100), SHEO.ExerciseNo) +'.pdf' 
		WHEN (CONVERT(NVARCHAR(100), VW_Undertaking_EXFORM.IS_UPLOADED) =1 AND VW_Undertaking_EXFORM.DOCUMENT_NAME='UNDERTAKING')   
		THEN  @FilePath+'UNDERTAKING\'+DB_NAME(db_id()) + '_' + UM.UserId +'_'+ CONVERT(NVARCHAR(100), SHEO.ExerciseNo) +'.pdf'  
		ELSE 'NA' END) AS EXERCISE_FORM,  
		EDTA.ApprovalDate,
	 CASE WHEN EDTA.APPROVALSTATUS=1 THEN 'Approved'  ELSE 'Disapproved' END   
		 AS APPROVALSTATUS
	 ,CONCAT(REPLACE((SELECT SiteUrl FROM companymaster),'Login.aspx',''),'Download.aspx?Path=') AS DownloadUrl,  
	 SHEO.isFormGenerate,SHEO.MIT_ID,SHEO.PaymentMode As PaymentName  
		FROM 
		ShExercisedOptions AS SHEO 
		LEFT OUTER JOIN GRANTLEG AS GL ON GL.ID = SHEO.GrantLegSerialNumber
		LEFT OUTER JOIN GRANTREGISTRATION AS GR ON GR.GrantRegistrationId = GL.GrantRegistrationId
		LEFT OUTER JOIN UserMaster AS UM ON UM.EmployeeId = SHEO.EmployeeID
		LEFT OUTER JOIN PaymentMaster AS PM ON PM.PaymentMode=SHEO.PaymentMode
	        LEFT OUTER JOIN EXERCISE_DETAILS_TRANSACTION_APPROVAL AS EDTA ON EDTA.EXERCISE_NO = CONVERT(NVARCHAR(100),SHEO.ExerciseNo)  
	        LEFT OUTER JOIN VW_REPOSITARY_OF_EXERCISE_DETAILS AS VW_PCR ON VW_PCR.Exercise_NO = CONVERT(NVARCHAR(100),SHEO.ExerciseNo) AND VW_PCR.DOCUMENT_NAME = 'PAYMENT CONFIRMATION RECEIPT'  
	        LEFT OUTER JOIN VW_REPOSITARY_OF_EXERCISE_DETAILS AS VW_TCR ON VW_TCR.Exercise_NO = CONVERT(NVARCHAR(100),SHEO.ExerciseNo) AND VW_TCR.DOCUMENT_NAME = 'TAX CONFIRMATION RECEIPT'  
	        LEFT OUTER JOIN VW_REPOSITARY_OF_EXERCISE_DETAILS AS VW_CML ON VW_CML.Exercise_NO = CONVERT(NVARCHAR(100),SHEO.ExerciseNo) AND VW_CML.DOCUMENT_NAME = 'CML COPY'  
	        LEFT OUTER JOIN VW_REPOSITARY_OF_EXERCISE_DETAILS AS VW_EXFORM ON VW_EXFORM.Exercise_NO = CONVERT(NVARCHAR(100), SHEO.ExerciseNo) AND VW_EXFORM.DOCUMENT_NAME = 'EXERCISE FORM'   
	        LEFT OUTER JOIN VW_REPOSITARY_OF_EXERCISE_DETAILS AS VW_Undertaking_EXFORM ON  VW_Undertaking_EXFORM.Exercise_NO = CONVERT(NVARCHAR(100), SHEO.ExerciseNo)AND VW_Undertaking_EXFORM.DOCUMENT_NAME = 'UNDERTAKING'  
		INNER JOIN #TEMP_EMPLOYEE AS TEMP ON TEMP.T_EMPLOYEE_ID = UM.EmployeeId
		
	UNION ALL
	
		SELECT 
	        UM.EmployeeId, UM.UserName, EXD.ExerciseNo AS 'Exercise No',EXD.ExercisedDate as ExerciseDate ,  
	        EXD.ExercisedQuantity AS 'Units Exercised', (EXD.ExercisedQuantity * GR.ExercisePrice) AS 'Exercise Amount',  
	        ISNULL(EXD.PerqstPayable,0) AS 'TaxAmount', ISNULL(PM.PayModeName,'') AS 'Payment Mode',     
		(CASE WHEN (CONVERT(NVARCHAR(100), VW_PCR.IS_UPLOADED) IS NULL OR  CONVERT(NVARCHAR(100), VW_PCR.IS_UPLOADED) = '0') THEN 'NA' ELSE @FilePath+'Payment_Confirmation_Receipt\'+ CONVERT(NVARCHAR(100), EXD.ExerciseNo) + '_' + UM.UserId +'_ConfirmReceipt.pdf' END) AS Payment_Confirmation_Receipt,
		(CASE WHEN (CONVERT(NVARCHAR(100), VW_TCR.IS_UPLOADED) IS NULL OR  CONVERT(NVARCHAR(100), VW_TCR.IS_UPLOADED) = '0') THEN 'NA' ELSE @FilePath+'Tax_Confirmation_Receipt\'+ CONVERT(NVARCHAR(100), EXD.ExerciseNo) + '_' + UM.UserId +'_ConfirmReceipt.pdf' END) AS Tax_Confirmation_Receipt,
		(CASE WHEN (CONVERT(NVARCHAR(100), VW_CML.IS_UPLOADED) IS NULL OR  CONVERT(NVARCHAR(100), VW_CML.IS_UPLOADED) = '0') THEN 'NA' ELSE @FilePath+'Demat_CML_Copy\'+ CONVERT(NVARCHAR(100), EXD.ExerciseNo) + '_' + UM.UserId +'_CmlCopy.pdf' END) AS CML_COPY,
	        (CASE WHEN (CONVERT(NVARCHAR(100), VW_EXFORM.IS_UPLOADED) =1 and VW_EXFORM.DOCUMENT_NAME='EXERCISE FORM') THEN @FilePath+'EXERCISE_FORM\'+DB_NAME(db_id()) + '_' + UM.UserId +'_'+ CONVERT(NVARCHAR(100), EXD.ExerciseNo) +'.pdf' WHEN (CONVERT(NVARCHAR(100), VW_Undertaking_EXFORM.IS_UPLOADED) =1 and VW_Undertaking_EXFORM.DOCUMENT_NAME='UNDERTAKING') THEN  @FilePath+'UNDERTAKING\'+DB_NAME(db_id()) + '_' + UM.UserId +'_'+ CONVERT(NVARCHAR(100), EXD.ExerciseNo) +'.pdf' ELSE 'NA' END) AS EXERCISE_FORM ,  
		EDTA.ApprovalDate,
	        CASE WHEN EDTA.APPROVALSTATUS=1 THEN 'Approved' ELSE 'Disapproved' END AS APPROVALSTATUS,  
	        CONCAT(REPLACE((SELECT SiteUrl FROM companymaster),'Login.aspx',''),'Download.aspx?Path=') AS DownloadUrl,  
	        EXD.isFormGenerate,EXD.MIT_ID,EXD.PaymentMode As PaymentName 
		FROM 
		Exercised AS EXD 
		LEFT OUTER JOIN GRANTLEG AS GL ON GL.ID = EXD.GrantLegSerialNumber 
		LEFT OUTER JOIN GrantOptions AS GOP ON GOP.GrantOptionId = GL.GrantOptionId
		LEFT OUTER JOIN GRANTREGISTRATION AS GR ON GR.GrantRegistrationId = GL.GrantRegistrationId
		LEFT OUTER JOIN UserMaster AS UM ON UM.EmployeeId = GOP.EmployeeID
		LEFT OUTER JOIN PaymentMaster AS PM ON PM.PaymentMode=EXD.PaymentMode
	        LEFT OUTER JOIN EXERCISE_DETAILS_TRANSACTION_APPROVAL AS EDTA ON EDTA.EXERCISE_NO = CONVERT(NVARCHAR(100),EXD.ExerciseNo)  
	 LEFT OUTER JOIN VW_REPOSITARY_OF_EXERCISE_DETAILS AS VW_PCR ON VW_PCR.Exercise_NO = CONVERT(NVARCHAR(100),EXD.ExerciseNo) AND VW_PCR.DOCUMENT_NAME = 'PAYMENT CONFIRMATION RECEIPT'  
	 LEFT OUTER JOIN VW_REPOSITARY_OF_EXERCISE_DETAILS AS VW_TCR ON VW_TCR.Exercise_NO = CONVERT(NVARCHAR(100),EXD.ExerciseNo) AND VW_TCR.DOCUMENT_NAME = 'TAX CONFIRMATION RECEIPT'  
	 LEFT OUTER JOIN VW_REPOSITARY_OF_EXERCISE_DETAILS AS VW_CML ON VW_CML.Exercise_NO = CONVERT(NVARCHAR(100),EXD.ExerciseNo) AND VW_CML.DOCUMENT_NAME = 'CML COPY'  
	 LEFT OUTER JOIN VW_REPOSITARY_OF_EXERCISE_DETAILS AS VW_EXFORM ON VW_EXFORM.Exercise_NO = CONVERT(NVARCHAR(100), EXD.ExerciseNo) AND VW_EXFORM.DOCUMENT_NAME = 'EXERCISE FORM'  
	 LEFT OUTER JOIN VW_REPOSITARY_OF_EXERCISE_DETAILS AS VW_Undertaking_EXFORM ON VW_Undertaking_EXFORM.Exercise_NO = CONVERT(NVARCHAR(100), EXD.ExerciseNo) AND VW_Undertaking_EXFORM.DOCUMENT_NAME = 'UNDERTAKING'  
		INNER JOIN #TEMP_EMPLOYEE AS TEMP ON TEMP.T_EMPLOYEE_ID = UM.EmployeeId				
	)x
	ORDER BY X.ExerciseNo DESC

        INSERT INTO #TEMP_EXERCISE_TAX_RATE ( Tax_Title,BASISOFTAXATION,EXERCISE_NO)	
	(SELECT Tax_Title,BASISOFTAXATION,EXERCISE_NO FROM EXERCISE_TAXRATE_DETAILS)

	UPDATE TED
	SET TED.TaxTitle = CASE WHEN  TEAR.Tax_Title = 'NA' THEN TEAR.BASISOFTAXATION ELSE '' END
	FROM #TEMP_EXERCISE_TAX_RATE AS TEAR INNER JOIN #TEMP_EMPLOYEE_DATA AS TED on TED.ExerciseNo = TEAR.EXERCISE_NO

	SELECT * FROM #TEMP_EMPLOYEE_DATA

	DROP TABLE #TEMP_EMPLOYEE_DATA
	DROP TABLE #TEMP_EXERCISE_TAX_RATE

        EXEC GET_PAGEWISE_FIELD_DETAILS 'MyDocs'   
	SET NOCOUNT OFF;
END
GO
