/****** Object:  StoredProcedure [dbo].[PROC_GET_EMPLOYEE_INSTRUMENT_LIST]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_EMPLOYEE_INSTRUMENT_LIST]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_EMPLOYEE_INSTRUMENT_LIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_EMPLOYEE_INSTRUMENT_LIST]
(
 @LoginID NVARCHAR(100) 
)
AS
BEGIN
	   SET NOCOUNT ON;			
		
	   SELECT MIT.MIT_ID, CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'') != '' THEN CIM.INS_DISPLY_NAME ELSE MIT.INSTRUMENT_NAME END AS INSTRUMENT_NAME 
	   FROM MST_INSTRUMENT_TYPE MIT INNER JOIN COMPANY_INSTRUMENT_MAPPING CIM ON MIT.MIT_ID = CIM.MIT_ID
	   WHERE MIT.IS_ACTIVE = 1 And IS_ENABLED = 1 AND MIT.MIT_ID IN (SELECT * FROM dbo.FN_GET_EMPLOYEE_INSTRUMENT_LIST( @LoginID ))
		
	   SET NOCOUNT OFF;	
END
GO
