/****** Object:  StoredProcedure [dbo].[PROC_SAVE_SCHEMEAUTOEXERCISE]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SAVE_SCHEMEAUTOEXERCISE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SAVE_SCHEMEAUTOEXERCISE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SAVE_SCHEMEAUTOEXERCISE]
	@APPROVALID VARCHAR(20), @SCHEMEID VARCHAR(50), @EXERCISE_ON NVARCHAR(100), @EXERCISE_AFTER_DAYS INT, 
	@COUNTRY_ID NVARCHAR(MAX), @IS_EXCEPTION_ENABLED TINYINT, @EXECPTION_FOR NVARCHAR(100), @EXECPTION_LIST NVARCHAR(MAX), 
	@CREATED_BY NVARCHAR(100), @CREATED_ON DATETIME, @UPDATED_BY NVARCHAR(100), @UPDATED_ON DATETIME,
	@IS_MAIL_ENABLE TINYINT, @MAIL_BEFORE_DAYS INT, @MAIL_REMINDER_DAYS INT,
	@CALCULATE_TAX NVARCHAR(200), @CALCUALTE_TAX_PRIOR_DAYS INT, @MESSAGE_OUT INT OUTPUT
AS
BEGIN
	
	SET NOCOUNT ON;		
	
	BEGIN TRY			
	
		BEGIN TRANSACTION		    
	
		INSERT INTO AUTO_EXERCISE_CONFIG
		(
			SchemeId, EXERCISE_ON, EXERCISE_AFTER_DAYS, COUNTRY_ID, IS_EXCEPTION_ENABLED, EXECPTION_FOR, EXECPTION_LIST, 
			CALCULATE_TAX, CALCUALTE_TAX_PRIOR_DAYS, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON, IS_MAIL_ENABLE, MAIL_BEFORE_DAYS,
			MAIL_REMINDER_DAYS 
		)
		VALUES
		(
			@SchemeId, @EXERCISE_ON, @EXERCISE_AFTER_DAYS, @COUNTRY_ID, @IS_EXCEPTION_ENABLED, @EXECPTION_FOR, @EXECPTION_LIST,
			@CALCULATE_TAX, @CALCUALTE_TAX_PRIOR_DAYS, @CREATED_BY, @CREATED_ON, @UPDATED_BY, @UPDATED_ON, 
			@IS_MAIL_ENABLE, @MAIL_BEFORE_DAYS, @MAIL_REMINDER_DAYS 
		 )
		
		SET @MESSAGE_OUT =(SELECT IDENT_CURRENT('AUTO_EXERCISE_CONFIG'))			
		
		SELECT @MESSAGE_OUT,@SCHEMEID
		
		COMMIT TRANSACTION
	
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION	
	END CATCH
		
	SET NOCOUNT OFF;					
END
GO
