/****** Object:  StoredProcedure [dbo].[PROC_ADD_TEMPLATE_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_ADD_TEMPLATE_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADD_TEMPLATE_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[PROC_ADD_TEMPLATE_DETAILS]    
(    
 @TEMPLATE_DETAILS dbo.TYPE_TEMPLATE_TABLE READONLY,    
 @MAIP_ID  VARCHAR (100) = NULL,    
 @TEMPLATE_NAME VARCHAR (100) = NULL,     
 @MIT_ID   INT,    
 @EmployeeID     varchar(50),    
 @RETVALUE INT OUTPUT     
)    
AS    
BEGIN    
DECLARE @MaxMATC_ID INT    
	INSERT INTO MST_ADDIN_TEMPLATE_CONFIG (MAIP_ID,TEMPLATE_NAME,MIT_ID,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON)    
	VALUES (@MAIP_ID,@TEMPLATE_NAME,@MIT_ID,@EmployeeID,GETDATE(),@EmployeeID,GETDATE())    
	select @MaxMATC_ID = MAX(MATC_ID) from MST_ADDIN_TEMPLATE_CONFIG    
	INSERT INTO MST_ADDIN_TEMPLATE_CONFIG_DETAILS (MATC_ID,Column_Type,MAIP_ID,COLUMN_NAME,HEADER_TEXT,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON)    
	SELECT @MaxMATC_ID,Column_Type,MAIP_ID,COLUMN_NAME,HEADER_TEXT,@EmployeeID,GETDATE(),@EmployeeID,GETDATE() from @TEMPLATE_DETAILS          
	SET @retValue = @@ROWCOUNT;    
END 
GO
