/****** Object:  StoredProcedure [dbo].[PROC_GETPUP_PARAMDETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GETPUP_PARAMDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GETPUP_PARAMDETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GETPUP_PARAMDETAILS]
AS
BEGIN
	SELECT IS_PREQ_TAX_CALN_REQUIRED, IS_PERQ_VAL_CALN_REQUIRED FROM PUP_PARAMETER
END
GO
