/****** Object:  StoredProcedure [dbo].[PROC_GET_GROUPTYPE_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_GROUPTYPE_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_GROUPTYPE_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_GROUPTYPE_DETAILS]
(
	@PAGENAME	VARCHAR (100),
	@MIT_ID		INT = NULL,
	@IS_TRADING INT=NULL
)
AS
BEGIN
	SET NOCOUNT ON;
	
	IF(UPPER(@PAGENAME)='FMV')
	BEGIN
			/*  TRANSCATION DATE */
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='CONSIDER TRANSCATION DATE'  AND MCC.CODE_NAME NOT IN('Last Travel Date','ALL')
			/*  PRICECONSIDERATIONDAY */	
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='CONSIDER PRICE DAY'	 
			/*  STOCKEXCHANGE */
			DECLARE @STOCKEXCHAGE_ID NVARCHAR(250)
			SELECT @STOCKEXCHAGE_ID=MSE_ID From COMPANY_INSTRUMENT_MAPPING
			Where MIT_ID=@MIT_ID
			SELECT STOCK_EXCHANGE_SYMBOL,STOCK_EXCHANGE_NAME,MSE_ID FROM MST_STOCK_EXCHANGE
			WHERE IS_ACTIVE=1 And  MSE_ID in (SELECT Item FROM dbo.FN_SPLIT_STRING(@STOCKEXCHAGE_ID,','))
			/*  TRADINGVOLUME */	
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='CONSIDER TRADING VOLUME'
			/*  STOCKPRICE */	
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='CONSIDER STOCK PRICE'
	END
	ELSE IF(UPPER(@PAGENAME)='SAR')
	BEGIN
	        /*  TRANSCATION DATE */
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='CONSIDER TRANSCATION DATE' AND MCC.CODE_NAME NOT IN ('Last Travel Date','All')
			/*  PRICECONSIDERATIONDAY */	
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='CONSIDER PRICE DAY'	 
			/*  STOCKEXCHANGE */
			DECLARE @STOCKEXCHAGE_ID_COMP NVARCHAR(250)
			SELECT @STOCKEXCHAGE_ID_COMP=MSE_ID From COMPANY_INSTRUMENT_MAPPING
			WHERE MIT_ID=@MIT_ID			
			SELECT STOCK_EXCHANGE_SYMBOL,STOCK_EXCHANGE_NAME,MSE_ID FROM MST_STOCK_EXCHANGE
			WHERE IS_ACTIVE=1 And  MSE_ID in (SELECT Item FROM dbo.FN_SPLIT_STRING(@STOCKEXCHAGE_ID_COMP,','))
			/*  TRADINGVOLUME */	
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='CONSIDER TRADING VOLUME'
			/*  STOCKPRICE */	
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='CONSIDER STOCK PRICE'
			/*  SAR COMPARATIVE FIELDS */	
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='SAR COMPARATIVE FIELDS'			
			/*  BASED ON TRANSCATION FIELDS */
			SELECT FFC_ID,FORNULA_NAME AS FORMULA_NAME FROM FMV_FORMULA_CONFIG WHERE SAR_FORMULA='BasedOnTransactionDate' ORDER BY FORNULA_NAME
			/*BASED ON TRADING AND NON-TRADING*/
			SELECT FFC_ID,FORNULA_NAME AS FORMULA_NAME FROM FMV_FORMULA_CONFIG WHERE SAR_FORMULA='BasedOnTransactionDate' AND IS_TRADINGDAYS=@IS_TRADING ORDER BY FORNULA_NAME

	END
	ELSE IF(UPPER(@PAGENAME)='PERQUISITEVALUE')
	BEGIN
			/*  Event Of incidence */
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='CONSIDER TRANSCATION DATE' AND mcc.CODE_NAME NOT IN('Last Travel Date','ALL')
	
	END
	ELSE IF(UPPER(@PAGENAME)='APPRECIATION')
	BEGIN
	        /*  TRANSCATION DATE */		   
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='CONSIDER TRANSCATION DATE' AND MCC.Code_Name NOT IN ('Allotment Date','Last Travel Date','All')
	
			/*  PRICECONSIDERATIONDAY */	
			SELECT MCC_ID , Code_Name FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='CONSIDER PRICE DAY'	 
			/*  STOCKEXCHANGE */			
			DECLARE @STOCKEXCHAGE_ID_APPR NVARCHAR(250)
			SELECT @STOCKEXCHAGE_ID_APPR=MSE_ID From COMPANY_INSTRUMENT_MAPPING
			Where MIT_ID=@MIT_ID			
			SELECT STOCK_EXCHANGE_SYMBOL,STOCK_EXCHANGE_NAME,MSE_ID FROM MST_STOCK_EXCHANGE
			WHERE IS_ACTIVE=1 And  MSE_ID in (SELECT Item FROM dbo.FN_SPLIT_STRING(@STOCKEXCHAGE_ID_APPR,',')) 				
			
	END
END

GO
