/****** Object:  StoredProcedure [dbo].[PROC_GET_SAR_SETTELEMENT_PRICCE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_SAR_SETTELEMENT_PRICCE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_SAR_SETTELEMENT_PRICCE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_SAR_SETTELEMENT_PRICCE]
(	
	@EMPLOYEE_SAR_DETAILS dbo.TYPE_SAR_SETTLEMENT_PRICE READONLY,
	@CalledFrom VARCHAR(50) = NULL	
)	
AS
BEGIN
	
	SET NOCOUNT ON;		
  
	DECLARE @INSTRUMENT_ID BIGINT, @EMPLOYEE_ID VARCHAR(50), @GRANTOPTIONID VARCHAR(50), @GRANTDATE VARCHAR(200), @VESTINGDATE VARCHAR(200), 
		    @EXERCISE_DATE  DATETIME, @MN_VALUE INT, @MX_VALUE INT, @SCHEME_ID NVARCHAR(100), @EXERCISE_PRICE NUMERIC(18, 9), @TransactionDateId INT,
		    @FormulaType NVARCHAR(50),@GRANTREGISTRATIONID NVARCHAR(50),@SAR_UPLD_VALUE NUMERIC(18,9)
		   
	CREATE TABLE #TEMP_SAR_EMPLOYEE_DETAILS
	(  
	   ID INT IDENTITY(1,1) NOT NULL,INSTRUMENT_ID	BIGINT ,EMPLOYEE_ID  VARCHAR(50) ,GRANTDATE  VARCHAR(200) ,VESTINGDATE VARCHAR(200), EXERCISE_DATE  DATETIME, EXERCISE_PRICE NUMERIC(18, 9), SCHEME_ID NVARCHAR(100), GRANTOPTIONID NVARCHAR(100)
	) 
         
    CREATE TABLE #TEMP_SAR_SETTLEMENT_FINAL_DETAILS
    (  
       SARID INT IDENTITY(1,1) NOT NULL, ID INT, INSTRUMENT_ID BIGINT, EMPLOYEE_ID  VARCHAR(50), GRANTDATE  VARCHAR(200), VESTINGDATE VARCHAR(200), EXERCISE_DATE  DATETIME,SAR_SETTLEMENT_VALUE  DECIMAL(18,4) NULL,TAXFLAG CHAR(1) NULL, EXERCISE_PRICE NUMERIC(18, 9), SCHEME_ID NVARCHAR(100), GRANTOPTIONID NVARCHAR(100), TAXFLAG_HEADER CHAR(1) NULL
    )       
 
    INSERT INTO #TEMP_SAR_EMPLOYEE_DETAILS 
	(
	   INSTRUMENT_ID, EMPLOYEE_ID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, EXERCISE_PRICE, SCHEME_ID, GRANTOPTIONID 
	)
	SELECT  
		INSTRUMENT_ID, EMPLOYEE_ID, GRANTDATE,VESTINGDATE, EXERCISE_DATE, EXERCISE_PRICE, SCHEME_ID, GRANTOPTIONID
	FROM 
		@EMPLOYEE_SAR_DETAILS
	
	BEGIN TRY
 
		SELECT @MN_VALUE = MIN(ID ),@MX_VALUE = MAX(ID) FROM #TEMP_SAR_EMPLOYEE_DETAILS  	
  
		WHILE(@MN_VALUE <= @MX_VALUE)
		BEGIN
			SELECT 
				@INSTRUMENT_ID = INSTRUMENT_ID, @EMPLOYEE_ID = EMPLOYEE_ID, @GRANTDATE = GRANTDATE, @VESTINGDATE=VESTINGDATE, 
				@EXERCISE_DATE = EXERCISE_DATE, @EXERCISE_PRICE = EXERCISE_PRICE, @SCHEME_ID = SCHEME_ID, @GRANTOPTIONID = GRANTOPTIONID
			FROM 
				#TEMP_SAR_EMPLOYEE_DETAILS  
			WHERE 
				ID = @MN_VALUE
				SELECT @GRANTREGISTRATIONID = GrantRegistrationId FROM GrantOptions WHERE GrantOptionId = @GRANTOPTIONID
		
			SET @FormulaType = ''
			    SET @FormulaType = ''
		
			   SELECT TOP 1 @TransactionDateId = TransactionDateId, @FormulaType = FormulaType FROM
			 (		     		     		     
				SELECT 
					TOP 1 TRANS_DATE_ID AS TransactionDateId , 'SAR_COMPARATIVE_FORMULA' AS FormulaType
				FROM 
					SAR_COMPARE_FORMULA_CNFG
				WHERE 
					SCHEME_ID = @SCHEME_ID AND MIT_ID = @INSTRUMENT_ID
					AND ((CONVERT(DATE, APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(APPLICABLE_TO_DATE, GETDATE())) >=  CONVERT(DATE,@EXERCISE_DATE)))	
					AND IS_TRADINGDAYS = 1 
					--AND IS_FORMULA_APPLIED = 1
				ORDER BY SCFC_ID DESC

				UNION ALL
					
				SELECT 
					TOP 1 TRANS_DATE_ID AS TransactionDateId , CASE SAR_FORMULA WHEN 'SameAsFMV' THEN 'SAR_SAMEASFMV_FORMULA' WHEN 'BasedOnTransactionDate' THEN 'SAR_TRANSACTIONDATE_FORMULA' ELSE '' END AS FormulaType
				FROM 
					FMV_FORMULA_CONFIG				
				WHERE 
					SCHEME_ID = @SCHEME_ID AND FORMULA_CONFIG_TYPE = 'SARFMV' AND MIT_ID = @INSTRUMENT_ID
					AND ((CONVERT(DATE, APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(APPLICABLE_TO_DATE, GETDATE())) >=  CONVERT(DATE,@EXERCISE_DATE)))	
					AND ISNULL(IS_TRADINGDAYS,0) = CASE SAR_FORMULA WHEN 'SameAsFMV' THEN ISNULL(IS_TRADINGDAYS,0) ELSE 1 END 
					--AND IS_FORMULA_APPLIED = 1
				ORDER BY 
					FFC_ID DESC
					
				UNION ALL
	
				-- FOR MASS UPLOAD --
			    SELECT TOP 1 SSPM_ID AS TransactionDateId , 'MASSUPLOAD' AS FormulaType
				FROM 
				    SAR_SETTLEMENT_PRICE_MASSUPLOAD
			    WHERE 
					SCHEME_ID = @SCHEME_ID  AND MIT_ID = @INSTRUMENT_ID
					AND ((CONVERT(DATE, APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(APPLICABLE_TO_DATE, GETDATE())) >=  CONVERT(DATE,@EXERCISE_DATE)))	
					AND GRANTREGISTRATIONID = @GRANTREGISTRATIONID	
					--AND IS_FORMULA_APPLIED = 1
				ORDER BY 
					SSPM_ID DESC
			) AS SARFormulaType
		
			IF(UPPER(@FormulaType) = 'SAR_SAMEASFMV_FORMULA')
			BEGIN
	           
				DECLARE @TYPE_FMV_VALUE dbo.TYPE_FMV_VALUE
				DELETE  FROM @TYPE_FMV_VALUE

				INSERT INTO @TYPE_FMV_VALUE 			 
				SELECT 
					INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, 'T' 
				FROM 
					#TEMP_SAR_EMPLOYEE_DETAILS 
				WHERE 
					ID = @MN_VALUE
				
				EXEC PROC_GET_FMV_VALUE @EMPLOYEE_DETAILS = @TYPE_FMV_VALUE, @CalledFrom = 'SSRSReport'

				INSERT INTO #TEMP_SAR_SETTLEMENT_FINAL_DETAILS 
				(
					ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, SAR_SETTLEMENT_VALUE, TAXFLAG, 
					EXERCISE_PRICE, SCHEME_ID, GRANTOPTIONID,TAXFLAG_HEADER
				)
				SELECT 
					ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, FMV_VALUE, TAXFLAG, 
					@EXERCISE_PRICE, @SCHEME_ID, GRANTOPTIONID,TAXFLAG 
				FROM 
					TEMP_FMV_DETAILS

				IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_FMV_DETAILS')
					DROP TABLE TEMP_FMV_DETAILS
				 
			END
			ELSE IF(UPPER(@FormulaType) = 'SAR_TRANSACTIONDATE_FORMULA')
			BEGIN
		       
				DECLARE @TYPE_SAR_TRANSACTION_DATE dbo.TYPE_SAR_TRANSACTION_DATE
				DELETE  FROM @TYPE_SAR_TRANSACTION_DATE

				INSERT INTO @TYPE_SAR_TRANSACTION_DATE		 
				SELECT 
					INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, NULL 
				FROM 
					#TEMP_SAR_EMPLOYEE_DETAILS 
				WHERE 
					ID = @MN_VALUE
				
				EXEC PROC_GET_SAR_TRANS_DATE_VALUE @EMPLOYEE_TRANS_DETAILS = @TYPE_SAR_TRANSACTION_DATE, @CalledFrom = 'SSRSReport'

				INSERT INTO #TEMP_SAR_SETTLEMENT_FINAL_DETAILS 
				(
					ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, SAR_SETTLEMENT_VALUE, TAXFLAG, 
					EXERCISE_PRICE, SCHEME_ID, GRANTOPTIONID,TAXFLAG_HEADER
				)
				SELECT 
					ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, TRANS_DATE_VALUE, TAXFLAG, 
					@EXERCISE_PRICE, @SCHEME_ID, GRANTOPTIONID,TAXFLAG 
				FROM 
					TEMP_TRANS_DATE_DETAILS

				IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_TRANS_DATE_DETAILS')
					DROP TABLE TEMP_TRANS_DATE_DETAILS
					
			END 
			ELSE IF(UPPER(@FormulaType) = 'SAR_COMPARATIVE_FORMULA')
			BEGIN
				DECLARE @TYPE_SAR_COMPARATIVE_VALUE dbo.TYPE_SAR_COMPARATIVE_VALUE				
				DELETE FROM @TYPE_SAR_COMPARATIVE_VALUE

				INSERT INTO @TYPE_SAR_COMPARATIVE_VALUE 
				SELECT 
					INSTRUMENT_ID, EMPLOYEE_ID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, EXERCISE_PRICE, SCHEME_ID, GRANTOPTIONID
				FROM 
					#TEMP_SAR_EMPLOYEE_DETAILS 
				WHERE 
					ID = @MN_VALUE

				EXEC PROC_GET_SAR_COMPARATIVE_VALUE @TYPE_SAR_COMPARATIVE_VALUE, @CalledFrom = 'SSRSReport'		

				INSERT INTO #TEMP_SAR_SETTLEMENT_FINAL_DETAILS 
				(
					ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, SAR_SETTLEMENT_VALUE, TAXFLAG, 
					EXERCISE_PRICE, SCHEME_ID, GRANTOPTIONID,TAXFLAG_HEADER
				)			
				SELECT 
					ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, SAR_SETTLEMENT_VALUE, TAXFLAG, 
					EXERCISE_PRICE, SCHEME_ID, GRANTOPTIONID,TAXFLAG
				FROM 
					TEMP_SAR_SETTLEMENT_DETAILS

				IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_SAR_SETTLEMENT_DETAILS')
					DROP TABLE TEMP_SAR_SETTLEMENT_DETAILS
			END
		
		    ELSE IF(UPPER(@FormulaType) = 'MASSUPLOAD')
		    BEGIN 
		      
		        SET @SAR_UPLD_VALUE = 0
		        SELECT TOP 1 @SAR_UPLD_VALUE = ISNULL(SAR_PRICE,0)
				FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD
			    WHERE 
			    SCHEME_ID = @SCHEME_ID  AND MIT_ID = @INSTRUMENT_ID
			    AND ((CONVERT(DATE, APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(APPLICABLE_TO_DATE, GETDATE())) >=  CONVERT(DATE,@EXERCISE_DATE)))	
				AND GRANTREGISTRATIONID = @GRANTREGISTRATIONID	
				--AND IS_FORMULA_APPLIED = 1
				ORDER BY 
					SSPM_ID DESC

		        INSERT INTO #TEMP_SAR_SETTLEMENT_FINAL_DETAILS 
				(
					 ID, INSTRUMENT_ID   ,EMPLOYEE_ID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, SAR_SETTLEMENT_VALUE, TAXFLAG, 
					EXERCISE_PRICE, SCHEME_ID, GRANTOPTIONID,TAXFLAG_HEADER
				)
				VALUES( 0,@INSTRUMENT_ID,@EMPLOYEE_ID,@GRANTDATE,@VESTINGDATE,@EXERCISE_DATE,@SAR_UPLD_VALUE ,'A' , @EXERCISE_PRICE,
				@SCHEME_ID,@GRANTOPTIONID,'A')		
		    END
		    ELSE 
			BEGIN
				INSERT INTO #TEMP_SAR_SETTLEMENT_FINAL_DETAILS 
				(
					ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTDATE, VESTINGDATE, EXERCISE_DATE, SAR_SETTLEMENT_VALUE, TAXFLAG, 
					EXERCISE_PRICE, SCHEME_ID, GRANTOPTIONID,TAXFLAG_HEADER
				)
				VALUES
				(
					0, @INSTRUMENT_ID, @EMPLOYEE_ID, @GRANTDATE, @VESTINGDATE, @EXERCISE_DATE, NULL, NULL, 
					@EXERCISE_PRICE, @SCHEME_ID, @GRANTOPTIONID,NULL
				)
			END
				
			SET @MN_VALUE = @MN_VALUE + 1	
       
		END
		
		IF(ISNULL(@CalledFrom,'') <> 'SSRSReport')	  
		BEGIN
		   SELECT SARID,ID,INSTRUMENT_ID, EMPLOYEE_ID,GRANTDATE,VESTINGDATE,EXERCISE_DATE,dbo.FN_GET_COMPANY_DECIMAL_SETTING(SAR_SETTLEMENT_VALUE,'FMV')AS SAR_SETTLEMENT_VALUE,TAXFLAG,EXERCISE_PRICE,SCHEME_ID,GRANTOPTIONID,TAXFLAG_HEADER  
           FROM #TEMP_SAR_SETTLEMENT_FINAL_DETAILS
		END

		IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_SAR_SETTLEMENT_FINAL_DETAILS')
		   DROP TABLE TEMP_SAR_SETTLEMENT_FINAL_DETAILS

		SELECT SARID,ID,INSTRUMENT_ID, EMPLOYEE_ID,GRANTDATE,VESTINGDATE,EXERCISE_DATE,dbo.FN_GET_COMPANY_DECIMAL_SETTING(SAR_SETTLEMENT_VALUE,'FMV')AS SAR_SETTLEMENT_VALUE,TAXFLAG,EXERCISE_PRICE,SCHEME_ID,GRANTOPTIONID 
    INTO TEMP_SAR_SETTLEMENT_FINAL_DETAILS FROM #TEMP_SAR_SETTLEMENT_FINAL_DETAILS 
		
	END TRY
	BEGIN CATCH
  
		DECLARE  
			@MAILBODY VARCHAR(MAX), @ERROR_NUMBER VARCHAR(50), @ERROR_SEVERITY VARCHAR(50), @ERROR_STATE VARCHAR(50),
			@ERROR_PROCEDURE VARCHAR(500), @ERROR_LINE  VARCHAR(MAX), @ERROR_MESSAGE VARCHAR(MAX), @Subject_body NVARCHAR(250)       
		
		SELECT 
			@ERROR_NUMBER = ERROR_NUMBER(), @ERROR_SEVERITY = ERROR_SEVERITY(), @ERROR_STATE = ERROR_STATE(), @ERROR_PROCEDURE =  ERROR_PROCEDURE(), 
			@ERROR_LINE =	ERROR_LINE(), @ERROR_MESSAGE = ERROR_MESSAGE() 			 
		
		SET @MAILBODY = 'ERROR NUMBER -' +@ERROR_NUMBER+','+ 'ERROR SEVERITY -' +@ERROR_SEVERITY+','+ 'ERROR STATE -' +@ERROR_STATE+','+ 'ERROR PROCEDURE -' +@ERROR_PROCEDURE+','+ 'ERROR LINE -' +@ERROR_LINE+','+ 'ERROR MESSAGE -' +@ERROR_MESSAGE
		
		SET @Subject_body='Error Occured on [Date:'+Convert(NVARCHAR(50),getdate())+']'
				
			
		  -- SEND MAIL --
		  DECLARE @tab CHAR(1) = CHAR(9)
		  EXECUTE 
				msdb.dbo.sp_send_dbmail 		
				@recipients = 'esopit@esopdirect.com', 		
				@subject = @Subject_body, 
				@body = @MAILBODY,		
				@body_format = 'HTML',
				@query = '', 
				@attach_query_result_as_file = 0,
				@query_attachment_filename = NULL,
				@query_result_separator = @tab,
				@query_result_no_padding = 1											
	END CATCH
    
    DROP TABLE #TEMP_SAR_EMPLOYEE_DETAILS
    DROP TABLE #TEMP_SAR_SETTLEMENT_FINAL_DETAILS
    
	SET NOCOUNT OFF;		
END
GO
