/****** Object:  StoredProcedure [dbo].[PROC_GET_EMP_MOBILITY_DELETED_DATA]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_EMP_MOBILITY_DELETED_DATA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_EMP_MOBILITY_DELETED_DATA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_GET_EMP_MOBILITY_DELETED_DATA]
AS
BEGIN
    SELECT SRNO,Field,RecordID,EmployeeId,EmployeeName,Status,EntityName,FromDate,ToDelete,ReasonForDeletion,IsActive,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON FROM DELETE_EMPLOYEE_MOBILITY_MASSUPLOAD
END
GO
