/****** Object:  StoredProcedure [dbo].[GET_CASHPAYOUT_VALUE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[GET_CASHPAYOUT_VALUE]
GO
/****** Object:  StoredProcedure [dbo].[GET_CASHPAYOUT_VALUE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_CASHPAYOUT_VALUE]		
	@EMPLOYEE_DETAILS dbo.TYPE_CASHPAYOUT_VALUE READONLY
	
AS
BEGIN
	
	SET NOCOUNT ON;
	DECLARE   @MN_VALUE INT, @MX_VALUE INT,@INSTRUMENT_ID BIGINT, @IS_FORMULA_EXISTORNOT INT,@EMPLOYEE_ID VARCHAR(50),
			  @SETTLEMENT_PRICE NUMERIC(18, 9) ,@EXERCISE_PRICE NUMERIC(18, 9) ,@SCHEME_ID NVARCHAR(100) ,@FMV_VALUE NUMERIC(18, 9),@FACE_VALUE NUMERIC(18, 9),@SARS_EXERCISED NUMERIC(18, 9),
			  @SHARES_ARISINGOUTOF_APPR NUMERIC(18, 9), @GRANTOPTIONID VARCHAR(50),@EXERCISE_DATE DATETIME,@StockApprValue  NUMERIC(18, 9),@TEMP_EXERCISEID BIGINT,
			  @CASHPAYOUT_FORMULA NVARCHAR(MAX),@SQL NVARCHAR(MAX),@CASHPAYOUT_VALUE NUMERIC(18, 9)
	DECLARE @TAXFLAG_LIST TABLE (TAXFLAG CHAR(1))  		  
    --a. Declare and Create Temporary tables for data and Instruments
	CREATE TABLE #TEMP_CASHPAYOUT_DATA
	(
		ID INT IDENTITY(1,1) NOT NULL,INSTRUMENT_ID BIGINT NULL,EMPLOYEE_ID VARCHAR(50) NULL,SETTLEMENT_PRICE NUMERIC(18, 9) NULL,EXERCISE_PRICE NUMERIC(18, 9) NULL,
		SCHEME_ID NVARCHAR(100) NULL,FMV_VALUE NUMERIC (18, 9) NULL,FACE_VALUE NUMERIC(18, 9) NULL,SARS_EXERCISED NUMERIC(18, 9) NULL,
		SHARES_ARISINGOUTOF_APPR NUMERIC(18,9) NULL,GRANTOPTIONID VARCHAR(50) NULL,EXERCISE_DATE DATETIME,
		TEMP_EXERCISEID BIGINT NULL	
	) 

	CREATE TABLE #TEMP_INSTRUMENT
	(
	 ID INT IDENTITY(1,1),INSTRUMENT_ID BIGINT NULL,SCHEME_ID NVARCHAR(100) NULL,TEMP_EXERCISEID BIGINT NULL
	)

    CREATE TABLE #TEMP_CASHPAYOUT_FORMULA  
	(  
	ID INT IDENTITY(1,1),FORMULA_DESC NVARCHAR(MAX)
	)   

	CREATE TABLE #TEMP_CASHPAYOUT_FINAL_DETAILS
    (  
       ID INT IDENTITY(1,1) NOT NULL,MIT_ID BIGINT, EMPLOYEE_ID  VARCHAR(50), EXERCISE_DATE  DATETIME,CASHPAYOUT_VALUE  NUMERIC(18, 9) NULL, SCHEME_ID NVARCHAR(100), GRANTOPTIONID NVARCHAR(100),TEMP_EXERCISEID BIGINT NULL
    )  
	
	--b. Insert all data from type to Temporary tables and insert distinct instrument in another temporary table.
	
	INSERT INTO #TEMP_CASHPAYOUT_DATA 
	(
		INSTRUMENT_ID, EMPLOYEE_ID,SETTLEMENT_PRICE ,EXERCISE_PRICE ,SCHEME_ID ,FMV_VALUE ,FACE_VALUE ,SARS_EXERCISED ,
		SHARES_ARISINGOUTOF_APPR , GRANTOPTIONID, EXERCISE_DATE,TEMP_EXERCISEID 
	)
	SELECT  
		INSTRUMENT_ID, EMPLOYEE_ID,SETTLEMENT_PRICE ,EXERCISE_PRICE ,SCHEME_ID ,FMV_VALUE ,FACE_VALUE ,SARS_EXERCISED ,SHARES_ARISINGOUTOF_APPR , GRANTOPTIONID,EXERCISE_DATE,TEMP_EXERCISEID 
	FROM @EMPLOYEE_DETAILS

	INSERT INTO #TEMP_INSTRUMENT
	(
	 INSTRUMENT_ID,SCHEME_ID,TEMP_EXERCISEID
	)
	SELECT DISTINCT INSTRUMENT_ID,SCHEME_ID,TEMP_EXERCISEID from @EMPLOYEE_DETAILS
   
	
	--  c. Apply Loop on Instrument table.   
	SELECT @MN_VALUE = MIN(ID ),@MX_VALUE = MAX(ID) FROM #TEMP_INSTRUMENT
  	
	WHILE(@MN_VALUE <= @MX_VALUE)
		BEGIN	
			SELECT 
				@INSTRUMENT_ID = INSTRUMENT_ID,@SCHEME_ID=SCHEME_ID ,@TEMP_EXERCISEID=TEMP_EXERCISEID
			FROM 
				#TEMP_INSTRUMENT 
			WHERE 
				ID = @MN_VALUE
           
		   --d. Check formula is Exists.
		
			SELECT @IS_FORMULA_EXISTORNOT= COUNT(*)  FROM NETCASHPAYOUT_FORMULA_CONFIG WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @INSTRUMENT_ID 

		  --e. if formula exists go for next processes else apply default hard coded formula.
		 
		  if(@IS_FORMULA_EXISTORNOT>0)
			BEGIN
			
			SELECT 
				@INSTRUMENT_ID = INSTRUMENT_ID,@SCHEME_ID=SCHEME_ID, 
				@SETTLEMENT_PRICE=SETTLEMENT_PRICE,@EXERCISE_PRICE= EXERCISE_PRICE ,@SCHEME_ID= SCHEME_ID ,@FMV_VALUE=FMV_VALUE,@FACE_VALUE=FACE_VALUE,@SARS_EXERCISED=SARS_EXERCISED,
				@SHARES_ARISINGOUTOF_APPR= SHARES_ARISINGOUTOF_APPR , @GRANTOPTIONID = GRANTOPTIONID,@EXERCISE_DATE=EXERCISE_DATE,@TEMP_EXERCISEID =TEMP_EXERCISEID, @GRANTOPTIONID = GRANTOPTIONID
			FROM 
				#TEMP_CASHPAYOUT_DATA 
			WHERE SCHEME_ID = @SCHEME_ID AND INSTRUMENT_ID = @INSTRUMENT_ID AND TEMP_EXERCISEID=@TEMP_EXERCISEID

			INSERT INTO #TEMP_CASHPAYOUT_FORMULA(FORMULA_DESC)
			SELECT FORMULA_DESCRIPTION      				   
					FROM NETCASHPAYOUT_FORMULA_CONFIG AS NFC                
				WHERE ((CONVERT(DATE, NFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISE_DATE)) AND (CONVERT(DATE, ISNULL(NFC.APPLICABLE_TO_DATE, GETDATE())) >=  CONVERT(DATE,@EXERCISE_DATE)))                                  
				AND
					MIT_ID = @INSTRUMENT_ID AND SCHEME_ID = @SCHEME_ID ORDER BY NFC_ID DESC 

			SELECT @CASHPAYOUT_FORMULA=FORMULA_DESC from #TEMP_CASHPAYOUT_FORMULA 
			-------------------------------------------- Settlement Price ---------------------------------------------------------------------
			 IF EXISTS(SELECT FORMULA_DESC FROM #TEMP_CASHPAYOUT_FORMULA WHERE FORMULA_DESC  LIKE  '%@Settlement Price@%')      
				 BEGIN   
					SET @CASHPAYOUT_FORMULA = REPLACE( @CASHPAYOUT_FORMULA, '@Settlement Price@',  dbo.FN_GET_COMPANY_DECIMAL_SETTING(@SETTLEMENT_PRICE,'FMV') ) 
					--print @CASHPAYOUT_FORMULA
					--print '1'
					
				 END
			-- ----------------------------------------- Face Value ---------------------------------------------------------------------------	 
			IF EXISTS(SELECT FORMULA_DESC FROM #TEMP_CASHPAYOUT_FORMULA WHERE FORMULA_DESC  LIKE '%@Face Value@%')  
				BEGIN  
					SET @CASHPAYOUT_FORMULA = REPLACE( @CASHPAYOUT_FORMULA, '@Face Value@', ISNULL(@FACE_VALUE,0) ) 
					--print @FACE_VALUE
					--print '2'
					
				END
					-- ----------------------------------------- Exercise Price ---------------------------------------------------------------------------	 
				IF EXISTS(SELECT FORMULA_DESC FROM #TEMP_CASHPAYOUT_FORMULA WHERE FORMULA_DESC  LIKE '%Exercise Price/Base Price%')  
				BEGIN  
					SET @CASHPAYOUT_FORMULA = REPLACE( @CASHPAYOUT_FORMULA, 'Exercise Price/Base Price', ISNULL(@EXERCISE_PRICE,0) ) 
					--print @FACE_VALUE
					--print '2'
					
				END
   --         -------------------------------------------- Base Value ---------------------------------------------------------------------------
			--IF EXISTS(SELECT FORMULA_DESC FROM #TEMP_CASHPAYOUT_FORMULA WHERE FORMULA_DESC  LIKE '%@Base Price@%')  
			--	BEGIN  
			--		SET @CASHPAYOUT_FORMULA = REPLACE( @CASHPAYOUT_FORMULA, '@Base Price@', ISNULL(@EXERCISE_PRICE,0) )        
			--	END
            ------------------------------------------- SARs Exercised ------------------------------------------------------------------------  
			IF EXISTS(SELECT FORMULA_DESC FROM #TEMP_CASHPAYOUT_FORMULA WHERE FORMULA_DESC  LIKE '%@SARs Exercised@%')  
				BEGIN  
					 SET @CASHPAYOUT_FORMULA = REPLACE( @CASHPAYOUT_FORMULA, '@SARs Exercised@', ISNULL(@SARS_EXERCISED,0))
					 --print @CASHPAYOUT_FORMULA
					 --print '3'
				END
			------------------------------------------- FMV -----------------------------------------------------------------------------------
			IF EXISTS(SELECT FORMULA_DESC FROM #TEMP_CASHPAYOUT_FORMULA WHERE FORMULA_DESC  LIKE '%@FMV@%')  
				BEGIN  
					SET @CASHPAYOUT_FORMULA = REPLACE( @CASHPAYOUT_FORMULA, '@FMV@', ISNULL(@FMV_VALUE,0))       
				END
			------------------------------------------- Shares arising out appreciation -------------------------------------------------------	
			IF EXISTS(SELECT FORMULA_DESC FROM #TEMP_CASHPAYOUT_FORMULA WHERE FORMULA_DESC  LIKE '%@Shares arising out appreciation@%')  
				BEGIN  
					SET @CASHPAYOUT_FORMULA = REPLACE( @CASHPAYOUT_FORMULA, '@Shares arising out appreciation@', ISNULL(@SHARES_ARISINGOUTOF_APPR,0))   
				END  
				print @CASHPAYOUT_FORMULA
	           SET @SQL = N'set @CASHPAYOUT_VALUE = ' + REPLACE(@CASHPAYOUT_FORMULA, '''','')  
				EXEC sp_executesql @SQL, N'@CASHPAYOUT_VALUE float output', @CASHPAYOUT_VALUE OUT 

				print @CASHPAYOUT_VALUE

			   INSERT INTO #TEMP_CASHPAYOUT_FINAL_DETAILS 
				(
			  	 	MIT_ID , EMPLOYEE_ID  ,  EXERCISE_DATE ,CASHPAYOUT_VALUE  , SCHEME_ID , GRANTOPTIONID ,TEMP_EXERCISEID 
				)			
				SELECT INSTRUMENT_ID , EMPLOYEE_ID  , EXERCISE_DATE ,@CASHPAYOUT_VALUE  , SCHEME_ID , GRANTOPTIONID ,TEMP_EXERCISEID
				from #TEMP_CASHPAYOUT_DATA
					WHERE SCHEME_ID = @SCHEME_ID AND INSTRUMENT_ID = @INSTRUMENT_ID AND TEMP_EXERCISEID=@TEMP_EXERCISEID
				
		END	 
			SET @MN_VALUE = @MN_VALUE + 1 		  
		END
		
		IF EXISTS (SELECT * FROM SYS.TABLES WHERE name = 'TEMP_CASHPAYOUT_FINAL_DETAILS ')  
		BEGIN  
			DROP TABLE TEMP_CASHPAYOUT_FINAL_DETAILS     
		END  
	

	SELECT  MIT_ID,EMPLOYEE_ID, EXERCISE_DATE ,CASHPAYOUT_VALUE , SCHEME_ID ,GRANTOPTIONID ,TEMP_EXERCISEID  FROM #TEMP_CASHPAYOUT_FINAL_DETAILS
	DROP TABLE #TEMP_CASHPAYOUT_DATA    
    DROP TABLE #TEMP_INSTRUMENT 
    DROP TABLE #TEMP_CASHPAYOUT_FORMULA
	DROP TABLE #TEMP_CASHPAYOUT_FINAL_DETAILS
	SET NOCOUNT OFF;		
END
GO
