/****** Object:  StoredProcedure [dbo].[PROC_CHECK_DOWNTIME_SET]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CHECK_DOWNTIME_SET]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CHECK_DOWNTIME_SET]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CHECK_DOWNTIME_SET]
	@USER_TYPE VARCHAR(10) = NULL
AS
BEGIN

	SET NOCOUNT ON;
	
	DECLARE @IS_DOWNTIME_SET CHAR(1), @DOWN_TIME_MESSAGE VARCHAR(MAX), @DOWN_TIME_ACCESS VARCHAR(10),
			@OUTPUT_DOWN_TIME_MESSAGE VARCHAR(MAX)
	
	SET @OUTPUT_DOWN_TIME_MESSAGE = NULL
	
	IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS  WHERE UPPER(TABLE_NAME) = 'COMPANYPARAMETERS' AND  UPPER(COLUMN_NAME) = 'ISDOWNTIMESET')
	BEGIN
		ALTER TABLE CompanyParameters ADD [isDownTimeSet] char(1) NULL  
	END
	
	IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS  WHERE UPPER(TABLE_NAME) = 'COMPANYPARAMETERS' AND  UPPER(COLUMN_NAME) = 'DOWNTIMEMESSAGE')
	BEGIN
		ALTER TABLE CompanyParameters ADD [DownTimeMessage] varchar(1000) NULL  
	END
	
	IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS  WHERE UPPER(TABLE_NAME) = 'COMPANYPARAMETERS' AND  UPPER(COLUMN_NAME) = 'DOWNTIMEACCESS')
	BEGIN
		ALTER TABLE CompanyParameters ADD [DownTimeAccess] varchar(10) NOT NULL  CONSTRAINT access  DEFAULT ('N|N|N') WITH VALUES  
	END
	
	SELECT @IS_DOWNTIME_SET = [isDownTimeSet], @DOWN_TIME_MESSAGE = [DownTimeMessage], @DOWN_TIME_ACCESS = [DownTimeAccess] FROM CompanyParameters 
	
	PRINT '@IS_DOWNTIME_SET : ' + @IS_DOWNTIME_SET
	PRINT '@DOWN_TIME_MESSAGE : ' + @DOWN_TIME_MESSAGE
	PRINT '@DOWN_TIME_ACCESS : ' + @DOWN_TIME_ACCESS
	
	IF(@IS_DOWNTIME_SET = 1)
	BEGIN
		
		DECLARE @ROW_COUNT_MIN INT, @ROW_COUNT_MAX INT, @ACCESS_TO VARCHAR(1)
		
		CREATE TABLE #CHECK_ACCESS_TO 
		(
			CWTAID INT IDENTITY(1,1) NOT NULL,
			ACCESS_TO VARCHAR(1)
		)
					
		INSERT INTO #CHECK_ACCESS_TO
		SELECT * FROM dbo.fn_MVParam(@DOWN_TIME_ACCESS, '|')
		
		SET @ROW_COUNT_MIN = 1
		
		IF(UPPER(@USER_TYPE) = 'ADMIN')
		BEGIN
			SET @ROW_COUNT_MAX = 1
		END
		ELSE IF(UPPER(@USER_TYPE) = 'CR')
		BEGIN
			SET @ROW_COUNT_MAX = 2
		END
		ELSE IF(UPPER(@USER_TYPE) = 'EMPLOYEE')
		BEGIN
			SET @ROW_COUNT_MAX = 3
		END
		
		WHILE(@ROW_COUNT_MIN <= @ROW_COUNT_MAX)
		BEGIN
			
			SELECT @ACCESS_TO = UPPER(ACCESS_TO) FROM #CHECK_ACCESS_TO WHERE CWTAID = @ROW_COUNT_MAX
			
			IF(@ACCESS_TO = 'Y') AND (@ROW_COUNT_MAX = 1)
			BEGIN
				/* CHECK ADMIN ACCESS */
				SET @OUTPUT_DOWN_TIME_MESSAGE = @DOWN_TIME_MESSAGE
				BREAK	
			END
			ELSE IF(@ACCESS_TO = 'Y') AND (@ROW_COUNT_MAX = 2)
			BEGIN
				/* CHECK CR ACCESS */
				SET @OUTPUT_DOWN_TIME_MESSAGE = @DOWN_TIME_MESSAGE			
				BREAK
			END
			ELSE IF(@ACCESS_TO = 'Y') AND (@ROW_COUNT_MAX = 3)
			BEGIN
				/* CHECK EMPLOYEE ACCESS */
				SET @OUTPUT_DOWN_TIME_MESSAGE = @DOWN_TIME_MESSAGE			
				BREAK
			END
			
			SET @ROW_COUNT_MIN = @ROW_COUNT_MIN + 1
		END
	END
			
	SELECT @OUTPUT_DOWN_TIME_MESSAGE		 
	
	SET NOCOUNT OFF;  
   
END  

GO
