/****** Object:  StoredProcedure [dbo].[PROC_GET_EXERCISE_TRANSACTION_STEP_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_EXERCISE_TRANSACTION_STEP_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_EXERCISE_TRANSACTION_STEP_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_GET_EXERCISE_TRANSACTION_STEP_DETAILS] 
	@ExerciseNo INT 
AS
	
BEGIN
		SET NOCOUNT ON;
		SELECT 
			  EXERCISE_NO,
			  EXERCISE_STEPID,
			  DISPLAY_NAME,
			  IS_ATTEMPTED
		FROM 
			 TRANSACTIONS_EXERCISE_STEP
		WHERE
			 Exercise_NO = @ExerciseNo

       SET NOCOUNT OFF;
    
	
END
GO
