/****** Object:  StoredProcedure [dbo].[PROC_PG_BASED_ON_EVENT]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_PG_BASED_ON_EVENT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_PG_BASED_ON_EVENT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_PG_BASED_ON_EVENT]
AS
BEGIN	
	SET NOCOUNT ON;

	SELECT '----- Please Select-----' AS 'BASED_ON_EVENT'
	UNION
	SELECT 'VESTING DATE' AS 'BASED_ON_EVENT'
	UNION
	SELECT 'EXERCISE DATE' AS 'BASED_ON_EVENT'
	UNION
	SELECT 'GRANT DATE' AS 'BASED_ON_EVENT'

	SET NOCOUNT OFF;
END
GO
