/****** Object:  StoredProcedure [dbo].[PROC_SET_PERQ_CONFIG_SETTING]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SET_PERQ_CONFIG_SETTING]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SET_PERQ_CONFIG_SETTING]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[PROC_SET_PERQ_CONFIG_SETTING]
	(	 
		
		@MIT_ID					INT =Null,
		@CAL_PERQUSITE_VAL		TINYINT=NULL,
		@EXCEPT_FOR_PERQ_VAL	TINYINT=NULL,
		@CAL_PROPORTIONATE_VAL	TINYINT=NULL,
		@EXCEPT_FOR_PROPORT_VAL	TINYINT=NULL,
		@EXCEPT_FOR_PERQUISITE NVARCHAR(10)=NULL,
		@EXCEPT_FOR_PROPORTIONATE NVARCHAR(10)=NULL,
		@COUNTRY_CATEGORY_PROPORT NVARCHAR(10)=NULL,
		@TYPE_SET_COMPANY_EXCEPTIONS_PERQUISITE TYPE_SET_COMPANY_EXCEPTIONS READONLY,
		@TYPE_SET_COMPANY_EXCEPTIONS_PROPORTINATE TYPE_SET_COMPANY_EXCEPTIONS READONLY,
		@CREATED_BY				NVARCHAR(50)=Null		
		
		
	 )
AS
BEGIN
	SET NOCOUNT ON;
	
	BEGIN TRY		
	--	BEGIN TRANSACTION
		
		UPDATE COMPANY_INSTRUMENT_MAPPING
						SET CAL_PERQUSITE_VAL=@CAL_PERQUSITE_VAL ,EXCEPT_FOR_PERQ_VAL=@EXCEPT_FOR_PERQ_VAL,
						CAL_PROPORTIONATE_VAL=@CAL_PROPORTIONATE_VAL, EXCEPT_FOR_PROPORT_VAL=@EXCEPT_FOR_PROPORT_VAL,EXCEPT_FOR_PERQUISITE=@EXCEPT_FOR_PERQUISITE,
						EXCEPT_FOR_PROPORTIONATE=@EXCEPT_FOR_PROPORTIONATE,COUNTRY_CATEGORY_PROPORT=@COUNTRY_CATEGORY_PROPORT
						WHERE MIT_ID =@MIT_ID
						
						IF(@@ROWCOUNT >0)
						BEGIN
						
								--Resident
								DECLARE @CIM_ID BIGINT
								DECLARE  @MIN INT
								DECLARE  @MAX INT
								DECLARE @ACTIVE TINYINT 
								DECLARE @APPLICABILITY TINYINT
								Select  @CIM_ID=CIM.CIM_ID From COMPANY_INSTRUMENT_MAPPING CIM Where CIM.MIT_ID=@MIT_ID
								SELECT @MIN=MIN(ID) FROM @TYPE_SET_COMPANY_EXCEPTIONS_PERQUISITE
								SELECT @MAX=MAX(ID) FROM @TYPE_SET_COMPANY_EXCEPTIONS_PERQUISITE
																
								--Perquisite Exception Setting
								IF(UPPER(@EXCEPT_FOR_PERQUISITE)='R')
								BEGIN
								
								--Update Residential Active status
								UPDATE COMPANY_INSTRUMENT_MAP_DETAILS
											SET  ACTIVE=0,APPLICABILITY=0
											FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
											ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PERQUISITE'
											WHERE CIM.MIT_ID=@MIT_ID AND CIMD.RESIDENTIAL_ID > 0								
								
								
								WHILE(@MIN<=@MAX)
								BEGIN
											DECLARE @RESIDENTIAL_ID BIGINT 											
											SELECT @RESIDENTIAL_ID=RESIDENTIAL_ID FROM @TYPE_SET_COMPANY_EXCEPTIONS_PERQUISITE WHERE ID= @MIN	
											SELECT @ACTIVE=ACTIVE FROM @TYPE_SET_COMPANY_EXCEPTIONS_PERQUISITE WHERE ID= @MIN	
											SELECT @APPLICABILITY=APPLICABILITY FROM @TYPE_SET_COMPANY_EXCEPTIONS_PERQUISITE WHERE ID= @MIN													
																						
													
											IF EXISTS(SELECT CIMD.CIMD_ID FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
											ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PERQUISITE' WHERE CIM.MIT_ID=@MIT_ID And RESIDENTIAL_ID=@RESIDENTIAL_ID AND CIMD.CIM_ID=@CIM_ID  )
											BEGIN
													UPDATE COMPANY_INSTRUMENT_MAP_DETAILS
													SET  ACTIVE=@ACTIVE ,APPLICABILITY=@APPLICABILITY
													FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
													ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PERQUISITE'
													WHERE CIM.MIT_ID=@MIT_ID AND CIMD.RESIDENTIAL_ID=@RESIDENTIAL_ID
											END
											ELSE
											BEGIN
											
												INSERT INTO COMPANY_INSTRUMENT_MAP_DETAILS (CIM_ID,RESIDENTIAL_ID,COUNTRY_ID,SETTING_TYPE,ACTIVE,CREATED_BY,CREATED_ON,UPDATED_BY, UPDATED_ON)
												VALUES(@CIM_ID,@RESIDENTIAL_ID,0,'PERQUISITE',@ACTIVE,@CREATED_BY,GETDATE(),@CREATED_BY,GETDATE())
												
											END
								
								SET @MIN=@MIN+1
								
								END
								END
								ELSE
								BEGIN
									--Country
										--Update Country Active status
										UPDATE COMPANY_INSTRUMENT_MAP_DETAILS
													SET  ACTIVE=0,APPLICABILITY=0
													FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
													ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PERQUISITE'
													WHERE CIM.MIT_ID=@MIT_ID AND CIMD.COUNTRY_ID > 0													
										WHILE(@MIN<=@MAX)
										BEGIN
																				
													DECLARE @COUNTRY_ID BIGINT 
													SELECT @COUNTRY_ID=COUNTRY_ID ,@ACTIVE=ACTIVE,@APPLICABILITY=APPLICABILITY FROM @TYPE_SET_COMPANY_EXCEPTIONS_PERQUISITE WHERE ID= @MIN	
													--SELECT @ACTIVE=ACTIVE FROM @TYPE_SET_COMPANY_EXCEPTIONS_PERQUISITE WHERE ID= @MIN							
													
													
													
													IF EXISTS(SELECT CIMD.CIMD_ID FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
													ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PERQUISITE' WHERE CIM.MIT_ID=@MIT_ID And COUNTRY_ID=@COUNTRY_ID AND CIMD.CIM_ID=@CIM_ID  )
													BEGIN
													
															UPDATE COMPANY_INSTRUMENT_MAP_DETAILS
															SET  ACTIVE=@ACTIVE,APPLICABILITY=@APPLICABILITY
															FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
															ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PERQUISITE'
															WHERE CIM.MIT_ID=@MIT_ID AND CIMD.COUNTRY_ID=@COUNTRY_ID
													END
													ELSE
													BEGIN
													
														INSERT INTO COMPANY_INSTRUMENT_MAP_DETAILS (CIM_ID,RESIDENTIAL_ID,COUNTRY_ID,SETTING_TYPE,ACTIVE,APPLICABILITY,CREATED_BY,CREATED_ON,UPDATED_BY, UPDATED_ON)
														VALUES(@CIM_ID,0,@COUNTRY_ID,'PERQUISITE',@ACTIVE,@APPLICABILITY,@CREATED_BY,GETDATE(),@CREATED_BY,GETDATE())
														
													END
										
											SET @MIN=@MIN+1
										
										END
								
								END
								-- End Perquisite Exception Setting
								
								-- Exception Proportionate 
								--Proportinate
								DECLARE @CIM_ID_PROP BIGINT
								DECLARE  @MIN_PROP INT
								DECLARE  @MAX_PROP INT
								DECLARE @ACTIVE_PROP TINYINT 
								DECLARE @APPLICABILITY_PROP TINYINT
								Select  @CIM_ID_PROP=CIM.CIM_ID From COMPANY_INSTRUMENT_MAPPING CIM Where CIM.MIT_ID=@MIT_ID
								SELECT @MIN_PROP=MIN(ID) FROM @TYPE_SET_COMPANY_EXCEPTIONS_PROPORTINATE
								SELECT @MAX_PROP=MAX(ID) FROM @TYPE_SET_COMPANY_EXCEPTIONS_PROPORTINATE
										
								--Perquisite Exception Setting
								IF(UPPER(@EXCEPT_FOR_PROPORTIONATE)='R')
								BEGIN					
								
									--Update Residential Active status
								UPDATE COMPANY_INSTRUMENT_MAP_DETAILS
								SET  ACTIVE=0,APPLICABILITY=0
								FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
								ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PROPORTIONATE'
								WHERE CIM.MIT_ID=@MIT_ID AND CIMD.RESIDENTIAL_ID > 0
														
								WHILE(@MIN_PROP<=@MAX_PROP)
								BEGIN
											DECLARE @RESIDENTIAL_ID_PROP BIGINT 											
											SELECT @RESIDENTIAL_ID_PROP=RESIDENTIAL_ID FROM @TYPE_SET_COMPANY_EXCEPTIONS_PROPORTINATE WHERE ID= @MIN_PROP	
											SELECT @ACTIVE_PROP=ACTIVE ,@APPLICABILITY_PROP=APPLICABILITY FROM @TYPE_SET_COMPANY_EXCEPTIONS_PROPORTINATE WHERE ID= @MIN_PROP							
																						
													
											IF EXISTS(SELECT CIMD.CIMD_ID FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
											ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PROPORTIONATE' WHERE CIM.MIT_ID=@MIT_ID And RESIDENTIAL_ID=@RESIDENTIAL_ID_PROP AND CIMD.CIM_ID=@CIM_ID  )
											BEGIN
													UPDATE COMPANY_INSTRUMENT_MAP_DETAILS
													SET  ACTIVE=@ACTIVE_PROP,APPLICABILITY= @APPLICABILITY_PROP
													FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
													ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PROPORTIONATE'
													WHERE CIM.MIT_ID=@MIT_ID AND CIMD.RESIDENTIAL_ID=@RESIDENTIAL_ID_PROP
											END
											ELSE
											BEGIN
											
												INSERT INTO COMPANY_INSTRUMENT_MAP_DETAILS (CIM_ID,RESIDENTIAL_ID,COUNTRY_ID,SETTING_TYPE,ACTIVE,APPLICABILITY,CREATED_BY,CREATED_ON,UPDATED_BY, UPDATED_ON)
												VALUES(@CIM_ID,@RESIDENTIAL_ID_PROP,0,'PROPORTIONATE',@ACTIVE_PROP,@APPLICABILITY_PROP,@CREATED_BY,GETDATE(),@CREATED_BY,GETDATE())
												
											END
								
								SET @MIN_PROP=@MIN_PROP+1
								
								END
								
								END
								ELSE IF(UPPER(@EXCEPT_FOR_PROPORTIONATE)='C')
								BEGIN
									--Country
									--Update Country Active status
								UPDATE COMPANY_INSTRUMENT_MAP_DETAILS
								SET  ACTIVE=0,APPLICABILITY=0
								FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
								ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PROPORTIONATE'
								WHERE CIM.MIT_ID=@MIT_ID AND CIMD.COUNTRY_ID > 0
								
								WHILE(@MIN_PROP<=@MAX_PROP)
										BEGIN
																				
													DECLARE @COUNTRY_ID_PROP BIGINT 
													SELECT @COUNTRY_ID_PROP=COUNTRY_ID ,@ACTIVE_PROP=ACTIVE,@APPLICABILITY_PROP=APPLICABILITY FROM @TYPE_SET_COMPANY_EXCEPTIONS_PROPORTINATE WHERE ID= @MIN_PROP	
													--SELECT @ACTIVE=ACTIVE FROM @TYPE_SET_COMPANY_EXCEPTIONS_PROPORTINATE WHERE ID= @MIN							
													
													
													
													IF EXISTS(SELECT CIMD.CIMD_ID FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
													ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PROPORTIONATE' WHERE CIM.MIT_ID=@MIT_ID And COUNTRY_ID=@COUNTRY_ID_PROP AND CIMD.CIM_ID=@CIM_ID  )
													BEGIN
													Print 'Update'
													print @ACTIVE_PROP
													print @COUNTRY_ID_PROP
													print @MIT_ID
															UPDATE COMPANY_INSTRUMENT_MAP_DETAILS
															SET  ACTIVE=@ACTIVE_PROP,APPLICABILITY=@APPLICABILITY_PROP
															FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
															ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='PROPORTIONATE'
															WHERE CIM.MIT_ID=@MIT_ID AND CIMD.COUNTRY_ID=@COUNTRY_ID_PROP
													END
													ELSE
													BEGIN
													
														INSERT INTO COMPANY_INSTRUMENT_MAP_DETAILS (CIM_ID,RESIDENTIAL_ID,COUNTRY_ID,SETTING_TYPE,ACTIVE,APPLICABILITY,CREATED_BY,CREATED_ON,UPDATED_BY, UPDATED_ON)
														VALUES(@CIM_ID,0,@COUNTRY_ID_PROP,'PROPORTIONATE',@ACTIVE_PROP,@APPLICABILITY_PROP,@CREATED_BY,GETDATE(),@CREATED_BY,GETDATE())
														
													END
										
											SET @MIN_PROP=@MIN_PROP+1
										
										END
								
								END
								-- End Proportinate Exception Setting
								
								
								SELECT @MIT_ID AS MIT_ID ,'Record Inserted Successfully.'	AS Msg
						
						END
						Else
						BEGIN
							SELECT '0' AS MIT_ID ,'Record Insertion Failed.'	AS Msg
						END
		
				
	--	COMMIT TRANSACTION	
	END TRY
	BEGIN CATCH
	--	ROLLBACK TRANSACTION
		RETURN 0
	END CATCH
	
	
	
	SET NOCOUNT OFF;
	
	
	
	
END
GO
