/****** Object:  StoredProcedure [dbo].[PROC_GET_PUP_VESTWISE_REPORT]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_PUP_VESTWISE_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PUP_VESTWISE_REPORT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_PUP_VESTWISE_REPORT]
(
	@EmployeeId NVARCHAR(MAX)
)
AS
BEGIN
	DECLARE @FROM_DATE	 DATE ='1990-01-01',
			@TO_DATE	 DATE = CONVERT(DATE,GETDATE()),
			@DisplayParm NCHAR = 'S'
	
	/*CREATE AND INSERT OPERATION*/
	BEGIN
		/*CREATE TEMP TABLE FOR PERFORM INSERT SP_REPORT DATA*/		
		CREATE TABLE #TEMP_SP_REPORTDATA
		(
			TEMP_ID				INT IDENTITY(1,1),
			OPTIONSGRANTED		NUMERIC(10,0),
			OPTIONSVESTED		NUMERIC(10,0),
			OPTIONSEXERCISED	NUMERIC(10,0),
			OPTIONSCANCELLED	NUMERIC(10,0),
			OPTIONSLAPSED		NUMERIC(10,0),
			OPTIONSUNVESTED		NUMERIC(10,0),
			UNAPPROVEDQTY		NUMERIC(10,0),
			GRANTOPTIONID		NVARCHAR(200),
			GRANTLEGID			TINYINT,
			SCHEMEID			NVARCHAR(200),
			GRANTREGID			NVARCHAR(150),
			EMPLOYEEID			NVARCHAR(150),
			EMPLOYEENAME		NVARCHAR(200),
			SBU					NVARCHAR(200),
			ACCOUNTNO			NVARCHAR(50),
			PANNUMBER			NVARCHAR(15),
			ENTITY				NVARCHAR(200),
			[STATUS]			NVARCHAR(15),
			GRANTDATE			DATE,
			VESTINGTYPE			NVARCHAR(30),
			EXERCISEPRICE		NUMERIC(10,2),
			VESTINGDATE			DATE,
			EXPIRYDATE			DATE,
			PARENT_NOTE			NVARCHAR(20),
			GRNTLEG_SRNO		NUMERIC(10,0),
			PUPEXEDPAYOUTPROC	NVARCHAR(10),
			UnvestedCancelled	NUMERIC(18,2), 
			VestedCancelled		NUMERIC(18,2)
		)
		INSERT INTO #TEMP_SP_REPORTDATA
				(OPTIONSGRANTED,OPTIONSVESTED,OPTIONSEXERCISED,OPTIONSCANCELLED,
				 OPTIONSLAPSED,OPTIONSUNVESTED,UNAPPROVEDQTY,GRANTOPTIONID,
				 GRANTLEGID,SCHEMEID,GRANTREGID,EMPLOYEEID,EMPLOYEENAME,SBU,ACCOUNTNO,
				 PANNUMBER,ENTITY,[STATUS],GRANTDATE,VESTINGTYPE,EXERCISEPRICE,
				 VESTINGDATE,EXPIRYDATE,PARENT_NOTE, UnvestedCancelled, VestedCancelled)
		EXEC SP_REPORT_DATA @FROM_DATE,@TO_DATE,@EmployeeId,@DisplayParm
	END
	/*UPDATE OPERATION*/
	BEGIN
		/*UPDATE VESTINGTYPE AND PARENT_NOTE IN TEMPORARY TABLE*/
		UPDATE #TEMP_SP_REPORTDATA 
			SET VESTINGTYPE = CASE WHEN (UPPER(VESTINGTYPE)='TIME BASED') THEN 'T' ELSE 'P' END,
				PARENT_NOTE = CASE WHEN UPPER(PARENT_NOTE)='ORIGINAL' THEN 'N' WHEN UPPER(PARENT_NOTE)='BONUS' THEN 'B' END
									
		/*UPDATE GRANTLEG_SRNO IN TEMORARY TABLE WITH */
		UPDATE	T 
		SET		GRNTLEG_SRNO = GL.ID,
				PUPEXEDPAYOUTPROC = CASE WHEN SC.PUPExedPayoutProcess=1 THEN 'ONLINE' ELSE 'OFFLINE' END
		FROM	#TEMP_SP_REPORTDATA T
				INNER JOIN GRANTLEG GL
					ON GL.GrantOptionId = T.GRANTOPTIONID AND GL.GrantLegId = T.GRANTLEGID 
						AND GL.VestingType = T.VESTINGTYPE AND GL.PARENT = T.PARENT_NOTE
				INNER JOIN Scheme SC
					ON SC.SchemeId = T.SCHEMEID AND SC.IsPUPEnabled = 1
	END
	
	SELECT 	TEMP_ID,T.SCHEMEID AS [PLAN NAME],T.EMPLOYEEID,T.EMPLOYEENAME,T.[STATUS] AS [EMPLOYEESTATUS],
			T.GRANTDATE,T.GRANTLEGID,T.GRANTREGID AS [PUPGRANTID], T.GRANTOPTIONID AS [PUPID], 
			CASE WHEN T.VESTINGTYPE='T' THEN 'TIME BASED' ELSE 'PERFORMANCE BASE' END [VESTINGTYPE], 
			T.VESTINGDATE, T.EXPIRYDATE, T.EXERCISEPRICE, T.OPTIONSGRANTED [GRANTEDUNITS], 
			T.OPTIONSVESTED [VESTEDUNITS], T.OPTIONSUNVESTED [UNVESTEDUNITS], T.OPTIONSEXERCISED [EXERCISEDUNITS],
			T.OPTIONSCANCELLED [UNITSCANCELLED], T.OPTIONSLAPSED [UNITSLAPSED],T.[PARENT_NOTE], 
			T.GRNTLEG_SRNO, SC.ISPUPENABLED, SC.DisplayExpDate
	FROM	#TEMP_SP_REPORTDATA T
			INNER JOIN Scheme SC
					ON SC.SchemeId = T.SCHEMEID AND SC.IsPUPEnabled = 1	
 End
 

GO
