/****** Object:  StoredProcedure [dbo].[PROC_GET_INSTRUMENT_LIST_REPORT]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_INSTRUMENT_LIST_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_INSTRUMENT_LIST_REPORT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_INSTRUMENT_LIST_REPORT]
AS
BEGIN

	SET NOCOUNT ON;			

	SELECT 
		MIT.MIT_ID,
		(CASE WHEN ISNull(CIM.INS_DISPLY_NAME,'') != '' THEN 
			CIM.INS_DISPLY_NAME
		ELSE 
			MIT.INSTRUMENT_NAME
		END) AS INSTRUMENT_NAME		
	FROM MST_INSTRUMENT_TYPE MIT  
	INNER JOIN COMPANY_INSTRUMENT_MAPPING CIM ON MIT.MIT_ID=CIM.MIT_ID  
	WHERE  MIT.IS_ACTIVE = 1 AND  IS_ENABLED = 1
	
	UNION
	
	SELECT 0,'ALL'

	SET NOCOUNT OFF;	
END
GO
