/****** Object:  StoredProcedure [dbo].[PROC_GET_PERQ_CONFIG_SETTING]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_PERQ_CONFIG_SETTING]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PERQ_CONFIG_SETTING]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_GET_PERQ_CONFIG_SETTING]
(
 @PAGENAME				VARCHAR (100),
 @INSTRUMENT_ID			BIGINT
 
)
AS
BEGIN
	SET NOCOUNT ON;	
	IF(UPPER(@PAGENAME)='PERQUISITEVALUE')
	BEGIN
	
		SELECT ISNULL( CAL_PERQUSITE_VAL,0) As CAL_PERQUSITE_VAL, ISnull(EXCEPT_FOR_PERQ_VAL,0) As EXCEPT_FOR_PERQ_VAL , ISNULL(CAL_PROPORTIONATE_VAL,0) As CAL_PROPORTIONATE_VAL ,  ISNULL(EXCEPT_FOR_PROPORT_VAL,0) As EXCEPT_FOR_PROPORT_VAL , ISNULL(EXCEPT_FOR_PERQUISITE,'') As EXCEPT_FOR_PERQUISITE,
		ISNULL(EXCEPT_FOR_PROPORTIONATE,'') As EXCEPT_FOR_PROPORTIONATE , ISNULL(COUNTRY_CATEGORY_PROPORT,'') AS COUNTRY_CATEGORY_PROPORT  FROM COMPANY_INSTRUMENT_MAPPING WHERE MIT_ID= @INSTRUMENT_ID   
		 
	
	END
	
END


GO
