/****** Object:  StoredProcedure [dbo].[PROC_GET_INSTRUMENT_LIST]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_INSTRUMENT_LIST]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_INSTRUMENT_LIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_INSTRUMENT_LIST]
	
AS
BEGIN
	SET NOCOUNT ON;	
			
	SELECT 
		MIT_ID, INSTRUMENT_NAME, IS_ACTIVE, IS_AUTO_EXERCISE 
	FROM MST_INSTRUMENT_TYPE  
	WHERE 
		IS_ACTIVE = 1
	
	SELECT 
		MSE_ID, STOCK_EXCHANGE_SYMBOL 
	FROM MST_STOCK_EXCHANGE 
	WHERE 
		IS_ACTIVE = 1
		   
    SELECT 
		MIT_ID, CurrencyID, MSE_ID, SEM_VAL_RPT_ID, IS_ENABLED, INS_DISPLY_NAME, CREATED_ON ,IsActivatedAccount
	FROM COMPANY_INSTRUMENT_MAPPING   
	WHERE 
	   IS_ENABLED = 1

	SET NOCOUNT OFF;	
END

GO
