/****** Object:  StoredProcedure [dbo].[PROC_INSERT_UPDATE_TRANSACTION_STEP_DETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_INSERT_UPDATE_TRANSACTION_STEP_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_UPDATE_TRANSACTION_STEP_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_INSERT_UPDATE_TRANSACTION_STEP_DETAILS] 
    
	@ExerciseNo INT ,
	@EXERCISE_STEPID INT, 
	@MIT_ID INT = 0
AS

BEGIN	

	SELECT @MIT_ID = MIT_ID FROM ShExercisedOptions WHERE ExerciseNo = @ExerciseNo

    IF NOT EXISTS(select EXERCISE_NO from TRANSACTIONS_EXERCISE_STEP where EXERCISE_NO = @ExerciseNo)
    BEGIN
	     INSERT INTO TRANSACTIONS_EXERCISE_STEP
            (EXERCISE_STEPID
            ,DISPLAY_NAME
			,EXERCISE_NO
			,UPLOAD_TYPE
			,ISATTEMPTED_ON			
			,CREATED_BY
			,CREATED_ON 
			,UPDATED_BY 
			,UPDATED_ON 
            )
            SELECT
            MST_EX_STEP_ID
           ,DISPLAY_NAME
		   ,@ExerciseNo
		   ,UPLOAD_TYPE 
		   , GETDATE() 
		   ,'ADMIN'
		   , GETDATE() 
		   ,'ADMIN'
		   ,GETDATE()		  
            FROM MST_EXERCISE_STEPS  
			WHERE MIT_ID = @MIT_ID AND IS_ACTIVE= 1
    END
  
	IF EXISTS(SELECT 1 FROM TRANSACTIONS_EXERCISE_STEP WHERE EXERCISE_NO = @ExerciseNo and EXERCISE_STEPID=@EXERCISE_STEPID)
	BEGIN	     
		UPDATE TES SET IS_ATTEMPTED = 1 , UPDATED_BY = SHEX.EmployeeID , UPDATED_ON = GETDATE()
		FROM TRANSACTIONS_EXERCISE_STEP TES INNER JOIN ShExercisedOptions SHEX 
		ON TES.EXERCISE_NO = SHEX.ExerciseNo 
		WHERE EXERCISE_NO = @ExerciseNo and EXERCISE_STEPID  = @EXERCISE_STEPID 		
	END		
 END
GO
