/****** Object:  StoredProcedure [dbo].[PROC_CRUD_CONSENT_AND_DECLARATION]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CRUD_CONSENT_AND_DECLARATION]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CRUD_CONSENT_AND_DECLARATION]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CRUD_CONSENT_AND_DECLARATION]
	@EEFCA				NVARCHAR(40),
	@ECT				NVARCHAR(40),
	@ECST				NVARCHAR(40),
	@EU_EmployeeMsg		NVARCHAR(MAX),
	@Non_EUEmployeeMsg  NVARCHAR(MAX),
	@CompanyLevelMsg	NVARCHAR(MAX),
	@LastUpdatedBy		NVARCHAR(20),
	@LastUpdatedOn		DATETIME,
	@MESSAGE_OUT		NVARCHAR(100) OUTPUT
AS
BEGIN
	
	IF EXISTS(SELECT Is_Selected FROM MST_EMP_CONSENT_DISCLARATION WHERE EEFCA = @EEFCA AND ECT = @ECT AND ECST = @ECST)
	BEGIN
		IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_CONSENT_DISCLARATION')
		BEGIN
			UPDATE MST_EMP_CONSENT_DISCLARATION  SET Is_Selected = 0

			UPDATE MST_EMP_CONSENT_DISCLARATION SET 
				EU_EmployeeMsg = @EU_EmployeeMsg, Non_EUEmployeeMsg = @Non_EUEmployeeMsg, CompanyLevelMsg = @CompanyLevelMsg , Is_Selected = 1, LastUpdatedBy = @LastUpdatedBy,
				LastUpdatedOn = @LastUpdatedOn
			WHERE 
				EEFCA = @EEFCA AND ECT = @ECT AND ECST = @ECST
		END
		IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_EVENT_FOR_CONSENT_ACCEPTANCE')
		BEGIN
			UPDATE MST_EMP_EVENT_FOR_CONSENT_ACCEPTANCE SET Is_Selected= 0
			UPDATE MST_EMP_EVENT_FOR_CONSENT_ACCEPTANCE SET Is_Selected= 1 WHERE EEFCA = @EEFCA
		END
		IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_CONSENT_TYPE')
		BEGIN
			UPDATE MST_EMP_CONSENT_TYPE SET Is_Selected= 0
			UPDATE MST_EMP_CONSENT_TYPE SET Is_Selected= 1 WHERE ECT = @ECT
		END
		IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_CONSENT_SUBTYPE')
		BEGIN
			UPDATE MST_EMP_CONSENT_SUBTYPE SET Is_Selected= 0
			UPDATE MST_EMP_CONSENT_SUBTYPE SET Is_Selected= 1 WHERE ECST = @ECST
		END

		SET @MESSAGE_OUT = 'Record Updated Successfully.'
	END
	ELSE
	BEGIN
		IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_CONSENT_DISCLARATION')
		BEGIN
			UPDATE MST_EMP_CONSENT_DISCLARATION  SET Is_Selected = 0

			INSERT INTO MST_EMP_CONSENT_DISCLARATION 
			(
				EEFCA, ECT, ECST, EU_EmployeeMsg, Non_EUEmployeeMsg, CompanyLevelMsg, Is_Selected, LastUpdatedBy, LastUpdatedOn
			)
			VALUES
			(
				@EEFCA, @ECT, @ECST, @EU_EmployeeMsg, @Non_EUEmployeeMsg,@CompanyLevelMsg, 1, @LastUpdatedBy, @LastUpdatedOn
			)
		END
		IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_EVENT_FOR_CONSENT_ACCEPTANCE')
		BEGIN
			UPDATE MST_EMP_EVENT_FOR_CONSENT_ACCEPTANCE SET Is_Selected= 0
			UPDATE MST_EMP_EVENT_FOR_CONSENT_ACCEPTANCE SET Is_Selected= 1 WHERE EEFCA = @EEFCA
		END
		IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_CONSENT_TYPE')
		BEGIN
			UPDATE MST_EMP_CONSENT_TYPE SET Is_Selected= 0
			UPDATE MST_EMP_CONSENT_TYPE SET Is_Selected= 1 WHERE ECT = @ECT
		END
		IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_CONSENT_SUBTYPE')
		BEGIN
			UPDATE MST_EMP_CONSENT_SUBTYPE SET Is_Selected= 0
			UPDATE MST_EMP_CONSENT_SUBTYPE SET Is_Selected= 1 WHERE ECST = @ECST
		END

		SET @MESSAGE_OUT = 'Record Saved Successfully'
	END
			   
END
GO
