/****** Object:  StoredProcedure [dbo].[PROC_VESTING_ALERT_SETBY_CR]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_VESTING_ALERT_SETBY_CR]
GO
/****** Object:  StoredProcedure [dbo].[PROC_VESTING_ALERT_SETBY_CR]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_VESTING_ALERT_SETBY_CR]
(
	@CompanyId VARCHAR(50) = NULL
)
AS
BEGIN
	
		---------------------------
		-- DECLARE USED VARIABLES
		---------------------------

		DECLARE @MAILSUBJECT						NVARCHAR(MAX),
				@Bef_VestMailBody					NVARCHAR(MAX),
				@Aftr_VestMailBody					NVARCHAR(MAX),				
				@MailBody							NVARCHAR(MAX),
				@Comp_Id							NVARCHAR(40),
				@CRVestMailSent						BIT = 0,
				@ReminderAlert						CHAR,
				@Bef_VestDtYN						CHAR,
				@VestAlertNotice					TINYINT,
				@ReminderMailAlert					INT,
				@MaxMsgId							BIGINT,
				@MaxNewMsgId						BIGINT,
			    @Reminder_VS_AlertSetting			TINYINT,
			    @Reminder_LPS_AlertSetting			TINYINT,
			    @IS_PUP_ENABLE						BIT,
			    @PUP_VESTING_ALERT_NOTICE			SMALLINT,
			    @PUP_VESTING_ALERT_REMINDER_NOTICE	NVARCHAR,
			    @PUP_REMINDER_ALERT_NOTICE			SMALLINT,
			    @PUP_EXPIRY_ALERT_REM_NOTICE		NVARCHAR
			    
			    
		
		------------------------------
		-- ASSIGN VALUE TO VARIABLES
		------------------------------
		SET NOCOUNT ON;
		
		SELECT @MAILSUBJECT= MAILSUBJECT,@BEF_VESTMAILBODY=MAILBODY FROM MAILMESSAGES WHERE FORMATS ='BEFOREVESTMAILALERTFORCR'
		SELECT @AFTR_VESTMAILBODY = MAILBODY FROM MAILMESSAGES WHERE FORMATS ='AFTERVESTMAILALERTFORCR'
		SET @IS_PUP_ENABLE= (SELECT IsPUPEnabled  FROM CompanyMaster)
		--SELECT @MAILSUBJECT[mAILSUBJECT],@AFTR_VESTMAILBODY AFTR_VESTMAILBODY,@BEF_VESTMAILBODY BEF_VESTMAILBODY
		
		-----------------------------
		-- CREATE TEMPORARY TABLES 
		-----------------------------
		BEGIN	
			CREATE TABLE #TEMP_COMPANYDETAILS
			(	
				COMPANYID							NVARCHAR(100)	PRIMARY KEY,
				COMPANYNAME							NVARCHAR(200)	NOT NULL,
				COMPANYEMAILID						NVARCHAR(80),
				VESTINGALERTNOTICE					TINYINT,
				EXPIRYALERTNOTICE					TINYINT,
				REMINDERVESTALERT					TINYINT,
				REMINDEREXPIRYALERT					TINYINT,
				BEFOREVESTDTYN						CHAR,
				BEFOREEXPIRYDTYN					CHAR,
				SENDVESTALRTYN						CHAR,
				SENDEXPIRYALRTYN					CHAR,
				REMINDPERFVESTALERT					TINYINT,
				BEFOREPERFVESTDTYN					CHAR,
				SENDPERFVESTALRTYN					CHAR,
				FBTTAX								NUMERIC(18,2),
				FBTPAYBY							NVARCHAR(20),
				MAILSUBJECT							NVARCHAR(MAX),
				MAILBODY							NVARCHAR(MAX),
				PUP_VESTING_ALERT_IN_DAYS			TINYINT,
				PUP_EXPIRY_ALERT_IN_DAYS			TINYINT,
				PUP_IS_SEND_VEST_ALERT_REQUIRED		BIT,
				PUP_IS_SEND_EXPIRY_ALERT_REQUIRED	BIT,
				PUP_VESTING_ALERT_REMINDER_IN_DAYS	NVARCHAR(10),
				PUP_EXPIRY_ALERT_REMINDER_IN_DAYS	NVARCHAR(10),
				PUP_IS_BEFORE_VEST_DATE_REQUIRED	BIT,
				IS_PUP_ENABLED						BIT					
			)
			
			CREATE TABLE #TEMP_EMPLOYEEDETAILS
			(
				EMPLOYEEID		NVARCHAR(50),
				LOGINID			NVARCHAR(50),
				EMPNAME			NVARCHAR(100),
				EMPEMAIL		NVARCHAR(100),
				SCHEMEID		NVARCHAR(200),
				GRATREGID		NVARCHAR(100),
				GRANTDATE		DATE,
				EXERPRICE		DECIMAL(18,2),
				FBTVALUE		DECIMAL(18,2),
				GRANTID			INT,
				GRANTOPTID		NVARCHAR(200),
				GRANTEDOPTIONS	INT,
				VESTINGTYPE		CHAR,
				GRANTLEGID		TINYINT,
				FINLVESTDATE	DATE,
				FINLEXPIRYDATE	DATE,
				EXERCISEABLEQTY	INT,
				VESTMAILSENT	CHAR,
				OPTTIMEPERCNT	DECIMAL(18,2),
				OPTPERFPERCNT	DECIMAL(18,2),
				VESTPERIODID	INT,
				DTDIFFERNCE		SMALLINT,
				COMP_ID			NVARCHAR(100),
				MAILSUBJECT		NVARCHAR(MAX),	
				MAILBODY		NVARCHAR(MAX),
				[DESCRIPTION]	NVARCHAR(500),
				[ISPERFORMBASE] CHAR,
				CHK_PUP_ONLINE	BIT,
				SCH_PUP_ENABLED	BIT
						
			)
			
			CREATE TABLE #TEMP_MAIL_ALERT_CR_EMP
			(
				[Message_ID]							NUMERIC(18,0) IDENTITY (1, 1) NOT NULL, 
				[CompanyId]								VARCHAR(100) NOT NULL,
				[CompanyName]							VARCHAR(80),
				[EmployeeId]							NVARCHAR(50),
				[UserId]								NVARCHAR(50),	
				[LoginType]								CHAR,
				[EmployeeName]							NVARCHAR(100),	
				[EmployeeEmail]							NVARCHAR(80),
				[GrantOptionId]							NVARCHAR(200),
				[GrantedQty]							NUMERIC(18,2),	
				[VestingDate]							DATETIME,	
				[SchemeId]								NVARCHAR(200),	
				[GrantId]								NVARCHAR(300),
				[VestingType]							CHAR,
				[VestMailSent]							CHAR,
				[ReminderMailSent]						CHAR,
				[DtDiffernce]							SMALLINT,
				[Description]							NVARCHAR(500),
				[From]									NVARCHAR(80),
				[To]									NVARCHAR(MAX),	
				[Cc]									NVARCHAR(MAX),
				[Bcc]									NVARCHAR(MAX),
				[MailSubject]							NVARCHAR(MAX),
				[MailBody]								NVARCHAR(MAX),
				[MailSentdate]							DATETIME,
				[IsMailSent]							CHAR,
				[PUP_IS_SEND_VEST_ALERT_REQUIRED]		BIT,
				[PUP_VESTING_ALERT_REMINDER_IN_DAYS]	NVARCHAR(5)
				
			)
			
			CREATE TABLE #New_Message_To
			(
				Message_ID				NUMERIC(18,0) IDENTITY (1, 1) NOT NULL, 
				EmployeeID				NVARCHAR(80),
				MessageDate				DATE,
				MailSubject				NVARCHAR(100),
				MailBody				NVARCHAR(MAX)					
			)
		END
		----------------------------------------
		-- INSERT DATA INTO TEMPORARY TABLES    
		----------------------------------------
		
		INSERT INTO #TEMP_COMPANYDETAILS
			(	
				COMPANYID,COMPANYNAME,COMPANYEMAILID,VESTINGALERTNOTICE,EXPIRYALERTNOTICE,
				REMINDERVESTALERT, REMINDEREXPIRYALERT,BEFOREVESTDTYN,BEFOREEXPIRYDTYN,
				SENDVESTALRTYN, SENDEXPIRYALRTYN,REMINDPERFVESTALERT,BEFOREPERFVESTDTYN,
				SENDPERFVESTALRTYN,FBTTAX,FBTPAYBY, MAILSUBJECT,MAILBODY,
				
				PUP_VESTING_ALERT_IN_DAYS,PUP_EXPIRY_ALERT_IN_DAYS,
				PUP_IS_SEND_VEST_ALERT_REQUIRED,PUP_IS_SEND_EXPIRY_ALERT_REQUIRED,
				PUP_VESTING_ALERT_REMINDER_IN_DAYS,PUP_EXPIRY_ALERT_REMINDER_IN_DAYS,
				PUP_IS_BEFORE_VEST_DATE_REQUIRED,IS_PUP_ENABLED
			) 
		SELECT	CM.COMPANYID,
				CM.COMPANYNAME,
				CP.COMPANYEMAILID,
				CP.VESTINGALERTNOTICE,
				CP.EXPIRYALERTNOTICE,
				ISNULL(CP.REMINDERVESTINGALERT,0),
				CP.REMINDEREXPIRYALERT,
				CP.BEFOREVESTDATEYN,
				CP.BEFOREEXPIRTYDATEYN,				
				ISNULL(CP.SENDVESTALERTYN,'Y') AS SENDVESTALERTYN,
				ISNULL(CP.SENDEXPIRYALERTYN,'Y') AS SENDEXPIRYALERTYN,
				CP.REMINDERPERFORMANCEVESTINGALERT,
				CP.BEFOREPERFVESTDATEYN,
				ISNULL(CP.SENDPERFVESTALERTYN,'Y') AS SENDPERFVESTALERTYN,
				CP.FBTAX,
				CP.FBTPAYBY,
				@MAILSUBJECT MAILSUBJECT,

				CASE WHEN @IS_PUP_ENABLE=1 THEN
				
						CASE WHEN PP.IS_BEFORE_VEST_DATE_REQUIRED=1 THEN @BEF_VESTMAILBODY
							ELSE @AFTR_VESTMAILBODY
						END	 
				ELSE
					
						CASE WHEN CP.BEFOREVESTDATEYN='Y' THEN @BEF_VESTMAILBODY
							 WHEN CP.BEFOREVESTDATEYN='N' THEN @AFTR_VESTMAILBODY
							 ELSE @AFTR_VESTMAILBODY
						END
					
					END,
				PP.VESTING_ALERT_IN_DAYS,
				PP.EXPIRY_ALERT_IN_DAYS,
				ISNULL(PP.IS_SEND_VEST_ALERT_REQUIRED,0) AS SENDVESTALERTPUP,
				ISNULL(PP.IS_SEND_EXPIRY_ALERT_REQUIRED,0) AS SENDEXPALERTPUP,
				PP.VESTING_ALERT_REMINDER_IN_DAYS,
				PP.EXPIRY_ALERT_REMINDER_IN_DAYS,				
				ISNULL(PP.IS_BEFORE_VEST_DATE_REQUIRED,0)AS BEFORVSTDATEPUP,
				IsPUPEnabled				 
		FROM	PUP_PARAMETER PP CROSS JOIN COMPANYPARAMETERS CP INNER JOIN 
				COMPANYMASTER CM ON CP.COMPANYID = CM.COMPANYID

				--select * from #TEMP_COMPANYDETAILS
				
		INSERT INTO #TEMP_EMPLOYEEDETAILS
			(
				EMPLOYEEID,LOGINID,EMPNAME,EMPEMAIL,SCHEMEID,GRATREGID,
				GRANTDATE,EXERPRICE,FBTVALUE,GRANTID,GRANTOPTID,GRANTEDOPTIONS,
				VESTINGTYPE,GRANTLEGID,FINLVESTDATE,FINLEXPIRYDATE,EXERCISEABLEQTY,
				VESTMAILSENT,OPTTIMEPERCNT,	OPTPERFPERCNT,VESTPERIODID,DTDIFFERNCE,
				COMP_ID,MAILSUBJECT,MAILBODY,[DESCRIPTION],ISPERFORMBASE,CHK_PUP_ONLINE,SCH_PUP_ENABLED
			)
		SELECT	EM.EMPLOYEEID,
				EM.LOGINID,
				EM.EMPLOYEENAME,
				EM.EMPLOYEEEMAIL,
				GOP.SCHEMEID,
				GOP.GRANTREGISTRATIONID,
				GR.GRANTDATE,
				GR.EXERCISEPRICE,
				0.00 AS FBTVALUE,
				GL.ID AS GRANTID,
				GOP.GRANTOPTIONID,
				(GL.GRANTEDOPTIONS)-(GL.CANCELLEDQUANTITY) AS GRANTEDOPTIONS,				
				GL.VESTINGTYPE, 
				GL.GRANTLEGID,
				FINALVESTINGDATE,
				FINALEXPIRAYDATE,
				GL.EXERCISABLEQUANTITY,
				GL.VESTMAILSENT,
				VP.OPTIONTIMEPERCENTAGE, 
				VP.OPTIONPERFORMANCEPERCENTAGE,
				VP.VESTINGPERIODID,
				DATEDIFF(D,CONVERT(DATE,GETDATE()),	CONVERT(DATE,GL.FINALVESTINGDATE)) DATEDIFFERENCE,
				TComp.COMPANYID COMPANYID, 
				NULL MAILSUBJECT,
				NULL MAILBODY,
				NULL [DESCRIPTION],
				GL.IsPerfBased,
				SC.PUPEXEDPAYOUTPROCESS,
				SC.IsPUPEnabled
		FROM	PUP_PARAMETER PP CROSS JOIN EMPLOYEEMASTER AS EM 
				INNER JOIN USERMASTER AS UM ON EM.EMPLOYEEID = UM.EMPLOYEEID
				LEFT OUTER JOIN GRANTOPTIONS AS GOP ON EM.EMPLOYEEID = GOP.EMPLOYEEID
				INNER JOIN GRANTLEG AS GL ON GOP.GRANTOPTIONID = GL.GRANTOPTIONID
				INNER JOIN SCHEME AS SC ON GOP.SCHEMEID = SC.SCHEMEID
				INNER JOIN VESTINGPERIOD AS VP ON VP.VESTINGPERIODID = GL.VESTINGPERIODID
				INNER JOIN GRANTREGISTRATION AS GR ON GR.GRANTREGISTRATIONID = GOP.GRANTREGISTRATIONID 
				CROSS JOIN #TEMP_COMPANYDETAILS TComp
		WHERE 	(UM.ISUSERACTIVE = 'Y') 
			AND ((EM.REASONFORTERMINATION='2') OR (EM.DATEOFTERMINATION IS NULL))
			AND (GL.VESTMAILSENT IS NULL)
			AND CONVERT(DATE,GL.FINALVESTINGDATE) >= CONVERT(DATE,GETDATE())				
			AND (CONVERT(INT,TComp.VESTINGALERTNOTICE) >= CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FINALVESTINGDATE))) AND ((CONVERT(INT,TComp.VESTINGALERTNOTICE) - CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FINALVESTINGDATE)))) % CASE WHEN TComp.REMINDERVESTALERT = 0 THEN 1 ELSE TComp.REMINDERVESTALERT END) = 0)
			AND	(SC.ISPUPENABLED <>
					(
						CASE WHEN (@IS_PUP_ENABLE=1 AND PP.IS_SEND_VEST_ALERT_REQUIRED=1)
							  THEN -1
						ELSE 
							  1
						END
					)
				)

		GROUP BY EM.EMPLOYEEID,
				EM.LOGINID,
				EM.EMPLOYEENAME,
				EM.EMPLOYEEEMAIL,
				GOP.SCHEMEID,
				GOP.GRANTREGISTRATIONID,
				GR.GRANTDATE,
				GR.EXERCISEPRICE,		
				GL.ID,
				GOP.GRANTOPTIONID,
				GL.VESTINGTYPE, 
				GL.GRANTLEGID,
				FINALVESTINGDATE,
				FINALEXPIRAYDATE,
				GL.EXERCISABLEQUANTITY,
				GL.VESTMAILSENT,
				VP.OPTIONTIMEPERCENTAGE,
				VP.OPTIONPERFORMANCEPERCENTAGE, 
				VP.VESTINGPERIODID,
				GL.IsPerfBased,
				GL.GRANTEDOPTIONS, 
				GL.CancelledQuantity,
				SC.PUPEXEDPAYOUTPROCESS,
				SC.IsPUPEnabled,
				TComp.COMPANYID
		ORDER BY FINALVESTINGDATE
			
		-------------------------------------------------------------------
		-- GET MAX MESSAGE FROM MAIL SPOOL TABLE FROM MAILER DB DATABESE
		-------------------------------------------------------------------
		
		SET @MaxMsgId = (SELECT ISNULL(MAX(MessageID),0) + 1 AS MessageID FROM MailerDB..MailSpool)
		
		BEGIN
			DBCC CHECKIDENT(#TEMP_MAIL_ALERT_CR_EMP, RESEED, @MaxMsgId) 
		END	
				
		SET @MaxNewMsgId = (SELECT ISNULL(MAX(MessageID),0)+ 1	AS MessageID FROM NewMessageTo)
		
		BEGIN
			DBCC CHECKIDENT(#New_Message_To, RESEED, @MaxNewMsgId) 
		END		
		
		-------------------------------------------------------------
		-- CREATE NEW TEMPORARY TABLE FOR PERFORM OTHER OPERATION
		-------------------------------------------------------------
		SELECT	EMPLOYEEID,		LOGINID,		EMPNAME,		EMPEMAIL,		SCHEMEID,		GRATREGID,		GRANTDATE,		EXERPRICE,
				FBTVALUE,		GRANTID,		GRANTOPTID,		GRANTEDOPTIONS, VESTINGTYPE,	GRANTLEGID,		FINLVESTDATE,	FINLEXPIRYDATE,
				EXERCISEABLEQTY,VESTMAILSENT,	OPTTIMEPERCNT,	OPTPERFPERCNT,  VESTPERIODID,	DTDIFFERNCE,	TCOMP.MAILSUBJECT,	TCOMP.MAILBODY,		
				[DESCRIPTION],	COMP_ID,		COMPANYNAME,    COMPANYEMAILID,	VESTINGALERTNOTICE,				EXPIRYALERTNOTICE,		
				(VESTINGALERTNOTICE)*-1 AS NEGTIVEVESTALERT,    REMINDERVESTALERT,	REMINDEREXPIRYALERT,		BEFOREVESTDTYN,	BEFOREEXPIRYDTYN,
				SENDVESTALRTYN,SENDEXPIRYALRTYN,REMINDPERFVESTALERT,BEFOREPERFVESTDTYN,			SENDPERFVESTALRTYN,		FBTTAX,	FBTPAYBY, ISPERFORMBASE,				
				CONVERT(INT,PUP_VESTING_ALERT_IN_DAYS)*-1 AS NEGTIVE_VEST_ALERT_PUP,	PUP_VESTING_ALERT_IN_DAYS,
				PUP_EXPIRY_ALERT_IN_DAYS,			PUP_IS_SEND_VEST_ALERT_REQUIRED,	PUP_IS_SEND_EXPIRY_ALERT_REQUIRED,	
				PUP_VESTING_ALERT_REMINDER_IN_DAYS,	PUP_EXPIRY_ALERT_REMINDER_IN_DAYS,	PUP_IS_BEFORE_VEST_DATE_REQUIRED,IS_PUP_ENABLED,CHK_PUP_ONLINE,SCH_PUP_ENABLED
				
		INTO	#TEMP_EMPDET_COMPDET
		FROM	#TEMP_EMPLOYEEDETAILS AS TEMP INNER JOIN 
				#TEMP_COMPANYDETAILS AS TCOMP ON TEMP.COMP_ID = TCOMP.COMPANYID
		---------------------------------------------------------------
		-- START OPERATION OVER #TEMP_EMPDET_COMPDET DATA
		-- CONDITION 1 : SEND MAIL TO CR BASED ON SETTING 
		-- BEFORE VEST MAIL WITH EMPLOYEE MAIL FORMATS
		-- AFTER VEST MAIL WITH EMPLOYEE MAIL FORMATS
		---------------------------------------------------------------		
		--SELECT VESTINGALERTNOTICE,PUP_VESTING_ALERT_IN_DAYS,* FROM #TEMP_EMPDET_COMPDET
		IF(@CRVESTMAILSENT = 0)
		BEGIN
			
			DECLARE @QUERY_FOR_PUP NVARCHAR(MAX),
					@QUERY_FOR_NON_PUP NVARCHAR(MAX),
					@QUERY_CONST_PART NVARCHAR(MAX),
					@FINAL_VEST_MAIL_QUERY NVARCHAR(MAX)
					
				SET @QUERY_CONST_PART=
				'INSERT INTO #TEMP_MAIL_ALERT_CR_EMP
										(SchemeId,CompanyId,CompanyName,[From],[To],[Bcc],MailSubject,MailBody,MailSentdate,
											IsMailSent,LoginType,EmployeeId)
											SELECT 	DISTINCT SCHEMEID,
													COMP_ID,
													COMPANYNAME,
													COMPANYEMAILID AS [FROM],
													COMPANYEMAILID AS [TO], 
													NULL AS [BCC],								
													MAILSUBJECT,
													REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(MAILBODY,
														''{0}'',REPLACE(CONVERT(VARCHAR(11), GETDATE()+3, 106), '' '', ''/'')),
														''{1}'',COMPANYNAME),
														''{2}'',SCHEMEID),
														''{3}'',REPLACE(CONVERT(VARCHAR(11), GRANTDATE, 106), '' '', ''/'')),
														''{4}'',REPLACE(CONVERT(VARCHAR(11), FINLVESTDATE, 106), '' '', ''/'')),
													CONVERT(DATE,GETDATE()+3) MAILSENTDATE,
													1,
													''C'',
													''CR''				
											FROM	#TEMP_EMPDET_COMPDET'
				
				select * from #TEMP_MAIL_ALERT_CR_EMP
				SET @QUERY_FOR_NON_PUP=' WHERE  VESTINGALERTNOTICE >= 0 
							AND		DTDIFFERNCE = CASE WHEN BEFOREVESTDTYN=''Y'' 
															THEN (VESTINGALERTNOTICE + 3)
													   WHEN BEFOREVESTDTYN=''N'' 
															THEN ABS(NEGTIVEVESTALERT + 3) 
													END '

				SET @QUERY_FOR_PUP= ' WHERE	PUP_VESTING_ALERT_IN_DAYS >= 0 AND IS_PUP_ENABLED=1
				AND		DTDIFFERNCE = CASE	WHEN PUP_IS_SEND_VEST_ALERT_REQUIRED=1 
												THEN (PUP_VESTING_ALERT_IN_DAYS + 3)
											WHEN PUP_IS_SEND_VEST_ALERT_REQUIRED=0 
												THEN ABS(NEGTIVE_VEST_ALERT_PUP + 3) 
									  END '
				
				SET @FINAL_VEST_MAIL_QUERY = @QUERY_CONST_PART + @QUERY_FOR_NON_PUP
				
				EXEC SP_EXECUTESQL @FINAL_VEST_MAIL_QUERY
				
				IF(@IS_PUP_ENABLE=1)
				BEGIN
					SET @FINAL_VEST_MAIL_QUERY=''
					SET @FINAL_VEST_MAIL_QUERY = @QUERY_CONST_PART + @QUERY_FOR_PUP					
					EXEC SP_EXECUTESQL @FINAL_VEST_MAIL_QUERY
				END
				
				SELECT @CRVESTMAILSENT = 1
				
				SELECT	COMPANYID,COMPANYNAME,[FROM],[TO],[CC],[BCC],MAILSUBJECT,MAILBODY,MAILSENTDATE,
						ISMAILSENT,SCHEMEID,GrantOptionId,VestingDate,GrantedQty 
				FROM	#TEMP_MAIL_ALERT_CR_EMP	
				WHERE	LoginType='C'
		END
		-------------------------------------------------------
		-- ASSIGN VALUES TO DECLARED VARIABLES
		-------------------------------------------------------
		SELECT @MAILSUBJECT = MAILSUBJECT, @MAILBODY = MAILBODY FROM MAILMESSAGES  WHERE FORMATS='VESTINGMAILALERTFOREMP'
		SELECT @COMP_ID = COMPANYID, @VESTALERTNOTICE = ISNULL(VESTINGALERTNOTICE,0),@ReminderMailAlert=ISNULL(REMINDERVESTALERT,0),
			   @PUP_VESTING_ALERT_NOTICE= ISNULL(PUP_VESTING_ALERT_IN_DAYS,0),@PUP_VESTING_ALERT_REMINDER_NOTICE=ISNULL(PUP_VESTING_ALERT_REMINDER_IN_DAYS,0)
			   
		FROM #TEMP_COMPANYDETAILS
		
		-------------------------------------------------------
		-- CHECK BONUSSPLITPOLICY TYPE TO FILTER EMAIL
		-------------------------------------------------------
		Declare @IsConsolidated INT
		set  @IsConsolidated= (Select Count(*) from BonusSplitPolicy where DisplayAs ='C')

		-------------------------------------------------------
		-- PERFORM OPERATION SECOND
		-- SEND MAIL TO EMPLOYEE BASED ON SETTINGS
		-- Remaing points : 
		-- 1/ TEMPORARY		- INSERT OPERATION 
		-- 2/ NewMessageTo	- INSERT OPERATION
		-- 3/ GrantLeg		- UPDATE OPERATION
		-- 4/ MailerDB		= INSERT OPERATION
		-------------------------------------------------------
		BEGIN
		IF(@VESTALERTNOTICE >= 0)
		BEGIN
		IF(@IsConsolidated > 0)
		 BEGIN
		INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,
					 UserId,	EmployeeName, EmployeeEmail, [From],[To], SchemeId, VestingType, 
					 LoginType, VestMailSent, GrantId, GrantedQty,GrantOptionId,VestingDate,
					 DtDiffernce, [Description], CompanyId, MailSubject, MailBody )			
			SELECT 
					EMPLOYEEID,
					LOGINID,		
					EMPNAME,		
					EMPEMAIL,
					COMPANYEMAILID,
					EMPEMAIL,
					SCHEMEID,		
					VESTINGTYPE,
					'E',			
					'V' VESTMAILSENT,
					CONVERT(VARCHAR(100), MIN(GRANTID)) + '|' + CONVERT(VARCHAR(100), MAX(GRANTID)) AS GRANTID,						
					SUM(GRANTEDOPTIONS) AS GRANTEDOPTIONS,
					GRANTOPTID,
					FINLVESTDATE,		
					DTDIFFERNCE,
					[DESCRIPTION],
					COMP_ID,
					@MAILSUBJECT MAILSUBJECT,	
					CASE	
						WHEN UPPER(@COMP_ID)='TECHMAHINDRA'	
							THEN 
								REPLACE(REPLACE(REPLACE(
									REPLACE(REPLACE(REPLACE(REPLACE(
											REPLACE(@MAILBODY,
												'{0}', TEMP.EMPNAME),
							  					'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}', TEMP.SCHEMEID),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}', SUM(TEMP.EXERCISEABLEQTY)),
												'{5}', TEMP.EXERPRICE),
												'{6}', CASE	WHEN (TEMP.FBTVALUE) > 0 THEN TEMP.FBTVALUE ELSE 0 END),
												'{7}', CASE	WHEN ((CASE WHEN (TEMP.FBTVALUE) > 0 THEN TEMP.FBTVALUE ELSE 0 END)-((TEMP.EXERPRICE)*(TEMP.FBTTAX/100)) < 0) 
															THEN 0 
															ELSE (CASE WHEN (TEMP.FBTVALUE) > 0 THEN TEMP.FBTVALUE ELSE 0 END)-((TEMP.EXERPRICE)*(TEMP.FBTTAX/100))  END) 
						WHEN UPPER(@COMP_ID)='IDEA'			
							THEN 
								REPLACE(REPLACE(REPLACE
									(REPLACE(REPLACE(REPLACE(REPLACE
											(REPLACE(REPLACE(@MAILBODY,
												'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}',TEMP.SCHEMEID),
												'{3}',REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}',SUM(TEMP.EXERCISEABLEQTY)),
												'{5}',TEMP.EXERPRICE),
												'{6}',TEMP.GRATREGID),
												'{7}',TEMP.GRANTLEGID),
												'{8}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','/'))
						WHEN UPPER(@COMP_ID)='KOTAK'			
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE
									(REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MAILBODY,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}', TEMP.SCHEMEID),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}', SUM(TEMP.EXERCISEABLEQTY)),
												'{5}', TEMP.EXERPRICE),
												'{6}', TEMP.GRATREGID),
												'{7}', TEMP.GRANTLEGID),
												'{8}', REPLACE(CONVERT(NVARCHAR(11),
														CASE WHEN TEMP.VESTINGTYPE='T' THEN TEMP.OPTTIMEPERCNT
															 WHEN TEMP.VESTINGTYPE='P' THEN TEMP.OPTPERFPERCNT END		-- NEED TO ADD PERFORMANCE BASED PERCENTAGE										
												,113),' ','-')),
												'{9}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','/'))
						WHEN UPPER(@COMP_ID)='BAJAJFINANCE_QA'		
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE
									(REPLACE(REPLACE(REPLACE(@MAILBODY,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}', TEMP.SCHEMEID),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}', SUM(TEMP.EXERCISEABLEQTY)),
												'{5}', TEMP.EXERPRICE),												
												'{9}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','/'))
						ELSE 	
							REPLACE(REPLACE(REPLACE(REPLACE(
								REPLACE(REPLACE(REPLACE(@MAILBODY,
												'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}',TEMP.SCHEMEID),
												'{3}',REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}', SUM(TEMP.EXERCISEABLEQTY)),
												'{5}',TEMP.EXERPRICE),
												'{9}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','/'))
					END	MAILBODY				
					
			FROM	#TEMP_EMPDET_COMPDET TEMP
			WHERE	
			DTDIFFERNCE = CASE WHEN BEFOREVESTDTYN='Y' THEN (VESTINGALERTNOTICE) END
			AND		TEMP.EXERCISEABLEQTY > 0
			AND		SENDVESTALRTYN = 'Y'
			AND		(TEMP.SCH_PUP_ENABLED=0)	
			GROUP BY
					 EMPLOYEEID,LOGINID,EMPNAME,EMPEMAIL,SCHEMEID,	
					 VESTINGTYPE,GRANTOPTID, FINLVESTDATE,DTDIFFERNCE,[DESCRIPTION],COMP_ID,				
					 Temp.COMPANYEMAILID,Temp.EMPEMAIL,Temp.COMPANYNAME,MAILSUBJECT,TEMP.FBTVALUE,TEMP.GRATREGID,
					 TEMP.FBTTAX,TEMP.OPTPERFPERCNT,TEMP.GRANTLEGID,TEMP.OPTTIMEPERCNT,
					 TEMP.GRANTDATE,TEMP.EXERPRICE,TEMP.FINLEXPIRYDATE
		END
		ELSE
		  BEGIN
			INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,
					 UserId,	EmployeeName, EmployeeEmail, [From],[To], SchemeId, VestingType, 
					 LoginType, VestMailSent, GrantId, GrantedQty,GrantOptionId,VestingDate,
					 DtDiffernce, [Description], CompanyId, MailSubject, MailBody )			
			SELECT 
					EMPLOYEEID,
					LOGINID,		
					EMPNAME,		
					EMPEMAIL,
					COMPANYEMAILID,
					EMPEMAIL,
					SCHEMEID,		
					VESTINGTYPE,
					'E',			
					'V' VESTMAILSENT,
					GRANTID,
					GRANTEDOPTIONS,
					GRANTOPTID,
					FINLVESTDATE,		
					DTDIFFERNCE,
					[DESCRIPTION],
					COMP_ID,
					@MAILSUBJECT MAILSUBJECT,	
					CASE	
						WHEN UPPER(@COMP_ID)='TECHMAHINDRA'	
							THEN 
								REPLACE(REPLACE(REPLACE(
									REPLACE(REPLACE(REPLACE(REPLACE(
											REPLACE(@MAILBODY,
												'{0}', TEMP.EMPNAME),
							  					'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}', TEMP.SCHEMEID),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}', TEMP.EXERPRICE),
												'{6}', CASE	WHEN (TEMP.FBTVALUE) > 0 THEN TEMP.FBTVALUE ELSE 0 END),
												'{7}', CASE	WHEN ((CASE WHEN (TEMP.FBTVALUE) > 0 THEN TEMP.FBTVALUE ELSE 0 END)-((TEMP.EXERPRICE)*(TEMP.FBTTAX/100)) < 0) 
															THEN 0 
															ELSE (CASE WHEN (TEMP.FBTVALUE) > 0 THEN TEMP.FBTVALUE ELSE 0 END)-((TEMP.EXERPRICE)*(TEMP.FBTTAX/100))  END) 
						WHEN UPPER(@COMP_ID)='IDEA'			
							THEN 
								REPLACE(REPLACE(REPLACE
									(REPLACE(REPLACE(REPLACE(REPLACE
											(REPLACE(REPLACE(@MAILBODY,
												'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}',TEMP.SCHEMEID),
												'{3}',REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}',TEMP.EXERCISEABLEQTY),
												'{5}',TEMP.EXERPRICE),
												'{6}',TEMP.GRATREGID),
												'{7}',TEMP.GRANTLEGID),
												'{8}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','/'))
						WHEN UPPER(@COMP_ID)='KOTAK'			
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE
									(REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MAILBODY,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}', TEMP.SCHEMEID),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}', TEMP.EXERPRICE),
												'{6}', TEMP.GRATREGID),
												'{7}', TEMP.GRANTLEGID),
												'{8}', REPLACE(CONVERT(NVARCHAR(11),
														CASE WHEN TEMP.VESTINGTYPE='T' THEN TEMP.OPTTIMEPERCNT
															 WHEN TEMP.VESTINGTYPE='P' THEN TEMP.OPTPERFPERCNT END		-- NEED TO ADD PERFORMANCE BASED PERCENTAGE										
												,113),' ','-')),
												'{9}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','/'))
						WHEN UPPER(@COMP_ID)='AXISBANK'		
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE
									(REPLACE(REPLACE(REPLACE(@MAILBODY,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}', TEMP.SCHEMEID),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}', TEMP.EXERPRICE),												
												'{9}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','/'))
						ELSE 	
							REPLACE(REPLACE(REPLACE(
								REPLACE(REPLACE(REPLACE(@MAILBODY,
												'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}',TEMP.SCHEMEID),
												'{3}',REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}',TEMP.EXERPRICE)
					END	MAILBODY				
					
			FROM	#TEMP_EMPDET_COMPDET TEMP
			WHERE	
			DTDIFFERNCE = CASE WHEN BEFOREVESTDTYN='Y' THEN (VESTINGALERTNOTICE) END
			AND		TEMP.EXERCISEABLEQTY > 0
			AND		SENDVESTALRTYN = 'Y'
			AND		(TEMP.SCH_PUP_ENABLED=0)
			
			
		END
		END

		IF(@IS_PUP_ENABLE=1 AND @PUP_VESTING_ALERT_NOTICE >= 0)
		BEGIN
			INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,
					 UserId,	EmployeeName, EmployeeEmail, [From],[To], SchemeId, VestingType, 
					 LoginType, VestMailSent, GrantId, GrantedQty,GrantOptionId,VestingDate,
					 DtDiffernce, [Description], CompanyId, MailSubject, MailBody )			
			SELECT 
					EMPLOYEEID,
					LOGINID,		
					EMPNAME,		
					EMPEMAIL,
					COMPANYEMAILID,
					EMPEMAIL,
					SCHEMEID,		
					VESTINGTYPE,
					'E',			
					'V' VESTMAILSENT,
					GRANTID,
					GRANTEDOPTIONS,
					GRANTOPTID,
					FINLVESTDATE,		
					DTDIFFERNCE,
					[DESCRIPTION],
					COMP_ID,
					@MAILSUBJECT MAILSUBJECT,
					REPLACE(REPLACE(REPLACE(
								REPLACE(REPLACE(REPLACE(@MAILBODY,
												'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}',TEMP.SCHEMEID),
												'{3}',REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}',TEMP.EXERPRICE) 
			FROM	#TEMP_EMPDET_COMPDET TEMP
			WHERE	CONVERT(INT,TEMP.DTDIFFERNCE) = CASE WHEN TEMP.PUP_IS_BEFORE_VEST_DATE_REQUIRED=1 THEN CONVERT(INT,TEMP.PUP_VESTING_ALERT_IN_DAYS) END
			AND		TEMP.EXERCISEABLEQTY > 0
			AND		TEMP.PUP_IS_SEND_VEST_ALERT_REQUIRED = 1
			AND		TEMP.CHK_PUP_ONLINE =1
		END 
		
			INSERT INTO #New_Message_To(
					EmployeeID,		
					MessageDate,
					MailSubject,
					MailBody
					)
			SELECT	CRVMA.EmployeeId,
					CONVERT(DATE,GETDATE()),
					CRVMA.MailSubject,
					--REPLACE(REPLACE(REPLACE(REPLACE(VMA.MailBody,'</P>',' '),'<P>', ' '),'<br />', ' '),'&nbsp;',' ')
					REPLACE(REPLACE(
					REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
					REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CRVMA.MailBody,
						'<div style="font-family: arial; font-size: 12px; width: 600px; line-height: 20px;">',''),
						'<table style="width: 100%; font-family: arial; font-size: 12px; line-height: 20px; border-collapse: collapse;" cellpadding="4" cellspaing="0">',''),									
						'<tr>',''),
						'</tr>',''),
						'<td style="width: 50%; border: 1px solid #000;">',''),
						'</td>',''),
						'</table>',''),
						'<td colspan="2">',''),
						'</div>',''),
						'<td colspan="2" style="text-align: justify;  font-family: arial; font-size: 12px; line-height: 20px; ">',''),
						'<a href="https://www.esopdirect.com/GlobalMyESOPs/Login.aspx">',''),
						'</a>',''),
						'<br />',''),
						'<b>',''),
						'</b>',''),
						'<a href="mailto:fundinghelpdesk@esopdirect.com">',''),
						'<a href="mailto:techmahindra@esopdirect.com">',''),
						'<a href="mailto:axisbank@esopdirect.com">',''),
						'<a href="http://www.esopdirect.com/">','')
						
			FROM	#TEMP_MAIL_ALERT_CR_EMP AS CRVMA
			WHERE	MailBody IS NOT NULL
			AND		CRVMA.LoginType='E'		
			AND		CRVMA.VestMailSent='Y'
			SELECT	EmployeeId, UserId,	EmployeeName, EmployeeEmail, SchemeId, VestingType, 
					LoginType, VestMailSent, GrantId, SchemeId,	GrantOptionId,	GrantedQty,
					VestingDate, DtDiffernce, [Description], CompanyId, 
					MailSubject [CRVestMailSubject_Alert], MailBody [CRVestMailBody_Alert]
			FROM   #TEMP_MAIL_ALERT_CR_EMP	
			WHERE	VestMailSent='V'
			AND		LoginType='E'	
		END

		-------------------------------------------------------
		-- PERFORM OPERATION THIRD
		-- SEND "REMINDER MAIL TO EMPLOYEE" BASED ON SETTINGS
		-- 0/ PERFORM LOGIC		- SELECT OPERATION
		-- 1/ TEMPRARY TABLE	- INSERT OPERATION	
		-- 2/ MAILERDB			- INSERT OPERATION
		-- 3/ NEWMESSAGETO		- INSERT OPERATION
		-------------------------------------------------------
		BEGIN
			DELETE #TEMP_EMPDET_COMPDET
		
			DECLARE @CONST_INSERT_QUERY		NVARCHAR(MAX),
					@WHERE_CLAUSE_NON_PUP	NVARCHAR(MAX),
					@WHERE_CLAUSE_PUP		NVARCHAR(MAX),
					@CONST_GROUPBY_CLAUSE	NVARCHAR(MAX),
					@CONST_FINAL_QUERY		NVARCHAR(MAX),
					@PARAMETER				NVARCHAR(MAX)
					
			
			SET @PARAMETER= N'@MailSubject NVARCHAR(MAX), @MailBody NVARCHAR(MAX)'
			

			SET @CONST_INSERT_QUERY=N'
			INSERT INTO #TEMP_EMPDET_COMPDET
			(
				EMPLOYEEID,
				LOGINID,
				EMPNAME,
				EMPEMAIL,
				SCHEMEID,
				GRATREGID,
				GRANTDATE,
				EXERPRICE,
				FBTVALUE,
				GRANTID,
				GRANTOPTID,
				GRANTEDOPTIONS, 
				VESTINGTYPE,
				GRANTLEGID,
				FINLVESTDATE,
				FINLEXPIRYDATE,
				EXERCISEABLEQTY,
				VESTMAILSENT,
				OPTTIMEPERCNT,
				OPTPERFPERCNT,  
				VESTPERIODID,
				DTDIFFERNCE,
				MAILSUBJECT,
				MAILBODY,
				[DESCRIPTION],
				COMP_ID,
				COMPANYNAME,    
				COMPANYEMAILID,
				VESTINGALERTNOTICE,
				EXPIRYALERTNOTICE,
				NEGTIVEVESTALERT,    
				REMINDERVESTALERT,
				REMINDEREXPIRYALERT,
				BEFOREVESTDTYN,
				BEFOREEXPIRYDTYN,
				SENDVESTALRTYN,
				SENDEXPIRYALRTYN,
				REMINDPERFVESTALERT,
				BEFOREPERFVESTDTYN,
				SENDPERFVESTALRTYN,
				FBTTAX,
				FBTPAYBY,
				PUP_VESTING_ALERT_IN_DAYS,
				PUP_EXPIRY_ALERT_IN_DAYS,
				PUP_IS_SEND_VEST_ALERT_REQUIRED,
				PUP_IS_SEND_EXPIRY_ALERT_REQUIRED,	
				PUP_VESTING_ALERT_REMINDER_IN_DAYS,
				PUP_EXPIRY_ALERT_REMINDER_IN_DAYS,
				PUP_IS_BEFORE_VEST_DATE_REQUIRED,
				IS_PUP_ENABLED		
			)
			SELECT	EM.EMPLOYEEID,
					EM.LOGINID,
					EM.EMPLOYEENAME,
					EM.EMPLOYEEEMAIL,
					GOP.SCHEMEID,
					GOP.GRANTREGISTRATIONID,
					GR.GRANTDATE,
					GR.EXERCISEPRICE,
					0.00 AS FBTVALUE,
					GL.ID AS GRANTID,
					GOP.GRANTOPTIONID,
					GL.GRANTEDOPTIONS - GL.CANCELLEDQUANTITY AS GRANTEDOPTIONS,
					GL.VESTINGTYPE, 
					GL.GRANTLEGID,
					FINALVESTINGDATE,
					FINALEXPIRAYDATE,
					GL.EXERCISABLEQUANTITY,
					GL.VESTMAILSENT,
					VP.OPTIONTIMEPERCENTAGE, 
					VP.OPTIONPERFORMANCEPERCENTAGE,
					VP.VESTINGPERIODID,
					DATEDIFF(D,CONVERT(DATE,GETDATE()),	CONVERT(DATE,GL.FINALVESTINGDATE)) DATEDIFFERENCE,
					@MailSubject,
					@MailBody,
					NULL,
					TComp.COMPANYID,
					TComp.COMPANYNAME,
					TComp.COMPANYEMAILID,
					TComp.VESTINGALERTNOTICE,
					TComp.EXPIRYALERTNOTICE,
					0,
					TComp.REMINDERVESTALERT,
					Null,
					Null,
					Null,
					''Y'',
					Null,
					Null,
					Null,
					Null,
					0,
					Null,
					TComp.PUP_VESTING_ALERT_IN_DAYS,
					TComp.PUP_EXPIRY_ALERT_IN_DAYS,
					TComp.PUP_IS_SEND_VEST_ALERT_REQUIRED,
					TComp.PUP_IS_SEND_EXPIRY_ALERT_REQUIRED,	
					TComp.PUP_VESTING_ALERT_REMINDER_IN_DAYS,
					TComp.PUP_EXPIRY_ALERT_REMINDER_IN_DAYS,
					TComp.PUP_IS_BEFORE_VEST_DATE_REQUIRED,
					TCOMP.IS_PUP_ENABLED
			FROM	PUP_PARAMETER PP, EMPLOYEEMASTER AS EM 
					INNER JOIN USERMASTER AS UM ON EM.EMPLOYEEID = UM.EMPLOYEEID
					LEFT OUTER JOIN GRANTOPTIONS AS GOP ON EM.EMPLOYEEID = GOP.EMPLOYEEID
					INNER JOIN GRANTLEG AS GL ON GOP.GRANTOPTIONID = GL.GRANTOPTIONID
					INNER JOIN SCHEME AS SC ON GOP.SCHEMEID = SC.SCHEMEID
					INNER JOIN VESTINGPERIOD AS VP ON VP.VESTINGPERIODID = GL.VESTINGPERIODID
					INNER JOIN GRANTREGISTRATION AS GR ON GR.GRANTREGISTRATIONID = GOP.GRANTREGISTRATIONID,
					#TEMP_COMPANYDETAILS TComp  '
					
					SET @CONST_GROUPBY_CLAUSE = '   GROUP BY EM.EMPLOYEEID,
												EM.LOGINID,
												EM.EMPLOYEENAME,
												EM.EMPLOYEEEMAIL,
												GOP.SCHEMEID,
												GOP.GRANTREGISTRATIONID,
												GR.GRANTDATE,
												GR.EXERCISEPRICE,		
												GL.ID,
												GOP.GRANTOPTIONID,
												GL.VESTINGTYPE, 
												GL.GRANTLEGID,
												FINALVESTINGDATE,
												FINALEXPIRAYDATE,
												GL.EXERCISABLEQUANTITY,
												GL.VESTMAILSENT,
												VP.OPTIONTIMEPERCENTAGE,
												VP.OPTIONPERFORMANCEPERCENTAGE, 
												VP.VESTINGPERIODID,
												TComp.COMPANYID,
												TComp.COMPANYNAME,
												TComp.COMPANYEMAILID,
												TComp.VESTINGALERTNOTICE,
												TComp.EXPIRYALERTNOTICE,
												TComp.ReminderVestAlert,
												GL.GrantedOptions,
												GL.CancelledQuantity,
												TComp.PUP_VESTING_ALERT_IN_DAYS,
												TComp.PUP_EXPIRY_ALERT_IN_DAYS,
												TComp.PUP_IS_SEND_VEST_ALERT_REQUIRED,
												TComp.PUP_IS_SEND_EXPIRY_ALERT_REQUIRED,	
												TComp.PUP_VESTING_ALERT_REMINDER_IN_DAYS,
												TComp.PUP_EXPIRY_ALERT_REMINDER_IN_DAYS,
												TComp.PUP_IS_BEFORE_VEST_DATE_REQUIRED,
												TCOMP.IS_PUP_ENABLED
										ORDER BY FINALVESTINGDATE'

										print 'step 2'
										select * from #TEMP_EMPDET_COMPDET

					
					DECLARE @WHERE_CLAUSE AS VARCHAR(MAX)
					IF (@ReminderMailAlert > 0) 
						SET @WHERE_CLAUSE = ' AND (CONVERT(INT,TComp.VESTINGALERTNOTICE) >= CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FINALVESTINGDATE))) AND ((CONVERT(INT,TComp.VESTINGALERTNOTICE) - CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FINALVESTINGDATE)))) % TComp.REMINDERVESTALERT) = 0) '
					
					SET @WHERE_CLAUSE_NON_PUP=  
						N'   WHERE   
						(UM.ISUSERACTIVE = ''Y'') 
						AND ((EM.REASONFORTERMINATION=''2'') OR (EM.DATEOFTERMINATION IS NULL))								
						AND DATEADD(DAY,CONVERT(INT,TComp.REMINDERVESTALERT),DATEADD(DAY,-TComp.VESTINGALERTNOTICE,CONVERT(DATE,GL.FINALVESTINGDATE))) <= CONVERT(DATE,GL.FINALVESTINGDATE)
						AND CONVERT(DATE,GL.FINALVESTINGDATE) >= CONVERT(DATE,GETDATE())				
						AND	(SC.ISPUPENABLED = 0)
						'+ @WHERE_CLAUSE +
						' AND ExercisableQuantity > 0
						AND (TComp.BEFOREVESTDTYN=''Y'')'
						
					IF (@ReminderMailAlert > 0) 
						SET @WHERE_CLAUSE = ' AND (CONVERT(INT,TComp.PUP_VESTING_ALERT_REMINDER_IN_DAYS) >= CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FINALVESTINGDATE))) AND ((CONVERT(INT,TComp.PUP_VESTING_ALERT_IN_DAYS) - CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FINALVESTINGDATE)))) % TComp.PUP_VESTING_ALERT_REMINDER_IN_DAYS) = 0) '
					
					SET @WHERE_CLAUSE_PUP= 
						N'   WHERE  
						(UM.ISUSERACTIVE = ''Y'') 
						AND ((EM.REASONFORTERMINATION=''2'') OR (EM.DATEOFTERMINATION IS NULL))													
						AND DATEADD(DAY,CONVERT(INT,TComp.PUP_VESTING_ALERT_REMINDER_IN_DAYS),DATEADD(DAY,-CONVERT(INT,TComp.PUP_VESTING_ALERT_IN_DAYS),CONVERT(DATE,GL.FINALVESTINGDATE))) <= CONVERT(DATE,GL.FINALVESTINGDATE)
						AND CONVERT(DATE,GL.FINALVESTINGDATE) >= CONVERT(DATE,GETDATE())
						AND (SC.ISPUPENABLED = 1) AND (SC.PUPEXEDPAYOUTPROCESS = 1)
						'+ @WHERE_CLAUSE +
						' AND IS_PUP_ENABLED = 1
						AND ExercisableQuantity > 0
						AND (TComp.PUP_IS_BEFORE_VEST_DATE_REQUIRED=1)'
					
					SET @CONST_FINAL_QUERY = @CONST_INSERT_QUERY + @WHERE_CLAUSE_NON_PUP + @CONST_GROUPBY_CLAUSE
					EXEC SP_EXECUTESQL @CONST_FINAL_QUERY,@PARAMETER,@MAILSUBJECT,@MAILBODY
					
					IF(@IS_PUP_ENABLE = 1)
					BEGIN						
						SET @CONST_FINAL_QUERY = @CONST_INSERT_QUERY + @WHERE_CLAUSE_PUP + @CONST_GROUPBY_CLAUSE
						EXEC SP_EXECUTESQL @CONST_FINAL_QUERY,@PARAMETER,@MAILSUBJECT,@MAILBODY
					END
					
		END
		--------------------------------------------------------------------------------
		-- Reminder vesting mail alert data insertion process for PUP and Non PUP schemes
		--------------------------------------------------------------------------------
		
		BEGIN
			
			IF(@ReminderMailAlert >=0)
			BEGIN

			IF(@IsConsolidated >=0)
			BEGIN
			print '@IsConsolidated'
			-------------------
		
			INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,			
						 UserId,	EmployeeName, EmployeeEmail, SchemeId, VestingType, LoginType, 
						 ReminderMailSent,GRANTID, GrantedQty,GrantOptionId,VestingDate,
						 DtDiffernce, [Description], CompanyId,[From],[To],[CompanyName], MailSubject, MailBody )
				SELECT 
						EMPLOYEEID,						  
						LOGINID,		
						EMPNAME,		
						EMPEMAIL,
						TEMP.SCHEMEID,		
						TEMP.VESTINGTYPE,
						'E',			
						'Y' REMINDERMAILSENT,
						CONVERT(VARCHAR(100), MIN(GRANTID)) + '|' + CONVERT(VARCHAR(100), MAX(GRANTID)) AS GRANTID,						
						 SUM(GRANTEDOPTIONS) AS GRANTEDOPTIONS,
						  GRANTOPTID,
						  FINLVESTDATE,			
						  DTDIFFERNCE,
						 [DESCRIPTION],
						COMP_ID,
						Temp.COMPANYEMAILID,
						Temp.EMPEMAIL,
						Temp.COMPANYNAME,					
						@MAILSUBJECT MAILSUBJECT,	
						CASE
							WHEN UPPER(@COMP_ID)='BAJAJFINANCE_QA'		
								THEN 
									REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(REPLACE(@MAILBODY,'{0}', TEMP.EMPNAME),
													'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
													'{2}', TEMP.SCHEMEID),
													'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
													'{4}', SUM(TEMP.EXERCISEABLEQTY)),
													'{5}', TEMP.EXERPRICE),												
													'{9}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','/'))
					
						ELSE 	
								REPLACE(REPLACE(REPLACE(
									REPLACE(REPLACE(REPLACE(@MAILBODY,
													'{0}', TEMP.EMPNAME),
													'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
													'{2}',TEMP.SCHEMEID),
													'{3}',REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
													'{4}', SUM(TEMP.EXERCISEABLEQTY)),
													'{5}',TEMP.EXERPRICE)
						END	MAILBODY
						
				FROM	#TEMP_EMPDET_COMPDET TEMP				
				WHERE	CONVERT(DATE,GETDATE()) >= DATEADD(DAY,TEMP.REMINDERVESTALERT,DATEADD(DAY,-TEMP.VESTINGALERTNOTICE,CONVERT(DATE,TEMP.FINLVESTDATE)))
					AND DATEADD(DAY,TEMP.REMINDERVESTALERT,DATEADD(DAY,-TEMP.VESTINGALERTNOTICE,CONVERT(DATE,TEMP.FINLVESTDATE))) <= CONVERT(DATE,TEMP.FINLVESTDATE)				
					AND CONVERT(DATE,TEMP.FINLVESTDATE) >= CONVERT(DATE,GETDATE())				
					AND EXERCISEABLEQTY > 0 		
					GROUP BY
					 EMPLOYEEID,LOGINID,EMPNAME,EMPEMAIL,SCHEMEID,	
					 VESTINGTYPE,GRANTOPTID, FINLVESTDATE,DTDIFFERNCE,[DESCRIPTION],COMP_ID,				
					 Temp.COMPANYEMAILID,Temp.EMPEMAIL,Temp.COMPANYNAME,	MAILSUBJECT,
					 TEMP.GRANTDATE,TEMP.EXERPRICE,TEMP.FINLEXPIRYDATE
			---------------	
			END

			ELSE

			BEGIN			

				INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,
						 UserId,	EmployeeName, EmployeeEmail, SchemeId, VestingType, LoginType, 
						 ReminderMailSent, GrantId, GrantedQty,GrantOptionId,VestingDate,
						 DtDiffernce, [Description], CompanyId,[From],[To],[CompanyName], MailSubject, MailBody )
				SELECT 
						EMPLOYEEID,		
						LOGINID,		
						EMPNAME,		
						EMPEMAIL,
						SCHEMEID,		
						VESTINGTYPE,
						'E',			
						'Y' REMINDERMAILSENT,
						GRANTID,					
						GRANTEDOPTIONS,
						GRANTOPTID,
						FINLVESTDATE,			
						DTDIFFERNCE,
						[DESCRIPTION],
						COMP_ID,
						Temp.COMPANYEMAILID,
						Temp.EMPEMAIL,
						Temp.COMPANYNAME,
						@MAILSUBJECT MAILSUBJECT,	
						CASE	
							WHEN UPPER(@COMP_ID)='TECHMAHINDRA'	
								THEN 
									REPLACE(REPLACE(REPLACE(
										REPLACE(REPLACE(REPLACE(REPLACE(
												REPLACE(@MAILBODY,
													'{0}', TEMP.EMPNAME),
								  					'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
													'{2}', TEMP.SCHEMEID),
													'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
													'{4}', TEMP.EXERCISEABLEQTY),
													'{5}', TEMP.EXERPRICE),
													'{6}', CASE	WHEN (TEMP.FBTVALUE) > 0 THEN TEMP.FBTVALUE ELSE 0 END),
													'{7}', CASE	WHEN ((CASE WHEN (TEMP.FBTVALUE) > 0 THEN TEMP.FBTVALUE ELSE 0 END)-((TEMP.EXERPRICE)*(TEMP.FBTTAX/100)) < 0) 
																THEN 0 
																ELSE (CASE WHEN (TEMP.FBTVALUE) > 0 THEN TEMP.FBTVALUE ELSE 0 END)-((TEMP.EXERPRICE)*(TEMP.FBTTAX/100))  END) 
							WHEN UPPER(@COMP_ID)='IDEA'			
								THEN 
									REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(REPLACE(REPLACE
												(REPLACE(REPLACE(@MAILBODY,
													'{0}', TEMP.EMPNAME),
													'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
													'{2}',TEMP.SCHEMEID),
													'{3}',REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
													'{4}',TEMP.EXERCISEABLEQTY),
													'{5}',TEMP.EXERPRICE),
													'{6}',TEMP.GRATREGID),
													'{7}',TEMP.GRANTLEGID),
													'{8}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','/'))
							WHEN UPPER(@COMP_ID)='KOTAK'			
								THEN 
									REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(REPLACE(REPLACE
											(REPLACE(REPLACE(@MAILBODY,'{0}', TEMP.EMPNAME),
													'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
													'{2}', TEMP.SCHEMEID),
													'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
													'{4}', TEMP.EXERCISEABLEQTY),
													'{5}', TEMP.EXERPRICE),
													'{6}', TEMP.GRATREGID),
													'{7}', TEMP.GRANTLEGID),
													'{8}', REPLACE(CONVERT(NVARCHAR(11),
															CASE WHEN TEMP.VESTINGTYPE='T' THEN TEMP.OPTTIMEPERCNT
																 WHEN TEMP.VESTINGTYPE='P' THEN TEMP.OPTPERFPERCNT END		-- NEED TO ADD PERFORMANCE BASED PERCENTAGE										
													,113),' ','-')),
													'{9}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','/'))
							WHEN UPPER(@COMP_ID)='AXISBANK'		
								THEN 
									REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(REPLACE(@MAILBODY,'{0}', TEMP.EMPNAME),
													'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
													'{2}', TEMP.SCHEMEID),
													'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
													'{4}', TEMP.EXERCISEABLEQTY),
													'{5}', TEMP.EXERPRICE),												
													'{9}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','/'))
							ELSE 	
								REPLACE(REPLACE(REPLACE(
									REPLACE(REPLACE(REPLACE(@MAILBODY,
													'{0}', TEMP.EMPNAME),
													'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
													'{2}',TEMP.SCHEMEID),
													'{3}',REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
													'{4}', TEMP.EXERCISEABLEQTY),
													'{5}',TEMP.EXERPRICE)
						END	MAILBODY
						
				FROM	#TEMP_EMPDET_COMPDET TEMP
				WHERE	CONVERT(DATE,GETDATE()) >= DATEADD(DAY,TEMP.REMINDERVESTALERT,DATEADD(DAY,-TEMP.VESTINGALERTNOTICE,CONVERT(DATE,TEMP.FINLVESTDATE)))
					AND DATEADD(DAY,TEMP.REMINDERVESTALERT,DATEADD(DAY,-TEMP.VESTINGALERTNOTICE,CONVERT(DATE,TEMP.FINLVESTDATE))) <= CONVERT(DATE,TEMP.FINLVESTDATE)				
					AND CONVERT(DATE,TEMP.FINLVESTDATE) >= CONVERT(DATE,GETDATE())				
					AND EXERCISEABLEQTY > 0
			END

			END
			
			--------------------------------------------------------------
			-- PUP VESTING REMINDER MAIL SECTION
			 --SELECT 'INSERT INTO PUP SECTION'
			--------------------------------------------------------------
			
			IF(@IS_PUP_ENABLE=1 AND @PUP_VESTING_ALERT_REMINDER_NOTICE >=0) 
			BEGIN
				INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,
					 UserId,	EmployeeName, EmployeeEmail, SchemeId, VestingType, LoginType, 
					 ReminderMailSent, GrantId, GrantedQty,GrantOptionId,VestingDate,
					 DtDiffernce, [Description], CompanyId,[From],[To],[CompanyName], MailSubject, MailBody )
			SELECT 
					EMPLOYEEID,		
					LOGINID,		
					EMPNAME,		
					EMPEMAIL,
					SCHEMEID,		
					VESTINGTYPE,
					'E',			
					'Y' REMINDERMAILSENT,
					GRANTID,					
					GRANTEDOPTIONS,
					GRANTOPTID,
					FINLVESTDATE,			
					DTDIFFERNCE,
					[DESCRIPTION],
					COMP_ID,
					Temp.COMPANYEMAILID,
					Temp.EMPEMAIL,
					Temp.COMPANYNAME,
					@MAILSUBJECT MAILSUBJECT,
					
					REPLACE(REPLACE(REPLACE(
								REPLACE(REPLACE(REPLACE(@MAILBODY,
												'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLVESTDATE,113),' ','/')),
												'{2}',TEMP.SCHEMEID),
												'{3}',REPLACE(CONVERT(NVARCHAR(11),TEMP.GRANTDATE,113),' ','/')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}',TEMP.EXERPRICE)
				FROM	#TEMP_EMPDET_COMPDET TEMP										
				WHERE	CONVERT(DATE,GETDATE()) >= DATEADD(DAY,CONVERT(INT,TEMP.PUP_VESTING_ALERT_REMINDER_IN_DAYS),DATEADD(DAY,-CONVERT(INT,TEMP.PUP_VESTING_ALERT_IN_DAYS),CONVERT(DATE,TEMP.FINLVESTDATE)))
				AND		DATEADD(DAY,CONVERT(INT,TEMP.PUP_VESTING_ALERT_REMINDER_IN_DAYS),DATEADD(DAY,-CONVERT(INT,TEMP.PUP_VESTING_ALERT_IN_DAYS),CONVERT(DATE,TEMP.FINLVESTDATE))) <= CONVERT(DATE,TEMP.FINLVESTDATE)
				AND		CONVERT(DATE,TEMP.FINLVESTDATE) >= CONVERT(DATE,GETDATE()) 
				AND		EXERCISEABLEQTY > 0
				END
			
			
			INSERT INTO #New_Message_To(
					EmployeeID,		
					MessageDate,
					MailSubject,
					MailBody
					)
			SELECT	CRVMA.EmployeeId,
					CONVERT(DATE,GETDATE()),
					CRVMA.MailSubject,
					--REPLACE(REPLACE(REPLACE(REPLACE(VMA.MailBody,'</P>',' '),'<P>', ' '),'<br />', ' '),'&nbsp;',' ')
					REPLACE(REPLACE(
					REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
					REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CRVMA.MailBody,
						'<div style="font-family: arial; font-size: 12px; width: 600px; line-height: 20px;">',''),
						'<table style="width: 100%; font-family: arial; font-size: 12px; line-height: 20px; border-collapse: collapse;" cellpadding="4" cellspaing="0">',''),									
						'<tr>',''),
						'</tr>',''),
						'<td style="width: 50%; border: 1px solid #000;">',''),
						'</td>',''),
						'</table>',''),
						'<td colspan="2">',''),
						'</div>',''),
						'<td colspan="2" style="text-align: justify;  font-family: arial; font-size: 12px; line-height: 20px; ">',''),
						'<a href="http://www.myesops.com/">',''),
						'</a>',''),
						'<br />',''),
						'<b>',''),
						'</b>',''),
						'<a href="mailto:fundinghelpdesk@esopdirect.com">',''),
						'<a href="mailto:techmahindra@esopdirect.com">',''),
						'<a href="mailto:axisbank@esopdirect.com">',''),
						'<a href="http://www.esopdirect.com/">','')
						
			FROM	#TEMP_MAIL_ALERT_CR_EMP AS CRVMA
			WHERE	MailBody IS NOT NULL
			AND		CRVMA.LoginType='E'
			AND		CRVMA.ReminderMailSent='Y'
		
			SELECT	EmployeeId, UserId,	EmployeeName, EmployeeEmail, SchemeId, VestingType, 
					LoginType, ReminderMailSent, GrantId, SchemeId,GrantOptionId,GrantedQty [GrantedOptions],
					VestingDate, DtDiffernce, [Description], CompanyId, 
					MailSubject [ReminderMailSubject], MailBody [ReminderMailBody]
			FROM   #TEMP_MAIL_ALERT_CR_EMP		
			WHERE	ReminderMailSent='Y'
			AND		LoginType='E'
		END
		----------------
		BEGIN
			IF((SELECT COUNT(EmployeeId) AS ROW_COUNT FROM #TEMP_MAIL_ALERT_CR_EMP) > 0)
			BEGIN
		
				BEGIN TRY
					BEGIN TRANSACTION
						----------------------------------
						-- Inser Records into MailSpool
						----------------------------------
						INSERT INTO [MailerDB]..[MailSpool]
							([MessageID], [From], [To], [Subject], [Description], [Attachment1], [Attachment2], 
							[Attachment3],[Attachment4], [MailSentOn], [Cc], [enablereadreceipt], [deliveryNotify], 
							[Bcc], [FailureSendMailAttempt], [CreatedOn])
						SELECT Message_ID, [From], [To], MailSubject, MailBody, NULL, NULL, NULL, NULL, NULL, NULL, 
							'N', 'N', NULL, NULL, GETDATE() 
						FROM #TEMP_MAIL_ALERT_CR_EMP
						
						-----------------------
						-- Insert Records into NewMessageTo 
						-----------------------
						INSERT INTO NewMessageTo
							(MessageID,EmployeeID,MessageDate,[Subject],[Description],ReadDateTime,CategoryID,
								IsReplySent,LastUpdatedBy,LastUpdatedOn,IsDeleted)
						SELECT	Message_ID,EmployeeID,MessageDate,NMT.MailSubject,NMT.MailBody,NULL,2,0,'Admin',GETDATE(),0 
						FROM	#New_Message_To NMT
						WHERE	(NMT.MailBody IS NOT NULL)
						
						---------------------------------------------
						-- Update SetAlert Table
						---------------------------------------------
						UPDATE	SA SET SA.IsMailSentForVesting = '0' 
						FROM	SetAlert AS SA 
								INNER JOIN #TEMP_MAIL_ALERT_CR_EMP AS CRVMA ON CRVMA.EmployeeId = SA.EmployeeID 
						WHERE	(CRVMA.MailBody IS NOT NULL) AND CRVMA.LoginType='E' AND (CRVMA.VestMailSent IS NOT NULL) 
							
						------------------------------------------------------
						-- Update GrantLeg Table 
						------------------------------------------------------
						--UPDATE GL SET GL.VestMailSent = 'V' FROM GrantLeg AS GL
						--		INNER JOIN #TEMP_MAIL_ALERT_CR_EMP AS CRVMA ON CRVMA.GrantId = GL.ID 
						--WHERE (CRVMA.MailBody IS NOT NULL) AND (CRVMA.VestMailSent IS NOT NULL)	
						select * from #TEMP_MAIL_ALERT_CR_EMP where MailBody is not NULL
						PRINT 'Step 1';
					
						-------------------------------------------------------------					
						
					COMMIT TRANSACTION
				END TRY
				BEGIN CATCH
					IF @@TRANCOUNT > 0
						ROLLBACK TRANSACTION
					INSERT INTO ESOPMANAGER..ErrorLog(Client,Exception,[Message],loggedTime,UserID)
						SELECT @Comp_Id,ERROR_STATE(),ERROR_MESSAGE(),GETDATE(),'TS-VestAlertByCR'
					
					SELECT	ERROR_NUMBER()		AS ErrorNumber, 
							ERROR_SEVERITY()	AS ErrorSeverity, 
							ERROR_STATE()		AS ErrorState, 
							ERROR_PROCEDURE()	AS ErrorProcedure, 
							ERROR_LINE()		AS ErrorLine, 
							ERROR_MESSAGE()		AS ErrorMessage;
				END CATCH	
			END			
		END
	
	SET NOCOUNT OFF;
END

GO
