/****** Object:  StoredProcedure [dbo].[PROC_SAVE_ACTUALCALC_FORTENTATIVE]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SAVE_ACTUALCALC_FORTENTATIVE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SAVE_ACTUALCALC_FORTENTATIVE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SAVE_ACTUALCALC_FORTENTATIVE] 
(
	@TYPE_FORTENTATIVE_SCHEME dbo.TYPE_FORTENTATIVE_SCHEME READONLY,
	@EXERCISENO VARCHAR(500) = NULL
)
AS
BEGIN
        DECLARE @SCHEMEID VARCHAR (500),@CALCULATE_TAX VARCHAR (500),@CALCUALTE_TAX_PRIOR_DAYS VARCHAR (500),@ExerciseNO1 BIGINT 
	    -- CREATE TEMP TABLE --
		CREATE TABLE #EMPLOYEES_TEMP_DETAILS
		(  
			ID INT IDENTITY(1,1) NOT NULL,INSTRUMENT_ID BIGINT,EMPLOYEE_ID VARCHAR(50),GRANTOPTIONID VARCHAR(50),GRANTDATE VARCHAR(200),VESTINGDATE VARCHAR(200),EXERCISE_DATE DATETIME,
			TEMP_TAXFLAG VARCHAR(50),EXERCISE_PRICE  NUMERIC(18,9 ),OPTION_VESTED NUMERIC(18,9),OPTION_EXERCISED NUMERIC(18,9),GRANTED_OPTIONS NUMERIC(18,9),GRANTLEGSERIALNO BIGINT ,
			FMV_VALUE NUMERIC(18,9) NULL,EXERCISEID BIGINT NULL ,TAXFLAG VARCHAR(50),PERQ_VALUE NUMERIC(18,4)NULL,TAX_VALUE NUMERIC(18,4)NULL,SCHEME_TYPE VARCHAR (50)
		)
	 
		CREATE TABLE #EMPLOYEES_UPDATED_DATA
		(  
			ID INT IDENTITY(1,1) NOT NULL,INSTRUMENT_ID BIGINT,EMPLOYEE_ID VARCHAR(50),GRANTOPTIONID VARCHAR(50),GRANTDATE VARCHAR(200),VESTINGDATE VARCHAR(200),EXERCISE_DATE DATETIME,
			TEMP_TAXFLAG VARCHAR(50),EXERCISE_PRICE  NUMERIC(18,9 ),OPTION_VESTED NUMERIC(18,9),OPTION_EXERCISED NUMERIC(18,9),GRANTED_OPTIONS NUMERIC(18,9),GRANTLEGSERIALNO BIGINT ,
			FMV_VALUE NUMERIC(18,9) NULL,EXERCISEID BIGINT NULL ,TAXFLAG VARCHAR(50),PERQ_VALUE NUMERIC(18,4)NULL,TAX_VALUE NUMERIC(18,4)NULL,SCHEME_TYPE VARCHAR (50)
		)  
		
		CREATE TABLE #TempExercise_Tax_Details
       (
          EXERCISE_ID BIGINT,GRANTLEGSERIALNO BIGINT, EXERCISE_NO INT
        ) 
		-- CREATE TEMP TABLE --		
         SET @ExerciseNO1 = (SELECT DISTINCT EXERCISEID FROM @TYPE_FORTENTATIVE_SCHEME WHERE SCHEME_TYPE = 'rdoTentativeTax')

		INSERT INTO #TempExercise_Tax_Details (	EXERCISE_ID ,GRANTLEGSERIALNO ,EXERCISE_NO )
		SELECT ExerciseId,GrantLegSerialNumber ,ExerciseNo
		FROM ShExercisedOptions
		WHERE ExerciseNo =@ExerciseNO1
		
        -- INSERT DATA INTO TABLE --
	    INSERT INTO #EMPLOYEES_TEMP_DETAILS 
		(
			INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, GRANTDATE, VESTINGDATE, EXERCISE_DATE,TEMP_TAXFLAG,
			EXERCISE_PRICE,OPTION_VESTED ,OPTION_EXERCISED ,GRANTED_OPTIONS ,GRANTLEGSERIALNO,EXERCISEID ,SCHEME_TYPE
		)
		SELECT  
			 TF.INSTRUMENT_ID, TF.EMPLOYEE_ID, TF.GRANTOPTIONID, TF.GRANTDATE,VESTINGDATE, TF.EXERCISE_DATE,TF.TEMP_TAXFLAG,
		     TF.EXERCISE_PRICE,TF.OPTION_VESTED ,TF.OPTION_EXERCISED ,TF.GRANTED_OPTIONS ,TF.GRANTLEGSERIALNO,TTD.EXERCISE_ID ,TF.SCHEME_TYPE
		FROM @TYPE_FORTENTATIVE_SCHEME AS TF
		INNER JOIN #TempExercise_Tax_Details AS TTD          
           ON TF.GRANTLEGSERIALNO=TTD.GRANTLEGSERIALNO
		WHERE SCHEME_TYPE = 'rdoTentativeTax'

		INSERT INTO #EMPLOYEES_UPDATED_DATA 
		(
			INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, GRANTDATE, VESTINGDATE, EXERCISE_DATE,TEMP_TAXFLAG,
			EXERCISE_PRICE,OPTION_VESTED ,OPTION_EXERCISED ,GRANTED_OPTIONS ,GRANTLEGSERIALNO,EXERCISEID ,SCHEME_TYPE
		)
		SELECT  
			 TF.INSTRUMENT_ID, TF.EMPLOYEE_ID, TF.GRANTOPTIONID, TF.GRANTDATE,VESTINGDATE, TF.EXERCISE_DATE,TF.TEMP_TAXFLAG,
		     TF.EXERCISE_PRICE,TF.OPTION_VESTED ,TF.OPTION_EXERCISED ,TF.GRANTED_OPTIONS ,TF.GRANTLEGSERIALNO,TTD.EXERCISE_ID ,TF.SCHEME_TYPE
		FROM @TYPE_FORTENTATIVE_SCHEME AS TF
		INNER JOIN #TempExercise_Tax_Details AS TTD          
           ON TF.GRANTLEGSERIALNO=TTD.GRANTLEGSERIALNO
		WHERE SCHEME_TYPE = 'rdoTentativeTax'
		-- INSERT DATA INTO TABLE --
		
		
			 				 
		---- CALCULATE FMV CALCULATON ----
		DECLARE @FMV_VALUE_TYPE dbo.TYPE_FMV_VALUE

		INSERT INTO @FMV_VALUE_TYPE 
		SELECT INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, GRANTDATE, VESTINGDATE, EXERCISE_DATE,TEMP_TAXFLAG FROM #EMPLOYEES_TEMP_DETAILS
             
  EXEC PROC_GET_FMV_VALUE @EMPLOYEE_DETAILS = @FMV_VALUE_TYPE     
        
  UPDATE TED SET     
     TED.FMV_VALUE = TFD.FMV_VALUE ,    
     TED.TAXFLAG = TFD.TAXFLAG      
  FROM #EMPLOYEES_TEMP_DETAILS AS TED    
  INNER JOIN TEMP_FMV_DETAILS TFD ON TFD.INSTRUMENT_ID = TED.INSTRUMENT_ID    
  WHERE    
   (TFD.EMPLOYEE_ID = TED.EMPLOYEE_ID) AND (TFD.GRANTOPTIONID = TED.GrantOptionId)     
   AND (CONVERT(DATE, TFD.GRANTDATE) = CONVERT(DATE, TED.GrantDate)) AND (CONVERT(DATE, TFD.VESTINGDATE) = CONVERT(DATE, TED.VESTINGDATE))     
   AND (CONVERT(DATE, TFD.EXERCISE_DATE) =  CONVERT(DATE, TED.EXERCISE_DATE))  AND TFD.TAXFLAG = 'A'       
   
   UPDATE TEUD SET     
     TEUD.FMV_VALUE = TFD.FMV_VALUE    
     ,TEUD.TAXFLAG = TFD.TAXFLAG    
       
  FROM #EMPLOYEES_UPDATED_DATA AS TEUD    
  INNER JOIN TEMP_FMV_DETAILS TFD ON TFD.INSTRUMENT_ID = TEUD.INSTRUMENT_ID    
  WHERE    
   (TFD.EMPLOYEE_ID = TEUD.EMPLOYEE_ID) AND (TFD.GRANTOPTIONID = TEUD.GrantOptionId)     
   AND (CONVERT(DATE, TFD.GRANTDATE) = CONVERT(DATE, TEUD.GrantDate)) AND (CONVERT(DATE, TFD.VESTINGDATE) = CONVERT(DATE, TEUD.VESTINGDATE))     
   AND (CONVERT(DATE, TFD.EXERCISE_DATE) =  CONVERT(DATE, TEUD.EXERCISE_DATE))   AND TFD.TAXFLAG = 'A'      
      
  SELECT     
   INSTRUMENT_ID, EMPLOYEE_ID, EXERCISE_PRICE,OPTION_VESTED, CASE TAXFLAG WHEN 'A' THEN FMV_VALUE ELSE FMV_VALUE END,     
   OPTION_EXERCISED, GRANTED_OPTIONS , EXERCISE_DATE, GrantOptionId, GrantDate, VESTINGDATE, GRANTLEGSERIALNO, NULL, NULL,EXERCISEID     
  FROM     
   #EMPLOYEES_TEMP_DETAILS     
  ---- CALCULATE FMV CALCULATON ----    
      
      
  ----- CALCULATE PERQUSITE VALUE -----    
  DECLARE @PERQ_VALUE_TYPE dbo.TYPE_PERQ_VALUE    
     
  INSERT INTO @PERQ_VALUE_TYPE     
  SELECT     
   INSTRUMENT_ID, EMPLOYEE_ID, EXERCISE_PRICE,OPTION_VESTED, CASE TAXFLAG WHEN 'A' THEN FMV_VALUE ELSE FMV_VALUE END,     
   OPTION_EXERCISED, GRANTED_OPTIONS , EXERCISE_DATE, GrantOptionId, GrantDate, VESTINGDATE, GRANTLEGSERIALNO, NULL, NULL,EXERCISEID     
  FROM     
   #EMPLOYEES_TEMP_DETAILS    
  WHERE  TAXFLAG = 'A'   
    
  EXEC PROC_GET_PERQUISITE_VALUE @EMPLOYEE_DETAILS = @PERQ_VALUE_TYPE     
        
  UPDATE TEUD SET     
      
   TEUD.PERQ_VALUE =  TPD.PERQ_VALUE     
  FROM     
   #EMPLOYEES_UPDATED_DATA AS TEUD    
  INNER JOIN TEMP_PERQUISITE_DETAILS AS TPD ON TPD.INSTRUMENT_ID = TEUD.INSTRUMENT_ID     
  WHERE     
   (TPD.EMPLOYEE_ID = TEUD.EMPLOYEE_ID) AND (TPD.EXERCISE_PRICE = TEUD.EXERCISE_PRICE) AND     
   (TPD.OPTION_VESTED = TEUD.OPTION_VESTED) AND (TPD.OPTION_EXERCISED = TEUD.OPTION_EXERCISED) AND     
   (TPD.GRANTED_OPTIONS = TEUD.GRANTED_OPTIONS) AND (CONVERT(DATE, TPD.EXERCISE_DATE) = CONVERT(DATE, TEUD.EXERCISE_DATE)) AND     
   (TPD.GRANTOPTIONID = TEUD.GrantOptionId) AND (CONVERT(DATE, TPD.GRANTDATE) = CONVERT(DATE, TEUD.GrantDate)) AND     
   CONVERT(DATE, TPD.VESTINGDATE) = CONVERT(DATE, TEUD.VESTINGDATE)    
         
  ----- CALCULATE PERQUSITE VALUE -----    
      
      
  --/* ADD DATA TO TYPE */    
  DECLARE @PERQ_VALUE_RESULT11 dbo.TYPE_PERQ_FORAUTOEXERCISE    
  INSERT INTO @PERQ_VALUE_RESULT11    
      
  SELECT     
   INSTRUMENT_ID, EMPLOYEE_ID, FMV_VALUE, PERQ_VALUE, EVENTOFINCIDENCE, GRANTDATE, VESTINGDATE,     
   EXERCISE_DATE, GRANTOPTIONID, GRANTLEGSERIALNO, TEMP_EXERCISEID           
  FROM     
   TEMP_PERQUISITE_DETAILS WHERE PERQ_VALUE IS NOT NULL    
      
  IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_PERQUISITE_DETAILS')    
  BEGIN    
   DROP TABLE TEMP_PERQUISITE_DETAILS      
  END    
      
       -------- CALCULATE TAX CALCULATION ---------      
     CREATE TABLE #TAX_CALCULATION     
  (     
   TAX_HEADING NVARCHAR(50), TAX_RATE FLOAT, RESIDENT_STATUS NVARCHAR(250), TAX_AMOUNT FLOAT, Country NVARCHAR(250),    
   [STATE] NVARCHAR(250), BASISOFTAXATION NVARCHAR(250), FMV NVARCHAR(250), TOTAL_PERK_VALUE FLOAT, COUNTRY_ID INT,     
   MIT_ID INT, EmployeeID VARCHAR(50), GRANTOPTIONID VARCHAR(50), VESTING_DATE DATETIME,    
   GRANTLEGSERIALNO BIGINT, FROM_DATE DATETIME, TO_DATE DATETIME, TAX_FLAG NCHAR(1), EXERCISE_ID BIGINT    
  )      
         
  DECLARE @PERQ_VALUE_TYPE_AUTO_EXE11 dbo.TYPE_PERQ_VALUE_AUTO_EXE    
        
     INSERT INTO @PERQ_VALUE_TYPE_AUTO_EXE11     
    SELECT     
   INSTRUMENT_ID, EMPLOYEE_ID, EXERCISE_PRICE,OPTION_VESTED, CASE TAXFLAG WHEN 'A' THEN FMV_VALUE ELSE FMV_VALUE END,     
   OPTION_EXERCISED, GRANTED_OPTIONS , EXERCISE_DATE, GrantOptionId, GrantDate, VESTINGDATE, GRANTLEGSERIALNO, NULL, NULL,EXERCISEID     
  FROM     
   #EMPLOYEES_TEMP_DETAILS    
  WHERE TAXFLAG = 'A'    
        
  EXEC PROC_GET_TAXFORAUTOEXERCISE @PERQ_DETAILS = @PERQ_VALUE_TYPE_AUTO_EXE11, @PERQ_RESULT = @PERQ_VALUE_RESULT11    
      
  ---- INSERT VALUES INTO TAX TEMP TABLE ---    
  INSERT INTO #TAX_CALCULATION    
  (    
   TAX_HEADING, TAX_RATE, RESIDENT_STATUS, TAX_AMOUNT, Country, [STATE], BASISOFTAXATION, FMV, TOTAL_PERK_VALUE, COUNTRY_ID,     
   MIT_ID, EmployeeID, GRANTOPTIONID, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE, EXERCISE_ID     
  )    
  SELECT     
   TGTD.TAX_HEADING, TGTD.TAX_RATE, TGTD.RESIDENT_STATUS, TGTD.TAX_AMOUNT, TGTD.Country, TGTD.[STATE],     
   TGTD.BASISOFTAXATION, TGTD.FMV, TGTD.TOTAL_PERK_VALUE, TGTD.COUNTRY_ID, TGTD.MIT_ID, TGTD.EmployeeID, TGTD.GRANTOPTIONID,     
   TGTD.VESTING_DATE, TGTD.GRANTLEGSERIALNO, TGTD.FROM_DATE, TGTD.TO_DATE, TGTD.TEMP_EXERCISEID      
  FROM     
   TEMP_GET_TAXDETAILS AS TGTD     
       
       
     UPDATE     
   TC SET TC.TAX_FLAG = TFD.TAXFLAG    
  FROM #TAX_CALCULATION AS TC    
   INNER JOIN TEMP_FMV_DETAILS AS TFD ON TC.MIT_ID = TFD.INSTRUMENT_ID    
  WHERE    
   TC.EmployeeID = TFD.EMPLOYEE_ID AND TC.GRANTOPTIONID = TFD.GRANTOPTIONID AND CONVERT(DATE,TC.VESTING_DATE) =  CONVERT(DATE,TFD.VESTINGDATE)    
      
  SELECT    
   TAX_HEADING, TAX_RATE, RESIDENT_STATUS , TAX_AMOUNT, Country, [STATE], BASISOFTAXATION, FMV, TOTAL_PERK_VALUE, COUNTRY_ID ,     
   MIT_ID, EmployeeID, GRANTOPTIONID, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE, TAX_FLAG, EXERCISE_ID    
  FROM     
   #TAX_CALCULATION    
    
   IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_FMV_DETAILS')    
  BEGIN    
   DROP TABLE TEMP_FMV_DETAILS    
  END    
       
       
       
     CREATE TABLE #TEMP_TAX_PAYBLE     
 (     
    EXERCISE_ID BIGINT, TAX_FLAG NCHAR(1),Perq_Tax_rate NUMERIC(18,6),PerqstPayable NUMERIC(18,6),TentativePerqstPayable NUMERIC(18,6)    
 )    
      
 INSERT INTO #TEMP_TAX_PAYBLE    
 (    
  EXERCISE_ID, TAX_FLAG, Perq_Tax_rate, PerqstPayable, TentativePerqstPayable    
 )    
 SELECT    
  EXERCISE_ID, TAX_FLAG, SUM(TAX_RATE),    
  CASE WHEN TAX_FLAG = 'A' THEN SUM(TAX_AMOUNT) ELSE NULL END AS PaybleTax,    
  CASE WHEN TAX_FLAG ='T' THEN SUM(TAX_AMOUNT) ELSE NULL END AS TentativePaybleTax          
 FROM     
  #TAX_CALCULATION        
  GROUP BY EXERCISE_ID, TAX_FLAG    
     
              
  UPDATE TAED SET     
   TAED.TAX_VALUE = (SELECT dbo.FN_PQ_TAX_ROUNDING(TTP.PerqstPayable))     
      
  FROM     
   #EMPLOYEES_UPDATED_DATA AS TAED     
  INNER JOIN #TEMP_TAX_PAYBLE TTP ON TAED.ExerciseId = TTP.EXERCISE_ID     
       
     
     
  ---- -- ACTUAL VALUES IN ShExercisedOptions AND  EXERCISE_TAXRATE_DETAILS TABLE --          
  UPDATE SHEO SET         
  SHEO.FMVPrice = EUD.FMV_VALUE ,SHEO.PerqstValue = EUD.PERQ_VALUE,SHEO.PerqstPayable = EUD.TAX_VALUE         
  FROM     
  ShExercisedOptions AS SHEO INNER JOIN #EMPLOYEES_UPDATED_DATA AS EUD ON SHEO.ExerciseId = EUD.ExerciseId    
  WHERE SHEO.GrantLegSerialNumber = EUD.GRANTLEGSERIALNO    
  AND EUD.TAXFLAG != '0'    
      
      UPDATE ETD SET         
  ETD.FMVVALUE = EUD.FMV ,ETD.PERQVALUE = EUD.TOTAL_PERK_VALUE,ETD.TAX_AMOUNT = EUD.TAX_AMOUNT         
  FROM     
  [EXERCISE_TAXRATE_DETAILS] AS ETD INNER JOIN #TAX_CALCULATION AS EUD ON ETD.EXERCISE_NO = EUD.EXERCISE_ID    
  WHERE ETD.GRANTLEGSERIALNO = EUD.GRANTLEGSERIALNO    
  AND ETD.COUNTRY_ID = EUD.COUNTRY_ID    
      
        -- ACTUAL VALUES IN ShExercisedOptions AND EXERCISE_TAXRATE_DETAILS TABLE --     
         
     DROP TABLE  #EMPLOYEES_TEMP_DETAILS     
END
GO
