/****** Object:  StoredProcedure [dbo].[PROC_LAPSE_ALERT_SETBY_CR]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_LAPSE_ALERT_SETBY_CR]
GO
/****** Object:  StoredProcedure [dbo].[PROC_LAPSE_ALERT_SETBY_CR]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_LAPSE_ALERT_SETBY_CR]
(
	@CompanyId VARCHAR(50) = NULL
)
AS
BEGIN
		SET NOCOUNT ON;
		---------------------------
		-- DECLARE USED VARIABLES
		---------------------------

		DECLARE @MailSubject					NVARCHAR(MAX),
				@Bef_ExpMailBody				NVARCHAR(MAX),				
				@MailBody						NVARCHAR(MAX),
				@Comp_Id						NVARCHAR(40),
				@CRExpiryMailSent				BIT = 0,
				@ReminderAlert					CHAR,
				@Bef_ExpDtYN					CHAR,
				@ExpiryAlertNotice				TINYINT,
				@ReminderMailAlert				INT,
				@MaxMsgId						BIGINT,
				@MaxNewMsgId					BIGINT,
			    @Reminder_VS_AlertSetting		TINYINT,
			    @Reminder_LPS_AlertSetting		TINYINT,
			    @IS_PUP_ENABLE					BIT,
			    @IS_PUP_CR_EXPIRY_MAIL_SENT		BIT=0,
			    @PUP_REMINDER_MAIL_ALERT		TINYINT,
			    @PUP_EXPIRY_ALERT_REM_NOTICE	NVARCHAR,
			    @PUP_EXPIRY_ALERT_NOTICE		SMALLINT

		------------------------------
		-- ASSIGN VALUE TO VARIABLES
		------------------------------
		
		SELECT @MAILSUBJECT= MAILSUBJECT,@Bef_ExpMailBody=MAILBODY FROM MAILMESSAGES WHERE FORMATS ='BeforeExpiryMailAlertForCR'		
		SET @IS_PUP_ENABLE= (SELECT IsPUPEnabled  FROM CompanyMaster)
		-----------------------------
		-- CREATE TEMPORARY TABLES 
		-----------------------------
		BEGIN		
			CREATE TABLE #TEMP_COMPANYDETAILS
			(	
				COMPANYID							NVARCHAR(40)	PRIMARY KEY,
				COMPANYNAME							NVARCHAR(200)	NOT NULL,
				COMPANYEMAILID						NVARCHAR(60),
				VESTINGALERTNOTICE					TINYINT,
				EXPIRYALERTNOTICE					TINYINT,
				REMINDERVESTALERT					TINYINT,
				REMINDEREXPIRYALERT					TINYINT,
				BEFOREVESTDTYN						CHAR,
				BEFOREEXPIRYDTYN					CHAR,
				SENDVESTALRTYN						CHAR,
				SENDEXPIRYALRTYN					CHAR,
				REMINDPERFVESTALERT					TINYINT,
				BEFOREPERFVESTDTYN					CHAR,
				SENDPERFVESTALRTYN					CHAR,
				FBTTAX								NUMERIC(18,2),
				FBTPAYBY							NVARCHAR(20),
				MAILSUBJECT							NVARCHAR(MAX),
				MAILBODY							NVARCHAR(MAX),
				PUP_VESTING_ALERT_IN_DAYS			SMALLINT,
				PUP_EXPIRY_ALERT_IN_DAYS			SMALLINT,
				PUP_IS_SEND_VEST_ALERT_REQUIRED		BIT,
				PUP_IS_SEND_EXPIRY_ALERT_REQUIRED	BIT,
				PUP_VESTING_ALERT_REMINDER_IN_DAYS	NVARCHAR(10),
				PUP_EXPIRY_ALERT_REMINDER_IN_DAYS	NVARCHAR(10),
				PUP_IS_BEFORE_VEST_DATE_REQUIRED	BIT		
			)
		
			CREATE TABLE #TEMP_EMPLOYEEDETAILS
			(
				EMPLOYEEID		NVARCHAR(50),
				LOGINID			NVARCHAR(50),
				EMPNAME			NVARCHAR(80),
				EMPEMAIL		NVARCHAR(80),
				SCHEMEID		NVARCHAR(200),
				GRATREGID		NVARCHAR(50),
				GRANTDATE		DATE,
				EXERPRICE		DECIMAL(18,2),
				FBTVALUE		DECIMAL(18,2),
				GRANTID			INT,
				GRANTOPTID		NVARCHAR(100),
				GRANTEDOPTIONS	INT,
				VESTINGTYPE		CHAR,
				GRANTLEGID		TINYINT,
				FINLVESTDATE	DATE,
				FINLEXPIRYDATE	DATE,
				EXERCISEABLEQTY	INT,
				EXPIRYMAILSENT	CHAR,
				OPTTIMEPERCNT	DECIMAL(18,2),
				OPTPERFPERCNT	DECIMAL(18,2),
				VESTPERIODID	INT,
				DTDIFFERNCE		SMALLINT,
				COMP_ID			NVARCHAR(40),
				MAILSUBJECT		NVARCHAR(300),	
				MAILBODY		NVARCHAR(MAX),
				[DESCRIPTION]	NVARCHAR(100),
				[ISPERFORMBASE] CHAR,
				CHK_PUP_ONLINE	BIT,
				SCH_PUP_ENABLED	BIT 		
			)
		
			CREATE TABLE #TEMP_MAIL_ALERT_CR_EMP
			(
				[Message_ID]						NUMERIC(18,0) IDENTITY (1, 1) NOT NULL, 
				[CompanyId]							VARCHAR(40) NOT NULL,
				[CompanyName]						VARCHAR(60),
				[EmployeeId]						NVARCHAR(50),
				[UserId]							NVARCHAR(50),	
				[LoginType]							CHAR,
				[EmployeeName]						NVARCHAR(100),	
				[EmployeeEmail]						NVARCHAR(80),
				[GrantOptionId]						NVARCHAR(100),
				[GrantedQty]						NUMERIC(18,2),	
				[ExpiryDate]						DATETIME,	
				[SchemeId]							NVARCHAR(200),	
				[GrantId]							NVARCHAR(300),
				[VestingType]						CHAR,
				[ExpiryMailSent]					CHAR,
				[ReminderMailSent]					CHAR,
				[DtDiffernce]						SMALLINT,
				[Description]						NVARCHAR(100),
				[From]								NVARCHAR(80),
				[To]								NVARCHAR(80),	
				[Cc]								NVARCHAR(80),
				[Bcc]								NVARCHAR(80),
				[MailSubject]						NVARCHAR(MAX),
				[MailBody]							NVARCHAR(MAX),
				[MailSentdate]						DATETIME,
				[IsMailSent]						BIT,
				[PUP_IS_SEND_EXPIRY_ALERT_REQUIRED]	BIT,
				[PUP_EXPIRY_ALERT_REMINDER_IN_DAYS]	NVARCHAR(10)
			)
			
			CREATE TABLE #New_Message_To
			(
				Message_ID				NUMERIC(18,0) IDENTITY (1, 1) NOT NULL, 
				EmployeeID				NVARCHAR(80),
				MessageDate				DATE,
				MailSubject				NVARCHAR(100),
				MailBody				NVARCHAR(MAX)					
			)
		END
		----------------------------------------
		-- INSERT DATA INTO TEMPORARY TABLES    
		----------------------------------------
		
		INSERT INTO #TEMP_COMPANYDETAILS
			(	
				COMPANYID,COMPANYNAME,COMPANYEMAILID,VESTINGALERTNOTICE,EXPIRYALERTNOTICE,
				REMINDERVESTALERT, REMINDEREXPIRYALERT,BEFOREVESTDTYN,BEFOREEXPIRYDTYN,
				SENDVESTALRTYN, SENDEXPIRYALRTYN,REMINDPERFVESTALERT,BEFOREPERFVESTDTYN,
				SENDPERFVESTALRTYN,FBTTAX,FBTPAYBY, MAILSUBJECT,MAILBODY,
				
				PUP_VESTING_ALERT_IN_DAYS,PUP_EXPIRY_ALERT_IN_DAYS,
				PUP_IS_SEND_VEST_ALERT_REQUIRED,PUP_IS_SEND_EXPIRY_ALERT_REQUIRED,
				PUP_VESTING_ALERT_REMINDER_IN_DAYS,PUP_EXPIRY_ALERT_REMINDER_IN_DAYS,
				PUP_IS_BEFORE_VEST_DATE_REQUIRED
			) 
		SELECT	CM.COMPANYID, 
				CM.COMPANYNAME,
				CP.COMPANYEMAILID,
				CP.VESTINGALERTNOTICE,
				CP.EXPIRYALERTNOTICE,
				CP.REMINDERVESTINGALERT,
				CP.REMINDEREXPIRYALERT,
				CP.BEFOREVESTDATEYN,
				CP.BEFOREEXPIRTYDATEYN,
				ISNULL(CP.SENDVESTALERTYN,'Y') AS SENDVESTALERTYN,
				ISNULL(CP.SENDEXPIRYALERTYN,'Y') AS SENDEXPIRYALERTYN,
				CP.REMINDERPERFORMANCEVESTINGALERT,
				CP.BEFOREPERFVESTDATEYN,
				ISNULL(CP.SENDPERFVESTALERTYN,'Y') AS SENDPERFVESTALERTYN,
				CP.FBTAX,
				CP.FBTPAYBY,
				@MAILSUBJECT MAILSUBJECT,
				
				CASE WHEN @IS_PUP_ENABLE=1 THEN 
					CASE WHEN PP.IS_SEND_EXPIRY_ALERT_REQUIRED=1 THEN @Bef_ExpMailBody
					END
				ELSE 
					CASE WHEN CP.SENDEXPIRYALERTYN='Y' THEN @Bef_ExpMailBody
						 ELSE NULL
					END
				END,
				PP.VESTING_ALERT_IN_DAYS,
				PP.EXPIRY_ALERT_IN_DAYS,
				ISNULL(PP.IS_SEND_VEST_ALERT_REQUIRED,0) AS SENDVESTALERTPUP,
				ISNULL(PP.IS_SEND_EXPIRY_ALERT_REQUIRED,0) AS SENDEXPALERTPUP,
				PP.VESTING_ALERT_REMINDER_IN_DAYS,
				PP.EXPIRY_ALERT_REMINDER_IN_DAYS,
				ISNULL(PP.IS_BEFORE_VEST_DATE_REQUIRED,0)AS BEFORVSTDATEPUP
				
				
				
		FROM	PUP_PARAMETER PP
				CROSS JOIN COMPANYPARAMETERS CP 
				INNER JOIN COMPANYMASTER CM ON CP.COMPANYID = CM.COMPANYID 
			
		INSERT INTO #TEMP_EMPLOYEEDETAILS
			(
				EMPLOYEEID,LOGINID,EMPNAME,EMPEMAIL,SCHEMEID,GRATREGID,
				GRANTDATE,EXERPRICE,FBTVALUE,GRANTID,GRANTOPTID,GRANTEDOPTIONS,
				VESTINGTYPE,GRANTLEGID,FINLVESTDATE,FINLEXPIRYDATE,EXERCISEABLEQTY,
				EXPIRYMAILSENT,OPTTIMEPERCNT,	OPTPERFPERCNT,VESTPERIODID,DTDIFFERNCE,
				COMP_ID,MAILSUBJECT,MAILBODY,[DESCRIPTION],ISPERFORMBASE,CHK_PUP_ONLINE,SCH_PUP_ENABLED
			)
		SELECT	EM.EMPLOYEEID,
				EM.LOGINID,
				EM.EMPLOYEENAME,
				EM.EMPLOYEEEMAIL,
				GOP.SCHEMEID,
				GOP.GRANTREGISTRATIONID,
				GR.GRANTDATE,
				GR.EXERCISEPRICE,
				0.00 AS FBTVALUE,
				GL.ID AS GRANTID,
				GOP.GRANTOPTIONID,
				(GL.GRANTEDOPTIONS)-(GL.CANCELLEDQUANTITY)-(UnapprovedExerciseQuantity) AS GRANTEDOPTIONS,
				GL.VESTINGTYPE, 
				GL.GRANTLEGID,
				FINALVESTINGDATE,
				FINALEXPIRAYDATE,
				GL.EXERCISABLEQUANTITY,
				GL.EXPIREDMAILSENT,
				VP.OPTIONTIMEPERCENTAGE, 
				VP.OPTIONPERFORMANCEPERCENTAGE,
				VP.VESTINGPERIODID,
				DATEDIFF(D,CONVERT(DATE,GETDATE()),	CONVERT(DATE,GL.FinalExpirayDate)) DATEDIFFERENCE,
				TComp.COMPANYID COMPANYID, 
				NULL MAILSUBJECT,
				NULL MAILBODY,
				NULL [DESCRIPTION],
				GL.IsPerfBased,
				SC.PUPEXEDPAYOUTPROCESS,
				SC.IsPUPEnabled
		FROM	PUP_PARAMETER PP
				CROSS JOIN EMPLOYEEMASTER AS EM
				INNER JOIN USERMASTER AS UM ON EM.EMPLOYEEID = UM.EMPLOYEEID
				LEFT OUTER JOIN GRANTOPTIONS AS GOP ON EM.EMPLOYEEID = GOP.EMPLOYEEID
				INNER JOIN GRANTLEG AS GL ON GOP.GRANTOPTIONID = GL.GRANTOPTIONID
				INNER JOIN SCHEME AS SC ON GOP.SCHEMEID = SC.SCHEMEID
				INNER JOIN VESTINGPERIOD AS VP ON VP.VESTINGPERIODID = GL.VESTINGPERIODID
				INNER JOIN GRANTREGISTRATION AS GR ON GR.GRANTREGISTRATIONID = GOP.GRANTREGISTRATIONID
				CROSS JOIN #TEMP_COMPANYDETAILS TComp   
		WHERE 	(UM.ISUSERACTIVE = 'Y') 
			AND ((EM.REASONFORTERMINATION='2') OR (EM.DATEOFTERMINATION IS NULL))
			AND (GL.ExpiredMailSent IS NULL)
			AND CONVERT(DATE,GL.FINALEXPIRAYDATE) >= CONVERT(DATE,GETDATE())
			AND CONVERT(date,GETDATE())>= CONVERT(DATE,GL.FinalVestingDate) and convert(date,GETDATE()) <= CONVERT(DATE,GL.FinalExpirayDate) AND ISNULL(GL.ExercisableQuantity,0) > 0
			AND (CONVERT(INT,TComp.EXPIRYALERTNOTICE) >= CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FinalExpirayDate))) AND ((CONVERT(INT,TComp.EXPIRYALERTNOTICE) - CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FinalExpirayDate)))) % CASE WHEN TComp.REMINDEREXPIRYALERT = 0 THEN 1 ELSE TComp.REMINDEREXPIRYALERT END) = 0)
			AND	(SC.ISPUPENABLED <>
					(
						CASE WHEN (@IS_PUP_ENABLE=1 AND PP.IS_SEND_EXPIRY_ALERT_REQUIRED=1)
							  THEN -1
						ELSE 
							  1
						END
					)
				)
			
			
		GROUP BY EM.EMPLOYEEID,
				EM.LOGINID,
				EM.EMPLOYEENAME,
				EM.EMPLOYEEEMAIL,
				GOP.SCHEMEID,
				GOP.GRANTREGISTRATIONID,
				GR.GRANTDATE,
				GR.EXERCISEPRICE,		
				GL.ID,
				GOP.GRANTOPTIONID,
				GL.VESTINGTYPE, 
				GL.GRANTLEGID,
				FINALVESTINGDATE,
				FINALEXPIRAYDATE,
				GL.EXERCISABLEQUANTITY,
				GL.EXPIREDMAILSENT,
				VP.OPTIONTIMEPERCENTAGE,
				VP.OPTIONPERFORMANCEPERCENTAGE, 
				VP.VESTINGPERIODID,
				GL.ISPERFBASED,
				GL.GRANTEDOPTIONS,
				GL.CANCELLEDQUANTITY,
				UnapprovedExerciseQuantity,
				SC.PUPEXEDPAYOUTPROCESS,
				SC.IsPUPEnabled,
				TComp.COMPANYID
		ORDER BY FINALVESTINGDATE
					
				
		-------------------------------------------------------------------
		-- GET MAX MESSAGE FROM MAIL SPOOL TABLE FROM MAILER DB DATABESE
		-------------------------------------------------------------------
		
		SET @MaxMsgId = (SELECT ISNULL(MAX(MessageID),0) + 1 AS MessageID FROM MailerDB..MailSpool)
		
		BEGIN
			DBCC CHECKIDENT(#TEMP_MAIL_ALERT_CR_EMP, RESEED, @MaxMsgId) 
		END	
				
		SET @MaxNewMsgId = (SELECT ISNULL(MAX(MessageID),0)+ 1	AS MessageID FROM NewMessageTo)
		
		BEGIN
			DBCC CHECKIDENT(#New_Message_To, RESEED, @MaxNewMsgId) 
		END		
		
		-------------------------------------------------------------
		-- CREATE NEW TEMPORARY TABLE FOR PERFORM OTHER OPERATION
		-------------------------------------------------------------
		SELECT	EMPLOYEEID,		LOGINID,		EMPNAME,		EMPEMAIL,		SCHEMEID,		GRATREGID,		GRANTDATE,		EXERPRICE,
				FBTVALUE,		GRANTID,		GRANTOPTID,		GRANTEDOPTIONS, VESTINGTYPE,	GRANTLEGID,		FINLVESTDATE,	FINLEXPIRYDATE,				
				EXERCISEABLEQTY,EXPIRYMAILSENT,	OPTTIMEPERCNT,	OPTPERFPERCNT,  VESTPERIODID,	DTDIFFERNCE,	TCOMP.MAILSUBJECT,	TCOMP.MAILBODY,		
				[DESCRIPTION],	COMP_ID,		COMPANYNAME,    COMPANYEMAILID,	VESTINGALERTNOTICE,				EXPIRYALERTNOTICE,		
				(VESTINGALERTNOTICE)*-1 AS NEGTIVEVESTALERT, (EXPIRYALERTNOTICE)*-1 AS NEGTIVEEXPIRYALERT,   REMINDERVESTALERT,	REMINDEREXPIRYALERT,		
				BEFOREVESTDTYN,	BEFOREEXPIRYDTYN, SENDVESTALRTYN,SENDEXPIRYALRTYN,REMINDPERFVESTALERT, BEFOREPERFVESTDTYN,			
				SENDPERFVESTALRTYN,		FBTTAX,	FBTPAYBY, ISPERFORMBASE,
				CONVERT(INT,PUP_VESTING_ALERT_IN_DAYS)*-1 AS NEGTIVE_VEST_ALERT_PUP,	PUP_VESTING_ALERT_IN_DAYS,
				PUP_EXPIRY_ALERT_IN_DAYS,			PUP_IS_SEND_VEST_ALERT_REQUIRED,	PUP_IS_SEND_EXPIRY_ALERT_REQUIRED,	
				PUP_VESTING_ALERT_REMINDER_IN_DAYS,	PUP_EXPIRY_ALERT_REMINDER_IN_DAYS,	PUP_IS_BEFORE_VEST_DATE_REQUIRED,
				CHK_PUP_ONLINE,SCH_PUP_ENABLED		
				
		INTO	#TEMP_EMPDET_COMPDET
		FROM	#TEMP_EMPLOYEEDETAILS AS TEMP INNER JOIN 
				#TEMP_COMPANYDETAILS AS TCOMP ON TEMP.COMP_ID = TCOMP.COMPANYID
		
		/*---------------------------------------------------------------
		-- START OPERATION OVER #TEMP_EMPDET_COMPDET DATA
		-- CONDITION 1 : SEND MAIL TO CR BASED ON SETTING 
		-- BEFORE VEST MAIL WITH EMPLOYEE MAIL FORMATS
		-- AFTER VEST MAIL WITH EMPLOYEE MAIL FORMATS
		--SELECT * FROM #TEMP_EMPDET_COMPDET
		---------------------------------------------------------------*/
		
		
		BEGIN
			IF(@CRExpiryMailSent = 0)
			BEGIN
					INSERT INTO #TEMP_MAIL_ALERT_CR_EMP
					(SchemeId,CompanyId,CompanyName,[From],[To],[Bcc],MailSubject,MailBody,MailSentdate,IsMailSent,LoginType,EmployeeId)
					SELECT 	DISTINCT SCHEMEID,
							COMP_ID,
							COMPANYNAME,
							COMPANYEMAILID AS [FROM],
							COMPANYEMAILID AS [TO], 
							NULL AS [BCC],								
							MAILSUBJECT,
							REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(MAILBODY,
								'{0}',REPLACE(CONVERT(VARCHAR(11), GETDATE()+3, 106), ' ', '/')),
								'{1}',COMPANYNAME),
								'{2}',SCHEMEID),
								'{3}',REPLACE(CONVERT(VARCHAR(11), GRANTDATE, 106), ' ', '/')),
								'{4}',REPLACE(CONVERT(VARCHAR(11), FINLEXPIRYDATE, 106), ' ', '/')),
							CONVERT(DATE,GETDATE()+3) MAILSENTDATE,
							1,
							'C',
							'CR'				
					FROM	#TEMP_EMPDET_COMPDET
					WHERE	ExpiryAlertNotice >= 0
					AND		DTDIFFERNCE = CASE WHEN SENDEXPIRYALRTYN='Y' THEN (EXPIRYALERTNOTICE + 3)  END
					
					SELECT @CRExpiryMailSent = 1				
			END
			IF(@IS_PUP_ENABLE=1)
			BEGIN
					INSERT INTO #TEMP_MAIL_ALERT_CR_EMP
					(SchemeId,CompanyId,CompanyName,[From],[To],[Bcc],MailSubject,MailBody,MailSentdate,IsMailSent,LoginType,EmployeeId)				
					SELECT 	DISTINCT SCHEMEID,
							COMP_ID,
							COMPANYNAME,
							COMPANYEMAILID AS [FROM],
							COMPANYEMAILID AS [TO], 
							NULL AS [BCC],								
							MAILSUBJECT,
							REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(MAILBODY,
								'{0}',REPLACE(CONVERT(VARCHAR(11), GETDATE()+3, 106), ' ', '/')),
								'{1}',COMPANYNAME),
								'{2}',SCHEMEID),
								'{3}',REPLACE(CONVERT(VARCHAR(11), GRANTDATE, 106), ' ', '/')),
								'{4}',REPLACE(CONVERT(VARCHAR(11), FINLEXPIRYDATE, 106), ' ', '/')),
							CONVERT(DATE,GETDATE()+3) MAILSENTDATE,
							1,
							'C',
							'CR'				
					FROM	#TEMP_EMPDET_COMPDET
					WHERE	PUP_EXPIRY_ALERT_IN_DAYS >= 0
					AND		DTDIFFERNCE = CASE WHEN PUP_IS_SEND_EXPIRY_ALERT_REQUIRED=1 THEN (PUP_EXPIRY_ALERT_IN_DAYS + 3)  END
					
					SELECT @IS_PUP_CR_EXPIRY_MAIL_SENT =1
			END
			
			SELECT	COMPANYID,COMPANYNAME,[FROM],[TO],[CC],[BCC],MAILSUBJECT,MAILBODY,MAILSENTDATE,
					ISMAILSENT,SCHEMEID,GrantOptionId,GrantedQty 
			FROM	#TEMP_MAIL_ALERT_CR_EMP	
			WHERE	LoginType='C'
		END
		-------------------------------------------------------
		-- ASSIGN VALUES TO DECLARED VARIABLES
		-------------------------------------------------------
		SELECT @MAILSUBJECT = MAILSUBJECT, @MAILBODY = MAILBODY FROM MAILMESSAGES  WHERE FORMATS='LapseMailAlertForEmp'
		SELECT @COMP_ID = COMPANYID, @ExpiryAlertNotice = ISNULL(EXPIRYALERTNOTICE,0),@ReminderMailAlert=ISNULL(REMINDEREXPIRYALERT,0), 
		@PUP_EXPIRY_ALERT_NOTICE =ISNULL(PUP_EXPIRY_ALERT_IN_DAYS,0),@PUP_EXPIRY_ALERT_REM_NOTICE=ISNULL(CONVERT(INT,PUP_EXPIRY_ALERT_REMINDER_IN_DAYS),0)
		FROM #TEMP_COMPANYDETAILS
		
			-------------------------------------------------------
		-- CHECK BONUSSPLITPOLICY TYPE TO FILTER EMAIL
		-------------------------------------------------------
		Declare @IsConsolidated INT
		set  @IsConsolidated= (Select Count(*) from BonusSplitPolicy where DisplayAs ='C')

		-------------------------------------------------------
		-- PERFORM OPERATION SECOND
		-- SEND MAIL TO EMPLOYEE BASED ON SETTINGS
		-- Remaing points : 
		-- 1/ TEMPORARY		- INSERT OPERATION 
		-- 2/ NewMessageTo	- INSERT OPERATION
		-- 3/ GrantLeg		- UPDATE OPERATION
		-- 4/ MailerDB		= INSERT OPERATION
		-------------------------------------------------------
		
		IF(@ExpiryAlertNotice >= 0)
		BEGIN
		 IF(@IsConsolidated > 0)
		 BEGIN
			INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,
					 UserId,	EmployeeName, EmployeeEmail, [From],[To], SchemeId, VestingType, 
					 LoginType, ExpiryMailSent, GrantId, GrantedQty,GrantOptionId,ExpiryDate,
					 DtDiffernce, [Description], CompanyId, MailSubject, MailBody )			
			SELECT 
					EMPLOYEEID,
					LOGINID,		
					EMPNAME,		
					EMPEMAIL,					
					COMPANYEMAILID,
					EMPEMAIL,
					SCHEMEID,		
					VESTINGTYPE,
					'E',			
					'E' ExpiryMailSent,
					CONVERT(VARCHAR(100), MIN(GRANTID)) + '|' + CONVERT(VARCHAR(100), MAX(GRANTID)) AS GRANTID,						
					SUM(GRANTEDOPTIONS) AS GRANTEDOPTIONS,
					GRANTOPTID,
					FINLEXPIRYDATE,		
					DTDIFFERNCE,
					[DESCRIPTION],
					COMP_ID,
					@MAILSUBJECT MAILSUBJECT,	
					CASE
						WHEN UPPER(@CompanyId)='AXISBANK'		
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE(REPLACE
									(REPLACE(REPLACE(REPLACE(@MailBody,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', SUM(TEMP.EXERCISEABLEQTY)),
												'{5}', TEMP.EXERPRICE),
												'{7}', TEMP.LOGINID),
												'{8}', @CompanyId)
						WHEN UPPER(@CompanyId)='KOTAK'			
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MailBody,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', SUM(TEMP.EXERCISEABLEQTY)),
												'{5}', TEMP.EXERPRICE)	
							WHEN UPPER(@CompanyId)='BAJAJFINANCE_QA' OR UPPER(@CompanyId)='BAJAJFINANCE'			
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MailBody,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', SUM(TEMP.EXERCISEABLEQTY)),
												'{5}', TEMP.EXERPRICE)						
						ELSE 	
							REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MailBody,'{0}',  TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', SUM(TEMP.EXERCISEABLEQTY)),
												'{5}', TEMP.EXERPRICE)
					END	MAILBODY				
			FROM	#TEMP_EMPDET_COMPDET TEMP
			WHERE	DTDIFFERNCE = CASE WHEN SENDEXPIRYALRTYN='Y' THEN (EXPIRYALERTNOTICE) END	
			AND		TEMP.EXERCISEABLEQTY > 0
			AND		SENDEXPIRYALRTYN='Y'
			AND		(TEMP.SCH_PUP_ENABLED=0)
			GROUP BY 
					 EMPLOYEEID,LOGINID,EMPNAME,EMPEMAIL,SCHEMEID,	
					 VESTINGTYPE,GRANTOPTID, FINLVESTDATE,DTDIFFERNCE,[DESCRIPTION],COMP_ID,				
					 Temp.COMPANYEMAILID,Temp.EMPEMAIL,Temp.COMPANYNAME,MAILSUBJECT,
					 TEMP.GRANTDATE,TEMP.EXERPRICE,TEMP.FINLEXPIRYDATE	
		END
	       ELSE		
		 BEGIN
			INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,
					 UserId,	EmployeeName, EmployeeEmail, [From],[To], SchemeId, VestingType, 
					 LoginType, ExpiryMailSent, GrantId, GrantedQty,GrantOptionId,ExpiryDate,
					 DtDiffernce, [Description], CompanyId, MailSubject, MailBody )			
			SELECT 
					EMPLOYEEID,
					LOGINID,		
					EMPNAME,		
					EMPEMAIL,					
					COMPANYEMAILID,
					EMPEMAIL,
					SCHEMEID,		
					VESTINGTYPE,
					'E',			
					'E' ExpiryMailSent,
					GRANTID,
					GRANTEDOPTIONS,
					GRANTOPTID,
					FINLEXPIRYDATE,		
					DTDIFFERNCE,
					[DESCRIPTION],
					COMP_ID,
					@MAILSUBJECT MAILSUBJECT,	
					CASE
						WHEN UPPER(@CompanyId)='AXISBANK'		
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE(REPLACE
									(REPLACE(REPLACE(REPLACE(@MailBody,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}', TEMP.EXERPRICE),
												'{7}', TEMP.LOGINID),
												'{8}', @CompanyId)
						WHEN UPPER(@CompanyId)='KOTAK'			
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MailBody,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}', TEMP.EXERPRICE)						
						ELSE 	
							REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MailBody,'{0}',  TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}', TEMP.EXERPRICE)
					END	MAILBODY				
			FROM	#TEMP_EMPDET_COMPDET TEMP
			WHERE	DTDIFFERNCE = CASE WHEN SENDEXPIRYALRTYN='Y' THEN (EXPIRYALERTNOTICE) END	
			AND		TEMP.EXERCISEABLEQTY > 0
			AND		SENDEXPIRYALRTYN='Y'
			AND		(TEMP.SCH_PUP_ENABLED=0)	
		END
		END
		
		IF(@IS_PUP_ENABLE=1 AND @PUP_EXPIRY_ALERT_NOTICE >=0)
		BEGIN
			INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,
					 UserId,	EmployeeName, EmployeeEmail, [From],[To], SchemeId, VestingType, 
					 LoginType, ExpiryMailSent, GrantId, GrantedQty,GrantOptionId,ExpiryDate,
					 DtDiffernce, [Description], CompanyId, MailSubject, MailBody )			
			SELECT 
					EMPLOYEEID,
					LOGINID,		
					EMPNAME,		
					EMPEMAIL,
					COMPANYEMAILID,
					EMPEMAIL,
					SCHEMEID,		
					VESTINGTYPE,
					'E',			
					'E' ExpiryMailSent,
					GRANTID,
					GRANTEDOPTIONS,
					GRANTOPTID,
					FINLEXPIRYDATE,		
					DTDIFFERNCE,
					[DESCRIPTION],
					COMP_ID,
					@MAILSUBJECT MAILSUBJECT,	
							REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MailBody,'{0}',  TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}', TEMP.EXERPRICE)
									
			FROM	#TEMP_EMPDET_COMPDET TEMP
			WHERE	DTDIFFERNCE = CASE WHEN PUP_IS_SEND_EXPIRY_ALERT_REQUIRED=1 THEN (PUP_EXPIRY_ALERT_IN_DAYS) END	
			AND		TEMP.EXERCISEABLEQTY > 0
			AND		PUP_IS_SEND_EXPIRY_ALERT_REQUIRED=1
			AND		TEMP.PUP_IS_SEND_VEST_ALERT_REQUIRED = 1
			AND		TEMP.CHK_PUP_ONLINE =1
		END
		
		INSERT INTO #New_Message_To(
					EmployeeID,		
					MessageDate,
					MailSubject,
					MailBody
					)
			SELECT	CRVMA.EmployeeId,
					CONVERT(DATE,GETDATE()),
					CRVMA.MailSubject,
					--REPLACE(REPLACE(REPLACE(REPLACE(VMA.MailBody,'</P>',' '),'<P>', ' '),'<br />', ' '),'&nbsp;',' ')
					REPLACE(REPLACE(
					REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
					REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CRVMA.MailBody,
						'<div style="font-family: arial; font-size: 12px; width: 600px; line-height: 20px;">',''),
						'<table style="width: 100%; font-family: arial; font-size: 12px; line-height: 20px; border-collapse: collapse;" cellpadding="4" cellspaing="0">',''),									
						'<tr>',''),
						'</tr>',''),
						'<td style="width: 50%; border: 1px solid #000;">',''),
						'</td>',''),
						'</table>',''),
						'<td colspan="2">',''),
						'</div>',''),
						'<td colspan="2" style="text-align: justify;  font-family: arial; font-size: 12px; line-height: 20px; ">',''),
						'<a href="https://www.esopdirect.com/GlobalMyESOPs/Login.aspx">',''),
						'</a>',''),
						'<br />',''),
						'<b>',''),
						'</b>',''),
						'<a href="mailto:fundinghelpdesk@esopdirect.com">',''),
						'<a href="mailto:techmahindra@esopdirect.com">',''),
						'<a href="mailto:axisbank@esopdirect.com">',''),
						'<a href="http://www.esopdirect.com/">','')
						
			FROM	#TEMP_MAIL_ALERT_CR_EMP AS CRVMA
			WHERE	MailBody IS NOT NULL
			AND		CRVMA.LoginType='E'		
			AND		CRVMA.ExpiryMailSent='E'
			
		SELECT	EmployeeId, UserId,	EmployeeName, EmployeeEmail, SchemeId, VestingType, 
					LoginType, ExpiryMailSent, GrantId, SchemeId,	GrantOptionId,	GrantedQty,
					ExpiryDate, DtDiffernce, [Description], CompanyId, 
					MailSubject [CRVestMailSubject_Alert], MailBody [CRVestMailBody_Alert]
			FROM   #TEMP_MAIL_ALERT_CR_EMP	
			WHERE	ExpiryMailSent='E'
			AND		LoginType='E'	


		-------------------------------------------------------
		-- PERFORM OPERATION THIRD
		-- SEND "REMINDER MAIL TO EMPLOYEE" BASED ON SETTINGS
		-- 0/ PERFORM LOGIC		- SELECT OPERATION
		-- 1/ TEMPRARY TABLE	- INSERT OPERATION	
		-- 2/ MAILERDB			- INSERT OPERATION
		-- 3/ NEWMESSAGETO		- INSERT OPERATION
		-------------------------------------------------------
		BEGIN
			TRUNCATE TABLE #TEMP_EMPDET_COMPDET
			
			DECLARE @CONST_INSERT_QUERY		NVARCHAR(MAX),
					@WHERE_CLAUSE_NON_PUP	NVARCHAR(MAX),
					@WHERE_CLAUSE_PUP		NVARCHAR(MAX),
					@CONST_GROUPBY_CLAUSE	NVARCHAR(MAX),
					@CONST_FINAL_QUERY		NVARCHAR(MAX),
					@PARAMETER				NVARCHAR(MAX)
			
			SET @PARAMETER= N'@MailSubject NVARCHAR(MAX), @MailBody NVARCHAR(MAX)'
			SET @CONST_INSERT_QUERY=N'
			INSERT INTO #TEMP_EMPDET_COMPDET
			(
				EMPLOYEEID,
				LOGINID,
				EMPNAME,
				EMPEMAIL,
				SCHEMEID,
				GRATREGID,
				GRANTDATE,
				EXERPRICE,
				FBTVALUE,
				GRANTID,
				GRANTOPTID,
				GRANTEDOPTIONS, 
				VESTINGTYPE,
				GRANTLEGID,
				FINLVESTDATE,
				FINLEXPIRYDATE,
				EXERCISEABLEQTY,
				EXPIRYMAILSENT,
				OPTTIMEPERCNT,
				OPTPERFPERCNT,  
				VESTPERIODID,
				DTDIFFERNCE,
				MAILSUBJECT,
				MAILBODY,
				[DESCRIPTION],
				COMP_ID,
				COMPANYNAME,    
				COMPANYEMAILID,
				VESTINGALERTNOTICE,
				EXPIRYALERTNOTICE,
				NEGTIVEVESTALERT,    
				REMINDERVESTALERT,
				REMINDEREXPIRYALERT,
				BEFOREVESTDTYN,
				BEFOREEXPIRYDTYN,
				SENDVESTALRTYN,
				SENDEXPIRYALRTYN,
				REMINDPERFVESTALERT,
				BEFOREPERFVESTDTYN,
				SENDPERFVESTALRTYN,
				FBTTAX,
				FBTPAYBY,
				PUP_VESTING_ALERT_IN_DAYS,
				PUP_EXPIRY_ALERT_IN_DAYS,
				PUP_IS_SEND_VEST_ALERT_REQUIRED,
				PUP_IS_SEND_EXPIRY_ALERT_REQUIRED,	
				PUP_VESTING_ALERT_REMINDER_IN_DAYS,
				PUP_EXPIRY_ALERT_REMINDER_IN_DAYS,
				PUP_IS_BEFORE_VEST_DATE_REQUIRED
			)
			SELECT	EM.EMPLOYEEID,
					EM.LOGINID,
					EM.EMPLOYEENAME,
					EM.EMPLOYEEEMAIL,
					GOP.SCHEMEID,
					GOP.GRANTREGISTRATIONID,
					GR.GRANTDATE,
					GR.EXERCISEPRICE,
					0.00 AS FBTVALUE,
					GL.ID AS GRANTID,
					GOP.GRANTOPTIONID,
					(GL.GRANTEDOPTIONS)-(GL.CANCELLEDQUANTITY)-(GL.UnapprovedExerciseQuantity) AS GRANTEDOPTIONS,
					GL.VESTINGTYPE, 
					GL.GRANTLEGID,
					FINALVESTINGDATE,
					FINALEXPIRAYDATE,
					GL.EXERCISABLEQUANTITY,
					GL.EXPIREDMAILSENT,
					VP.OPTIONTIMEPERCENTAGE, 
					VP.OPTIONPERFORMANCEPERCENTAGE,
					VP.VESTINGPERIODID,
					DATEDIFF(D,CONVERT(DATE,GETDATE()),	CONVERT(DATE,GL.FinalExpirayDate)) DATEDIFFERENCE,
					@MailSubject,
					@MailBody,
					NULL,
					TComp.COMPANYID,
					TComp.COMPANYNAME,
					TComp.COMPANYEMAILID,
					TComp.VESTINGALERTNOTICE,
					TComp.EXPIRYALERTNOTICE,
					0,
					Null,
					TComp.REMINDEREXPIRYALERT,
					Null,
					Null,
					Null,
					''Y'',
					Null,
					Null,
					Null,
					0,
					Null,
					TComp.PUP_VESTING_ALERT_IN_DAYS,
					TComp.PUP_EXPIRY_ALERT_IN_DAYS,
					TComp.PUP_IS_SEND_VEST_ALERT_REQUIRED,
					TComp.PUP_IS_SEND_EXPIRY_ALERT_REQUIRED,	
					TComp.PUP_VESTING_ALERT_REMINDER_IN_DAYS,
					TComp.PUP_EXPIRY_ALERT_REMINDER_IN_DAYS,
					TComp.PUP_IS_BEFORE_VEST_DATE_REQUIRED
					
			FROM	PUP_PARAMETER PP,EMPLOYEEMASTER AS EM 
					INNER JOIN USERMASTER AS UM ON EM.EMPLOYEEID = UM.EMPLOYEEID
					LEFT OUTER JOIN GRANTOPTIONS AS GOP ON EM.EMPLOYEEID = GOP.EMPLOYEEID
					INNER JOIN GRANTLEG AS GL ON GOP.GRANTOPTIONID = GL.GRANTOPTIONID
					INNER JOIN SCHEME AS SC ON GOP.SCHEMEID = SC.SCHEMEID
					INNER JOIN VESTINGPERIOD AS VP ON VP.VESTINGPERIODID = GL.VESTINGPERIODID
					INNER JOIN GRANTREGISTRATION AS GR ON GR.GRANTREGISTRATIONID = GOP.GRANTREGISTRATIONID,
					#TEMP_COMPANYDETAILS TComp   '			
			
			SET @CONST_GROUPBY_CLAUSE = '
			GROUP BY EM.EMPLOYEEID,
					EM.LOGINID,
					EM.EMPLOYEENAME,
					EM.EMPLOYEEEMAIL,
					GOP.SCHEMEID,
					GOP.GRANTREGISTRATIONID,
					GR.GRANTDATE,
					GR.EXERCISEPRICE,		
					GL.ID,
					GOP.GRANTOPTIONID,
					GL.VESTINGTYPE, 
					GL.GRANTLEGID,
					FINALVESTINGDATE,
					FINALEXPIRAYDATE,
					GL.EXERCISABLEQUANTITY,
					GL.EXPIREDMAILSENT,
					VP.OPTIONTIMEPERCENTAGE,
					VP.OPTIONPERFORMANCEPERCENTAGE, 
					VP.VESTINGPERIODID,
					TComp.COMPANYID,
					TComp.COMPANYNAME,
					TComp.COMPANYEMAILID,
					TComp.VESTINGALERTNOTICE,
					TComp.EXPIRYALERTNOTICE,
					GL.GRANTEDOPTIONS,
					GL.CANCELLEDQUANTITY,
					GL.UnapprovedExerciseQuantity,
					TComp.REMINDEREXPIRYALERT,
					TComp.PUP_VESTING_ALERT_IN_DAYS,
					TComp.PUP_EXPIRY_ALERT_IN_DAYS,
					TComp.PUP_IS_SEND_VEST_ALERT_REQUIRED,
					TComp.PUP_IS_SEND_EXPIRY_ALERT_REQUIRED,	
					TComp.PUP_VESTING_ALERT_REMINDER_IN_DAYS,
					TComp.PUP_EXPIRY_ALERT_REMINDER_IN_DAYS,
					TComp.PUP_IS_BEFORE_VEST_DATE_REQUIRED					
					
			ORDER BY FINALEXPIRAYDATE '
			
			DECLARE @WHERE_CLAUSE AS VARCHAR(MAX)
			IF (@ReminderMailAlert > 0) 
				SET @WHERE_CLAUSE = ' AND (CONVERT(INT,TComp.EXPIRYALERTNOTICE) >= CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FinalExpirayDate))) AND ((CONVERT(INT,TComp.EXPIRYALERTNOTICE) - CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FinalExpirayDate)))) % TComp.REMINDEREXPIRYALERT) = 0) '
			
			SET @WHERE_CLAUSE_NON_PUP=N' 
				WHERE 	(UM.ISUSERACTIVE = ''Y'') 
				AND ((EM.REASONFORTERMINATION=''2'') OR (EM.DATEOFTERMINATION IS NULL))
				AND DATEADD(DAY,CONVERT(INT,TComp.REMINDEREXPIRYALERT),DATEADD(DAY,-TComp.EXPIRYALERTNOTICE,CONVERT(DATE,GL.FinalExpirayDate))) <= CONVERT(DATE,GL.FinalExpirayDate)
				AND CONVERT(DATE,GL.FinalExpirayDate) >= CONVERT(DATE,GETDATE())		
				AND	(SC.ISPUPENABLED = 0)
				'+ @WHERE_CLAUSE +
				' AND ExercisableQuantity > 0'
			
			IF (@ReminderMailAlert > 0) 
				SET @WHERE_CLAUSE = ' AND (CONVERT(INT,TComp.PUP_EXPIRY_ALERT_REMINDER_IN_DAYS) >= CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FinalExpirayDate))) AND ((CONVERT(INT,TComp.PUP_EXPIRY_ALERT_IN_DAYS) - CONVERT(INT,DATEDIFF(D,CONVERT(DATE,GETDATE()), CONVERT(DATE,GL.FinalExpirayDate)))) % TComp.PUP_EXPIRY_ALERT_REMINDER_IN_DAYS) = 0) '
			
			SET @WHERE_CLAUSE_PUP=N'
				WHERE 	(UM.ISUSERACTIVE = ''Y'') 
				AND ((EM.REASONFORTERMINATION=''2'') OR (EM.DATEOFTERMINATION IS NULL))
				AND DATEADD(DAY,CONVERT(INT,TComp.PUP_EXPIRY_ALERT_REMINDER_IN_DAYS),DATEADD(DAY,-CONVERT(INT,TComp.PUP_EXPIRY_ALERT_IN_DAYS),CONVERT(DATE,GL.FinalExpirayDate))) <= CONVERT(DATE,GL.FinalExpirayDate)
				AND CONVERT(DATE,GL.FinalExpirayDate) >= CONVERT(DATE,GETDATE())				
				AND	(SC.ISPUPENABLED = 1) AND (SC.PUPEXEDPAYOUTPROCESS = 1)
				'+ @WHERE_CLAUSE +
				' AND ExercisableQuantity > 0'
				
				IF(@IS_PUP_ENABLE = 0)
					BEGIN	
						
						SET @CONST_FINAL_QUERY = @CONST_INSERT_QUERY + @WHERE_CLAUSE_NON_PUP + @CONST_GROUPBY_CLAUSE
						
						EXEC SP_EXECUTESQL @CONST_FINAL_QUERY,@PARAMETER,@MAILSUBJECT,@MAILBODY
					END					
					ELSE IF(@IS_PUP_ENABLE = 1)
					BEGIN						
						SET @CONST_FINAL_QUERY = @CONST_INSERT_QUERY + @WHERE_CLAUSE_PUP + @CONST_GROUPBY_CLAUSE
						EXEC SP_EXECUTESQL @CONST_FINAL_QUERY,@PARAMETER,@MAILSUBJECT,@MAILBODY
												
						SET @CONST_FINAL_QUERY = @CONST_INSERT_QUERY + @WHERE_CLAUSE_NON_PUP + @CONST_GROUPBY_CLAUSE
						EXEC SP_EXECUTESQL @CONST_FINAL_QUERY,@PARAMETER,@MAILSUBJECT,@MAILBODY
					END
				
		END
		
		
		IF(@ReminderMailAlert >=0)

		BEGIN		
		 IF(@IsConsolidated > 0)
		 	BEGIN
			print '@IsConsolidated'
			-------------------		
			INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,
					 UserId,	EmployeeName, EmployeeEmail, SchemeId, VestingType, LoginType, 
					 ReminderMailSent, GrantId, GrantedQty,GrantOptionId,ExpiryDate,
					 DtDiffernce, [Description], CompanyId,[From],[To],[CompanyName], MailSubject, MailBody )
			SELECT 
					EMPLOYEEID,		
					LOGINID,		
					EMPNAME,		
					EMPEMAIL,
					SCHEMEID,		
					VESTINGTYPE,
					'E',			
					'Y' REMINDERMAILSENT,
					CONVERT(VARCHAR(100), MIN(GRANTID)) + '|' + CONVERT(VARCHAR(100), MAX(GRANTID)) AS GRANTID,						
					SUM(GRANTEDOPTIONS) AS GRANTEDOPTIONS,
					GRANTOPTID,
					FINLEXPIRYDATE,			
					DTDIFFERNCE,
					[DESCRIPTION],
					COMP_ID,
					Temp.COMPANYEMAILID,
					Temp.EMPEMAIL,
					Temp.COMPANYNAME,
					@MAILSUBJECT MAILSUBJECT,	
					CASE						
						WHEN UPPER(@CompanyId)='BAJAJFINANCE_QA'			
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MailBody,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', SUM(TEMP.EXERCISEABLEQTY)),
												'{5}', TEMP.EXERPRICE)						
						ELSE 	
							REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MailBody,'{0}',  TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', SUM(TEMP.EXERCISEABLEQTY)),
												'{5}', TEMP.EXERPRICE)
					END	MAILBODY					
			FROM	#TEMP_EMPDET_COMPDET TEMP
			WHERE	CONVERT(DATE,GETDATE()) >= DATEADD(DAY,TEMP.REMINDEREXPIRYALERT,DATEADD(DAY,-TEMP.EXPIRYALERTNOTICE,CONVERT(DATE,TEMP.FINLEXPIRYDATE)))
			AND		DATEADD(DAY,TEMP.REMINDEREXPIRYALERT,DATEADD(DAY,-TEMP.EXPIRYALERTNOTICE,CONVERT(DATE,TEMP.FINLEXPIRYDATE))) <= CONVERT(DATE,TEMP.FINLEXPIRYDATE)
			AND		CONVERT(DATE,TEMP.FINLEXPIRYDATE) >= CONVERT(DATE,GETDATE()) --AND CONVERT(date,GETDATE())>= CONVERT(DATE,TEMP.FINLVESTDATE) 
			AND		EXERCISEABLEQTY > 0 	
			GROUP BY
					 EMPLOYEEID,LOGINID,EMPNAME,EMPEMAIL,SCHEMEID,	
					 VESTINGTYPE,GRANTOPTID, FINLVESTDATE,DTDIFFERNCE,[DESCRIPTION],COMP_ID,				
					 Temp.COMPANYEMAILID,Temp.EMPEMAIL,Temp.COMPANYNAME,MAILSUBJECT,
					 TEMP.GRANTDATE,TEMP.EXERPRICE,TEMP.FINLEXPIRYDATE
		
			END
		 ELSE
		 	BEGIN
		 	INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,
					 UserId,	EmployeeName, EmployeeEmail, SchemeId, VestingType, LoginType, 
					 ReminderMailSent, GrantId, GrantedQty,GrantOptionId,ExpiryDate,
					 DtDiffernce, [Description], CompanyId,[From],[To],[CompanyName], MailSubject, MailBody )
			SELECT 
					EMPLOYEEID,		
					LOGINID,		
					EMPNAME,		
					EMPEMAIL,
					SCHEMEID,		
					VESTINGTYPE,
					'E',			
					'Y' REMINDERMAILSENT,
					GRANTID,					
					GRANTEDOPTIONS,
					GRANTOPTID,
					FINLEXPIRYDATE,			
					DTDIFFERNCE,
					[DESCRIPTION],
					COMP_ID,
					Temp.COMPANYEMAILID,
					Temp.EMPEMAIL,
					Temp.COMPANYNAME,
					@MAILSUBJECT MAILSUBJECT,	
					CASE
						WHEN UPPER(@CompanyId)='AXISBANK'		
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE(REPLACE
									(REPLACE(REPLACE(REPLACE(@MailBody,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}', TEMP.EXERPRICE),
												'{7}', TEMP.LOGINID),
												'{8}', @CompanyId)
						WHEN UPPER(@CompanyId)='KOTAK'			
							THEN 
								REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MailBody,'{0}', TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}', TEMP.EXERPRICE)						
						ELSE 	
							REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MailBody,'{0}',  TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}', TEMP.EXERPRICE)
					END	MAILBODY					
			FROM	#TEMP_EMPDET_COMPDET TEMP
			WHERE	CONVERT(DATE,GETDATE()) >= DATEADD(DAY,TEMP.REMINDEREXPIRYALERT,DATEADD(DAY,-TEMP.EXPIRYALERTNOTICE,CONVERT(DATE,TEMP.FINLEXPIRYDATE)))
			AND		DATEADD(DAY,TEMP.REMINDEREXPIRYALERT,DATEADD(DAY,-TEMP.EXPIRYALERTNOTICE,CONVERT(DATE,TEMP.FINLEXPIRYDATE))) <= CONVERT(DATE,TEMP.FINLEXPIRYDATE)
			AND		CONVERT(DATE,TEMP.FINLEXPIRYDATE) >= CONVERT(DATE,GETDATE())
			AND		EXERCISEABLEQTY > 0
		 	END
		END

		BEGIN
			IF(@IS_PUP_ENABLE=1 AND @PUP_EXPIRY_ALERT_REM_NOTICE >=0) 
			BEGIN
				INSERT INTO #TEMP_MAIL_ALERT_CR_EMP ( EmployeeId,
					 UserId,	EmployeeName, EmployeeEmail, SchemeId, VestingType, LoginType, 
					 ReminderMailSent, GrantId, GrantedQty,GrantOptionId,ExpiryDate,
					 DtDiffernce, [Description], CompanyId,[From],[To],[CompanyName], MailSubject, MailBody )
			SELECT 
					EMPLOYEEID,		
					LOGINID,		
					EMPNAME,		
					EMPEMAIL,
					SCHEMEID,		
					VESTINGTYPE,
					'E',			
					'Y' REMINDERMAILSENT,
					GRANTID,					
					GRANTEDOPTIONS,
					GRANTOPTID,
					FINLEXPIRYDATE,			
					DTDIFFERNCE,
					[DESCRIPTION],
					COMP_ID,
					Temp.COMPANYEMAILID,
					Temp.EMPEMAIL,
					Temp.COMPANYNAME,
					@MAILSUBJECT MAILSUBJECT,
					REPLACE(REPLACE(REPLACE(REPLACE
										(REPLACE(REPLACE(@MailBody,'{0}',  TEMP.EMPNAME),
												'{1}', REPLACE(CONVERT(NVARCHAR(11),TEMP.FINLEXPIRYDATE,113),' ','-')),
												'{2}', TEMP.SchemeId),
												'{3}', REPLACE(CONVERT(NVARCHAR(11),TEMP.GrantDate,113),' ','-')),
												'{4}', TEMP.EXERCISEABLEQTY),
												'{5}', TEMP.EXERPRICE)
										
			FROM	#TEMP_EMPDET_COMPDET TEMP			
			WHERE	CONVERT(DATE,GETDATE()) >= DATEADD(DAY,CONVERT(INT,TEMP.PUP_EXPIRY_ALERT_REMINDER_IN_DAYS),DATEADD(DAY,-TEMP.PUP_EXPIRY_ALERT_IN_DAYS,CONVERT(DATE,TEMP.FINLEXPIRYDATE)))
			AND		DATEADD(DAY,CONVERT(INT,TEMP.PUP_EXPIRY_ALERT_REMINDER_IN_DAYS),DATEADD(DAY,-TEMP.PUP_EXPIRY_ALERT_IN_DAYS,CONVERT(DATE,TEMP.FINLEXPIRYDATE))) <= CONVERT(DATE,TEMP.FINLEXPIRYDATE)
			AND		CONVERT(DATE,TEMP.FINLEXPIRYDATE) >= CONVERT(DATE,GETDATE())
			AND		EXERCISEABLEQTY > 0
			END
			
			INSERT INTO #New_Message_To(
					EmployeeID,		
					MessageDate,
					MailSubject,
					MailBody
					)
			SELECT	CRVMA.EmployeeId,
					CONVERT(DATE,GETDATE()),
					CRVMA.MailSubject,
					--REPLACE(REPLACE(REPLACE(REPLACE(VMA.MailBody,'</P>',' '),'<P>', ' '),'<br />', ' '),'&nbsp;',' ')
					REPLACE(REPLACE(
					REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(
					REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(CRVMA.MailBody,
						'<div style="font-family: arial; font-size: 12px; width: 600px; line-height: 20px;">',''),
						'<table style="width: 100%; font-family: arial; font-size: 12px; line-height: 20px; border-collapse: collapse;" cellpadding="4" cellspaing="0">',''),									
						'<tr>',''),
						'</tr>',''),
						'<td style="width: 50%; border: 1px solid #000;">',''),
						'</td>',''),
						'</table>',''),
						'<td colspan="2">',''),
						'</div>',''),
						'<td colspan="2" style="text-align: justify;  font-family: arial; font-size: 12px; line-height: 20px; ">',''),
						'<a href="http://www.myesops.com/">',''),
						'</a>',''),
						'<br />',''),
						'<b>',''),
						'</b>',''),
						'<a href="mailto:fundinghelpdesk@esopdirect.com">',''),
						'<a href="mailto:techmahindra@esopdirect.com">',''),
						'<a href="mailto:axisbank@esopdirect.com">',''),
						'<a href="http://www.esopdirect.com/">','')
						
			FROM	#TEMP_MAIL_ALERT_CR_EMP AS CRVMA
			WHERE	MailBody IS NOT NULL
			AND		CRVMA.LoginType='E'
			AND		CRVMA.ReminderMailSent='Y'
		
			SELECT	EmployeeId, UserId,	EmployeeName, EmployeeEmail, SchemeId, VestingType, 
					LoginType, ReminderMailSent, GrantId, SchemeId,GrantOptionId,GrantedQty [GrantedOptions],
					ExpiryDate, DtDiffernce, [Description], CompanyId, 
					MailSubject [ReminderMailSubject], MailBody [ReminderMailBody]
			FROM   #TEMP_MAIL_ALERT_CR_EMP		
			WHERE	ReminderMailSent='Y'
			AND		LoginType='E'
		END
		
		
		BEGIN
			IF((SELECT COUNT(EmployeeId) AS ROW_COUNT FROM #TEMP_MAIL_ALERT_CR_EMP) > 0)
			BEGIN
				BEGIN TRY
					BEGIN TRANSACTION
						----------------------------------
						-- Inser Records into MailSpool
						----------------------------------
						INSERT INTO [MailerDB]..[MailSpool]
							([MessageID], [From], [To], [Subject], [Description], [Attachment1], [Attachment2], 
							[Attachment3],[Attachment4], [MailSentOn], [Cc], [enablereadreceipt], [deliveryNotify], 
							[Bcc], [FailureSendMailAttempt], [CreatedOn])
						SELECT Message_ID, [From], [To], MailSubject, MailBody, NULL, NULL, NULL, NULL, NULL, NULL, 
							'N', 'N', NULL, NULL, GETDATE()  
						FROM #TEMP_MAIL_ALERT_CR_EMP
						
						-----------------------
						-- Insert Records into NewMessageTo 
						-----------------------
						INSERT INTO NewMessageTo
							(MessageID,EmployeeID,MessageDate,[Subject],[Description],ReadDateTime,CategoryID,
								IsReplySent,LastUpdatedBy,LastUpdatedOn,IsDeleted)
						SELECT	Message_ID,EmployeeID,MessageDate,NMT.MailSubject,NMT.MailBody,NULL,2,0,'Admin',GETDATE() ,0 
						FROM	#New_Message_To NMT
						WHERE	(NMT.MailBody IS NOT NULL)
						
						---------------------------------------------
						-- Update SetAlert Table
						---------------------------------------------
						UPDATE	SA SET SA.IsMailSentForExpiry = '0' 
						FROM	SetAlert AS SA 
								INNER JOIN #TEMP_MAIL_ALERT_CR_EMP AS CRVMA ON CRVMA.EmployeeId = SA.EmployeeID 
						WHERE	(CRVMA.MailBody IS NOT NULL) AND CRVMA.LoginType='E' AND (CRVMA.ExpiryMailSent IS NOT NULL) 
						
						------------------------------------------------------
						-- Update GrantLeg Table
						------------------------------------------------------
						UPDATE GL SET GL.ExpiredMailSent = 'E' FROM GrantLeg AS GL
								INNER JOIN #TEMP_MAIL_ALERT_CR_EMP AS CRVMA ON CRVMA.GrantId = GL.ID 
						WHERE (CRVMA.MailBody IS NOT NULL) AND (CRVMA.ExpiryMailSent IS NOT NULL)	
						-------------------------------------------------------						
						
					COMMIT TRANSACTION
				END TRY
				BEGIN CATCH
					IF @@TRANCOUNT > 0
						ROLLBACK TRANSACTION
					INSERT INTO ESOPMANAGER..ErrorLog(Client,Exception,[Message],loggedTime,UserID)
						SELECT @Comp_Id,ERROR_STATE(),ERROR_MESSAGE(),GETDATE() ,'TS_ExpiryAlert_Set_ByCR'
					
					SELECT	ERROR_NUMBER()		AS ErrorNumber, 
							ERROR_SEVERITY()	AS ErrorSeverity, 
							ERROR_STATE()		AS ErrorState, 
							ERROR_PROCEDURE()	AS ErrorProcedure, 
							ERROR_LINE()		AS ErrorLine, 
							ERROR_MESSAGE()		AS ErrorMessage;
				END CATCH	
			END			
		END
	SET NOCOUNT OFF;
END
GO
