/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_DEMAT_DETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SOPsUI_VALIDATE_DEMAT_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_DEMAT_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SOPsUI_VALIDATE_DEMAT_DETAILS] 
	
	@SOPSsUI_GET_DEMAT_DETAILS SOPSsUI_GET_DEMAT_DETAILS READONLY
AS
BEGIN
	
	SET NOCOUNT ON;
	
	--SELECT * FROM @SOPSsUI_GET_DEMAT_DETAILS

	CREATE TABLE #TABLE_CHECK_VALID_PAYMENT_MODE
	(
		TCVPM_EXERCISE_NUMBER NVARCHAR(100),
		TCVPM_PAYMENT_MODE NVARCHAR(1)
	)
	
	INSERT INTO #TABLE_CHECK_VALID_PAYMENT_MODE 
	SELECT EXERCISE_NUMBER, PAYMENT_MODE FROM @SOPSsUI_GET_DEMAT_DETAILS
	
	DELETE TCVPM
	FROM #TABLE_CHECK_VALID_PAYMENT_MODE AS TCVPM
	INNER JOIN PaymentMaster AS PM ON UPPER(PM.PaymentMode) = UPPER(TCVPM.TCVPM_PAYMENT_MODE)

	/* Check exercise number available in  online payment mode */
	CREATE TABLE #TABLE_CHECK_EXERCISE_NUMBER_ONLINE
	(
		TCDN_EXERCISE_NUMBER NVARCHAR(100),		
		TCDN_PAYMENT_MODE NVARCHAR(1)
	)
	
	INSERT INTO #TABLE_CHECK_EXERCISE_NUMBER_ONLINE 
	SELECT EXERCISE_NUMBER, PAYMENT_MODE FROM @SOPSsUI_GET_DEMAT_DETAILS WHERE UPPER(PAYMENT_MODE) IN ('N')
	
	DELETE TCENO
	FROM #TABLE_CHECK_EXERCISE_NUMBER_ONLINE AS TCENO
	INNER JOIN Transaction_Details AS TD ON CONVERT(NVARCHAR(100),TD.Sh_ExerciseNo) = CONVERT(NVARCHAR(100),TCENO.TCDN_EXERCISE_NUMBER) 	
 	
	/* Check exercise number available in cashless mode */

	CREATE TABLE #TABLE_CHECK_EXERCISE_NUMBER_CASHLESS
	(
		TCENC_EXERCISE_NUMBER NVARCHAR(100),		
		TCENC_PAYMENT_MODE NVARCHAR(1)
	)
	
	INSERT INTO #TABLE_CHECK_EXERCISE_NUMBER_CASHLESS 
	SELECT EXERCISE_NUMBER, PAYMENT_MODE FROM @SOPSsUI_GET_DEMAT_DETAILS WHERE UPPER(PAYMENT_MODE) IN ('C','P','A')
	
	DELETE TCENC
	FROM #TABLE_CHECK_EXERCISE_NUMBER_CASHLESS AS TCENC
	INNER JOIN TransactionDetails_CashLess AS TDC ON CONVERT(NVARCHAR(100),TDC.ExerciseNo) = CONVERT(NVARCHAR(100),TCENC.TCENC_EXERCISE_NUMBER) 
	
	/* Check exercise number available in Offine payment mode */

	CREATE TABLE #TABLE_CHECK_EXERCISE_NUMBER_OFFLINE
	(
		TCENOF_EXERCISE_NUMBER NVARCHAR(100),		
		TCENOF_PAYMENT_MODE NVARCHAR(1)
	)
	
	INSERT INTO #TABLE_CHECK_EXERCISE_NUMBER_OFFLINE 
	SELECT DISTINCT EXERCISE_NUMBER, PAYMENT_MODE FROM @SOPSsUI_GET_DEMAT_DETAILS AS SGDD
	INNER JOIN PaymentMaster AS PM ON PM.PaymentMode = UPPER(SGDD.PAYMENT_MODE)
	INNER JOIN PaymentMaster AS PM1 ON PM.Id = PM1.Parentid
	WHERE UPPER(PM.PaymentMode) = 'O'

	
	DELETE TCENC
	FROM #TABLE_CHECK_EXERCISE_NUMBER_CASHLESS AS TCENC
	INNER JOIN TransactionDetails_CashLess AS TDC ON CONVERT(NVARCHAR(100),TDC.ExerciseNo) = CONVERT(NVARCHAR(100),TCENC.TCENC_EXERCISE_NUMBER) 


	SELECT EXERCISE_NUMBER AS 'IDs', 'Remove duplicated Exercise Number from excel sheet.' AS 'Message' FROM @SOPSsUI_GET_DEMAT_DETAILS GROUP BY EXERCISE_NUMBER HAVING COUNT(EXERCISE_NUMBER) > 1
	UNION ALL
	SELECT TCVPM_EXERCISE_NUMBER AS 'IDs', 'Invalid payment modes for Exercise Number.' AS 'Message' FROM #TABLE_CHECK_VALID_PAYMENT_MODE
	UNION ALL
	SELECT EXERCISE_NUMBER AS 'IDs', 'Invalid Depository Name for Exercise Number.' AS 'Message' FROM @SOPSsUI_GET_DEMAT_DETAILS WHERE UPPER(DEPOSITORY_NAME) NOT IN ('N','C')
	UNION ALL
	SELECT EXERCISE_NUMBER AS 'IDs', 'Invalid Demat Account Type for Exercise Number.' AS 'Message' FROM @SOPSsUI_GET_DEMAT_DETAILS WHERE UPPER(DEMAT_TYPE) NOT IN ('R','N','A')
	UNION ALL
	SELECT TCDN_EXERCISE_NUMBER AS 'IDs', 'Invalid Exercise Number for Online Payment Mode.' AS 'Message' FROM #TABLE_CHECK_EXERCISE_NUMBER_ONLINE
	UNION ALL
	SELECT TCENC_EXERCISE_NUMBER AS 'IDs', 'Invalid Exercise Number for Cashless Payment Mode.' AS 'Message' FROM #TABLE_CHECK_EXERCISE_NUMBER_CASHLESS
	UNION ALL
	SELECT TCENOF_EXERCISE_NUMBER AS 'IDs', 'Invalid Exercise Number for Offline Payment Mode.' AS 'Message' FROM #TABLE_CHECK_EXERCISE_NUMBER_OFFLINE

	SET NOCOUNT OFF;				
END
GO
