/****** Object:  StoredProcedure [dbo].[PROC_GET_EXERCISE_STEP_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_EXERCISE_STEP_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_EXERCISE_STEP_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_GET_EXERCISE_STEP_DETAILS] 
	@MIT_ID INT
AS
	
BEGIN
	SET NOCOUNT ON;
    SELECT 
		MST_EX_STEP_ID, 
		TITLE, 
		DISPLAY_NAME, 
		MES.IS_ACTIVE, 
		IS_SELECTED,
		DISPLAY_SEQUENCE,
		MDUM.MDUM_ID AS UPLOAD_TYPE
    FROM 
		MST_EXERCISE_STEPS MES LEFT JOIN MST_DOCUMENT_UPLOAD_MASTER MDUM ON MDUM.MDUM_ID = MES.UPLOAD_TYPE			
    WHERE
	    MIT_ID = @MIT_ID AND MES.IS_ACTIVE = 1

	SET NOCOUNT OFF;    
	
END
GO
