/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_DELETE_MOBILITY_DATA]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SOPsUI_DELETE_MOBILITY_DATA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_DELETE_MOBILITY_DATA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SOPsUI_DELETE_MOBILITY_DATA] 
	
	@EMPLOYEE_ID NVARCHAR(100),
	@FIELD_MASTER NVARCHAR(50),
	@DATE_OF_MOVEMENT DATE,
	@LAST_UPDATED_BY NVARCHAR(100),
	@TEMPLATE_NAME NVARCHAR(100)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	BEGIN TRY

		BEGIN TRANSACTION
		
		DELETE FROM 
			AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD 
		WHERE 
			(EmployeeId = @EMPLOYEE_ID) AND (UPPER(Field) =  UPPER(@FIELD_MASTER)) AND (CONVERT(DATE,[From Date of Movement]) = CONVERT(DATE, @DATE_OF_MOVEMENT))

		INSERT INTO AUDIT_SOPs_UI 
			(TEMPLATE_NAME, UPDATED_BY, UPDATED_ON, UNIQUE_IDENTIFIER_TEXT, UNIQUE_IDENTIFIER_VALE, COMMAND_EXECUATED, COMMAND_PARAMETER)
		VALUES
			(@TEMPLATE_NAME, @LAST_UPDATED_BY, GETDATE(), 'Employee ID, Field Master', @EMPLOYEE_ID +', '+@FIELD_MASTER, 'PROC_SOPsUI_DELETE_MOBILITY_DATA', '@EMPLOYEE_ID, @FIELD_MASTER, @DATE_OF_MOVEMENT, @LAST_UPDATED_BY, @TEMPLATE_NAME')
				 

		COMMIT TRANSACTION

		SELECT 'SUCCESS' AS 'ErrorMessage'

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT @@ERROR AS 'ErrorMessage'
	END CATCH
	
	SET NOCOUNT OFF;				
END
GO
