/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_EXCEPTION_DETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATE_EXCEPTION_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_EXCEPTION_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATE_EXCEPTION_DETAILS]
(
	@MIT_ID INT,
	@EXCEPT_FOR_TAXRATE_VAL TINYINT,
	@EXCEPT_FOR_TAXRATE VARCHAR(1),
	@APPLYTAXON VARCHAR(50) = NULL	
)
AS
BEGIN

	SET NOCOUNT ON;				
    IF(@MIT_ID !='')		
    BEGIN 
		UPDATE COMPANY_INSTRUMENT_MAPPING SET  EXCEPT_FOR_TAXRATE_VAL = @EXCEPT_FOR_TAXRATE_VAL,EXCEPT_FOR_TAXRATE = @EXCEPT_FOR_TAXRATE,
	    TAXCALCULATION_BASEDON = @APPLYTAXON
		WHERE MIT_ID = @MIT_ID
	END 

	SET NOCOUNT OFF;	
END
GO
