/****** Object:  StoredProcedure [dbo].[PROC_GET_TRACK_EMP_IDs]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_TRACK_EMP_IDs]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_TRACK_EMP_IDs]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_TRACK_EMP_IDs]
AS
BEGIN
	CREATE TABLE #TEMP
	(
		TEMP_ID INT IDENTITY(1,1),
		EMPLOYEEID	NVARCHAR(50)
	)
	INSERT INTO #TEMP (EMPLOYEEID)
		SELECT '---ALL---' AS EMPLOYEEID
	
	INSERT INTO #TEMP
		SELECT DISTINCT EMPLOYEEID 
		FROM AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD
		
		
	SELECT EMPLOYEEID FROM #TEMP ORDER BY TEMP_ID 
	
	DROP TABLE #TEMP		
END
GO
