/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_EXERCISE_SETTING]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATE_EXERCISE_SETTING]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_EXERCISE_SETTING]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_UPDATE_EXERCISE_SETTING] 
(
    @COMPANYID                  VARCHAR(20),
    @MIT_ID                     INT = NULL,
	@MULTIPLE_GRANT_EXERCISE    CHAR = NULL,
	@MULTIPLE_VEST_EXERCISE     CHAR = NULL,
	@EXERCISE_COMPLETE_VEST     CHAR = NULL,
	@CHECKUNDERWATER            VARCHAR(10) = NULL,
	@APPLY_FIFO                 CHAR = NULL,
	@MINNOOFEXEOPT              VARCHAR(10) = NULL,
	@MULTIPLEFOREXEOPT          VARCHAR(10) = NULL,
	@ISEXERISEATONEGO           CHAR = NULL,
	@ISEXESEPARATELY            CHAR = NULL,
	@DEMATDETAILS_CHECK         CHAR = NULL,
	@HEADERFOREXERCISEAMOUNT    VARCHAR(1000) = NULL,
    @ACCOUNTNOFOREXERCISEAMOUNT VARCHAR(20)  = NULL,
    @HEADERFORPERQUISITETAX    VARCHAR(1000) = NULL,
    @ACCOUNTNOFORPERQUISITETAX  VARCHAR(20) = NULL,
	@CREATED_BY                 NVARCHAR(100) = NULL,
	@RETVALUE                   INT OUTPUT
)
AS
BEGIN	
	SET NOCOUNT ON;

    IF EXISTS (SELECT ES_ID FROM EXERCISE_SETTING WHERE COMPANYID = @COMPANYID AND MIT_ID = @MIT_ID)
	BEGIN
		UPDATE EXERCISE_SETTING
		SET 
		    MULTIPLE_GRANT_EXERCISE = ISNULL(@MULTIPLE_GRANT_EXERCISE, MULTIPLE_GRANT_EXERCISE),
			MULTIPLE_VEST_EXERCISE = ISNULL(@MULTIPLE_VEST_EXERCISE, MULTIPLE_VEST_EXERCISE),
			EXERCISE_COMPLETE_VEST = ISNULL(@EXERCISE_COMPLETE_VEST, EXERCISE_COMPLETE_VEST),
			CHECKUNDERWATER = ISNULL(@CHECKUNDERWATER, CHECKUNDERWATER),
			APPLY_FIFO = ISNULL(@APPLY_FIFO, APPLY_FIFO),
			MINNOOFEXEOPT = ISNULL(@MINNOOFEXEOPT, MINNOOFEXEOPT),
			MULTIPLEFOREXEOPT = ISNULL(@MULTIPLEFOREXEOPT, MULTIPLEFOREXEOPT),
			ISEXERISEATONEGO = ISNULL(@ISEXERISEATONEGO, ISEXERISEATONEGO),
			ISEXESEPARATELY = ISNULL(@ISEXESEPARATELY, ISEXESEPARATELY),
			DEMATDETAILS_CHECK = ISNULL(@DEMATDETAILS_CHECK, DEMATDETAILS_CHECK),
			HEADERFOREXERCISEAMOUNT = ISNULL(@HEADERFOREXERCISEAMOUNT, HEADERFOREXERCISEAMOUNT),
			ACCOUNTNOFOREXERCISEAMOUNT = ISNULL(@ACCOUNTNOFOREXERCISEAMOUNT, ACCOUNTNOFOREXERCISEAMOUNT),
			HEADERFORPERQUISITETAX = ISNULL(@HEADERFORPERQUISITETAX, HEADERFORPERQUISITETAX),
			ACCOUNTNOFORPERQUISITETAX = ISNULL(@ACCOUNTNOFORPERQUISITETAX, ACCOUNTNOFORPERQUISITETAX),
			CREATED_BY = ISNULL(@CREATED_BY, CREATED_BY),
			CREATED_ON = GETDATE(),
			UPDATED_BY = ISNULL(@CREATED_BY, CREATED_BY),
			UPDATED_ON = GETDATE()	    
		 WHERE COMPANYID = @COMPANYID AND MIT_ID = @MIT_ID 	          
    END
    ELSE
    BEGIN
        INSERT INTO EXERCISE_SETTING 
		(
		    COMPANYID, MIT_ID, MULTIPLE_GRANT_EXERCISE, MULTIPLE_VEST_EXERCISE, EXERCISE_COMPLETE_VEST,
			CHECKUNDERWATER, APPLY_FIFO, MINNOOFEXEOPT,	MULTIPLEFOREXEOPT, ISEXERISEATONEGO,
			ISEXESEPARATELY, DEMATDETAILS_CHECK, HEADERFOREXERCISEAMOUNT, ACCOUNTNOFOREXERCISEAMOUNT,
            HEADERFORPERQUISITETAX, ACCOUNTNOFORPERQUISITETAX, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON
		)
		VALUES 
		(  
		    @COMPANYID, @MIT_ID, @MULTIPLE_GRANT_EXERCISE, @MULTIPLE_VEST_EXERCISE, @EXERCISE_COMPLETE_VEST,
			@CHECKUNDERWATER, @APPLY_FIFO, @MINNOOFEXEOPT,	@MULTIPLEFOREXEOPT, @ISEXERISEATONEGO,
			@ISEXESEPARATELY, @DEMATDETAILS_CHECK, @HEADERFOREXERCISEAMOUNT, @ACCOUNTNOFOREXERCISEAMOUNT,
            @HEADERFORPERQUISITETAX, @ACCOUNTNOFORPERQUISITETAX, @CREATED_BY, GETDATE(), @CREATED_BY, GETDATE()
		)
    END

	SET @RETVALUE = @@ROWCOUNT;
	SET NOCOUNT OFF;
END
GO
