/****** Object:  StoredProcedure [dbo].[PROC_HRMS_REASON_MAPPINGS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_HRMS_REASON_MAPPINGS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_HRMS_REASON_MAPPINGS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_HRMS_REASON_MAPPINGS]
	@MAPPING_TYPE VARCHAR(15)
AS
BEGIN

	IF(UPPER(@MAPPING_TYPE) = 'GRIDBIND')	
	BEGIN
		SELECT HRM.HRMSID, HRM.ExitCode AS InputReasons, RFT.Reason AS MyESOPsReasons, HRM.ReasonForTermination AS MyESOPsReasonsVal,
		0 AS IsDeleted,CONVERT(BIT,ISNULL(HRM.ISSEPARATEDMARK,1)) AS [IsSeparatedMark] FROM HRMSReasonMappings AS HRM
		INNER JOIN ReasonForTermination AS RFT ON HRM.ReasonForTermination = RFT.ID
		ORDER BY HRM.HRMSID ASC
	END
	
	ELSE IF(UPPER(@MAPPING_TYPE) = 'LISTBIND')
	BEGIN
		SELECT ID, Reason FROM ReasonForTermination
	END
	
END
GO
