/****** Object:  StoredProcedure [dbo].[PROC_GET_CONTROL_FIELDS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_CONTROL_FIELDS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_CONTROL_FIELDS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_CONTROL_FIELDS]
(
	@PAGENAME	VARCHAR (100),
	@MIT_ID					INT =Null
)
AS
BEGIN
	SET NOCOUNT ON;
	
	IF(UPPER(@PAGENAME)='PERQUISITEVALUE')
	BEGIN
			DECLARE @Instrument_Type VARCHAR(10)
			SELECT @Instrument_Type=MCC.CODE_NAME 
			FROM MST_INSTRUMENT_TYPE MIT INNER JOIN MST_COM_CODE MCC ON MCC.MCC_ID= MIT.INSTRUMENT_GROUP 
			INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='INSTRUMENT GROUP' AND MIT.MIT_ID=@MIT_ID
			/*  TRANSCATION DATE */
			print @Instrument_Type
			IF(UPPER(@Instrument_Type)='SAR')
			SELECT MCC_ID , Code_Name,'Button' AS Control_Type FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='FORMULA PARAMETERS' 
			ELSE
			SELECT MCC_ID , Code_Name,'Button' AS Control_Type FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE MCCG.CODE_GROUP_NAME='FORMULA PARAMETERS' AND MCC.CODE_NAME not in('Shares arising out of appreciation','Settlement Price')
			
	END
	
	IF(UPPER(@PAGENAME)='PROPORTIONATEPERQVALUE')
	BEGIN
			/*  TRANSCATION DATE */
			SELECT MCC_ID , Code_Name,'Button' AS Control_Type  FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE  MCC.CODE_NAME in ('Vesting Date','Exercise Date','Grant Date','Last Travel Date','All') 
			
	END

	IF(UPPER(@PAGENAME)='APPRECIATION_EQUITY')
	BEGIN
			/*  TRANSCATION DATE */
			SELECT MCC_ID , Code_Name,'Button' AS Control_Type  FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE  MCCG.CODE_GROUP_NAME IN('APPERACIATION PARAM CASH SETTLED')
			
	END

	IF(UPPER(@PAGENAME)='APPRECIATION_CASH')
	BEGIN
			/*  TRANSCATION DATE */
			SELECT MCC_ID , Code_Name,'Button' AS Control_Type  FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE  MCCG.CODE_GROUP_NAME IN('APPERACIATION PARAM CASH SETTLED')
			
	END
	
	IF(UPPER(@PAGENAME)='APPRECIATION_PHANTOM')
	BEGIN
			/*  TRANSCATION DATE */
			SELECT MCC_ID , Code_Name,'Button' AS Control_Type  FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE  MCCG.CODE_GROUP_NAME IN('APPERACIATION PARAM CASH SETTLED')
			
	END

	IF(UPPER(@PAGENAME)='NET_CASH_PAYOUT')
	BEGIN
			/*  TRANSCATION DATE */
			SELECT MCC_ID , Code_Name,'Button' AS Control_Type  FROM MST_COM_CODE MCC INNER JOIN MST_COM_CODE_GROUP MCCG ON MCC.MCCG_ID=MCCG.MCCG_ID
			WHERE  MCCG.CODE_GROUP_NAME IN('NET CASH PAYOUT')
			
	END
END
GO
