/****** Object:  StoredProcedure [dbo].[PROC_GET_STATUS_LIST]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_STATUS_LIST]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_STATUS_LIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_STATUS_LIST]
(	 
		@PAGENAME				VARCHAR(250) ,
		@STATUS_TYPE			VARCHAR(10) ,
		@INSTRUMENT_ID			BIGINT=NULL
		
)
AS
BEGIN
	
	SET NOCOUNT ON;

			IF(UPPER(@PAGENAME)='FMV')
			BEGIN
					IF(@STATUS_TYPE='R')
					BEGIN
							--SELECT [Description] as [Residential Status] ,id,ResidentialStatus,(SELECT COUNT(FFC_ID) FROM FMV_FORMULA_CONFIG WHERE Residential_ID=id And Country_ID is null And MIT_ID= @INSTRUMENT_ID )as [Action] FROM ResidentialType
							SELECT CASE WHEN ISNULL(CIMD.ACTIVE,0)>0 THEN '1' ELSE '0' END As [Active], RT.[Description] AS [Residential Status] ,RT.ID,RT.ResidentialStatus,ISNULL(FFC.FFC_ID,0) AS CONFIG_ID , CASE WHEN ISNULL(FFC.FFC_ID,0)>0 THEN '1' ELSE '0'END As [Action],
							CASE WHEN ISNULL(FFC.FFC_ID,0)>0 THEN CONVERT(DATE,FFC.APPLICABLE_FROM_DATE)   ELSE (SELECT TOP(1) CONVERT(DATE,ISNull(Calc_PerqDt_From,'01/01/1900')) FROM CompanyParameters) END AS [LOCKINGDATE]
							FROM ResidentialType RT LEFT OUTER JOIN FMV_FORMULA_CONFIG FFC ON RT.id=FFC.Residential_ID  AND ISNULL( FFC.Country_ID,0) =0 AND FFC.MIT_ID= @INSTRUMENT_ID And FFC.FFC_ID=(SELECT TOP(1) FFC_ID FROM FMV_FORMULA_CONFIG WHERE Isnull(Country_ID,0)=0 And Residential_ID=RT.id AND FMV_FORMULA_CONFIG.MIT_ID =@INSTRUMENT_ID ORDER BY FFC_ID DESC  )
							Left Outer Join COMPANY_INSTRUMENT_MAP_DETAILS CIMD on RT.id=CIMD.Residential_ID  AND CIMD.SETTING_TYPE='FMV' AND CIM_ID= (SELECT CIM_ID FROM COMPANY_INSTRUMENT_MAPPING WHERE MIT_ID=@INSTRUMENT_ID)
							WHERE RT.ResidentialStatus NOT IN('C','O')
							
					END
					ELSE
					BEGIN
							SELECT CASE WHEN ISNULL(CIMD.ACTIVE,0)>0 THEN '1' ELSE '0' END As [Active], CM.CountryName AS [Country Name],CM.ID, CountryAliasName ,ISNULL(FFC.FFC_ID,0) AS CONFIG_ID, CASE WHEN ISNULL(FFC.FFC_ID,0)>0 THEN '1' ELSE '0'END As [Action],
							CASE WHEN ISNULL(FFC.FFC_ID,0)>0 THEN CONVERT(DATE,FFC.APPLICABLE_FROM_DATE)   ELSE (SELECT TOP(1) CONVERT(DATE,ISNull(Calc_PerqDt_From,'01/01/1900')) FROM CompanyParameters) END AS [LOCKINGDATE]
							FROM COUNTRYMASTER CM LEFT OUTER JOIN FMV_FORMULA_CONFIG FFC ON CM.id=FFC.Country_ID  And ISNULL( FFC.Residential_ID,0) =0  And FFC.MIT_ID= @INSTRUMENT_ID And FFC.FFC_ID=(SELECT TOP(1) FFC_ID FROM FMV_FORMULA_CONFIG WHERE Country_ID= CM.ID And Isnull(Residential_ID,0)=0 AND FMV_FORMULA_CONFIG.MIT_ID =@INSTRUMENT_ID ORDER BY FFC_ID DESC  )
							LEFT OUTER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD ON CM.ID=CIMD.COUNTRY_ID AND CIMD.SETTING_TYPE='FMV' AND CIM_ID= (SELECT CIM_ID FROM COMPANY_INSTRUMENT_MAPPING WHERE MIT_ID=@INSTRUMENT_ID)
							WHERE CM.IsSelected='1'
							
					END	
			END
			IF(UPPER(@PAGENAME)='PERQUISITEVALUE')
			BEGIN
					IF(@STATUS_TYPE='R')
					BEGIN
							
							SELECT CASE WHEN ISNULL(CIMD.ACTIVE,0)>0 THEN '1' ELSE '0' END As [Active], CASE WHEN CIMD.APPLICABILITY IS NOT NULL THEN CIMD.APPLICABILITY ELSE '1' END AS  Applicability, RT.[Description] AS [Residential Status] ,RT.ID,RT.ResidentialStatus,ISNULL(PFC.PFC_ID,0) AS CONFIG_ID , CASE WHEN ISNULL(PFC.PFC_ID,0)>0 THEN '1' ELSE '0'END As [Action],
							CASE WHEN ISNULL(PFC.PFC_ID,0)>0 THEN CONVERT(DATE,PFC.APPLICABLE_FROM_DATE)   ELSE (SELECT TOP(1) CONVERT(DATE,ISNull(Calc_PerqDt_From,'01/01/1900')) FROM CompanyParameters) END AS [LOCKINGDATE] 
							FROM ResidentialType RT LEFT OUTER JOIN PERQUISITE_FORMULA_CONFIG PFC ON RT.id=PFC.Residential_ID  AND ISNULL(PFC.Country_ID,0)=0 And PFC.MIT_ID= @INSTRUMENT_ID And PFC.PFC_ID=(SELECT TOP(1) PFC_ID FROM PERQUISITE_FORMULA_CONFIG WHERE ISNULL(Country_ID,0)=0 And Residential_ID=RT.id AND PERQUISITE_FORMULA_CONFIG.MIT_ID =@INSTRUMENT_ID ORDER BY PFC_ID DESC  )
							LEFT OUTER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD on RT.id=CIMD.Residential_ID AND CIMD.SETTING_TYPE='PERQUISITE' AND CIM_ID= (SELECT CIM_ID FROM COMPANY_INSTRUMENT_MAPPING WHERE MIT_ID=@INSTRUMENT_ID)
							WHERE RT.ResidentialStatus NOT IN('C','O')
							 
					END
					ELSE
					BEGIN
							
							SELECT CASE WHEN ISNULL(CIMD.ACTIVE,0)>0 THEN '1' ELSE '0' END As [Active],CASE WHEN CIMD.APPLICABILITY IS NOT NULL THEN CIMD.APPLICABILITY ELSE '1' END AS  Applicability,CM.CountryName AS [Country Name],CM.ID, CountryAliasName ,ISNULL(PFC.PFC_ID,0) AS CONFIG_ID , CASE WHEN ISNULL(PFC.PFC_ID,0)>0 THEN '1' ELSE '0'END As [Action],
							CASE WHEN ISNULL(PFC.PFC_ID,0)>0 THEN CONVERT(DATE,PFC.APPLICABLE_FROM_DATE)   ELSE (SELECT TOP(1) CONVERT(DATE,ISNull(Calc_PerqDt_From,'01/01/1900')) FROM CompanyParameters) END AS [LOCKINGDATE]
							FROM COUNTRYMASTER CM LEFT OUTER JOIN PERQUISITE_FORMULA_CONFIG PFC ON CM.id=PFC.Country_ID AND ISNULL(PFC.Residential_ID,0)=0 AND PFC.MIT_ID= @INSTRUMENT_ID And PFC.PFC_ID=(SELECT TOP(1) PFC_ID FROM PERQUISITE_FORMULA_CONFIG WHERE Country_ID= CM.ID And ISNULL(Residential_ID,0)=0 AND PERQUISITE_FORMULA_CONFIG.MIT_ID =@INSTRUMENT_ID  ORDER BY PFC_ID DESC  )
							LEFT OUTER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD ON CM.ID=CIMD.COUNTRY_ID  AND CIMD.SETTING_TYPE='PERQUISITE' AND CIM_ID= (SELECT CIM_ID FROM COMPANY_INSTRUMENT_MAPPING WHERE MIT_ID=@INSTRUMENT_ID)
							WHERE CM.IsSelected='1'
							 
					END	
			END
			IF(UPPER(@PAGENAME)='PROPORTIONATEPERQVALUE')
			BEGIN
					IF(@STATUS_TYPE='R')
					BEGIN
							
							SELECT CASE WHEN ISNULL(CIMD.ACTIVE,0)>0 THEN '1' ELSE '0' END As [Active],CASE WHEN CIMD.APPLICABILITY IS NOT NULL THEN CIMD.APPLICABILITY ELSE '1' END AS  Applicability, RT.[Description] AS [Residential Status] ,RT.ID,RT.ResidentialStatus,ISNULL(PFC.PPC_ID,0) AS CONFIG_ID , CASE WHEN ISNULL(PFC.PPC_ID,0)>0 THEN '1' ELSE '0'END As [Action] , 
							CASE WHEN ISNULL(PFC.PPC_ID,0)>0 THEN CONVERT(DATE,PFC.APPLICABLE_FROM_DATE)   ELSE (SELECT TOP(1) CONVERT(DATE,ISNull(Calc_PerqDt_From,'01/01/1900')) FROM CompanyParameters) END AS [LOCKINGDATE]
							FROM ResidentialType RT LEFT OUTER JOIN PROPORTIONATE_PERQ_CONFIG PFC ON RT.id=PFC.Residential_ID  AND ISNULL(PFC.Country_ID,0)=0 AND PFC.MIT_ID= @INSTRUMENT_ID AND PFC.PPC_ID=(SELECT TOP(1) PPC_ID FROM PROPORTIONATE_PERQ_CONFIG WHERE ISNULL(Country_ID,0)=0 AND Residential_ID=RT.id AND PROPORTIONATE_PERQ_CONFIG.MIT_ID =@INSTRUMENT_ID ORDER BY PPC_ID DESC  )
							LEFT OUTER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD ON RT.ID=CIMD.RESIDENTIAL_ID  AND CIMD.SETTING_TYPE='PROPORTIONATE' AND CIM_ID= (SELECT CIM_ID FROM COMPANY_INSTRUMENT_MAPPING WHERE MIT_ID=@INSTRUMENT_ID)
							WHERE RT.ResidentialStatus NOT IN('C','O')
							 
					END
					ELSE
					BEGIN
							
							SELECT CASE WHEN ISNULL(CIMD.ACTIVE,0)>0 THEN '1' ELSE '0' END As [Active],CASE WHEN CIMD.APPLICABILITY IS NOT NULL THEN CIMD.APPLICABILITY ELSE '1' END AS  Applicability, CM.CountryName AS [Country Name],CM.ID, CountryAliasName ,ISNULL(PFC.PPC_ID,0) AS CONFIG_ID , CASE WHEN ISNULL(PFC.PPC_ID,0)>0 THEN '1' ELSE '0'END As [Action] ,CASE WHEN ISNULL(PFC.PPC_ID,0)>0 THEN CONVERT(DATE,PFC.APPLICABLE_FROM_DATE)   ELSE (SELECT TOP(1) CONVERT(DATE,ISNull(Calc_PerqDt_From,'01/01/1900')) FROM CompanyParameters) END AS [LOCKINGDATE]
							FROM COUNTRYMASTER CM LEFT OUTER JOIN PROPORTIONATE_PERQ_CONFIG PFC ON CM.id=PFC.Country_ID AND Isnull(PFC.Residential_ID,0)=0 AND PFC.MIT_ID= @INSTRUMENT_ID And PFC.PPC_ID=(SELECT TOP(1) PPC_ID FROM PROPORTIONATE_PERQ_CONFIG WHERE Country_ID= CM.ID And Isnull(Residential_ID,0)=0 AND PROPORTIONATE_PERQ_CONFIG.MIT_ID =@INSTRUMENT_ID ORDER BY PPC_ID DESC  )
							LEFT OUTER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD ON CM.ID=CIMD.COUNTRY_ID  AND CIMD.SETTING_TYPE='PROPORTIONATE' AND CIM_ID= (SELECT CIM_ID FROM COMPANY_INSTRUMENT_MAPPING WHERE MIT_ID=@INSTRUMENT_ID)
							WHERE CM.IsSelected='1'
							 
					END	
			END			
			IF(UPPER(@PAGENAME)='TAXRATESETTING')
			BEGIN
					/* print 'TAXRATESETTING' */
					IF(@STATUS_TYPE='R')
					BEGIN			
					/* print 'R' */
							SELECT RT.[Description] AS [STATUS] ,RT.ID,RT.ResidentialStatus As RESIDENTIALSTATUS
							FROM ResidentialType RT 							
							WHERE RT.ResidentialStatus NOT IN('C','O')							
							 
					END
					ELSE
					BEGIN
							/* print 'C' */
							SELECT CM.CountryName AS [STATUS],CM.ID, CountryAliasName 
							FROM COUNTRYMASTER CM 
							WHERE CM.IsSelected='1'
							 
					END	
			END			
			IF(UPPER(@PAGENAME)='SCHEME')
			BEGIN
				IF(@STATUS_TYPE='R')
				BEGIN						
					SELECT ID, ResidentialStatus AS [Residential Status], [Description] FROM ResidentialType	
					WHERE ResidentialStatus NOT IN('C','O') 
				END
				ELSE
				BEGIN
					SELECT ID,CountryName AS [Country Name], CountryAliasName AS [Country Alias Name] FROM COUNTRYMASTER					 
				END	
			END
	
	SET NOCOUNT OFF;
END
GO
