/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_PAYMENTDETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATE_PAYMENTDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_PAYMENTDETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_UPDATE_PAYMENTDETAILS] 
(
    @PAYMENTMODE CHAR = NULL,	
    @MIT_ID INT = NULL, 
	@CONFIRMPAYMENTMAILSENT CHAR = NULL,
	@EXERCISEFORM_SUBMIT CHAR = NULL,
	@EXERCISEFORM_SUBMIT_SNDMAIL CHAR = NULL,
	@EXERCISEREVERSAL_SENDMAIL CHAR = NULL,
	@ALLOW_WITHOUT_PT CHAR = NULL,
	@CREATED_BY VARCHAR(100) = NULL, 	
    @RETVALUE INT OUTPUT
)
AS
BEGIN	
	SET NOCOUNT ON;

    IF EXISTS (SELECT PMD_ID FROM PAYMENT_MASTER_DETAILS WHERE PM_ID = (SELECT TOP(1) ID FROM PAYMENTMASTER WHERE PAYMENTMODE = @PAYMENTMODE) AND MIT_ID = @MIT_ID)
	BEGIN
		UPDATE PAYMENT_MASTER_DETAILS
		SET CONFIRMPAYMENTMAILSENT = ISNULL(@CONFIRMPAYMENTMAILSENT, CONFIRMPAYMENTMAILSENT),
			EXERCISEFORM_SUBMIT  = ISNULL(@EXERCISEFORM_SUBMIT, EXERCISEFORM_SUBMIT),
			EXERCISEFORM_SUBMIT_SNDMAIL = ISNULL(@EXERCISEFORM_SUBMIT_SNDMAIL, EXERCISEFORM_SUBMIT_SNDMAIL),
			EXERCISEREVERSAL_SENDMAIL = ISNULL(@EXERCISEREVERSAL_SENDMAIL, EXERCISEREVERSAL_SENDMAIL),
			ALLOW_WITHOUT_PT = ISNULL(@ALLOW_WITHOUT_PT, ALLOW_WITHOUT_PT),
			CREATED_BY = ISNULL(@CREATED_BY, CREATED_BY),
			CREATED_ON = GETDATE(),
			UPDATED_BY = ISNULL(@CREATED_BY, CREATED_BY),
			UPDATED_ON = GETDATE()	    
		 WHERE PM_ID = (SELECT TOP(1) Id FROM PAYMENTMASTER WHERE PAYMENTMODE = @PAYMENTMODE) AND MIT_ID = @MIT_ID	          
    END
    ELSE
    BEGIN
        INSERT INTO PAYMENT_MASTER_DETAILS 
		(
		   PM_ID, MIT_ID, CONFIRMPAYMENTMAILSENT, EXERCISEFORM_SUBMIT, EXERCISEFORM_SUBMIT_SNDMAIL,
           EXERCISEREVERSAL_SENDMAIL, ALLOW_WITHOUT_PT, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON
		)
		VALUES 
		(  
		   (SELECT TOP(1) Id FROM PAYMENTMASTER WHERE PAYMENTMODE = @PAYMENTMODE), @MIT_ID, @CONFIRMPAYMENTMAILSENT, @EXERCISEFORM_SUBMIT, @EXERCISEFORM_SUBMIT_SNDMAIL,
           @EXERCISEREVERSAL_SENDMAIL, @ALLOW_WITHOUT_PT, @CREATED_BY, GETDATE(), @CREATED_BY, GETDATE()
		)
    END

	SET @RETVALUE = @@ROWCOUNT;
	SET NOCOUNT OFF;
END
GO
