/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_PAYMENT_MODE_INSTRUMENT]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATE_PAYMENT_MODE_INSTRUMENT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_PAYMENT_MODE_INSTRUMENT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATE_PAYMENT_MODE_INSTRUMENT]   
	 @MIT_ID INT = NULL,
	 @PAYMENTMODE_BASED_ON VARCHAR(20) = NULL,
	 @CREATED_BY NVARCHAR(100) = NULL,
	 @IS_PAYMENTWINDOW_ENABLED CHAR,
	 @NUMBEROFDAYS INT,
	 @PAYMENT_CLOSURE_MSG VARCHAR(1000) ,
	 @IsApplicableForCashless BIT = NULL			
AS
BEGIN
	
	SET NOCOUNT ON;

	UPDATE COMPANY_INSTRUMENT_MAPPING
		SET PAYMENTMODE_BASED_ON =@PAYMENTMODE_BASED_ON , IsApplicableForCashless =@IsApplicableForCashless, CREATED_BY = @CREATED_BY, IS_PAYMENTWINDOW_ENABLED	=@IS_PAYMENTWINDOW_ENABLED,	NUMBEROFDAYS = @NUMBEROFDAYS ,PAYMENT_CLOSURE_MSG=@PAYMENT_CLOSURE_MSG
	WHERE MIT_ID = @MIT_ID	
		
	SET NOCOUNT OFF;
END
GO
