/****** Object:  StoredProcedure [dbo].[PROC_IS_SAR_FORMULA_EXIST]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_IS_SAR_FORMULA_EXIST]
GO
/****** Object:  StoredProcedure [dbo].[PROC_IS_SAR_FORMULA_EXIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_IS_SAR_FORMULA_EXIST]
(	   
	@MIT_ID INT = NULL,
	@SCHEME_ID NVARCHAR(100) = NULL	
 )
AS
BEGIN
	SET NOCOUNT ON;
	
	BEGIN TRY		
	
		SELECT 
		(
			(SELECT COUNT(*) AS FORMULAACTIVE FROM SAR_COMPARE_FORMULA_CNFG WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1) +			 		
			(SELECT COUNT(*) AS FORMULAACTIVE FROM FMV_FORMULA_CONFIG WHERE SCHEME_ID = @SCHEME_ID AND FORMULA_CONFIG_TYPE = 'SARFMV' AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1)+
			(SELECT COUNT(*) AS FORMULAACTIVE FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @MIT_ID AND IS_FORMULA_APPLIED = 1)
		
		) AS FORMULAEXIST
		
	END TRY
	BEGIN CATCH	
		RETURN 0
	END CATCH
	
	SET NOCOUNT OFF;
END
GO
