/****** Object:  StoredProcedure [dbo].[PROC_INSERT_USER_BROKER_ACCOUNT]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_INSERT_USER_BROKER_ACCOUNT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_USER_BROKER_ACCOUNT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_INSERT_USER_BROKER_ACCOUNT]
(
	@EMPLOYEE_ID							NVARCHAR(50)	= NULL,
	@ACC_NAME								NVARCHAR(50)	= NULL,  
	@COMP_NAME    						    NVARCHAR(200)   = NULL,
	@COMP_ID         						NVARCHAR(200)   = NULL,	
	@ELE_ACC_NUM                            NVARCHAR(200)   = NULL,
	@IsActive                               tinyint    
)
AS
BEGIN
SET NOCOUNT ON;	
		
		BEGIN	
			DECLARE @EMPLOYEEID NVARCHAR(50)
			SELECT @EMPLOYEEID = EmployeeID FROM EmployeeMaster WHERE LoginId = @EMPLOYEE_ID AND Deleted = 0
	    
			IF NOT EXISTS(SELECT EMPLOYEE_BROKER_ACC_ID FROM Employee_UserBrokerDetails WHERE EMPLOYEE_ID=@EMPLOYEEID AND ISNULL(BROKER_DEP_TRUST_CMP_ID,'')=@COMP_ID AND ISNULL(BROKER_ELECT_ACC_NUM,'')=@ELE_ACC_NUM )
			BEGIN
				 INSERT INTO Employee_UserBrokerDetails
				 (
					EMPLOYEE_ID, ACCOUNT_NAME, BROKER_DEP_TRUST_CMP_NAME, BROKER_DEP_TRUST_CMP_ID, BROKER_ELECT_ACC_NUM,
					IS_ACTIVE, CREATED_BY, CREATED_ON
				 ) 
				 SELECT 
					@EMPLOYEEID, @ACC_NAME, @COMP_NAME, @COMP_ID, @ELE_ACC_NUM,
					@IsActive , @EMPLOYEE_ID, GETDATE()	
			END
			   
			IF @@ROWCOUNT > 0
			BEGIN
			  SELECT 
			    EMPLOYEE_ID, ACCOUNT_NAME, BROKER_DEP_TRUST_CMP_NAME, BROKER_DEP_TRUST_CMP_ID, BROKER_ELECT_ACC_NUM
			    FROM Employee_UserBrokerDetails WHERE  EMPLOYEE_ID = @EMPLOYEEID
			END
			ELSE
			BEGIN
			  SELECT 'F' AS [STATUS], CASE WHEN @@ERROR <> 0 THEN 'Error while save broker account.' ELSE 'Record already exist.' END AS [MESSAGE]
			END
			
		END	
END	
GO
