/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_OGA_LETTER_CODES]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SOPsUI_VALIDATE_OGA_LETTER_CODES]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_OGA_LETTER_CODES]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SOPsUI_VALIDATE_OGA_LETTER_CODES] 
	
	@SOPSsUI_EXERCISE_AND_MIT_IDS SOPSsUI_EXERCISE_AND_MIT_IDS READONLY
AS
BEGIN
	
	SET NOCOUNT ON;
	
	--SELECT * FROM @SOPSsUI_EXERCISE_AND_MIT_IDS
	
	CREATE TABLE #TEMP_LETTER_CODE_AVAILABILITY
	(
		TLCA_LETTER_CODE NVARCHAR(100)
	)

	INSERT INTO #TEMP_LETTER_CODE_AVAILABILITY
	SELECT DISTINCT STEP_IDs FROM @SOPSsUI_EXERCISE_AND_MIT_IDS  
	
	DELETE TLCA
	FROM #TEMP_LETTER_CODE_AVAILABILITY AS TLCA
	INNER JOIN GrantAccMassUpload AS GAMU ON GAMU.LetterCode = TLCA.TLCA_LETTER_CODE
		
	SELECT STEP_IDs AS 'IDs', 'Remove duplicated Exercise Number from excel sheet.' AS 'Message' FROM @SOPSsUI_EXERCISE_AND_MIT_IDS GROUP BY STEP_IDs HAVING COUNT(STEP_IDs) > 1	
	UNION ALL
	SELECT STEP_IDs AS 'IDs', 'Please enter E/G/B in Update Status For column.' AS 'Message' FROM @SOPSsUI_EXERCISE_AND_MIT_IDS WHERE UPPER(MIT_IDs) NOT IN ('E','G','B')
	UNION ALL
	SELECT TLCA_LETTER_CODE AS 'IDs', 'Letter code not available in table to update.' AS 'Message' FROM #TEMP_LETTER_CODE_AVAILABILITY

	SET NOCOUNT OFF;				
END
GO
