/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_EXER_STEPS_MIT_IDS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SOPsUI_VALIDATE_EXER_STEPS_MIT_IDS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_EXER_STEPS_MIT_IDS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SOPsUI_VALIDATE_EXER_STEPS_MIT_IDS] 
	
	@SOPSsUI_EXERCISE_AND_MIT_IDS SOPSsUI_EXERCISE_AND_MIT_IDS READONLY
AS
BEGIN
	
	SET NOCOUNT ON;
	
	CREATE TABLE #TEMP_MASTER_EXERCISE_STEPS_IDS
	(
		TMESI_EXERCISE_STEP NVARCHAR(100)
	)

	CREATE TABLE #TEMP_EXERCISE_STEP_AVAILABILITY
	(
		TESA_EXERCISE_STEP_ID NVARCHAR(100)
	)

	CREATE TABLE #TEMP_MIT_ID_AVAIBILITY
	(
		TMIA_MIT_ID NVARCHAR(100)
	)

	INSERT INTO #TEMP_MASTER_EXERCISE_STEPS_IDS
	SELECT DISTINCT MST_EX_STEP_ID FROM MST_EXERCISE_STEPS  

	INSERT INTO #TEMP_EXERCISE_STEP_AVAILABILITY 
	SELECT STEP_IDs FROM @SOPSsUI_EXERCISE_AND_MIT_IDS

	INSERT INTO #TEMP_MIT_ID_AVAIBILITY 
	SELECT MIT_IDs FROM @SOPSsUI_EXERCISE_AND_MIT_IDS

	DELETE TESA
	FROM #TEMP_EXERCISE_STEP_AVAILABILITY AS TESA
	INNER JOIN #TEMP_MASTER_EXERCISE_STEPS_IDS AS TMESI  ON TMESI.TMESI_EXERCISE_STEP = TESA.TESA_EXERCISE_STEP_ID
	
	DELETE TMIA
	FROM #TEMP_MIT_ID_AVAIBILITY AS TMIA
	INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON TMIA.TMIA_MIT_ID = CONVERT(NVARCHAR(100), MIT.MIT_ID)

	/*
		SELECT * FROM #TEMP_EXERCISE_STEP_AVAILABILITY
		SELECT * from #TEMP_MIT_ID_AVAIBILITY
	*/
	
	SELECT TESA_EXERCISE_STEP_ID AS 'IDs', 'Exercise Step ID' AS 'Identity Column', 'Exercise step not available in table. Please remove from Excel Sheet.' AS 'Message' FROM #TEMP_EXERCISE_STEP_AVAILABILITY
	UNION ALL
	SELECT TMIA_MIT_ID AS 'IDs', 'Instrument ID' AS 'Identity Column', 'Instrument not not available in table. Please remove from Excel Sheet.' AS 'Message' FROM #TEMP_MIT_ID_AVAIBILITY	

	SET NOCOUNT OFF;				
END
GO
