/****** Object:  StoredProcedure [dbo].[GET_DATA_FILE_EXCHANGE_TYPE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[GET_DATA_FILE_EXCHANGE_TYPE]
GO
/****** Object:  StoredProcedure [dbo].[GET_DATA_FILE_EXCHANGE_TYPE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GET_DATA_FILE_EXCHANGE_TYPE]
	@USERID NVARCHAR(100)
AS	   
BEGIN
	SET NOCOUNT ON;

	DECLARE @MCCGID BIGINT 
	SET @MCCGID = (SELECT MCCG_ID FROM MST_COM_CODE_GROUP WHERE  UPPER(CODE_GROUP_NAME) = 'DATA EXCHANGE TYPE')

	CREATE TABLE #TEMP_DATA_TYPECONFIG
	(
		ID			        INT IDENTITY(1,1) not null,
		CODE_NAME			NVARCHAR(250),
	    ISActive            BIT,
		DCCID               BIGINT
	)

	INSERT INTO #TEMP_DATA_TYPECONFIG(CODE_NAME,ISActive,DCCID)
	SELECT 'Grant data' AS CODE_NAME , IsGRANTDATA AS ISActive,@MCCGID AS DCCID from DATATYPE_CR_CONFIG WHERE USERID=@USERID
    UNION ALL
    SELECT 'Employee data' AS CODE_NAME, IsEMPLOYEEDATA AS ISActive ,@MCCGID AS DCCID from DATATYPE_CR_CONFIG  WHERE USERID=@USERID
    UNION ALL
    SELECT 'Separation data' AS CODE_NAME, IsSEPARATIONDATA  AS ISActive,@MCCGID AS DCCID from DATATYPE_CR_CONFIG  WHERE USERID=@USERID
    UNION ALL
    SELECT 'Exercise validation' AS CODE_NAME , IsEXERCISEVALIDATION AS ISActive,@MCCGID AS DCCID from DATATYPE_CR_CONFIG  WHERE USERID=@USERID
    UNION ALL
    SELECT 'Exercise allotment' AS CODE_NAME, IsEXERCISEALLOTMENT AS ISActive,@MCCGID AS DCCID from DATATYPE_CR_CONFIG  WHERE USERID=@USERID
    UNION ALL
    SELECT 'Performance vesting' AS CODE_NAME, IsPERFORMANCEVESTING  AS ISActive,@MCCGID AS DCCID from DATATYPE_CR_CONFIG  WHERE USERID=@USERID
    UNION ALL
    SELECT 'Payment reconciliation' AS CODE_NAME , IsPAYMENTRECONCILIATION AS ISActive,@MCCGID AS DCCID from DATATYPE_CR_CONFIG  WHERE USERID=@USERID
    UNION ALL
    SELECT 'Reports' AS CODE_NAME, IsREPORTS AS ISActive,@MCCGID AS DCCID from DATATYPE_CR_CONFIG  WHERE USERID=@USERID
    UNION ALL
    SELECT 'Other' AS CODE_NAME, IsOTHER  AS ISActive,@MCCGID AS DCCID from DATATYPE_CR_CONFIG  WHERE USERID=@USERID
    UNION ALL
    SELECT 'Implementation & Transition' AS CODE_NAME , IsIMPLEMENTATIONANDTRANSITION AS ISActive,@MCCGID AS DCCID from DATATYPE_CR_CONFIG  WHERE USERID=@USERID
		    
	SELECT 
		MCC.CODE_NAME 
	FROM 
		MST_COM_CODE AS MCC
		INNER JOIN #TEMP_DATA_TYPECONFIG AS DCC ON DCC.DCCID=@MCCGID AND DCC.CODE_NAME=MCC.CODE_NAME
	WHERE 
		DCC.ISActive=1 

    SET NOCOUNT OFF;
	
	DROP TABLE #TEMP_DATA_TYPECONFIG
END
GO
