/****** Object:  StoredProcedure [dbo].[PROC_GETCR_PUP_EX_REPORT]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GETCR_PUP_EX_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GETCR_PUP_EX_REPORT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GETCR_PUP_EX_REPORT]
AS
BEGIN
	DECLARE @IS_CALCPERQVALUE	BIT,
			@IS_CALCPERQTAX		BIT
	
	CREATE TABLE #TEMP_EXERCISEDREPORT	
	(
		[TEMP_ID]				INT IDENTITY(1,1),
		[PLAN_NAME]				NVARCHAR(200),
		[DATE_OF_GRANT]			NVARCHAR(20),
		[EXERCISE_DATE]			NVARCHAR(20),
		[PAIDOUT_UNITS]			NUMERIC(10,0),
		[PUP_FMV]				NUMERIC(18,6),
		[PAYOUT_VALUE]			NUMERIC(18,2),
		[PERQUISITE_VALUE]		NVARCHAR(20),
		[PERQUISITE_TAX]		NVARCHAR(20),
		[ACTUAL_PAYOUT_DATE]	NVARCHAR(20),
		[PUP_EXERCISE_ID]		INT,
		[ISFORMGENERATE]		BIT,
		[EMPLOYEEID]			NVARCHAR(100),
		[EMPLOYEENAME]			NVARCHAR(250),
		[PAYMENTMODE]			NCHAR,
		[STATUS]				NVARCHAR(20),
		[REMARK]				NVARCHAR(50),
		[VESTDATE]				NVARCHAR(20),
		[EXPIRYDATE]			NVARCHAR(20)
	)
	
			
	SELECT @IS_CALCPERQTAX = IS_PREQ_TAX_CALN_REQUIRED, @IS_CALCPERQVALUE=IS_PERQ_VAL_CALN_REQUIRED FROM PUP_PARAMETER
	BEGIN
		INSERT INTO #TEMP_EXERCISEDREPORT(PLAN_NAME,DATE_OF_GRANT,EXERCISE_DATE,PAIDOUT_UNITS,PUP_FMV,PAYOUT_VALUE,PERQUISITE_VALUE,PERQUISITE_TAX,
		ACTUAL_PAYOUT_DATE,PUP_EXERCISE_ID,ISFORMGENERATE,EMPLOYEEID,EMPLOYEENAME,PAYMENTMODE,STATUS,REMARK, VESTDATE,EXPIRYDATE)
		
		SELECT  SC.SCHEMEID [PLAN_NAME], 
				REPLACE(CONVERT(NVARCHAR(10),GR.GRANTDATE,111),'/','-') AS [DATE_OF_GRANT], 
				REPLACE(CONVERT(NVARCHAR(10),SHE.EXERCISEDDATE ,111),'/','-') AS [EXERCISE_DATE], 
				SHE.EXERCISEDQUANTITY AS [PAIDOUT_UNITS], 
				SHE.FMVPRICE [PUP_FMV], 
				CASE WHEN SC.PUPExedPayoutProcess = 0 THEN ST.AmountPaid
					 WHEN SC.PUPExedPayoutProcess = 1 THEN SHE.PerqstValue
				END [PAYOUT_VALUE], 	
				CASE WHEN @IS_CALCPERQVALUE=1 
						THEN CONVERT(NVARCHAR(10),SHE.PERQSTVALUE)
					 ELSE 'N.A.' 
				END [PERQUISITE_VALUE],
				CASE WHEN @IS_CALCPERQTAX=1 
						THEN CONVERT(VARCHAR(10),SHE.PERQSTPAYABLE)
					 ELSE 'N.A.' 
				END [PERQUISITE_TAX],
				REPLACE(CONVERT(NVARCHAR(10),SHE.SHARESISSUEDDATE,111),'/','-') AS [ACTUAL_PAYOUT_DATE],
				SHE.EXERCISEDID [PUP_EXERCISE_ID],
				SHE.ISFORMGENERATE,
				EM.EMPLOYEEID,
				EM.EMPLOYEENAME,
				SHE.PAYMENTMODE,
				CASE WHEN Em.DateOfTermination IS NULL THEN 'LIVE'
					 ELSE 'SEPARATED'
				END [STATUS],
				'EX' [REMARK],
				REPLACE(CONVERT(NVARCHAR(10),GL.FinalVestingDate,111),'/','-')AS [VESTDATE],
				REPLACE(CONVERT(NVARCHAR(10),GL.FinalExpirayDate,111),'/','-')AS [EXPIRYDATE]
		FROM	EXERCISED SHE			
				LEFT JOIN ShTransactionDetails ST
					ON ST.ExerciseNo = SHE.ExerciseNo
				INNER JOIN GrantLeg GL
					ON GL.ID = SHE.GRANTLEGSERIALNUMBER
				INNER JOIN GrantOptions GP
					ON GL.GrantOptionId = GP.GrantOptionId 
				INNER JOIN GRANTREGISTRATION GR
					ON GL.GRANTREGISTRATIONID = GR.GRANTREGISTRATIONID
				INNER JOIN SCHEME SC
					ON SC.SCHEMEID = GL.SCHEMEID AND SC.IsPUPEnabled = 1
				INNER JOIN EmployeeMaster EM
					ON EM.EmployeeID = GP.EmployeeId AND EM.Deleted = 0
		WHERE	SHE.CASH='PUP' 		
		
		SELECT 
			TEMP_ID,PLAN_NAME,EMPLOYEEID,EMPLOYEENAME,[STATUS],DATE_OF_GRANT,VESTDATE,EXPIRYDATE,PAIDOUT_UNITS,PUP_FMV,
			PAYOUT_VALUE,PERQUISITE_VALUE,PERQUISITE_TAX,ACTUAL_PAYOUT_DATE,PUP_EXERCISE_ID,EXERCISE_DATE,PAYMENTMODE,
			ISFORMGENERATE,REMARK
		FROM #TEMP_EXERCISEDREPORT
	END
END
GO
