/****** Object:  StoredProcedure [dbo].[PROC_GETINSTRUMENTONGRANTEDOPTIONS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GETINSTRUMENTONGRANTEDOPTIONS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GETINSTRUMENTONGRANTEDOPTIONS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GETINSTRUMENTONGRANTEDOPTIONS]
@EmployeeId VARCHAR(50)
AS
BEGIN	
	SET NOCOUNT ON;
		SELECT DISTINCT CIM.IsActivatedAccount, CIM.MIT_ID FROM  GrantOptions AS GOP
                        INNER JOIN Scheme AS SCH ON GOP.SchemeId =SCH.SchemeId
                        INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = SCH.MIT_ID
                        INNER JOIN COMPANY_INSTRUMENT_MAPPING AS CIM ON CIM.MIT_ID = MIT.MIT_ID
						INNER JOIN EmployeeMaster EM ON GOP.EmployeeID=EM.EmployeeID
						WHERE EM.LoginID=@EmployeeId AND EM.Deleted=0
	SET NOCOUNT OFF;	
END
GO
