/****** Object:  StoredProcedure [dbo].[PROC_GET_PERQUISITE_VALUE_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_PERQUISITE_VALUE_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PERQUISITE_VALUE_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_GET_PERQUISITE_VALUE_DETAILS]
(
 @PAGENAME				VARCHAR (100),
 @INSTRUMENT_ID			BIGINT,
 @Residential_ID		BIGINT =Null,
 @Country_ID			BIGINT =Null
)
AS
BEGIN
	SET NOCOUNT ON;	
	
	
	
	IF(UPPER(@PAGENAME)='PERQUISITEVALUE')
	BEGIN
			IF(@Residential_ID >0)
			BEGIN
					--Residential Level
					SELECT PFC_ID,FORMULA_NAME FROM PERQUISITE_FORMULA_CONFIG WHERE ISNull(Residential_ID,0) =@Residential_ID And ISNull(Country_ID,0) =0 And MIT_ID= @INSTRUMENT_ID   ORDER BY PFC_ID DESC 
			END
			ELSE IF(@Country_ID >0)
			BEGIN
					--Country Level
					SELECT PFC_ID,FORMULA_NAME FROM PERQUISITE_FORMULA_CONFIG WHERE ISNull(Residential_ID,0) =0 And ISNull(Country_ID,0) =@Country_ID And MIT_ID= @INSTRUMENT_ID   ORDER BY PFC_ID DESC 
			
			END
			ELSE
			BEGIN
				--Company Level
				SELECT PFC_ID,FORMULA_NAME FROM PERQUISITE_FORMULA_CONFIG WHERE ISNull(Residential_ID,0) =0 And ISNull(Country_ID,0) =0 And MIT_ID= @INSTRUMENT_ID   ORDER BY PFC_ID DESC 
					
			END
	
	END
	
	IF(UPPER(@PAGENAME)='PROPORTIONATEPERQVALUE')
	BEGIN
	
	IF(@Residential_ID >0)
	BEGIN
	Print 'Resident ID Not Null'
			SELECT PPC_ID,FORMULA_NAME FROM PROPORTIONATE_PERQ_CONFIG WHERE ISNull(Residential_ID,0) =@Residential_ID And Country_ID IS NULL And MIT_ID= @INSTRUMENT_ID   ORDER BY PPC_ID DESC 
	
	END
	Else IF(@Country_ID >0)
	BEGIN
		Print 'Country ID Not Null'
			SELECT PPC_ID,FORMULA_NAME FROM PROPORTIONATE_PERQ_CONFIG WHERE Residential_ID IS NULL And Country_ID =@Country_ID And MIT_ID= @INSTRUMENT_ID   ORDER BY PPC_ID DESC 
	
	END
	ELSE
	BEGIN
		Print 'company ID Not Null'
			SELECT PPC_ID,FORMULA_NAME FROM PROPORTIONATE_PERQ_CONFIG WHERE Residential_ID IS NULL And Country_ID IS NULL And MIT_ID= @INSTRUMENT_ID   ORDER BY PPC_ID DESC 
	END
		
	
	END
	
END
GO
