/****** Object:  StoredProcedure [dbo].[PROC_GET_STATES]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_STATES]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_STATES]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_STATES]
(
	@COUNTRY_ID INT
)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		MS_ID,STATE_NAME
	FROM
		MST_STATES
	WHERE 
		COUNTRY_ID = @COUNTRY_ID

	SET NOCOUNT OFF;
END
GO
