/****** Object:  StoredProcedure [dbo].[SP_CRUD_PAYMENT_BANK_MASTER]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[SP_CRUD_PAYMENT_BANK_MASTER]
GO
/****** Object:  StoredProcedure [dbo].[SP_CRUD_PAYMENT_BANK_MASTER]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CRUD_PAYMENT_BANK_MASTER] 
	
	@TYPE					VARCHAR(20),
	@Bank_ID				VARCHAR(20) = NULL,
	@BANK_NAME				VARCHAR(50) = NULL,
	@Transaction_Amount		NUMERIC(18,9) = NULL,
	@IS_ENABLED				CHAR = NULL,
	@CHK_TRNVAL_EXAMT		BIT = NULL,
	@TRNVAL_EXAMT			NUMERIC(18,9) = NULL,
	@CHK_TRNVAL_PQTAX		BIT = NULL,
	@TRNVAL_PQTAX			NUMERIC(18,9) = NULL,
	@TRNVAL_MAXLIMIT		INT = NULL,
	@CHK_MAXVAL_EXAMT		BIT = NULL,
	@MAXVAL_EXAMT			NUMERIC(18,9) = NULL,
	@CHK_MAXVAL_PQTAX		BIT = NULL,
	@MAXVAL_PQTAX			NUMERIC(18,9) = NULL,
	@MAXVAL_MAXLIMIT		INT = NULL,
	@LAST_UPDATED_BY		VARCHAR(50)  = NULL,
	@METHOD_TYPE			VARCHAR(50) =NULL
	
AS

BEGIN
	
	DECLARE @TCMID	INT


	IF(@TYPE='INSERT')
	BEGIN
	
	SET @TCMID=(SELECT TCMID FROM TRANSACTION_COST_METHOD_MASTER WHERE TRN_COST_METHOD_NAME=@METHOD_TYPE)
	
	INSERT INTO paymentbankmaster (BankID,BankName,TransactionAmount,IsEnable,Lastupdatedby,Lastupdatedon,TCMID,CHK_TRNVAL_EXAMT,TRNVAL_EXAMT,CHK_TRNVAL_PQTAX,TRNVAL_PQTAX,
									TRNVAL_MAXLIMIT,CHK_MAXVAL_EXAMT,MAXVAL_EXAMT,CHK_MAXVAL_PQTAX,MAXVAL_PQTAX,MAXVAL_MAXLIMIT) 
								VALUES 
								(	@Bank_ID,@BANK_NAME,@Transaction_Amount,@IS_ENABLED,@LAST_UPDATED_BY,GETDATE(),@TCMID,@CHK_TRNVAL_EXAMT,@TRNVAL_EXAMT,
									@CHK_TRNVAL_PQTAX,@TRNVAL_PQTAX,@TRNVAL_MAXLIMIT,@CHK_MAXVAL_EXAMT,@MAXVAL_EXAMT,@CHK_MAXVAL_PQTAX,
									@MAXVAL_PQTAX,@MAXVAL_MAXLIMIT
								)

									SELECT @@ROWCOUNT
									
									IF(@@ROWCOUNT > 0)
											BEGIN
					
													INSERT INTO AuditTrail_PaymentBankMaster 
																VALUES 
																(	@Bank_ID,@BANK_NAME,@Transaction_Amount,@IS_ENABLED,@TCMID,@CHK_TRNVAL_EXAMT,@TRNVAL_EXAMT,
																	@CHK_TRNVAL_PQTAX,@TRNVAL_PQTAX,@TRNVAL_MAXLIMIT,@CHK_MAXVAL_EXAMT,@MAXVAL_EXAMT,@CHK_MAXVAL_PQTAX,
																	@MAXVAL_PQTAX,@MAXVAL_MAXLIMIT,@LAST_UPDATED_BY,GETDATE()
																)
											END	

								
	END
	
	IF(@TYPE='READ')
	BEGIN
		
			SELECT
			BankID,BankName,TransactionAmount,IsEnable,Lastupdatedby,Lastupdatedon,
			(SELECT TCM.TRN_COST_METHOD_NAME FROM paymentbankmaster AS PBM INNER JOIN TRANSACTION_COST_METHOD_MASTER AS TCM ON TCM.TCMID=PBM.TCMID AND BankID=@Bank_ID) AS TransactionCostMethod,
			CHK_TRNVAL_EXAMT,TRNVAL_EXAMT,CHK_TRNVAL_PQTAX,TRNVAL_PQTAX,TRNVAL_MAXLIMIT,CHK_MAXVAL_EXAMT,MAXVAL_EXAMT,CHK_MAXVAL_PQTAX,MAXVAL_PQTAX,MAXVAL_MAXLIMIT
			FROM paymentbankmaster WHERE BankID=@Bank_ID
	END
	
	IF(@TYPE='Update')
	
	BEGIN	
		
			IF(@METHOD_TYPE='FixedCost')
			BEGIN
			
					UPDATE PaymentBankMaster SET BankName=@BANK_NAME,TransactionAmount=@Transaction_Amount,TCMID=1
					,IsEnable=@IS_ENABLED,Lastupdatedby=@LAST_UPDATED_BY,Lastupdatedon=GETDATE() where BankID =@Bank_ID
				
			END
			
			IF(@METHOD_TYPE='%ofTransactionValue')
			BEGIN
					UPDATE paymentbankmaster SET
					CHK_TRNVAL_EXAMT=@CHK_TRNVAL_EXAMT,TRNVAL_EXAMT=@TRNVAL_EXAMT,CHK_TRNVAL_PQTAX=@CHK_TRNVAL_PQTAX,TransactionAmount=0,TCMID=2,
					TRNVAL_PQTAX=@TRNVAL_PQTAX,TRNVAL_MAXLIMIT=@TRNVAL_MAXLIMIT,IsEnable=@IS_ENABLED,Lastupdatedby=@LAST_UPDATED_BY,Lastupdatedon=GETDATE() WHERE BankID=@Bank_ID
				
			END
			
			IF(@METHOD_TYPE='MaximumValueOfFixedCostor%ofTransactionValue')
			BEGIN
				
				UPDATE paymentbankmaster SET
					TransactionAmount= @Transaction_Amount,TCMID=3,
					CHK_MAXVAL_EXAMT=@CHK_MAXVAL_EXAMT,
					MAXVAL_EXAMT=@MAXVAL_EXAMT,CHK_MAXVAL_PQTAX=@CHK_MAXVAL_PQTAX,MAXVAL_PQTAX=@MAXVAL_PQTAX,
					MAXVAL_MAXLIMIT=@MAXVAL_MAXLIMIT ,IsEnable=@IS_ENABLED,Lastupdatedby=@LAST_UPDATED_BY,Lastupdatedon=GETDATE() WHERE BankID=@Bank_ID
				
			END
			
	
	SELECT @@ROWCOUNT
	SET @TCMID=(SELECT TCMID FROM PaymentBankMaster WHERE BankID=@Bank_ID)
	IF(@@ROWCOUNT > 0)
			BEGIN
					
					INSERT INTO AuditTrail_PaymentBankMaster 
								VALUES 
								(	@Bank_ID,@BANK_NAME,@Transaction_Amount,@IS_ENABLED,@TCMID,@CHK_TRNVAL_EXAMT,@TRNVAL_EXAMT,
									@CHK_TRNVAL_PQTAX,@TRNVAL_PQTAX,@TRNVAL_MAXLIMIT,@CHK_MAXVAL_EXAMT,@MAXVAL_EXAMT,@CHK_MAXVAL_PQTAX,
									@MAXVAL_PQTAX,@MAXVAL_MAXLIMIT,@LAST_UPDATED_BY,GETDATE()
								)
			END	
			
	END

	IF(@TYPE='DELETE')
	
	BEGIN
	 DELETE  FROM PaymentBankMaster WHERE BankID=@Bank_ID

	END 
	
	
END
GO
