/****** Object:  StoredProcedure [dbo].[PROC_CHECK_ENTITY_AVAILABLE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CHECK_ENTITY_AVAILABLE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CHECK_ENTITY_AVAILABLE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CHECK_ENTITY_AVAILABLE]
	@Sh_ExerciseNumber varchar(20)	
AS
BEGIN
	
	SET NOCOUNT ON;
	
	DECLARE @EmployeeId VARCHAR(20), @Entity_ID INT, @Entity VARCHAR(500), @GRANTREGISTRATIONID VARCHAR(20), @BASED_ON_EVENT NVARCHAR(50),
			@GRANT_REGISTRATION_DATE DATETIME, @VESTING_DATE DATETIME

	-- GET EMPLOYEEID FROM SHEXERCISEDOPTIONS TABLE
	SELECT 
		@EmployeeId = EMPLOYEEID 
	FROM 
		ShExercisedOptions 
	WHERE 
		(ExerciseId = @Sh_ExerciseNumber)
	
	PRINT '@EmployeeId : '+ CONVERT(NVARCHAR(100),@EmployeeId)
	
	-- GET @GRANTREGISTRATIONID FROM SHEXERCISEDOPTIONS
	SELECT 
		@GRANTREGISTRATIONID = GL.GrantRegistrationId 
	FROM 
		ShExercisedOptions AS SEO 
		INNER JOIN GrantLeg GL on (SEO.GrantLegSerialNumber = GL.ID) 
	WHERE 
		SEO.EmployeeID = @EmployeeId
	
	PRINT '@GRANTREGISTRATIONID : '+ CONVERT(NVARCHAR(100),@GRANTREGISTRATIONID)
	
	-- GET @ENTITY_ID FROM MASTER_LIST_FLD_VALUE
	SELECT @BASED_ON_EVENT = Based_On_Event FROM PaymentGatewayParameters
	
	IF ((UPPER(@BASED_ON_EVENT) = 'EXERCISE DATE') OR (LEN(ISNULL(@BASED_ON_EVENT, '')) = 0) OR (UPPER(@BASED_ON_EVENT) = '----- PLEASE SELECT-----'))
	BEGIN
		PRINT '@BASED_ON_EVENT : EXERCISE DATE'
		SELECT @Entity = Entity FROM EmployeeMaster WHERE EmployeeID = @EmployeeId
	END
	ELSE IF (UPPER(@BASED_ON_EVENT) = 'GRANT DATE')
	BEGIN
		PRINT '@BASED_ON_EVENT : GRANT DATE'
		PRINT '@GRANTREGISTRATIONID : ' + @GRANTREGISTRATIONID
		PRINT '@EmployeeId : ' + @EmployeeId
		
		SET @GRANT_REGISTRATION_DATE = (SELECT GrantDate FROM GrantRegistration WHERE GrantRegistrationId = @GRANTREGISTRATIONID)
		
		--PRINT '@GRANT_REGISTRATION_DATE : ' + CONVERT(VARCHAR(100),@GRANT_REGISTRATION_DATE)
				
		CREATE TABLE #TEMP_GET_ENTITY_VALUE_GRANT
		(	
			EMPLOYEE_ID NVARCHAR(50), FIELD_NAME NVARCHAR(250), FROM_DATE DATETIME, TO_DATE DATETIME
		)
		INSERT INTO #TEMP_GET_ENTITY_VALUE_GRANT (EMPLOYEE_ID, FIELD_NAME, FROM_DATE, TO_DATE)
		EXEC PROC_GET_ENTITY_FOR_PG @EmployeeId, @GRANT_REGISTRATION_DATE, @GRANT_REGISTRATION_DATE, 'ENTITY'	
		
		SELECT 
			@Entity = TGEVG.FIELD_NAME  
		FROM 
			#TEMP_GET_ENTITY_VALUE_GRANT AS TGEVG
			INNER JOIN MASTER_LIST_FLD_VALUE AS MLFV ON MLFV.FIELD_VALUE = TGEVG.FIELD_NAME
		WHERE 
			TGEVG.EMPLOYEE_ID = @EmployeeId 
	END
	ELSE IF (UPPER(@BASED_ON_EVENT) = 'VESTING DATE')
	BEGIN
		PRINT '@BASED_ON_EVENT : VESTING DATE'
		
		SET @VESTING_DATE = 
		(
			SELECT 
				GL.FinalVestingDate 
			FROM 
				GrantLeg AS GL 
				INNER JOIN ShExercisedOptions AS SHEO ON SHEO.GrantLegSerialNumber = GL.ID
			WHERE 
				ExerciseNo = @Sh_ExerciseNumber
		)
		
		--PRINT '@EmployeeId : ' + @EmployeeId
		--PRINT '@VESTING_DATE : ' + CONVERT(VARCHAR(100),@VESTING_DATE)
				
		CREATE TABLE #TEMP_GET_ENTITY_VALUE_VEST
		(	
			EMPLOYEE_ID NVARCHAR(50), FIELD_NAME NVARCHAR(250), FROM_DATE DATETIME, TO_DATE DATETIME
		)
		INSERT INTO #TEMP_GET_ENTITY_VALUE_VEST (EMPLOYEE_ID, FIELD_NAME, FROM_DATE, TO_DATE)
		EXEC PROC_GET_ENTITY_FOR_PG @EmployeeId, @VESTING_DATE, @VESTING_DATE, 'ENTITY'	
		
		SELECT 
			@Entity = TGEVV.FIELD_NAME  
		FROM 
			#TEMP_GET_ENTITY_VALUE_VEST AS TGEVV 
			INNER JOIN MASTER_LIST_FLD_VALUE AS MLFV ON MLFV.FIELD_VALUE = TGEVV.FIELD_NAME
		WHERE 
			TGEVV.EMPLOYEE_ID = @EmployeeId 
	END

	SELECT @Entity AS 'ENTITY'	  
END

GO
