/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_UPATE_ALLOTMENT_DATES]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SOPsUI_UPATE_ALLOTMENT_DATES]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_UPATE_ALLOTMENT_DATES]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SOPsUI_UPATE_ALLOTMENT_DATES] 
	
	@EXERCISED_ID NVARCHAR(100),
	@ALLOTMENT_DATE DATE,
	@LAST_UPDATED_BY NVARCHAR(100),
	@TEMPLATE_NAME NVARCHAR(100)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	BEGIN TRY

		BEGIN TRANSACTION

		UPDATE 
			Exercised 
		SET 
			SharesIssuedDate = @ALLOTMENT_DATE, LastUpdatedBy = @LAST_UPDATED_BY, LastUpdatedOn = GETDATE ()
		WHERE 
			ExercisedId = @EXERCISED_ID
		
		INSERT INTO AUDIT_SOPs_UI 
			(TEMPLATE_NAME, UPDATED_BY, UPDATED_ON, UNIQUE_IDENTIFIER_TEXT, UNIQUE_IDENTIFIER_VALE, COMMAND_EXECUATED, COMMAND_PARAMETER)
		VALUES
			(@TEMPLATE_NAME, @LAST_UPDATED_BY, GETDATE(), 'Exercised ID', @EXERCISED_ID, 'PROC_SOPsUI_UPATE_ALLOTMENT_DATES', '@EXERCISED_ID, @ALLOTMENT_DATE, @LAST_UPDATED_BY, @TEMPLATE_NAME')
		
		COMMIT TRANSACTION

		SELECT 'SUCCESS' AS 'ErrorMessage'

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT @@ERROR AS 'ErrorMessage'
	END CATCH

	SET NOCOUNT OFF;				
END
GO
