/****** Object:  StoredProcedure [dbo].[PROC_TradingWindowConfig]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_TradingWindowConfig]
GO
/****** Object:  StoredProcedure [dbo].[PROC_TradingWindowConfig]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_TradingWindowConfig]
(
	@TYPE				VARCHAR(30),	
	@FROM_DATE			DATETIME = NULL,
	@TO_DATE			DATETIME = NULL,
	@TRADING_TEXT		VARCHAR(1000) = NULL,
	@SHOW_POPUP			BIT = NULL,
	@POPUP_MSG			VARCHAR(1000) = NULL,
	@NOTE				VARCHAR(1000) = NULL,
	@LAST_UPDATED_BY	VARCHAR(20) = NULL	
)
AS
BEGIN
	
	DECLARE 
	@PRV_FROM_DATE			DATETIME,
	@PRV_TO_DATE			DATETIME,
	@PRV_TRADING_TEXT		VARCHAR(1000),
	@PRV_SHOW_POPUP			BIT,
	@PRV_POPUP_MSG			VARCHAR(1000),
	@PRV_NOTE				VARCHAR(1000),
	@PRV_UPDATED_BY			VARCHAR(20),
	@PRV_UPDATED_ON			DATETIME,
	@DESC_MODIFIED			VARCHAR(200) = 'The field {0} has been modified.',
	@DESC_DELETED			VARCHAR(200) = 'The field {0} has been deleted.',
	@INSIDER				CHAR(1)
	
	/* Set previous values*/
	SELECT @PRV_FROM_DATE = FROM_DATE,@PRV_TO_DATE = TO_DATE,@PRV_TRADING_TEXT = TRADING_TEXT,
			@PRV_SHOW_POPUP = SHOW_POPUP, @PRV_POPUP_MSG = POPUP_MSG,@PRV_NOTE = NOTE,@PRV_UPDATED_BY = LAST_UPDATED_BY, @PRV_UPDATED_ON = LAST_UPDATED_ON
	 FROM TradingWindowConfig
	
	SELECT @INSIDER = Insider FROM EmployeeMaster WHERE EmployeeID = @LAST_UPDATED_BY
	
	/* Update Contra Trading Details */
	IF (@TYPE = 'UPDT_CONTRA_TRADE_DETAILS')
	BEGIN
		BEGIN TRY
				
			/* Maintain Audit for SHOW_POPUP Fields*/
			IF(@PRV_SHOW_POPUP <> @SHOW_POPUP)
			BEGIN
				INSERT INTO AudiTrailTradingWinConfig ([DESCRIPTION],
						COLUMN_NAME,
						CURRENT_VALUE,
						PREVIOUS_VALUE,
						LAST_UPDATED_BY,
						LAST_UPDATED_ON )
				VALUES
				(REPLACE(@DESC_MODIFIED,'{0}','SHOW_POPUP'),'SHOW_POPUP',@SHOW_POPUP,@PRV_SHOW_POPUP,@LAST_UPDATED_BY,GETDATE())
			END
			
			IF(ISNULL(@PRV_POPUP_MSG,'') <> ISNULL(@POPUP_MSG,''))
			BEGIN
				INSERT INTO AudiTrailTradingWinConfig ([DESCRIPTION],
						COLUMN_NAME,
						CURRENT_VALUE,
						PREVIOUS_VALUE,
						LAST_UPDATED_BY,
						LAST_UPDATED_ON )
				VALUES
				(REPLACE(@DESC_MODIFIED,'{0}','POPUP_MSG'),'POPUP_MSG',@POPUP_MSG,@PRV_POPUP_MSG,@LAST_UPDATED_BY,GETDATE())
				
			END
			
			IF(ISNULL(@PRV_NOTE,'') <> ISNULL(@NOTE,''))
			BEGIN
				INSERT INTO AudiTrailTradingWinConfig ([DESCRIPTION],
						COLUMN_NAME,
						CURRENT_VALUE,
						PREVIOUS_VALUE,
						LAST_UPDATED_BY,
						LAST_UPDATED_ON )
				VALUES
				(REPLACE(@DESC_MODIFIED,'{0}','NOTE'),'NOTE',@NOTE,@PRV_NOTE,@LAST_UPDATED_BY,GETDATE())
			END
			
			IF(@PRV_UPDATED_BY <> @LAST_UPDATED_BY)
			BEGIN
				INSERT INTO AudiTrailTradingWinConfig ([DESCRIPTION],
						COLUMN_NAME,
						CURRENT_VALUE,
						PREVIOUS_VALUE,
						LAST_UPDATED_BY,
						LAST_UPDATED_ON )
				VALUES
				(REPLACE(@DESC_MODIFIED,'{0}','LAST_UPDATED_BY'),'LAST_UPDATED_BY',@LAST_UPDATED_BY,@PRV_UPDATED_BY,@LAST_UPDATED_BY,GETDATE())
			END
			
			UPDATE TradingWindowConfig SET SHOW_POPUP = @SHOW_POPUP, POPUP_MSG = @POPUP_MSG, NOTE = @NOTE, LAST_UPDATED_BY = @LAST_UPDATED_BY, LAST_UPDATED_ON = GETDATE()
			SELECT '1' AS [RESULT], 'UPDATESUCCESS' AS DETAIL
		END TRY
		BEGIN CATCH
			SELECT '0' AS [RESULT], 'ERROR' AS DETAIL
		END CATCH
	END
	
	ELSE IF (@TYPE = 'UPDATE_TRADING_DETAILS')
	BEGIN
		BEGIN TRY 
		
			IF (ISNULL(@PRV_FROM_DATE,GETDATE()) <> ISNULL(@FROM_DATE,GETDATE()))
			BEGIN  
			
				INSERT INTO AudiTrailTradingWinConfig (DESCRIPTION,COLUMN_NAME,CURRENT_VALUE,PREVIOUS_VALUE,LAST_UPDATED_BY,LAST_UPDATED_ON )
												VALUES(REPLACE(@DESC_MODIFIED,'{0}','FROM_DATE'),'FROM_DATE',@FROM_DATE,@PRV_FROM_DATE,@LAST_UPDATED_BY ,GETDATE())
				
			END	
			
			IF (ISNULL(@PRV_TO_DATE,GETDATE()) <> ISNULL(@TO_DATE,GETDATE()))
			BEGIN 
			
				INSERT INTO AudiTrailTradingWinConfig (DESCRIPTION,COLUMN_NAME,CURRENT_VALUE,PREVIOUS_VALUE,LAST_UPDATED_BY,LAST_UPDATED_ON )
											VALUES(REPLACE(@DESC_MODIFIED,'{0}','TO_DATE'),'TO_DATE',@TO_DATE,@PRV_TO_DATE,@LAST_UPDATED_BY ,GETDATE())
				
			END				
			
			IF (ISNULL(@PRV_TRADING_TEXT,'') <> ISNULL(@TRADING_TEXT,''))
			BEGIN 
			
				INSERT INTO AudiTrailTradingWinConfig (DESCRIPTION,COLUMN_NAME,CURRENT_VALUE,PREVIOUS_VALUE,LAST_UPDATED_BY,LAST_UPDATED_ON )
											VALUES(REPLACE(@DESC_MODIFIED,'{0}','TRADING_TEXT'),'TRADING_TEXT',@TRADING_TEXT,@PRV_TRADING_TEXT,@LAST_UPDATED_BY ,GETDATE()  )
				
			END				
			
			IF (@PRV_UPDATED_BY <> @LAST_UPDATED_BY)
			BEGIN
			
				INSERT INTO AudiTrailTradingWinConfig (DESCRIPTION,COLUMN_NAME,CURRENT_VALUE,PREVIOUS_VALUE,LAST_UPDATED_BY,LAST_UPDATED_ON )
											VALUES(REPLACE(@DESC_MODIFIED,'{0}','LAST_UPDATED_BY'),'LAST_UPDATED_BY',@LAST_UPDATED_BY,@PRV_UPDATED_BY,@LAST_UPDATED_BY ,GETDATE() )	 
				
			END 
			
			UPDATE TRADINGWINDOWCONFIG SET FROM_DATE = @FROM_DATE, TO_DATE = @TO_DATE,TRADING_TEXT = @TRADING_TEXT,LAST_UPDATED_BY=@LAST_UPDATED_BY,LAST_UPDATED_ON=GETDATE()									
			SELECT '1' AS [RESULT], 'UPDATESUCCESS' AS DETAIL
			
		END TRY
		BEGIN CATCH
			SELECT '0' AS [RESULT], 'ERROR' AS DETAIL
		END CATCH
	END

	/* Get Contra Trading Details */
	ELSE IF(@TYPE = 'GET_CONTRA_TRADE_DETAILS')
	BEGIN
		SELECT SHOW_POPUP,POPUP_MSG,NOTE,BLOCK_FOR_TRADING_YN FROM TradingWindowConfig 	
	END

	/* Get Contra Trading Details for employee*/
	ELSE IF(@TYPE = 'GET_CONTRA_TRADE_FOR_EMP')
	BEGIN
		SELECT SHOW_POPUP,POPUP_MSG,NOTE,BLOCK_FOR_TRADING_YN FROM TradingWindowConfig WHERE @INSIDER = 'Y'	
	END

	/* Delete TradingWindowConfig */
	ELSE IF (@TYPE = 'DELETE_TRADING_DETAILS')
	BEGIN
		BEGIN TRY	
		
			INSERT INTO AudiTrailTradingWinConfig (DESCRIPTION,COLUMN_NAME,CURRENT_VALUE,PREVIOUS_VALUE,LAST_UPDATED_BY,LAST_UPDATED_ON )
											VALUES(REPLACE(@DESC_DELETED,'{0}','FROM_DATE'),'FROM_DATE',@FROM_DATE,@PRV_FROM_DATE,@LAST_UPDATED_BY ,GETDATE() )	
											
			INSERT INTO AudiTrailTradingWinConfig (DESCRIPTION,COLUMN_NAME,CURRENT_VALUE,PREVIOUS_VALUE,LAST_UPDATED_BY,LAST_UPDATED_ON )
										VALUES(REPLACE(@DESC_DELETED,'{0}','TO_DATE'),'TO_DATE',@TO_DATE,@PRV_TO_DATE,@LAST_UPDATED_BY ,GETDATE())	
										
			INSERT INTO AudiTrailTradingWinConfig (DESCRIPTION,COLUMN_NAME,CURRENT_VALUE,PREVIOUS_VALUE,LAST_UPDATED_BY,LAST_UPDATED_ON )
										VALUES(REPLACE(@DESC_DELETED,'{0}','TRADING_TEXT'),'TRADING_TEXT',@TRADING_TEXT,@PRV_TRADING_TEXT,@LAST_UPDATED_BY ,GETDATE() )
								
			INSERT INTO AudiTrailTradingWinConfig (DESCRIPTION,COLUMN_NAME,CURRENT_VALUE,PREVIOUS_VALUE,LAST_UPDATED_BY,LAST_UPDATED_ON )
										VALUES(REPLACE(@DESC_DELETED,'{0}','LAST_UPDATED_BY'),'LAST_UPDATED_BY',@LAST_UPDATED_BY,@PRV_UPDATED_BY,@LAST_UPDATED_BY ,GETDATE() )
										
			UPDATE TRADINGWINDOWCONFIG SET FROM_DATE=NULL,TO_DATE=NULL,TRADING_TEXT = NULL,LAST_UPDATED_BY=@LAST_UPDATED_BY,LAST_UPDATED_ON=GETDATE()			 	
			
			SELECT '1' AS [RESULT], 'DELETESUCCESS' AS DETAIL
			
		END TRY
		BEGIN CATCH
			SELECT '0' AS [RESULT], 'ERROR' AS DETAIL
		END CATCH
	END

	/* Get  TradingWindowConfig details for employee */
	ELSE IF (@TYPE = 'GET_TRADING_DETAILS')
	BEGIN
		BEGIN TRY
			
			IF EXISTS (SELECT 1 FROM TRADINGWINDOWCONFIG)
			BEGIN 
				SELECT  ID,REPLACE(convert(NVARCHAR, FROM_DATE, 106), ' ', '/') As FROM_DATE,
							REPLACE(convert(NVARCHAR, TO_DATE, 106), ' ', '/') AS TO_DATE,
							TRADING_TEXT,LAST_UPDATED_BY,LAST_UPDATED_ON
				FROM TRADINGWINDOWCONFIG
				WHERE CONVERT(DATE, FROM_DATE) <= CONVERT(DATE, @FROM_DATE) AND CONVERT(DATE, TO_DATE) >= CONVERT(DATE, @FROM_DATE) AND @INSIDER = 'Y'
			END			
			 	
		END TRY
		BEGIN CATCH
			SELECT '0' AS [RESULT], 'ERROR' AS DETAIL
		END CATCH
	END 
	
	/* Get TradingWindowConfig details  */
	ELSE IF (@TYPE = 'SHOW_TRADING_DETAILS')
	BEGIN
		BEGIN TRY
			
			IF EXISTS (SELECT 1 FROM TRADINGWINDOWCONFIG)
			BEGIN 
				SELECT  ID,REPLACE(convert(NVARCHAR, FROM_DATE, 106), ' ', '/') As FROM_DATE,
							REPLACE(convert(NVARCHAR, TO_DATE, 106), ' ', '/') AS TO_DATE,
							TRADING_TEXT,LAST_UPDATED_BY,LAST_UPDATED_ON
				FROM TRADINGWINDOWCONFIG				
			END			
			 	
		END TRY
		BEGIN CATCH
			SELECT '0' AS [RESULT], 'ERROR' AS DETAIL
		END CATCH
	END 
END
GO
