/****** Object:  StoredProcedure [dbo].[PROC_GET_COUNTRY_MOVEMENT_TRACKING_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_COUNTRY_MOVEMENT_TRACKING_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_COUNTRY_MOVEMENT_TRACKING_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[PROC_GET_COUNTRY_MOVEMENT_TRACKING_DETAILS] 
(
	@FIELD_NAME VARCHAR(100)
)
AS
BEGIN
	
	DECLARE @TAX_IDENTIFIER__VAL NVARCHAR(200)

	SET @TAX_IDENTIFIER__VAL = CASE WHEN @FIELD_NAME = 'TAX_IDENTIFIER_COUNTRY' THEN 'Tax Identifier Country'  ELSE 'Tax Identifier State' END 

	CREATE TABLE #TEMP_MovementTemplate 
	(
		FIELD_NAME	NVARCHAR(50),
		EMPLOYEEID	NVARCHAR(50),
		EMPLOYEENAME NVARCHAR(75),
		[STATUS]	NVARCHAR(20),
		[CURRENT COUNTRY] NVARCHAR(200),
		[FROM DATE]	DATE,
		[MOVED TO COUNTRY]	NVARCHAR(200),
		[FROM DATE OF MOVEMENT]	DATE,
		[CREATED_ON] DATETIME
	)
		
	
	INSERT INTO #TEMP_MovementTemplate 
	(FIELD_NAME,EMPLOYEEID,EMPLOYEENAME,[STATUS],[CURRENT COUNTRY],[FROM DATE],[MOVED TO COUNTRY],[FROM DATE OF MOVEMENT])
	SELECT	[FIELD], 
			EMPLOYEE_ID, 
			EMPLOYEENAME, 
			[STATUS],
			[CURRENT COUNTRY],
			[FROMDATE] AS [FROM DATE],
			'' AS [MOVED TO COUNTRY],
			'' AS [FROM DATE OF MOVEMENT]			
	FROM (
	  
		SELECT 
	    'Tax Identifier Country' AS FIELD,
		EMPLOYEEID AS EMPLOYEE_ID, 
		EMPLOYEENAME,
		[STATUS], 
		[MOVED TO] AS [CURRENT COUNTRY], 
		[FROM DATE OF MOVEMENT] AS [FROMDATE], 
		'' AS [MOVED TO],
		'' AS [FROM DATE OF MOVEMENT]
	  FROM AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD 
	  WHERE FIELD = UPPER(@TAX_IDENTIFIER__VAL)
	) TMP 
	 
	
	 --SELECT 
	 --   CASE WHEN (UPPER(FIELD)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country'
		--     WHEN (UPPER(FIELD)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State'  
		--ELSE FIELD END  AS FIELD,
		--	EMPLOYEEID, 
		--	EMPLOYEENAME,
		--	[STATUS], 
		--	[MOVED TO] AS [CURRENT DETAILS], 
		--	[FROM DATE OF MOVEMENT] AS [FROMDATE], 
		--	'' AS [MOVED TO],
		--	'' AS [FROM DATE OF MOVEMENT],
		--	ROW_NUMBER() OVER (PARTITION BY EMPLOYEEID ORDER BY [FROM DATE OF MOVEMENT] DESC ,CREATED_ON DESC) RN
	 -- FROM AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD
	 -- WHERE CASE WHEN (UPPER(FIELD)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country' 
		--	WHEN (UPPER(FIELD)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State'  
	 --  ELSE FIELD End = UPPER(@FIELD_NAME)

	/**/	
	INSERT INTO #TEMP_MOVEMENTTEMPLATE
	(FIELD_NAME,EMPLOYEEID,EMPLOYEENAME,[STATUS],[CURRENT COUNTRY],[FROM DATE],[MOVED TO COUNTRY],[FROM DATE OF MOVEMENT])
	SELECT	
			@TAX_IDENTIFIER__VAL AS FIELD,	   
			EmployeeId,
			EmployeeName,
			(CASE WHEN DATEOFTERMINATION IS NULL 
					THEN 'LIVE' 
				  ELSE 'SEPARATED' 
			 END) AS [STATUS],
			(CASE WHEN (SELECT CountryName FROM COUNTRYMASTER Where CONVERT(VARCHAR(10), ID) = EM.TAX_IDENTIFIER_COUNTRY) IS NOT NULL THEN (SELECT CountryName FROM COUNTRYMASTER Where CONVERT(VARCHAR(10), ID)= EM.TAX_IDENTIFIER_COUNTRY) 
				ELSE (SELECT CountryName FROM COUNTRYMASTER Where CountryName = EM.TAX_IDENTIFIER_COUNTRY) END)
			AS [CURRENT COUNTRY],
			
			 [FROM_DATE] AS [FROM DATE],
			 '' AS [MOVED TO COUNTRY],
			
			 '' AS [FROM DATE OF MOVEMENT]
	FROM   EmployeeMaster EM			
	WHERE  EM.EmployeeID NOT IN (SELECT EMPLOYEEID FROM #TEMP_MovementTemplate )
			AND EM.Deleted = 0
		   
	/**/	
	SELECT FIELD_NAME,
	       EMPLOYEEID,EMPLOYEENAME,[STATUS],[CURRENT COUNTRY],
		
		   CASE WHEN ([FROM DATE]='1900-01-01') THEN NULL ELSE [FROM DATE] END [FROM DATE],	[MOVED TO COUNTRY],
		   
		   CASE WHEN ([FROM DATE OF MOVEMENT]='1900-01-01') THEN NULL ELSE [FROM DATE OF MOVEMENT] END [FROM DATE OF MOVEMENT]
	FROM #TEMP_MovementTemplate 
	ORDER BY EMPLOYEEID,EMPLOYEENAME,[FROM DATE]
	
	DROP TABLE #TEMP_MovementTemplate
END
GO
