/****** Object:  StoredProcedure [dbo].[PROC_UPDATEPERFORMANCE_CANCELLATION]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATEPERFORMANCE_CANCELLATION]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATEPERFORMANCE_CANCELLATION]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UPDATEPERFORMANCE_CANCELLATION] 
	@CompanyID VARCHAR(20) = NULL,
	@LastUpdatedBy VARCHAR(20) = NULL,
	@PERF_OPT_CAN_TREAT_ON varchar(20) = NULL,
	@PERF_OPT_CAN_TREAT_APP_DT DATETIME = NULL,
	@LastUpdatedOn DATETIME = NULL,
	@retValue INT OUTPUT 
AS
BEGIN
	
	SET NOCOUNT ON;

	UPDATE 
		CompanyParameters
	SET 
		PERF_OPT_CAN_TREAT_ON = ISNULL(@PERF_OPT_CAN_TREAT_ON, PERF_OPT_CAN_TREAT_ON),		
		LastUpdatedBy = ISNULL(@LastUpdatedBy, LastUpdatedBy), LastUpdatedOn = GETDATE(),
		PERF_OPT_CAN_TREAT_APP_DT = ISNULL(@PERF_OPT_CAN_TREAT_APP_DT, PERF_OPT_CAN_TREAT_APP_DT)
				
	SET @retValue = @@ROWCOUNT;
	
	SET NOCOUNT OFF;
END
GO
