/****** Object:  StoredProcedure [dbo].[PROC_MANAGE_MERCHANTCODE]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_MANAGE_MERCHANTCODE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_MANAGE_MERCHANTCODE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_MANAGE_MERCHANTCODE]
(
	@MERCHANTCODE_UPLOAD MANAGE_MERCHANTCODE_UPLOAD_TYPE	READONLY, 
	@UserId													NVARCHAR(100)	
)
AS
BEGIN
	SET NOCOUNT ON;
	
	CREATE TABLE #GET_MERCHANT_CODE_D
	(	
		GM_ID					INT IDENTITY (1,1),
		GRANTREGISTRATIONID	    VARCHAR(200),
		ENTITY                  VARCHAR(100), 
		MerchantCode			VARCHAR(100)		
	)	
	
	INSERT INTO #GET_MERCHANT_CODE_D 
	SELECT * FROM @MERCHANTCODE_UPLOAD 
	
	/*select * from  #GET_MERCHANT_CODE_D
	TABLE VALUED PARAMETER DATA WHICH CAME FROM EXCEL IS INSERTED INTO TEMP #GET_MERCHANT_CODE_D TABLE 
	CHECK GRANTREGISTRATIONID AND ENTITY EXIST IN MANAGEMERCHANTCODE TABLE
	*/
	
	DECLARE @MAX_ID_D INT, @MIN_ID_D INT, @GRANT_REGISTRATION_ID_D VARCHAR(200),@ENTITY_D VARCHAR(100),@MERCHANT_D VARCHAR(100)
					
	SELECT @MIN_ID_D = MIN(GM_ID), @MAX_ID_D = MAX(GM_ID) FROM #GET_MERCHANT_CODE_D
					
	WHILE (@MIN_ID_D <= @MAX_ID_D)
	BEGIN
		SELECT @GRANT_REGISTRATION_ID_D = GRANTREGISTRATIONID,@ENTITY_D=ENTITY,@MERCHANT_D=MerchantCode FROM #GET_MERCHANT_CODE_D WHERE GM_ID = @MIN_ID_D
		
		--This consdition to check grantregistrationid and entity exist in MANAGEMERCHANTCODE or not
		IF EXISTS(SELECT MCODE.GRANTREGISTRATIONID, MCODE.MLFV_ID FROM MANAGEMERCHANTCODE MCODE INNER JOIN
		          MASTER_LIST_FLD_VALUE MLFV ON MCODE.MLFV_ID=MLFV.MLFV_ID
					WHERE GRANTREGISTRATIONID = @GRANT_REGISTRATION_ID_D  AND MLFV.FIELD_VALUE= @ENTITY_D)
					
					BEGIN
							UPDATE	MANAGEMERCHANTCODE SET MERCHANTCODE= @MERCHANT_D,LASTUPDATEDBY=@UserId,LASTUPDATEDON=GETDATE() 
							FROM	MANAGEMERCHANTCODE M CROSS JOIN MASTER_LIST_FLD_VALUE MLFV 
							WHERE	GRANTREGISTRATIONID=@GRANT_REGISTRATION_ID_D 
							AND		M.MLFV_ID=MLFV.MLFV_ID AND MLFV.FIELD_VALUE= @ENTITY_D
					END		
								
		ELSE
			BEGIN
				INSERT INTO MANAGEMERCHANTCODE
							(GRANTREGISTRATIONID,MLFV_ID,MERCHANTCODE,CREATEDBY,CREATEDON,LASTUPDATEDBY,LASTUPDATEDON)
				SELECT		GRANTREGISTRATIONID,MLFV.MLFV_ID,MerchantCode,@UserId,GETDATE(),NULL,NULL 
							FROM @MERCHANTCODE_UPLOAD M INNER JOIN 
							MASTER_LIST_FLD_VALUE MLFV ON M.Entity=MLFV.FIELD_VALUE
			END	
		SET @MIN_ID_D = @MIN_ID_D + 1  
	END
END
GO
