/****** Object:  StoredProcedure [dbo].[SaveEditGrantMassUploadDetails]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[SaveEditGrantMassUploadDetails]
GO
/****** Object:  StoredProcedure [dbo].[SaveEditGrantMassUploadDetails]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SaveEditGrantMassUploadDetails]    
   (
      @CustDtl EditGrantDetailsMassUploadType READONLY,
      @Value Int Output   
   )
AS    
BEGIN    
   SET NOCOUNT ON    
       
   INSERT INTO EDIT_GRANT_MASSUPLOAD(GRANTID,EMPLOYEEID,EMPLOYEENAME,GRANTREGISTRATIONID,GRANTOPTIONID,VESTINGPERIODID,    
           COUNTER,PARENT,VESTINGTYPE,GRANTDATE,EXERCISEPRICE,OPTIONSGRANTED,VESTINGDATE,EXPIRYDATE)    
   SELECT ID,EMPLOYEEID,EMPLOYEENAME,GRANTREGISTRATIONID,GRANTOPTIONID,VESTINGPERIODID,    
           COUNTER,PARENT,VESTINGTYPE,GRANTDATE,EXERCISEPRICE,OPTIONSGRANTED,VESTINGDATE,EXPIRYDATE FROM @CustDtl 
           
           
   SELECT @Value = COUNT(*) FROM  EDIT_GRANT_MASSUPLOAD 
END

GO
