/****** Object:  StoredProcedure [dbo].[PROC_GET_SAR_SETTELMENT_MASSUPLOAD]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_SAR_SETTELMENT_MASSUPLOAD]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_SAR_SETTELMENT_MASSUPLOAD]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_GET_SAR_SETTELMENT_MASSUPLOAD] 
	
		@MIT_ID INT,
		@SCHEME_ID NVARCHAR(100),
		@ACTION NVARCHAR(100)=NULL,
		@FORMULA_NAME NVARCHAR(100) =NULL
	AS		

	IF(UPPER(@ACTION)='VALIDATION')
	BEGIN
	
	SELECT SC.SCHEMEID,GR.GRANTREGISTRATIONID AS GRANTREGISTRATION_ID, 
	CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'')='' THEN MIT.INSTRUMENT_NAME ELSE CIM.INS_DISPLY_NAME END AS INSTRUMENT_NAME,
	CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'')='' THEN MIT.MIT_ID ELSE CIM.MIT_ID END AS INSTRUMENT_ID
	FROM 
	SCHEME SC INNER JOIN GRANTREGISTRATION GR ON SC.SCHEMEID=GR.SCHEMEID
	INNER JOIN COMPANY_INSTRUMENT_MAPPING CIM ON SC.MIT_ID=CIM.MIT_ID
	INNER JOIN MST_INSTRUMENT_TYPE MIT ON MIT.MIT_ID=CIM.MIT_ID
	WHERE SC.MIT_ID=@MIT_ID AND SC.SCHEMEID=@SCHEME_ID	
	
	SELECT FFC_ID AS APPLIED_ID,MIT_ID,IS_FORMULA_APPLIED,REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE FROM FMV_FORMULA_CONFIG WHERE MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID AND IS_FORMULA_APPLIED=1
	UNION ALL
    SELECT SCFC_ID AS APPLIED_ID,MIT_ID,IS_FORMULA_APPLIED,REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE FROM SAR_COMPARE_FORMULA_CNFG WHERE MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID AND IS_FORMULA_APPLIED=1 
	UNION ALL
	SELECT SSPM_ID AS APPLIED_ID,MIT_ID,IS_FORMULA_APPLIED,REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD WHERE MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID AND IS_FORMULA_APPLIED=1
	ORDER BY APPLIED_ID DESC 
	
	SELECT SSPM_ID FROM SAR_SETTLEMENT_PRICE_MASSUPLOAD FFC WHERE  UPPER(FORMULA_NAME)=UPPER(@FORMULA_NAME)
	
	END
	
	ELSE

		BEGIN
		
		SELECT SC.SCHEMEID,GR.GRANTREGISTRATIONID AS GRANTREGISTRATION_ID,SSPM.SAR_PRICE as SAR_PRICE, 
		CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'')= '' THEN MIT.INSTRUMENT_NAME ELSE CIM.INS_DISPLY_NAME END AS INSTRUMENT_NAME,
		CASE WHEN ISNULL(CIM.INS_DISPLY_NAME,'')= '' THEN MIT.MIT_ID ELSE CIM.MIT_ID END AS INSTRUMENT_ID,
		REPLACE(CONVERT(CHAR(15), SSPM.APPLICABLE_FROM_DATE, 106),' - ',' ') AS APPLICABLE_FROM_DATE,
		REPLACE(CONVERT(CHAR(15), SSPM.APPLICABLE_TO_DATE, 106),' ',' ') AS APPLICABLE_TO_DATE			
		
		FROM 
		SCHEME SC INNER JOIN GRANTREGISTRATION GR ON SC.SCHEMEID=GR.SCHEMEID
		INNER JOIN COMPANY_INSTRUMENT_MAPPING CIM ON SC.MIT_ID=CIM.MIT_ID
		INNER JOIN MST_INSTRUMENT_TYPE MIT ON MIT.MIT_ID=CIM.MIT_ID	
		LEFT JOIN SAR_SETTLEMENT_PRICE_MASSUPLOAD SSPM ON SSPM.GRANTREGISTRATIONID=GR.GRANTREGISTRATIONID 	
		WHERE SC.MIT_ID=@MIT_ID AND SC.SCHEMEID=@SCHEME_ID		
		END		
GO
