/****** Object:  StoredProcedure [dbo].[CRUD_OPERATIONS_IN_ADS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[CRUD_OPERATIONS_IN_ADS]
GO
/****** Object:  StoredProcedure [dbo].[CRUD_OPERATIONS_IN_ADS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[CRUD_OPERATIONS_IN_ADS]
	@TYPE					VARCHAR(30)=NULL,
	@LOGINID				VARCHAR(20)=NULL,
	@BROKER_COMP_NAME		VARCHAR(200)=NULL,
	@BROKER_COMP_ID			VARCHAR(200)=NULL,
	@BROKER_ELE_ACC_NUM		VARCHAR(200)=NULL,
	@BROKER_FILED			VARCHAR(30)=NULL,
	@BROKER_FIELD_VALUE		VARCHAR(30)=NULL,
	@BROKER_COLUMN_VALUE	NVARCHAR(50)=NULL,
	@BROKER_NOTE			NVARCHAR(MAX)=NULL,
	@EMPLOYEE_ID			VARCHAR(20)=NULL,
	@USER_TYPE				VARCHAR(20)=NULL,
	@USER_ID				VARCHAR(20)=NULL
		
	
AS
BEGIN
	
	DECLARE @ReturnMessage VARCHAR(500)
	SET NOCOUNT ON;
  /*UPDATE QUERY SECTION: EMPLOYEEMASTER*/
  BEGIN
	IF(@TYPE='U')
	BEGIN
		UPDATE EmployeeMaster SET BROKER_DEP_TRUST_CMP_NAME=@BROKER_COMP_NAME,BROKER_DEP_TRUST_CMP_ID=@BROKER_COMP_ID,BROKER_ELECT_ACC_NUM=@BROKER_ELE_ACC_NUM WHERE LoginID=@LOGINID
		
		IF(@@ROWCOUNT > 0)
		BEGIN
			
			SET @ReturnMessage = 'Data Updated Successfully.'
		END
		ELSE
		SET @ReturnMessage = 'Error occured while updating record.'

		SELECT @ReturnMessage AS Result
	END
  END
   
   /*READ AND UPDATE SECTION : BROKER_SETTINGS*/ 
   BEGIN
		IF(@TYPE='R')
		BEGIN
			SELECT EMPLOYEEFIELD,Check_BrokerSettings,CHECK_TOEMP,CHECK_EXERCISE,ADS_Check_Exercise FROM CONFIGUREPERSONALDETAILS
			SELECT BROKER_SETTING_NOTE FROM CompanyMaster
		END
		--UBSY : UPDATE BROKER SETTINGS TO Y
			DECLARE @VALUE1 VARCHAR(15),@VALUE2 VARCHAR(15),@VALUE3 VARCHAR(15),@VALUE4 VARCHAR(15)
			SET @VALUE1= 'ONETIMEUPDATE'
			SET @VALUE2= 'ALLATONEGO'
			SET @VALUE3= 'MULTIPLEUPDATE'
			SET @VALUE4= 'UPDATEINPARTS'
			
		CREATE TABLE #TEMP_BRSETTING
		(
			TEMP_ID			INT IDENTITY(1,1),		
			COLUMN_VALUE	NCHAR	
		)
			
		IF(@TYPE='OneTime_AllAtOne')
		BEGIN
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_BROKERSETTINGS='Y' WHERE EMPLOYEEFIELD IN (@VALUE1,@VALUE2)
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_BROKERSETTINGS='N' WHERE EMPLOYEEFIELD IN (@VALUE3,@VALUE4)
		END

		IF(@TYPE='OneTime_UpdateInParts')
		BEGIN
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_BROKERSETTINGS='Y' WHERE EMPLOYEEFIELD IN (@VALUE1,@VALUE4)
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_BROKERSETTINGS='N' WHERE EMPLOYEEFIELD IN (@VALUE3,@VALUE2)
		END
		IF(@TYPE='MultipleUpdt_AllAtone')
		BEGIN
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_BROKERSETTINGS='Y' WHERE EMPLOYEEFIELD IN (@VALUE3,@VALUE2)
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_BROKERSETTINGS='N' WHERE EMPLOYEEFIELD IN (@VALUE1,@VALUE4)
		END
		IF(@TYPE='MultipleUpDt_UpdtInParts')
		BEGIN
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_BROKERSETTINGS='Y' WHERE EMPLOYEEFIELD IN (@VALUE3,@VALUE4)
			UPDATE CONFIGUREPERSONALDETAILS SET CHECK_BROKERSETTINGS='N' WHERE EMPLOYEEFIELD IN (@VALUE1,@VALUE2)				
		END
	 	IF(@TYPE='Update_BrokerSetting')
		BEGIN
			IF(@BROKER_COLUMN_VALUE IS NOT NULL)
			BEGIN
				/*
				BROKER_DEP_TRUST_CMP_NAME
				BROKER_DEP_TRUST_CMP_ID
				BROKER_ELECT_ACC_NUM
				*/
				INSERT INTO #TEMP_BRSETTING(COLUMN_VALUE)
					SELECT [Param] FROM fn_MVParam(@BROKER_COLUMN_VALUE,',')
			
				UPDATE BROKER_SETTINGS 
				SET BROKER_DEP_TRUST_CMP_NAME = (SELECT COLUMN_VALUE FROM #TEMP_BRSETTING WHERE TEMP_ID=1),
					BROKER_DEP_TRUST_CMP_ID = (SELECT COLUMN_VALUE FROM #TEMP_BRSETTING WHERE TEMP_ID=2),
					BROKER_ELECT_ACC_NUM = (SELECT COLUMN_VALUE FROM #TEMP_BRSETTING WHERE TEMP_ID=3)
				
				--SELECT * FROM BROKER_SETTINGS
				
				IF(@@ROWCOUNT > 0)
					BEGIN
						
						SET @ReturnMessage = 'Data Updated Successfully.'
					END
					ELSE
					SET @ReturnMessage = 'Error occured while updating record.'

					SELECT @ReturnMessage AS Result
						
				DROP TABLE #TEMP_BRSETTING
			END	
	
		END
		
		IF(@TYPE='UPADTE_NOTE')
		BEGIN
			UPDATE CompanyMaster SET BROKER_SETTING_NOTE =@BROKER_NOTE
			IF(@@ROWCOUNT > 0)
		BEGIN
			
			SET @ReturnMessage = 'Data Updated Successfully.'
		END
		ELSE
		SET @ReturnMessage = 'Error occured while updating record.'

		SELECT @ReturnMessage AS Result
		END
		
		IF(@TYPE='EMP_BR_SETTING')
		BEGIN
			SELECT BROKER_DEP_TRUST_CMP_NAME,BROKER_DEP_TRUST_CMP_ID,BROKER_ELECT_ACC_NUM FROM BROKER_SETTINGS WHERE EMPLOYEEID=@EMPLOYEE_ID
		END
		
		IF(@TYPE='EMP_BR_DETAILS')
		BEGIN
			SELECT BROKER_DEP_TRUST_CMP_NAME,BROKER_DEP_TRUST_CMP_ID,BROKER_ELECT_ACC_NUM FROM EmployeeMaster WHERE EMPLOYEEID=@EMPLOYEE_ID
		END
		
		IF(@TYPE='LOAD_ADMIN_RIGHTS')
		BEGIN
			SELECT SA.ActionId FROM ScreenMaster SM 
			INNER JOIN ScreenActions SA ON SM.ScreenId = SA.ScreenId  
			INNER JOIN RolePrivileges RP ON RP.ScreenActionId = SA.ScreenActionId  
			INNER JOIN RoleMaster RM ON RM.RoleId = RP.RoleId  
			INNER JOIN USERTYPE UT ON UT.UserTypeId = RM.UserTypeId  
			INNER JOIN UserMaster UM ON UM.RoleId = RM.RoleId  
			WHERE SM.Name = 'Broker Settings For Edit Employee Personal Details' AND  
			UT.UserTypeName =@USER_TYPE  AND UM.UserId =@USER_ID  ORDER BY SA.ActionId
		END
		
		IF(@TYPE='UpdateEmpBrDetails')
		BEGIN
			UPDATE BROKER_SETTINGS SET BROKER_DEP_TRUST_CMP_NAME=@BROKER_COMP_NAME,BROKER_DEP_TRUST_CMP_ID=@BROKER_COMP_ID,BROKER_ELECT_ACC_NUM=@BROKER_ELE_ACC_NUM WHERE EMPLOYEEID=@EMPLOYEE_ID
		END
		
		IF(@TYPE='GET_BR_CMPLVL_SETTINGS')
		BEGIN
			SELECT ADS_CHECK_OWN FROM ConfigurePersonalDetails WHERE EmployeeField IN ('BrokerCompanyName','BrokerCompanyID','BrokerElectAccountNo') 
		END
		
	END
END

GO
