/****** Object:  StoredProcedure [dbo].[PROC_GetTrackEmployeeFields]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GetTrackEmployeeFields]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GetTrackEmployeeFields]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GetTrackEmployeeFields]
AS
BEGIN	
	SELECT 
		SYSCOL.NAME AS NAME,
		(CASE WHEN (UPPER(SYSCOL.NAME)=UPPER('TAX_IDENTIFIER_COUNTRY')) THEN 'Tax Identifier Country'
  		 	 WHEN (UPPER(SYSCOL.NAME)=UPPER('TAX_IDENTIFIER_STATE')) THEN 'Tax Identifier State'  
		ELSE 
			SYSCOL.NAME 
		END) AS FIELD_DISPLAY_NAME		
  	FROM SYS.COLUMNS SYSCOL 
	INNER JOIN SYS.TABLES SYSTAB ON SYSCOL.OBJECT_ID = SYSTAB.OBJECT_ID 
	WHERE 
	  	SYSTAB.NAME = 'EMPLOYEEMASTER' AND SYSCOL.NAME 
  		IN (SELECT FIELD_NAME FROM MASTER_LIST_FLD_NAME WHERE IS_TRACKING_ENABLED <> 1 AND IS_ADD_IN_LIST = 1) 
	ORDER BY SYSCOL.NAME ASC
END
GO
