/****** Object:  StoredProcedure [dbo].[PROC_CRUD_UPLOAD_DETAILS_CML]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CRUD_UPLOAD_DETAILS_CML]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CRUD_UPLOAD_DETAILS_CML]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CRUD_UPLOAD_DETAILS_CML]    
(
 @DOCUMENT_NAME VARCHAR (50), 
 @EmployeeID    VARCHAR(50), 
 @ACTION        VARCHAR(10),
 @retValue      INT OUTPUT
)    
AS    
BEGIN    
DECLARE @MDUM_ID INT        
 
    SELECT @MDUM_ID=MDUM_ID FROM MST_DOCUMENT_UPLOAD_MASTER WHERE UPPER(DOCUMENT_NAME) = UPPER(@DOCUMENT_NAME)	
    IF(UPPER(@Action) = 'ADD')
    BEGIN
    IF NOT EXISTS(SELECT MDUMD_ID FROM MST_DOCUMENT_UPLOAD_MASTER_DETAILS WHERE MDUM_ID=@MDUM_ID AND EmployeeID = @EmployeeID )
    BEGIN  
		INSERT INTO MST_DOCUMENT_UPLOAD_MASTER_DETAILS 
		(MDUM_ID,EXERCISE_NO,IS_UPLOADED,IS_UPLOADED_ON,EMPLOYEEID,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON) 
		VALUES (@MDUM_ID,null,1,GETDATE(),@EmployeeID,@EmployeeID,GETDATE(),@EmployeeID,GETDATE())		
    END
    ELSE 
    BEGIN
		UPDATE MST_DOCUMENT_UPLOAD_MASTER_DETAILS SET IS_UPLOADED = 1 , IS_UPLOADED_ON = GETDATE(), UPDATED_BY=@EmployeeID, UPDATED_ON= GETDATE() WHERE MDUM_ID = @MDUM_ID AND EmployeeID=@EmployeeID			
	END	
	SET @retValue = @@ROWCOUNT;  
	END
	ELSE IF(UPPER(@Action) = 'GET')
	BEGIN
		SELECT @retValue= CASE WHEN  Count(1) > 0 THEN 1 ELSE 0 END  from MST_DOCUMENT_UPLOAD_MASTER AS MDUM 
		INNER JOIN  MST_DOCUMENT_UPLOAD_MASTER_DETAILS AS MDUMD ON MDUM.MDUM_ID = MDUMD.MDUM_ID
		WHERE MDUM.DOCUMENT_NAME = 'CML COPY' AND MDUMD.EMPLOYEEID = @EmployeeID		
	END	  
END 
GO
