/****** Object:  StoredProcedure [dbo].[PROC_AUDIT_TRAIL_REPORT]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_AUDIT_TRAIL_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_AUDIT_TRAIL_REPORT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_AUDIT_TRAIL_REPORT]
	-- ADD THE PARAMETERS FOR THE STORED PROCEDURE HERE
	@EXERCISENO VARCHAR(200),
	@EMPLOYEEID VARCHAR(200),
	@FROMDATE DATE,
	@TODATE DATE,
	@SEARCHBY VARCHAR(200)
AS
BEGIN
SET NOCOUNT ON

IF @SEARCHBY ='EXERCISENO'
BEGIN
	SELECT
		
		EM.LOGINID AS LOGINID,		
		ULH.LoginDate AS LOGINTIME,
		ULH.LogOutDate AS LOGOUTTIME,		
		EM.EMPLOYEEID AS EMPLOYEEID,
		EM.EMPLOYEENAME AS EMPLOYEENAME,		
		AD.EXERCISENO AS EXERCISENO,		
		CONVERT(VARCHAR,AD.PAYMENTDATETIME,106) AS EXERCISEDDATE,
		CONVERT(VARCHAR,AD.PAYMENTDATETIME,108) AS EXERCISETIME,			
		CONVERT(VARCHAR, GR.GRANTDATE,106) GRANTDATE,		
		GR.GRANTREGISTRATIONID AS GRANTREGISTRATIONID,
		SUM(EX.EXERCISEDQUANTITY)AS EXERCISEDQUANTITY,		
		EX.EXERCISEDPRICE EXERCISEDPRICE,		
		SUM(AD.EXERCISEAMOUNT )AS EXERCISEAMOUNT,
		SUM(ISNULL(AD.PERQTAX,0)) AS PERQTAX,	
		SUM(ISNULL(AD.PERQVAL,0) )AS PERQSTVALUE,		
		SUM(AD.EXERCISEAMOUNT+isnull(AD.PERQVAL,0) )AS TOTALAMOUNTPAID,		
		SUM(AD.CashlessChgsAmt+ AD.TransChargesPaid+AD.ServiceTaxTransactionChargespaid
			+AD.BrokerChargesPaid+AD.SerTaxOnBrokerageChargesPaid
			+AD.STTPaid+AD.SEBIFeePaid+AD.StampDutyPaid
			+AD.CAFillings+AD.ServiceTaxOnCAFillingFees+AD.BankCharges
			+AD.ServiceTaxOnBankCharges) AS TRANSACTIONCHARGES,
		SUM(AD.CashlessChgsAmt+ AD.TransChargesPaid+AD.ServiceTaxTransactionChargespaid
			+AD.BrokerChargesPaid+AD.SerTaxOnBrokerageChargesPaid
			+AD.STTPaid+AD.SEBIFeePaid+AD.StampDutyPaid
			+AD.CAFillings+AD.ServiceTaxOnCAFillingFees+AD.BankCharges
			+AD.ServiceTaxOnBankCharges+AD.EXERCISEAMOUNT+isnull(AD.PERQVAL,0)) AS TOTALAMOUNTDUE,
		SUM(EX.EXERCISEDQUANTITY) AS SHARESTOBESOLD,
		AD.MarketPrice AS TENTATIVEMARKETPRICE,		
		SUM(ex.ExercisedQuantity*ad.MarketPrice) AS VALUEOFSHARESOLD,
		
		CASE 
					when (AD.PaymentMode='A')
					THEN
						SUM((EX.EXERCISEDQUANTITY*ad.MarketPrice)- AD.EXERCISEAMOUNT +ad.PerqVal+isnull(ad.TransactionChanges,0))
					else --AD.PaymentMode='P'
					--THEN	
					SUM(((EX.EXERCISEDQUANTITY)*ad.MarketPrice)- (AD.EXERCISEAMOUNT +ad.PerqVal+isnull(ad.TransactionChanges,0))-((isnull(ad.TransactionChanges,0)+AD.EXERCISEAMOUNT+isnull(AD.PERQVAL,0))/ad.MarketPrice))
					END AS TentativeAmountTransferred,
		CASE 
					WHEN Ad.PaymentMode ='A'
						THEN NULL
					--WHEN AD.PaymentMode='P' 
					--	THEN 
					else
						sum((isnull(ad.TransactionChanges,0)+(AD.EXERCISEAMOUNT)+isnull(AD.PERQVAL,0))/ad.MarketPrice)
					END AS  TentativeSharesTransferred
FROM AUDITDATA AD 
	RIGHT OUTER JOIN EXERCISED EX 
		ON AD.ExerciseNo=EX.ExerciseNo
	INNER JOIN GRANTLEG GL
		ON EX.GRANTLEGSERIALNUMBER=GL.ID
	INNER JOIN GRANTREGISTRATION GR
		ON GR.GRANTREGISTRATIONID=GL.GRANTREGISTRATIONID
	INNER JOIN GRANTOPTIONS GOP
		ON GOP.GRANTOPTIONID=GL.GRANTOPTIONID
	INNER JOIN EMPLOYEEMASTER EM
		ON EM.EMPLOYEEID=GOP.EMPLOYEEID
	INNER JOIN UserLoginHistory ULH
		ON ULH.Idt=AD.LoginHistoryId
				WHERE ad.ExerciseNo=@EXERCISENO
				AND AD.PaymentMode IN ('A','P')
	GROUP BY EM.LOGINID,ULH.LoginDate,ULH.LogOutDate , EM.EMPLOYEEID,EM.EMPLOYEENAME,AD.EXERCISENO,
	GR.GRANTDATE,GR.GRANTREGISTRATIONID,EX.EXERCISEDPRICE,AD.MarketPrice,ex.ExercisedQuantity,AD.PaymentMode,AD.TransactionChanges,
	AD.PAYMENTDATETIME
END
ELSE IF @SEARCHBY ='EMPLOYEEID'
BEGIN
	SELECT
		
			EM.LOGINID AS LOGINID,		
		ULH.LoginDate AS LOGINTIME,
		ULH.LogOutDate AS LOGOUTTIME,		
		EM.EMPLOYEEID AS EMPLOYEEID,
		EM.EMPLOYEENAME AS EMPLOYEENAME,		
		AD.EXERCISENO AS EXERCISENO,		
		CONVERT(VARCHAR,AD.PAYMENTDATETIME,106) AS EXERCISEDDATE,
		CONVERT(VARCHAR,AD.PAYMENTDATETIME,108) AS EXERCISETIME,			
		CONVERT(VARCHAR, GR.GRANTDATE,106) GRANTDATE,		
		GR.GRANTREGISTRATIONID AS GRANTREGISTRATIONID,
		SUM(EX.EXERCISEDQUANTITY)AS EXERCISEDQUANTITY,		
		EX.EXERCISEDPRICE EXERCISEDPRICE,		
		SUM(AD.EXERCISEAMOUNT )AS EXERCISEAMOUNT,
		SUM(ISNULL(AD.PERQTAX,0)) AS PERQTAX,	
		SUM(ISNULL(AD.PERQVAL,0) )AS PERQSTVALUE,		
		SUM(AD.EXERCISEAMOUNT+isnull(AD.PERQVAL,0) )AS TOTALAMOUNTPAID,		
		SUM(AD.CashlessChgsAmt+ AD.TransChargesPaid+AD.ServiceTaxTransactionChargespaid
			+AD.BrokerChargesPaid+AD.SerTaxOnBrokerageChargesPaid
			+AD.STTPaid+AD.SEBIFeePaid+AD.StampDutyPaid
			+AD.CAFillings+AD.ServiceTaxOnCAFillingFees+AD.BankCharges
			+AD.ServiceTaxOnBankCharges) AS TRANSACTIONCHARGES,
		SUM(AD.CashlessChgsAmt+ AD.TransChargesPaid+AD.ServiceTaxTransactionChargespaid
			+AD.BrokerChargesPaid+AD.SerTaxOnBrokerageChargesPaid
			+AD.STTPaid+AD.SEBIFeePaid+AD.StampDutyPaid
			+AD.CAFillings+AD.ServiceTaxOnCAFillingFees+AD.BankCharges
			+AD.ServiceTaxOnBankCharges+AD.EXERCISEAMOUNT+isnull(AD.PERQVAL,0)) AS TOTALAMOUNTDUE,
		SUM(EX.EXERCISEDQUANTITY) AS SHARESTOBESOLD,
		AD.MarketPrice AS TENTATIVEMARKETPRICE,		
		SUM(ex.ExercisedQuantity*ad.MarketPrice) AS VALUEOFSHARESOLD,
		
		CASE 
					when (AD.PaymentMode='A')
					THEN
						SUM((EX.EXERCISEDQUANTITY*ad.MarketPrice)- AD.EXERCISEAMOUNT +ad.PerqVal+isnull(ad.TransactionChanges,0))
					else --AD.PaymentMode='P'
					--THEN	
					SUM(((EX.EXERCISEDQUANTITY)*ad.MarketPrice)- (AD.EXERCISEAMOUNT +ad.PerqVal+isnull(ad.TransactionChanges,0))-((isnull(ad.TransactionChanges,0)+AD.EXERCISEAMOUNT+isnull(AD.PERQVAL,0))/ad.MarketPrice))
					END AS TentativeAmountTransferred,
		CASE 
					WHEN Ad.PaymentMode ='A'
						THEN NULL
					--WHEN AD.PaymentMode='P' 
					--	THEN 
					else
						sum((isnull(ad.TransactionChanges,0)+(AD.EXERCISEAMOUNT)+isnull(AD.PERQVAL,0))/ad.MarketPrice)
					END AS  TentativeSharesTransferred
	
FROM AUDITDATA AD 
	RIGHT OUTER JOIN EXERCISED EX 
		ON AD.ExerciseNo=EX.ExerciseNo
	INNER JOIN GRANTLEG GL
		ON EX.GRANTLEGSERIALNUMBER=GL.ID
	INNER JOIN GRANTREGISTRATION GR
		ON GR.GRANTREGISTRATIONID=GL.GRANTREGISTRATIONID
	INNER JOIN GRANTOPTIONS GOP
		ON GOP.GRANTOPTIONID=GL.GRANTOPTIONID
	INNER JOIN EMPLOYEEMASTER EM
		ON EM.EMPLOYEEID=GOP.EMPLOYEEID
	INNER JOIN UserLoginHistory ULH
		ON ULH.Idt=AD.LoginHistoryId
				WHERE EM.EMPLOYEEID=@EMPLOYEEID
				AND AD.PaymentMode IN ('A','P')
	GROUP BY EM.LOGINID,ULH.LoginDate,ULH.LogOutDate , EM.EMPLOYEEID,EM.EMPLOYEENAME,AD.EXERCISENO,
	GR.GRANTDATE,GR.GRANTREGISTRATIONID,EX.EXERCISEDPRICE,AD.MarketPrice,ex.ExercisedQuantity,AD.PaymentMode,AD.TransactionChanges,
	AD.PAYMENTDATETIME
	END
ELSE IF @SEARCHBY='DATE'
	SELECT
	
			EM.LOGINID AS LOGINID,		
		ULH.LoginDate AS LOGINTIME,
		ULH.LogOutDate AS LOGOUTTIME,		
		EM.EMPLOYEEID AS EMPLOYEEID,
		EM.EMPLOYEENAME AS EMPLOYEENAME,		
		AD.EXERCISENO AS EXERCISENO,		
		CONVERT(VARCHAR,AD.PAYMENTDATETIME,106) AS EXERCISEDDATE,
		CONVERT(VARCHAR,AD.PAYMENTDATETIME,108) AS EXERCISETIME,			
		CONVERT(VARCHAR, GR.GRANTDATE,106) GRANTDATE,		
		GR.GRANTREGISTRATIONID AS GRANTREGISTRATIONID,
		SUM(EX.EXERCISEDQUANTITY)AS EXERCISEDQUANTITY,		
		EX.EXERCISEDPRICE EXERCISEDPRICE,		
		SUM(AD.EXERCISEAMOUNT )AS EXERCISEAMOUNT,
		SUM(ISNULL(AD.PERQTAX,0)) AS PERQTAX,	
		SUM(ISNULL(AD.PERQVAL,0) )AS PERQSTVALUE,		
		SUM(AD.EXERCISEAMOUNT+isnull(AD.PERQVAL,0) )AS TOTALAMOUNTPAID,		
		SUM(AD.CashlessChgsAmt+ AD.TransChargesPaid+AD.ServiceTaxTransactionChargespaid
			+AD.BrokerChargesPaid+AD.SerTaxOnBrokerageChargesPaid
			+AD.STTPaid+AD.SEBIFeePaid+AD.StampDutyPaid
			+AD.CAFillings+AD.ServiceTaxOnCAFillingFees+AD.BankCharges
			+AD.ServiceTaxOnBankCharges) AS TRANSACTIONCHARGES,
		SUM(AD.CashlessChgsAmt+ AD.TransChargesPaid+AD.ServiceTaxTransactionChargespaid
			+AD.BrokerChargesPaid+AD.SerTaxOnBrokerageChargesPaid
			+AD.STTPaid+AD.SEBIFeePaid+AD.StampDutyPaid
			+AD.CAFillings+AD.ServiceTaxOnCAFillingFees+AD.BankCharges
			+AD.ServiceTaxOnBankCharges+AD.EXERCISEAMOUNT+isnull(AD.PERQVAL,0)) AS TOTALAMOUNTDUE,
		SUM(EX.EXERCISEDQUANTITY) AS SHARESTOBESOLD,
		AD.MarketPrice AS TENTATIVEMARKETPRICE,		
		SUM(ex.ExercisedQuantity*ad.MarketPrice) AS VALUEOFSHARESOLD,
		
		CASE 
					when (AD.PaymentMode='A')
					THEN
						SUM((EX.EXERCISEDQUANTITY*ad.MarketPrice)- AD.EXERCISEAMOUNT +ad.PerqVal+isnull(ad.TransactionChanges,0))
					else --AD.PaymentMode='P'
					--THEN	
					SUM(((EX.EXERCISEDQUANTITY)*ad.MarketPrice)- (AD.EXERCISEAMOUNT +ad.PerqVal+isnull(ad.TransactionChanges,0))-((isnull(ad.TransactionChanges,0)+AD.EXERCISEAMOUNT+isnull(AD.PERQVAL,0))/ad.MarketPrice))
					END AS TentativeAmountTransferred,
		CASE 
					WHEN Ad.PaymentMode ='A'
						THEN NULL
					--WHEN AD.PaymentMode='P' 
					--	THEN 
					else
						sum((isnull(ad.TransactionChanges,0)+(AD.EXERCISEAMOUNT)+isnull(AD.PERQVAL,0))/ad.MarketPrice)
					END AS  TentativeSharesTransferred
FROM AUDITDATA AD 
	RIGHT OUTER JOIN EXERCISED EX 
		ON AD.ExerciseNo=EX.ExerciseNo
	INNER JOIN GRANTLEG GL
		ON EX.GRANTLEGSERIALNUMBER=GL.ID
	INNER JOIN GRANTREGISTRATION GR
		ON GR.GRANTREGISTRATIONID=GL.GRANTREGISTRATIONID
	INNER JOIN GRANTOPTIONS GOP
		ON GOP.GRANTOPTIONID=GL.GRANTOPTIONID
	INNER JOIN EMPLOYEEMASTER EM
		ON EM.EMPLOYEEID=GOP.EMPLOYEEID
	INNER JOIN UserLoginHistory ULH
		ON ULH.Idt=AD.LoginHistoryId
				WHERE CONVERT(VARCHAR,AD.PAYMENTDATETIME,106) BETWEEN @FROMDATE AND @TODATE
				AND AD.PaymentMode IN ('A','P')
	GROUP BY EM.LOGINID,ULH.LoginDate,ULH.LogOutDate , EM.EMPLOYEEID,EM.EMPLOYEENAME,AD.EXERCISENO,
	GR.GRANTDATE,GR.GRANTREGISTRATIONID,EX.EXERCISEDPRICE,AD.MarketPrice,ex.ExercisedQuantity,AD.PaymentMode,AD.TransactionChanges,
	AD.PAYMENTDATETIME
END

GO
