/****** Object:  StoredProcedure [dbo].[PROC_GET_CLOSING_PRICE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_CLOSING_PRICE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_CLOSING_PRICE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_CLOSING_PRICE]
	
AS

BEGIN
	SET NOCOUNT ON;	

		DECLARE @IsListedCompany NCHAR(1)
		DECLARE @IsDataExists AS INTEGER  
		DECLARE @Count AS INTEGER 
		DECLARE @FMVDATE AS DATE
		SET @FMVDATE = (SELECT CONVERT(DATETIME,GetDate(), 111)) 
		SET @Count = 0 
		SET @IsDataExists = 0
		
		BEGIN TRY
			SELECT @IsListedCompany= ISNULL(ListedYN,'') FROM CompanyParameters
		
			IF(UPPER(@IsListedCompany)='Y')
			BEGIN
					--SELECT TOP 1 CLOSEPRICE,PRICEDATE FROM SHAREPRICES 
					--WHERE PRICEDATE = (SELECT MAX(PRICEDATE) FROM SHAREPRICES)
					SELECT TOP 1 CLOSEPRICE,PRICEDATE FROM FMVSharePrices 
					WHERE PRICEDATE = (SELECT MAX(PRICEDATE) FROM FMVSharePrices)  AND
					StockExchange=(SELECT SUBSTRING(STOCK_EXCHANGE_SYMBOL,1,1) FROM MST_STOCK_EXCHANGE 
					INNER JOIN CompanyMaster  ON MSE_ID=StockExchangeType)

			END
			ELSE IF(UPPER(@IsListedCompany)='N')
			BEGIN
					IF EXISTS(SELECT 1 FROM FMVForUnlisted WHERE Scheme_Id IS NULL AND CONVERT(DATE,GETDATE()) BETWEEN CONVERT(DATE,FMV_FromDate) AND CONVERT(DATE,FMV_Todate))
					BEGIN
						SELECT TOP 1 FMV AS CLOSEPRICE, CONVERT(DATE,GETDATE()) AS PRICEDATE FROM  FMVForUnlisted 
						WHERE Scheme_Id is NULL AND CONVERT(DATE,GETDATE()) BETWEEN CONVERT(DATE,FMV_FromDate) AND CONVERT(DATE,FMV_Todate)
					END
					ELSE
					BEGIN
						IF EXISTS (select 1 from FMVForUnlisted)
						BEGIN
								WHILE @IsDataExists = 0
								BEGIN
								SET @IsDataExists = (SELECT COUNT(1) from FMVForUnlisted where   Scheme_Id IS NULL AND CONVERT(DATE,FMV_FromDate) <= CONVERT(DATE,@FMVDATE) AND CONVERT(DATE,FMV_Todate) >= CONVERT(DATE,@FMVDATE))
									IF(@IsDataExists = 0)
									BEGIN
									SET @Count = @Count + 1
									SET @FMVDATE = (SELECT CONVERT(DATETIME,GetDate(), 111) - @Count)
									END
								END
								SELECT FMV as CLOSEPRICE,@FMVDATE as PriceDate FROM FMVForUnlisted WHERE CONVERT(DATE,FMV_FromDate) <= CONVERT(DATE,@FMVDATE) AND CONVERT(DATE,FMV_Todate) >= CONVERT(DATE,@FMVDATE) AND Scheme_Id IS NULL
							END
							ELSE
							BEGIN
								SELECT 0 as CLOSEPRICE,Convert(Date,'') as PriceDate
							END
					END
			END
		END TRY
		BEGIN CATCH
			SELECT ERROR_MESSAGE() AS ErrorMessage
		END CATCH
	SET NOCOUNT OFF;		
END
GO
