/****** Object:  StoredProcedure [dbo].[PROC_GET_FMV_CONFIG_SETTING]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_FMV_CONFIG_SETTING]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_FMV_CONFIG_SETTING]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_GET_FMV_CONFIG_SETTING]
(
 @PAGENAME				VARCHAR (100),
 @INSTRUMENT_ID			BIGINT
 
 
)
AS
BEGIN
	SET NOCOUNT ON;	
	IF(UPPER(@PAGENAME)='FMV')
	BEGIN
	
		SELECT ISNULL( EXCEPT_FOR_FMV_VAL,0) As EXCEPT_FOR_FMV_VAL, ISnull(EXCEPT_FOR_FMV,'') As EXCEPT_FOR_FMV  FROM COMPANY_INSTRUMENT_MAPPING WHERE MIT_ID= @INSTRUMENT_ID   
		SELECT CIMD.RESIDENTIAL_ID,COUNTRY_ID,ACTIVE FROM COMPANY_INSTRUMENT_MAPPING CIM INNER JOIN COMPANY_INSTRUMENT_MAP_DETAILS CIMD 
		ON CIM.CIM_ID= CIMD.CIM_ID AND CIMD.SETTING_TYPE='FMV' 
		WHERE CIM.MIT_ID=@INSTRUMENT_ID  
		 
	
	END
	
END
GO
