/****** Object:  StoredProcedure [dbo].[PROC_UpdateTemplateNameCountryWise]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UpdateTemplateNameCountryWise]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UpdateTemplateNameCountryWise]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_UpdateTemplateNameCountryWise] 
(
    @COUNTRY_ID       INT,
    @STATE_ID         NVARCHAR(MAX),
    @PAYMENTMASTER_ID INT,
	@TEMPLATE_NAME    NVARCHAR(100) = NULL,
	@MIT_ID           INT = NULL,	
	@UPDATED_BY       NVARCHAR(100) = NULL,
	@RETVALUE         INT = NULL OUTPUT
)
AS
BEGIN
	
	    SET NOCOUNT ON;

        DECLARE @STATEID INT 
		DECLARE CUR_GET_STATELIST CURSOR FOR  
		SELECT ITEM FROM FN_SPLIT_STRING(@STATE_ID,',')

		OPEN CUR_GET_STATELIST   
		FETCH NEXT FROM CUR_GET_STATELIST INTO @STATEID   

		WHILE @@FETCH_STATUS = 0   
		BEGIN 

            IF(@STATEID > 0) 
            BEGIN
	            
				IF EXISTS (SELECT CWPM_ID FROM COUNTRY_WISE_PAYMENT_MODE WHERE COUNTRY_ID = @COUNTRY_ID AND STATE_ID = @STATEID AND PAYMENTMASTER_ID = @PAYMENTMASTER_ID AND MIT_ID = @MIT_ID)
				BEGIN
				
					UPDATE COUNTRY_WISE_PAYMENT_MODE 
					SET TEMPLATE_NAME = @TEMPLATE_NAME, UPDATED_BY =@UPDATED_BY, UPDATED_ON = GETDATE() 
					WHERE COUNTRY_ID = @COUNTRY_ID AND STATE_ID = @STATEID AND PAYMENTMASTER_ID = @PAYMENTMASTER_ID AND MIT_ID = @MIT_ID
					
				END
				ELSE
				BEGIN  
			     
					INSERT INTO COUNTRY_WISE_PAYMENT_MODE 
					(
					   COUNTRY_ID, STATE_ID, PAYMENTMASTER_ID, TEMPLATE_NAME, MIT_ID, CREATED_BY, CREATED_ON
					)
					VALUES 
					(  
					   @COUNTRY_ID, @STATEID, @PAYMENTMASTER_ID, @TEMPLATE_NAME, @MIT_ID, @UPDATED_BY, GETDATE()
					)
				END
				
				SET @RETVALUE = ISNULL(@RETVALUE,0) + @@ROWCOUNT;
			
			END
        
		FETCH NEXT FROM CUR_GET_STATELIST INTO @STATEID 
		END  
        
		CLOSE CUR_GET_STATELIST   
		DEALLOCATE CUR_GET_STATELIST			
		
		SET NOCOUNT OFF;
END
GO
