/****** Object:  StoredProcedure [dbo].[PROC_AddInLIstDetails]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_AddInLIstDetails]
GO
/****** Object:  StoredProcedure [dbo].[PROC_AddInLIstDetails]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_AddInLIstDetails]
AS
BEGIN
		SELECT
			  HM.MLFN_ID,
			  HM.FIELD_NAME,
			  IS_AUDIT_MAINTAINED,
			  IS_TRACKING_ENABLED,
			  HM.FIELD_NAME, 
			  0 ISDELETED,
			  DT.DATA_TYPE AS DATATYPENAME,
			  HM.UPDATED_BY, 
			  HM.UPDATED_ON,
			  IS_ADD_IN_LIST				
		FROM	MASTER_LIST_FLD_NAME HM
			INNER JOIN 
			(	SELECT SYSCOL.NAME COLUMN_NAME, SYSTYP.NAME DATA_TYPE 
				FROM SYS.COLUMNS SYSCOL 
				INNER JOIN SYS.TABLES SYSTAB ON SYSCOL.OBJECT_ID = SYSTAB.OBJECT_ID 
				INNER JOIN SYS.TYPES SYSTYP ON SYSTYP.SYSTEM_TYPE_ID = SYSCOL.SYSTEM_TYPE_ID
				WHERE SYSTAB.NAME = 'EMPLOYEEMASTER'
			) DT		 
		ON HM.FIELD_NAME = DT.COLUMN_NAME 
		WHERE IS_ADD_IN_LIST = 1 
		ORDER BY HM.MLFN_ID
END
GO
