/****** Object:  StoredProcedure [dbo].[USP_FETCHPERQUISITETAXREPORT]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[USP_FETCHPERQUISITETAXREPORT]
GO
/****** Object:  StoredProcedure [dbo].[USP_FETCHPERQUISITETAXREPORT]    Script Date: 7/6/2022 1:40:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_FETCHPERQUISITETAXREPORT]
AS
BEGIN
	SELECT ROW_NUMBER() OVER (ORDER BY EMPLOYEEID,GRANTOPTIONID,LASTUPDATEDON ASC) AS SRNO,
		ACTION AS ACTIONTYPE,
		EMPLOYEEID,
		GRANTOPTIONID,
		PERQTAX AS PERQUISITETAX,
		dbo.FN_PQ_TAX_ROUNDING(PERQ_TAX_RATE) AS PERQUISITE_TAX_RATE,
		PERQVALUE AS PERQUISITEVALUE,
		PERQID AS PERQUISITEID,
		LASTUPDATEDBY AS UPDATEDBY,
		LASTUPDATEDON AS UPDATEDON,
		TAXHEADING 
	FROM PERQSTTAXEXCEPTIONRULE
	ORDER BY EMPLOYEEID,GRANTOPTIONID,LASTUPDATEDON
END
GO
