/****** Object:  StoredProcedure [dbo].[PROC_CRUD_NETCASHPAYOUT_FORMULA]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CRUD_NETCASHPAYOUT_FORMULA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CRUD_NETCASHPAYOUT_FORMULA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CRUD_NETCASHPAYOUT_FORMULA]
	(	 
		@NFC_ID					BIGINT = NULL,		
		@MIT_ID					INT = NULL,
		@SCHEME_ID              NVARCHAR(100) = NULL,
	    @FORMULA_NAME			VARCHAR(250) = NULL , 	   
	    @FORMULA_DESCRIPTION	NVARCHAR(MAX) = NULL,	
		@APPLICABLE_FROM_DATE	DATETIME = NULL,
		@CREATED_BY				NVARCHAR(50) = NULL,
		@ACTION					NVARCHAR(50)	
	 )
AS
BEGIN
	SET NOCOUNT ON;
	
	BEGIN TRY
	
		DECLARE @APPLICABLE_TO_DATE DATETIME 
		SET @APPLICABLE_TO_DATE = NULL	
		DECLARE @NFCNEW_ID INT 
		--DECLARE @AFCNEW_ID1 INT 
		SET @NFCNEW_ID = NULL 

		SELECT TOP 1  @NFCNEW_ID= NFC_ID FROM NETCASHPAYOUT_FORMULA_CONFIG 
		WHERE  MIT_ID=@MIT_ID AND SCHEME_ID=@SCHEME_ID ORDER BY NFC_ID DESC 	   
		PRINT @NFCNEW_ID
				
		IF(UPPER(@ACTION)='ADD')
		BEGIN		
				
			IF ( SELECT isnull(COUNT(FORMULA_NAME),0) FROM NETCASHPAYOUT_FORMULA_CONFIG WHERE MIT_ID = @MIT_ID AND FORMULA_NAME=@FORMULA_NAME )=0 
			BEGIN
			INSERT INTO NETCASHPAYOUT_FORMULA_CONFIG (MIT_ID, SCHEME_ID, FORMULA_NAME,  FORMULA_DESCRIPTION, APPLICABLE_FROM_DATE, APPLICABLE_TO_DATE, CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON)		
			VALUES(@MIT_ID, @SCHEME_ID, @FORMULA_NAME, @FORMULA_DESCRIPTION,  @APPLICABLE_FROM_DATE, @APPLICABLE_TO_DATE, @CREATED_BY, GETDATE(), @CREATED_BY, GETDATE())
							
			If(@@ROWCOUNT > 0)
			BEGIN						
				SELECT @@IDENTITY AS NFC_ID ,'Record Inserted Successfully.'	AS Msg 			
				UPDATE NETCASHPAYOUT_FORMULA_CONFIG SET APPLICABLE_TO_DATE = DATEADD(DAY,-1,@APPLICABLE_FROM_DATE) WHERE NFC_ID = @NFCNEW_ID AND MIT_ID=@MIT_ID	AND SCHEME_ID=@SCHEME_ID			
			END
			ELSE
			BEGIN				
				SELECT '0' AS NFC_ID ,'Record insertion failed'	AS Msg	
			
			END
			END
			ELSE
			BEGIN				
				SELECT '0' AS NFC_ID ,'Formula Name Is Duplicate'	AS Msg	
			END
		
		END
		ELSE IF(UPPER(@ACTION)='UPDATE')
		BEGIN	
				UPDATE NETCASHPAYOUT_FORMULA_CONFIG 
				SET FORMULA_NAME = @FORMULA_NAME, FORMULA_DESCRIPTION = @FORMULA_DESCRIPTION,  APPLICABLE_FROM_DATE = @APPLICABLE_FROM_DATE--, APPLICABLE_TO_DATE = @APPLICABLE_TO_DATE
				WHERE  NFC_ID = @NFC_ID	
				
				If(@@ROWCOUNT > 0)
				BEGIN		
					SELECT @NFC_ID AS NFC_ID ,'Record Updated Successfully.'	AS Msg					
				END
				
		END
		ELSE IF(UPPER(@ACTION)='GET')
		BEGIN		      
				
				SELECT NFC_ID, FORMULA_NAME, Replace(Replace(FORMULA_DESCRIPTION,'@',''),'�','') AS FORMULA_DESCRIPTION, CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE, CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE, NULL AS FORMULA_CONFIG_TYPE FROM NETCASHPAYOUT_FORMULA_CONFIG
				WHERE MIT_ID = @MIT_ID AND SCHEME_ID = @SCHEME_ID ORDER BY NFC_ID DESC				
				
		END
		
		
		ELSE IF(UPPER(@ACTION)='GET_NETCASHPAYOUT_FORMULAS')
		BEGIN
				SELECT NFC_ID, FORMULA_NAME FROM NETCASHPAYOUT_FORMULA_CONFIG WHERE MIT_ID = @MIT_ID				
		END
		ELSE IF(UPPER(@ACTION)='GET_NETCASHPAYOUTFORMULA_DETAILS')
		BEGIN
			
				SELECT FORMULA_DESCRIPTION,  REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE, FORMULA_NAME FROM NETCASHPAYOUT_FORMULA_CONFIG WHERE NFC_ID = @NFC_ID				
		END
		ELSE IF(UPPER(@ACTION)='FORMULANAMEEXISTORNOT')
		BEGIN		        
		        IF(EXISTS(SELECT NFC_ID FROM NETCASHPAYOUT_FORMULA_CONFIG WHERE FORMULA_NAME = @FORMULA_NAME AND NFC_ID != CASE WHEN ISNULL(@NFC_ID,0) != 0 THEN @NFC_ID ELSE 0 END))
				BEGIN			
					Select 1 as ID ,'Formula Alias Name Already Exists.' as Msg	
				END
		END
		ELSE IF(UPPER(@ACTION)='GET_EXISTING_FORMULA_DETAILS_FOR_EDIT')
		BEGIN
				
				SELECT TOP 1 NFC_ID, FORMULA_NAME,  FORMULA_DESCRIPTION, REPLACE(CONVERT(NVARCHAR(15), APPLICABLE_FROM_DATE, 106),' ','/') AS APPLICABLE_FROM_DATE FROM NETCASHPAYOUT_FORMULA_CONFIG
				WHERE SCHEME_ID = @SCHEME_ID AND MIT_ID = @MIT_ID  ORDER BY NFC_ID desc
				
		END
		
	END TRY
	BEGIN CATCH	
		RETURN 0
	END CATCH
	
	SET NOCOUNT OFF;
END
GO
