/****** Object:  StoredProcedure [dbo].[PROC_SAVE_RECALCULATE_PREVESTING_DETAILS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SAVE_RECALCULATE_PREVESTING_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SAVE_RECALCULATE_PREVESTING_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SAVE_RECALCULATE_PREVESTING_DETAILS] 

AS  
BEGIN   
  
 SET NOCOUNT ON;  
  
 DECLARE  
  @CompanyID VARCHAR(20), @IsPaymentModeRequired TINYINT, @PaymentModeEffectiveDate DATE, @FaceVaue NUMERIC(18, 2),   
  @SARFMV NUMERIC(18, 2), @IsSingleModeEnabled BIT, @Payment_Mode CHAR(1), @CalculateDays VARCHAR(20), @DaysOut VARCHAR(20),   
  @FBTemployeetravelledYN VARCHAR(20), @FBTPayBy VARCHAR(20), @RoundupPlace_TaxableVal VARCHAR(5),   
  @RoundingParam_TaxableVal VARCHAR(5), @RoundingParam_FMV VARCHAR(5), @RoundupPlace_FMV VARCHAR(5), @ExerciseId NUMERIC(18,0),  
  @TRANSACTION_SUCCESSFUL INT = 0  
    
 SELECT @CompanyID = CompanyID FROM CompanyParameters  
   
 BEGIN /* CREATE TEMP TABLE */  
   
		CREATE TABLE #TEMP_AUTO_EXERCISED_DETAILS  
		(     
			ExerciseId INT, ROW_ID BIGINT, ID BIGINT, ApprovalId NVARCHAR(100), SchemeId NVARCHAR(100), GrantApprovalId NVARCHAR(100),   
			GrantRegistrationId NVARCHAR(100), GrantOptionId NVARCHAR(100), GrantLegId NVARCHAR(10), [Counter] NVARCHAR(10), VestingType NVARCHAR(2),   
			GrantedQuantity NUMERIC(18,0), SplitQuantity NUMERIC(18,0), BonusSplitQuantity NUMERIC(18,0), Parent NVARCHAR(2),   
			FinalVestingDate DATETIME, FinalExpirayDate DATETIME, ExercisePrice NUMERIC(18,6), GrantDate DATETIME, LockInPeriodStartsFrom NVARCHAR(2),   
			LockInPeriod NUMERIC(18,0), OptionRatioMultiplier NUMERIC(18,2), OptionRatioDivisor NUMERIC(18,2), SchemeTitle NVARCHAR(100),   
			IsPaymentModeRequired NVARCHAR(2), PaymentModeEffectiveDate DATETIME, MIT_ID BIGINT, OptionTimePercentage NUMERIC(18,2),   
			EmployeeId NVARCHAR(100), LoginID NVARCHAR(100), ResidentialStatus NVARCHAR(2), TAX_IDENTIFIER_COUNTRY NVARCHAR(10),   
			A_GrantedQuantity NUMERIC(18,0), A_SplitQuantity NUMERIC(18,0), A_BonusSplitQuantity NUMERIC(18,0),   
			A_ExercisedQuantity NUMERIC(18,0), A_SplitExercisedQuantity NUMERIC(18,0), A_BonusSplitExercisedQuantity NUMERIC(18,0),   
			A_CancelledQuantity NUMERIC(18,0), A_SplitCancelledQuantity NUMERIC(18,0), A_BonusSplitCancelledQuantity NUMERIC(18,0),   
			A_UnapprovedExerciseQuantity NUMERIC(18,0), T_LapsedQuantity NUMERIC(18,0), A_ExercisableQuantity NUMERIC(18,0),   
			EXERCISABLE_QUANTITY NUMERIC(18,0),  
			AEC_ID BIGINT, EXERCISE_ON NVARCHAR(200), EXERCISE_AFTER_DAYS BIGINT, IS_EXCEPTION_ENABLED TINYINT, EXECPTION_FOR NVARCHAR(200),   
			EXECPTION_LIST NVARCHAR(MAX), CALCULATE_TAX NVARCHAR(200), CALCUALTE_TAX_PRIOR_DAYS BIGINT, IS_MAIL_ENABLE TINYINT,   
			MAIL_BEFORE_DAYS BIGINT, MAIL_REMINDER_DAYS BIGINT,   
			FMVPrice NUMERIC(18,6), PerqstValue NUMERIC(18,6), PerqstPayable NUMERIC(18,6), Perq_Tax_rate numeric(18,6),   
			TentativeFMVPrice NUMERIC(18,6), TentativePerqstValue NUMERIC(18,6), TentativePerqstPayable NUMERIC(18,6),   
			TaxFlag CHAR(1), FaceVaue NUMERIC(18, 2), SARFMV NUMERIC(18, 2), ExType VARCHAR(10), Cash VARCHAR(10), PaymentMode VARCHAR,  
			PerPayModeSelected NVARCHAR(5), EXERCISE_DATE DATETIME,  
			StockApprValue NUMERIC(18,6), TentativeStockApprValue NUMERIC(18,6), CashPayoutValue NUMERIC(18,6),   
			TentativeCashPayoutValue NUMERIC(18,6), SettlmentPrice NUMERIC(18,6), TentativeSettlmentPrice NUMERIC(18,6) ,  
			ShareAppriciation NUMERIC(18,6), TentativeShareAppriciation NUMERIC(18,6),ExerciseAmountPayble NUMERIC(18,6), TentativeExerciseAmountPayble NUMERIC(18,6)  
		   ,Old_ShareAriseApprValue  NUMERIC(18,6),CALCUALTE_TAX_PRIOR_DAYS_PREVESTING INT    
  
		)  

		CREATE TABLE #STOCK_APPRECIATION_DETAILS_TEMP_1  
		(  
			ID INT IDENTITY(1,1) NOT NULL,INSTRUMENT_ID BIGINT ,EMPLOYEE_ID  VARCHAR(50),EXERCISE_PRICE NUMERIC(18,9),OPTION_VESTED NUMERIC(18,9),  
			EXERCISE_DATE DATETIME,STOCK_APPRECIATION_VALUE NUMERIC(18,9) NULL,EVENTOFINCIDENCE INT,OPTION_EXERCISED NUMERIC(18,9),GRANTOPTIONID VARCHAR(50) NULL,  
			GRANTDATE  VARCHAR(200) NUll,VESTINGDATE VARCHAR(200) NULL, TAXFLAG CHAR(1),TAXFLAG_HEADER CHAR(1) NULL   
		)  
  
		CREATE TABLE #CASE_1_TAX_CALCULATION_NEW_DATA
		( 
			TAX_HEADING NVARCHAR(50), TAX_RATE FLOAT, RESIDENT_STATUS NVARCHAR(250), TAX_AMOUNT FLOAT, Country NVARCHAR(250),
			[STATE] NVARCHAR(250), BASISOFTAXATION NVARCHAR(250), FMV NVARCHAR(250), TOTAL_PERK_VALUE FLOAT, COUNTRY_ID INT, 
			MIT_ID INT, EmployeeID VARCHAR(50), GRANTOPTIONID VARCHAR(50), VESTING_DATE DATETIME,
			GRANTLEGSERIALNO BIGINT, FROM_DATE DATETIME, TO_DATE DATETIME, TAX_FLAG NCHAR(1), EXERCISE_ID BIGINT
		)
		
  END  
    
	 INSERT INTO #TEMP_AUTO_EXERCISED_DETAILS   
	 (   
	  ExerciseId, ID, ApprovalId, SchemeId, GrantApprovalId, GrantRegistrationId, GrantOptionId, GrantLegId,   
	  [Counter], VestingType, GrantedQuantity, SplitQuantity, BonusSplitQuantity, Parent,   
	  FinalVestingDate, FinalExpirayDate, ExercisePrice, GrantDate, LockInPeriodStartsFrom,   
	  LockInPeriod, OptionRatioMultiplier, OptionRatioDivisor, SchemeTitle, IsPaymentModeRequired,   
	  PaymentModeEffectiveDate, MIT_ID, OptionTimePercentage, EmployeeId, LoginID,  
	  ResidentialStatus, TAX_IDENTIFIER_COUNTRY, A_GrantedQuantity, A_SplitQuantity, A_BonusSplitQuantity,   
	  A_ExercisedQuantity, A_SplitExercisedQuantity, A_BonusSplitExercisedQuantity, A_CancelledQuantity,   
	  A_SplitCancelledQuantity, A_BonusSplitCancelledQuantity, A_UnapprovedExerciseQuantity, T_LapsedQuantity,   
	  A_ExercisableQuantity, EXERCISABLE_QUANTITY,  
	  --AEC_ID, EXERCISE_ON, EXERCISE_AFTER_DAYS, IS_EXCEPTION_ENABLED, EXECPTION_FOR, EXECPTION_LIST,   
	  EXERCISE_DATE ,CALCULATE_TAX, CALCUALTE_TAX_PRIOR_DAYS, CALCUALTE_TAX_PRIOR_DAYS_PREVESTING   
	 )  
	SELECT
		SHE.ExerciseId, GL.ID, GL.ApprovalId, GL.SchemeId, GL.GrantApprovalId, GL.GrantRegistrationId, GL.GrantOptionId, GL.GrantLegId, GL.[Counter], GL.VestingType, 
		GL.GrantedQuantity, GL.SplitQuantity, GL.BonusSplitQuantity, GL.Parent, GL.FinalVestingDate, GL.FinalExpirayDate, GR.ExercisePrice, GR.GrantDate, 
		SC.LockInPeriodStartsFrom, SC.LockInPeriod, SC.OptionRatioMultiplier, SC.OptionRatioDivisor, SC.SchemeTitle, SC.IsPaymentModeRequired, 
		SC.PaymentModeEffectiveDate, SC.MIT_ID, VP.OptionTimePercentage, EMP.EmployeeId, EMP.LoginID, 
		EMP.ResidentialStatus, EMP.TAX_IDENTIFIER_COUNTRY, GL.GrantedQuantity, GL.SplitQuantity, GL.BonusSplitQuantity, 
		SHE.ExercisedQuantity, GL.SplitExercisedQuantity, GL.BonusSplitExercisedQuantity, GL.CancelledQuantity, 
		GL.SplitCancelledQuantity, GL.BonusSplitCancelledQuantity, GL.UnapprovedExerciseQuantity, GL.LapsedQuantity, 
		SHE.ExercisedQuantity, 
		SHE.ExercisedQuantity,SHE.ExerciseDate,SC.CALCULATE_TAX,SC.CALCUALTE_TAX_PRIOR_DAYS,SHE.CALCUALTE_TAX_PRIOR_DAYS_PREVESTING				
	FROM 
		GrantLeg AS GL
		INNER JOIN GrantOptions AS GOP ON GOP.GrantOptionId = GL.GrantOptionId
		INNER JOIN GrantRegistration AS GR ON GR.GrantRegistrationId = GL.GrantRegistrationId
		INNER JOIN Scheme AS SC ON SC.SchemeId = GL.SchemeId
		INNER JOIN VestingPeriod AS VP ON VP.VestingPeriodId = GL.VestingPeriodId
		INNER JOIN EmployeeMaster AS EMP ON EMP.EmployeeID = GOP.EmployeeId
		INNER JOIN ShExercisedOptions SHE ON GL.ID=SHE.GrantLegSerialNumber
	WHERE
		ISNULL(SHE.IsAutoExercised,0)=2 AND ISNULL(IsPrevestExercised,0)=1 AND ( CONVERT(DATE,SHE.ExerciseDate) =CONVERT(DATE,GETDATE())) 
		AND ISNULL(SC.CALCULATE_TAX,'')='rdoTentativeTax' AND ISNULL(SC.CALCUALTE_TAX_PRIOR_DAYS,0)!=ISNULL(SC.CALCUALTE_TAX_PRIOR_DAYS_PREVESTING,0)
		AND (SHE.ExercisedQuantity> 0) AND (EMP.Deleted = 0) 
	ORDER BY GL.ID ASC
   
  
 BEGIN /* ===== CASH ===== */  
   
		UPDATE #TEMP_AUTO_EXERCISED_DETAILS   
		SET Cash =          
		CASE WHEN ExType != '' THEN   
			CASE ExType   
				WHEN 'PUP' THEN 'PUP'  
				WHEN 'ADS' THEN 'ADS'      
			ELSE 'CASH'   
			END  
		ELSE 'CASH'    
		END     
  END      
      
 BEGIN /* ===== FACE VALUE  ===== */  
  
	  SELECT @FaceVaue = MAX(CP.FaceVaue) FROM CompanyParameters CP  
	  UPDATE #TEMP_AUTO_EXERCISED_DETAILS SET FaceVaue = @FaceVaue 
	   
 END  
     
 BEGIN /* ===== CALCULATE FMV ===== */  
   
	  SELECT   
	   @RoundupPlace_TaxableVal = RoundupPlace_TaxableVal, @RoundingParam_TaxableVal = RoundingParam_TaxableVal,   
	   @RoundingParam_FMV = RoundingParam_FMV, @RoundupPlace_FMV = RoundupPlace_FMV   
	  FROM   
	   CompanyParameters  
  
	  DECLARE @FMV_VALUE_TYPE dbo.TYPE_FMV_VALUE  

	  INSERT INTO @FMV_VALUE_TYPE   
	  SELECT   
	   MIT_ID , LoginID, GrantOptionId , GrantDate, FinalVestingDate, EXERCISE_DATE ,'T'  
	  FROM   
	   #TEMP_AUTO_EXERCISED_DETAILS  
    
	  EXEC PROC_GET_FMV_VALUE @EMPLOYEE_DETAILS = @FMV_VALUE_TYPE
     
	  UPDATE TAED SET   
		 TAED.FMVPrice = CASE TFD.TAXFLAG WHEN 'A' THEN dbo.FN_ROUND_VALUE(TFD.FMV_VALUE, @RoundingParam_FMV, @RoundupPlace_FMV) ELSE NULL END,  
		 TAED.TentativeFMVPrice = CASE TFD.TAXFLAG WHEN 'T' THEN dbo.FN_ROUND_VALUE(TFD.FMV_VALUE, @RoundingParam_FMV, @RoundupPlace_FMV) ELSE NULL END,         
		 TAED.TaxFlag = TFD.TAXFLAG  
	  FROM #TEMP_AUTO_EXERCISED_DETAILS AS TAED  
	  INNER JOIN TEMP_FMV_DETAILS TFD ON TFD.INSTRUMENT_ID = TAED.MIT_ID  
	  WHERE  
	   (TFD.EMPLOYEE_ID = TAED.EmployeeId) AND (TFD.GRANTOPTIONID = TAED.GrantOptionId)   
	   AND (CONVERT(DATE, TFD.GRANTDATE) = CONVERT(DATE, TAED.GrantDate)) AND (CONVERT(DATE, TFD.VESTINGDATE) = CONVERT(DATE, TAED.FinalVestingDate))   
	   AND (CONVERT(DATE, TFD.EXERCISE_DATE) =  CONVERT(DATE, TAED.EXERCISE_DATE))    
        
 END    
     
 BEGIN /* ===== CALCULATE PERQUISITE VALUE ===== */  
      
	CREATE TABLE #TEMP_FMV_DETAILS  
	(    
		ID INT NOT NULL, INSTRUMENT_ID BIGINT, EMPLOYEE_ID  VARCHAR(50), GRANTOPTIONID VARCHAR(50), GRANTDATE VARCHAR(200),  
		VESTINGDATE VARCHAR(200), EXERCISE_DATE DATETIME,FMV_VALUE DECIMAL(18,4) NULL,TAXFLAG CHAR(1) NULL,TAXFLAG_HEADER CHAR(1) NULL  
	)  
    
	INSERT INTO #TEMP_FMV_DETAILS (ID ,INSTRUMENT_ID ,EMPLOYEE_ID  ,GRANTOPTIONID ,GRANTDATE,VESTINGDATE,EXERCISE_DATE ,FMV_VALUE ,TAXFLAG )  
	SELECT ID,INSTRUMENT_ID ,EMPLOYEE_ID  ,GRANTOPTIONID ,GRANTDATE,VESTINGDATE,EXERCISE_DATE ,FMV_VALUE ,TAXFLAG   FROM TEMP_FMV_DETAILS  
  
	DECLARE @PERQ_VALUE_TYPE dbo.TYPE_PERQ_VALUE  
    
	INSERT INTO @PERQ_VALUE_TYPE   
	SELECT   
	MIT_ID, LoginID, ExercisePrice, EXERCISABLE_QUANTITY, CASE TAXFLAG WHEN 'A' THEN FMVPrice ELSE TentativeFMVPrice END,   
	EXERCISABLE_QUANTITY, A_GrantedQuantity , EXERCISE_DATE, GrantOptionId, GrantDate, FinalVestingDate, ID, NULL, NULL, ExerciseId    
	FROM   
	#TEMP_AUTO_EXERCISED_DETAILS  
      
	EXEC PROC_GET_PERQUISITE_VALUE @EMPLOYEE_DETAILS = @PERQ_VALUE_TYPE   

	UPDATE TAED SET   
	TAED.TentativePerqstValue = CASE TAED.TAXFLAG WHEN 'T' THEN dbo.FN_ROUND_VALUE(TPD.PERQ_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) ELSE NULL END,  
	TAED.TentativePerqstPayable = CASE TAED.TAXFLAG WHEN 'T' THEN (SELECT dbo.FN_ROUND_VALUE(SUM(CONVERT(NUMERIC(18,6), TAX_AMOUNT)), @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) AS TAX_AMOUNT FROM FN_GET_TENTATIVE_TAX (TAED.MIT_ID, TAED.EmployeeId, TAED.FMVPrice, dbo.FN_ROUND_VALUE(TPD.PERQ_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal), TPD.EVENTOFINCIDENCE, CONVERT(date, TAED.GrantDate), CONVERT(date, TAED.FinalVestingDate), CONVERT(date, TPD.EXERCISE_DATE))) ELSE NULL END ,
	TAED.TentativeExerciseAmountPayble = CASE TAED.TAXFLAG WHEN 'A' THEN EXERCISE_AMOUNT_PAYABLE ELSE NULL END,
	TAED.ExerciseAmountPayble = CASE TAED.TAXFLAG WHEN 'A' THEN EXERCISE_AMOUNT_PAYABLE ELSE NULL END,
	TAED.ShareAppriciation =   
					CASE TAED.TAXFLAG WHEN 'A' THEN              
					CASE WHEN (SH.ROUNDING_UP IS NULL and SH.FRACTION_PAID_CASH IS NULL)  THEN  ISNULL(CEILING( dbo.FN_ROUND_VALUE(TPD.SHARE_APPRECIATION_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal)),0)          
					WHEN (SH.ROUNDING_UP = 1) THEN ISNULL(CEILING( dbo.FN_ROUND_VALUE(TPD.SHARE_APPRECIATION_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal)),0)                 
					WHEN SH.ROUNDING_UP = 0  THEN ISNULL(FLOOR(  dbo.FN_ROUND_VALUE(TPD.SHARE_APPRECIATION_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal)),0)         
					ELSE ISNULL(TPD.SHARE_APPRECIATION_VALUE,0) END  
					ELSE NULL END ,  
               
	TAED.TentativeShareAppriciation =  
					CASE TAED.TAXFLAG WHEN 'T' THEN              
					CASE WHEN (SH.ROUNDING_UP IS NULL and SH.FRACTION_PAID_CASH IS NULL)  THEN  ISNULL(CEILING( dbo.FN_ROUND_VALUE(TPD.SHARE_APPRECIATION_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal)),0)          
					WHEN (SH.ROUNDING_UP = 1) THEN ISNULL(CEILING( dbo.FN_ROUND_VALUE(TPD.SHARE_APPRECIATION_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal)),0)                 
					WHEN SH.ROUNDING_UP = 0  THEN ISNULL(FLOOR(  dbo.FN_ROUND_VALUE(TPD.SHARE_APPRECIATION_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal)),0)         
					ELSE ISNULL(TPD.SHARE_APPRECIATION_VALUE,0) END  
					ELSE NULL END ,TAED.Old_ShareAriseApprValue = dbo.[FN_GET_DECIMAL_SETTING_SHARE_VALUE]( TPD.SHARE_APPRECIATION_VALUE)    
  
	FROM   
	#TEMP_AUTO_EXERCISED_DETAILS AS TAED  
	INNER JOIN TEMP_PERQUISITE_DETAILS TPD ON TPD.INSTRUMENT_ID = TAED.MIT_ID   
	INNER JOIN  Scheme as SH on SH.SchemeId = TAED.SchemeId  
	WHERE   
	(TPD.EMPLOYEE_ID = TAED.EmployeeId) AND (TPD.EXERCISE_PRICE = TAED.ExercisePrice) AND   
	(TPD.OPTION_VESTED = TAED.EXERCISABLE_QUANTITY) AND (TPD.OPTION_EXERCISED = TAED.EXERCISABLE_QUANTITY) AND   
	(TPD.GRANTED_OPTIONS = TAED.A_GrantedQuantity) AND (CONVERT(DATE, TPD.EXERCISE_DATE) = CONVERT(DATE, TAED.EXERCISE_DATE)) AND   
	(TPD.GRANTOPTIONID = TAED.GrantOptionId) AND (CONVERT(DATE, TPD.GRANTDATE) = CONVERT(DATE, TAED.GrantDate)) AND   
	CONVERT(DATE, TPD.VESTINGDATE) = CONVERT(DATE, TAED.FinalVestingDate)  
  
  /* ADD DATA TO TYPE */  
  DECLARE @PERQ_VALUE_RESULT dbo.TYPE_PERQ_FORAUTOEXERCISE  
    
  INSERT INTO @PERQ_VALUE_RESULT  
  SELECT   
   INSTRUMENT_ID, EMPLOYEE_ID, FMV_VALUE, PERQ_VALUE, EVENTOFINCIDENCE, GRANTDATE, VESTINGDATE,   
   EXERCISE_DATE, GRANTOPTIONID, GRANTLEGSERIALNO, TEMP_EXERCISEID,STOCK_VALUE         
  FROM   
   TEMP_PERQUISITE_DETAILS  
    
  IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_PERQUISITE_DETAILS')  
  BEGIN  
   DROP TABLE TEMP_PERQUISITE_DETAILS    
  END  
 END  
   
	BEGIN /* ===== CALCULATE PROPORTIONATE TAX ===== */  
      
		CREATE TABLE #TAX_CALCULATION   
		(   
		TAX_HEADING NVARCHAR(50), TAX_RATE FLOAT, RESIDENT_STATUS NVARCHAR(250), TAX_AMOUNT FLOAT, Country NVARCHAR(250),  
		[STATE] NVARCHAR(250), BASISOFTAXATION NVARCHAR(250), FMV NVARCHAR(250), TOTAL_PERK_VALUE FLOAT, COUNTRY_ID INT,   
		MIT_ID INT, EmployeeID VARCHAR(50), GRANTOPTIONID VARCHAR(50), VESTING_DATE DATETIME,  
		GRANTLEGSERIALNO BIGINT, FROM_DATE DATETIME, TO_DATE DATETIME, TAX_FLAG NCHAR(1), EXERCISE_ID BIGINT  
		)  

		DECLARE @PERQ_VALUE_TYPE_AUTO_EXE dbo.TYPE_PERQ_VALUE_AUTO_EXE  
    
		INSERT INTO @PERQ_VALUE_TYPE_AUTO_EXE   
		SELECT   
		MIT_ID, LoginID, ExercisePrice, EXERCISABLE_QUANTITY, CASE TAXFLAG WHEN 'A' THEN FMVPrice ELSE TentativeFMVPrice END,   
		EXERCISABLE_QUANTITY, A_GrantedQuantity, EXERCISE_DATE, GrantOptionId, GrantDate, FinalVestingDate, ID, NULL, NULL, ExerciseId  
		FROM   
		#TEMP_AUTO_EXERCISED_DETAILS  
    
		EXEC PROC_GET_TAXFORAUTOEXERCISE @PERQ_DETAILS = @PERQ_VALUE_TYPE_AUTO_EXE, @PERQ_RESULT = @PERQ_VALUE_RESULT, @ISTEMPLATE = 1  

	END    
    
	INSERT INTO #TAX_CALCULATION  
	(  
		TAX_HEADING, TAX_RATE, RESIDENT_STATUS, TAX_AMOUNT, Country, [STATE], BASISOFTAXATION, FMV, TOTAL_PERK_VALUE, COUNTRY_ID,   
		MIT_ID, EmployeeID, GRANTOPTIONID, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE, EXERCISE_ID   
	)  
	SELECT   
		TGTD.TAX_HEADING, TGTD.TAX_RATE, TGTD.RESIDENT_STATUS, TGTD.TAX_AMOUNT, TGTD.Country, TGTD.[STATE],   
		TGTD.BASISOFTAXATION, TGTD.FMV, TGTD.TOTAL_PERK_VALUE, TGTD.COUNTRY_ID, TGTD.MIT_ID, TGTD.EmployeeID, TGTD.GRANTOPTIONID,   
		TGTD.VESTING_DATE, TGTD.GRANTLEGSERIALNO, TGTD.FROM_DATE, TGTD.TO_DATE, TGTD.TEMP_EXERCISEID    
	FROM   
	TEMP_GET_TAXDETAILS AS TGTD       
    
  /* UPDATE TAX FLAG */  
	UPDATE   
		TC SET TC.TAX_FLAG = TFD.TAXFLAG  
	FROM #TAX_CALCULATION AS TC  
	INNER JOIN #TEMP_FMV_DETAILS AS TFD ON TC.MIT_ID = TFD.INSTRUMENT_ID  
	WHERE  
	TC.EmployeeID = TFD.EMPLOYEE_ID AND TC.GRANTOPTIONID = TFD.GRANTOPTIONID AND CONVERT(DATE,TC.VESTING_DATE) =  CONVERT(DATE,TFD.VESTINGDATE)  
    
	SELECT  
		TAX_HEADING, TAX_RATE, RESIDENT_STATUS , TAX_AMOUNT, Country, [STATE], BASISOFTAXATION, FMV, TOTAL_PERK_VALUE, COUNTRY_ID ,   
		MIT_ID, EmployeeID, GRANTOPTIONID, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE, TAX_FLAG, EXERCISE_ID  
	FROM   
	#TAX_CALCULATION  
   
   /* Insert and Get New Tax rate data*/
   INSERT INTO #CASE_1_TAX_CALCULATION_NEW_DATA
	(
		TAX_HEADING, TAX_RATE, RESIDENT_STATUS, TAX_AMOUNT, Country, [STATE], BASISOFTAXATION, FMV, TOTAL_PERK_VALUE, COUNTRY_ID, 
		MIT_ID, EmployeeID, GRANTOPTIONID, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE, TAX_FLAG, EXERCISE_ID  
	)
	SELECT
		TAX_HEADING, TAX_RATE, RESIDENT_STATUS, TAX_AMOUNT, Country, [STATE], BASISOFTAXATION, FMV, TOTAL_PERK_VALUE, COUNTRY_ID, 
		MIT_ID, EmployeeID, GRANTOPTIONID, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE, TAX_FLAG, EXERCISE_ID
	FROM #TAX_CALCULATION
					
	DELETE 
		C1TCND 
	FROM
	#CASE_1_TAX_CALCULATION_NEW_DATA AS C1TCND
	INNER JOIN EXERCISE_TAXRATE_DETAILS AS ETD ON ETD.GRANTLEGSERIALNO = C1TCND.GRANTLEGSERIALNO					
	WHERE 
	(ETD.EXERCISE_NO = C1TCND.EXERCISE_ID) AND (ETD.COUNTRY_ID = C1TCND.COUNTRY_ID) AND
	(UPPER(ETD.Tax_Title)=UPPER(C1TCND.TAX_HEADING)) AND (C1TCND.GRANTLEGSERIALNO IS NOT NULL)	AND						
	(CONVERT(DATE,ISNULL( ETD.FROM_DATE,'')) = CONVERT(DATE,ISNULL(C1TCND.FROM_DATE,'')))
	

  IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_FMV_DETAILS')  
  BEGIN  
   DROP TABLE TEMP_FMV_DETAILS  
  END  
 END     
     
 BEGIN /* ===== UPDATE PERQ PAYABLE IN SH EXERCISE FOR AUTO EXERCISE ===== */  
     
  CREATE TABLE #TEMP_TAX_PAYBLE   
  (   
   EXERCISE_ID BIGINT, TAX_FLAG NCHAR(1), Perq_Tax_rate NUMERIC(18,6),   
   PerqstPayable NUMERIC(18,6), TentativePerqstPayable NUMERIC(18,6)  
  )  
    
  INSERT INTO #TEMP_TAX_PAYBLE  
  (  
   EXERCISE_ID, TAX_FLAG, Perq_Tax_rate, PerqstPayable, TentativePerqstPayable  
  )  
  SELECT  
   EXERCISE_ID, TAX_FLAG, SUM(TAX_RATE),  
   CASE WHEN TAX_FLAG = 'A' THEN SUM(TAX_AMOUNT) ELSE NULL END AS PaybleTax,  
   CASE WHEN TAX_FLAG ='T' THEN SUM(TAX_AMOUNT) ELSE NULL END AS TentativePaybleTax        
  FROM   
   #TAX_CALCULATION   
  GROUP BY EXERCISE_ID, TAX_FLAG  
            
  UPDATE TAED SET   
   TAED.Perq_Tax_rate = (SELECT dbo.FN_PQ_TAX_ROUNDING(TTP.Perq_Tax_rate)),   
   TAED.TentativePerqstPayable = TTP.TentativePerqstPayable,   
   TAED.PerqstPayable = TTP.PerqstPayable  
  FROM   
   #TEMP_AUTO_EXERCISED_DETAILS AS TAED   
  INNER JOIN #TEMP_TAX_PAYBLE TTP ON TAED.ExerciseId = TTP.EXERCISE_ID       
 END       
   
  BEGIN /* ===== SAR CALCULATION ===== */  
   
  DECLARE @SAR_SETTLEMENT_PRICE dbo.TYPE_SAR_SETTLEMENT_PRICE   
    
  INSERT INTO @SAR_SETTLEMENT_PRICE   
  SELECT   
   TAED.MIT_ID, TAED.EmployeeId, TAED.GrantDate, TAED.FinalVestingDate, TAED.EXERCISE_DATE, TAED.ExercisePrice,   
   TAED.SchemeId, TAED.GrantOptionId  
  FROM   
   #TEMP_AUTO_EXERCISED_DETAILS AS TAED  
   INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = TAED.MIT_ID  
  WHERE   
   (MIT.IS_SAR_ENABLED = 1) AND (MIT.IS_ACTIVE = 1)  
    
  EXEC PROC_GET_SAR_SETTELEMENT_PRICCE @EMPLOYEE_SAR_DETAILS = @SAR_SETTLEMENT_PRICE  
    
  /* UPDATE SAR SETTLEMENT PRICES */  
  UPDATE TAED SET   
   TAED.SettlmentPrice = CASE TSSFD.TAXFLAG WHEN 'A' THEN dbo.FN_ROUND_VALUE(TSSFD.SAR_SETTLEMENT_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) ELSE NULL END,  
   TAED.TentativeSettlmentPrice = CASE TSSFD.TAXFLAG WHEN 'T' THEN dbo.FN_ROUND_VALUE(TSSFD.SAR_SETTLEMENT_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) ELSE NULL END     
  FROM   
   #TEMP_AUTO_EXERCISED_DETAILS AS TAED  
   INNER JOIN TEMP_SAR_SETTLEMENT_FINAL_DETAILS AS TSSFD ON TSSFD.INSTRUMENT_ID = TAED.MIT_ID   
  WHERE   
   (TSSFD.EMPLOYEE_ID = TAED.EmployeeId) AND (CONVERT(DATE, TSSFD.EXERCISE_DATE) = CONVERT(DATE, TAED.EXERCISE_DATE)) AND   
   (TSSFD.GRANTOPTIONID = TAED.GrantOptionId) AND (CONVERT(DATE, TSSFD.GRANTDATE) = CONVERT(DATE, TAED.GrantDate)) AND   
   (CONVERT(DATE, TSSFD.VESTINGDATE) = CONVERT(DATE, TAED.FinalVestingDate))   
    
  DECLARE @SAR_STOCK_APPRECIATION dbo.TYPE_SAR_STOCK_APPRECIATION   
    
  INSERT INTO @SAR_STOCK_APPRECIATION   
  SELECT   
   TAED.MIT_ID, TAED.EmployeeId, TAED.ExercisePrice, TAED.A_ExercisableQuantity, TAED.EXERCISABLE_QUANTITY,   
   TAED.EXERCISE_DATE, TAED.GrantOptionId, TAED.GrantDate, TAED.FinalVestingDate  
  FROM   
   #TEMP_AUTO_EXERCISED_DETAILS AS TAED  
   INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = TAED.MIT_ID  
  WHERE (MIT.IS_SAR_ENABLED = 1) AND (MIT.IS_ACTIVE = 1)  
  IF EXISTS (SELECT COUNT(*) from @SAR_STOCK_APPRECIATION)  
  BEGIN  
  
  EXEC PROC_GET_SAR_STOCK_APPRECIATION @EMPLOYEE_SAR_APPRECIATION = @SAR_STOCK_APPRECIATION  
    
  INSERT INTO #STOCK_APPRECIATION_DETAILS_TEMP_1  
  (  
   INSTRUMENT_ID, EMPLOYEE_ID,EXERCISE_PRICE ,OPTION_VESTED,EXERCISE_DATE,EVENTOFINCIDENCE,OPTION_EXERCISED,GRANTOPTIONID, GRANTDATE ,VESTINGDATE,  
   STOCK_APPRECIATION_VALUE,TAXFLAG,TAXFLAG_HEADER   
  )    
  SELECT INSTRUMENT_ID, EMPLOYEE_ID, EXERCISE_PRICE, OPTION_VESTED, EXERCISE_DATE, EVENTOFINCIDENCE,OPTION_EXERCISED,  
   GRANTOPTIONID, GRANTDATE, VESTINGDATE,ISNULL( STOCK_APPRECIATION_VALUE,0),TAXFLAG,TAXFLAG_HEADER FROM TEMP_STOCK_APPRECIATION_DETAILS  
  
  /* UPDATE SAR STOCK APPRECIATION PRICES */  
    
  UPDATE TAED SET   
   TAED.StockApprValue = CASE TSAD.TAXFLAG WHEN 'A' THEN dbo.FN_ROUND_VALUE(TSAD.STOCK_APPRECIATION_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) ELSE NULL END,  
   TAED.TentativeStockApprValue = CASE TSAD.TAXFLAG WHEN 'T' THEN dbo.FN_ROUND_VALUE(TSAD.STOCK_APPRECIATION_VALUE, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal) ELSE NULL END     
  FROM   
   #TEMP_AUTO_EXERCISED_DETAILS AS TAED  
   INNER JOIN #STOCK_APPRECIATION_DETAILS_TEMP_1 AS TSAD ON TSAD.INSTRUMENT_ID = TAED.MIT_ID   
  WHERE   
   (TSAD.EMPLOYEE_ID = TAED.EmployeeId) AND (TSAD.OPTION_VESTED = TAED.EXERCISABLE_QUANTITY) AND   
   (TSAD.OPTION_EXERCISED = TAED.EXERCISABLE_QUANTITY) AND   
   (CONVERT(DATE, TSAD.EXERCISE_DATE) = CONVERT(DATE, TAED.EXERCISE_DATE)) AND (TSAD.GRANTOPTIONID = TAED.GrantOptionId) AND   
   (CONVERT(DATE, TSAD.GRANTDATE) = CONVERT(DATE, TAED.GrantDate)) AND (CONVERT(DATE, TSAD.VESTINGDATE) = CONVERT(DATE, TAED.FinalVestingDate))   
   
  UPDATE TAED SET  
   TAED.CashPayoutValue =  
     
   CASE WHEN TAED.MIT_ID = 6 THEN       
        
      CASE  
      WHEN (SH.ROUNDING_UP IS NULL and SH.FRACTION_PAID_CASH IS NULL)  THEN 0         
         WHEN (SH.ROUNDING_UP = 1) THEN 0         
         WHEN SH.ROUNDING_UP = 0  THEN CASE WHEN  SH.FRACTION_PAID_CASH = 1 THEN  
       (ISNULL(TAED.SettlmentPrice,0) - ISNULL(TAED.ExercisePrice,0)) * (ISNULL(TAED.Old_ShareAriseApprValue,0) -  ISNULL(FLOOR(TAED.Old_ShareAriseApprValue),0))  
        ELSE 0 END END    
        ELSE ISNULL(TAED.StockApprValue,0) - ISNULL(TAED.PerqstPayable,0) END   
   
   ,TAED.TentativeCashPayoutValue =   
   CASE WHEN TAED.MIT_ID = 6 THEN       
        
      CASE  
      WHEN (SH.ROUNDING_UP IS NULL and SH.FRACTION_PAID_CASH IS NULL)  THEN 0         
         WHEN (SH.ROUNDING_UP = 1) THEN 0         
         WHEN SH.ROUNDING_UP = 0  THEN CASE WHEN  SH.FRACTION_PAID_CASH = 1 THEN  
       (ISNULL(TAED.SettlmentPrice,0) - ISNULL(TAED.ExercisePrice,0)) * (ISNULL(TAED.Old_ShareAriseApprValue,0) -  ISNULL(FLOOR(TAED.Old_ShareAriseApprValue),0))  
        ELSE 0 END END  
    
      ELSE ISNULL(TAED.TentativeStockApprValue,0) - ISNULL(TAED.TentativePerqstPayable,0) END   
  FROM   
   #TEMP_AUTO_EXERCISED_DETAILS AS TAED  
   INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = TAED.MIT_ID  
   INNER JOIN  Scheme as SH on SH.SchemeId = TAED.SchemeId  
  WHERE   
   (MIT.IS_SAR_ENABLED = 1) AND (MIT.IS_ACTIVE = 1)  
  
  END  
  IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_SAR_SETTLEMENT_FINAL_DETAILS')  
  BEGIN  
   DROP TABLE TEMP_SAR_SETTLEMENT_FINAL_DETAILS  
  END  
    
 END 

	BEGIN /* ===== UPDATE INTO SHEXERCISEOPTIONS TABLE ===== */  
  
		UPDATE SHE
		SET 
		SHE.TentativeFMVPrice=TAE.TentativeFMVPrice,
		SHE.TentativePerqstValue=TAE.TentativePerqstValue,
		SHE.TentativePerqstPayable=TAE.TentativePerqstPayable,
		SHE.CALCULATE_TAX=TAE.CALCULATE_TAX,
		SHE.CALCUALTE_TAX_PRIOR_DAYS=TAE.CALCUALTE_TAX_PRIOR_DAYS,
		SHE.LastUpdatedBy='ADMIN',
		SHE.LastUpdatedOn=GETDATE()
		FROM ShExercisedOptions SHE
		INNER JOIN  #TEMP_AUTO_EXERCISED_DETAILS TAE ON SHE.ExerciseId=TAE.ExerciseId
    
	END    
    
  --/* UPDATE IN TAX TABLE */  
	BEGIN  
	-- UPDATE DETAILS IN EXERCISE_TAXRATE_DETAILS
			UPDATE ETD SET
			ETD.FMVVALUE = CASE WHEN TC.TAX_FLAG = 'A' THEN TC.FMV  ELSE NULL END,
			ETD.TENTATIVEFMVVALUE = CASE WHEN TC.TAX_FLAG = 'T' THEN TC.FMV  ELSE NULL END,
			ETD.TAX_AMOUNT = CASE WHEN TC.TAX_FLAG = 'A' THEN TC.TAX_AMOUNT ELSE NULL END, 
			ETD.TENTATIVETAXAMOUNT = CASE WHEN TC.TAX_FLAG = 'T' THEN TC.TAX_AMOUNT ELSE NULL END,
			ETD.PERQVALUE = CASE WHEN TC.TAX_FLAG = 'A' THEN TC.TOTAL_PERK_VALUE ELSE NULL END,
			ETD.TENTATIVEPERQVALUE = CASE WHEN TC.TAX_FLAG = 'T' THEN TC.TOTAL_PERK_VALUE ELSE NULL END,
			UPDATED_BY = 'ADMIN', UPDATED_ON = GETDATE()
			FROM 
			EXERCISE_TAXRATE_DETAILS AS ETD
			INNER JOIN #TAX_CALCULATION AS TC ON ETD.GRANTLEGSERIALNO = TC.GRANTLEGSERIALNO					
			WHERE 
			(ETD.EXERCISE_NO = TC.EXERCISE_ID) AND (ETD.COUNTRY_ID = TC.COUNTRY_ID) AND
			(UPPER(ETD.Tax_Title)=UPPER(TC.TAX_HEADING)) AND (TC.GRANTLEGSERIALNO IS NOT NULL) AND
			(CONVERT(DATE,ISNULL( ETD.FROM_DATE,'')) = CONVERT(DATE,ISNULL(TC.FROM_DATE,'')))
					
			/* UPDATE IN TAX TABLE */
			IF((SELECT COUNT(EXERCISE_ID) AS ROW_COUNT FROM #CASE_1_TAX_CALCULATION_NEW_DATA) > 0)
			BEGIN
			INSERT INTO [EXERCISE_TAXRATE_DETAILS]
			(
			EXERCISE_NO, COUNTRY_ID, RESIDENT_ID, Tax_Title, BASISOFTAXATION, TAX_RATE, TAX_AMOUNT, TENTATIVETAXAMOUNT, 
			GRANTLEGSERIALNO, FMVVALUE, TENTATIVEFMVVALUE, PERQVALUE, TENTATIVEPERQVALUE, FROM_DATE, TO_DATE, 
			CREATED_BY, CREATED_ON, UPDATED_BY, UPDATED_ON
			)
			SELECT
			EXERCISE_ID, COUNTRY_ID, RESIDENT_STATUS, TAX_HEADING, BASISOFTAXATION, TAX_RATE, 
			CASE WHEN (UPPER(TAX_FLAG) = 'A') THEN TAX_AMOUNT ELSE NULL END,
				CASE WHEN (UPPER(TAX_FLAG) = 'T') THEN TAX_AMOUNT ELSE NULL END, GRANTLEGSERIALNO, 				
			CASE WHEN (UPPER(TAX_FLAG) = 'A') THEN FMV ELSE NULL END, CASE WHEN (UPPER(TAX_FLAG) = 'T') THEN FMV ELSE NULL END, 
			CASE WHEN (UPPER(TAX_FLAG) = 'A') THEN TOTAL_PERK_VALUE ELSE NULL END, CASE WHEN (UPPER(TAX_FLAG) = 'T') THEN TOTAL_PERK_VALUE ELSE NULL END,
			FROM_DATE, TO_DATE, 'ADMIN', GETDATE(), 'ADMIN', GETDATE()						
			FROM 
			#CASE_1_TAX_CALCULATION_NEW_DATA           
	END

	BEGIN /*UPDATE IF USER ALREADY UPLOADED FORMS*/

			UPDATE SHE
			SET SHE.IS_UPLOAD_EXERCISE_FORM=0,
			SHE.IS_UPLOAD_EXERCISE_FORM_ON=GETDATE(),
			SHE.LastUpdatedBy='ADMIN',
			SHE.LastUpdatedOn=GETDATE()
			FROM ShExercisedOptions SHE
			INNER JOIN  #TEMP_AUTO_EXERCISED_DETAILS TAE ON SHE.ExerciseId=TAE.ExerciseId
			WHERE ISNULL(SHE.IS_UPLOAD_EXERCISE_FORM,0)=1

	END

  
 /* ================ FINAL OUTPUT ================== */  
 SELECT  
  ExerciseId, ID, ApprovalId, SchemeId, GrantApprovalId, GrantRegistrationId, GrantOptionId, GrantLegId, [Counter],   
  VestingType, GrantedQuantity, SplitQuantity, BonusSplitQuantity, Parent, FinalVestingDate, FinalExpirayDate,   
  ExercisePrice, GrantDate, LockInPeriodStartsFrom, LockInPeriod, OptionRatioMultiplier, OptionRatioDivisor, SchemeTitle,   
  IsPaymentModeRequired, PaymentModeEffectiveDate, MIT_ID, OptionTimePercentage,   
  EmployeeId, LoginID, ResidentialStatus, TAX_IDENTIFIER_COUNTRY, A_GrantedQuantity, A_SplitQuantity, A_BonusSplitQuantity,   
  A_ExercisedQuantity, A_SplitExercisedQuantity, A_BonusSplitExercisedQuantity, A_CancelledQuantity,   
  A_SplitCancelledQuantity, A_BonusSplitCancelledQuantity, A_UnapprovedExerciseQuantity, T_LapsedQuantity, A_ExercisableQuantity,   
  EXERCISABLE_QUANTITY,  
  AEC_ID, EXERCISE_ON, EXERCISE_AFTER_DAYS, IS_EXCEPTION_ENABLED, EXECPTION_FOR, EXECPTION_LIST, CALCULATE_TAX,   
  CALCUALTE_TAX_PRIOR_DAYS, IS_MAIL_ENABLE, MAIL_BEFORE_DAYS, MAIL_REMINDER_DAYS,   
  FMVPrice, PerqstValue, PerqstPayable, Perq_Tax_rate, TentativeFMVPrice, TentativePerqstValue, TentativePerqstPayable,   
  TaxFlag, FaceVaue, SARFMV, ExType, Cash, PaymentMode, PerPayModeSelected, EXERCISE_DATE + CAST(GETDATE() AS TIME),  
  StockApprValue, TentativeStockApprValue, CashPayoutValue, TentativeCashPayoutValue, SettlmentPrice, TentativeSettlmentPrice  
  ,ShareAppriciation , TentativeShareAppriciation   
 FROM   
  #TEMP_AUTO_EXERCISED_DETAILS  
    
 DROP TABLE #TEMP_AUTO_EXERCISED_DETAILS  
 DROP TABLE  #TEMP_TAX_PAYBLE  
 DROP table #TEMP_FMV_DETAILS  
     
 SET NOCOUNT OFF;  
 END
GO
