/****** Object:  StoredProcedure [dbo].[PROC_GET_COMPANYINSTRUMENTS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_COMPANYINSTRUMENTS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_COMPANYINSTRUMENTS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_COMPANYINSTRUMENTS]
	
AS
BEGIN
	
	SET NOCOUNT ON;	
					
	SELECT 
		IT.MIT_ID, (CASE WHEN(CIM.INS_DISPLY_NAME = '') THEN IT.INSTRUMENT_NAME ELSE CIM.INS_DISPLY_NAME END) AS 'INSTRUMENT_NAME'
	FROM 
		MST_INSTRUMENT_TYPE IT INNER JOIN 
		COMPANY_INSTRUMENT_MAPPING CIM ON IT.MIT_ID = CIM.MIT_ID
	WHERE 
		CIM.IS_ENABLED = 1
				
	SET NOCOUNT OFF;	
END
GO
