/****** Object:  StoredProcedure [dbo].[PROC_GETSTATELIST]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GETSTATELIST]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GETSTATELIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GETSTATELIST]
(
  @COUNTRY_ID INT
)
AS
BEGIN
	
	SET NOCOUNT ON;

	SELECT MS_ID, STATE_NAME FROM MST_STATES WHERE COUNTRY_ID  = @COUNTRY_ID AND IS_SELECTED = 1
		
	SET NOCOUNT OFF;
END
GO
