/****** Object:  StoredProcedure [dbo].[PROC_GET_AUDIT_COMPANYPARAMETERS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_AUDIT_COMPANYPARAMETERS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_AUDIT_COMPANYPARAMETERS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_AUDIT_COMPANYPARAMETERS]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT
		FORMAT (CAST(PivotTable.PERF_OPT_CAN_TREAT_APP_DT AS datetime), 'MMM dd yyyy hh:mmtt') as PERF_OPT_CAN_TREAT_APP_DT , PivotTable.PERF_OPT_CAN_TREAT_ON, FORMAT (CAST(PivotTable.UNDATED_ON AS datetime), 'MMM dd yyyy HH:mm:sstt') AS UNDATED_ON, PivotTable.UPDATED_BY
	FROM
	(
		SELECT 
			[COLUMN_NAME], [NEW_VALUE], [UPDATED_BY], convert(datetime2(0) , [UNDATED_ON]) as [UNDATED_ON]
        FROM 
			[dbo].[AUDIT_COMPANY_PARAMETERS]
		GROUP BY 
			UNDATED_ON ,UPDATED_BY,COLUMN_NAME,NEW_VALUE
	) AS SourceTable
	 
	
	PIVOT(MAX([NEW_VALUE]) FOR [COLUMN_NAME] IN([PERF_OPT_CAN_TREAT_APP_DT], [PERF_OPT_CAN_TREAT_ON])) AS PivotTable

	WHERE 
		PERF_OPT_CAN_TREAT_APP_DT IS NOT NULL OR PERF_OPT_CAN_TREAT_ON IS NOT NULL
    GROUP BY 
		PERF_OPT_CAN_TREAT_APP_DT, PERF_OPT_CAN_TREAT_ON, UNDATED_ON, UPDATED_BY 
	ORDER BY 
		UNDATED_ON DESC

	SET NOCOUNT OFF;
END
GO
