/****** Object:  StoredProcedure [dbo].[PROC_GET_SCHEMES_LIST]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_SCHEMES_LIST]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_SCHEMES_LIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_SCHEMES_LIST] 
(
	@MIT_ID INT
)
AS
BEGIN
	SET NOCOUNT ON;			
		
	SELECT SCHEMEID,SCHEMETITLE, ISNULL(ROUNDING_UP,1) AS ROUNDING_UP,ISNULL(FRACTION_PAID_CASH,0) AS FRACTION_PAID_CASH FROM SCHEME WHERE MIT_ID = @MIT_ID 

	SET NOCOUNT OFF;	
END
GO
