/****** Object:  StoredProcedure [dbo].[SP_InsertEmpWiseDematSettings]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[SP_InsertEmpWiseDematSettings]
GO
/****** Object:  StoredProcedure [dbo].[SP_InsertEmpWiseDematSettings]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_InsertEmpWiseDematSettings] (@EMPLOYEEID AS VARCHAR(50),@COMPANYID AS VARCHAR(50))
AS

BEGIN

SELECT [ID],[NAME AS IN DP RECORD],
			[NAME OF DEPOSITORY],
			[DEMAT A/C TYPE],
			[NAME OF DEPOSITORY PARTICIPANT],
			[DEPPOSITORY PARTICIPANT ID],
			[CLIENT ID / DEMAT A/C NO.] INTO #TEMP FROM             
    (SELECT * FROM ConfigurePersonalDetails	PIVOT 
		(MAX(CHECK_TOEMP) FOR EMPLOYEEFIELD IN ([NAME AS IN DP RECORD],[NAME OF DEPOSITORY],[DEMAT A/C TYPE],
         [NAME OF DEPOSITORY PARTICIPANT],[DEPPOSITORY PARTICIPANT ID],[CLIENT ID / DEMAT A/C NO.])) AS PVTVAL
		 WHERE ID IN (15,16,17,18,19,20) ) PVTDATA 

	BEGIN TRANSACTION
	IF NOT EXISTS (SELECT EMPLOYEEID FROM DEMATSETTINGS WHERE EMPLOYEEID=@EMPLOYEEID)
		BEGIN
		
		
		UPDATE #Temp SET  [NAME AS IN DP RECORD] = (select TOP 1 [NAME AS IN DP RECORD] from  #Temp WHERE [NAME AS IN DP RECORD] IS NOT NULL)
		UPDATE #Temp SET  [NAME OF DEPOSITORY] = (select TOP 1 [NAME OF DEPOSITORY] from  #Temp WHERE [NAME OF DEPOSITORY] IS NOT NULL)
		UPDATE #Temp SET  [DEMAT A/C TYPE] = (select TOP 1 [DEMAT A/C TYPE] from  #Temp WHERE [DEMAT A/C TYPE] IS NOT NULL)
		UPDATE #Temp SET  [NAME OF DEPOSITORY PARTICIPANT] = (select TOP 1 [NAME OF DEPOSITORY PARTICIPANT] from  #Temp WHERE [NAME OF DEPOSITORY PARTICIPANT] IS NOT NULL)
		UPDATE #Temp SET  [DEPPOSITORY PARTICIPANT ID] = (select TOP 1 [DEPPOSITORY PARTICIPANT ID] from  #Temp WHERE [DEPPOSITORY PARTICIPANT ID] IS NOT NULL)
		UPDATE #Temp SET  [CLIENT ID / DEMAT A/C NO.] = (select TOP 1 [CLIENT ID / DEMAT A/C NO.] from  #Temp WHERE [CLIENT ID / DEMAT A/C NO.] IS NOT NULL)
		
		INSERT INTO DEMATSETTINGS select TOP 1 @EMPLOYEEID,  [NAME AS IN DP RECORD],[NAME OF DEPOSITORY],[DEMAT A/C TYPE], [NAME OF DEPOSITORY PARTICIPANT],[DEPPOSITORY PARTICIPANT ID],[CLIENT ID / DEMAT A/C NO.] from #Temp
		END
		COMMIT TRANSACTION	
				 
	DROP TABLE #TEMP
	
END


GO
