/****** Object:  StoredProcedure [dbo].[PROC_GET_EMPLOYEE_CONSENT_CONFIG]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_EMPLOYEE_CONSENT_CONFIG]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_EMPLOYEE_CONSENT_CONFIG]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_EMPLOYEE_CONSENT_CONFIG] AS
BEGIN 
	IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_EVENT_FOR_CONSENT_ACCEPTANCE')
	BEGIN
		SELECT EEFCA, EventOfConsent, Is_Selected FROM MST_EMP_EVENT_FOR_CONSENT_ACCEPTANCE
	END
	IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_CONSENT_TYPE')
	BEGIN
		SELECT ECT, ConsentType, Is_Selected FROM MST_EMP_CONSENT_TYPE
	END
	IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_CONSENT_SUBTYPE')
	BEGIN
		SELECT ECST, ConsentSubType, Is_Selected FROM MST_EMP_CONSENT_SUBTYPE
	END
	IF EXISTS(SELECT NAME FROM SYS.TABLES WHERE NAME='MST_EMP_CONSENT_SUBTYPE')
	BEGIN
		SELECT EEFCA, ECT,ECST, EU_EmployeeMsg, Non_EUEmployeeMsg, CompanyLevelMsg, Is_Selected FROM MST_EMP_CONSENT_DISCLARATION WHERE Is_Selected = 1
	END
END
GO
