/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_OGA_REQUEST_STATUS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_UPDATE_OGA_REQUEST_STATUS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_UPDATE_OGA_REQUEST_STATUS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_UPDATE_OGA_REQUEST_STATUS]
	@GAMUID	INT
AS
BEGIN
	UPDATE GENERATE_GRANT_LETTER SET ISPROCESSD = 1, ISPROCESSEDON = GETDATE(), UPDATED_BY = 'ADMIN', UPDATED_ON = GETDATE() WHERE GAMUID=@GAMUID
END
GO
