/****** Object:  StoredProcedure [dbo].[PROC_GET_SHARE_APPR_VALUE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_SHARE_APPR_VALUE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_SHARE_APPR_VALUE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_SHARE_APPR_VALUE]
(	
	@SHARE_APPR_TYPE   dbo.TYPE_SHARE_APPR_VALUE READONLY	
)	
AS
BEGIN
	
	SET NOCOUNT ON;		
  
	DECLARE @INSTRUMENT_ID BIGINT, @EMPLOYEE_ID VARCHAR(50), @GRANTOPTIONID VARCHAR(50), @GRANTDATE VARCHAR(200), @VESTINGDATE VARCHAR(200), 
		    @EXERCISEDATE  DATETIME, @MN_VALUE INT, @MX_VALUE INT, @SCHEME_ID NVARCHAR(100), @EXERCISE_PRICE NUMERIC(18, 9), @TransactionDateId INT
		   ,@APPRECIATION_FORMULA VARCHAR(MAX),@SAR_SETTLEMENT_PRICE NUMERIC(18,9),@SARS_EXERCISED NUMERIC(18, 9),@SARS_VESTED NUMERIC(18, 9),@FACE_VALUE NUMERIC(18, 9)
		    ,@SETVALUE VARCHAR(MAX),@MN_ITEM INT ,@MX_ITEM INT,@ITEM VARCHAR (500),@PRICE_DAY VARCHAR (500)
		    ,@INCIDANCE_DATE VARCHAR (500),@TRADING_DAY VARCHAR(500),@INCIDANCE_DATE_VALUE DATETIME,@CLOSING_PRICE  DECIMAL(18,4),@Is_FMVExists INT
		    ,@SET_VALUE VARCHAR (MAX),@NUMER_VALUE VARCHAR(MAX),@APPRECIATION_RESULT NUMERIC(18,9),@FMV_VALUE NUMERIC (18,9)
		    , @Final_sql NVARCHAR(MAX), @Numer_result NUMERIC(18,9),@Ratio_Multiplier BIGINT ,@Ratio_Divisor BIGINT
	CREATE TABLE #TEMP_SHARE_APPR_DETAILS
	(   
	    ID INT IDENTITY(1,1) NOT NULL,
	    INSTRUMENT_ID BIGINT NULL,EMPLOYEE_ID  VARCHAR(50) NULL,GRANTDATE  VARCHAR(200) NULL,VESTINGDATE VARCHAR(200) NULL,
	    EXERCISE_DATE  DATETIME NULL,EXERCISE_PRICE NUMERIC(18,9) NULL,SCHEME_ID NVARCHAR(100) NULL,GRANTOPTIONID NVARCHAR(100) NULL,SAR_SETTLEMENT_PRICE  NUMERIC(18, 9) NULL
	   ,SAR_EXERCISED NUMERIC(18,9) NULL,SARS_VESTED NUMERIC(18,9),FACE_VALUE NUMERIC(18,9),FMV_VALUE NUMERIC(18,9)
	) 
		
	 CREATE TABLE #TEMP_APPRECIATION_FORMULA
     (
		FORMULA_DESC VARCHAR(500)
     )           
         
      CREATE TABLE #TEMP_FORMULA_DATA
     (
		 ITEM_ID INT IDENTITY(1,1) NOT NULL,ITEM VARCHAR(500)
     )   
        
     CREATE TABLE #TEMP_INSERT_DATA
     (
		CLOSINGPRICE NUMERIC(18,9),STOCKEXCHANGE varchar(500)
     )  
    CREATE TABLE #TEMP_APPRECIATION_FINAL_DETAILS
    (  
       APPRID INT IDENTITY(1,1) NOT NULL,INSTRUMENT_ID BIGINT, EMPLOYEE_ID VARCHAR(50), GRANTDATE  VARCHAR(200),
       VESTINGDATE VARCHAR(200), EXERCISE_DATE DATETIME, EXERCISE_PRICE NUMERIC(18,9),SHARE_APPRECIATION_VALUE NUMERIC(18,9)
    ) 
 
    CREATE TABLE #TEMP_SPLIT_FORMULA
    (
		FORMULA_SPLIT_DESC NVARCHAR(MAX)   
    )      	      
         
    INSERT INTO #TEMP_SHARE_APPR_DETAILS 
	(
	   EMPLOYEE_ID ,INSTRUMENT_ID,GRANTDATE,VESTINGDATE,EXERCISE_DATE ,EXERCISE_PRICE          
	  ,SCHEME_ID,GRANTOPTIONID,SAR_SETTLEMENT_PRICE,SAR_EXERCISED ,SARS_VESTED,FACE_VALUE,FMV_VALUE              
	)
	SELECT  
		  EMPLOYEE_ID ,INSTRUMENT_ID,GRANTDATE,VESTINGDATE,EXERCISE_DATE ,EXERCISE_PRICE          
		 ,SCHEME_ID,GRANTOPTIONID,SAR_PRICE ,SARS_EXERCISED,SARS_VESTED,FACE_VALUE, FMV_PRICE            
	FROM 
		@SHARE_APPR_TYPE
			
	BEGIN TRY    
		SELECT @MN_VALUE = MIN(ID ),@MX_VALUE = MAX(ID) FROM #TEMP_SHARE_APPR_DETAILS  	
  
		WHILE(@MN_VALUE <= @MX_VALUE)
		BEGIN
			SELECT 
				@INSTRUMENT_ID = INSTRUMENT_ID, @EMPLOYEE_ID = EMPLOYEE_ID, @GRANTDATE = GRANTDATE, @VESTINGDATE=VESTINGDATE, 
				@EXERCISEDATE = EXERCISE_DATE, @EXERCISE_PRICE = EXERCISE_PRICE, @SCHEME_ID = SCHEME_ID, @GRANTOPTIONID = GRANTOPTIONID,
			   @SAR_SETTLEMENT_PRICE = SAR_SETTLEMENT_PRICE,@SARS_EXERCISED = SAR_EXERCISED,@SARS_VESTED = SARS_VESTED,@FACE_VALUE = FACE_VALUE,@FMV_VALUE = FMV_VALUE
			FROM 
				#TEMP_SHARE_APPR_DETAILS  
			WHERE 
				ID = @MN_VALUE
				
				    
    SELECT @Ratio_Multiplier = OptionRatioMultiplier,@Ratio_Divisor = OptionRatioDivisor FROM Scheme WHERE SchemeId = @SCHEME_ID  
 
				DECLARE @TRANSDATE_ID NVARCHAR(1000),@TRANS_DATE varchar (100)

                   SET @TRANSDATE_ID =
	                (  
	                    SELECT TOP(1) 
								CASE  WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Grant Date')THEN 'Grant Date'
									  WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Vesting Date')THEN 'Vesting Date'	
									  WHEN(DBO.FN_GET_COM_CODE_VALUE(TRANS_DATE_ID) = 'Exercise Date')THEN 'Exercise Date'
							    END AS 'TransactionDate' 
	                    FROM APPERCIATION_FORMULA_CONFIG  AS FFC
										  
	                  WHERE
				                  ((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISEDATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISEDATE)) >=  CONVERT(DATE,@EXERCISEDATE)))  AND FFC.MIT_ID = @INSTRUMENT_ID	                               
		                  ORDER BY FFC.AFC_ID DESC
	                    
					 )  
					
					 	/*Print @TRANSDATE_ID   */
					IF(@TRANSDATE_ID = 'Grant Date')    
							SET  @TRANS_DATE = @GRANTDATE                   
					ELSE IF(@TRANSDATE_ID = 'Vesting Date')    
							 SET  @TRANS_DATE = @VESTINGDATE    
					ELSE IF(@TRANSDATE_ID = 'Exercise Date')     
							 SET  @TRANS_DATE = @EXERCISEDATE
							
					    
				DELETE FROM #TEMP_APPRECIATION_FORMULA
				IF((SELECT COUNT(*) AS NonTradeDay FROM NonTradingDays WHERE CONVERT(DATE,NonTradDay) = CONVERT(DATE,@TRANS_DATE)) > 0)
					BEGIN 					
						 -- FOR NON TRADIND DAY                     			
						INSERT INTO #TEMP_APPRECIATION_FORMULA(FORMULA_DESC)
						SELECT TOP 1 FORMULA_DESCRIPTION
						FROM
						APPERCIATION_FORMULA_CONFIG AS FFC              
						WHERE
						((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISEDATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISEDATE)) >=  CONVERT(DATE,@EXERCISEDATE)))  AND FFC.MIT_ID = @INSTRUMENT_ID	                               
						AND FFC.IS_TRADINGDAYS = 0 And FFC.SCHEME_ID = @SCHEME_ID
						ORDER BY FFC.AFC_ID DESC		
				     END
				     ELSE
				     BEGIN
						INSERT INTO #TEMP_APPRECIATION_FORMULA(FORMULA_DESC)
						SELECT TOP 1 FORMULA_DESCRIPTION
						FROM
						APPERCIATION_FORMULA_CONFIG AS FFC              
						WHERE
						((CONVERT(DATE, FFC.APPLICABLE_FROM_DATE) <= CONVERT(DATE,@EXERCISEDATE)) AND (CONVERT(DATE, ISNULL(FFC.APPLICABLE_TO_DATE, @EXERCISEDATE)) >=  CONVERT(DATE,@EXERCISEDATE)))  AND FFC.MIT_ID = @INSTRUMENT_ID	                               
						AND FFC.IS_TRADINGDAYS = 1 And FFC.SCHEME_ID = @SCHEME_ID
						ORDER BY FFC.AFC_ID DESC
				     END
	
	        -- IF FORMULA CONTAIN CLOSING MARKET PRICE PARAMETER --
			IF EXISTS(SELECT  FORMULA_DESC FROM #TEMP_APPRECIATION_FORMULA WHERE FORMULA_DESC  LIKE '%CLOSING%')
			BEGIN
				/* GET FORMULA */
				 SELECT @APPRECIATION_FORMULA = FORMULA_DESC from	#TEMP_APPRECIATION_FORMULA
			     		     
				  DELETE FROM #TEMP_SPLIT_FORMULA
				 INSERT INTO #TEMP_SPLIT_FORMULA (FORMULA_SPLIT_DESC)
				 SELECT '@'+ Item +'@' FROM dbo.FN_SPLIT_STRING(@APPRECIATION_FORMULA,'@')
			 
				 -- SPLIT A FORMULA --
				SELECT TOP 1 @SETVALUE  =  FORMULA_SPLIT_DESC FROM #TEMP_SPLIT_FORMULA WHERE FORMULA_SPLIT_DESC LIKE '%@Closing%'

				-- INSER SPLIT VALUES INTO TEMP TABLE --     
				DELETE FROM #TEMP_FORMULA_DATA                   
				INSERT INTO #TEMP_FORMULA_DATA(ITEM)
				SELECT TOP 3 Item FROM  DBO.[FN_SPLIT_STRING](@SETVALUE,'æ') WHERE Item <> REPLACE(' @ ','','') and Item <>  '' 
          		AND LEN(Item) >  1  
          		ORDER BY ROW_NUMBER() OVER (ORDER BY (SELECT 100)) DESC
	    	
      			SET @PRICE_DAY =  (SELECT TOP 1 ITEM FROM #TEMP_FORMULA_DATA )
          		SET @INCIDANCE_DATE = (SELECT TOP 1 ITEM FROM #TEMP_FORMULA_DATA ORDER BY ITEM_ID DESC )
          		SET @TRADING_DAY  = (SELECT TOP 1   ITEM   FROM #TEMP_FORMULA_DATA WHERE ITEM_ID = 2 )
		
			   SET @TRADING_DAY = CASE	WHEN @TRADING_DAY = 'NSE' THEN 'N' 
										WHEN @TRADING_DAY = 'BSE' THEN 'B' 
										WHEN @TRADING_DAY = 'NYSE' THEN 'N'					
						
								   END
			  
      			 IF(UPPER(LTRIM(@INCIDANCE_DATE)) = ('@CLOSING MARKET PRICE ON DATE OF EXERCISE'))
				 BEGIN              	           
					SET @INCIDANCE_DATE_VALUE = CASE WHEN(UPPER(@PRICE_DAY) = 'PRIOR DAY' )THEN DATEADD(D,-1,@EXERCISEDATE)  ELSE @EXERCISEDATE END		      			 		            	
        		 END
        		 IF(UPPER(LTRIM(@INCIDANCE_DATE)) = '@CLOSING MARKET PRICE ON DATE OF GRANT')
        		 BEGIN           	
        		  SET @INCIDANCE_DATE_VALUE = CASE WHEN(UPPER(@PRICE_DAY) = 'PRIOR DAY' )THEN CONVERT(DATE, DATEADD(D,-1,@GRANTDATE))  ELSE CONVERT(DATE,@GRANTDATE) END		  
        		 END
        		 IF(UPPER(LTRIM(@INCIDANCE_DATE)) = '@CLOSING MARKET PRICE ON DATE OF VEST')
        		 BEGIN	
	   
        		   SET @INCIDANCE_DATE_VALUE = CASE WHEN(UPPER(@PRICE_DAY) = 'PRIOR DAY' )THEN CONVERT(DATE,DATEADD(D,-1,@VESTINGDATE))  ELSE CONVERT(DATE,@VESTINGDATE) END	
        		 END
        		 -- IF PRICE IS AVAILABLE IN FMVSHARE PRICE TABLE --
				 IF EXISTS(SELECT FMVPriceID from FMVSharePrices where  TransactionDate = CONVERT(DATE, @INCIDANCE_DATE_VALUE)) 
				 BEGIN                        
          		   SET @CLOSING_PRICE = (SELECT ClosePrice FROM FMVSharePrices WHERE TransactionDate =  CONVERT(DATE,@INCIDANCE_DATE_VALUE ) AND  StockExchange = @TRADING_DAY)
				 END
				 ELSE
				 BEGIN    
					-- IF PRICE IS NOT  AVAILABLE IN FMVSHARE PRICE TABLE --  			   
					SET @Is_FMVExists = (SELECT FMVPriceID from FMVSharePrices where  TransactionDate = CONVERT(DATE, @INCIDANCE_DATE_VALUE))
					IF( ISNULL(@Is_FMVExists ,0) = '') 
					BEGIN 
						IF  EXISTS((SELECT TOP 1 TransactionDate  FROM  FMVSharePrices where TransactionDate <= CONVERT(DATE, @INCIDANCE_DATE_VALUE)  AND  StockExchange = @TRADING_DAY ORDER BY TransactionDate DESC))
						BEGIN
						  SET @INCIDANCE_DATE_VALUE =(SELECT TOP 1 TransactionDate  FROM  FMVSharePrices where TransactionDate <= CONVERT(DATE, @INCIDANCE_DATE_VALUE)  AND  StockExchange = @TRADING_DAY ORDER BY TransactionDate DESC	)																					
						END
						ELSE
						BEGIN
						 SET @INCIDANCE_DATE_VALUE =(SELECT TOP 1 TransactionDate  FROM  FMVSharePrices where TransactionDate >= CONVERT(DATE, @INCIDANCE_DATE_VALUE)  AND  StockExchange = @TRADING_DAY 	)																					
						END																											
						SET @INCIDANCE_DATE_VALUE =(SELECT TOP 1 TransactionDate  FROM  FMVSharePrices where TransactionDate <= CONVERT(DATE, @INCIDANCE_DATE_VALUE)  AND  StockExchange = @TRADING_DAY ORDER BY TransactionDate DESC	)																					
						SET @CLOSING_PRICE =(SELECT ClosePrice FROM FMVSharePrices WHERE TransactionDate =  CONVERT(DATE,@INCIDANCE_DATE_VALUE) AND  StockExchange = @TRADING_DAY)	                  															
					END   
				  END
			      

				  IF EXISTS(SELECT FORMULA_SPLIT_DESC FROM #TEMP_SPLIT_FORMULA WHERE FORMULA_SPLIT_DESC like '%@Closing%')
					BEGIN  

					 SET @NUMER_VALUE = REPLACE(@APPRECIATION_FORMULA, (SELECT FORMULA_SPLIT_DESC FROM #TEMP_SPLIT_FORMULA WHERE FORMULA_SPLIT_DESC like '%@Closing%')
				  , @CLOSING_PRICE )
				   END
			 END
			 ELSE
			 BEGIN  
				SELECT @APPRECIATION_FORMULA = FORMULA_DESC from	#TEMP_APPRECIATION_FORMULA
				SET @NUMER_VALUE = @APPRECIATION_FORMULA
				Print @NUMER_VALUE
			 END
	     

	           	IF EXISTS(SELECT  FORMULA_DESC FROM #TEMP_APPRECIATION_FORMULA WHERE FORMULA_DESC  LIKE '%@Settlement Price@%')
				BEGIN  
					SET @NUMER_VALUE = REPLACE((@NUMER_VALUE), '@Settlement Price@', @SAR_SETTLEMENT_PRICE )												
				END
				IF EXISTS(SELECT FORMULA_DESC FROM #TEMP_APPRECIATION_FORMULA WHERE FORMULA_DESC  LIKE '%@SARs Exercised@%')
				BEGIN							
					SET @NUMER_VALUE = REPLACE( @NUMER_VALUE, '@SARs Exercised@', @SARS_EXERCISED )				
				END		
								
	           	IF EXISTS(SELECT  FORMULA_DESC FROM #TEMP_APPRECIATION_FORMULA WHERE FORMULA_DESC  LIKE '%@Base Price@%')
				BEGIN  
					SET @NUMER_VALUE = REPLACE((@NUMER_VALUE), '@Base Price@', @EXERCISE_PRICE )												
				END
				IF EXISTS(SELECT FORMULA_DESC FROM #TEMP_APPRECIATION_FORMULA WHERE FORMULA_DESC  LIKE '%@SARs Vested@%')
				BEGIN							
					SET @NUMER_VALUE = REPLACE( @NUMER_VALUE, '@SARs Vested@', @SARS_VESTED )				
				END		
				
				IF EXISTS(SELECT FORMULA_DESC FROM #TEMP_APPRECIATION_FORMULA WHERE FORMULA_DESC  LIKE '%@Face Value@%')
				BEGIN							
					SET @NUMER_VALUE = REPLACE( @NUMER_VALUE, '@Face Value@', @FACE_VALUE )				
				END		
                IF EXISTS(SELECT FORMULA_DESC FROM #TEMP_APPRECIATION_FORMULA WHERE FORMULA_DESC  LIKE '%@FMV@%')
				BEGIN								
					SET @NUMER_VALUE = REPLACE( @NUMER_VALUE, '@FMV@', @FMV_VALUE )				
				END	
                 
			
				SET @Final_sql = 'select @Numer_result = ' + @NUMER_VALUE 
				EXEC sp_executesql @Final_sql, N'@Numer_result numeric(18,9) output', @Numer_result = @Numer_result OUT         
               
               
	           SET @APPRECIATION_RESULT = @Numer_result
	
				INSERT INTO #TEMP_APPRECIATION_FINAL_DETAILS(INSTRUMENT_ID, EMPLOYEE_ID, GRANTDATE, VESTINGDATE, EXERCISE_DATE,   EXERCISE_PRICE,SHARE_APPRECIATION_VALUE	)
				VALUES(@INSTRUMENT_ID, @EMPLOYEE_ID, @GRANTDATE, @VESTINGDATE, @EXERCISEDATE,@EXERCISE_PRICE, CASE WHEN (@APPRECIATION_RESULT < 0) THEN 0 ELSE @APPRECIATION_RESULT END )
		
			SET @MN_VALUE = @MN_VALUE + 1	       
		END
		

		IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_APPRECIATION_FINAL_DETAILS')
		DROP TABLE TEMP_APPRECIATION_FINAL_DETAILS
		         
		SELECT 
		APPRID ,INSTRUMENT_ID ,EMPLOYEE_ID ,GRANTDATE ,VESTINGDATE ,EXERCISE_DATE,EXERCISE_PRICE, SHARE_APPRECIATION_VALUE                                                                                                                                                                                          
		INTO TEMP_APPRECIATION_FINAL_DETAILS 
		FROM
			#TEMP_APPRECIATION_FINAL_DETAILS
		
		
	END TRY
	BEGIN CATCH
  
		DECLARE  
			@MAILBODY VARCHAR(MAX), @ERROR_NUMBER VARCHAR(50), @ERROR_SEVERITY VARCHAR(50), @ERROR_STATE VARCHAR(50),
			@ERROR_PROCEDURE VARCHAR(500), @ERROR_LINE  VARCHAR(MAX), @ERROR_MESSAGE VARCHAR(MAX), @Subject_body NVARCHAR(250)       
		
		SELECT 
			@ERROR_NUMBER = ERROR_NUMBER(), @ERROR_SEVERITY = ERROR_SEVERITY(), @ERROR_STATE = ERROR_STATE(), @ERROR_PROCEDURE =  ERROR_PROCEDURE(), 
			@ERROR_LINE =	ERROR_LINE(), @ERROR_MESSAGE = ERROR_MESSAGE() 			 
		
		SET @MAILBODY = 'ERROR NUMBER -' +@ERROR_NUMBER+','+ 'ERROR SEVERITY -' +@ERROR_SEVERITY+','+ 'ERROR STATE -' +@ERROR_STATE+','+ 'ERROR PROCEDURE -' +@ERROR_PROCEDURE+','+ 'ERROR LINE -' +@ERROR_LINE+','+ 'ERROR MESSAGE -' +@ERROR_MESSAGE
		
		SET @Subject_body='Error Occured on [Date:'+Convert(NVARCHAR(50),getdate())+']'
				
			
		  -- SEND MAIL --
		  DECLARE @tab CHAR(1) = CHAR(9)
		  EXECUTE 
				msdb.dbo.sp_send_dbmail 		
				@recipients = 'esopit@esopdirect.com', 		
				@subject = @Subject_body, 
				@body = @MAILBODY,		
				@body_format = 'HTML',
				@query = '', 
				@attach_query_result_as_file = 0,
				@query_attachment_filename = NULL,
				@query_result_separator = @tab,
				@query_result_no_padding = 1											
	END CATCH
    
  DROP TABLE #TEMP_APPRECIATION_FINAL_DETAILS
  DROP TABLE #TEMP_APPRECIATION_FORMULA
  DROP TABLE #TEMP_FORMULA_DATA
  DROP TABLE #TEMP_INSERT_DATA
  DROP TABLE #TEMP_SHARE_APPR_DETAILS
      
	SET NOCOUNT OFF;		
END
GO
