/****** Object:  StoredProcedure [dbo].[PROC_GET_PG_VALUE_VALIDATION]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_PG_VALUE_VALIDATION]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PG_VALUE_VALIDATION]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_PG_VALUE_VALIDATION] 
	@MIT_ID	INT = NULL
AS
BEGIN
	
	DECLARE @MIT_IDLIST INT
	SET @MIT_IDLIST = (SELECT DISTINCT RP.MIT_ID FROM ResidentialPaymentMode RP
		INNER JOIN  PaymentMaster PM ON RP.PaymentMaster_Id =PM.Id
		WHERE RP.isActivated ='Y' AND PM.IsEnable ='Y' AND RP.PaymentMaster_Id =2 AND  MIT_ID = @MIT_ID)
	
	SELECT 
		MIT_ID, IS_PG_VALIDATION_ENABLED, AMOUNT, IS_PAY_MODE_HIDE, IS_PAY_MODE_DISABLE, VALIDATION_MESSAGE,PAYMENT_MODE_CONFIG_TYPE
	FROM
		PG_VALUE_VALIDATION
	WHERE
		(MIT_ID = @MIT_ID)
		AND IS_PG_VALIDATION_ENABLED = 1 AND
		MIT_ID IN
		( 
			@MIT_IDLIST
		)
		
	SET NOCOUNT OFF;
END
GO
