/****** Object:  StoredProcedure [dbo].[PROC_GET_GROUP_COMPANY_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_GROUP_COMPANY_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_GROUP_COMPANY_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_GROUP_COMPANY_DETAILS]	
	@USERID VARCHAR(100)
AS
BEGIN

	SELECT 
		USERPASSWORD 
	FROM 
		USERPASSWORD 
	WHERE 
		USERID = @USERID
	
END
GO
