/****** Object:  StoredProcedure [dbo].[PROC_ADJUST_TAX_FOR_NEXT_DAY]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_ADJUST_TAX_FOR_NEXT_DAY]
GO
/****** Object:  StoredProcedure [dbo].[PROC_ADJUST_TAX_FOR_NEXT_DAY]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_ADJUST_TAX_FOR_NEXT_DAY] 
AS
BEGIN	

	SET NOCOUNT ON;

	BEGIN /* IF ACTUAL TAX CALCULATION ON NEXT DAY */
		
		BEGIN /************ TEMP TABLES *********************/

			CREATE TABLE #TEMP_ACTUAL_TAX_DATA
			(
				PK_TATD_ID BIGINT IDENTITY(1,1),
				TATD_SCHEME_ID NVARCHAR(500), TATD_GRANT_REGISTRATION_ID NVARCHAR(500), TATD_GROUP_NUMBER NVARCHAR(100), TATD_PARENT NVARCHAR(5),
				TATD_GRANT_OPTION_ID NVARCHAR(500), TATD_EXERCISE_ID NVARCHAR(100), TATD_GRANT_LEG_SERIAL_NUMBER NVARCHAR(10), 
				TATD_EXERCISED_QUANTITY NVARCHAR(100), TATD_EXERCISE_PRICE NVARCHAR(50), TATD_EXERCISE_DATE DATETIME, 
				TATD_EMPLOYEE_ID NVARCHAR(500), TATD_GRANTLEG_ID NVARCHAR(10), TATD_EXERCISE_NO NVARCHAR(500),  
				TATD_FMV_PRICE NUMERIC(18,6), TATD_PERQST_VALUE NUMERIC(18,6), TATD_PERQST_PAYABLE NUMERIC(18,6),
				TATD_FINAL_VESTING_DATE DATETIME
			)

			CREATE TABLE #TEMP_ACTUAL_TAX_ADJUSTED
			(
				PK_TATD_ID BIGINT, 
				TATA_SCHEME_ID NVARCHAR(500), TATA_GRANT_REGISTRATION_ID NVARCHAR(500), TATA_GROUP_NUMBER NVARCHAR(100), TATA_PARENT NVARCHAR(5),
				TATA_GRANT_OPTION_ID NVARCHAR(500), TATA_EXERCISE_ID NVARCHAR(100), TATA_GRANT_LEG_SERIAL_NUMBER NVARCHAR(10), 
				TATA_EXERCISED_QUANTITY NVARCHAR(100), TATA_EXERCISE_PRICE NVARCHAR(50), TATA_EXERCISE_DATE DATETIME, 
				TATA_EMPLOYEE_ID NVARCHAR(500), TATA_GRANTLEG_ID NVARCHAR(10), TATA_EXERCISE_NO NVARCHAR(500),  
				TATA_FMV_PRICE NUMERIC(18,6), TATA_PERQST_VALUE NUMERIC(18,6), TATA_PERQST_PAYABLE NUMERIC(18,6),
				TATA_FINAL_VESTING_DATE DATETIME,
				ADJ_ACTUAL_EXERCISE_NO NVARCHAR(100), ADJ_ACTUAL_PERQST_VALUE NUMERIC(18,6), ADJ_ACTUAL_PERQST_PAYABLE NUMERIC(18,6)
			)

			CREATE TABLE #TEMP_ACTUAL_EMP_WISE
			(
				PK_TAEW_ID BIGINT IDENTITY(1,1), 
				TAEW_ETD_ID NVARCHAR(500), TAEW_COUNTRY_ID NVARCHAR(500), TAEW_EXERCISE_NO NVARCHAR(500), 
				TAEW_TAX_TITLE NVARCHAR(500), TAEW_TAX_RATE NUMERIC(18,6), TAEW_TAX_AMOUNT NUMERIC(18,6), TAEW_PERQ_VALUE NUMERIC(18,6), 
				TAEW_FROM_DATE DATETIME, TAEW_TO_DATE DATETIME
			)

			CREATE TABLE #TEMP_ACTUAL_EMP_WISE_ADJUSTED
			(
				PK_TAEW_ID BIGINT, 
				TAEWA_ETD_ID NVARCHAR(500), TAEWA_COUNTRY_ID NVARCHAR(500), TAEWA_EXERCISE_NO NVARCHAR(500), 
				TAEWA_TAX_TITLE NVARCHAR(500), TAEWA_TAX_RATE NUMERIC(18,6), TAEWA_TAX_AMOUNT NUMERIC(18,6), TAEWA_PERQ_VALUE NUMERIC(18,6), 
				TAEWA_FROM_DATE DATETIME, TAEWA_TO_DATE DATETIME, 
				ADJ_ACTUAL_TAX_AMOUNT NUMERIC(18,6), ADJ_ACTUAL_PERQ_VALUE NUMERIC(18,6)
			)	

		END /************************************************/

		/* GET ACTUAL TAX DETAILS FORM SHEXERCISEDOPTIONS TABLE */

		INSERT INTO #TEMP_ACTUAL_TAX_DATA
		(
			TATD_SCHEME_ID, TATD_GRANT_REGISTRATION_ID, TATD_GROUP_NUMBER, TATD_PARENT, TATD_GRANT_OPTION_ID, TATD_EXERCISE_ID, TATD_GRANT_LEG_SERIAL_NUMBER, 
			TATD_EXERCISED_QUANTITY, TATD_EXERCISE_PRICE, TATD_EXERCISE_DATE, TATD_EMPLOYEE_ID, TATD_GRANTLEG_ID, TATD_EXERCISE_NO,  
			TATD_FMV_PRICE, TATD_PERQST_VALUE, TATD_PERQST_PAYABLE, TATD_FINAL_VESTING_DATE 
		)
		SELECT 
			GL.SchemeId, GL.GrantRegistrationId, GMOEN.GroupNumber, GMOEN.PARENT, GMOEN.GrantOptionId, SEO.ExerciseId, SEO.GrantLegSerialNumber, 
			SEO.ExercisedQuantity, SEO.ExercisePrice, SEO.ExerciseDate, SEO.EmployeeID, SEO.GrantLegId, SEO.ExerciseNo,
			SEO.FMVPrice, ISNULL(SEO.PerqstValue,0), ISNULL(SEO.PerqstPayable,0), GL.FinalVestingDate
		FROM 
			ShExercisedOptions AS SEO
			LEFT OUTER JOIN GrantLeg AS GL ON GL.ID = SEO.GrantLegSerialNumber
			INNER JOIN GrantMappingOnExNow AS GMOEN ON GMOEN.GrantOptionId = GL.GrantOptionId
		WHERE 
			(SEO.LastUpdatedBy = 'ADMIN') AND (CONVERT(DATE,SEO.LastUpdatedOn) = CONVERT(DATE,GETDATE()))
			AND (SEO.FMVPrice IS NOT NULL)
		ORDER BY 
			GMOEN.GroupNumber, GL.GrantLegId ASC, SEO.ExerciseNo,GMOEN.PARENT DESC

		IF((SELECT COUNT(PK_TATD_ID) FROM #TEMP_ACTUAL_TAX_DATA) > 0 )
		BEGIN
						
			/* CALCULATE ADJUSTED ACTUAL_PERQST_VALUE AND ACTUAL_PERQST_PAYABLE */

			INSERT INTO #TEMP_ACTUAL_TAX_ADJUSTED
			(
				PK_TATD_ID, TATA_SCHEME_ID, TATA_GRANT_REGISTRATION_ID, TATA_GROUP_NUMBER, TATA_PARENT, TATA_GRANT_OPTION_ID, TATA_EXERCISE_ID, 
				TATA_GRANT_LEG_SERIAL_NUMBER, TATA_EXERCISED_QUANTITY, TATA_EXERCISE_PRICE, TATA_EXERCISE_DATE, TATA_EMPLOYEE_ID, 
				TATA_GRANTLEG_ID, TATA_EXERCISE_NO, TATA_FMV_PRICE, TATA_PERQST_VALUE, TATA_PERQST_PAYABLE,
				TATA_FINAL_VESTING_DATE, ADJ_ACTUAL_PERQST_VALUE, ADJ_ACTUAL_PERQST_PAYABLE
			)				
			SELECT TOP 1 
				TATD.PK_TATD_ID, TATD_SCHEME_ID, TATD_GRANT_REGISTRATION_ID, TATD_GROUP_NUMBER, TATD_PARENT, TATD_GRANT_OPTION_ID, TATD_EXERCISE_ID, TATD_GRANT_LEG_SERIAL_NUMBER, 
				TATD.TATD_EXERCISED_QUANTITY, TATD_EXERCISE_PRICE, TATD_EXERCISE_DATE, TATD_EMPLOYEE_ID, TATD_GRANTLEG_ID, TATD_EXERCISE_NO,  
				TATD.TATD_FMV_PRICE, TATD_PERQST_VALUE, TATD_PERQST_PAYABLE, TATD_FINAL_VESTING_DATE, 
				CASE WHEN ((TATD.TATD_PERQST_VALUE <= 0)  AND ((TATD.PK_TATD_ID % 2 ) <> 0)) THEN 0 ELSE TATD.TATD_PERQST_VALUE END AS PERQST_VALUE,
				CASE WHEN ((TATD.TATD_PERQST_PAYABLE <= 0)  AND ((TATD.PK_TATD_ID % 2 ) <> 0)) THEN 0 ELSE TATD.TATD_PERQST_PAYABLE END AS PERQST_PAYABLE  
			FROM 
				#TEMP_ACTUAL_TAX_DATA AS TATD			
			UNION ALL
			SELECT 
				TATD.PK_TATD_ID, TATD.TATD_SCHEME_ID, TATD.TATD_GRANT_REGISTRATION_ID, TATD.TATD_GROUP_NUMBER, TATD.TATD_PARENT, TATD.TATD_GRANT_OPTION_ID, TATD.TATD_EXERCISE_ID, TATD.TATD_GRANT_LEG_SERIAL_NUMBER, 
				TATD.TATD_EXERCISED_QUANTITY, TATD.TATD_EXERCISE_PRICE, TATD.TATD_EXERCISE_DATE, TATD.TATD_EMPLOYEE_ID, TATD.TATD_GRANTLEG_ID, TATD.TATD_EXERCISE_NO,  
				TATD.TATD_FMV_PRICE, TATD.TATD_PERQST_VALUE, TATD.TATD_PERQST_PAYABLE, TATD.TATD_FINAL_VESTING_DATE, 
				CASE WHEN ((TATD.TATD_PERQST_VALUE <= 0) AND (T_ACTUAL_SELF.TATD_PERQST_VALUE > 0) AND ((TATD.PK_TATD_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TATD.TATD_PERQST_VALUE > 0) AND (T_ACTUAL_SELF.TATD_PERQST_VALUE > 0)) THEN TATD.TATD_PERQST_VALUE 
					ELSE T_ACTUAL_SELF.TATD_PERQST_VALUE + TATD.TATD_PERQST_VALUE  END AS PERQST_VALUE,
				CASE WHEN ((TATD.TATD_PERQST_PAYABLE <= 0) AND (T_ACTUAL_SELF.TATD_PERQST_PAYABLE > 0) AND ((TATD.PK_TATD_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TATD.TATD_PERQST_PAYABLE > 0) AND (T_ACTUAL_SELF.TATD_PERQST_PAYABLE > 0)) THEN TATD.TATD_PERQST_PAYABLE 
					ELSE T_ACTUAL_SELF.TATD_PERQST_PAYABLE + TATD.TATD_PERQST_PAYABLE END AS PERQST_PAYABLE
			FROM 
				#TEMP_ACTUAL_TAX_DATA AS TATD
				INNER JOIN #TEMP_ACTUAL_TAX_DATA AS T_ACTUAL_SELF ON T_ACTUAL_SELF.PK_TATD_ID = TATD.PK_TATD_ID - 1	
									
			/* FINAL OUTPUT FROM INSERT INTO ShExercisedOptions TABLE */

			SELECT
				'ACTUAL_SH_TABLE_TAX', PK_TATD_ID, TATA_SCHEME_ID, TATA_GRANT_REGISTRATION_ID, TATA_GROUP_NUMBER, TATA_GRANT_OPTION_ID, 
				TATA_GRANTLEG_ID, TATA_EXERCISE_ID, TATA_GRANT_LEG_SERIAL_NUMBER, TATA_EXERCISED_QUANTITY, TATA_EXERCISE_PRICE, 
				TATA_EXERCISE_DATE, TATA_EMPLOYEE_ID, TATA_EXERCISE_NO, TATA_FMV_PRICE, TATA_PERQST_VALUE, TATA_PERQST_PAYABLE, 
				TATA_FINAL_VESTING_DATE, ADJ_ACTUAL_EXERCISE_NO, ADJ_ACTUAL_PERQST_VALUE, ADJ_ACTUAL_PERQST_PAYABLE, TATA_PARENT			
			FROM 
				#TEMP_ACTUAL_TAX_ADJUSTED

			/* FOR EMPLOYEEWISE TAX CALCULATION */			
			
			INSERT INTO #TEMP_ACTUAL_EMP_WISE
			(
				TAEW_ETD_ID, TAEW_COUNTRY_ID, TAEW_EXERCISE_NO, TAEW_TAX_TITLE, TAEW_TAX_RATE, TAEW_TAX_AMOUNT, 
				TAEW_PERQ_VALUE, TAEW_FROM_DATE, TAEW_TO_DATE
			)
			SELECT 
				ETD_ID, COUNTRY_ID, EXERCISE_NO, Tax_Title, TAX_RATE, TAX_AMOUNT, PERQVALUE, FROM_DATE, TO_DATE 
			FROM 
				EXERCISE_TAXRATE_DETAILS AS ETD
				INNER JOIN  #TEMP_ACTUAL_TAX_DATA AS TATD ON TATD.TATD_EXERCISE_ID = ETD.EXERCISE_NO	
			ORDER BY 
				TATD.TATD_GROUP_NUMBER, ETD.Tax_Title, ETD.TAX_RATE, ETD.COUNTRY_ID, ETD.FROM_DATE, ETD.TO_DATE, ETD.EXERCISE_NO ASC 
			
			/* CALCULATE ADJUSTED ACTUAL_TAX_AMOUNT AND ACTUAL_PERQ_VALUE AMOUNT */

			INSERT INTO #TEMP_ACTUAL_EMP_WISE_ADJUSTED
			(
				PK_TAEW_ID, TAEWA_ETD_ID, TAEWA_COUNTRY_ID, TAEWA_EXERCISE_NO, TAEWA_TAX_TITLE, TAEWA_TAX_RATE, TAEWA_TAX_AMOUNT, TAEWA_PERQ_VALUE, 
				TAEWA_FROM_DATE, TAEWA_TO_DATE, ADJ_ACTUAL_TAX_AMOUNT, ADJ_ACTUAL_PERQ_VALUE
			)			
			SELECT TOP 1 
				TAEW.PK_TAEW_ID, TAEW.TAEW_ETD_ID, TAEW.TAEW_COUNTRY_ID, TAEW.TAEW_EXERCISE_NO, TAEW.TAEW_TAX_TITLE, TAEW.TAEW_TAX_RATE, 
				TAEW.TAEW_TAX_AMOUNT, TAEW.TAEW_PERQ_VALUE, TAEW.TAEW_FROM_DATE, TAEW.TAEW_TO_DATE,
				CASE WHEN ((TAEW.TAEW_TAX_AMOUNT <= 0) AND ((TAEW.PK_TAEW_ID % 2 ) <> 0)) THEN 0 ELSE TAEW.TAEW_TAX_AMOUNT END AS PERQST_VALUE,
				CASE WHEN ((TAEW.TAEW_PERQ_VALUE <= 0) AND ((TAEW.PK_TAEW_ID % 2 ) <> 0)) THEN 0 ELSE TAEW.TAEW_PERQ_VALUE END AS PERQST_PAYABLE  
			FROM 
				#TEMP_ACTUAL_EMP_WISE AS TAEW			
			UNION ALL
			SELECT 
				TAEW.PK_TAEW_ID, TAEW.TAEW_ETD_ID, TAEW.TAEW_COUNTRY_ID, TAEW.TAEW_EXERCISE_NO, TAEW.TAEW_TAX_TITLE, TAEW.TAEW_TAX_RATE, 
				TAEW.TAEW_TAX_AMOUNT, TAEW.TAEW_PERQ_VALUE, TAEW.TAEW_FROM_DATE, TAEW.TAEW_TO_DATE,
				CASE WHEN ((TAEW.TAEW_TAX_AMOUNT <= 0) AND ((TAEW.PK_TAEW_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TAEW.TAEW_TAX_AMOUNT > 0) AND (T_ACTUAL_SELF_EMP.TAEW_TAX_AMOUNT > 0)) THEN TAEW.TAEW_TAX_AMOUNT 
					ELSE T_ACTUAL_SELF_EMP.TAEW_TAX_AMOUNT + TAEW.TAEW_TAX_AMOUNT  END AS TAX_AMOUNT,
				CASE WHEN ((TAEW.TAEW_PERQ_VALUE <= 0)  AND ((TAEW.PK_TAEW_ID % 2 ) <> 0)) THEN 0 
						WHEN ((TAEW.TAEW_PERQ_VALUE > 0) AND (T_ACTUAL_SELF_EMP.TAEW_PERQ_VALUE > 0)) THEN TAEW.TAEW_PERQ_VALUE 
					ELSE T_ACTUAL_SELF_EMP.TAEW_PERQ_VALUE + TAEW.TAEW_PERQ_VALUE END AS PERQ_VALUE
			FROM 
				#TEMP_ACTUAL_EMP_WISE AS TAEW
				INNER JOIN #TEMP_ACTUAL_EMP_WISE AS T_ACTUAL_SELF_EMP ON T_ACTUAL_SELF_EMP.PK_TAEW_ID = TAEW.PK_TAEW_ID - 1	

			/* FINAL OUTPUT FROM INSERT INTO EXERCISE_TAXRATE_DETAILS TABLE */
			SELECT 
				'ACTUAL_EMP_WISE_TAX', PK_TAEW_ID, TAEWA_ETD_ID, TAEWA_COUNTRY_ID, TAEWA_EXERCISE_NO, TAEWA_TAX_TITLE, TAEWA_TAX_RATE, TAEWA_TAX_AMOUNT, 
				TAEWA_PERQ_VALUE, TAEWA_FROM_DATE, TAEWA_TO_DATE, ADJ_ACTUAL_TAX_AMOUNT, ADJ_ACTUAL_PERQ_VALUE
			FROM
				#TEMP_ACTUAL_EMP_WISE_ADJUSTED

			BEGIN TRY
				
				BEGIN TRANSACTION
				
				UPDATE 
					SHO SET PerqstValue = TATA.ADJ_ACTUAL_PERQST_VALUE, PerqstPayable = TATA.ADJ_ACTUAL_PERQST_PAYABLE
				FROM 
					ShExercisedOptions AS SHO
					INNER JOIN #TEMP_ACTUAL_TAX_ADJUSTED AS TATA ON TATA.TATA_EXERCISE_ID = SHO.ExerciseId 
				
				UPDATE 
					ETD SET TAX_AMOUNT = TAEWA.ADJ_ACTUAL_TAX_AMOUNT, PERQVALUE = TAEWA.ADJ_ACTUAL_PERQ_VALUE
				FROM 
					EXERCISE_TAXRATE_DETAILS AS ETD
					INNER JOIN #TEMP_ACTUAL_EMP_WISE_ADJUSTED AS TAEWA ON TAEWA.TAEWA_ETD_ID = ETD.ETD_ID
				
				COMMIT TRANSACTION
			
			END TRY
			BEGIN CATCH
				ROLLBACK TRANSACTION
			END CATCH

		END		
		
	END	
			
	SET NOCOUNT OFF;
END
GO
