/****** Object:  StoredProcedure [dbo].[PROC_GETCOLUMNSTOBECONSIDEREDFORCHK]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GETCOLUMNSTOBECONSIDEREDFORCHK]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GETCOLUMNSTOBECONSIDEREDFORCHK]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GETCOLUMNSTOBECONSIDEREDFORCHK] 
AS 
  BEGIN 
      SET nocount ON; 

      SELECT IsActivated, 
             ColumnsToBeConsidered 
      FROM   AUTOREVERSALSETTINGDETAILS 
  END 

GO
