/****** Object:  StoredProcedure [dbo].[PROC_GetCountryandSateList]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GetCountryandSateList]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GetCountryandSateList]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE  [dbo].[PROC_GetCountryandSateList]
   @MIT_ID INT	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from interfering with SELECT statements.
	SET NOCOUNT ON;
	DECLARE @Count nvarchar(50)

	CREATE TABLE #TBLCOUNTRYPAYMENTMODE
	(
		ID              BIGINT IDENTITY(1,1),
		PAYMENTMODE		NVARCHAR(200) NULL,
		[TYPE]			NVARCHAR(200) NULL,
		COUNTRY			NVARCHAR(50)  NULL,
		[STATE]         NVARCHAR(200) NULL,
		PROCESSNOTE     NVARCHAR(200) NULL,
		COUNTRY_ID		BIGINT,
		STATE_ID		NVARCHAR(200),
		RPM_ID			INT,
		PAYMENTMODE_ID	BIGINT,
		REMARK			NVARCHAR(500),
		IsSucessful	    NVARCHAR(200) 
	)
	DECLARE @ErrorMessage NVARCHAR(MAX)
	 
    INSERT INTO #TBLCOUNTRYPAYMENTMODE(PAYMENTMODE,[TYPE],PAYMENTMODE_ID)
    SELECT PM.PAYMODENAME AS [Type],TEMP.PAYMODENAME,TEMP.Id
    FROM   PAYMENTMASTER PM 
           INNER JOIN PAYMENTMASTER AS TEMP ON PM.ID=TEMP.PARENTID 
           INNER JOIN RESIDENTIALPAYMENTMODE RP ON RP.PAYMENTMASTER_ID=TEMP.ID 
           AND RP.MIT_ID=3 AND RP.PAYMENT_MODE_CONFIG_TYPE='COUNTRY'

	CREATE TABLE #TblFieldValue2
	(
		FIELD_NAME		     NVARCHAR(50),
		IS_TRACKING_ENABLED	 INT 
	)	
	INSERT INTO #TblFieldValue2(FIELD_NAME,IS_TRACKING_ENABLED)
	SELECT FIELD_NAME,IS_TRACKING_ENABLED 
	FROM   MASTER_LIST_FLD_NAME MLFN 
	WHERE  MLFN.IS_TRACKING_ENABLED=1 AND MLFN.FIELD_NAME IN('TAX_IDENTIFIER_COUNTRY','TAX_IDENTIFIER_STATE')
	 
	DECLARE @FIELD_NAME AS NVARCHAR(50)
	DECLARE @IS_TRACKING_ENABLED AS INT
	SELECT	@FIELD_NAME=FIELD_NAME 
	FROM	#TblFieldValue2
	SELECT	@IS_TRACKING_ENABLED=IS_TRACKING_ENABLED 
	FROM	#TblFieldValue2
	print @FIELD_NAME
	IF(@FIELD_NAME='TAX_IDENTIFIER_COUNTRY')
	BEGIN
	
		 SELECT * FROM 
		(
			SELECT TP.PAYMENTMODE,TP.[TYPE],TP.COUNTRY, TP.PROCESSNOTE,@FIELD_NAME AS MASSUPLOADTYPECOUNTRY,TP.PAYMENTMODE_ID,TP.IsSucessful,'2' AS 'Masterlist' FROM #TBLCOUNTRYPAYMENTMODE TP
			WHERE TP.PAYMENTMODE_ID NOT IN 
			(SELECT TP.PAYMENTMODE_ID
			FROM #TBLCOUNTRYPAYMENTMODE TP INNER JOIN RESIDENTIALPAYMENTMODE RP ON RP.PAYMENTMASTER_ID=TP.PAYMENTMODE_ID AND RP.MIT_ID=3
			INNER JOIN COUNTRY_PAYMENTMODE_MAPPING CPM ON CPM.RPM_ID=RP.ID
			INNER JOIN COUNTRYMASTER CM ON CPM.COUNTRY_ID=CM.ID AND (CPM.STATE_ID IS NULL OR CPM.STATE_ID=0)
			)
			UNION 
			SELECT  TP.PAYMENTMODE,TP.[TYPE],CM.COUNTRYNAME AS COUNTRY,CPM.PROCESSES_NOTE AS PROCESSNOTE,@FIELD_NAME AS MASSUPLOADTYPECOUNTRY,TP.PAYMENTMODE_ID,TP.IsSucessful,'2' AS 'Masterlist'
			FROM #TBLCOUNTRYPAYMENTMODE TP INNER JOIN RESIDENTIALPAYMENTMODE RP ON RP.PAYMENTMASTER_ID=TP.PAYMENTMODE_ID AND RP.MIT_ID=3
			INNER JOIN COUNTRY_PAYMENTMODE_MAPPING CPM ON CPM.RPM_ID=RP.ID
			INNER JOIN COUNTRYMASTER CM ON CPM.COUNTRY_ID=CM.ID AND (CPM.STATE_ID IS NULL OR CPM.STATE_ID=0)
		) AS RESULT
		ORDER BY PAYMENTMODE_ID

	END
	
	ELSE IF(@FIELD_NAME='TAX_IDENTIFIER_STATE')
	BEGIN
		SELECT * FROM 
		(SELECT TP.PAYMENTMODE,TP.[TYPE],TP.COUNTRY,TP.STATE, TP.PROCESSNOTE, @FIELD_NAME AS MASSUPLOADTYPESTATE,TP.PAYMENTMODE_ID,TP.IsSucessful FROM #TBLCOUNTRYPAYMENTMODE TP
		WHERE TP.PAYMENTMODE_ID NOT IN 
		(
		SELECT TP.PAYMENTMODE_ID
		FROM #TBLCOUNTRYPAYMENTMODE TP
			 INNER JOIN RESIDENTIALPAYMENTMODE RP ON RP.PAYMENTMASTER_ID=TP.PAYMENTMODE_ID AND RP.MIT_ID=3
			 INNER JOIN COUNTRY_PAYMENTMODE_MAPPING CPM ON CPM.RPM_ID=RP.ID
			 INNER JOIN COUNTRYMASTER CM ON CPM.COUNTRY_ID=CM.ID 
			 INNER JOIN MST_STATES MS ON MS.MS_ID=CPM.STATE_ID
		)
		UNION
		SELECT TP.PAYMENTMODE,TP.[TYPE],CM.COUNTRYNAME AS COUNTRY,MS.STATE_NAME AS [STATE],CPM.PROCESSES_NOTE AS PROCESSNOTE , @FIELD_NAME AS MASSUPLOADTYPESTATE,TP.PAYMENTMODE_ID,TP.IsSucessful
		FROM #TBLCOUNTRYPAYMENTMODE TP
			 INNER JOIN RESIDENTIALPAYMENTMODE RP ON RP.PAYMENTMASTER_ID=TP.PAYMENTMODE_ID AND RP.MIT_ID=3
			 INNER JOIN COUNTRY_PAYMENTMODE_MAPPING CPM ON CPM.RPM_ID=RP.ID
			 INNER JOIN COUNTRYMASTER CM ON CPM.COUNTRY_ID=CM.ID 
			 INNER JOIN MST_STATES MS ON MS.MS_ID=CPM.STATE_ID
		) AS RESULT
		ORDER BY RESULT.PAYMENTMODE_ID
	
	END
	
	SET NOCOUNT OFF;
END	
 
GO
