/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_UPDATE_EXERCISE_FROM_STATUS]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SOPsUI_UPDATE_EXERCISE_FROM_STATUS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_UPDATE_EXERCISE_FROM_STATUS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SOPsUI_UPDATE_EXERCISE_FROM_STATUS] 
	
	@EXERCISE_ID NUMERIC(18),
	@LAST_UPDATED_BY NVARCHAR(100),
	@TEMPLATE_NAME NVARCHAR(100)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	BEGIN TRY

		BEGIN TRANSACTION

		UPDATE ShExercisedOptions SET isFormGenerate = 1, LastUpdatedBy = @LAST_UPDATED_BY, LastUpdatedOn = GETDATE()  WHERE (ExerciseId = @EXERCISE_ID)
		
		INSERT INTO AUDIT_SOPs_UI 
			(TEMPLATE_NAME, UPDATED_BY, UPDATED_ON, UNIQUE_IDENTIFIER_TEXT, UNIQUE_IDENTIFIER_VALE, COMMAND_EXECUATED, COMMAND_PARAMETER)
		VALUES
			(@TEMPLATE_NAME, @LAST_UPDATED_BY, GETDATE(), 'Exercise ID', @EXERCISE_ID, 'PROC_SOPsUI_UPDATE_EXERCISE_FROM_STATUS', '@EXERCISE_ID, @LAST_UPDATED_BY, @TEMPLATE_NAME')
		
		COMMIT TRANSACTION

		SELECT 'SUCCESS' AS 'ErrorMessage'

	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		SELECT @@ERROR AS 'ErrorMessage'
	END CATCH	
		
	SET NOCOUNT OFF;				
END
GO
