/****** Object:  StoredProcedure [dbo].[PROC_CUD_OGA_CONFIGURATIONS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CUD_OGA_CONFIGURATIONS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CUD_OGA_CONFIGURATIONS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CUD_OGA_CONFIGURATIONS]
	@IS_REMINDER_MAIL BIT = NULL,
	@DAYS_BEFORE VARCHAR(5) = NULL,
	@IS_TILL_LASTDATE BIT = NULL,
	@ACCEPTANCE_STATUS VARCHAR(100) = NULL,
	@EMAIL_DISPLAY_NAME VARCHAR(20) =NULL,
	@UPDATED_BY VARCHAR(50) = NULL
	 
AS  
BEGIN
	
	SET NOCOUNT ON;
	
	DECLARE @ACSID INT, @CONFIGURATIONS INT, @PARAMETERS INT  
	
	SET @ACSID = (SELECT ACSID FROM OGA_ACCEPTANCE_STATUS WHERE STATUS_NAME = @ACCEPTANCE_STATUS)

	BEGIN TRY
		
		BEGIN TRANSACTION
		
		UPDATE OGA_CONFIGURATIONS SET IsReminderMail =@IS_REMINDER_MAIL, DaysBefore = @DAYS_BEFORE, IsTillLastDate = @IS_TILL_LASTDATE, ACSID =@ACSID, 
			LastUpdatedOn = GETDATE(), LastUpdatedBy = @UPDATED_BY 
		
		SET @CONFIGURATIONS = @@ROWCOUNT
		
		IF(@EMAIL_DISPLAY_NAME <> '' OR @EMAIL_DISPLAY_NAME IS NOT NULL)
		BEGIN
			UPDATE CompanyParameters SET CompanyEmailDisplayName= @EMAIL_DISPLAY_NAME
			SET @PARAMETERS = @@ROWCOUNT
		END
	  
		COMMIT TRANSACTION
		
		IF(@CONFIGURATIONS > 0) AND (@PARAMETERS>0)
			BEGIN
				RETURN 1
			END
		ELSE
			BEGIN
				RETURN 0
			END		
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
		RETURN 0
	END CATCH
				
	SET NOCOUNT OFF;
END
GO
