/****** Object:  StoredProcedure [dbo].[PROC_GET_VALIDATE_IP_ADDRESS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_VALIDATE_IP_ADDRESS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_VALIDATE_IP_ADDRESS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_VALIDATE_IP_ADDRESS]
@IP_ADDRESS NVARCHAR(20)
AS
BEGIN
 IF EXISTS(SELECT IP_ADDRESS FROM IP_AUTHORIZATION WHERE IP_ADDRESS=@IP_ADDRESS AND IS_INCLUDE=1)
	 BEGIN
		  SELECT * FROM IP_AUTHORIZATION WHERE IP_ADDRESS=@IP_ADDRESS AND IS_INCLUDE=1
	 END
	 ELSE
	 BEGIN
	          SELECT 'F' AS [STATUS], 'Access Denied.' AS [MESSAGE],'Invalid IP Address.' AS Remark
	 END
END
GO
