/****** Object:  StoredProcedure [dbo].[PROC_GET_PUP_EXERCISEDDETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_PUP_EXERCISEDDETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_PUP_EXERCISEDDETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_PUP_EXERCISEDDETAILS]
(
	@USER_ID		NVARCHAR(100),
	@Company_ID		NVARCHAR(100)
)
AS
BEGIN
	DECLARE @DISPLAYAS			NCHAR,
			@DISPLAYSPLIT		NCHAR,
			@SELECT_QUERY		NVARCHAR(MAX),
			@BONUS_WHERE_CLAUSE	NVARCHAR(MAX),
			@SPLIT_WHERE_CLAUSE	NVARCHAR(MAX)
					
	SELECT @DISPLAYAS = DISPLAYAS,@DISPLAYSPLIT = DISPLAYSPLIT FROM BONUSSPLITPOLICY
	--SELECT @DISPLAYAS	[DISPLAYAS], @DISPLAYSPLIT [DISPLAYSPLIT]
	
	--------------------------------------------------------
	-- CREATE TABLE QUERY	
	--------------------------------------------------------
	CREATE TABLE #TEMP_PUPEXERCISE_NOW
	(
		PUP_ID						INT IDENTITY(1,1),
		APPLY_SAR					NCHAR,
		TRUSTTYPE					NCHAR,
		SCHEMETYPE					NVARCHAR(80),
		ID							NUMERIC(18,0),
		[COUNTER]					TINYINT,
		[VESTINGTYPE]				NCHAR,
		GRANTLEGID					TINYINT,
		PARENT						NCHAR(5),
		VESTINGDATE					DATE,
		EXPIRAYDATE					DATE,
		GRANTEDOPTIONS				NUMERIC(18,0),  
		EXERCISABLEQUANTITY			NUMERIC(18,0),
		UNAPPROVEDEXERCISEQUANTITY	NUMERIC(18,0),
		EXERCISEDQUANTITY			NUMERIC(18,0),  
		FINALVESTINGDATE			DATE, 
		FINALEXPIRAYDATE			DATE, 
		EXERCISEPRICE				NUMERIC(18,2),
		GRANTDATE					DATE,
		GRANTREGISTRATIONID			NVARCHAR(100),
		LOCKINPERIODSTARTSFROM		NCHAR,
		LOCKINPERIOD				TINYINT,		
		OPTIONRATIOMULTIPLIER		TINYINT,
		OPTIONRATIODIVISOR			TINYINT,
		SCHEMETITLE					NVARCHAR(150),
		GRANTOPTIONID				NVARCHAR(200),
		OPTIONTIMEPERCENTAGE		NUMERIC(5,2),
		FBTVALUE					NUMERIC(10,2),
		FBTPAYABLE					NUMERIC(10,2),
		ISPAYMENTMODEREQUIRED		TINYINT,
		PAYMENTMODEEFFECTIVEDATE	DATE,
		LOCKEDINTILL				DATE,
		EXERCISABLESHARES			NUMERIC(18,0),
		QUANTITYPENDINGFORAPPROVAL	NUMERIC(18,0)
	)
	
	--------------------------------------------------------
	-- COMMON PART OF QUERY	
	--------------------------------------------------------
	SELECT @SELECT_QUERY = 
						'SELECT	
								{0} AS APPLY_SAR,
								SCHEME.TRUSTTYPE,
								CASE WHEN (SCHEME.TRUSTTYPE=''TC'' OR SCHEME.TRUSTTYPE=''TCLSA'' OR SCHEME.TRUSTTYPE=''TCLSP'' 
											OR SCHEME.TRUSTTYPE=''TCLB'' OR SCHEME.TRUSTTYPE=''TCONLY'' OR SCHEME.TRUSTTYPE=''TCANDCLSA'' 
											OR SCHEME.TRUSTTYPE=''TCANDCLSP'' OR SCHEME.TRUSTTYPE=''TCANDCLB'' OR SCHEME.TRUSTTYPE=''CCSA'' 
											OR SCHEME.TRUSTTYPE=''CCSP'' OR SCHEME.TRUSTTYPE=''CCB'' OR SCHEME.TRUSTTYPE=''CCNONTCCSA'' 
											OR SCHEME.TRUSTTYPE=''CCNONTCCB'' OR SCHEME.TRUSTTYPE=''CCNONTCCSP'')  
										THEN ''TRUST SCHEME''	
									 ELSE ''NON   "-   TRUST SCHEME'' 
								END AS SCHEMETYPE,
								MIN(GRANTLEG.VESTINGDATE) AS VESTINGDATE, 
								SUM(GRANTLEG.GRANTEDOPTIONS) AS GRANTEDOPTIONS,  
								SUM(GRANTLEG.EXERCISABLEQUANTITY) AS EXERCISABLEQUANTITY,
								SUM(GRANTLEG.UNAPPROVEDEXERCISEQUANTITY) AS UNAPPROVEDEXERCISEQUANTITY,  
								MIN(GRANTLEG.FINALVESTINGDATE) AS FINALVESTINGDATE, 
								MAX(GRANTLEG.FINALEXPIRAYDATE) AS FINALEXPIRAYDATE,  
								MAX(GRANTREGISTRATION.EXERCISEPRICE) AS EXERCISEPRICE,
								MAX(GRANTREGISTRATION.GRANTDATE) AS GRANTDATE, 
								MAX(SCHEME.LOCKINPERIODSTARTSFROM) AS LOCKINPERIODSTARTSFROM,  
								MAX(SCHEME.LOCKINPERIOD) AS LOCKINPERIOD,
								MAX(SCHEME.OPTIONRATIOMULTIPLIER) AS OPTIONRATIOMULTIPLIER, 
								MAX(SCHEME.OPTIONRATIODIVISOR) AS OPTIONRATIODIVISOR,  
								SUM(GRANTLEG.EXERCISEDQUANTITY) AS EXERCISEDQUANTITY,  
								VESTINGPERIOD.FBTVALUE AS FBTVALUE,
								ROUND(((FBTVALUE-MAX(EXERCISEPRICE)) * (SELECT FBTAX FROM COMPANYPARAMETERS)/100),2) AS FBTPAYABLE,  
								GRANTOPTIONS.GRANTOPTIONID, 
								GRANTLEG.ID,
								GRANTLEG.GRANTLEGID,  
								GRANTLEG.GRANTREGISTRATIONID,
								SCHEME.SCHEMETITLE,
								''{1}'' AS PARENT,
								VESTINGPERIOD.OPTIONTIMEPERCENTAGE  AS  OPTIONTIMEPERCENTAGE, 
								SCHEME.ISPAYMENTMODEREQUIRED, 
								SCHEME.PAYMENTMODEEFFECTIVEDATE,
								SUM(GRANTLEG.UNAPPROVEDEXERCISEQUANTITY) AS UNAPPROVEDEXERCISEQUANTITY,
								SUM(GRANTLEG.EXERCISABLEQUANTITY) AS EXERCISABLEQUANTITY
						FROM	GRANTOPTIONS 
								INNER JOIN VESTINGPERIOD ON GRANTOPTIONS.GRANTREGISTRATIONID=VESTINGPERIOD.GRANTREGISTRATIONID  
								INNER JOIN GRANTLEG ON GRANTLEG.GRANTOPTIONID = GRANTOPTIONS.GRANTOPTIONID 
									AND GRANTLEG.GRANTLEGID=VESTINGPERIOD.VESTINGPERIODNO  
								INNER JOIN EMPLOYEEMASTER EM ON GRANTOPTIONS.EMPLOYEEID = EM.EMPLOYEEID  
								INNER JOIN GRANTREGISTRATION ON GRANTLEG.GRANTREGISTRATIONID = GRANTREGISTRATION.GRANTREGISTRATIONID  
								INNER JOIN SCHEME ON GRANTLEG.SCHEMEID = SCHEME.SCHEMEID
						WHERE	SCHEME.ISPUPENABLED=1 
						AND		SCHEME.PUPEXEDPAYOUTPROCESS=1
						AND		EM.LOGINID = ''{2}''
						AND		CONVERT(DATE,GETDATE()) >= CONVERT(DATE,GRANTLEG.FINALVESTINGDATE) 
						AND		CONVERT(DATE,GETDATE()) <= CONVERT(DATE,GRANTLEG.FINALEXPIRAYDATE)  
						AND		GRANTLEG.GRANTEDOPTIONS - GRANTLEG.UNAPPROVEDEXERCISEQUANTITY >= 0  
						AND		GRANTLEG.STATUS = ''A''
						AND		GRANTLEG.PARENT IN (''{3}'',''{4}'')
						AND		{5} = ''Y'' 
						AND		(GRANTLEG.EXERCISABLEQUANTITY >0 OR GRANTLEG.UNAPPROVEDEXERCISEQUANTITY >0) 		
						GROUP BY 
								GRANTOPTIONS.GRANTOPTIONID, 
								GRANTLEG.ID,
								GRANTLEG.GRANTLEGID, 
								GRANTLEG.GRANTREGISTRATIONID,
								SCHEME.SCHEMETITLE,
								VESTINGPERIOD.FBTVALUE,
								VESTINGPERIOD.OPTIONTIMEPERCENTAGE,
								GRANTREGISTRATION.APPLY_SAR, 
								SCHEME.TRUSTTYPE, 
								SCHEME.ISPAYMENTMODEREQUIRED, 
								SCHEME.PAYMENTMODEEFFECTIVEDATE 
			
				'
	--------------------------------------------------------
	-- CONDITION 1 : SPLIT AND SPLIT
	-- DISPLAYAS ='S' AND DISPLAYSPLIT ='S'
	--------------------------------------------------------
	IF(@DISPLAYAS='S' AND @DISPLAYSPLIT='S')
	BEGIN
		INSERT INTO #TEMP_PUPEXERCISE_NOW
		(
			APPLY_SAR,TRUSTTYPE,SCHEMETYPE,ID,[COUNTER],VESTINGTYPE,GRANTLEGID,PARENT,VESTINGDATE,EXPIRAYDATE,
			GRANTEDOPTIONS,EXERCISABLEQUANTITY,UNAPPROVEDEXERCISEQUANTITY,EXERCISEDQUANTITY,FINALVESTINGDATE,
			FINALEXPIRAYDATE,EXERCISEPRICE,GRANTDATE,GRANTREGISTRATIONID,LOCKINPERIODSTARTSFROM,LOCKINPERIOD,
			OPTIONRATIOMULTIPLIER,OPTIONRATIODIVISOR,SCHEMETITLE,GRANTOPTIONID,OPTIONTIMEPERCENTAGE,FBTVALUE,
			FBTPAYABLE,ISPAYMENTMODEREQUIRED,PAYMENTMODEEFFECTIVEDATE,QUANTITYPENDINGFORAPPROVAL,EXERCISABLESHARES
		)
		SELECT   
				CASE WHEN  GRANTREGISTRATION.APPLY_SAR IS NULL 
						THEN 'N' 
					 ELSE GRANTREGISTRATION.APPLY_SAR   
				END AS APPLY_SAR, 
				SCHEME.TRUSTTYPE,  
				CASE WHEN (SCHEME.TRUSTTYPE='TC' OR SCHEME.TRUSTTYPE='TCLSA' OR SCHEME.TRUSTTYPE='TCLSP' 
							OR SCHEME.TRUSTTYPE='TCLB' OR SCHEME.TRUSTTYPE='TCONLY' OR SCHEME.TRUSTTYPE='TCANDCLSA' 
							OR SCHEME.TRUSTTYPE='TCANDCLSP' OR SCHEME.TRUSTTYPE='TCANDCLB' OR SCHEME.TRUSTTYPE='CCSA' 
							OR SCHEME.TRUSTTYPE='CCSP' OR SCHEME.TRUSTTYPE='CCB' OR SCHEME.TRUSTTYPE='CCNONTCCSA' 
							OR SCHEME.TRUSTTYPE='CCNONTCCB' OR SCHEME.TRUSTTYPE='CCNONTCCSP'  )  
						THEN 'TRUST SCHEME' 
					 ELSE 'NON   "-  " TRUST SCHEME' 
				END AS SCHEMETYPE,  
				GRANTLEG.ID, 
				GRANTLEG.COUNTER, 
				GRANTLEG.VESTINGTYPE, 
				GRANTLEG.GRANTLEGID, 
				GRANTLEG.PARENT,  
				GRANTLEG.VESTINGDATE, 
				GRANTLEG.EXPIRAYDATE,
				GRANTLEG.GRANTEDOPTIONS,  
				GRANTLEG.EXERCISABLEQUANTITY,
				GRANTLEG.UNAPPROVEDEXERCISEQUANTITY,
				GRANTLEG.EXERCISEDQUANTITY,  
				GRANTLEG.FINALVESTINGDATE, 
				GRANTLEG.FINALEXPIRAYDATE, 
				GRANTREGISTRATION.EXERCISEPRICE, 
				GRANTREGISTRATION.GRANTDATE, 
				GRANTLEG.GRANTREGISTRATIONID, 
				SCHEME.LOCKINPERIODSTARTSFROM,  
				SCHEME.LOCKINPERIOD,
				SCHEME.OPTIONRATIOMULTIPLIER,  
				SCHEME.OPTIONRATIODIVISOR,
				SCHEME.SCHEMETITLE,  
				GRANTOPTIONS.GRANTOPTIONID,
				VESTINGPERIOD.OPTIONTIMEPERCENTAGE AS  OPTIONTIMEPERCENTAGE,  
				ISNULL(VESTINGPERIOD.FBTVALUE,0) AS FBTVALUE,
				ROUND(((FBTVALUE-EXERCISEPRICE) * (SELECT FBTAX FROM COMPANYPARAMETERS)/100),2) AS FBTPAYABLE, 
				SCHEME.ISPAYMENTMODEREQUIRED, 
				SCHEME.PAYMENTMODEEFFECTIVEDATE,
				GRANTLEG.UNAPPROVEDEXERCISEQUANTITY,
				ExercisableQuantity
		FROM	GRANTOPTIONS 
				INNER JOIN VESTINGPERIOD  ON GRANTOPTIONS.GRANTREGISTRATIONID=VESTINGPERIOD.GRANTREGISTRATIONID  
				INNER JOIN GRANTLEG ON GRANTLEG.GRANTOPTIONID = GRANTOPTIONS.GRANTOPTIONID 
						AND GRANTLEG.GRANTLEGID=VESTINGPERIOD.VESTINGPERIODNO  
				INNER JOIN EMPLOYEEMASTER EM ON GRANTOPTIONS.EMPLOYEEID = EM.EMPLOYEEID  
				INNER JOIN GRANTREGISTRATION ON GRANTLEG.GRANTREGISTRATIONID = GRANTREGISTRATION.GRANTREGISTRATIONID  
				INNER JOIN SCHEME ON GRANTLEG.SCHEMEID = SCHEME.SCHEMEID  				
		WHERE	SCHEME.ISPUPENABLED=1 
		AND		SCHEME.PUPEXEDPAYOUTPROCESS=1
		AND		EM.LOGINID = @USER_ID  
		AND		CONVERT(DATE,GETDATE()) >= CONVERT(DATE,GRANTLEG.FINALVESTINGDATE) 
		AND		CONVERT(DATE,GETDATE()) <= CONVERT(DATE,GRANTLEG.FINALEXPIRAYDATE) 
		AND		GRANTLEG.GRANTEDOPTIONS - GRANTLEG.UNAPPROVEDEXERCISEQUANTITY >= 0 
		AND		GRANTLEG.STATUS = 'A' 
		AND		(GRANTLEG.EXERCISABLEQUANTITY >0  
		OR		GRANTLEG.UNAPPROVEDEXERCISEQUANTITY >0) 	
		ORDER BY SCHEME.SCHEMEID
	END
	--------------------------------------------------------
	-- CONDITION 2 : CONSOLIDATE AND CONSOLIDATE
	-- DISPLAYAS ='C' AND DISPLAYSPLIT ='C'
	--------------------------------------------------------
	IF(@DISPLAYAS='C' AND @DISPLAYSPLIT='C')
	BEGIN
		INSERT INTO #TEMP_PUPEXERCISE_NOW
		(
			APPLY_SAR,TRUSTTYPE,SCHEMETYPE,GRANTLEGID,VESTINGDATE,
			GRANTEDOPTIONS,EXERCISABLEQUANTITY,UNAPPROVEDEXERCISEQUANTITY,EXERCISEDQUANTITY,FINALVESTINGDATE,
			FINALEXPIRAYDATE,EXERCISEPRICE,GRANTDATE,GRANTREGISTRATIONID,LOCKINPERIODSTARTSFROM,LOCKINPERIOD,
			OPTIONRATIOMULTIPLIER,OPTIONRATIODIVISOR,SCHEMETITLE,GRANTOPTIONID,OPTIONTIMEPERCENTAGE,FBTVALUE,
			FBTPAYABLE,ISPAYMENTMODEREQUIRED,PAYMENTMODEEFFECTIVEDATE,EXERCISABLESHARES,QUANTITYPENDINGFORAPPROVAL
		)
		SELECT 
				CASE WHEN  GRANTREGISTRATION.APPLY_SAR IS NULL 
						THEN 'N' 
					 ELSE GRANTREGISTRATION.APPLY_SAR   
				END AS APPLY_SAR, 
				SCHEME.TRUSTTYPE,  
				CASE WHEN (
							SCHEME.TRUSTTYPE='TC' OR SCHEME.TRUSTTYPE='TCLSA' OR SCHEME.TRUSTTYPE='TCLSP' 
							OR SCHEME.TRUSTTYPE='TCLB' OR SCHEME.TRUSTTYPE='TCONLY' OR SCHEME.TRUSTTYPE='TCANDCLSA' 
							OR SCHEME.TRUSTTYPE='TCANDCLSP' OR SCHEME.TRUSTTYPE='TCANDCLB' OR SCHEME.TRUSTTYPE='CCSA' 
							OR SCHEME.TRUSTTYPE='CCSP' OR SCHEME.TRUSTTYPE='CCB' OR SCHEME.TRUSTTYPE='CCNONTCCSA' 
							OR SCHEME.TRUSTTYPE='CCNONTCCB' OR SCHEME.TRUSTTYPE='CCNONTCCSP'  
						  )  
							THEN 'TRUST SCHEME'	
					 ELSE 'NON    -    TRUST SCHEME'	
				END AS SCHEMETYPE, 
				GRANTLEG.GRANTLEGID,
				MIN(GRANTLEG.VESTINGDATE) AS VESTINGDATE,				
				SUM(GRANTLEG.GRANTEDOPTIONS) AS GRANTEDOPTIONS,  
				SUM(GRANTLEG.EXERCISABLEQUANTITY) AS EXERCISABLEQUANTITY,
				SUM(GRANTLEG.UNAPPROVEDEXERCISEQUANTITY) AS UNAPPROVEDEXERCISEQUANTITY, 
				SUM(GRANTLEG.EXERCISEDQUANTITY) AS EXERCISEDQUANTITY, 
				MIN(GRANTLEG.FINALVESTINGDATE) AS FINALVESTINGDATE, 
				MAX(GRANTLEG.FINALEXPIRAYDATE) AS FINALEXPIRAYDATE,  
				MAX(GRANTREGISTRATION.EXERCISEPRICE) AS EXERCISEPRICE,
				MAX(GRANTREGISTRATION.GRANTDATE) AS GRANTDATE, 
				MIN(GRANTLEG.GRANTREGISTRATIONID) AS GRANTREGISTRATIONID,
				MAX(SCHEME.LOCKINPERIODSTARTSFROM) AS LOCKINPERIODSTARTSFROM,  
				MAX(SCHEME.LOCKINPERIOD) AS LOCKINPERIOD,
				MAX(SCHEME.OPTIONRATIOMULTIPLIER) AS OPTIONRATIOMULTIPLIER, 
				MAX(SCHEME.OPTIONRATIODIVISOR) AS OPTIONRATIODIVISOR,  
				SCHEME.SCHEMETITLE,
				GRANTOPTIONS.GRANTOPTIONID,
				VESTINGPERIOD.OPTIONTIMEPERCENTAGE  AS  OPTIONTIMEPERCENTAGE, 
				ISNULL(VESTINGPERIOD.FBTVALUE,0) AS FBTVALUE,
				ROUND(((FBTVALUE-MAX(EXERCISEPRICE)) * (SELECT FBTAX FROM COMPANYPARAMETERS)/100),2) AS FBTPAYABLE,  				
				SCHEME.ISPAYMENTMODEREQUIRED, 
				CONVERT(DATE,SCHEME.PAYMENTMODEEFFECTIVEDATE),
				SUM(GRANTLEG.EXERCISABLEQUANTITY)*MAX(SCHEME.OPTIONRATIODIVISOR)/MAX(SCHEME.OPTIONRATIOMULTIPLIER),
				SUM(GRANTLEG.UNAPPROVEDEXERCISEQUANTITY)				  
		FROM	GRANTOPTIONS 
				INNER JOIN VESTINGPERIOD  ON GRANTOPTIONS.GRANTREGISTRATIONID=VESTINGPERIOD.GRANTREGISTRATIONID  
				INNER JOIN GRANTLEG ON GRANTLEG.GRANTOPTIONID = GRANTOPTIONS.GRANTOPTIONID 
						AND GRANTLEG.GRANTLEGID=VESTINGPERIOD.VESTINGPERIODNO  
				INNER JOIN EMPLOYEEMASTER EM ON GRANTOPTIONS.EMPLOYEEID = EM.EMPLOYEEID  
				INNER JOIN GRANTREGISTRATION ON GRANTLEG.GRANTREGISTRATIONID = GRANTREGISTRATION.GRANTREGISTRATIONID  
				INNER JOIN SCHEME ON GRANTLEG.SCHEMEID = SCHEME.SCHEMEID  
		WHERE	SCHEME.IsPUPEnabled=1 
		AND		SCHEME.PUPExedPayoutProcess=1
		AND		EM.LOGINID = @USER_ID  
		AND		CONVERT(DATE,GETDATE()) >= CONVERT(DATE,GRANTLEG.FINALVESTINGDATE) 
		AND		CONVERT(DATE,GETDATE()) <= CONVERT(DATE,GRANTLEG.FINALEXPIRAYDATE)  
		AND		(GRANTLEG.GRANTEDOPTIONS) - (GRANTLEG.UNAPPROVEDEXERCISEQUANTITY) >= 0  
		AND		GRANTLEG.STATUS = 'A' 
		AND		(GRANTLEG.EXERCISABLEQUANTITY >0  
		OR		GRANTLEG.UNAPPROVEDEXERCISEQUANTITY >0) 
		GROUP BY
				GRANTOPTIONS.GRANTOPTIONID,
				SCHEME.TRUSTTYPE, 
				GRANTREGISTRATION.APPLY_SAR, 
				GRANTLEG.GRANTLEGID, 
				SCHEME.SCHEMETITLE,
				VESTINGPERIOD.FBTVALUE,
				VESTINGPERIOD.OPTIONTIMEPERCENTAGE, 
				SCHEME.ISPAYMENTMODEREQUIRED, 
				SCHEME.PAYMENTMODEEFFECTIVEDATE 
		ORDER BY
				SCHEME.SCHEMETITLE
	END
	--------------------------------------------------------
	-- CONDITION 3 : CONSOLIDATE AND SPLIT
	-- DISPLAYAS ='C' AND DISPLAYSPLIT ='S'
	--------------------------------------------------------
	IF ((@DISPLAYAS='C') AND (@DISPLAYSPLIT='S'))
	BEGIN
		SELECT @BONUS_WHERE_CLAUSE =
			REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@SELECT_QUERY,'{0}','CASE WHEN  GRANTREGISTRATION.APPLY_SAR IS NULL 
									THEN ''N'' 
							 ELSE GRANTREGISTRATION.APPLY_SAR   
						END '),'{1}','OB'),'{2}',@USER_ID),'{3}','N'),'{4}','B'),'{5}','GRANTLEG.ISORIGINAL')
				+ ' UNION ALL ' +
				REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@SELECT_QUERY,'{0}','GRANTREGISTRATION.APPLY_SAR'),
						'{1}','SB'),'{2}',@USER_ID),'{3}','S'),'{4}','B'),'{5}','GRANTLEG.ISSPLIT')
				+' ORDER BY SCHEME.SCHEMETITLE '
				
		INSERT INTO #TEMP_PUPEXERCISE_NOW
		(
			APPLY_SAR,TRUSTTYPE,SCHEMETYPE,VESTINGDATE,GRANTEDOPTIONS,EXERCISABLEQUANTITY,UNAPPROVEDEXERCISEQUANTITY,
			FINALVESTINGDATE,FINALEXPIRAYDATE,EXERCISEPRICE,GRANTDATE,LOCKINPERIODSTARTSFROM,LOCKINPERIOD,			
			OPTIONRATIOMULTIPLIER,OPTIONRATIODIVISOR,EXERCISEDQUANTITY,FBTVALUE,FBTPAYABLE,GRANTOPTIONID,ID,GRANTLEGID,
			GRANTREGISTRATIONID,SCHEMETITLE,PARENT,OPTIONTIMEPERCENTAGE,ISPAYMENTMODEREQUIRED,PAYMENTMODEEFFECTIVEDATE,
			QUANTITYPENDINGFORAPPROVAL, EXERCISABLESHARES
		)
		EXECUTE (@BONUS_WHERE_CLAUSE)
	END
	--------------------------------------------------------
	-- CONDITION 4 : SPLIT AND CONSOLIDATE
	-- DISPLAYAS ='S' AND DISPLAYSPLIT ='C'
	--------------------------------------------------------
	IF ((@DISPLAYAS='S') AND (@DISPLAYSPLIT='C'))
	BEGIN
		SELECT @SPLIT_WHERE_CLAUSE = 
				REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@SELECT_QUERY,'{0}',
							'CASE WHEN  GRANTREGISTRATION.APPLY_SAR IS NULL 
										THEN ''N'' 
									ELSE GRANTREGISTRATION.APPLY_SAR   
							END '),'{1}','OS'),'{2}',@USER_ID),'{3}','N'),'{4}','S'),'{5}','GRANTLEG.ISORIGINAL')
				+ ' UNION ALL ' +
				REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(@SELECT_QUERY,'{0}','GRANTREGISTRATION.APPLY_SAR'),
						'{1}','BS'),'{2}',@USER_ID),'{3}','B'),'{4}','S'),'{5}','GRANTLEG.ISBONUS') 
				+' ORDER BY SCHEME.SCHEMETITLE	'
				
		INSERT INTO #TEMP_PUPEXERCISE_NOW
		(
			APPLY_SAR,TRUSTTYPE,SCHEMETYPE,VESTINGDATE,GRANTEDOPTIONS,EXERCISABLEQUANTITY,UNAPPROVEDEXERCISEQUANTITY,
			FINALVESTINGDATE,FINALEXPIRAYDATE,EXERCISEPRICE,GRANTDATE,LOCKINPERIODSTARTSFROM,LOCKINPERIOD,			
			OPTIONRATIOMULTIPLIER,OPTIONRATIODIVISOR,EXERCISEDQUANTITY,FBTVALUE,FBTPAYABLE,GRANTOPTIONID,ID,GRANTLEGID,
			GRANTREGISTRATIONID,SCHEMETITLE,PARENT,OPTIONTIMEPERCENTAGE,ISPAYMENTMODEREQUIRED,PAYMENTMODEEFFECTIVEDATE,
			QUANTITYPENDINGFORAPPROVAL, EXERCISABLESHARES
		)
		EXECUTE (@SPLIT_WHERE_CLAUSE)
	END
	SELECT	APPLY_SAR,TRUSTTYPE,SCHEMETYPE,ID,[COUNTER],VESTINGTYPE,GRANTLEGID,PARENT,VESTINGDATE,EXPIRAYDATE,
			GRANTEDOPTIONS,EXERCISABLEQUANTITY,UNAPPROVEDEXERCISEQUANTITY,EXERCISEDQUANTITY,FINALVESTINGDATE,
			FINALEXPIRAYDATE,EXERCISEPRICE,GRANTDATE,GRANTREGISTRATIONID,LOCKINPERIODSTARTSFROM,LOCKINPERIOD,
			OPTIONRATIOMULTIPLIER,OPTIONRATIODIVISOR,SCHEMETITLE,GRANTOPTIONID,OPTIONTIMEPERCENTAGE,FBTVALUE,
			FBTPAYABLE,ISPAYMENTMODEREQUIRED,PAYMENTMODEEFFECTIVEDATE,QUANTITYPENDINGFORAPPROVAL,EXERCISABLESHARES,
			LOCKEDINTILL
	FROM #TEMP_PUPEXERCISE_NOW
END
GO
