/****** Object:  StoredProcedure [dbo].[PROC_TENTATIVETAX_ALL_COUNTRY]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_TENTATIVETAX_ALL_COUNTRY]
GO
/****** Object:  StoredProcedure [dbo].[PROC_TENTATIVETAX_ALL_COUNTRY]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_TENTATIVETAX_ALL_COUNTRY]
(
	 @MIT_ID				INT = NULL,
	 @EmployeeID			VARCHAR(20) = NULL,
     @FMV					NUMERIC(18, 6) =NULL,
	 @Total_Perk_Value		NUMERIC(18, 6) =NULL,	 
	 @EVENT_OF_INCIDENCE	INT	 =NULL,
	 @GRANT_DATE			DATETIME =NULL,
	 @VESTING_DATE			DATETIME =NULL,
	 @EXERCISE_DATE			DateTime =NULL,
	 @TYPE_EMPLOYEE_DETAILS  dbo.TYPE_PERQ_TAX_VALUE READONLY
)
AS
BEGIN      
       
 SET NOCOUNT ON;      
       
 Declare @Employee_ID NVARCHAR(250)      
       
 Select Top 1 @Employee_ID=EmployeeID from EmployeeMaster      
 Where LoginID=@EmployeeID      
 Order by LastUpdatedOn desc      
      
 SET @EmployeeID=@Employee_ID       
       
    DECLARE @EXCEPT_FOR_TAXRATE_VAL INT      
 DECLARE @EXCEPT_FOR_TAXRATE NVARCHAR(50)      
 DECLARE @IS_TAXRATE_ACTIVE INT      
 DECLARE @IS_TAXRATEEXCEPTION_ACTIVE INT      
 DECLARE @TAX_IDENTIFIER_COUNTRY NVARCHAR(50)      
 DECLARE @TAX_IDENTIFIER_STATE NVARCHAR(50)      
 DECLARE @DateOfTermination NVARCHAR(50)      
 DECLARE @COUNTRY_CATEGORY_PROPORT VARCHAR(50)      
 DECLARE @FROM_DATE_TAX DATETIME,@TO_DATE_TAX DATETIME,@GRANTLEGSERIAL_NO BIGINT ,@STOCKVALUE NUMERIC(18,9)     
    ---- CREATE TEMP TABLE --             
  CREATE TABLE #TEMP_TAX_COUNTRY_DAYS      
 (        
  ID INT IDENTITY(1,1) NOT NULL , INSTRUMENT_ID BIGINT,EMPLOYEE_ID VARCHAR(50),COUNTRY_ID INT,GRANTOPTIONID VARCHAR(50),TOT_DAYS FLOAT NULL,GRANTLEGSERIALNO BIGINT       
    ,FROM_DATE DATETIME,TO_DATE DATETIME  ,STOCKVALUE NUMERIC(18,9)        
 )          
           
           
   CREATE TABLE #TEMP_TAX_COUNTRY_DAYS_1      
 (        
  ID INT IDENTITY(1,1) NOT NULL , INSTRUMENT_ID BIGINT,EMPLOYEE_ID VARCHAR(50),COUNTRY_ID INT,GRANTOPTIONID VARCHAR(50),TOT_DAYS numeric(18,9),GRANTLEGSERIALNO BIGINT       
    ,FROM_DATE DATETIME,TO_DATE DATETIME,STOCKVALUE NUMERIC(18,9)          
 )            
     SELECT @EXCEPT_FOR_TAXRATE= CM.EXCEPT_FOR_TAXRATE,@EXCEPT_FOR_TAXRATE_VAL= CM.EXCEPT_FOR_TAXRATE_VAL,      
   @TAX_IDENTIFIER_COUNTRY=EM.TAX_IDENTIFIER_COUNTRY,@TAX_IDENTIFIER_STATE=EM.TAX_IDENTIFIER_STATE,      
   @DateOfTermination=EM.DATEOFTERMINATION,@COUNTRY_CATEGORY_PROPORT = COUNTRY_CATEGORY_PROPORT      
     FROM COMPANY_INSTRUMENT_MAPPING CM CROSS JOIN EmployeeMaster EM WHERE CM.MIT_ID = @MIT_ID AND EM.EmployeeID = @EmployeeID       
        
       SELECT @GRANTLEGSERIAL_NO=GRANTLEGSERIALNO , @STOCKVALUE = STOCKVALUE  FROM @TYPE_EMPLOYEE_DETAILS WHERE       
       INSTRUMENT_ID = @MIT_ID AND  EMPLOYEE_ID = @EmployeeID      
         
     IF(@EXCEPT_FOR_TAXRATE_VAL ='1')      
       BEGIN                 
   IF(@EXCEPT_FOR_TAXRATE='R')      
   BEGIN      
          
    DECLARE @ResidentStatus NVARCHAR(10)      
    SELECT @ResidentStatus=ResidentialStatus FROM EmployeeMaster WHERE EmployeeID=@EmployeeID      
          
          
    IF EXISTS      
    (      
     SELECT TR.TRSC_ID       
     FROM   TAX_RATE_SETTING_CONFIG TR       
     INNER Join  MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID=TR.Tax_Head_Id      
     INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID       
     INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID AND RT.ResidentialStatus=@ResidentStatus CROSS JOIN  EMPLOYEEMASTER EM       
     WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID      
     AND TR.IS_TAXRATEAPPLICABLE=1  AND TAX_RATE_STATUS_DETAILS=1       
    )      
    BEGIN      
        
    IF(LEN(ISNULL(@DateOfTermination,''))<=0)      
     BEGIN      
           
          
     SELECT   MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, RT.[Description] AS RESIDENT_STATUS,      
       dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_LIVE_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
       '' AS Country, EM.TAX_IDENTIFIER_STATE AS [STATE],'Resident' AS BASISOFTAXATION,      
       dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, ((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END )) AS TOTAL_PERK_VALUE      
            ,0 AS COUNTRY_ID,'' As FROM_DATE,'' as TO_DATE ,0 as GRANTLEGSERIALNO,TAXCALCULATION_BASEDON   
                 
     FROM        TAX_RATE_SETTING_CONFIG TR       
     INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID       
     INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID      
     INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EmployeeMaster EM                    
     WHERE       TR.MIT_ID = @MIT_ID AND EM.EMPLOYEEID = @EmployeeID AND RT.ResidentialStatus = @ResidentStatus  AND TR.TAX_RATE_STATUS_DETAILS = 1           
      
           
                
        END               
    ELSE      
    BEGIN        
               
      SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,RT.[Description] AS RESIDENT_STATUS,      
        '' AS Country, EM.TAX_IDENTIFIER_STATE AS [STATE],      
        dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_SEPRATED_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,0)=0 OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
            'Resident' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV,       
            dbo.FN_PQ_TAX_ROUNDING((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END )) AS TOTAL_PERK_VALUE ,0 AS COUNTRY_ID,'' As FROM_DATE,'' as TO_DATE ,0 as GRANTLEGSERIALNO      
              ,TAXCALCULATION_BASEDON    
                  
      FROM        TAX_RATE_SETTING_CONFIG TR       
      INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID       
      INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID      
      INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EMPLOYEEMASTER EM       
      WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID      
       AND RT.ResidentialStatus = @ResidentStatus                
          
           
    END       
    END      
    ELSE      
    BEGIN      
     -- company level status      
     SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,'' AS RESIDENT_STATUS,      
      '' AS Country, '' AS [STATE],dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_SEPRATED_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
        'Company Level' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END )) AS TOTAL_PERK_VALUE,0 AS COUNTRY_ID,      
        '' As FROM_DATE,'' as TO_DATE ,0 as GRANTLEGSERIALNO,TAXCALCULATION_BASEDON    
                    
      FROM    TAX_RATE_SETTING_CONFIG TR       
        INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID      
        INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EMPLOYEEMASTER EM       
      WHERE   TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0                
          
    END      
   END       
   ELSE IF(@EXCEPT_FOR_TAXRATE='C')      
   BEGIN      
    --change by Amit      
    -- Check for employee country      
    -- Get country on event of incidence of perquisite value       
               
    DECLARE @Country_ID NVARCHAR(50)      
    DECLARE @Country_Name NVARCHAR(250)       
    DECLARE @EventOfIncidence NVARCHAR(50)       
    DECLARE @INCIDENCEDATE DATETIME      
    --DECLARE @GRANTDATE DATETIME ,@VESTINGDATE DATETIME ,@EXERCISE_DATE DATETIME         
          
    SELECT @EventOfIncidence = CODE_NAME FROM MST_COM_CODE  WHERE MCC_ID = @Event_OF_INCIDENCE      
    --SELECT @GRANTDATE = GRANTDATE,@VESTINGDATE = VESTINGDATE,@EXERCISE_DATE = EXERCISE_DATE FROM @EMPLOYEE_DETAILS WHERE INSTRUMENT_ID = @MIT_ID      
              
    IF(@EventOfIncidence = 'Grant Date')          
     SET  @INCIDENCEDATE = @GRANT_DATE                       
    ELSE IF(@EventOfIncidence = 'Vesting Date')           
     SET  @INCIDENCEDATE = @VESTING_DATE          
    ELSE IF(@EventOfIncidence = 'Exercise Date')          
     SET  @INCIDENCEDATE = @EXERCISE_DATE      
      
          
    print @INCIDENCEDATE       
    CREATE TABLE #TempMobility_Tracking      
    ( ID BIGINT,      
     Country NVARCHAR(250),      
     FromDate DATETIME,      
     Todate DATETIME      
    )        
          
    IF(UPPER(@COUNTRY_CATEGORY_PROPORT) = 'AC')      
    BEGIN      
      print 'All Country'      
        INSERT INTO #TEMP_TAX_COUNTRY_DAYS_1(INSTRUMENT_ID,EMPLOYEE_ID,COUNTRY_ID,GRANTOPTIONID,TOT_DAYS,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,STOCKVALUE  )      
        SELECT INSTRUMENT_ID,EMPLOYEE_ID,COUNTRY_ID,GRANTOPTIONID,TOT_DAYS   ,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,STOCKVALUE FROM @TYPE_EMPLOYEE_DETAILS      
               
        INSERT INTO #TEMP_TAX_COUNTRY_DAYS(INSTRUMENT_ID,EMPLOYEE_ID,COUNTRY_ID,GRANTOPTIONID,TOT_DAYS,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,STOCKVALUE)      
        SELECT INSTRUMENT_ID,EMPLOYEE_ID,COUNTRY_ID,GRANTOPTIONID,  dbo.FN_GET_COMPANY_DECIMAL_SETTING(TOT_DAYS ,'TAXVALUE') as TOT_DAYS   ,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,STOCKVALUE FROM #TEMP_TAX_COUNTRY_DAYS_1      
      
    END       
    ELSE      
    BEGIN      
     print 'Date of incidence'      
     INSERT INTO #TempMobility_Tracking(ID,Country,FromDate,Todate)      
     EXEC PROC_GET_MOBILITY_DETAILS @EmployeeID, @INCIDENCEDATE,@INCIDENCEDATE          
           
    END      
          
          
          
    IF(UPPER(@COUNTRY_CATEGORY_PROPORT) = 'AC')      
    BEGIN      
     --Select 'All country'      
     IF EXISTS (Select * From #TEMP_TAX_COUNTRY_DAYS)      
     BEGIN      
      -- Apply tax rate      
      CREATE TABLE #TempTax_Details      
      (      
       TAX_HEADING nvarchar(50),      
       TAX_RATE FLOAT,      
       RESIDENT_STATUS NVARCHAR(250),      
       TAX_AMOUNT Float, Country NVARCHAR(250) ,      
       [STATE] NVARCHAR(250),BASISOFTAXATION NVARCHAR(250),FMV NVARCHAR(250),TOTAL_PERK_VALUE FLOAT,      
       COUNTRY_ID INT,GRANTLEGSERIALNO BIGINT,FROM_DATE DATETIME,TO_DATE DATETIME ,TAXCALCULATION_BASEDON VARCHAR(50)    
      )      
            
      DECLARE @MINVALUE INT      
      Declare @MaxValue INT      
            
      Select @MINVALUE=MIN(ID)From #TEMP_TAX_COUNTRY_DAYS      
      Select @MaxValue=MAX(ID)From #TEMP_TAX_COUNTRY_DAYS        
           
      DECLARE @IS_COMPANY_LEVEL INT            
      SET @IS_COMPANY_LEVEL = 0      
            
      WHILE(@MINVALUE<=@MAXVALUE)      
      BEGIN      
        SELECT @Country_ID=COUNTRY_ID,@GRANTLEGSERIAL_NO = GRANTLEGSERIALNO,@FROM_DATE_TAX = FROM_DATE ,@TO_DATE_TAX = TO_DATE FROM #TEMP_TAX_COUNTRY_DAYS      
        WHERE ID=@MINVALUE      
        -- Check for all country      
        IF(@Country_ID >0)      
        BEGIN      
                
        IF EXISTS(Select TR.TRSC_ID FRom TAX_RATE_SETTING_CONFIG TR  INNER JOIN TAX_RATE_EMP_MAP TRM ON TR.TRSC_ID=TRM.TRSC_ID AND TRM.Employee_ID=@EmployeeID WHERE COUNTRY_ID=@Country_ID AND MIT_ID=@MIT_ID )      
        BEGIN       
        Print ' tax found on date of incidence'          
          -- Set For country level      
         IF(LEN(ISNULL(@DateOfTermination,''))<=0)      
          BEGIN      
                                       --Live              
         
          INSERT INTO #TempTax_Details(TAX_HEADING,TAX_RATE,RESIDENT_STATUS,TAX_AMOUNT,Country,[STATE],BASISOFTAXATION,FMV,TOTAL_PERK_VALUE,COUNTRY_ID,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,TAXCALCULATION_BASEDON)      
          SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TRM.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,      
            dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TRM.TAXRATE_LIVE_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN TAXD.TOT_DAYS ELSE TAXD.STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
            CM.CountryName AS Country, EM.TAX_IDENTIFIER_STATE AS [STATE],'Country Level' AS BASISOFTAXATION,      
            dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV,dbo.FN_GET_COMPANY_DECIMAL_SETTING( (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN TAXD.TOT_DAYS ELSE TAXD.STOCKVALUE END ),'TAXVALUE') AS TOTAL_PERK_VALUE,      
            CM.ID,TAXD.GRANTLEGSERIALNO,TAXD.FROM_DATE,TAXD.TO_DATE ,TAXCALCULATION_BASEDON     
                       
          FROM        TAX_RATE_SETTING_CONFIG TR       
          INNER JOIN  COMPANY_INSTRUMENT_MAPPING CIM ON TR.MIT_ID=CIM.MIT_ID       
          INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID=TR.Tax_Head_Id      
          INNER JOIN  COUNTRYMASTER CM ON CM.ID=TR.COUNTRY_ID      
          INNER JOIN #TEMP_TAX_COUNTRY_DAYS AS TAXD ON CM.ID=TAXD.COUNTRY_ID  AND CM.ID =@Country_ID AND TAXD.ID=@MINVALUE      
          INNER JOIN TAX_RATE_EMP_MAP TRM ON TR.TRSC_ID=TRM.TRSC_ID AND TRM.Employee_ID=@EmployeeID      
          INNER JOIN EmployeeMaster EM  ON EM.EmployeeID= TRM.EMPLOYEE_ID                    
          WHERE       TR.MIT_ID = @MIT_ID AND EM.EMPLOYEEID = @EmployeeID AND CM.ID=@Country_ID      
                
           END               
          ELSE      
          BEGIN  

            INSERT INTO #TempTax_Details(TAX_HEADING,TAX_RATE,RESIDENT_STATUS,TAX_AMOUNT,Country,[STATE],BASISOFTAXATION,FMV,TOTAL_PERK_VALUE,COUNTRY_ID,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,TAXCALCULATION_BASEDON)      
            SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TRM.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,'' AS RESIDENT_STATUS,      
              CM.CountryName AS Country, EM.TAX_IDENTIFIER_STATE AS [STATE],      
              dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TRM.TAXRATE_SEPRATED_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN TAXD.TOT_DAYS ELSE TAXD.STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
                  'Country Level' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV,       
                  dbo.FN_GET_COMPANY_DECIMAL_SETTING((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN TAXD.TOT_DAYS ELSE TAXD.STOCKVALUE END ),'TAXVALUE') AS TOTAL_PERK_VALUE,CM.ID,TAXD.GRANTLEGSERIALNO,TAXD.FROM_DATE,TAXD.TO_DATE,TAXCALCULATION_BASEDON      
                        
            FROM        TAX_RATE_SETTING_CONFIG TR       
            INNER JOIN  COMPANY_INSTRUMENT_MAPPING CIM ON TR.MIT_ID=CIM.MIT_ID       
            INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID=TR.Tax_Head_Id      
            INNER JOIN  COUNTRYMASTER CM ON CM.ID=TR.COUNTRY_ID      
            INNER JOIN #TEMP_TAX_COUNTRY_DAYS AS TAXD ON CM.ID=TAXD.COUNTRY_ID  AND CM.ID =@Country_ID AND TAXD.ID=@MINVALUE      
            INNER JOIN TAX_RATE_EMP_MAP TRM ON TR.TRSC_ID=TRM.TRSC_ID AND TRM.Employee_ID=@EmployeeID      
            INNER JOIN EmployeeMaster EM  ON EM.EmployeeID= TRM.EMPLOYEE_ID       
            WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID AND CM.ID=@Country_ID      
                  
             END      
              
        END           
        ELSE      
        BEGIN          
          /*print 'company level'*/      
          IF(@IS_COMPANY_LEVEL=0)      
          BEGIN                              
           IF(LEN(ISNULL(@DateOfTermination,''))<=0)      
          BEGIN      
           INSERT INTO #TempTax_Details(TAX_HEADING,TAX_RATE,RESIDENT_STATUS,TAX_AMOUNT,Country,[STATE],BASISOFTAXATION,FMV,TOTAL_PERK_VALUE,COUNTRY_ID,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,TAXCALCULATION_BASEDON)      
           SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,      
             dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_LIVE_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
             '' AS Country, '' AS [STATE],'Company Level' AS BASISOFTAXATION,      
             dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_GET_COMPANY_DECIMAL_SETTING((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ),'TAXVALUE') AS TOTAL_PERK_VALUE,0      
                  ,@GRANTLEGSERIAL_NO,NULL,NULL ,TAXCALCULATION_BASEDON     
           FROM        TAX_RATE_SETTING_CONFIG TR       
           INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID      
           INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EmployeeMaster EM             
           --INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID                   
           WHERE       TR.MIT_ID = @MIT_ID AND EM.EMPLOYEEID = @EmployeeID  AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0        
                  
          END               
          ELSE      
          BEGIN           
           INSERT INTO #TempTax_Details(TAX_HEADING,TAX_RATE,RESIDENT_STATUS,TAX_AMOUNT,Country,[STATE],BASISOFTAXATION,FMV,TOTAL_PERK_VALUE,COUNTRY_ID,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,TAXCALCULATION_BASEDON)      
           SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,'' AS RESIDENT_STATUS,      
           '' AS Country, '' AS [STATE],dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_SEPRATED_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
           'Company Level' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END )) AS TOTAL_PERK_VALUE,0      
               ,@GRANTLEGSERIAL_NO,NULL,NULL,TAXCALCULATION_BASEDON           
           FROM    TAX_RATE_SETTING_CONFIG TR       
             INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID      
             INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EMPLOYEEMASTER EM       
             --INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID      
             WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0                
             END       
              SET @IS_COMPANY_LEVEL=1      
          END       
        END --End IS Exist if      
        END -- End if country Id >0      
        ELSE      
        BEGIN      
               
         /*print 'company level'*/      
         /*Print @IS_COMPANY_LEVEL*/      
         IF(@IS_COMPANY_LEVEL=0)      
         BEGIN            
          IF(LEN(ISNULL(@DateOfTermination,''))<=0)      
           BEGIN      
            INSERT INTO #TempTax_Details(TAX_HEADING,TAX_RATE,RESIDENT_STATUS,TAX_AMOUNT,Country,[STATE],BASISOFTAXATION,FMV,TOTAL_PERK_VALUE,COUNTRY_ID,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,TAXCALCULATION_BASEDON)      
            SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,      
              dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_LIVE_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
              '' AS Country, '' AS [STATE],'Company Level' AS BASISOFTAXATION,      
              dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_GET_COMPANY_DECIMAL_SETTING((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ),'TAXVALUE') AS TOTAL_PERK_VALUE,0      
                  ,@GRANTLEGSERIAL_NO,NULL,NULL ,TAXCALCULATION_BASEDON      
            FROM        TAX_RATE_SETTING_CONFIG TR       
            INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID      
            INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EmployeeMaster EM             
            --INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID                   
            WHERE       TR.MIT_ID = @MIT_ID AND EM.EMPLOYEEID = @EmployeeID  AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0        
                   
           END               
           ELSE      
           BEGIN           
             INSERT INTO #TempTax_Details(TAX_HEADING,TAX_RATE,RESIDENT_STATUS,TAX_AMOUNT,Country,[STATE],BASISOFTAXATION,FMV,TOTAL_PERK_VALUE,COUNTRY_ID,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,TAXCALCULATION_BASEDON)      
             SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,'' AS RESIDENT_STATUS,      
             '' AS Country, '' AS [STATE],dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_SEPRATED_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
             'Company Level' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END )) AS TOTAL_PERK_VALUE,0      
               ,@GRANTLEGSERIAL_NO,NULL,NULL,TAXCALCULATION_BASEDON             
             FROM    TAX_RATE_SETTING_CONFIG TR       
             INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID      
             INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EMPLOYEEMASTER EM       
             --INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID      
             WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0                
           END      
          SET @IS_COMPANY_LEVEL=1       
               
         END                   
              
              
        END      
             
        SET @MINVALUE=@MINVALUE+1      
            
      END           
            
      --SELECT * from #TEMPTAX_DETAILS      
     END      
     ELSE      
     BEGIN      
        print 'pppppppppp'      
        IF(@IS_COMPANY_LEVEL=0)      
        BEGIN            
        IF(LEN(ISNULL(@DateOfTermination,''))<=0)      
         BEGIN      
          INSERT INTO #TempTax_Details(TAX_HEADING,TAX_RATE,RESIDENT_STATUS,TAX_AMOUNT,Country,[STATE],BASISOFTAXATION,FMV,TOTAL_PERK_VALUE,COUNTRY_ID,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,TAXCALCULATION_BASEDON)      
          SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,      
            dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_LIVE_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
            '' AS Country, '' AS [STATE],'Company Level' AS BASISOFTAXATION,      
            dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_GET_COMPANY_DECIMAL_SETTING((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ),'TAXVALUE') AS TOTAL_PERK_VALUE,0      
                ,@GRANTLEGSERIAL_NO,NULL,NULL ,TAXCALCULATION_BASEDON      
          FROM        TAX_RATE_SETTING_CONFIG TR       
          INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID      
          INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EmployeeMaster EM             
          --INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID                   
          WHERE       TR.MIT_ID = @MIT_ID AND EM.EMPLOYEEID = @EmployeeID  AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0        
                 
         END               
         ELSE      
         BEGIN           
           INSERT INTO #TempTax_Details(TAX_HEADING,TAX_RATE,RESIDENT_STATUS,TAX_AMOUNT,Country,[STATE],BASISOFTAXATION,FMV,TOTAL_PERK_VALUE,COUNTRY_ID,GRANTLEGSERIALNO,FROM_DATE,TO_DATE,TAXCALCULATION_BASEDON)      
           SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,'' AS RESIDENT_STATUS,      
           '' AS Country, '' AS [STATE],dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_SEPRATED_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
           'Company Level' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END )) AS TOTAL_PERK_VALUE,0      
             ,@GRANTLEGSERIAL_NO,NULL,NULL,TAXCALCULATION_BASEDON            
           FROM    TAX_RATE_SETTING_CONFIG TR       
           INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID      
           INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EMPLOYEEMASTER EM       
           --INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID      
           WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0                
         END       
        SET @IS_COMPANY_LEVEL=1       
        END       
           
     END      
     SELECT * from #TEMPTAX_DETAILS      
    END      
    ELSE      
    BEGIN      
     -- DATE OF INCIDENCE       
          
     IF EXISTS(SELECT * FROM #TempMobility_Tracking)             
          
     BEGIN      
      Print 'tracking'      
      Select @Country_ID=ID,@Country_Name=Country,@FROM_DATE_TAX = FromDate,@TO_DATE_TAX = iSNULL(Todate,GETDATE()) From #TempMobility_Tracking       
      SELECT @Country_ID=ID,@Country_Name=CountryName FROM CountryMaster      
      WHERE CountryName in(SELECT top(1) [Moved To] FROM AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD WHERE EmployeeId=@EmployeeID AND UPPER(Field) =UPPER('Tax Identifier Country') AND  CONVERT(date,[From Date of Movement])=CONVERT(date,@INCIDENCEDATE) ORDER BY SRNO   DESC )        
      Print @Country_ID      
     END      
     ELSE      
     BEGIN       
     Print 'No tracking'        
      IF EXISTS(SELECT TAX_IDENTIFIER_COUNTRY FROM EmployeeMaster WHERE EmployeeId=@EmployeeID AND Len(TAX_IDENTIFIER_COUNTRY)>0 )      
      BEGIN      
       print 'tax country'      
       SELECT @Country_ID=TAX_IDENTIFIER_COUNTRY  FROM EmployeeMaster WHERE EmployeeId=@EmployeeID        
       print @Country_ID      
        SELECT @Country_Name=CountryName From CountryMaster      
        Where ID=@Country_ID      
             
      END       
      ELSE      
      BEGIN      
      print 'No tax country'      
       SELECT @Country_ID=ID,@Country_Name=CountryName FROM CountryMaster      
       WHERE CountryAliasName in(SELECT CountryName FROM EmployeeMaster WHERE EmployeeId=@EmployeeID )       
             
       print @Country_ID      
      END       
             
     END      
     --Select @Country_ID      
     print @Country_ID      
     IF(@Country_ID >0)      
     BEGIN      
        PRINT 'ABCD'      
             
     IF EXISTS(Select TR.TRSC_ID FRom TAX_RATE_SETTING_CONFIG TR  INNER JOIN TAX_RATE_EMP_MAP TRM ON TR.TRSC_ID=TRM.TRSC_ID AND TRM.Employee_ID=@EmployeeID WHERE COUNTRY_ID=@Country_ID AND MIT_ID=@MIT_ID)      
     BEGIN       
      Print ' tax found on date of incidence'          
       -- Set For country level      
      IF(LEN(ISNULL(@DateOfTermination,''))<=0)      
       BEGIN      
        --Live          
       print '@DateOfTermination 1'      
       SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TRM.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,      
         dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TRM.TAXRATE_LIVE_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
         @Country_Name AS Country, EM.TAX_IDENTIFIER_STATE AS [STATE],'Country Level' AS BASISOFTAXATION,      
         dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END )) AS TOTAL_PERK_VALUE,CM.ID as 'COUNTRY_ID'      
              ,@GRANTLEGSERIAL_NO as GRANTLEGSERIALNO ,@FROM_DATE_TAX as FROM_DATE,@TO_DATE_TAX as TO_DATE ,TAXCALCULATION_BASEDON     
       FROM        TAX_RATE_SETTING_CONFIG TR       
       INNER JOIN  COMPANY_INSTRUMENT_MAPPING CIM ON TR.MIT_ID=CIM.MIT_ID       
       INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID=TR.Tax_Head_Id      
       INNER JOIN  COUNTRYMASTER CM ON CM.ID=TR.COUNTRY_ID      
       INNER JOIN  TAX_RATE_EMP_MAP TRM ON TR.TRSC_ID=TRM.TRSC_ID AND TRM.Employee_ID=@EmployeeID      
       INNER JOIN  EmployeeMaster EM  ON EM.EmployeeID=TRM.EMPLOYEE_ID                     
       WHERE       TR.MIT_ID = @MIT_ID AND EM.EMPLOYEEID = @EmployeeID AND CM.ID=@Country_ID      
             
        END               
       ELSE      
       BEGIN       
             
         SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TRM.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,'' AS RESIDENT_STATUS,      
           @Country_Name AS Country, EM.TAX_IDENTIFIER_STATE AS [STATE],      
           dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TRM.TAXRATE_SEPRATED_EMPLOYEE * @Total_Perk_Value)/100),'TAXAMT')AS TAX_AMOUNT,      
               'Country Level' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV,       
               dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE,CM.ID as COUNTRY_ID      
               ,@GRANTLEGSERIAL_NO as GRANTLEGSERIALNO ,@FROM_DATE_TAX as FROM_DATE,@TO_DATE_TAX as TO_DATE ,TAXCALCULATION_BASEDON     
         FROM        TAX_RATE_SETTING_CONFIG TR       
         INNER JOIN  COMPANY_INSTRUMENT_MAPPING CIM ON TR.MIT_ID=CIM.MIT_ID       
         INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID=TR.Tax_Head_Id      
         INNER JOIN  COUNTRYMASTER CM ON CM.ID=TR.COUNTRY_ID      
         INNER JOIN TAX_RATE_EMP_MAP TRM ON TR.TRSC_ID=TRM.TRSC_ID AND TRM.Employee_ID=@EmployeeID      
         INNER JOIN EmployeeMaster EM  ON EM.EmployeeID= TRM.EMPLOYEE_ID      
         WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID AND CM.ID=@Country_ID      
               
          END      
           
     END           
     ELSE      
     BEGIN          
       print 'company level'            
      IF(LEN(ISNULL(@DateOfTermination,''))<=0)      
      BEGIN      
       SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,      
         dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_LIVE_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
         '' AS Country, '' AS [STATE],'Company Level' AS BASISOFTAXATION,      
         dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING((CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END )) AS TOTAL_PERK_VALUE,0 AS COUNTRY_ID      
              ,@GRANTLEGSERIAL_NO,NULL,NULL      
              ,@GRANTLEGSERIAL_NO  as GRANTLEGSERIALNO,NULL as FROM_DATE,NULL as TO_DATE,TAXCALCULATION_BASEDON      
       FROM        TAX_RATE_SETTING_CONFIG TR       
       INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID      
       INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EmployeeMaster EM             
       --INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID                   
       WHERE       TR.MIT_ID = @MIT_ID AND EM.EMPLOYEEID = @EmployeeID  AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0        
              
      END               
      ELSE      
      BEGIN           
             
       SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,'' AS RESIDENT_STATUS,      
       '' AS Country, '' AS [STATE],dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_SEPRATED_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
       'Company Level' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE,0 AS COUNTRY_ID      
           ,@GRANTLEGSERIAL_NO  as GRANTLEGSERIALNO,NULL as FROM_DATE,NULL as TO_DATE  ,TAXCALCULATION_BASEDON        
       FROM    TAX_RATE_SETTING_CONFIG TR       
         INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID      
         INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EMPLOYEEMASTER EM       
         --INNER JOIN  RESIDENTIALTYPE RT ON RT.ID=TR.RESIDENTIAL_ID      
         WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0                
         END       
              
     END       
     END       
     ELSE      
     BEGIN      
      SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE ,'' AS RESIDENT_STATUS,      
       '' AS Country, '' AS [STATE],dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_SEPRATED_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,      
       'Company Level' AS BASISOFTAXATION,dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV, dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE,0 AS COUNTRY_ID      
       ,@GRANTLEGSERIAL_NO  as GRANTLEGSERIALNO,NULL as FROM_DATE,NULL as TO_DATE,TAXCALCULATION_BASEDON         
       FROM    TAX_RATE_SETTING_CONFIG TR       
         INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID      
         INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EMPLOYEEMASTER EM       
       WHERE   TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EmployeeID AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0                
     END      
    END --End for Date of incidence           
   END -- End for company        
  END              
     ELSE      
  BEGIN         
          
          IF(LEN(ISNULL(@DateOfTermination,''))<=0)      
          BEGIN      
     SELECT   MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_LIVE_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,      
       '' AS COUNTRY, EM.TAX_IDENTIFIER_STATE AS [STATE],      
       dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_LIVE_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,             
       'Company Level' AS BASISOFTAXATION, dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV,       
       dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE,0 AS COUNTRY_ID,@GRANTLEGSERIAL_NO  as GRANTLEGSERIALNO,NULL as FROM_DATE,NULL as TO_DATE,    
       TAXCALCULATION_BASEDON          
        FROM        TAX_RATE_SETTING_CONFIG TR       
        INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID      
        INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id CROSS JOIN EMPLOYEEMASTER EM                    
        WHERE       TR.MIT_ID= @MIT_ID AND EM.EmployeeID = @EMPLOYEEID AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0      
        END      
              
     ELSE      
     BEGIN      
        SELECT  MTRT.TAX_HEADING,dbo.FN_PQ_TAX_ROUNDING(TR.TAXRATE_SEPRATED_EMPLOYEE) AS TAX_RATE, '' AS RESIDENT_STATUS,      
       '' AS COUNTRY, '' AS [STATE],      
       dbo.FN_GET_COMPANY_DECIMAL_SETTING(((TAXRATE_SEPRATED_EMPLOYEE * (CASE WHEN  (ISNULL(TAXCALCULATION_BASEDON,'')='' OR  TAXCALCULATION_BASEDON = 'rdoPerqusite') THEN @Total_Perk_Value ELSE @STOCKVALUE END ))/100),'TAXAMT')AS TAX_AMOUNT,           
             'Company Level' AS BASISOFTAXATION, dbo.FN_PQ_TAX_ROUNDING(@FMV) AS FMV,       
             dbo.FN_PQ_TAX_ROUNDING(@Total_Perk_Value) AS TOTAL_PERK_VALUE,0 AS COUNTRY_ID,@GRANTLEGSERIAL_NO  as GRANTLEGSERIALNO,NULL as FROM_DATE,NULL as TO_DATE,TAXCALCULATION_BASEDON      
                          
        FROM        TAX_RATE_SETTING_CONFIG TR       
        INNER JOIN  COMPANY_INSTRUMENT_MAPPING CM ON TR.MIT_ID=CM.MIT_ID       
        INNER JOIN MST_TAX_RATE_TITLE MTRT ON MTRT.MTH_ID = TR.Tax_Head_Id      
        CROSS JOIN EMPLOYEEMASTER EM              
        WHERE  TR.MIT_ID= @MIT_ID AND EM.EMPLOYEEID = @EMPLOYEEID AND ISNULL(TR.RESIDENTIAL_ID,0) =0 AND ISNULL(TR.COUNTRY_ID,0)=0      
    END      
   --END      
     END          
       
 SET NOCOUNT OFF;      
END
GO
