/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_MOBILITY_DATA]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_SOPsUI_VALIDATE_MOBILITY_DATA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_SOPsUI_VALIDATE_MOBILITY_DATA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_SOPsUI_VALIDATE_MOBILITY_DATA] 
	
	@SOPSsUI_GET_MOBILITY_DATA SOPSsUI_GET_MOBILITY_DATA READONLY
AS
BEGIN
	
	SET NOCOUNT ON;
	
	-- SELECT * FROM @SOPSsUI_GET_MOBILITY_DATA
	
	CREATE TABLE #TEMP_MOBILITY_COMBINATION
	(
		TMC_EMPLOYEE_ID NVARCHAR(100),
		TMC_FIELD_MASTER NVARCHAR(50),
		TMC_DATE_OF_MOVEMENT DATE
	)

	INSERT INTO #TEMP_MOBILITY_COMBINATION
	SELECT * FROM @SOPSsUI_GET_MOBILITY_DATA  
	
	DELETE TMC
	FROM #TEMP_MOBILITY_COMBINATION AS TMC
	INNER JOIN AUDIT_TRAIL_FOR_TRACK_MASSUPLOAD AS ATFTM ON TMC.TMC_EMPLOYEE_ID = ATFTM.EmployeeId AND UPPER(TMC.TMC_FIELD_MASTER) = UPPER(ATFTM.Field) AND CONVERT(DATE,TMC.TMC_DATE_OF_MOVEMENT) = CONVERT(DATE,ATFTM.[From Date of Movement])
		
	SELECT EMPLOYEE_ID AS 'Employee ID', 'EMPLOYEE ID Missing from Excel sheet.' AS 'Message' FROM @SOPSsUI_GET_MOBILITY_DATA WHERE EMPLOYEE_ID IS NULL
	UNION ALL
	SELECT EMPLOYEE_ID AS 'Employee ID', 'Missing Fild Master.' AS 'Message' FROM @SOPSsUI_GET_MOBILITY_DATA WHERE FIELD_MASTER IS NULL
	UNION ALL
	SELECT EMPLOYEE_ID AS 'Employee ID', 'Missing Date Of Movement' AS 'Message' FROM @SOPSsUI_GET_MOBILITY_DATA WHERE DATE_OF_MOVEMENT IS NULL
	UNION ALL
	SELECT TMC_EMPLOYEE_ID AS 'Employee ID', 'Combination not available in table to delete.' AS 'Message' FROM #TEMP_MOBILITY_COMBINATION

	SET NOCOUNT OFF;				
END
GO
