/****** Object:  StoredProcedure [dbo].[PROC_PUP_GRANTOPSIDPAYOUT]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_PUP_GRANTOPSIDPAYOUT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_PUP_GRANTOPSIDPAYOUT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_PUP_GRANTOPSIDPAYOUT]
AS
BEGIN
	SELECT '---ALL---' AS 
		GRANTOPTIONID,'---ALL---' AS EMPLOYEEID
	UNION ALL
		SELECT DISTINCT GRANTOPTIONID,EMPLOYEEID 
	FROM GrantOptions GOP
	INNER JOIN Scheme Sch 
	ON GOP.SchemeId = Sch.SchemeId
		WHERE Sch.IsPUPEnabled = 1 and Sch.PUPExedPayoutProcess <>1 
		ORDER BY GRANTOPTIONID,EmployeeId
END
GO
