/****** Object:  StoredProcedure [dbo].[PROC_GET_DATA_TYPE_ACCESS_BY_ROLES]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_DATA_TYPE_ACCESS_BY_ROLES]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_DATA_TYPE_ACCESS_BY_ROLES]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_DATA_TYPE_ACCESS_BY_ROLES]
@RoleID VARCHAR(100)
AS
BEGIN

DECLARE @MAINMENUID AS NUMERIC(9)	
		SET NOCOUNT ON;
			SET @MAINMENUID = (SELECT MainMenuId FROM MAINMENUMASTER WHERE  UPPER(DefaultPage) ='DATA EXCHANGE AND REPORT' AND USERTYPEID = 2)

			SELECT DISTINCT RP.RoleId, SM.ScreenURL FROM ScreenMaster AS SM
				INNER JOIN ScreenActions SA ON SM.ScreenId=SA.ScreenId
				INNER JOIN RolePrivileges RP ON RP.ScreenActionId=SA.ScreenActionId 
				INNER JOIN MainMenuMaster MMM ON MMM.MainMenuId=SM.MainMenuId
				WHERE (UPPER(RP.RoleId)=UPPER(@RoleID)) AND MMM.MainMenuId=@MAINMENUID		
	     SET NOCOUNT OFF;	
END
GO
