/****** Object:  StoredProcedure [dbo].[PROC_INSERT_GENERATE_GRANT_LETTER]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_INSERT_GENERATE_GRANT_LETTER]
GO
/****** Object:  StoredProcedure [dbo].[PROC_INSERT_GENERATE_GRANT_LETTER]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_INSERT_GENERATE_GRANT_LETTER]
	 
	(
		@GEN_GRANT_LETTER  [TYPE_GENERATE_GRANT_LETTER] READONLY
	)
AS
BEGIN
	DECLARE @MN_VALUE INT,@MX_VALUE INT, @GAMUID INT, @ISPROCESSD INT

	CREATE TABLE #TEMP_GENERATE_GRANT_LETTER
		(
			[TT_GRANT_ID]		INT IDENTITY(1,1),
			[TEMPLATE_NAME]		VARCHAR(50) NULL,
			[GAMUID]			INT  NULL,
			[ACTION]			INT  NULL,
			[ISPROCESSD]		INT  NULL,
			[ISPROCESSEDON]		DATETIME  NULL,
			[TEXT_MAIL_TO]		VARCHAR(100) NULL,
			[TEXT_MAIL_CC]		VARCHAR(100) NULL,
			[TEXT_MAIL_BCC]		VARCHAR(100) NULL,
			[CREATED_BY]		NVARCHAR(100)  NULL,
			CREATED_ON			DATETIME  NULL,
			UPDATED_BY			NVARCHAR(100)  NULL,
			UPDATED_ON			DATETIME  NULL,
			ISATTACHMENT		Int NULL
		 ) 

	    INSERT INTO #TEMP_GENERATE_GRANT_LETTER (TEMPLATE_NAME,GAMUID,ACTION,ISPROCESSD,ISPROCESSEDON,TEXT_MAIL_TO,TEXT_MAIL_CC,TEXT_MAIL_BCC,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,ISATTACHMENT)
	    SELECT TEMPLATE_NAME,GAMUID,ACTION,ISPROCESSD,ISPROCESSEDON,TEXT_MAIL_TO,TEXT_MAIL_CC,TEXT_MAIL_BCC,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,ISATTACHMENT
		FROM @GEN_GRANT_LETTER

			  SELECT @MN_VALUE = MIN(TT_GRANT_ID ) , @MX_VALUE = MAX(TT_GRANT_ID )  FROM #TEMP_GENERATE_GRANT_LETTER
			
				WHILE(@MN_VALUE <= @MX_VALUE)
				 BEGIN
				  SELECT @GAMUID = GAMUID FROM #TEMP_GENERATE_GRANT_LETTER WHERE TT_GRANT_ID = @MN_VALUE
					
						 IF ((SELECT COUNT(GAMUID) FROM GENERATE_GRANT_LETTER WHERE GAMUID = @GAMUID AND ISPROCESSD = 0) = 0 )
							 
							 BEGIN
								INSERT INTO GENERATE_GRANT_LETTER
									(	
										TEMPLATE_NAME,GAMUID,ACTION,ISPROCESSD,ISPROCESSEDON,TEXT_MAIL_TO,TEXT_MAIL_CC,TEXT_MAIL_BCC,CREATED_BY,CREATED_ON,UPDATED_BY,UPDATED_ON,ISATTACHMENT
									)
									SELECT
									  TEMPLATE_NAME,GAMUID,ACTION,ISPROCESSD,GETDATE(),TEXT_MAIL_TO,TEXT_MAIL_CC,TEXT_MAIL_BCC,CREATED_BY, GETDATE(), UPDATED_BY, GETDATE(),ISATTACHMENT
									  FROM #TEMP_GENERATE_GRANT_LETTER TGGL
									  WHERE TGGL.TT_GRANT_ID = @MN_VALUE
								 
							 END		
					SET @MN_VALUE = @MN_VALUE + 1
					
				 END	

	
END
GO
