/****** Object:  StoredProcedure [dbo].[PROC_CRUD_PRAPORTINATEPERQ_VALUE]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CRUD_PRAPORTINATEPERQ_VALUE]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CRUD_PRAPORTINATEPERQ_VALUE]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[PROC_CRUD_PRAPORTINATEPERQ_VALUE]
	(	 
		@PPC_ID					BIGINT =Null,
		@FORMULA_NAME			VARCHAR(250) =Null , 
		@MIT_ID					INT =Null,
		@ISPROPORTINATE_VALUE	TINYINT =Null,
		@EVENT_OF_INCIDENCE_ID	BIGINT =Null,
		@FORMULA_DESCRIPTION	NVARCHAR(500),
		@RESIDENTIAL_ID			BIGINT=NULL,
		@COUNTRY_ID				BIGINT =Null,
		@APPLICABLE_FROM_DATE	DATETIME =Null,
		@CREATED_BY				NVARCHAR(50)=Null,
		@ACTION					NVARCHAR(50)
		
		
 
	 )
AS
BEGIN
	SET NOCOUNT ON;
	
	BEGIN TRY		
	--	BEGIN TRANSACTION
		IF(@RESIDENTIAL_ID =0)
		SET @RESIDENTIAL_ID=Null
	
		IF(@COUNTRY_ID =0)
		SET @COUNTRY_ID=Null
		
		 DECLARE @APPLICABLE_TO_DATE DATETIME 
		 Set @APPLICABLE_TO_DATE=NULL
		IF(UPPER(@ACTION)='ADD')
		BEGIN		
				
				INSERT INTO PRAPORTINATE_PERQ__CONFIG (FORMULA_NAME,MIT_ID,ISPROPORTINATE_VALUE,APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE,EVENT_OF_INCIDENCE_ID,Residential_ID,Country_ID,FORMULA_DESCRIPTION, CREATED_BY,CREATED_ON,UPDATED_BY, UPDATED_ON)		
				VALUES(@FORMULA_NAME,@MIT_ID,@ISPROPORTINATE_VALUE,@APPLICABLE_FROM_DATE,@APPLICABLE_TO_DATE,@EVENT_OF_INCIDENCE_ID,@Residential_ID,@Country_ID,@FORMULA_DESCRIPTION,@CREATED_BY,GETDATE(),@CREATED_BY,GETDATE())
								
				If(@@ROWCOUNT > 0)
				BEGIN						
					SELECT @@IDENTITY AS PPC_ID ,'Record Inserted Successfully.'	AS Msg	
					
				END
				Else
				Begin				
					SELECT '0' AS PPC_ID ,'Record Insertion Failed'	AS Msg	
				
				End
		
		END
		ELSE IF(UPPER(@ACTION)='UPDATE')
		BEGIN
		
							--update based on @APPLICABLE_FROM_DATE
							DECLARE @ApplicableFrom_Date DATETIME
							DECLARE @FID BIGINT
							SELECT  @ApplicableFrom_Date=APPLICABLE_FROM_DATE FROM PERQUISITE_FORMULA_CONFIG
							WHERE  PERQUISITE_FORMULA_CONFIG.PFC_ID=@PPC_ID
							
							print @ApplicableFrom_Date
							print @APPLICABLE_FROM_DATE
							IF(@ApplicableFrom_Date=@APPLICABLE_FROM_DATE)
							Begin
									Update PRAPORTINATE_PERQ__CONFIG 
									Set FORMULA_NAME=@FORMULA_NAME,MIT_ID=@MIT_ID,ISPROPORTINATE_VALUE=@ISPROPORTINATE_VALUE,EVENT_OF_INCIDENCE_ID=@EVENT_OF_INCIDENCE_ID,Residential_ID=@Residential_ID,Country_ID=@Country_ID,FORMULA_DESCRIPTION=@FORMULA_DESCRIPTION,APPLICABLE_FROM_DATE=@APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE=@APPLICABLE_TO_DATE
									Where  PRAPORTINATE_PERQ__CONFIG.PPC_ID=@PPC_ID								
									
							
							End
							Else
							Begin
									INSERT INTO PERQUISITE_FORMULA_CONFIG (FORMULA_NAME,MIT_ID,ISPERQUISITE_VALUE,APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE,EVENT_OF_INCIDENCE_ID,Residential_ID,Country_ID,FORMULA_DESCRIPTION, CREATED_BY,CREATED_ON,UPDATED_BY, UPDATED_ON)		
									VALUES(@FORMULA_NAME,@MIT_ID,@ISPROPORTINATE_VALUE,@APPLICABLE_FROM_DATE,@APPLICABLE_TO_DATE,@EVENT_OF_INCIDENCE_ID,@Residential_ID,@Country_ID,@FORMULA_DESCRIPTION,@CREATED_BY,GETDATE(),@CREATED_BY,GETDATE())
									SET @PPC_ID=@@IDENTITY							
									 
							
							End
				If(@@ROWCOUNT > 0)
				BEGIN		
					SELECT @PPC_ID AS PFC_ID ,'Record Updated Successfully.'	AS Msg	
								
				END
				
		END
		ELSE IF(UPPER(@ACTION)='GET')
		BEGIN
				SELECT PPC.PPC_ID, FORMULA_NAME, PPC.FORMULA_DESCRIPTION,MIT.INSTRUMENT_NAME,PPC.MIT_ID,PPC.EVENT_OF_INCIDENCE_ID,
				CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106) AS  APPLICABLE_FROM_DATE,CONVERT(VARCHAR, APPLICABLE_TO_DATE,106) AS APPLICABLE_TO_DATE
				FROM PRAPORTINATE_PERQ__CONFIG PPC	Inner join MST_INSTRUMENT_TYPE MIT On PPC.MIT_ID=MIT.MIT_ID
				Where PPC.MIT_ID=@MIT_ID 
				
				
		END
		ELSE IF(UPPER(@ACTION)='READ')
		BEGIN
				SELECT PFC.PPC_ID, FORMULA_NAME, FORMULA_DESCRIPTION,PFC.MIT_ID,PFC.EVENT_OF_INCIDENCE_ID,REPLACE(CONVERT(VARCHAR, APPLICABLE_FROM_DATE,106),' ','/') As APPLICABLE_FROM_DATE,APPLICABLE_TO_DATE
				FROM PRAPORTINATE_PERQ__CONFIG PFC	
				WHERE	PPC_ID=@PPC_ID 
				
		END
		
	--	COMMIT TRANSACTION	
	END TRY
	BEGIN CATCH
	--	ROLLBACK TRANSACTION
		RETURN 0
	END CATCH
	
	
	
	SET NOCOUNT OFF;
	
	
	
	
END
GO
