/****** Object:  StoredProcedure [dbo].[PROC_GET_ADDINLISTDATA]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_ADDINLISTDATA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ADDINLISTDATA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_ADDINLISTDATA]
AS
BEGIN

	CREATE TABLE #TblFieldValue
	(
		SRNO			INT,
		FIELD_VALUE		NVARCHAR(50),
		FIELD_NAME		NVARCHAR(50)	
	)
	INSERT INTO #TblFieldValue(SRNO,FIELD_VALUE,FIELD_NAME)
	SELECT	DENSE_RANK() OVER (partition by FIELD_NAME ORDER BY FIELD_VALUE ASC) AS [SR.NO],
			LTRIM(RTRIM(MLFV.FIELD_VALUE)) AS FIELD_VALUE, MLFN.FIELD_NAME AS [FIELD_NAME] 
	FROM	MASTER_LIST_FLD_VALUE MLFV
			LEFT OUTER JOIN MASTER_LIST_FLD_NAME MLFN 
			ON MLFN.MLFN_ID = MLFV.MLFN_ID
	WHERE	MLFN.IS_ADD_IN_LIST = 1 AND MLFN.FIELD_NAME NOT IN('TAX_IDENTIFIER_COUNTRY')
	GROUP BY MLFV.FIELD_VALUE, MLFN.FIELD_NAME
	ORDER BY FIELD_NAME 
		
	
	DECLARE @VALUE NVARCHAR(MAX)
	SELECT  @VALUE=MLFV.FIELD_VALUE
	FROM	MASTER_LIST_FLD_VALUE MLFV
			LEFT OUTER JOIN MASTER_LIST_FLD_NAME MLFN 
			ON MLFN.MLFN_ID = MLFV.MLFN_ID
	WHERE	MLFN.IS_ADD_IN_LIST = 1 AND MLFN.FIELD_NAME IN('TAX_IDENTIFIER_COUNTRY')
	
	DECLARE @QUERY NVARCHAR(MAX)
				SELECT @QUERY= SUBSTRING(@VALUE,CHARINDEX('(', @VALUE),(LEN(@VALUE)-8))
				SET @QUERY=REPLACE(@QUERY,'(','')
				SET @QUERY=REPLACE(@QUERY,')]','')		
				DECLARE @COUNTRY AS NVARCHAR(Max)
				SELECT @COUNTRY = ISNULL(@COUNTRY + ', ' ,'') + COUNTRYNAME 
				FROM COUNTRYMASTER WHERE  COUNTRYNAME IN (SELECT * FROM dbo.FN_SPLIT_STRING( REPLACE(@QUERY,'@',''),','))	
	INSERT INTO #TblFieldValue(SRNO,FIELD_VALUE,FIELD_NAME)
	SELECT ROW_NUMBER() OVER (ORDER BY Item) AS [S.N.], * ,'TAX_IDENTIFIER_COUNTRY' AS FIELD_NAME 
	FROM dbo.FN_SPLIT_STRING( REPLACE(@QUERY,'@',''),',')
	
	SELECT SRNO AS [SR.NO],	FIELD_VALUE,	FIELD_NAME
	FROM #TBLFIELDVALUE
	
END
GO
