/****** Object:  StoredProcedure [dbo].[PROC_GET_ML_DATA]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_ML_DATA]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_ML_DATA]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_GET_ML_DATA]
AS
BEGIN
	SELECT	DENSE_RANK() OVER (partition by FIELD_NAME ORDER BY FIELD_VALUE ASC) AS [SR.NO],
			MLFV.FIELD_VALUE, MLFN.FIELD_NAME			
	FROM	MASTER_LIST_FLD_VALUE MLFV
			LEFT OUTER JOIN MASTER_LIST_FLD_NAME MLFN 
				ON MLFN.MLFN_ID = MLFV.MLFN_ID
	WHERE	MLFN.IS_TRACKING_ENABLED = 1
	GROUP BY MLFV.FIELD_VALUE, MLFN.FIELD_NAME
	ORDER BY FIELD_NAME 
END
GO
