/****** Object:  StoredProcedure [dbo].[PROC_GET_SEPARATION_DETAILS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_SEPARATION_DETAILS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_SEPARATION_DETAILS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_SEPARATION_DETAILS]

AS
BEGIN 
	SELECT 
		HRMSAT.EmployeeID, HRMSMF.MyESOPsFields, 
		CASE WHEN ISDATE(HRMSAT.OldValue)=1 THEN 
			CONVERT(varchar(11),HRMSAT.OldValue,106) 	
		ELSE
		(SELECT Reason FROM ReasonForTermination WHERE ID=TRY_PARSE(HRMSAT.OldValue AS int)) 
		END AS  OldValue,
		CASE WHEN ISDATE(HRMSAT.NewValue)=1 THEN 
			CONVERT(varchar(11),HRMSAT.NewValue,106) 
		ELSE
		(SELECT Reason FROM ReasonForTermination WHERE ID=TRY_PARSE(HRMSAT.NewValue AS int)) 
		END AS  NewValue, HRMSAT.UpdatedOn
	FROM
        HRMSAuditTrails AS HRMSAT
		INNER JOIN HRMSMappingsFields AS HRMSMF ON HRMSAT.HRMSMappingsFldID = HRMSMF.HRMSMappingsFldID
	
	WHERE 
		(CONVERT(DATE, HRMSAT.UpdatedOn) = CONVERT(DATE,GETDATE())) AND (UPPER(MyESOPsFields) IN ('LWD','DATEOFTERMINATION','REASONFORTERMINATION')) AND ISNULL(HRMSAT.OldValue,'') !='' AND HRMSAT.OldValue !='01/01/1900 12:00 AM' 
	    	     			
END 
GO
