/****** Object:  StoredProcedure [dbo].[PROC_GET_EMP_TRACK_MOVEMENT_STATUS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_EMP_TRACK_MOVEMENT_STATUS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_EMP_TRACK_MOVEMENT_STATUS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PROC_GET_EMP_TRACK_MOVEMENT_STATUS]
AS
BEGIN
    SELECT REPLACE(FIELD_NAME,'_',' ')AS FIELD_NAME,IS_TRACKING_ENABLED FROM MASTER_LIST_FLD_NAME WHERE IS_TRACKING_ENABLED=1 
END
GO
