/****** Object:  StoredProcedure [dbo].[PROC_PUP_REPORT]    Script Date: 7/6/2022 1:40:53 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_PUP_REPORT]
GO
/****** Object:  StoredProcedure [dbo].[PROC_PUP_REPORT]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROC_PUP_REPORT]
AS
BEGIN


--SET ANSI_NULLS ON
--GO

--SET QUOTED_IDENTIFIER ON
--GO

--CREATE TABLE [DBO].[FINANCIAL_YEAR](
--	[FROM_MONTH] [INT] NULL,
--	[TO_MONTH] [INT] NULL
--) ON [PRIMARY]


DECLARE @TODAY_DATE   DATE, 
        @FROM_DATE_Y  DATE, 
        @TO_DATE_Y    DATE, 
        @FROM_DATE_Y1 DATE, 
        @TO_DATE_Y1   DATE, 
        @FROM_DATE_Y2 DATE, 
        @TO_DATE_Y2   DATE 

SELECT @TODAY_DATE = GETDATE() 

--SELECT @TODAY_DATE AS TODAY_DATE 

SELECT @FROM_DATE_Y = @TODAY_DATE 

--SELECT @FROM_DATE_Y AS FROM_DATE_Y 

IF (SELECT DATEPART(MONTH, @TODAY_DATE)) NOT BETWEEN 
   0 AND (SELECT TO_MONTH 
          FROM   FINANCIAL_YEAR) 
  BEGIN 
      SELECT @TO_DATE_Y = CONVERT(VARCHAR, DATEPART(YEAR, DATEADD (YEAR, 1, 
                          @TODAY_DATE))) 
                          + '-' + CONVERT(VARCHAR, TO_MONTH) + '-' + '01' 
      FROM   FINANCIAL_YEAR 

      SELECT @TO_DATE_Y = DATEADD(DAY, -1, DATEADD (MONTH, 1, @TO_DATE_Y)) 

  --    SELECT @TO_DATE_Y AS TO_DATE_Y 
  END 
ELSE 
  BEGIN 
      SELECT @TO_DATE_Y = CONVERT(VARCHAR, DATEPART(YEAR, (@TODAY_DATE))) 
                          + '-' + CONVERT(VARCHAR, TO_MONTH) + '-' + '01' 
      FROM   FINANCIAL_YEAR 

      SELECT @TO_DATE_Y = DATEADD(DAY, -1, DATEADD (MONTH, 1, @TO_DATE_Y)) 

    --  SELECT @TO_DATE_Y AS TO_DATE_Y 
  END 

SELECT @FROM_DATE_Y1 = DATEADD (DAY, 1, @TO_DATE_Y) 

--SELECT @FROM_DATE_Y1 AS FROM_DATE_Y1 

SELECT @TO_DATE_Y1 = DATEADD(DAY, -1, DATEADD(YEAR, 1, @FROM_DATE_Y1)) 

--SELECT @TO_DATE_Y1 AS TO_DATE_Y1 

SELECT @FROM_DATE_Y2 = DATEADD (DAY, 1, @TO_DATE_Y1) 

--SELECT @FROM_DATE_Y2 AS FROM_DATE_Y2 

SELECT @TO_DATE_Y2 = DATEADD(DAY, -1, DATEADD (YEAR, 1, @FROM_DATE_Y2)) 

--SELECT @TO_DATE_Y2 AS TO_DATE_Y2 

--=============X======================X=================INSERT INTO TEMP TABLE AS PER DATES 1990 T0 TODATS DATE =========X======================X====================X=====================X====           
CREATE TABLE #TEMP0 
  ( 
     OPTIONSGRANTED         NUMERIC(18, 0), 
     OPTIONSVESTED          NUMERIC(18, 0), 
     OPTIONSEXERCISED       NUMERIC(18, 0), 
     OPTIONSCANCELLED       NUMERIC(18, 0), 
     OPTIONSLAPSED          NUMERIC(18, 0), 
     OPTIONSUNVESTED        NUMERIC(18, 0), 
     [PENDING FOR APPROVAL] NUMERIC(18, 0), 
     GRANTOPTIONID          NVARCHAR(100), 
     GRANTLEGID             NUMERIC(18, 0), 
     SCHEMEID               NVARCHAR(150), 
     GRANTREGISTRATIONID    NVARCHAR(150), 
     EMPLOYEEID             NVARCHAR(150), 
     EMPLOYEENAME           NVARCHAR(250), 
     SBU                    NVARCHAR(100) NULL, 
     ACCOUNTNO              NVARCHAR(100) NULL, 
     PANNUMBER              NVARCHAR(100) NULL, 
     ENTITY                 NVARCHAR(100) NULL, 
     [STATUS]               NVARCHAR(100), 
     GRANTDATE              DATETIME, 
     [VESTING TYPE]         NVARCHAR(100), 
     EXERCISEPRICE          NUMERIC(10, 2), 
     VESTINGDATE            DATETIME, 
     EXPIRAYDATE            DATETIME, 
     PARENT_NOTE            NVARCHAR(10), 
     UnvestedCancelled		NUMERIC(18, 0),
     VestedCancelled		NUMERIC(18, 0)
  ) 

INSERT INTO #TEMP0 
EXEC SP_REPORT_DATA 
  '1900-01-01', 
  @TODAY_DATE 
  
  

----------------------------------1990 TO END DATE OF FINANCILA YEAR OF THIS YEAR DATE--------------------------------------------------------------------------------------------- 
CREATE TABLE #TEMP1 
  ( 
     OPTIONSGRANTED         NUMERIC(18, 0), 
     OPTIONSVESTED          NUMERIC(18, 0), 
     OPTIONSEXERCISED       NUMERIC(18, 0), 
     OPTIONSCANCELLED       NUMERIC(18, 0), 
     OPTIONSLAPSED          NUMERIC(18, 0), 
     OPTIONSUNVESTED        NUMERIC(18, 0), 
     [PENDING FOR APPROVAL] NUMERIC(18, 0), 
     GRANTOPTIONID          NVARCHAR(100), 
     GRANTLEGID             NUMERIC(18, 0), 
     SCHEMEID               NVARCHAR(150), 
     GRANTREGISTRATIONID    NVARCHAR(150), 
     EMPLOYEEID             NVARCHAR(150), 
     EMPLOYEENAME           NVARCHAR(250), 
     SBU                    NVARCHAR(100) NULL, 
     ACCOUNTNO              NVARCHAR(100) NULL, 
     PANNUMBER              NVARCHAR(100) NULL, 
     ENTITY                 NVARCHAR(100) NULL, 
     [STATUS]               NVARCHAR(100), 
     GRANTDATE              DATETIME, 
     [VESTING TYPE]         NVARCHAR(100), 
     EXERCISEPRICE          NUMERIC(10, 2), 
     VESTINGDATE            DATETIME, 
     EXPIRAYDATE            DATETIME, 
     PARENT_NOTE            NVARCHAR(10), 
     UnvestedCancelled		NUMERIC(18, 0),
     VestedCancelled		NUMERIC(18, 0) 
  ) 

INSERT INTO #TEMP1 
EXEC SP_REPORT_DATA 
  '1900-01-01', 
  @TO_DATE_Y 

-----------------------------------1990 TO THIS END OF FINANCIAL YEAR OF NEXT YEAR---------------------------------------------------------------------------------------------- 
CREATE TABLE #TEMP2 
  ( 
     OPTIONSGRANTED         NUMERIC(18, 0), 
     OPTIONSVESTED          NUMERIC(18, 0), 
     OPTIONSEXERCISED       NUMERIC(18, 0), 
     OPTIONSCANCELLED       NUMERIC(18, 0), 
     OPTIONSLAPSED          NUMERIC(18, 0), 
     OPTIONSUNVESTED        NUMERIC(18, 0), 
     [PENDING FOR APPROVAL] NUMERIC(18, 0), 
     GRANTOPTIONID          NVARCHAR(100), 
     GRANTLEGID             NUMERIC(18, 0), 
     SCHEMEID               NVARCHAR(150), 
     GRANTREGISTRATIONID    NVARCHAR(150), 
     EMPLOYEEID             NVARCHAR(150), 
     EMPLOYEENAME           NVARCHAR(250), 
     SBU                    NVARCHAR(100) NULL, 
     ACCOUNTNO              NVARCHAR(100) NULL, 
     PANNUMBER              NVARCHAR(100) NULL, 
     ENTITY                 NVARCHAR(100) NULL, 
     [STATUS]               NVARCHAR(100), 
     GRANTDATE              DATETIME, 
     [VESTING TYPE]         NVARCHAR(100), 
     EXERCISEPRICE          NUMERIC(10, 2), 
     VESTINGDATE            DATETIME, 
     EXPIRAYDATE            DATETIME, 
     PARENT_NOTE            NVARCHAR(10), 
     UnvestedCancelled		NUMERIC(18, 0),
     VestedCancelled		NUMERIC(18, 0)
  ) 

INSERT INTO #TEMP2 
EXEC SP_REPORT_DATA 
  '1900-01-01', 
  @TO_DATE_Y1 


--------------------------------------------1990 TO NEXT END OF FINANCIAL YEAR OF NEXT TO NEXT YEAR----------------------------------------------------------------------------------- 
CREATE TABLE #TEMP3 
  ( 
     OPTIONSGRANTED         NUMERIC(18, 0), 
     OPTIONSVESTED          NUMERIC(18, 0), 
     OPTIONSEXERCISED       NUMERIC(18, 0), 
     OPTIONSCANCELLED       NUMERIC(18, 0), 
     OPTIONSLAPSED          NUMERIC(18, 0), 
     OPTIONSUNVESTED        NUMERIC(18, 0), 
     [PENDING FOR APPROVAL] NUMERIC(18, 0), 
     GRANTOPTIONID          NVARCHAR(100), 
     GRANTLEGID             NUMERIC(18, 0), 
     SCHEMEID               NVARCHAR(150), 
     GRANTREGISTRATIONID    NVARCHAR(150), 
     EMPLOYEEID             NVARCHAR(150), 
     EMPLOYEENAME           NVARCHAR(250), 
     SBU                    NVARCHAR(100) NULL, 
     ACCOUNTNO              NVARCHAR(100) NULL, 
     PANNUMBER              NVARCHAR(100) NULL, 
     ENTITY                 NVARCHAR(100) NULL, 
     [STATUS]               NVARCHAR(100), 
     GRANTDATE              DATETIME, 
     [VESTING TYPE]         NVARCHAR(100), 
     EXERCISEPRICE          NUMERIC(10, 2), 
     VESTINGDATE            DATETIME, 
     EXPIRAYDATE            DATETIME, 
     PARENT_NOTE            NVARCHAR(10), 
     UnvestedCancelled		NUMERIC(18, 0),
     VestedCancelled		NUMERIC(18, 0) 
  ) 

INSERT INTO #TEMP3 
EXEC SP_REPORT_DATA 
  '1900-01-01', 
  @TO_DATE_Y2 

--==========================X===========DATA IS FILTERED AS PER THEIR VESTING AND LIEING IN THE FINANCIAL YEAR BAND =============X==============================X========================X==================== 
-------------------#T0---CONSISTS OF ALL DATA TILL DATE----------------------------------------------
SELECT * 
INTO   #T0 
FROM   #TEMP0
--WHERE  VESTINGDATE BETWEEN '1990-01-01' AND @TODAY_DATE 
-------------------#T1---CONSISTS OF ALL DATA WHOSE VESTING LIES BETWEEN 1990 AND LAST DATE OF THIS FINANCIAL YEAR----------------------------------------------
SELECT * 
INTO   #T1 
FROM   #TEMP1 
WHERE    VESTINGDATE<= @TO_DATE_Y AND VESTINGDATE>= @FROM_DATE_Y
-------------------#T2---CONSISTS OF ALL DATA WHOSE VESTING LIES BETWEEN 1990 AND LAST DATE OF NEXT FINANCIAL YEAR----------------------------------------------
SELECT * 
INTO   #T2 
FROM   #TEMP2 
WHERE   VESTINGDATE<= @TO_DATE_Y1 AND VESTINGDATE>= @FROM_DATE_Y1

-------------------#T3---CONSISTS OF ALL DATA WHOSE VESTING LIES BETWEEN 1990 AND LAST DATE OF NEXT TO NEXT FINANCIAL YEAR----------------------------------------------
SELECT * 
INTO   #T3 
FROM   #TEMP3 
WHERE   VESTINGDATE<= @TO_DATE_Y2 AND VESTINGDATE>= @FROM_DATE_Y2


-------------()------------------------()------------------------()---------------------()-------------------- 
--===================================TO FIND CLOSING PRICE=========================================================================================== 
DECLARE @LISTEDYN        CHAR, 
        @CLOSE_PRICE     FLOAT, 
        @CLOSEPRICE_DATE DATE 

SELECT @LISTEDYN = LISTEDYN 
FROM   COMPANYPARAMETERS 

IF @LISTEDYN = 'Y' 
  BEGIN 
      SET @CLOSE_PRICE= (SELECT TOP 1 CLOSEPRICE 
                         FROM   FMVSHAREPRICES 
                         WHERE  STOCKEXCHANGE = 'N' 
                         ORDER  BY LASTUPDATEDON DESC) 
      SET @CLOSEPRICE_DATE= (SELECT TOP 1 LASTUPDATEDON 
                             FROM   FMVSHAREPRICES 
                             WHERE  STOCKEXCHANGE = 'N' 
                             ORDER  BY LASTUPDATEDON DESC) 
  END 
ELSE 
  BEGIN 
      SET @CLOSE_PRICE= (SELECT TOP 1 FMV 
                         FROM   FMVFORUNLISTED 
                         ORDER  BY UPDATEDON DESC) 
      SET @CLOSEPRICE_DATE= (SELECT TOP 1 UPDATEDON 
                             FROM   FMVFORUNLISTED 
                             ORDER  BY UPDATEDON DESC) 
  END 

-------------()------------------------()------------------------()---------------------()-------------------- 
------------------------------------------O/P OF #T0 ALL THE TUPPLES IN DESIRED FORMAT----------------------------------------------------------- 
SELECT EMPLOYEENAME, 
       EMPLOYEEID, 
       @CLOSE_PRICE  AS STOCKPRICE_NSE, 
       @CLOSEPRICE_DATE  AS DATE_OF_STOCKPRICE, 
       SCHEMEID  AS SCHEME_NAME, 
       GRANTDATE, 
       EXERCISEPRICE, 
       SUM(OPTIONSGRANTED) AS OPTIONSGRANTED, 
       SUM(OPTIONSVESTED)+SUM([PENDING FOR APPROVAL])  AS OPTIONSVESTED, 
       SUM(OPTIONSUNVESTED)  AS OPTIONSUNVESTED, 
       --SUM(OPTIONSEXERCISED) AS OPTIONSEXERCISED, 
       SUM(OPTIONSCANCELLED) + SUM(OPTIONSLAPSED)  AS OPTIONSCANCELLED_OPTIONSLAPSED, 
	   0 AS OPTIONS_VESTING_YEAR, 
       0 AS [OPTIONS / UNITS VESTING IN (Y+1)], 
       0 AS [OPTIONS / UNITS VESTING IN (Y+2)], 
       SUM(OPTIONSGRANTED) * ( @CLOSE_PRICE - EXERCISEPRICE )  AS  [VALUE OF OPTIONS /UNITS GRANTED (IN INR)], 
       (SUM(OPTIONSVESTED)+SUM([PENDING FOR APPROVAL])) * ( @CLOSE_PRICE - EXERCISEPRICE )  AS  [VALUE OF VESTED OPTIONS /UNITS  (IN INR)], 
       SUM(OPTIONSUNVESTED) * ( @CLOSE_PRICE - EXERCISEPRICE )  AS  [VALUE OF UNVESTED OPTIONS /UNITS (IN INR)], 
       (SUM(OPTIONSCANCELLED) + SUM(OPTIONSLAPSED)) * (@CLOSE_PRICE - EXERCISEPRICE ) AS  [VALUE OF OPTIONS/UNITS CANCELLED/LAPSED (IN INR)], 
       0 AS [VALUE OF  OPTIONS/UNITS VESTING THIS YEAR(Y)(IN INR)], 
       0 AS [VALUE OF OPTIONS/ UNITS VESTING IN (Y+1)(IN INR)], 
       0 *(@CLOSE_PRICE-EXERCISEPRICE) AS [VALUE OF OPTIONS/ UNITS VESTING IN (Y+2)  (IN INR)] 
INTO   #OUT_T0 
FROM   #T0
GROUP  BY SCHEMEID, 
          GRANTDATE, 
          EXERCISEPRICE, 
          EMPLOYEEID, 
          EMPLOYEENAME 


------------------------------------------O/P OF #T1 ALL THE TUPPLES IN DESIRED FORMAT----------------------------------------------------------- 
SELECT EMPLOYEENAME, 
       EMPLOYEEID, 
       @CLOSE_PRICE  AS STOCKPRICE_NSE, 
       @CLOSEPRICE_DATE  AS DATE_OF_STOCKPRICE, 
       SCHEMEID  AS SCHEME_NAME, 
       GRANTDATE, 
       EXERCISEPRICE, 
       SUM(OPTIONSGRANTED)  AS OPTIONSGRANTED, 
       SUM(OPTIONSVESTED) AS OPTIONSVESTED, 
       SUM(OPTIONSUNVESTED)  AS OPTIONSUNVESTED, 
       --SUM(OPTIONSEXERCISED) AS OPTIONSEXERCISED, 
       SUM(OPTIONSCANCELLED) + SUM(OPTIONSLAPSED)  AS OPTIONSCANCELLED_OPTIONSLAPSED, 
       ISNULL(SUM(OPTIONSVESTED)+SUM([PENDING FOR APPROVAL]), 0)  AS OPTIONS_VESTING_YEAR, 
       --F_T.OPTIONS_VESTING_YEAR_PLUS_ONE AS [OPTIONS / UNITS VESTING IN (Y+1)], 
       --F_T.OPTIONS_VESTING_YEAR_PLUS_TWO AS [OPTIONS / UNITS VESTING IN (Y+2)], 
       SUM(OPTIONSGRANTED) * ( @CLOSE_PRICE - EXERCISEPRICE )   AS   [VALUE OF OPTIONS /UNITS GRANTED (IN INR)], 
       (SUM(OPTIONSVESTED)+SUM([PENDING FOR APPROVAL])) * ( @CLOSE_PRICE - EXERCISEPRICE )  AS [VALUE OF VESTED OPTIONS /UNITS  (IN INR)], 
       SUM(OPTIONSUNVESTED) * ( @CLOSE_PRICE - EXERCISEPRICE ) AS [VALUE OF UNVESTED OPTIONS /UNITS (IN INR)], 
       (SUM(OPTIONSCANCELLED) + SUM(OPTIONSLAPSED)) * ( @CLOSE_PRICE - EXERCISEPRICE ) AS [VALUE OF OPTIONS/UNITS CANCELLED/LAPSED (IN INR)], 
      ISNULL(SUM(OPTIONSVESTED)+SUM([PENDING FOR APPROVAL]), 0)  * (@CLOSE_PRICE - EXERCISEPRICE)  AS  [VALUE OF  OPTIONS/UNITS VESTING THIS YEAR(Y)(IN INR)] 
	 --F_T.OPTIONS_VESTING_YEAR_PLUS_ONE *(@CLOSE_PRICE-EXERCISEPRICE) AS [VALUE OF OPTIONS/ UNITS VESTING IN (Y+1)(IN INR)], 
	 --F_T.OPTIONS_VESTING_YEAR_PLUS_TWO *(@CLOSE_PRICE-EXERCISEPRICE) AS [VALUE OF OPTIONS/ UNITS VESTING IN (Y+2)  (IN INR)] 
INTO   #OUT_T1 
FROM   #T1 
GROUP  BY SCHEMEID, 
          GRANTDATE, 
          EXERCISEPRICE, 
          EMPLOYEEID, 
          EMPLOYEENAME 

------------------------------------------O/P OF #T2 ALL THE TUPPLES IN DESIRED FORMAT----------------------------------------------------------- 
SELECT EMPLOYEENAME, 
       EMPLOYEEID, 
       @CLOSE_PRICE  AS STOCKPRICE_NSE, 
       @CLOSEPRICE_DATE  AS DATE_OF_STOCKPRICE, 
       SCHEMEID AS SCHEME_NAME, 
       GRANTDATE, 
       EXERCISEPRICE, 
       SUM(OPTIONSGRANTED) AS OPTIONSGRANTED, 
       SUM(OPTIONSVESTED) AS OPTIONSVESTED, 
       SUM(OPTIONSUNVESTED) AS OPTIONSUNVESTED, 
       --SUM(OPTIONSEXERCISED) AS OPTIONSEXERCISED, 
       SUM(OPTIONSCANCELLED) + SUM(OPTIONSLAPSED)  AS OPTIONSCANCELLED_OPTIONSLAPSED, 
       -- ISNULL(SUM(OPTIONSVESTED),0 ) AS OPTIONS_VESTING_YEAR, 
       ISNULL(SUM(OPTIONSVESTED)+SUM([PENDING FOR APPROVAL]), 0)  AS [OPTIONS / UNITS VESTING IN (Y+1)], 
       --F_T.OPTIONS_VESTING_YEAR_PLUS_TWO AS [OPTIONS / UNITS VESTING IN (Y+2)], 
       SUM(OPTIONSGRANTED) * ( @CLOSE_PRICE - EXERCISEPRICE ) AS [VALUE OF OPTIONS /UNITS GRANTED (IN INR)], 
       (SUM(OPTIONSVESTED)+SUM([PENDING FOR APPROVAL]) )* ( @CLOSE_PRICE - EXERCISEPRICE ) AS [VALUE OF VESTED OPTIONS /UNITS  (IN INR)], 
       SUM(OPTIONSUNVESTED) * ( @CLOSE_PRICE - EXERCISEPRICE )  AS  [VALUE OF UNVESTED OPTIONS /UNITS (IN INR)], 
      ( SUM(OPTIONSCANCELLED) + SUM(OPTIONSLAPSED)) * ( @CLOSE_PRICE - EXERCISEPRICE ) AS 
       [VALUE OF OPTIONS/UNITS CANCELLED/LAPSED (IN INR)], 
       --ISNULL(SUM(OPTIONSVESTED),0 )  *(@CLOSE_PRICE-EXERCISEPRICE) AS [VALUE OF  OPTIONS/UNITS VESTING THIS YEAR(Y)(IN INR)], 
     ISNULL(SUM(OPTIONSVESTED)+SUM([PENDING FOR APPROVAL]), 0)  * ( @CLOSE_PRICE - EXERCISEPRICE ) AS [VALUE OF OPTIONS/ UNITS VESTING IN (Y+1)(IN INR)] 
	 --F_T.OPTIONS_VESTING_YEAR_PLUS_TWO *(@CLOSE_PRICE-EXERCISEPRICE) AS [VALUE OF OPTIONS/ UNITS VESTING IN (Y+2)  (IN INR)] 
INTO   #OUT_T2 
FROM   #T2 
GROUP  BY SCHEMEID, 
          GRANTDATE, 
          EXERCISEPRICE, 
          EMPLOYEEID, 
          EMPLOYEENAME 

------------------------------------------O/P OF #T3 ALL THE TUPPLES IN DESIRED FORMAT----------------------------------------------------------- 
SELECT EMPLOYEENAME, 
       EMPLOYEEID, 
       @CLOSE_PRICE AS STOCKPRICE_NSE, 
       @CLOSEPRICE_DATE AS DATE_OF_STOCKPRICE, 
       SCHEMEID AS SCHEME_NAME, 
       GRANTDATE, 
       EXERCISEPRICE, 
       SUM(OPTIONSGRANTED) AS OPTIONSGRANTED, 
       SUM(OPTIONSVESTED) AS OPTIONSVESTED, 
       SUM(OPTIONSUNVESTED) AS OPTIONSUNVESTED, 
       --SUM(OPTIONSEXERCISED) AS OPTIONSEXERCISED, 
       SUM(OPTIONSCANCELLED) + SUM(OPTIONSLAPSED) AS OPTIONSCANCELLED_OPTIONSLAPSED, 
       -- ISNULL(SUM(OPTIONSVESTED),0 ) AS OPTIONS_VESTING_YEAR, 
       --ISNULL(SUM(OPTIONSVESTED),0 )  AS [OPTIONS / UNITS VESTING IN (Y+1)], 
       ISNULL(SUM(OPTIONSVESTED)+SUM([PENDING FOR APPROVAL]), 0) AS [OPTIONS / UNITS VESTING IN (Y+2)], 
       SUM(OPTIONSGRANTED) * ( @CLOSE_PRICE - EXERCISEPRICE )  AS [VALUE OF OPTIONS /UNITS GRANTED (IN INR)], 
       (SUM(OPTIONSVESTED)+SUM([PENDING FOR APPROVAL]) )* ( @CLOSE_PRICE - EXERCISEPRICE )  AS [VALUE OF VESTED OPTIONS /UNITS  (IN INR)], 
       SUM(OPTIONSUNVESTED) * ( @CLOSE_PRICE - EXERCISEPRICE ) AS [VALUE OF UNVESTED OPTIONS /UNITS (IN INR)], 
       (SUM(OPTIONSCANCELLED) + SUM(OPTIONSLAPSED)) * (@CLOSE_PRICE - EXERCISEPRICE ) AS [VALUE OF OPTIONS/UNITS CANCELLED/LAPSED (IN INR)], 
       ISNULL(SUM(OPTIONSVESTED), 0) * ( @CLOSE_PRICE - EXERCISEPRICE ) AS [VALUE OF  OPTIONS/UNITS VESTING THIS YEAR(Y)(IN INR)], 
       ISNULL(SUM(OPTIONSVESTED)+SUM([PENDING FOR APPROVAL]), 0)  * ( @CLOSE_PRICE - EXERCISEPRICE ) AS  [VALUE OF OPTIONS/ UNITS VESTING IN (Y+2)(IN INR)] 
	 --F_T.OPTIONS_VESTING_YEAR_PLUS_TWO *(@CLOSE_PRICE-EXERCISEPRICE) AS [VALUE OF OPTIONS/ UNITS VESTING IN (Y+2)  (IN INR)] 
INTO   #OUT_T3 
FROM   #T3 
GROUP  BY SCHEMEID, 
          GRANTDATE, 
          EXERCISEPRICE, 
          EMPLOYEEID, 
          EMPLOYEENAME 
          
          ------#TT IT IS THE FINAL TEMPORARY TABLE WHERE ALL THE DATA WILL B COMPILED AND INSERTED---------------

CREATE TABLE #TT 
  ( 
     EMPLOYEENAME                                           VARCHAR(100), 
     EMPLOYEEID                                             VARCHAR(50), 
     STOCKPRICE_NSE                                         FLOAT, 
     DATE_OF_STOCKPRICE                                     DATETIME, 
     SCHEME_NAME                                            VARCHAR(100), 
     GRANTDATE                                              DATETIME, 
     EXERCISEPRICE                                          FLOAT, 
     OPTIONSGRANTED                                         NUMERIC(18, 0), 
     OPTIONSVESTED                                          NUMERIC(18, 0), 
     OPTIONSUNVESTED                                        NUMERIC(18, 0), 
     OPTIONSCANCELLED_OPTIONSLAPSED                         NUMERIC(18, 0), 
     OPTIONS_VESTING_YEAR                                   NUMERIC(18, 0), 
     [OPTIONS / UNITS VESTING IN (Y+1)]                     NUMERIC(18, 0), 
     [OPTIONS / UNITS VESTING IN (Y+2)]                     NUMERIC(18, 0), 
     [VALUE OF OPTIONS /UNITS GRANTED (IN INR)]             NUMERIC(18, 0), 
     [VALUE OF VESTED OPTIONS /UNITS  (IN INR)]             NUMERIC(18, 0), 
     [VALUE OF UNVESTED OPTIONS /UNITS (IN INR)]            NUMERIC(18, 0), 
     [VALUE OF OPTIONS/UNITS CANCELLED/LAPSED (IN INR)]     NUMERIC(18, 0), 
     [VALUE OF  OPTIONS/UNITS VESTING THIS YEAR(Y)(IN INR)] NUMERIC(18, 0), 
     [VALUE OF OPTIONS/ UNITS VESTING IN (Y+1)(IN INR)]     NUMERIC(18, 0), 
     [VALUE OF OPTIONS/ UNITS VESTING IN (Y+2)(IN INR)]     NUMERIC(18, 0), 
  ) 
  
  
 -----------ALL THE DATA IS INSERTED FROM 1990 TO TODAYS DATE-------------------------------------------- 

INSERT INTO #TT 
SELECT EMPLOYEENAME, 
       EMPLOYEEID, 
       STOCKPRICE_NSE, 
       DATE_OF_STOCKPRICE, 
       SCHEME_NAME, 
       GRANTDATE, 
       EXERCISEPRICE, 
       OPTIONSGRANTED, 
       OPTIONSVESTED, 
       OPTIONSUNVESTED, 
       OPTIONSCANCELLED_OPTIONSLAPSED, 
       OPTIONS_VESTING_YEAR, 
       0, 
       0, 
       [VALUE OF OPTIONS /UNITS GRANTED (IN INR)], 
       [VALUE OF VESTED OPTIONS /UNITS  (IN INR)], 
       [VALUE OF UNVESTED OPTIONS /UNITS (IN INR)], 
       [VALUE OF OPTIONS/UNITS CANCELLED/LAPSED (IN INR)], 
       [VALUE OF  OPTIONS/UNITS VESTING THIS YEAR(Y)(IN INR)], 
       0, 
       0 
FROM   #OUT_T0


------------------------FIND UNNCOMMON BETWEEN #OUT_T1 AND #TT-------------------------------
SELECT * 
INTO   #TEMP11 
FROM   #OUT_T1
EXCEPT 
SELECT T.* 
FROM   #OUT_T1 T 
       INNER JOIN #TT TT 
               ON T.EMPLOYEEID = TT.EMPLOYEEID 
                  AND T.EMPLOYEENAME = TT.EMPLOYEENAME 
                  AND T.SCHEME_NAME = TT.SCHEME_NAME 
                  AND T.GRANTDATE = TT.GRANTDATE 
    -------INSERT THE UNCOMMON ONES IN #TT--------------------------------------------------           

INSERT INTO #TT 
SELECT EMPLOYEENAME, 
       EMPLOYEEID, 
       STOCKPRICE_NSE, 
       DATE_OF_STOCKPRICE, 
       SCHEME_NAME, 
       GRANTDATE, 
       EXERCISEPRICE, 
       OPTIONSGRANTED, 
       OPTIONSVESTED, 
       OPTIONSUNVESTED, 
       OPTIONSCANCELLED_OPTIONSLAPSED, 
       OPTIONS_VESTING_YEAR, 
       0, 
       0, 
       [VALUE OF OPTIONS /UNITS GRANTED (IN INR)], 
       [VALUE OF VESTED OPTIONS /UNITS  (IN INR)], 
       [VALUE OF UNVESTED OPTIONS /UNITS (IN INR)], 
       [VALUE OF OPTIONS/UNITS CANCELLED/LAPSED (IN INR)], 
       [VALUE OF  OPTIONS/UNITS VESTING THIS YEAR(Y)(IN INR)], 
       0, 
       0 
FROM   #TEMP11 

------------------------FIND UNNCOMMON BETWEEN #OUT_T2 AND #TT-------------------------------
SELECT * 
INTO   #TEMP12 
FROM   #OUT_T2 
EXCEPT 
SELECT T2.* 
FROM   #OUT_T2 T2
       INNER JOIN #TT TT 
               ON T2.EMPLOYEEID = TT.EMPLOYEEID 
                  AND T2.EMPLOYEENAME = TT.EMPLOYEENAME 
                  AND T2.SCHEME_NAME = TT.SCHEME_NAME 
                  AND T2.GRANTDATE = TT.GRANTDATE 
                      AND T2.EXERCISEPRICE = TT.EXERCISEPRICE 
---------------INSERT THE UNCOMMON ONES IN #TT---------------------------------------------------
INSERT INTO #TT 
SELECT EMPLOYEENAME, 
       EMPLOYEEID, 
       STOCKPRICE_NSE, 
       DATE_OF_STOCKPRICE, 
       SCHEME_NAME, 
       GRANTDATE, 
       EXERCISEPRICE, 
       OPTIONSGRANTED, 
       OPTIONSVESTED, 
       OPTIONSUNVESTED, 
       OPTIONSCANCELLED_OPTIONSLAPSED, 
       0, 
        [OPTIONS / UNITS VESTING IN (Y+1)], 
       0, 
       [VALUE OF OPTIONS /UNITS GRANTED (IN INR)], 
       [VALUE OF VESTED OPTIONS /UNITS  (IN INR)], 
       [VALUE OF UNVESTED OPTIONS /UNITS (IN INR)], 
       [VALUE OF OPTIONS/UNITS CANCELLED/LAPSED (IN INR)], 
       0, 
        [VALUE OF OPTIONS/ UNITS VESTING IN (Y+1)(IN INR)], 
     0
FROM   #TEMP12 
-----------------------------------------------------FIND UNNCOMMON BETWEEN #OUT_T3 AND #TT-------------------------------


SELECT * 
INTO   #TEMP13 
FROM   #OUT_T3 
EXCEPT 
SELECT T3.* 
FROM   #OUT_T3 T3
       INNER JOIN #TT TT 
               ON T3.EMPLOYEEID = TT.EMPLOYEEID 
                  AND T3.EMPLOYEENAME = TT.EMPLOYEENAME 
                  AND T3.SCHEME_NAME = TT.SCHEME_NAME 
                  AND T3.GRANTDATE = TT.GRANTDATE 
------------------------------------INSERT THE UNCOMMON ONES IN #TT-----------------------------------------
INSERT INTO #TT 
SELECT EMPLOYEENAME, 
       EMPLOYEEID, 
       STOCKPRICE_NSE, 
       DATE_OF_STOCKPRICE, 
       SCHEME_NAME, 
       GRANTDATE, 
       EXERCISEPRICE, 
       OPTIONSGRANTED, 
       OPTIONSVESTED, 
       OPTIONSUNVESTED, 
       OPTIONSCANCELLED_OPTIONSLAPSED, 
       0, 
        0, 
       [OPTIONS / UNITS VESTING IN (Y+2)], 
       [VALUE OF OPTIONS /UNITS GRANTED (IN INR)], 
       [VALUE OF VESTED OPTIONS /UNITS  (IN INR)], 
       [VALUE OF UNVESTED OPTIONS /UNITS (IN INR)], 
       [VALUE OF OPTIONS/UNITS CANCELLED/LAPSED (IN INR)], 
       0, 
        0, 
     [VALUE OF OPTIONS/ UNITS VESTING IN (Y+2)(IN INR)]
FROM   #TEMP13 
--

--------UPDATE #TT WITH 'OPTIONS_VESTING_YEAR' AND '[VALUE OF  OPTIONS/UNITS VESTING THIS YEAR(Y)(IN INR)]' VALUES FROM #OUT_T1------

UPDATE #TT  SET OPTIONS_VESTING_YEAR = T1.OPTIONS_VESTING_YEAR  
FROM #OUT_T1 T1 WHERE #TT.EMPLOYEEID = T1.EMPLOYEEID AND #TT.SCHEME_NAME=T1.SCHEME_NAME AND
#TT.GRANTDATE=T1.GRANTDATE AND #TT.EXERCISEPRICE=T1.EXERCISEPRICE


UPDATE #TT  SET [VALUE OF  OPTIONS/UNITS VESTING THIS YEAR(Y)(IN INR)] = T1.[VALUE OF  OPTIONS/UNITS VESTING THIS YEAR(Y)(IN INR)] 
FROM #OUT_T1 T1 WHERE #TT.EMPLOYEEID = T1.EMPLOYEEID AND #TT.SCHEME_NAME=T1.SCHEME_NAME AND
 #TT.GRANTDATE=T1.GRANTDATE AND #TT.EXERCISEPRICE=T1.EXERCISEPRICE
 
--------UPDATE #TT WITH [OPTIONS / UNITS VESTING IN (Y+1)] AND '[VALUE OF OPTIONS/ UNITS VESTING IN (Y+1)(IN INR)]' VALUES FROM #OUT_T2------

UPDATE #TT  SET [OPTIONS / UNITS VESTING IN (Y+1)] = T2.[OPTIONS / UNITS VESTING IN (Y+1)]
FROM #OUT_T2 T2 WHERE #TT.EMPLOYEEID = T2.EMPLOYEEID AND #TT.SCHEME_NAME=T2.SCHEME_NAME AND
#TT.GRANTDATE=T2.GRANTDATE AND #TT.EXERCISEPRICE=T2.EXERCISEPRICE

UPDATE #TT  SET [VALUE OF OPTIONS/ UNITS VESTING IN (Y+1)(IN INR)] = T2.[VALUE OF OPTIONS/ UNITS VESTING IN (Y+1)(IN INR)]
FROM #OUT_T2 T2 WHERE #TT.EMPLOYEEID = T2.EMPLOYEEID AND #TT.SCHEME_NAME=T2.SCHEME_NAME AND
#TT.GRANTDATE=T2.GRANTDATE AND #TT.EXERCISEPRICE=T2.EXERCISEPRICE

--------UPDATE #TT WITH [OPTIONS / UNITS VESTING IN (Y+2)] AND '[VALUE OF OPTIONS/ UNITS VESTING IN (Y+2)(IN INR)]' VALUES FROM #OUT_T3------
UPDATE #TT  SET [OPTIONS / UNITS VESTING IN (Y+2)] = T3.[OPTIONS / UNITS VESTING IN (Y+2)]
FROM #OUT_T3 T3 WHERE #TT.EMPLOYEEID = T3.EMPLOYEEID AND #TT.SCHEME_NAME=T3.SCHEME_NAME AND
#TT.GRANTDATE=T3.GRANTDATE AND #TT.EXERCISEPRICE=T3.EXERCISEPRICE

UPDATE #TT  SET [VALUE OF OPTIONS/ UNITS VESTING IN (Y+2)(IN INR)] = T3.[VALUE OF OPTIONS/ UNITS VESTING IN (Y+2)(IN INR)]
FROM #OUT_T3 T3 WHERE #TT.EMPLOYEEID = T3.EMPLOYEEID AND #TT.SCHEME_NAME=T3.SCHEME_NAME AND
#TT.GRANTDATE=T3.GRANTDATE AND #TT.EXERCISEPRICE=T3.EXERCISEPRICE

-------------- SELECT THE RESULT-----------------------------------------------------------------------------------------------
SELECT EMPLOYEENAME,	EMPLOYEEID,	STOCKPRICE_NSE,	CONVERT(VARCHAR(10),DATE_OF_STOCKPRICE,103)AS DATE_OF_STOCKPRICE ,	SCHEME_NAME,	CONVERT (VARCHAR,GRANTDATE,103) AS GRANTDATE ,	EXERCISEPRICE,	OPTIONSGRANTED,	OPTIONSVESTED,	OPTIONSUNVESTED,	OPTIONSCANCELLED_OPTIONSLAPSED,	OPTIONS_VESTING_YEAR,	[OPTIONS / UNITS VESTING IN (Y+1)],	[OPTIONS / UNITS VESTING IN (Y+2)],	[VALUE OF OPTIONS /UNITS GRANTED (IN INR)],	[VALUE OF VESTED OPTIONS /UNITS  (IN INR)],	[VALUE OF UNVESTED OPTIONS /UNITS (IN INR)],	[VALUE OF OPTIONS/UNITS CANCELLED/LAPSED (IN INR)],	[VALUE OF  OPTIONS/UNITS VESTING THIS YEAR(Y)(IN INR)],	[VALUE OF OPTIONS/ UNITS VESTING IN (Y+1)(IN INR)],	[VALUE OF OPTIONS/ UNITS VESTING IN (Y+2)(IN INR)]
FROM #TT

END


GO
