/****** Object:  StoredProcedure [dbo].[PROC_CONTRA_TRADE_LOG]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CONTRA_TRADE_LOG]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CONTRA_TRADE_LOG]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_CONTRA_TRADE_LOG]
(
	@YN_STATUS			CHAR(1) = NULL,
	@EMPLOYEE_ID		VARCHAR(20)=NULL
)
AS
BEGIN
	/* Insert Contra Trading Log Details */
	INSERT INTO AUDIT_TRAIL_CONTRA_TRADE_LOG (YN_STATUS,EMPLOYEE_ID,LAST_UPDATED_BY,LAST_UPDATED_ON)
	VALUES(@YN_STATUS,@EMPLOYEE_ID,@EMPLOYEE_ID,GETDATE())
	
END
GO
