/****** Object:  StoredProcedure [dbo].[PROC_FILL_TAX_HEADINGS]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_FILL_TAX_HEADINGS]
GO
/****** Object:  StoredProcedure [dbo].[PROC_FILL_TAX_HEADINGS]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[PROC_FILL_TAX_HEADINGS]
(
	@INSTRUMENT_ID			BIGINT,
	@RESIDENTIAL_ID			BIGINT=NULL,
	@COUNTRY_ID				BIGINT =Null
)
AS
BEGIN
	SET NOCOUNT ON;
	
	IF(@RESIDENTIAL_ID=0)
		SET @RESIDENTIAL_ID=Null	
	IF(@COUNTRY_ID=0)
		SET @COUNTRY_ID=Null
	
	
	
	IF(@RESIDENTIAL_ID > 0)
	BEGIN
		SELECT TRSC_ID,TAX_HEADING FROM TAX_RATE_SETTING_CONFIG TRSC 
		WHERE TRSC.MIT_ID=@INSTRUMENT_ID AND TRSC.RESIDENTIAL_ID =@RESIDENTIAL_ID AND ISNULL( TRSC.COUNTRY_ID,0)=0
	END
	ELSE IF(@COUNTRY_ID > 0)
	BEGIN
		SELECT TRSC_ID,TAX_HEADING FROM TAX_RATE_SETTING_CONFIG TRSC 
		WHERE TRSC.MIT_ID=@INSTRUMENT_ID AND ISNULL(TRSC.RESIDENTIAL_ID,0)=0 AND TRSC.COUNTRY_ID =@COUNTRY_ID
	
	END
	ELSE
	BEGIN
		SELECT TRSC_ID,TAX_HEADING FROM TAX_RATE_SETTING_CONFIG TRSC 
		WHERE TRSC.MIT_ID=@INSTRUMENT_ID AND TRSC.RESIDENTIAL_ID IS NULL AND TRSC.COUNTRY_ID IS NULL
	END
	
			
END
GO
