/****** Object:  StoredProcedure [dbo].[PROC_GET_VALUE_DEF_ISEXIST]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_VALUE_DEF_ISEXIST]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_VALUE_DEF_ISEXIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[PROC_GET_VALUE_DEF_ISEXIST]
(
 @PAGENAME				VARCHAR (100),
 @INSTRUMENT_ID			bigint
 
)
AS
BEGIN
	SET NOCOUNT ON;	
	DECLARE @LOCKINGDATE DATETIME
	IF(UPPER(@PAGENAME)='FMV')
	BEGIN
			
			SELECT TOP(1) CASE WHEN FFC_ID >0 THEN '1' ELSE '0' END  as ISExist ,FFC_ID FROM FMV_FORMULA_CONFIG WHERE ISNULL(Residential_ID,0) =0 And ISNULL(Country_ID,0)=0 And MIT_ID= @INSTRUMENT_ID  AND FORMULA_CONFIG_TYPE='FMV' ORDER BY FFC_ID DESC 
			IF EXISTS(SELECT TOP(1) FFC_ID FROM FMV_FORMULA_CONFIG WHERE ISNULL(Residential_ID,0) =0 AND ISNULL(Country_ID,0)=0 AND MIT_ID= @INSTRUMENT_ID  AND FORMULA_CONFIG_TYPE='FMV' ORDER BY FFC_ID DESC)
			BEGIN
					
					SELECT TOP(1) @LOCKINGDATE = APPLICABLE_FROM_DATE FROM FMV_FORMULA_CONFIG WHERE ISNULL(Residential_ID,0) =0 AND ISNULL(Country_ID,0)=0 AND MIT_ID= @INSTRUMENT_ID  AND FORMULA_CONFIG_TYPE='FMV' ORDER BY FFC_ID DESC
	
			END
			ELSE
					SELECT @LOCKINGDATE=Calc_PerqDt_From FROM COMPANYPARAMETERS
			
			SELECT @LOCKINGDATE AS LOCKINGDATE
			
	END
	ELSE IF(UPPER(@PAGENAME)='PERQUISITEVALUE')
	BEGIN
	
		SELECT TOP(1) CASE WHEN PFC_ID >0 THEN '1' ELSE '0' END  as ISExist ,PFC_ID AS ID FROM PERQUISITE_FORMULA_CONFIG WHERE ISNULL(Residential_ID,0) =0 AND ISNULL(Country_ID,0)=0 AND MIT_ID= @INSTRUMENT_ID   ORDER BY PFC_ID DESC 
		
		IF EXISTS(SELECT TOP(1) PFC_ID AS ID FROM PERQUISITE_FORMULA_CONFIG WHERE ISNULL(Residential_ID,0) =0   AND ISNULL(Country_ID,0)=0 AND MIT_ID= @INSTRUMENT_ID   ORDER BY PFC_ID DESC)
			BEGIN
					SELECT TOP(1) @LOCKINGDATE = APPLICABLE_FROM_DATE FROM PERQUISITE_FORMULA_CONFIG WHERE ISNULL(Residential_ID,0) =0 And ISNULL(Country_ID,0)=0 AND MIT_ID= @INSTRUMENT_ID   ORDER BY PFC_ID DESC
								
			END
			ELSE
					SELECT @LOCKINGDATE=Calc_PerqDt_From FROM COMPANYPARAMETERS
			
			SELECT @LOCKINGDATE AS LOCKINGDATE
	
	END
	ELSE IF(UPPER(@PAGENAME)='PROPORTIONATEPERQVALUE')
	BEGIN
	
		SELECT TOP(1) CASE WHEN PPC_ID >0 THEN '1' ELSE '0' END  as ISExist ,PPC_ID AS ID FROM PROPORTIONATE_PERQ_CONFIG WHERE ISNULL(Residential_ID,0)=0 And ISNULL(Country_ID,0)=0 AND MIT_ID= @INSTRUMENT_ID   ORDER BY PPC_ID DESC 
		
		IF EXISTS(SELECT TOP(1) PPC_ID AS ID FROM PROPORTIONATE_PERQ_CONFIG WHERE ISNULL(Residential_ID,0)=0 AND ISNULL(Country_ID,0)=0 AND MIT_ID= @INSTRUMENT_ID   ORDER BY PPC_ID DESC )
			BEGIN
					SELECT TOP(1) @LOCKINGDATE = APPLICABLE_FROM_DATE FROM PERQUISITE_FORMULA_CONFIG WHERE ISNULL(Residential_ID,0)=0 AND ISNULL(Country_ID,0)=0 AND MIT_ID= @INSTRUMENT_ID   ORDER BY PFC_ID DESC
								
			END
			ELSE
					SELECT @LOCKINGDATE=Calc_PerqDt_From FROM COMPANYPARAMETERS
			
			SELECT @LOCKINGDATE AS LOCKINGDATE
	
	END
	
END
GO
