/****** Object:  StoredProcedure [dbo].[PROC_CRUD_EXERCISE_DETAILS_TRANSACTION_APPROVAL]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CRUD_EXERCISE_DETAILS_TRANSACTION_APPROVAL]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CRUD_EXERCISE_DETAILS_TRANSACTION_APPROVAL]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[PROC_CRUD_EXERCISE_DETAILS_TRANSACTION_APPROVAL] 

	@EXERCISE_NO NVARCHAR(100) = NULL,
	@APPROVALDATE Datetime,
	@APPROVALSTATUS NVARCHAR(1000) = NULL,
	@CREATED_BY NVARCHAR(1000) = NULL,
	@UPDATED_BY NVARCHAR(1000) = NULL,
	@ACTION		   NVARCHAR(50)	
AS
BEGIN
	IF(UPPER(@ACTION)='ADD')
		BEGIN			
				INSERT INTO EXERCISE_DETAILS_TRANSACTION_APPROVAL (EXERCISE_NO   ,APPROVALDATE  ,APPROVALSTATUS,CREATED_BY  ,CREATED_ON    ,UPDATED_BY    ,UPDATED_ON  ) VALUES
						(@EXERCISE_NO,@APPROVALDATE,@APPROVALSTATUS,@CREATED_BY,GETDATE(),@UPDATED_BY,GETDATE())
		END

		ELSE IF(UPPER(@ACTION)='UPDATE')
		BEGIN		      
				UPDATE  EXERCISE_DETAILS_TRANSACTION_APPROVAL SET  APPROVALDATE=@APPROVALDATE WHERE  EXERCISE_NO = @EXERCISE_NO    	
		END
		ELSE IF(UPPER(@ACTION)='EXISTS')
		BEGIN
				SELECT COUNT(EXERCISE_NO) as EXERCISE_NO FROM EXERCISE_DETAILS_TRANSACTION_APPROVAL WHERE EXERCISE_NO=@EXERCISE_NO
		END
END
GO
