/****** Object:  StoredProcedure [dbo].[PROC_CALCULATE_TAX_ON_EXERCISE_NOW]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_CALCULATE_TAX_ON_EXERCISE_NOW]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CALCULATE_TAX_ON_EXERCISE_NOW]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 

CREATE   PROCEDURE [dbo].[PROC_CALCULATE_TAX_ON_EXERCISE_NOW] 
(
	@PERQ_VALUE_TYPE dbo.TYPE_PERQ_VALUE READONLY,
	@CLOSE_PRICE NUMERIC(18,6) = NULL
)
AS 
BEGIN     
  
 SET NOCOUNT ON;  
  
 DECLARE  
  @CompanyID VARCHAR(20), @IsPaymentModeRequired TINYINT, @PaymentModeEffectiveDate DATE, @FaceVaue NUMERIC(18, 2),   
  @SARFMV NUMERIC(18, 2), @IsSingleModeEnabled BIT, @Payment_Mode CHAR(1), @CalculateDays VARCHAR(20), @DaysOut VARCHAR(20),   
  @FBTemployeetravelledYN VARCHAR(20), @FBTPayBy VARCHAR(20), @RoundupPlace_TaxableVal VARCHAR(5),   
  @RoundingParam_TaxableVal VARCHAR(5), @RoundingParam_FMV VARCHAR(5), @RoundupPlace_FMV VARCHAR(5), @ExerciseId NUMERIC(18,0),  
  @TRANSACTION_SUCCESSFUL INT = 0  
    
 SELECT @CompanyID = CompanyID FROM CompanyParameters  
   
 SELECT   
   @RoundupPlace_TaxableVal = RoundupPlace_TaxableVal, @RoundingParam_TaxableVal = RoundingParam_TaxableVal,   
   @RoundingParam_FMV = RoundingParam_FMV, @RoundupPlace_FMV = RoundupPlace_FMV   
 FROM   
  CompanyParameters  
  
 BEGIN /* CREATE TEMP TABLE */  
   
  CREATE TABLE #TEMP_PRE_EXERCISED_DETAILS  
  (   PK_ID BIGINT IDENTITY(1,1),
   ExerciseId BIGINT, ID BIGINT, ApprovalId NVARCHAR(100), SchemeId NVARCHAR(100), GrantApprovalId NVARCHAR(100),     
   GrantRegistrationId NVARCHAR(100), GrantOptionId NVARCHAR(100), GrantLegId NVARCHAR(10), [Counter] NVARCHAR(10), VestingType NVARCHAR(2),     
   GrantedQuantity NUMERIC(18,0), SplitQuantity NUMERIC(18,0), BonusSplitQuantity NUMERIC(18,0), Parent NVARCHAR(2),     
   FinalVestingDate DATETIME, FinalExpirayDate DATETIME, ExercisePrice NUMERIC(18,6), GrantDate DATETIME, LockInPeriodStartsFrom NVARCHAR(2),     
   LockInPeriod NUMERIC(18,0), OptionRatioMultiplier NUMERIC(18,2), OptionRatioDivisor NUMERIC(18,2), SchemeTitle NVARCHAR(100),     
   IsPaymentModeRequired NVARCHAR(2), PaymentModeEffectiveDate DATETIME, MIT_ID BIGINT, OptionTimePercentage NUMERIC(18,2),     
   EmployeeId NVARCHAR(100), LoginID NVARCHAR(100), ResidentialStatus NVARCHAR(2), TAX_IDENTIFIER_COUNTRY NVARCHAR(10),     
   A_GrantedQuantity NUMERIC(18,0), A_SplitQuantity NUMERIC(18,0), A_BonusSplitQuantity NUMERIC(18,0),     
   A_ExercisedQuantity NUMERIC(18,0), A_SplitExercisedQuantity NUMERIC(18,0), A_BonusSplitExercisedQuantity NUMERIC(18,0),     
   A_CancelledQuantity NUMERIC(18,0), A_SplitCancelledQuantity NUMERIC(18,0), A_BonusSplitCancelledQuantity NUMERIC(18,0),     
   A_UnapprovedExerciseQuantity NUMERIC(18,0), T_LapsedQuantity NUMERIC(18,0), A_ExercisableQuantity NUMERIC(18,0),     
   EXERCISABLE_QUANTITY NUMERIC(18,0), AEC_ID BIGINT, EXERCISE_ON NVARCHAR(200),     
   FMVPrice NUMERIC(18,6), PerqstValue NUMERIC(20,9), PerqstPayable NUMERIC(20,9), Perq_Tax_rate numeric(18,6),     
   TentativeFMVPrice NUMERIC(18,6), TentativePerqstValue NUMERIC(18,6), TentativePerqstPayable NUMERIC(18,6),     
   TaxFlag CHAR(1), FaceVaue NUMERIC(18, 2), SARFMV NUMERIC(18, 2), ExType VARCHAR(10), Cash VARCHAR(10), PaymentMode VARCHAR,    
   PerPayModeSelected NVARCHAR(5), EXERCISE_DATE DATETIME,    
   StockApprValue NUMERIC(20,9), TentativeStockApprValue NUMERIC(18,6), CashPayoutValue NUMERIC(18,6),     
   TentativeCashPayoutValue NUMERIC(18,6), SettlmentPrice NUMERIC(18,6), TentativeSettlmentPrice NUMERIC(18,6),    
   ShareAppriciation NUMERIC(20,9), TentativeShareAppriciation NUMERIC(20,9), EVENT_OF_INCIDENCE NUMERIC(18,0),    
   EXERCISE_AMOUNT_PAYABLE NUMERIC(20,0),PARENT_NB NVARCHAR(5),TrustType VARCHAR(20)   
  )    
 END    
  
 INSERT INTO #TEMP_PRE_EXERCISED_DETAILS     
 (     
  MIT_ID, EmployeeId, LoginID, ExercisePrice, EXERCISABLE_QUANTITY, FMVPrice, A_ExercisedQuantity, A_GrantedQuantity, EXERCISE_DATE,    
  GrantOptionId, GrantDate, FinalVestingDate, ID, ExerciseId    
 )    
 SELECT     
  INSTRUMENT_ID,  (SELECT TOP 1 EmployeeID from EmployeeMaster Where LoginID=EMPLOYEE_ID and Deleted=0 ), EMPLOYEE_ID, 
  EXERCISE_PRICE, OPTION_VESTED, FMV_VALUE,
   OPTION_EXERCISED, GRANTED_OPTIONS, EXERCISE_DATE,     
  GRANTOPTIONID, GRANTDATE, VESTINGDATE, GRANTLEGSERIALNO, TEMP_EXERCISEID    
 FROM     
  @PERQ_VALUE_TYPE    
   --  select '============'
   --select  * from @PERQ_VALUE_TYPE
   --select * from #TEMP_PRE_EXERCISED_DETAILS
   --select '============'
 BEGIN /* ===== CASH ===== */    
     
  UPDATE #TEMP_PRE_EXERCISED_DETAILS     
   SET Cash =            
      CASE WHEN ExType != '' THEN     
       CASE ExType     
        WHEN 'PUP' THEN 'PUP'    
        WHEN 'ADS' THEN 'ADS'        
        ELSE 'CASH'     
      END    
      ELSE 'CASH'      
    END       
    END        
        
    BEGIN /* ===== FACE VALUE  ===== */    
    
  SELECT @FaceVaue = MAX(CP.FaceVaue) FROM CompanyParameters CP    
    
  UPDATE #TEMP_PRE_EXERCISED_DETAILS SET FaceVaue = @FaceVaue    
 END    
     
 BEGIN /* UPDATE SCHEME ID*/    
    
  UPDATE TAED SET     
   TAED.SchemeId = GOP.SchemeId    
  FROM     
   #TEMP_PRE_EXERCISED_DETAILS AS TAED    
   INNER JOIN GrantOptions AS GOP ON GOP.GrantOptionId = TAED.GrantOptionId    

   UPDATE TAED SET 
   TrustType = SCH.TrustType
   FROM  #TEMP_PRE_EXERCISED_DETAILS AS TAED    
   INNER JOIN SCHEME SCH ON SCH.SchemeId= TAED.SchemeId
 END /*=================*/    
    
 BEGIN /* ===== CALCULATE PERQUISITE VALUE ===== */    

 --Declare @PERQ_VALUE_TYPETemp
        
  EXEC PROC_GET_PERQUISITE_VALUE @EMPLOYEE_DETAILS = @PERQ_VALUE_TYPE     
   
   -- TPD.STOCK_VALUE this value is share arising appriciation value --
  UPDATE TAED SET     
   TAED.EVENT_OF_INCIDENCE = TPD.EVENTOFINCIDENCE, TAED.EXERCISE_AMOUNT_PAYABLE = TPD.EXERCISE_AMOUNT_PAYABLE
   ,    
   TAED.ShareAppriciation =  TPD.SHARE_APPRECIATION_VALUE    
  FROM     
   #TEMP_PRE_EXERCISED_DETAILS AS TAED    
   INNER JOIN TEMP_PERQUISITE_DETAILS AS TPD ON TPD.TEMP_EXERCISEID = TAED.ExerciseId     
    
  /* ADD DATA TO TYPE */    
  DECLARE @PERQ_VALUE_RESULT dbo.TYPE_PERQ_FORAUTOEXERCISE    
    
  INSERT INTO @PERQ_VALUE_RESULT    
  SELECT     
   INSTRUMENT_ID, EMPLOYEE_ID, FMV_VALUE, PERQ_VALUE, EVENTOFINCIDENCE, GRANTDATE, VESTINGDATE,     
   EXERCISE_DATE, GRANTOPTIONID, GRANTLEGSERIALNO, TEMP_EXERCISEID, SHARE_APPRECIATION_VALUE   
   
  FROM     
   TEMP_PERQUISITE_DETAILS      
     

	 
	 
      
  BEGIN /* PERX TAX ADJUSTEMENT */    
    
   CREATE TABLE #TEMP_PERQ_TAX_ADJUSTEMENT    
   (    
    PK_ID BIGINT IDENTITY(1,1),    
    ID BIGINT, INSTRUMENT_ID NVARCHAR(10), EMPLOYEE_ID NVARCHAR(500), GRANTOPTIONID NVARCHAR(100), FMV_VALUE NUMERIC(18,9),    
    PERQ_VALUE NUMERIC(20,9),STOCK_VALUE  NUMERIC(18,9), GRANTLEGSERIALNO BIGINT, TEMP_EXERCISEID BIGINT, GROUP_NUMBER BIGINT, PARENT NVARCHAR(5)    
   )    
    
   CREATE TABLE #TEMP_PERQ_TAX_ADJUSTED    
   (    
    PK_ID BIGINT, ID BIGINT, INSTRUMENT_ID NVARCHAR(10), EMPLOYEE_ID NVARCHAR(500), GRANTOPTIONID NVARCHAR(100), FMV_VALUE NUMERIC(18,9),    
    PERQ_VALUE NUMERIC(20,9), GRANTLEGSERIALNO NVARCHAR(100), TEMP_EXERCISEID NUMERIC(18,0), GROUP_NUMBER BIGINT, PARENT NVARCHAR(5),    
    AJD_PERQ_VALUE NUMERIC(20,9),STOCK_VALUE  NUMERIC(18,9),ADJ_STOCK_VALUE  NUMERIC(18,9)    
   )    
    
	CREATE TABLE #TEMP_PERQ_TAX_ADJUSTEMENT_SHADOW    
   (    
    PK_ID BIGINT IDENTITY(1,1),    
    ID BIGINT, INSTRUMENT_ID NVARCHAR(10), EMPLOYEE_ID NVARCHAR(500), GRANTOPTIONID NVARCHAR(100), FMV_VALUE NUMERIC(18,9),    
    PERQ_VALUE NUMERIC(20,9),STOCK_VALUE  NUMERIC(20,9), GRANTLEGSERIALNO BIGINT, TEMP_EXERCISEID BIGINT, GROUP_NUMBER BIGINT, PARENT NVARCHAR(5)    
   ) 
   print 'lllllllllllllll'
   INSERT INTO #TEMP_PERQ_TAX_ADJUSTEMENT_SHADOW    
   (    
    ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, FMV_VALUE, PERQ_VALUE, GRANTLEGSERIALNO,     
    TEMP_EXERCISEID, GROUP_NUMBER, PARENT,STOCK_VALUE      
   )    
   SELECT      
    TPD.ID, TPD.INSTRUMENT_ID, TPD.EMPLOYEE_ID, TPD.GRANTOPTIONID, TPD.FMV_VALUE, TPD.PERQ_VALUE, TPD.GRANTLEGSERIALNO,     
    TPD.TEMP_EXERCISEID, GMOEN.GroupNumber, GMOEN.PARENT,TPD.STOCK_VALUE      
   FROM    
    TEMP_PERQUISITE_DETAILS AS TPD    
    INNER JOIN GrantMappingOnExNow AS GMOEN ON GMOEN.GrantOptionId = TPD.GRANTOPTIONID    
   ORDER BY  TPD.ID    
   -- GMOEN.GroupNumber, TPD.TEMP_EXERCISEID ASC, GMOEN.PARENT DESC 
	
	INSERT INTO #TEMP_PERQ_TAX_ADJUSTEMENT   
   (    
    ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, FMV_VALUE, PERQ_VALUE, GRANTLEGSERIALNO,     
    TEMP_EXERCISEID, GROUP_NUMBER, PARENT,STOCK_VALUE      
   )    
   SELECT      
    ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, FMV_VALUE, PERQ_VALUE, GRANTLEGSERIALNO,     
    TEMP_EXERCISEID, GROUP_NUMBER, PARENT,STOCK_VALUE      
   FROM    
    #TEMP_PERQ_TAX_ADJUSTEMENT_SHADOW    
   ORDER BY     
   GROUP_NUMBER, PK_ID ASC, PARENT DESC    
   
   
	-- Select 'New Adjusted shadow Table',* From #TEMP_PERQ_TAX_ADJUSTEMENT_SHADOW
	--Select 'New Adjusted Table',* From #TEMP_PERQ_TAX_ADJUSTEMENT
	--SElect 'Temp perqusit', * from TEMP_PERQUISITE_DETAILS
	--SELECT 'Orignal Adjustment record',* FROM #TEMP_PERQ_TAX_ADJUSTEMENT
    /* Adjusted taable data*/

		--SELECT  'temp', COUNT(ID) FROM #TEMP_PERQ_TAX_ADJUSTEMENT

	  IF((SELECT COUNT(ID) FROM #TEMP_PERQ_TAX_ADJUSTEMENT) > 0)    
   BEGIN    
    INSERT INTO #TEMP_PERQ_TAX_ADJUSTED    
    (    
     PK_ID, ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, FMV_VALUE, PERQ_VALUE, GRANTLEGSERIALNO, TEMP_EXERCISEID,     
     GROUP_NUMBER, PARENT, AJD_PERQ_VALUE,ADJ_STOCK_VALUE      
    )        
    SELECT TOP 1     
     TPTA.PK_ID, TPTA.ID, TPTA.INSTRUMENT_ID, TPTA.EMPLOYEE_ID, TPTA.GRANTOPTIONID, TPTA.FMV_VALUE, TPTA.PERQ_VALUE, TPTA.GRANTLEGSERIALNO, TPTA.TEMP_EXERCISEID,     
     TPTA.GROUP_NUMBER, TPTA.PARENT,     
     CASE WHEN (TPTA.PERQ_VALUE <= 0) THEN 0 ELSE TPTA.PERQ_VALUE END AS PERQST_VALUE     
     ,CASE WHEN (TPTA.STOCK_VALUE <= 0) THEN 0 ELSE TPTA.STOCK_VALUE END AS STOCK_VALUE         
    FROM     
     #TEMP_PERQ_TAX_ADJUSTEMENT AS TPTA       
	 
    UNION ALL    
    SELECT     
     TPTA.PK_ID, TPTA.ID, TPTA.INSTRUMENT_ID, TPTA.EMPLOYEE_ID, TPTA.GRANTOPTIONID, TPTA.FMV_VALUE, TPTA.PERQ_VALUE, TPTA.GRANTLEGSERIALNO, TPTA.TEMP_EXERCISEID,     
     TPTA.GROUP_NUMBER, TPTA.PARENT,     
     CASE WHEN ((TPTA.PERQ_VALUE <= 0) AND (T_ACTUAL_SELF.PERQ_VALUE > 0) AND ((TPTA.PK_ID % 2 ) <> 0)) THEN 0     
       WHEN ((TPTA.PERQ_VALUE > 0) AND (T_ACTUAL_SELF.PERQ_VALUE > 0)) THEN TPTA.PERQ_VALUE     
      ELSE T_ACTUAL_SELF.PERQ_VALUE + TPTA.PERQ_VALUE  END AS PERQ_VALUE ,    
          
      CASE WHEN ((TPTA.STOCK_VALUE <= 0) AND (T_ACTUAL_SELF.STOCK_VALUE > 0) AND ((TPTA.PK_ID % 2 ) <> 0)) THEN 0     
       WHEN ((TPTA.STOCK_VALUE > 0) AND (T_ACTUAL_SELF.STOCK_VALUE > 0)) THEN TPTA.STOCK_VALUE     
      ELSE T_ACTUAL_SELF.STOCK_VALUE + TPTA.STOCK_VALUE  END AS STOCK_VALUE        
    FROM     
     #TEMP_PERQ_TAX_ADJUSTEMENT AS TPTA    
     INNER JOIN #TEMP_PERQ_TAX_ADJUSTEMENT AS T_ACTUAL_SELF ON (T_ACTUAL_SELF.PARENT <> TPTA.PARENT) AND  (T_ACTUAL_SELF.PK_ID = TPTA.PK_ID - 1)     
  
  

   -- SELECT '==============================#TEMP_PERQ_TAX_ADJUSTEMENT====================================='    
   --SELECT 11    
       
   -- SELECT     
   --  PK_ID, ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, FMV_VALUE, PERQ_VALUE, GRANTLEGSERIALNO, TEMP_EXERCISEID,     
   --  GROUP_NUMBER, PARENT,STOCK_VALUE    
   -- FROM     
   --  #TEMP_PERQ_TAX_ADJUSTEMENT    
       
   -- SELECT    
   --  PK_ID, ID, INSTRUMENT_ID, EMPLOYEE_ID, GRANTOPTIONID, FMV_VALUE, PERQ_VALUE, GRANTLEGSERIALNO, TEMP_EXERCISEID,     
   --  GROUP_NUMBER, PARENT, AJD_PERQ_VALUE,STOCK_VALUE,ADJ_STOCK_VALUE    
   -- FROM    
   --  #TEMP_PERQ_TAX_ADJUSTED    
   -- SELECT '==========================================================================================='    
  --  Print 'Step Update PVR *************************************************************'
  --   Select 'Before Update PVR', * from @PERQ_VALUE_RESULT
	 --Select 'Before Update #TEMP_PERQ_TAX_ADJUSTED', * From #TEMP_PERQ_TAX_ADJUSTED
	UPDATE     
     PVR SET PVR.Total_Perk_Value =  TPTA.AJD_PERQ_VALUE         
     , PVR.STOCK_VALUE =  TPTA.ADJ_STOCK_VALUE    
    FROM     
     @PERQ_VALUE_RESULT AS PVR    
    INNER JOIN #TEMP_PERQ_TAX_ADJUSTED AS TPTA ON 
	TPTA.GRANTLEGSERIALNO = PVR.GRANTLEGSERIALNO      
    AND TPTA.TEMP_EXERCISEID = PVR.TEMP_EXERCISEID  
  
  --SElect 'Step1', * from @PERQ_VALUE_RESULT
   END   
   ELSE    
   BEGIN   
		/*Print 'Step Update TPED'*/
    UPDATE TPED SET     
     TPED.PerqstValue =  PVR.Total_Perk_Value    
   ,TPED.ShareAppriciation =  PVR.STOCK_VALUE     
   -- PVR.STOCK_VALUE  this value is Share Arising Appriciation value which came from Perqusitevalue SP--
    FROM     
     #TEMP_PRE_EXERCISED_DETAILS AS TPED          
    INNER JOIN @PERQ_VALUE_RESULT AS PVR ON PVR.TEMP_EXERCISEID = TPED.ExerciseId    
	
	--Select 'Updated value in #TEMP_PRE_EXERCISED_DETAILS ', * from #TEMP_PRE_EXERCISED_DETAILS
	--Select 'value in #@PERQ_VALUE_RESULT', * from @PERQ_VALUE_RESULT
   END    


  END/* ******************************* */    
  
  
  IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_PERQUISITE_DETAILS')    
  BEGIN    
   DROP TABLE TEMP_PERQUISITE_DETAILS      
  END    
      
	 
  SELECT    
   MIT_ID, EmployeeID, FMV, Total_Perk_Value, EVENT_OF_INCIDENCE, GRANT_DATE, VESTING_DATE, EXERCISE_DATE,     
   GRANTOPTIONID, GRANTLEGSERIALNO, TEMP_EXERCISEID, STOCK_VALUE    
  FROM     
   @PERQ_VALUE_RESULT    
       
 END  
 
    
 BEGIN /* ===== CALCULATE PROPORTIONATE TAX ===== */    
     
  DECLARE @PERQ_VALUE_TYPE_AUTO_EXE dbo.TYPE_PERQ_VALUE_AUTO_EXE    
       
  INSERT INTO @PERQ_VALUE_TYPE_AUTO_EXE     
  SELECT     
   MIT_ID, LoginID, ExercisePrice, EXERCISABLE_QUANTITY, FMVPrice, A_ExercisedQuantity, A_GrantedQuantity,     
   EXERCISE_DATE, GrantOptionId, GrantDate, FinalVestingDate, ID, NULL, NULL, ExerciseId    
  FROM     
   #TEMP_PRE_EXERCISED_DETAILS  
   Order by PK_ID
      
  
  EXEC PROC_GET_PERQUISITE_TAX_VALUE @EMPLOYEE_DETAILS = @PERQ_VALUE_TYPE_AUTO_EXE, @ISTEMPLATE = 1      
        
		
  -- OUTPUT OF PERQUSITE TAX -----      
  DECLARE @PERQ_VALUE_TAX_TYPE_1 dbo.TYPE_PERQ_TAX_AUTOEXERC          
     
  --SELECT '***********====================== ----------------'      
  --SELECT INSTRUMENT_ID,VESTINGDATE,TEMP_EXERCISEID,EMPLOYEE_ID,* FROM TEMP_PERQUISITETAX_DETAILS  
  -- SELECT MIT_ID,FinalVestingDate,ExerciseId,EmployeeId,* FROM #TEMP_PRE_EXERCISED_DETAILS     
  --SELECT '***********====================== ----------------'    
  INSERT INTO @PERQ_VALUE_TAX_TYPE_1        
  SELECT    
   INSTRUMENT_ID, EMPLOYEE_ID, COUNTRY_ID, TPD.GRANTOPTIONID, dbo.FN_ROUND_VALUE(TOT_DAYS, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal), VESTINGDATE, GRANTLEGSERIALNO,     
   FROM_DATE, TO_DATE, TEMP_EXERCISEID, STOCK_VALUE   
  FROM       
   TEMP_PERQUISITETAX_DETAILS TPD INNER JOIN   #TEMP_PRE_EXERCISED_DETAILS TPED  ON TPD.INSTRUMENT_ID=TPED.MIT_ID
   AND TPD.TEMP_EXERCISEID=TPED.ExerciseId AND TPD.VESTINGDATE=TPED.FinalVestingDate AND TPD.EMPLOYEE_ID=TPED.EmployeeId
   Order by TPED.PK_ID,TPD.FROM_DATE, TPD.TO_DATE
  -- ORDER BY  FROM_DATE, TO_DATE,TEMP_EXERCISEID     
    
  --SELECT '***********====================== ----------------'      
  --SELECT * FROM @PERQ_VALUE_TAX_TYPE_1    
  --SELECT '***********====================== ----------------'      
      PRINT 'BBBB'
  BEGIN /* TOTAL NUMBER OF DAYS ADJUSTEMENT */    
      
   CREATE TABLE #TEMP_PERQ_VALUE_TAX_TYPE_1    
   (  ID BIGINT IDENTITY (1, 1),   
    INSTRUMENT_ID NVARCHAR(10), EMPLOYEE_ID NVARCHAR(500), COUNTRY_ID BIGINT, GRANTOPTIONID NVARCHAR(100), TOT_DAYS NUMERIC(18,0),    
    VESTING_DATE DATETIME,  GRANTLEGSERIALNO BIGINT, FROM_DATE DATETIME, TO_DATE DATETIME, TEMP_EXERCISEID BIGINT, STOCK_VALUE NUMERIC(18,9)    
   )    
   
    
   INSERT INTO #TEMP_PERQ_VALUE_TAX_TYPE_1    
   (  
    INSTRUMENT_ID, EMPLOYEE_ID, COUNTRY_ID, GRANTOPTIONID, TOT_DAYS, VESTING_DATE,  GRANTLEGSERIALNO,     
    FROM_DATE, TO_DATE, TEMP_EXERCISEID, STOCK_VALUE    
   )    
   SELECT     
    INSTRUMENT_ID, EMPLOYEE_ID, COUNTRY_ID, GRANTOPTIONID, TOT_DAYS, VESTING_DATE, GRANTLEGSERIALNO,     
    FROM_DATE, TO_DATE, TEMP_EXERCISEID, STOCK_VALUE    
   FROM    
    @PERQ_VALUE_TAX_TYPE_1 
	PRINT 'CCCC'
	      
   CREATE TABLE #TOTAL_NO_DAYS_ADJUSTEMENT    
   (    
    ID BIGINT IDENTITY (1, 1),     
    INSTRUMENT_ID NVARCHAR(10), EMPLOYEE_ID NVARCHAR(500), COUNTRY_ID BIGINT, GRANTOPTIONID NVARCHAR(100), TOT_DAYS NUMERIC(18,0),    
    VESTING_DATE DATETIME,  GRANTLEGSERIALNO BIGINT, FROM_DATE DATETIME, TO_DATE DATETIME, TEMP_EXERCISEID BIGINT, STOCK_VALUE NUMERIC(18,9),    
    GROUP_NUMBER BIGINT, PARENT NVARCHAR(5)      
   )    
    
   CREATE TABLE #TOTAL_NO_DAYS_ADJUSTED    
   (    
    ID BIGINT, INSTRUMENT_ID NVARCHAR(10), EMPLOYEE_ID NVARCHAR(500), COUNTRY_ID BIGINT, GRANTOPTIONID NVARCHAR(100), TOT_DAYS NUMERIC(18,0),    
    VESTING_DATE DATETIME,  GRANTLEGSERIALNO BIGINT, FROM_DATE DATETIME, TO_DATE DATETIME, TEMP_EXERCISEID BIGINT, STOCK_VALUE NUMERIC(18,9),    
    GROUP_NUMBER BIGINT, PARENT NVARCHAR(5), ADJ_TOTAL_DAYS NUMERIC(18,0)    
   )  
   
   CREATE TABLE #TOTAL_NO_DAYS_ADJUSTEMENT_SHADOW    
   (    
    ID BIGINT IDENTITY (1, 1),     
    INSTRUMENT_ID NVARCHAR(10), EMPLOYEE_ID NVARCHAR(500), COUNTRY_ID BIGINT, GRANTOPTIONID NVARCHAR(100), TOT_DAYS NUMERIC(18,0),    
    VESTING_DATE DATETIME,  GRANTLEGSERIALNO BIGINT, FROM_DATE DATETIME, TO_DATE DATETIME, TEMP_EXERCISEID BIGINT, STOCK_VALUE NUMERIC(18,9),    
    GROUP_NUMBER BIGINT, PARENT NVARCHAR(5)      
   )
     PRINT 'DDDD'
       
   INSERT INTO #TOTAL_NO_DAYS_ADJUSTEMENT_SHADOW    
   (    
    INSTRUMENT_ID, EMPLOYEE_ID, COUNTRY_ID, GRANTOPTIONID, TOT_DAYS, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE,     
    TEMP_EXERCISEID, STOCK_VALUE, GROUP_NUMBER, PARENT     
   )    
   SELECT     
    TPVTT.INSTRUMENT_ID, TPVTT.EMPLOYEE_ID, TPVTT.COUNTRY_ID, TPVTT.GRANTOPTIONID, TPVTT.TOT_DAYS, TPVTT.VESTING_DATE, TPVTT.GRANTLEGSERIALNO,     
    TPVTT.FROM_DATE, TPVTT.TO_DATE, TPVTT.TEMP_EXERCISEID, TPVTT.STOCK_VALUE, GMOEN_TDAYS.GroupNumber, GMOEN_TDAYS.PARENT    
   FROM    
    #TEMP_PERQ_VALUE_TAX_TYPE_1 AS TPVTT    
    INNER JOIN GrantMappingOnExNow AS GMOEN_TDAYS ON GMOEN_TDAYS.GrantOptionId = TPVTT.GRANTOPTIONID    
	ORDER BY ID
   --ORDER BY  GMOEN_TDAYS.GroupNumber, TPVTT.COUNTRY_ID ,TPVTT.FROM_DATE, TPVTT.TO_DATE ASC, TPVTT.TEMP_EXERCISEID, GMOEN_TDAYS.PARENT DESC      
     PRINT 'ffff'
	 INSERT INTO #TOTAL_NO_DAYS_ADJUSTEMENT    
   (    
    INSTRUMENT_ID, EMPLOYEE_ID, COUNTRY_ID, GRANTOPTIONID, TOT_DAYS, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE,     
    TEMP_EXERCISEID, STOCK_VALUE, GROUP_NUMBER, PARENT     
   )    
   SELECT     
    INSTRUMENT_ID, EMPLOYEE_ID, COUNTRY_ID, GRANTOPTIONID, TOT_DAYS, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE,     
    TEMP_EXERCISEID, STOCK_VALUE, GROUP_NUMBER, PARENT     
   FROM    
    #TOTAL_NO_DAYS_ADJUSTEMENT_SHADOW
   ORDER BY GROUP_NUMBER,FROM_DATE, TO_DATE,ID ASC,PARENT DESC
   --, GROUP_NUMBER, COUNTRY_ID ,FROM_DATE, TO_DATE ASC,  PARENT DESC        
       PRINT 'gggg'
	   
   INSERT INTO #TOTAL_NO_DAYS_ADJUSTED    
   (    
    ID, INSTRUMENT_ID, EMPLOYEE_ID, COUNTRY_ID, GRANTOPTIONID, TOT_DAYS, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE,     
    TEMP_EXERCISEID, STOCK_VALUE, GROUP_NUMBER, PARENT, ADJ_TOTAL_DAYS    
   )        
   SELECT TOP 1     
    TNDD.ID, TNDD.INSTRUMENT_ID, TNDD.EMPLOYEE_ID, TNDD.COUNTRY_ID, TNDD.GRANTOPTIONID, TNDD.TOT_DAYS, TNDD.VESTING_DATE, TNDD.GRANTLEGSERIALNO,     
    TNDD.FROM_DATE, TNDD.TO_DATE, TNDD.TEMP_EXERCISEID,    
        
     --TNDD.STOCK_VALUE,    
      CASE WHEN ((TNDD.STOCK_VALUE <= 0)  AND ((TNDD.ID % 2 ) <> 0))  THEN 0 ELSE TNDD.STOCK_VALUE END AS STOCK_VALUE,    
         
      TNDD.GROUP_NUMBER, TNDD.PARENT,    
    CASE WHEN ((TNDD.TOT_DAYS <= 00)  AND ((TNDD.ID % 2 ) <> 0)) THEN 0 ELSE TNDD.TOT_DAYS END AS PERQST_VALUE         
   FROM     
    #TOTAL_NO_DAYS_ADJUSTEMENT AS TNDD       
   UNION ALL    
   SELECT     
    TNDD.ID, TNDD.INSTRUMENT_ID, TNDD.EMPLOYEE_ID, TNDD.COUNTRY_ID, TNDD.GRANTOPTIONID, TNDD.TOT_DAYS, TNDD.VESTING_DATE, TNDD.GRANTLEGSERIALNO,     
    TNDD.FROM_DATE, TNDD.TO_DATE, TNDD.TEMP_EXERCISEID,     
        
    --TNDD.STOCK_VALUE,     
    CASE WHEN ((TNDD.STOCK_VALUE <= 0) AND (T_TNDD_SELF.STOCK_VALUE > 0) AND ((TNDD.ID % 2 ) <> 0)) THEN 0     
      WHEN ((TNDD.STOCK_VALUE > 0) AND (T_TNDD_SELF.STOCK_VALUE > 0)) THEN TNDD.STOCK_VALUE     
     ELSE T_TNDD_SELF.STOCK_VALUE + TNDD.STOCK_VALUE  END AS STOCK_VALUE,     
        
    TNDD.GROUP_NUMBER, TNDD.PARENT,    
    CASE WHEN ((TNDD.TOT_DAYS <= 0) AND (T_TNDD_SELF.TOT_DAYS > 0) AND ((TNDD.ID % 2 ) <> 0)) THEN 0     
      WHEN ((TNDD.TOT_DAYS > 0) AND (T_TNDD_SELF.TOT_DAYS > 0)) THEN TNDD.TOT_DAYS     
     ELSE T_TNDD_SELF.TOT_DAYS + TNDD.TOT_DAYS  END AS PERQ_VALUE        
   FROM     
    #TOTAL_NO_DAYS_ADJUSTEMENT AS TNDD    
    INNER JOIN #TOTAL_NO_DAYS_ADJUSTEMENT AS T_TNDD_SELF ON (T_TNDD_SELF.PARENT <> TNDD.PARENT) AND  (T_TNDD_SELF.ID = TNDD.ID - 1)    
       
        PRINT 'hhhh'
         
		
     UPDATE TPED SET     
     TPED.PARENT_NB =  TNDA.PARENT         
    FROM     
     #TEMP_PRE_EXERCISED_DETAILS AS TPED          
    INNER JOIN #TOTAL_NO_DAYS_ADJUSTEMENT AS TNDA ON TNDA.TEMP_EXERCISEID = TPED.ExerciseId   
      
  -- SELECT '==================#TOTAL_NO_DAYS_ADJUSTEMENT============================='    
       
  -- SELECT     
  --  INSTRUMENT_ID, EMPLOYEE_ID, COUNTRY_ID, GRANTOPTIONID, TOT_DAYS, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE,     
  --  TEMP_EXERCISEID, STOCK_VALUE, GROUP_NUMBER, PARENT     
  -- FROM    
  --  #TOTAL_NO_DAYS_ADJUSTEMENT    
       
  -- SELECT     
  --  ID, INSTRUMENT_ID, EMPLOYEE_ID, COUNTRY_ID, GRANTOPTIONID, TOT_DAYS, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE,     
  --  TEMP_EXERCISEID, STOCK_VALUE, GROUP_NUMBER, PARENT, ADJ_TOTAL_DAYS    
  -- FROM    
  --  #TOTAL_NO_DAYS_ADJUSTED        
      
      
      
  --   SELECT TOP 1     
  --  TNDD.ID, TNDD.INSTRUMENT_ID, TNDD.EMPLOYEE_ID, TNDD.COUNTRY_ID, TNDD.GRANTOPTIONID, TNDD.TOT_DAYS, TNDD.VESTING_DATE, TNDD.GRANTLEGSERIALNO,     
  --  TNDD.FROM_DATE, TNDD.TO_DATE, TNDD.TEMP_EXERCISEID,    
        
  --   --TNDD.STOCK_VALUE,    
  --    CASE WHEN ((TNDD.STOCK_VALUE <= 0)  AND ((TNDD.ID % 2 ) <> 0)) THEN 0 ELSE TNDD.STOCK_VALUE END AS STOCK_VALUE,    
         
  --    TNDD.GROUP_NUMBER, TNDD.PARENT,    
  --  CASE WHEN ((TNDD.TOT_DAYS <= 0)  AND ((TNDD.ID % 2 ) <> 0)) THEN 0 ELSE TNDD.TOT_DAYS END AS PERQST_VALUE         
  -- FROM     
  --  #TOTAL_NO_DAYS_ADJUSTEMENT AS TNDD       
  --UNION ALL   
  -- SELECT     
  --  TNDD.ID, TNDD.INSTRUMENT_ID, TNDD.EMPLOYEE_ID, TNDD.COUNTRY_ID, TNDD.GRANTOPTIONID, TNDD.TOT_DAYS, TNDD.VESTING_DATE, TNDD.GRANTLEGSERIALNO,     
  --  TNDD.FROM_DATE, TNDD.TO_DATE, TNDD.TEMP_EXERCISEID,     
        
  --  --TNDD.STOCK_VALUE,     
  --  CASE WHEN ((TNDD.STOCK_VALUE <= 0) AND (T_TNDD_SELF.STOCK_VALUE > 0) AND ((TNDD.ID % 2 ) <> 0)) THEN 0     
  --    WHEN ((TNDD.STOCK_VALUE > 0) AND (T_TNDD_SELF.STOCK_VALUE > 0)) THEN TNDD.STOCK_VALUE     
  --   ELSE T_TNDD_SELF.STOCK_VALUE + TNDD.STOCK_VALUE  END AS STOCK_VALUE,     
        
  --  TNDD.GROUP_NUMBER, TNDD.PARENT,    
  --  CASE WHEN ((TNDD.TOT_DAYS <= 0) AND (T_TNDD_SELF.TOT_DAYS > 0) AND ((TNDD.ID % 2 ) <> 0)) THEN 0     
  --    WHEN ((TNDD.TOT_DAYS > 0) AND (T_TNDD_SELF.TOT_DAYS > 0)) THEN TNDD.TOT_DAYS     
  --   ELSE T_TNDD_SELF.TOT_DAYS + TNDD.TOT_DAYS  END AS PERQ_VALUE        
  -- FROM     
  --  #TOTAL_NO_DAYS_ADJUSTEMENT AS TNDD    
  --  INNER JOIN #TOTAL_NO_DAYS_ADJUSTEMENT AS T_TNDD_SELF ON (T_TNDD_SELF.PARENT <> TNDD.PARENT) AND  (T_TNDD_SELF.ID = TNDD.ID - 1)    
       
  
        
  --  SELECT '==================#TOTAL_NO_DAYS_ADJUSTEMENT============================='    
    
     PRINT 'iiii'
    
    UPDATE PVTT_DAYS     
    SET PVTT_DAYS.TOT_DAYS =dbo.FN_ROUND_VALUE(TNDA.ADJ_TOTAL_DAYS, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal)  ,  
    PVTT_DAYS.STOCK_VALUE = TNDA.STOCK_VALUE   
    FROM     
    @PERQ_VALUE_TAX_TYPE_1 AS PVTT_DAYS    
    INNER JOIN #TOTAL_NO_DAYS_ADJUSTED AS TNDA ON (TNDA.GRANTLEGSERIALNO = PVTT_DAYS.GRANTLEGSERIALNO)     
     AND (TNDA.TEMP_EXERCISEID = PVTT_DAYS.TEMP_EXERCISEID) AND (TNDA.COUNTRY_ID = PVTT_DAYS.COUNTRY_ID)    
     AND (ISNULL(TNDA.FROM_DATE,'') = ISNULL(PVTT_DAYS.FROM_DATE,'')) AND (ISNULL(TNDA.TO_DATE,'') = ISNULL(PVTT_DAYS.TO_DATE,''))    
       
   --SELECT '***********@PERQ_VALUE_TAX_TYPE_1_ADJUSTED ----------------'      
   --SELECT * FROM @PERQ_VALUE_TAX_TYPE_1    
   --SELECT * FROM #TEMP_PERQ_TAX_ADJUSTED    
   --ELECT '***********PERQ_VALUE_TAX_TYPE_1_ADJUSTED ----------------'           
  END /* ******************************* */    
     PRINT 'nnnn'
  --- OUTPUT OF PERQUSITE TAX -----      
    IF EXISTS (SELECT * FROM SYS.TABLES WHERE name = 'TEMP_PERQUISITETAX_DETAILS')      
  BEGIN      
   DROP TABLE TEMP_PERQUISITETAX_DETAILS        
  END      
    PRINT 'uuuu'
  --SELECT '************** ALL ADJUSTED *****************'    
  --SELECT * FROM @PERQ_VALUE_TAX_TYPE_1    
  --SELECT * FROM @PERQ_VALUE_RESULT    
  --SELECT '************** ALL ADJUSTED *****************'    

  EXEC PROC_TENTATIVETAX_FORAUTOEXERCISE @TYPE_PERQ_TAX_AUTOEXERC = @PERQ_VALUE_TAX_TYPE_1, @TYPE_PERQ_AUTOEXERCISE = @PERQ_VALUE_RESULT     
    PRINT 'rrrrr'
  CREATE TABLE #TAX_CALCULATION     
  (     
   TAX_HEADING NVARCHAR(50), TAX_RATE FLOAT, RESIDENT_STATUS NVARCHAR(250), TAX_AMOUNT NUMERIC(18,6), Country NVARCHAR(250),    
   [STATE] NVARCHAR(250), BASISOFTAXATION NVARCHAR(250), FMV NVARCHAR(250), TOTAL_PERK_VALUE NUMERIC(18,6), COUNTRY_ID INT,     
   MIT_ID INT, EmployeeID VARCHAR(50), GRANTOPTIONID VARCHAR(100), VESTING_DATE DATETIME,    
   GRANTLEGSERIALNO BIGINT, FROM_DATE DATETIME, TO_DATE DATETIME, TAX_FLAG NCHAR(1), EXERCISE_ID BIGINT    
  )    

  PRINT 'EEEE'

  INSERT INTO #TAX_CALCULATION    
  (    
   TAX_HEADING, TAX_RATE, RESIDENT_STATUS, TAX_AMOUNT, Country, [STATE], BASISOFTAXATION, FMV, TOTAL_PERK_VALUE, COUNTRY_ID,     
   MIT_ID, EmployeeID, GRANTOPTIONID, VESTING_DATE, GRANTLEGSERIALNO, FROM_DATE, TO_DATE, EXERCISE_ID     
  )    
  SELECT     
   TGTD.TAX_HEADING, TGTD.TAX_RATE, TGTD.RESIDENT_STATUS, TGTD.TAX_AMOUNT, TGTD.Country, TGTD.[STATE],     
   TGTD.BASISOFTAXATION, TGTD.FMV, TGTD.TOTAL_PERK_VALUE, TGTD.COUNTRY_ID, TGTD.MIT_ID, TGTD.EmployeeID, TGTD.GRANTOPTIONID,     
   TGTD.VESTING_DATE, TGTD.GRANTLEGSERIALNO, TGTD.FROM_DATE, TGTD.TO_DATE, TGTD.TEMP_EXERCISEID      
  FROM     
   TEMP_GET_TAXDETAILS AS TGTD       
    
	 

  IF EXISTS (SELECT * FROM SYS.TABLES WHERE name = 'TEMP_GET_TAXDETAILS')      
  BEGIN      
   DROP TABLE TEMP_GET_TAXDETAILS        
  END      
        
 END       
     
 BEGIN /* UPDATE PERQ VALUE IN TEMP TABLE */    
     
	 
  UPDATE TPED SET     
   TPED.PerqstValue = dbo.FN_ROUND_VALUE(PVR.Total_Perk_Value, @RoundingParam_TaxableVal, @RoundupPlace_TaxableVal)       
  FROM     
   #TEMP_PRE_EXERCISED_DETAILS AS TPED    
  INNER JOIN @PERQ_VALUE_RESULT AS PVR ON (PVR.TEMP_EXERCISEID = TPED.ExerciseId) AND (PVR.GRANTLEGSERIALNO = TPED.ID)    
    
  /* UPDATE PERQ VALUE IN TEMP TABLE */    
  CREATE TABLE #TEMP_TAX_AMOUNT_SUM     
  (    
   EXERCISE_ID BIGINT, TAX_AMOUNT NUMERIC(20,9), TOTAL_PERK_VALUE NUMERIC(20,9)    
  )    
  INSERT INTO #TEMP_TAX_AMOUNT_SUM     
  (    
   EXERCISE_ID, TAX_AMOUNT, TOTAL_PERK_VALUE    
  )    
  SELECT EXERCISE_ID, SUM(TAX_AMOUNT), SUM(TOTAL_PERK_VALUE) FROM #TAX_CALCULATION GROUP BY EXERCISE_ID    
      
  UPDATE TPED SET     
   TPED.PerqstPayable = TTAS.TAX_AMOUNT
  FROM     
   #TEMP_PRE_EXERCISED_DETAILS AS TPED    
   INNER JOIN #TEMP_TAX_AMOUNT_SUM AS TTAS ON TTAS.EXERCISE_ID = TPED.ExerciseId    
 END    
         
 BEGIN /* ===== SAR CALCULATION ===== */    
     
  DECLARE @SAR_SETTLEMENT_PRICE dbo.TYPE_SAR_SETTLEMENT_PRICE     
      
  INSERT INTO @SAR_SETTLEMENT_PRICE     
  SELECT     
   TAED.MIT_ID, TAED.LoginID, TAED.GrantDate, TAED.FinalVestingDate, TAED.EXERCISE_DATE, TAED.ExercisePrice,     
   TAED.SchemeId, TAED.GrantOptionId    
  FROM     
   #TEMP_PRE_EXERCISED_DETAILS AS TAED    
   INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = TAED.MIT_ID    
  WHERE     
   (MIT.IS_SAR_ENABLED = 1) AND (MIT.IS_ACTIVE = 1)    
        
  EXEC PROC_GET_SAR_SETTELEMENT_PRICCE @EMPLOYEE_SAR_DETAILS = @SAR_SETTLEMENT_PRICE    
      
	  
  /* UPDATE SAR SETTLEMENT PRICES */    
  UPDATE TAED SET     
   TAED.SettlmentPrice =   TSSFD.SAR_SETTLEMENT_VALUE  
  FROM     
   #TEMP_PRE_EXERCISED_DETAILS AS TAED    
   INNER JOIN TEMP_SAR_SETTLEMENT_FINAL_DETAILS AS TSSFD ON TSSFD.INSTRUMENT_ID = TAED.MIT_ID     
  WHERE     
   (TSSFD.EMPLOYEE_ID = TAED.EmployeeId) AND (CONVERT(DATE, TSSFD.EXERCISE_DATE) = CONVERT(DATE, TAED.EXERCISE_DATE)) AND     
   (TSSFD.GRANTOPTIONID = TAED.GrantOptionId) AND (CONVERT(DATE, TSSFD.GRANTDATE) = CONVERT(DATE, TAED.GrantDate)) AND     
   (CONVERT(DATE, TSSFD.VESTINGDATE) = CONVERT(DATE, TAED.FinalVestingDate))     
      
  DECLARE @SAR_STOCK_APPRECIATION dbo.TYPE_SAR_STOCK_APPRECIATION     
      
  INSERT INTO @SAR_STOCK_APPRECIATION     
  SELECT     
   TAED.MIT_ID, TAED.EmployeeId, TAED.ExercisePrice, TAED.EXERCISABLE_QUANTITY, TAED.A_ExercisedQuantity,     
   TAED.EXERCISE_DATE, TAED.GrantOptionId, TAED.GrantDate, TAED.FinalVestingDate ,TAED.ExerciseId   
  FROM     
   #TEMP_PRE_EXERCISED_DETAILS AS TAED    
   INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = TAED.MIT_ID    
  WHERE (MIT.IS_SAR_ENABLED = 1) AND (MIT.IS_ACTIVE = 1)    
      
   
  EXEC PROC_GET_SAR_STOCK_APPRECIATION @EMPLOYEE_SAR_APPRECIATION = @SAR_STOCK_APPRECIATION      
 
  /* UPDATE SAR STOCK APPRECIATION PRICES */  
 

  UPDATE TAED SET                                         
   TAED.StockApprValue = TSAD.STOCK_APPRECIATION_VALUE 
  FROM   
   #TEMP_PRE_EXERCISED_DETAILS AS TAED  
   INNER JOIN TEMP_STOCK_APPRECIATION_DETAILS AS TSAD ON TSAD.INSTRUMENT_ID = TAED.MIT_ID   
   WHERE     
   (TSAD.EMPLOYEE_ID = TAED.EmployeeId) AND (CONVERT(DATE, TSAD.EXERCISE_DATE) = CONVERT(DATE, TAED.EXERCISE_DATE)) AND     
   (TSAD.GRANTOPTIONID = TAED.GrantOptionId) AND (CONVERT(DATE, TSAD.GRANTDATE) = CONVERT(DATE, TAED.GrantDate)) AND     
   (CONVERT(DATE, TSAD.VESTINGDATE) = CONVERT(DATE, TAED.FinalVestingDate))   AND TSAD.TEMP_EXERCISEID = TAED.ExerciseId      
  
  /* Ajustment for SAR STOCK APPRECIATION PRICES */  
  /*Adjust appreciation value*/
  /* For debug only
  SELECT 'Adjusted value StockApprValue ', T.* FROM 
		(
		SELECT TOP 1     TAED.ExerciseId, TAED.PARENT,     
    
     CASE WHEN (TAED.StockApprValue <= 0) THEN 0 ELSE TAED.StockApprValue END AS STOCK_VALUE         
    FROM     
     #TEMP_PRE_EXERCISED_DETAILS AS TAED       
    UNION ALL    
    SELECT     
       TAED.ExerciseId, TAED.PARENT,           
		CASE WHEN ((TAED.StockApprValue <= 0) AND (T_ACTUAL_SELF.StockApprValue > 0) AND ((TAED.PK_ID % 2 ) <> 0)) THEN 0     
        WHEN ((TAED.StockApprValue > 0) AND (T_ACTUAL_SELF.StockApprValue > 0)) THEN TAED.StockApprValue     
       ELSE T_ACTUAL_SELF.StockApprValue + TAED.StockApprValue  END AS StockApprValue        
    FROM     
    #TEMP_PRE_EXERCISED_DETAILS AS TAED    
	   INNER JOIN #TEMP_PRE_EXERCISED_DETAILS AS T_ACTUAL_SELF   
	   ON (T_ACTUAL_SELF.PARENT_NB <> TAED.PARENT_NB)  
	   AND    
		(T_ACTUAL_SELF.PK_ID = TAED.PK_ID - 1) 
		
		) as T

		*/
		
		
	UPDATE TED
	SET TED.StockApprValue=T.STOCK_VALUE
	FROM 
		#TEMP_PRE_EXERCISED_DETAILS TED INNER JOIN (
		SELECT TOP 1     TAED.ExerciseId, TAED.PARENT,     
    
     CASE WHEN (TAED.StockApprValue <= 0) THEN 0 ELSE TAED.StockApprValue END AS STOCK_VALUE         
    FROM     
     #TEMP_PRE_EXERCISED_DETAILS AS TAED       
    UNION ALL    
    SELECT     
       TAED.ExerciseId, TAED.PARENT,           
		CASE WHEN ((TAED.StockApprValue <= 0) AND (T_ACTUAL_SELF.StockApprValue > 0) AND ((TAED.PK_ID % 2 ) <> 0)) THEN 0     
        WHEN ((TAED.StockApprValue > 0) AND (T_ACTUAL_SELF.StockApprValue > 0)) THEN TAED.StockApprValue     
       ELSE T_ACTUAL_SELF.StockApprValue + TAED.StockApprValue  END AS StockApprValue        
    FROM     
    #TEMP_PRE_EXERCISED_DETAILS AS TAED    
	   INNER JOIN #TEMP_PRE_EXERCISED_DETAILS AS T_ACTUAL_SELF   
	   ON (T_ACTUAL_SELF.PARENT_NB <> TAED.PARENT_NB)  
	   AND    
		(T_ACTUAL_SELF.PK_ID = TAED.PK_ID - 1) 
		
		) as T ON TED.ExerciseId=T.ExerciseId
  
     DECLARE @TYPE_CASHPAYOUT_VALUE dbo.TYPE_CASHPAYOUT_VALUE
	 DECLARE @CASHPAYOUT NUMERIC(18, 9) 
	 INSERT INTO @TYPE_CASHPAYOUT_VALUE     
		SELECT     
			TAED.MIT_ID, TAED.LoginID, TAED.SettlmentPrice,TAED.ExercisePrice,TAED.SchemeId,TAED.FMVPrice,TAED.FaceVaue,TAED.A_ExercisedQuantity,TAED.ShareAppriciation,
			TAED.GrantOptionId,TAED.GrantLegId,TAED.EXERCISE_DATE,TAED.ExerciseId   	    
		FROM     
		#TEMP_PRE_EXERCISED_DETAILS AS TAED    
			INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = TAED.MIT_ID    
		 WHERE     
		(MIT.IS_SAR_ENABLED = 1) AND (MIT.IS_ACTIVE = 1) 

	/* CASH PAYOUT VALUE */	
	
	CREATE TABLE #TEMP_FINALCASHPAYOUTDETAILS     
	(     
	    ID INT IDENTITY(1,1) NOT NULL,MIT_ID BIGINT, EMPLOYEE_ID  VARCHAR(50), EXERCISE_DATE  DATETIME,CASHPAYOUT_VALUE  NUMERIC(18, 9) NULL, SCHEME_ID NVARCHAR(100), GRANTOPTIONID NVARCHAR(100),TEMP_EXERCISEID BIGINT NULL
	)
	
	INSERT INTO #TEMP_FINALCASHPAYOUTDETAILS
	(
		MIT_ID , EMPLOYEE_ID , EXERCISE_DATE  ,CASHPAYOUT_VALUE  , SCHEME_ID , GRANTOPTIONID,TEMP_EXERCISEID 
	)
	EXEC GET_CASHPAYOUT_VALUE @EMPLOYEE_DETAILS =@TYPE_CASHPAYOUT_VALUE

	/* Adjustment Stock appreciation End*/
		  
	  UPDATE TAED SET    
	   TAED.CashPayoutValue =     
	   CASE WHEN TAED.MIT_ID = 6 THEN           
		CASE WHEN (SCH.ROUNDING_UP IS NULL and SCH.FRACTION_PAID_CASH IS NULL)  THEN 0 
		WHEN (SCH.FRACTION_PAID_CASH IS NULL)  THEN Null     
		  WHEN (SCH.ROUNDING_UP = 1) THEN 0 WHEN SCH.ROUNDING_UP = 0  THEN     
		 CASE WHEN SCH.FRACTION_PAID_CASH = 1 THEN      
		   FCPD.CASHPAYOUT_VALUE
			--(ISNULL(TAED.SettlmentPrice,0) - ISNULL(TAED.ExercisePrice,0)) * (ISNULL(TAED.StockApprValue,0) - ISNULL(FLOOR(TAED.ShareAppriciation),0))           
		  ELSE     
		   0     
		 END     
		END        
	   ELSE    
		ISNULL(TAED.StockApprValue,0) - ISNULL(TAED.PerqstPayable,0)    
	   END   ,
	   TAED.ShareAppriciation =  TAED.StockApprValue     
	 FROM     
	   #TEMP_PRE_EXERCISED_DETAILS AS TAED    
	   INNER JOIN MST_INSTRUMENT_TYPE AS MIT ON MIT.MIT_ID = TAED.MIT_ID    
	   INNER JOIN  Scheme AS SCH ON SCH.SchemeId = TAED.SchemeId 
	   INNER JOIN #TEMP_FINALCASHPAYOUTDETAILS AS FCPD ON FCPD.MIT_ID=TAED.MIT_ID 
	   AND FCPD.SCHEME_ID=TAED.SchemeId 
	   AND FCPD.TEMP_EXERCISEID=Taed.ExerciseId
	   AND FCPD.GRANTOPTIONID=TAED.GrantOptionId
	  WHERE     
	   (MIT.IS_SAR_ENABLED = 1) AND (MIT.IS_ACTIVE = 1)    
  
      
  IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_SAR_SETTLEMENT_FINAL_DETAILS')    
  BEGIN    
   DROP TABLE TEMP_SAR_SETTLEMENT_FINAL_DETAILS    
  END    
      
  IF EXISTS (SELECT * FROM SYS.tables WHERE name = 'TEMP_STOCK_APPRECIATION_DETAILS')    
  BEGIN    
   DROP TABLE TEMP_STOCK_APPRECIATION_DETAILS    
  END    
 END    
     
       
 SELECT    
  ExerciseId, ID, ApprovalId, SchemeId, GrantApprovalId, GrantRegistrationId, GrantOptionId, GrantLegId, [Counter],     
  VestingType, GrantedQuantity, SplitQuantity, BonusSplitQuantity, Parent, FinalVestingDate, FinalExpirayDate,     
  ExercisePrice, GrantDate, LockInPeriodStartsFrom, LockInPeriod, OptionRatioMultiplier, OptionRatioDivisor, SchemeTitle,     
  IsPaymentModeRequired, PaymentModeEffectiveDate, MIT_ID, OptionTimePercentage,     
  EmployeeId, LoginID, ResidentialStatus, TAX_IDENTIFIER_COUNTRY, A_GrantedQuantity, A_SplitQuantity, A_BonusSplitQuantity,     
  A_ExercisedQuantity, A_SplitExercisedQuantity, A_BonusSplitExercisedQuantity, A_CancelledQuantity,     
  A_SplitCancelledQuantity, A_BonusSplitCancelledQuantity, A_UnapprovedExerciseQuantity, T_LapsedQuantity, A_ExercisableQuantity,     
  EXERCISABLE_QUANTITY, AEC_ID, EXERCISE_ON,     
  (CASE WHEN (FMVPrice < 0) THEN 0 ELSE dbo.FN_ROUND_VALUE(FMVPrice, @RoundingParam_FMV, @RoundupPlace_FMV) END) AS FMVPrice,     
  (CASE WHEN (PerqstValue < 0) THEN 0 ELSE PerqstValue END) AS PerqstValue,     
  (CASE WHEN (PerqstPayable < 0) THEN 0 ELSE PerqstPayable END) AS PerqstPayable, Perq_Tax_rate, TentativeFMVPrice, TentativePerqstValue, TentativePerqstPayable,     
  TaxFlag, FaceVaue, SARFMV, ExType, Cash, PaymentMode, PerPayModeSelected, EXERCISE_DATE 
  AS EXERCISE_DATE,    
  (CASE WHEN (StockApprValue < 0) THEN 0 ELSE StockApprValue END) AS StockApprValue, TentativeStockApprValue,     
  (CASE WHEN (CashPayoutValue < 0) THEN 0 ELSE CashPayoutValue END) AS CashPayoutValue , TentativeCashPayoutValue,     
  (CASE WHEN (SettlmentPrice < 0 ) THEN 0 ELSE SettlmentPrice END) AS SettlmentPrice, TentativeSettlmentPrice,    
  (CASE WHEN (ShareAppriciation < 0) THEN 0 ELSE ShareAppriciation END) AS ShareAppriciation, TentativeShareAppriciation, EVENT_OF_INCIDENCE,    
 -- (CASE WHEN ((ExercisePrice * A_ExercisedQuantity) < 0) THEN 0 ELSE (ExercisePrice * A_ExercisedQuantity) END) AS ExerciseAmount, 
  (CASE WHEN ((ExercisePrice * A_ExercisedQuantity) < 0) THEN 0 WHEN MIT_ID = 6 THEN (ISNULL((ShareAppriciation),0) * FaceVaue ) ELSE (ExercisePrice * A_ExercisedQuantity) END) AS ExerciseAmount,
  (CASE WHEN (((@CLOSE_PRICE * A_ExercisedQuantity)) - (ExercisePrice * A_ExercisedQuantity) - PerqstPayable) < 0 THEN 0 ELSE (((@CLOSE_PRICE * A_ExercisedQuantity)) - (ExercisePrice * A_ExercisedQuantity) - PerqstPayable) END) AS NotionalGain,    
  (CASE WHEN (EXERCISE_AMOUNT_PAYABLE < 0) THEN 0 ELSE EXERCISE_AMOUNT_PAYABLE END) AS EXERCISE_AMOUNT_PAYABLE   ,
  ISNULL(TrustType,'') AS TrustType  

 FROM     
  #TEMP_PRE_EXERCISED_DETAILS    
    
     
 DROP TABLE #TEMP_PERQ_TAX_ADJUSTEMENT    
 DROP TABLE #TEMP_PERQ_TAX_ADJUSTED    
     
 DROP TABLE #TEMP_PERQ_VALUE_TAX_TYPE_1    
 DROP TABLE #TOTAL_NO_DAYS_ADJUSTEMENT    
 DROP TABLE #TOTAL_NO_DAYS_ADJUSTED 
 DROP TABLE #TEMP_PERQ_TAX_ADJUSTEMENT_SHADOW
 DROP TABLE #TOTAL_NO_DAYS_ADJUSTEMENT_SHADOW   
 DROP TABLE #TEMP_TAX_AMOUNT_SUM    
 DROP TABLE #TEMP_PRE_EXERCISED_DETAILS     
     
 SET NOCOUNT OFF;    
END    
GO
