/****** Object:  StoredProcedure [dbo].[PROC_GET_COMP_INSTRUMENT_LIST]    Script Date: 7/6/2022 1:40:54 PM ******/
DROP PROCEDURE IF EXISTS [dbo].[PROC_GET_COMP_INSTRUMENT_LIST]
GO
/****** Object:  StoredProcedure [dbo].[PROC_GET_COMP_INSTRUMENT_LIST]    Script Date: 7/6/2022 1:40:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PROC_GET_COMP_INSTRUMENT_LIST]
AS
BEGIN

	SET NOCOUNT ON;			

	SELECT 
		MIT.MIT_ID,
		(CASE WHEN ISNull(CIM.INS_DISPLY_NAME,'') != '' THEN 
			CIM.INS_DISPLY_NAME
		ELSE 
			MIT.INSTRUMENT_NAME
		END) AS INSTRUMENT_NAME, ISNULL(EXCEPT_FOR_TAXRATE_VAL,0) AS EXCEPT_FOR_TAXRATE_VAL,
		CONVERT(BIT, ISNULL(CIM.IS_TAXRATE_ACTIVE,0)) AS IS_TAXRATE_ACTIVE, 
		CONVERT(BIT,ISNULL(CIM.IS_TAXRATEEXCEPTION_ACTIVE,0)) AS IS_TAXRATEEXCEPTION_ACTIVE,
		ISNULL(PAYMENTMODE_BASED_ON,'') AS PAYMENTMODE_BASED_ON
		,COALESCE(NULLIF(EXCEPT_FOR_TAXRATE,''),'R') AS EXCEPT_FOR_TAXRATE,ISNULL(CIM.IS_PAYMENTWINDOW_ENABLED,'P') AS IS_PAYMENTWINDOW_ENABLED,CIM.NUMBEROFDAYS,CIM.PAYMENT_CLOSURE_MSG,RTRIM(EXCEPT_FOR_TAXRATE_EMPLOYEE) AS EXCEPT_FOR_TAXRATE_EMPLOYEE,TAXCALCULATION_BASEDON
		,ISNULL(IsApplicableForCashless,0) AS IsApplicableForCashless, IsActivatedAccount
	FROM MST_INSTRUMENT_TYPE MIT  
	INNER JOIN COMPANY_INSTRUMENT_MAPPING CIM ON MIT.MIT_ID=CIM.MIT_ID  
	WHERE  MIT.IS_ACTIVE = 1 AND  IS_ENABLED = 1

	SET NOCOUNT OFF;	
END
GO
